{% extends 'series/series_base.html' %}

{% load bootstrap %}
{% load automarkup %}
{% load user_groups %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">
    <a href="{{ collection.series.get_absolute_url }}">{{ collection.series.name }}</a>
  </span>
  <span class="breadcrumb-item">{{ collection.name }}</span>
{% endblock %}

{% block meta_description %}{{ block.super }} Collection detail {{ collection.series.name }} {{ collection.name }}{% endblock meta_description %}
{% block pagetitle %}: Collection detail{% endblock pagetitle %}

{% block content %}

  {% is_ed_admin request.user as is_ed_admin %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">
	<a href="{{ collection.series.get_absolute_url }}">{{ collection.series.name }}</a>
	{% if collection.series.container_journals %}
	  <br>
	  <small><em>
	    <ul class="list list-inline mt-2 mb-0">
	      <li class="list-inline-item mx-0">a series contained in</li>
	      {% for container in collection.series.container_journals.all %}
		<li class="list-inline-item">
		  <a href="{{ container.get_absolute_url }}">{{ container }}</a>
		</li>
	      {% endfor %}
	    </ul>
	  </em></small>
	{% endif %}
      </h1>
      {% if is_ed_admin %}
	<div class="border border-danger mt-1 p-1">
	  <h3>Editorial Administration</h3>
	  <ul>
	    <li>Expected authors for this Collection
	      <div class="row">
		<div class="col-md-6">
		  <ul>
		    {% for author in collection.expected_authors.all %}
		      <li>{{ author }}&emsp;
			<a href="{% url 'series:collection_remove_expected_author' slug=collection.slug profile_id=author.id %}"><span class="text-danger">{% include 'bi/x-square-fill.html' %}</span></a>
		      </li>
		    {% empty %}
		      <li>None yet defined</li>
		    {% endfor %}
		  </ul>
		</div>
		<div class="col-md-6">
		  <h4>Add an expected author</h4>
		  <form action="{% url 'series:collection_add_expected_author' slug=collection.slug %}" method="post">
		    {% csrf_token %}
		    {{ expected_author_form }}
		    <input type="submit" class="btn btn-sm btn-primary text-white m-1 p-1" value="Add"/>
		  </form>
		</div>
	      </div>
	    </li>
	  </ul>
	</div>
      {% endif %}
      <h2 class="highlight">
	Collection&emsp;{{ collection.name }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-2">
	{{ collection.description|automarkup }}
      </div>
      {% if collection.event_start_date and collection.event_end_date %}
	<p class="p-2">
	  Dates: from {{ collection.event_start_date }} to {{ collection.event_end_date }}.
	</p>
      {% endif %}
      {% if collection.image %}
	<div class="p-2">
	  <img class="d-flex me-3" alt="image" src="{{ collection.image.url }}">
	</div>
      {% endif %}
    </div>
  </div>

  {% with active_submissions=collection.submissions.actively_refereeing %}
    {% if active_submissions|length > 0 %}
      <div class="row">
	<div class="col-12">
	  <h3 class="highlight">Submissions to this Collection</h3>
	  <ul>
	    {% for submission in active_submissions.accepted %}
	      <li><strong class="text-success">accepted:</strong>&nbsp;
		<a href="{{ submission.get_absolute_url }}" target="_blank">{{ submission }}</a>
	      </li>
	    {% endfor %}
	    {% for submission in active_submissions.revision_requested %}
	      <li><strong class="text-primary">awaiting resubmission:</strong>&nbsp;
		<a href="{{ submission.get_absolute_url }}" target="_blank">{{ submission }}</a>
	      </li>
	    {% endfor %}
	    {% for submission in active_submissions.actively_refereeing %}
	      <li><strong class="text-warning">under refereeing:</strong>&nbsp;
		<a href="{{ submission.get_absolute_url }}" target="_blank">{{ submission }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Publications in this Collection</h3>
      <ul>
	{% for publication in collection.publications.all %}
	  <li><a href="{{ publication.get_absolute_url }}">{{ publication }}</a></li>
	{% empty %}
	  <li>No Publication has yet been associated to this Collection</li>
	{% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  {{ expected_author_form.media }}
{% endblock %}
