{% load automarkup %}

<p>Dear {{ comment.author.profile.get_title_display }} {{ comment.author.user.last_name }},</p>
<p>
  The {% if comment.is_author_reply %}Author Reply{% else %}Comment{% endif %} you have submitted, concerning
  <br/>
  {{ comment.core_content_object.title }} by {% if comment.core_content_object.author_list %}{{ comment.core_content_object.author_list }}{% elif comment.core_content_object.author %}{{ comment.core_content_object.author }}{% endif %} (<a href="https://{{ domain }}{{ comment.get_absolute_url }}">see on SciPost.org</a>)
  <br/>
  has been rejected for the following reason: {{ comment.get_status_display }}.
</p>
<p>
  We copy it below for your convenience.
</p>
<p>
  Thank you for your contribution,<br><br>
  The SciPost Team.
</p>

{% if email_response %}
  <p>Further explanations: {{ email_response }}</p>
{% endif %}

<p>
  <br>
  Comment:
  <br>
  {% automarkup comment.comment_text %}
</p>

{% include 'email/_footer.html' %}
