{% load automarkup %}

<p>Dear {{ comment.author.profile.formal_name }},</p>

<p>
  We hereby confirm reception of your {% if comment.is_author_reply %}Author Reply{% else %}Comment{% endif %}, concerning
  <br/>
  {{ comment.core_content_object.title }}
  {% if comment.core_content_object.author_list %}
    <br>
    by {{ comment.core_content_object.author_list }}.
  {% elif comment.core_content_object.author %}
    <br>
    by {{ comment.core_content_object.author }}.
  {% endif %}
</p>

<p>
  We copy it below for your convenience.
  <br>
  Your {% if comment.is_author_reply %}Author Reply{% else %}Comment{% endif %} will be made visible after vetting by the editorial team, at which point you will receive an email update from us.
</p>

<p>
  Thank you for your contribution,<br><br>
  The SciPost Team.
</p>

<p>
  Comment:
  <br>
  {% automarkup comment.comment_text %}
</p>

{% include 'email/_footer.html' %}
