<div class="d-flex flex-column gap-1">
  <p class="d-flex flex-wrap gap-1 align-items-center mb-0">
    <a href="{% url 'journals:publications' %}?field={{ publication.acad_field.slug }}" class="badge border border-2 border-secondary text-dark">{{ publication.acad_field }}</a>
    {% for specialty in publication.specialties.all %}
      <a href="{% url 'journals:publications' %}?specialty={{ specialty.slug }}" class="badge bg-light text-muted">{{ specialty }}</a>
      {% if not forloop.last %}&bullet;{% endif %}
    {% endfor %}
  </p>
  <h3 class="mb-0"><a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a></h3>
  <p class="mb-0">by {{ publication.author_list }}</p>
  <div class="text-muted mb-0 d-flex flex-wrap gap-1 align-items-center">
    <span>{{ publication.citation }}</span>
    &middot; 
    <span>published {{ publication.publication_date|date:'j F Y' }}</span>
  </div>
  {% for collection in publication.collections.all %}
    <p class="my-1"><em>Part of the <a href="{{ collection.get_absolute_url }}">{{ collection }}</a> Collection in the <a href="{{ collection.series.get_absolute_url }}">{{ collection.series }}</a> Series.</em></p>
  {% endfor %}
</div>
