{% extends 'scipost/base.html' %}

{% block pagetitle %}: add author to publication{% endblock pagetitle %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
        <a href="{{publication.get_absolute_url}}" class="breadcrumb-item">{{publication.citation}}</a>
        <span class="breadcrumb-item active">Add author to publication</span>

      </nav>
    </div>
  </div>
{% endblock %}

{% load scipost_extras %}
{% load bootstrap %}

{% block content %}

  <h1 class="highlight">Add author to publication</h1>
  {% include 'journals/_publication_li_content.html' with publication=publication %}
  <br>


  <div class="row">
    <div class="col-12">
      <h3>Current list of authors</h3>
      <ul>
        {% for author in publication.authors.all %}
          <li>
            {% if author.is_registered %}
              <a href="{{ author.profile.contributor.get_absolute_url }}">{{ author.profile.contributor }}</a>
            {% else %}
              <a href="{{ author.profile }}">{{ author.profile }}</a>
            {% endif %}
          </li>
        {% empty %}
          <li>No authors known.</li>
        {% endfor %}
      </ul>

      <br>
      <h2 class="highlight">Add another author</h2>

      <div class="row">
	<div class="col-md-6 col-lg-6">
	  <form action="{% url 'journals:add_author' doi_label=publication.doi_label %}" method="post">
	    {% csrf_token %}
            {{ form|bootstrap }}
            <input class="btn btn-primary" type="submit" value="Add this author">
	  </form>
	</div>
	<div class="col-md-6 col-lg-6">
	  <h3>Not found?</h3>
	  <p>Then you can <a href="{% url 'profiles:profile_create' %}" target="_blank">add the required Profile</a> and come back to this page.</p>
	</div>
      </div>
    </div>
  </div>

  <p>Return to the <a href="{{publication.get_absolute_url}}">publication's page</a> or to the <a href="{% url 'journals:manage_metadata' %}">general metadata management page</a>.</p>


{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock footer_script %}
