<table class = "ms-4" id="add_author_list">
  <tr>
    <th> </th>
    <th class="ps-3"> # </th>
    <th class="ps-2"> Author </th>
    <th class="ps-4"> Profile </th>
  </tr>
  {% for author in author_list %}
  <tr>
    <td> <input type="radio" name="selected_author_id" value="{{ forloop.counter }}" form = "add_author_form" id="{{ forloop.counter }}" {% if forloop.counter == selected_author_id %}checked{% endif %}> </td>
    <td class="ps-3"><label for="{{ forloop.counter }}">{{ forloop.counter }}.</label></td>
    <td class="ps-2"> <label for="{{ forloop.counter }}">
      {{ author.tex_name }}
      <sup> {{author.affiliations|join:", "}} </sup> </label>
    </td>
    <td class="ps-4">
      {% if not author.profile %}
        {% if author.other_with_same_name > 1 %}
          <span class="badge bg-danger text-white"
                title="There are potentially {{author.other_with_same_name}} profiles matching this author."
                data-bs-html="true"
                data-bs-toggle="tooltip"
          >{% include "bi/people-fill.html" %}</span>
        {% else %}
          <a class="badge bg-danger text-white"
            href="{% url 'profiles:profile_create' %}?first_name={{author.first_name_guess}}&last_name={{author.last_name_guess}}"
            target="_blank"
            hx-prompt="Enter a string"
            hx-confirm="Are you sure?"
            > Create a profile </a>
        {% endif %}

      {% else %}
        {% if author.profile.contributor %}
          <a href="{{ author.profile.contributor.get_absolute_url }}">{{ author.profile.full_name }}</a>
        {% else %}
          <a href="{{ author.profile.get_absolute_url }}">{{ author.profile.full_name }}</a>
        {% endif %}
        
        {% if author.has_name_warning %}
          <span class="badge bg-warning text-dark"
                title="The name in the tex file is different from the name in the profile."
                data-bs-html="true"
                data-bs-toggle="tooltip"
          >!</span>
        {% endif %}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>