{% extends 'scipost/base.html' %}

{% block pagetitle %}
  : Author Affiliations
{% endblock pagetitle %}

{% load bootstrap %}
{% load common_extras %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
        <a href="{% url 'journals:manage_metadata' %}" class="breadcrumb-item">Administration</a>
        <span class="breadcrumb-item active">Author Affiliations</span>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}

  <h1 class="highlight">
    Author affiliations for <a href="{{ publication.get_absolute_url }}">{{ publication.doi_label }}</a>
  </h1>
  <br />
  <div>
    <p>
      Can't find it in the selector? <a href="{% url 'organizations:organization_create' %}" target="_blank">Add a new organization to our database</a> (opens in new window)
    </p>
  </div>

  <div class="position-relative">

    <form class="d-flex flex-row gap-2 p-2 position-sticky top-0 bg-white"
          hx-post="{% url 'journals:author_affiliations' doi_label=publication.doi_label %}"
          id="add_affiliation_form"
          hx-swap="outerHTML">
      <input name="add"
             class="btn btn-primary"
             type="submit"
             value="Add Organization"
             form="add_affiliation_form" />
      {{ form|bootstrap_inline }}
    </form>

    <h3>List of affiliations:</h3>
    <form action="{% url 'journals:author_affiliations' doi_label=publication.doi_label %}"
          id="submit_affiliation_form"
          method="POST">
      {% csrf_token %}
      <table class="table mb-4" id="author_affiliations_list">
        <tr>
          <th></th>
          <th>#</th>
          <th>Affiliation Text</th>
          <th>Organization</th>
        </tr>

        {% for identifier, text, organization in affiliations %}
          <tr class="align-middle">
            <td>
              <input class="me-2" type="radio" name="checked_row_id" value="{{ identifier }}" form = "add_affiliation_form" id="{{ identifier }}" 
                {% if identifier == checked_row_id %}checked{% endif %}
                 />
              </td>
              <td>
                <label for="{{ identifier }}">{{ identifier }}.</label>
              </td>
              <td>
                <label class="w-100" for="{{ identifier }}">{{ text }}</label>
              </td>
              {% include "journals/author_affiliations_orgcell.html" with checked_row_id=identifier organization=organization %}
            </tr>
          {% endfor %}


        </table>
        <input name="submit"
               class="btn btn-primary"
               type="submit"
               value="Submit"
               form="submit_affiliation_form" />
      </form>

    </div>

  {% endblock %}



  {% block footer_script %}
    {{ block.super }}
    {{ form.media }}
  {% endblock footer_script %}
