{% extends 'scipost/base.html' %}

{% block pagetitle %}
  : Create citation list metadata
{% endblock pagetitle %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
        <a href="{% url 'journals:manage_metadata' %}" class="breadcrumb-item">Administration</a>
        <span class="breadcrumb-item active">Create citation list metadata</span>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}

  <h1 class="highlight d-flex justify-content-between align-items-center">
    <span>Create citation list metadata page for <a href="{{ publication.get_absolute_url }}">{{ publication.doi_label }}</a></span>
    <a class="fs-6 btn-link" href="{% url 'journals:manage_metadata' %}">Back to Admin</a>
  </h1>

  <div id="paste-bibtex-form"
       hx-get="{% url "journals:_hx_citation_list_bibitems_form" doi_label=publication.doi_label %}"
       hx-trigger="load once"></div>

  <h3 class="mt-4">Current citation list metadata:</h3>
 
  <table class="table table-sm align-middle">

    {% for citation in publication.metadata.citation_list %}
      {% with index=forloop.counter|add:-1 %}
        {% include "journals/_hx_citation_list_item.html" %}
      {% endwith %}
    {% endfor %}

    <tr>
      <td colspan="20" class="p-1 bg-opacity-10 bg-info text-center">
        <button class="btn btn-link"
                hx-target="closest tr"
                hx-swap="beforebegin"
                hx-get="{% url "journals:_hx_citation_list_item_form" doi_label=publication.doi_label %}">
          <span class="me-1">{% include "bi/plus-square-fill.html" %}</span>
          Add Item
        </button>
      </td>
    </tr>

  </table>

{% endblock %}
