{% extends 'scipost/base.html' %}

{% block pagetitle %}: harvest cited-by links{% endblock pagetitle %}

{% block content %}


  <div class="row">
    <div class="col-12">
      <h1>Cited-by links</h1>

      {% if errormessage %}
	<h2 style="color: red;">{{ errormessage }}</h2>
      {% endif %}

      <h3>Citations</h3>
      <div class="p-2">
	{% for cit in publication.citedby %}
          {{ cit }}
	{% endfor %}
      </div>

      <h3>Return to:</h3>
      <ul>
      	<li><a href="{{publication.get_absolute_url}}">the publication's page</a></li>
      	<li><a href="{% url 'journals:manage_metadata' %}">the metadata management page</a></li>
      </ul>
    </div>
  </div>


{% endblock content %}
