{% extends 'scipost/_personal_page_base.html' %}

{% block meta_description %}{{ block.super }} Issues{% endblock meta_description %}
{% block pagetitle %}{{block.super}}: Issues Admin{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item active">Issues Admin</span>
{% endblock %}

{% block content %}


  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Manage Issues</h1>
      <ul>
	<li><a href="{% url 'journals:admin_volumes_list' %}">Manage Volumes</a></li>
	<li><a href="{% url 'journals:admin_issue_list' %}" class="active">Manage Issues</a></li>
	<li><a href="{% url 'proceedings:proceedings' %}">Manage Proceedings Issues</a></li>
	<li><a href="{% url 'journals:manage_metadata' %}">Manage Publications metadata</a></li>
	<li><a href="{% url 'journals:manage_report_metadata' %}">Manage Report metadata</a></li>
      </ul>

      <h3 class="my-3">Journals overview</h3>
      <table class="table">
	<thead class="table-light">
          <tr>
            <th>Journal</th>
            <th>Latest Issue</th>
            <th>Has active Issue?</th>
          </tr>
	</thead>
	{% for journal in journals %}
          {% if journal.has_issues %}
            <tr>
              <td>{{ journal.name }}</td>
              <td>{{ journal.get_latest_issue|default_if_none:'<i>No Issue found</i>' }}</td>
              <td>
		{% if journal.get_latest_issue %}
                  {% if journal.get_latest_issue.is_current %}
                    <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span> Yes
                  {% else %}
                    <span class="text-warning">{% include 'bi/exclamation-triangle-fill.html' %}</span> No
                  {% endif %}
		{% endif %}
              </td>
            </tr>
          {% endif %}
	{% endfor %}
      </table>

      <h2 class="mt-4">All Issues</h2>
      <a href="{% url 'journals:add_issue' %}">Create a new Issue</a>

      <table class="table mt-2">
	<thead class="table-light">
          <tr>
            <th>Issue</th>
            <th>Period</th>
            <th>Status</th>
            <th>Publications</th>
            <th>Active</th>
            <th></th>
          </tr>
	</thead>
	{% for issue in object_list %}
          <tr{% if issue.is_current %} class="table-success"{% endif %}>
            <td><a href="{{ issue.get_absolute_url }}">{{ issue.get_journal }} <strong>{{ issue.short_str }}</strong></a></td>
            <td>{{ issue.start_date }} until {{ issue.until_date }}</td>
            <td>{{ issue.get_status_display }}</td>
            <td>{{ issue.publications.count }}</td>
            <td>
              {% if issue.is_current %}
		<span class="text-success">{% include 'bi/check-circle-fill.html' %}</span> Yes
              {% else %}
		<span class="text-warning">{% include 'bi/exclamation-triangle-fill.html' %}</span> No
              {% endif %}
            </td>
            <td><a href="{% url 'journals:update_issue' issue.id %}">Edit</a></td>
          </tr>
	{% endfor %}
      </table>
      {% if is_paginated %}
        <div class="col-12">
          {% include '_pagination.html' with page_obj=page_obj %}
        </div>
      {% endif %}
    </div>
  </div>


{% endblock %}
