{% extends 'journals/base.html' %}

{% block pagetitle %}: Manage metadata for publication{% endblock pagetitle %}

{% load bootstrap %}
{% load journals_extras %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Manage metadata for {{ publication.doi_label }}</span>
{% endblock %}

{% block body_class %}{{ block.super }} manage_metadata for {{ publication.doi_label }}{% endblock %}

{% block content %}

  <h1 class="highlight">Manage Metadata for <a href="{{ publication.get_absolute_url }}">{{ publication.doi_label }}</a></h1>

  <div class="row">
    {% if not publication.is_published %}
      <div class="col-12">
	<h3 class="text-center bg-warning text-white mb-3 py-2">Current status: <strong>{{ publication.get_status_display }}</strong></h3>
      </div>
    {% endif %}

    <div class="col-md-6">
      {% if publication.status == 'draft' %}
	{% include 'journals/_publication_preparation.html' with publication=publication %}
	<hr>
      {% endif %}

      <h2 class="x">Actions</h2>
      {% include 'journals/_publication_actions.html' with publication=publication %}
    </div>

    <div class="col-md-6">
      <div id="publication-grant-funding" hx-get="{% url 'journals:_hx_publication_metadata_add_grant_funding' publication.doi_label %}" hx-trigger="intersect once">
      </div>

      <div id="publication-generic-funding" hx-get="{% url 'journals:_hx_publication_metadata_add_generic_funding' publication.doi_label %}" hx-trigger="intersect once">
      </div>
      
      <h3>Other funding-related actions:</h3>
      <ul>
	<li><a href="{% url 'funders:funders_dashboard' %}" target="_blank">go to the Funders page to add a Funder and/or Grant instance</a></li>
      </ul>
    </div>
  </div>


  <h3 class="mx-3">Crossref Deposits</h3>
  <table class="table table-sm bg-white mx-3">
    <thead class="table-light">
      <th>Timestamp</th>
      <th>batch id</th>
      <th>deposition date</th>
      <th>Successful?</th>
      <th>actions</th>
    </thead>
    <tbody>
      {% for deposit in publication.deposit_set.all %}
	<tr>
	  <td>{{ deposit.timestamp }}</td>
	  <td>{{ deposit.doi_batch_id }}</td>
	  <td>{% if deposit.deposition_date %}{{ deposit.deposition_date }}{% else %}Not deposited{% endif %}</td>
	  <td>{{ deposit.deposit_successful }}</td>
	  <td>Mark deposit as
  	    <ul>
  	      <li><a href="{% url 'journals:mark_deposit_success' deposit_id=deposit.id success=1 %}">successful</a></li>
  	      <li><a href="{% url 'journals:mark_deposit_success' deposit_id=deposit.id success=0 %}">unsuccessful</a></li>
  	    </ul>
	  </td>
	</tr>
      {% empty %}
	<tr>
	  <td colspan="6">No Deposits found for this publication</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h3 class="mx-3">DOAJ Deposits</h3>
  <table class="table table-sm bg-white mx-3">
    <thead class="table-light">
      <th>Timestamp</th>
      <th>deposition date</th>
      <th>Successful?</th>
      <th>actions</th>
    </thead>
    <tbody>
      {% for deposit in publication.doajdeposit_set.all %}
	<tr>
	  <td>{{ deposit.timestamp }}</td>
	  <td>{% if deposit.deposition_date %}{{ deposit.deposition_date }}{% else %}Not deposited{% endif %}</td>
	  <td>{{ deposit.deposit_successful }}</td>
	  <td>Mark deposit as
  	    <ul>
  	      <li><a href="{% url 'journals:mark_doaj_deposit_success' deposit_id=deposit.id success=1 %}">successful</a></li>
  	      <li><a href="{% url 'journals:mark_doaj_deposit_success' deposit_id=deposit.id success=0 %}">unsuccessful</a></li>
  	    </ul>
	  </td>
	</tr>
      {% empty %}
	<tr>
	  <td colspan="6">No Deposits found for this publication</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}


{% block footer_script %}
  {{ block.super }}
  {{ associate_grant_form.media }}
  {{ associate_generic_funder_form.media }}
{% endblock footer_script %}
