{% extends 'scipost/base.html' %}

{% block pagetitle %}
  : metadata XML deposit
{% endblock pagetitle %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
        <a href="{% url 'journals:manage_metadata' %}" class="breadcrumb-item">Administration</a>
        <span class="breadcrumb-item active">Metadata XML deposit</span>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}


  <div class="row">
    <div class="col-12">
      <h1 class="highlight">
        Metadata deposit <small>(using the {{ option }} server)</small>
      </h1>
    </div>
  </div>

  {% if valid %}
    <div class="row">
      <div class="col-12">

        <h3 class="my-1">Response headers:</h3>
        <pre><code>{{ response_headers|linebreaks }}</code></pre>

        <h3 class="mt-3">Response text:</h3>
        <pre><code>{{ response_text|linebreaks }}</code></pre>

        {% if perms.scipost.can_publish_accepted_submission %}
          <br />
          <p>
            <a href="{{ publication.get_absolute_url }}">return to the publication's page</a>, to the <a href="{% url 'journals:manage_metadata' %}">general metadata management page</a>
          </p>
        {% endif %}


      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-12">
        <p>
          <span class="text-danger">The metadata file for this metadata timestamp already exists.</span>
          <br />
          You might want to <a href="{% url 'journals:create_publication_metadata_xml' doi_label=publication.doi_label %}">produce new metadata</a> to do a new deposit instead.
          <p>

            {% if perms.scipost.can_publish_accepted_submission %}
              <p>
                <a href="{% url 'journals:manage_metadata' %}">Back to Admin</a>
              </p>
            {% endif %}

          </div>
        </div>
      {% endif %}


    {% endblock %}
