{% extends 'scipost/base.html' %}

{% load crispy_forms_tags %}

{% block pagetitle %}: Draft publication{% endblock pagetitle %}

{% block content %}


  <h1>Draft publication</h1>

  {% if request.GET.issue or form.instance.id or form.to_journal %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form %}
      {% if gen_ai_disclosure_form %}
        {% crispy gen_ai_disclosure_form %}
      {% endif %}
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
  {% else %}
    <h3>Pick the Issue to publish in</h3>
    <ul>
      {% for issue in form.get_possible_issues %}
        <li><a href="?issue={{ issue.id }}">{{ issue }}</a></li>
      {% empty %}
        <li>No Issues found.
          {% if perms.scipost.can_manage_issues %}
            <a href="{% url 'journals:add_issue' %}">Create a new one.</a>
          {% else %}
            Contact administration.
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}




{% endblock %}
