<details>
  <summary>
  </summary>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Fellow</th>
	<th>Status</th>
	<th>Currently<br>available</th>
	<th>Qualification</th>
	{% if "edadmin" in user_roles or "active_senior_fellow" in user_roles %}
	  <th>Competing<br>interests</th>
	  {% if "edadmin" in user_roles %}
            <th>Actions</th>
	  {% endif %}
	{% endif %}
	<th>Readiness to take charge</th>
      </tr>
    </thead>
    <tbody>
      {% for fellowship in submission.fellows.select_related_contributor__dbuser_and_profile %}
	<tr>
          <td>{{ fellowship.contributor }}</td>
          <td>{{ fellowship.get_status_display }}</td>
	  <td>{% if fellowship.contributor.is_currently_available %}<span class="text-success">{% include "bi/check-square-fill.html" %}</span>{% else %}<span class="text-danger">{% include "bi/x-square-fill.html" %}</span>{% endif %}</td>
	  <td>{% get_fellow_qualification_expertise_level_display submission fellowship %}</td>
	  {% if "edadmin" in user_roles or "active_senior_fellow" in user_roles %}
	    <td>
	      {% get_profile_clearance submission.clearances fellowship.contributor.profile as clearance %}
	      {% if clearance %}
		<span class="text-success">all clear</span>
		&nbsp;<en>(asserted by {{ clearance.asserted_by }})
	      {% else %}
		  {% get_profile_competing_interests submission.competing_interests fellowship.contributor.profile as ci_qs %}
		  {% if ci_qs %}
		    <table class="table table-bordered bg-danger bg-opacity-10 mb-0">
		      <thead>
			<tr>
			  <th>Related Profile / <em>(nature)</em></th>
			  {% if "edadmin" in user_roles %}
			    <th>Actions</th>
			  {% endif %}
			</tr>
		      </thead>
		      <tbody>
			{% for ci in ci_qs %}
			  <tr>
			    <td>
			      {{ ci.related_profile }}
			      <br>
			      <em>({{ ci.get_nature_display }})</em>
			    </td>
			    <td>
			      {% if "edadmin" in user_roles %}
				<a class="btn btn-sm btn-danger px-1 py-0"
				   hx-get="{% url 'ethics:_hx_submission_competing_interest_delete' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr pk=ci.pk %}"
				   hx-confirm="Delete this competing interest?"
				   hx-target="#submission-{{ submission.pk }}-fellows-details"
				>
				  {% include "bi/trash-fill.html" %}
				</a>
			      {% endif %}
			    </td>
			  </tr>
			{% endfor %}
		      </tbody>
		    </table>
		  {% else %}
		    <em class="text-danger">unknown</em>
		  {% endif %}
	      {% endif %}
	    </td>
	    {% if "edadmin" in user_roles %}
              <td>
		<a class="btn btn-sm btn-danger px-1 py-0"
		   hx-get="{% url 'colleges:_hx_submission_remove_fellowship' submission.preprint.identifier_w_vn_nr fellowship.id %}"
		   hx-contirm="Remove this Fellow from this Submission's Fellowship?"
		   hx-target="#submission-{{ submission.pk }}-fellows-details"
		>{% include "bi/trash-fill.html" %}</a>
              </td>
	    {% endif %}
	  {% endif %}
	  <td>{% get_fellow_readiness_status_display submission fellowship %}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

</details>
