{% extends "scipost/base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>SciPost Graphs</h1>
    <span id="plot-loading-indicator"
          class="p-2 htmx-indicator justify-content-between bg-primary bg-opacity-25">
      <strong>Loading</strong>
      <div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
    </span>
  </div>

  <div id="plot-container"
       class="row h-100"
       hx-include="this"
       hx-indicator="#plot-loading-indicator">
    <div class="col-12 col-lg-3 d-flex flex-column"
         hx-post="{% url "graphs:plot_options_form" %}"
         hx-sync="this:replace"
         hx-trigger="load, change from:#plot-container, click from:#plot-refresh">
    </div>

    <div class="col d-flex flex-column">
      <div id="plot"
           class="h-100 w-100"
           hx-get="{% url "graphs:plot" %}"
           hx-params="not csrfmiddlewaretoken"
           hx-sync="this:replace"
           hx-trigger="change from:#plot-container"></div>
    </div>
  </div>
{% endblock content %}
