<p>Dear {{ fellow.profile.get_title_display }} {{ fellow.user.last_name }},</p>

<p>Please find below a summary of your current assignments, with (if applicable) pending and upcoming required actions. Many thanks in advance for your timely intervention on any point in need of attention. Your good work as an Editorial Fellow is greatly appreciated!</p>

{% if nr_nominations_to_vote_on > 0 %}
<br/>
<h3>Nominations to the Editorial College</h3>
<p>You have {{ nr_nominations_to_vote_on }} nomination{{ nr_nominations_to_vote_on|pluralize }} to vote on, please visit the <a href="https://{{ domain }}{% url 'colleges:nominations' %}">Nominations</a> page to cast your vote{{ nr_nominations_to_vote_on|pluralize }}.</p>
{% endif %}

{% if recs_to_vote_on %}
    <br/>
    <h3>Recommendations for you to vote on</h3>
    <p>Please go to the <a href="https://{{ domain }}{% url 'submissions:pool:pool' %}">pool</a> to cast your vote on:</p>
    <ul>
      {% for rec in recs_to_vote_on %}
        <li>{{ rec.submission.title }}</li>
      {% endfor %}
    </ul>
{% endif %}

{% if nr_visible > 0 %}
  <br>
  {% if nr_appraised < nr_visible  %}
    <h3>Appraisals required on Submissions seeking assignment</h3>
    <p>
      There are {{ nr_visible }} Submissions seeking assignment in the <a href="https://{{ domain }}{% url 'submissions:pool:pool' %}">pool</a>, {% if nr_appraised == 0 %}all of which{% else %}of which {{ nr_appraisals_required }}{% endif %} require your quick appraisal of your expertise level, competing interest and readiness to take charge.
    </p>
    <p>Please visit the pool and provide this info (whose maintenance is crucial to the Assignment phase of our <a href="https://{{ domain }}{% url 'submissions:editorial_workflow' %}">editorial workflow</a>).
    </p>
  {% else %}
    <h3>Submissions seeking assignment</h3>
    <p>There are {{ nr_visible }} Submissions seeking assignment in the <a href="https://{{ domain }}{% url 'submissions:pool:pool' %}">pool</a>; thank you
      for having appraised your expertise level, competing interest and readiness to take charge for all of them. Great job!</p>
  {% endif %}
{% endif %}

{% if assignments_to_consider %}
  <br/>
  <h3>Assignments for you to consider:</h3>
  <p><em>(note: these assignment requests are being phased out in favour of the appraisals system)</em></p>
  <ul>
    {% for assignment in assignments_to_consider %}
      <li>
        On submission: {{ assignment.submission }}<br>
        <a href="https://{{ domain }}{% url 'submissions:pool:assignment_request' assignment.id %}">Accept or decline here</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if assignments_ongoing %}
    <br/>
    <h3>Current assignments (Submissions for which you are Editor-in-charge):</h3>
    <ul>
      {% for assignment in assignments_ongoing %}
          <li>
            <h3><a href="https://{{ domain }}{% url 'submissions:submission' assignment.submission.preprint.identifier_w_vn_nr %}">{{ assignment.submission.title }}</a></h3>
            <p>
              <em>by {{ assignment.submission.author_list }}</em>
            </p>
            {% if assignment.submission.cycle.has_required_actions %}
                <h3>Required actions (go to the <a href="https://{{ domain }}{% url 'submissions:editorial_page' assignment.submission.preprint.identifier_w_vn_nr %}">Editorial page</a> to carry them out):</h3>
                <ul>
                  {% for code, action in assignment.submission.cycle.required_actions.items %}
                      <li>{{ action|safe }}</li>
                  {% empty %}
                      <li>No action required. Great job!</li>
                  {% endfor %}
                </ul>
            {% else %}
                <p>No action required. Great job!</p>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
{% endif %}

{% if assignments_upcoming_deadline %}
    <br/>
    <h3>Upcoming refereeing deadlines:</h3>
    <ul>
      {% for assignment in assignments_upcoming_deadline %}
          <li>
            <h3><a href="https://{{ domain }}{% url 'submissions:pool:pool' assignment.submission.preprint.identifier_w_vn_nr %}">{{ assignment.submission.title }}</a></h3>
            <p>
              <em>by {{ assignment.submission.author_list }}</em>
            </p>
            <p>Refereeing deadline: {% if assignment.submission.reporting_deadline %}{{ assignment.submission.reporting_deadline|date:"Y-m-d" }}{% else %}not set{% endif %} .</p>
            <p><em>You can manage this Submission from its </em><a href="https://{{ domain }}{% url 'submissions:editorial_page' assignment.submission.preprint.identifier_w_vn_nr %}">Editorial page</a>.</p>
          </li>
      {% endfor %}
    </ul>
{% endif %}

<br/>
<h3>Need help or assistance?</h3>
<p>
  Don't hesitate to <a href="mailto:edadmin@{{ domain }}">email the editorial administration</a> if you need any assistance.
</p>
<p>
    Many thanks for your valuable work,<br>
    SciPost Editorial Administration
</p>
{% include 'email/_footer.html' %}
