Dear {{ assignment.to.profile.get_title_display }} {{ assignment.to.user.last_name }},

We have deprecated your assignment as Editor-in-charge of Submission

{{ assignment.submission.title }} by {{ assignment.submission.author_list }}.

To see your current active assignments, check <a href="https://scipost.org{% url 'submissions:pool' %}?editor_in_charge=on.">the Pool</a>.

Many thanks for your valuable work,

SciPost Editorial Administration

{% include 'email/_submission_thread_uuid.html' with submission=assignment.submission %}
