Dear {{ assignment.to.profile.get_title_display }} {{ assignment.to.user.last_name }},

Thank you for accepting to become Editor-in-charge of the SciPost Submission

{{ assignment.submission.title }} by {{ assignment.submission.author_list }}.

You can take your editorial actions from <a href="https://scipost.org{% url 'submissions:editorial_page' assignment.submission.preprint.identifier_w_vn_nr %}">the editorial page</a>.

In particular, you should now make sure at least 3 referees have been invited; you might want to make sure you are aware of the detailed procedure described in <a href="https://scipost.org{% url 'scipost:EdCol_by-laws' %}">the Editorial College by-laws</a>.

Many thanks in advance for your collaboration,

SciPost Editorial Administration

{% include 'email/_submission_thread_uuid.html' with submission=assignment.submission %}
