<table class="table">
    <tr><td>Partner: </td><td><a href="{{agreement.partner.get_absolute_url}}">{{ agreement.partner }}</a></td></tr>
    <tr><td>Status: </td><td>{{ agreement.status }}</td></tr>
    <tr><td>Request date: </td><td>{{ agreement.date_requested }}</td></tr>
    <tr><td>Start date: </td><td>{{ agreement.start_date }}</td></tr>
    <tr><td>Duration: </td><td>{{ agreement.duration }}</td></tr>
    <tr><td>Yearly contribution: </td><td>€ {{ agreement.offered_yearly_contribution }}</td></tr>
</table>
