<div class="card-body">
  <div class="row">
    <div class="col-md-4">
      <address>
            <h3>{{ agreement.partner.organization.name }}</h3>
            <strong>{{ agreement.partner.organization.acronym }} ({{ agreement.partner.organization.get_kind_display }})</strong><br>
            {{ agreement.partner.organization.address|linebreaks }}
            {{ agreement.partner.organization.get_country_display }}
      </address>
    </div>
    <div class="col-md-4">
        <p>Agreement Status: <span class="label label-sm label-secondary">{{ agreement.get_status_display }}</span></p>
        <p>Yearly Contribution: € {{ agreement.offered_yearly_contribution }}</p>
    </div>
    <div class="col-md-4">
        <p>Start Date: {{ agreement.start_date }}</p>
        <p>Duration: {{ agreement.get_duration_display }}</p>
    </div>
  </div>
</div>
