{% extends 'partners/_partners_page_base.html' %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Add a Prospective Partner</span>
{% endblock %}


{% block pagetitle %}: Supporting Partners: add{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Add a Prospective Partner</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Please provide contact details of an appropriate representative, and details about the potential Partner.</p>

    <form action="{% url 'partners:add_prospective_partner' %}" method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>

    {% if errormessage %}
        <p class="text-danger">{{ errormessage }}</p>
    {% endif %}

    </div>
</div>

{% endblock content %}
