{% extends 'scipost/base.html' %}

{% block pagetitle %}: Supporting Partners: email contact{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Email a Prospective Partner Generic Address</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
      <form action="{% url 'partners:email_prospartner_generic' prospartner_id=prospartner.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Submit"/>
      </form>

      {% if errormessage %}
      <p class="text-danger">{{ errormessage }}</p>
      {% endif %}
    </div>
</div>

{% endblock content %}
