{% extends 'scipost/base.html' %}

{% block pagetitle %}: Supporting Partners Board: Membership request{% endblock pagetitle %}

{% load staticfiles %}
{% load bootstrap %}
{% block bodysup %}

<script>
$(document).ready(function(){
  $("#id_consortium_members").hide()
  $("label[for='id_consortium_members']").hide()

  $('select#id_partner_type').on('change', function (){
  var selection = $(this).val();
  switch(selection){
    case "Consortium":
      $("#id_consortium_members").show()
      $("label[for='id_consortium_members']").show()
      break;
    default:
      $("#id_consortium_members").hide()
      $("label[for='id_consortium_members']").hide()
  }
});
});

</script>


<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Supporting Partners Board: Membership Request</h1>
    </div>
  </div>

  <div class="flex-container">
    <div class="flex-whitebox">
      <p>You can hereby request further details on the process to become one
	of our Supporting Partners.</p>
      <p>Filling in this form does not yet constitute a binding agreement.</p>
      <p>It simply expresses your interest in considering joining our Supporting Partners Board.</p>
      <p>After filling this form, SciPost Administration will contact you with more details on Partnership.</p>
      <p><em>Note: you will automatically be considered as the contact person for this Partner.</em></p>

      {% if errormessage %}
      <p style="color: red;">{{ errormessage }}</p>
      {% endif %}

      <form action="{% url 'partners:membership_request' %}" method="post">
	{% csrf_token %}
	<h3>Please provide us the following relevant details:</h3>
	{{ query_form|bootstrap }}
	<input class="btn btn-primary" type="submit" value="Submit"/>
      </form>

      {% if errormessage %}
          <p class="text-danger">{{ errormessage }}</p>
      {% endif %}
    </div>
  </div>

</section>

{% endblock bodysup %}
