{% extends 'scipost/base.html' %}

{% block pagetitle %}: Organizations{% endblock pagetitle %}

{% load staticfiles %}
{% load partners_extras %}

{% block content %}
<div class="row">
    <div class="col-12">
      <h1 class="highlight">Organizations</h1>
      {% if perms.scipost.can_manage_organizations %}
      <h3>Management actions:</h3>
      <ul>
	<li><a href="{% url 'partners:organization_create' %}">Create a new Organization instance</a></li>
	<li><a href="{% url 'funders:funders_dashboard' %}">Link Funders to Organizations</a> ({{ nr_funders_wo_organization }} found in need of linking)</li>
      </ul>
      {% endif %}
    </div>
</div>


<div class="row">
  <div class="col-12">
    <p>Click on a row to see more details about the Organization</p>
    <table class="table table-hover mb-5">
      <thead class="thead-default">
	<tr>
	  <th><a href="?order_by=country">Country</a></th>
	  <th><a href="?order_by=name">Name</a>&nbsp;&nbsp;<small>[acronym]</small></th>
	  <th>NAP <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="" data-original-title="Number of associated publications<br/>For details, click on the Organization and consult the Associated Publications tab"></i>
	    {% if request.GET.ordering != 'asc' %}</a> <a href="?order_by=nap&ordering=asc"><i class="fa fa-sort-asc"></i></a>{% endif %}
{% if request.GET.ordering != 'desc' %}<a href="?order_by=nap&ordering=desc"><i class="fa fa-sort-desc"></i></a>{% endif %}
</th>
	  <th>Partner?</th>
	</tr>
      </thead>
      <tbody id="accordion" role="tablist" aria-multiselectable="true">
	{% for org in object_list %}
	<tr data-toggle="collapse" data-parent="#accordion" href="#collapse{{ org.id }}" aria-expanded="true" aria-controls="collapse{{ org.id }}" style="cursor: pointer;">
	  <td><img src="{{ org.country.flag }}" alt="{{ org.country }} flag"/>&nbsp;<span class="text-muted"><small>[{{ org.country }}]</small></span>&nbsp;&nbsp;{{ org.get_country_display }}</td>
	  <td>
	    {{ org.full_name }}&nbsp;&nbsp;<small>{% if org.acronym %}[{{ org.acronym }}]{% endif %}</small>
	    {% if org.parent %}
	    <small class="text-muted"><p>Parent: {{ org.parent }}</p></small>
	    {% endif %}
	    {% if org.children.all %}
	    <small class="text-muted">
	      <p>Parent of:
		{% for child in org.children.all %}
		{{ child }}{% if not forloop.last %},&nbsp;{% endif %}
		{% endfor %}
	      </p>
	    </small>
	    {% endif %}
	  </td>
	  <td>{{ org.cf_nr_associated_publications }}</td>
	  {% if org.has_current_agreement %}
	  <td class="bg-success">Yes</td>
	  {% elif org.partner.agreements %}
	  <td class="bg-warning">Due for renewal</td>
	  {% else %}
	  <td class="bg-danger">Not yet</td>
	  {% endif %}
	  <td></td>
	</tr>
	<tr id="collapse{{ org.id }}" class="collapse" role="tabpanel" aria-labbeledby="heading{{ org.id }}" style="background-color: #fff;">
	  <td colspan="4">
	    {% include 'partners/_organization_card.html' with org=org %}
	  </td>
	</tr>
	{% empty %}
	<tr><td colspan="4">No organizations found</td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
