{% extends 'scipost/base.html' %}

{% block pagetitle %}: Organizations{% endblock pagetitle %}

{% load staticfiles %}
{% load partners_extras %}

{% block content %}
<div class="row">
    <div class="col-12">
      <h1 class="highlight">Organizations</h1>
      {% if perms.scipost.can_manage_organizations %}
      <a href="{% url 'partners:organization_create' %}">Create a new Organization instance</a>
      {% endif %}
    </div>
</div>


<div class="row">
  <div class="col-12">
    <p>Click on a row to see more details about the Organization</p>
    <table class="table table-hover mb-5">
      <thead class="thead-default">
	<tr>
	  <th>Country</th>
	  <th>Acronym</th>
	  <th>Name</th>
	  <th>Type</th>
	  <th>NAP <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="" data-original-title="Number of associated publications<br/>For details, click on the Organization and consult the Associated Publications tab"></i></th>
	  <th>Partner?</th>
	</tr>
      </thead>
      <tbody id="accordion" role="tablist" aria-multiselectable="true">
	{% for org in object_list %}
	<tr data-toggle="collapse" data-parent="#accordion" href="#collapse{{ org.id }}" aria-expanded="true" aria-controls="collapse{{ org.id }}" style="cursor: pointer;">
	  <td>{{ org.get_country_display }}</td>
	  <td>{{ org.acronym }}</td>
	  <td>{{ org.name }}</td>
	  <td>{{ org.get_orgtype_display }}</td>
	  <td>{{ org.count_publications }}</td>
	  {% if org.has_current_agreement %}
	  <td class="bg-success">Yes</td>
	  {% elif org.partner.agreements %}
	  <td class="bg-warning">Due for renewal</td>
	  {% else %}
	  <td class="bg-danger">Not yet</td>
	  {% endif %}
	  <td></td>
	</tr>
	<tr id="collapse{{ org.id }}" class="collapse" role="tabpanel" aria-labbeledby="heading{{ org.id }}" style="background-color: #fff;">
	  <td colspan="6">
	    {% include 'partners/_organization_card.html' with org=org %}
	  </td>
	</tr>
	{% empty %}
	<tr><td colspan="4">No organizations found</td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
