{% extends 'partners/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: Organization details{% endblock pagetitle %}

{% block breadcrumb_items %}
{{ block.super }}
<a href="{% url 'partners:organization_list' %}" class="breadcrumb-item">Organizations</a>
<span class="breadcrumb-item">{{ organization }}</span>
{% endblock %}

{% block content %}

<h1 class="highlight">{{ organization }}</h1>

<div class="row">
  <div class="col-12">
    {% include 'partners/_organization_card.html' with org=organization %}
  </div>
</div>


{% endblock content %}
