{% extends 'partners/_partners_page_base.html' %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Partner details</span>
{% endblock %}

{% block pagetitle %}{{block.super}} Partner details{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Partner {{partner}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {% if perms.scipost.can_manage_SPB %}
            <a href="{% url 'partners:partner_edit' partner.id %}">Edit partner</a>
        {% endif %}
        <address>
            <h3>{{ partner.organization.name }}</h3>
            <strong>{{ partner.organization.acronym }} ({{ partner.organization.get_orgtype_display }})</strong><br>
            {{ partner.organization.address|linebreaks }}
            {{ partner.organization.get_country_display }}<br>
            Main contact: {{ partner.main_contact|default_if_none:'<em>Unknown</em>' }}
        </address>

        <h3>Membership Agreements</h3>
        <ul>
            {% for agreement in partner.agreements.all %}
                <li><a href="{{agreement.get_absolute_url}}">{{agreement}}</a></li>
            {% empty %}
                <li>No agreements found.</li>
            {% endfor %}
        </ul>

        <h3>Contacts</h3>
        <ul>
            {% for contact in partner.contact_set.all %}
                {% include 'partners/_contact_li.html' with contact=contact %}
            {% endfor %}
        </ul>

        <h3>Requested Contacts</h3>
        <ul>
            {% for contact_request in partner.contactrequest_set.awaiting_processing %}
                <li><strong>{{contact_request}}</strong> ({{contact_request.email}})</li>
            {% empty %}
                <li>All requests are processed</li>
            {% endfor %}
        </ul>
        <a href="{% url 'partners:partner_request_contact' partner.id %}">Request new Contact</a>
    </div>
    <div class="col-md-6">
        {% if perms.scipost.can_view_partners %}
            <h3>Partner Events</h3>
            <ul>
                {% for event in partner.events.all %}
                    {% include 'partners/_prospartner_event_li.html' with event=event %}
                {% empty %}
                    <li>No events were found.</li>
                {% endfor %}
            </ul>

            <hr>
            <h3>Add new Event</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}

                <input class="btn btn-primary" type="submit" value="Submit"/>
            </form>
        {% endif %}
    </div>
</div>

{% endblock content %}
