{% extends 'scipost/base.html' %}

{% block pagetitle %}: Commentary detail{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){
  $("#commentsbutton").click(function(){
  $("#commentslist").toggle();
  });
  $("#ratingsbutton").click(function() {
  $(".ratings").toggle();
  $(".ratingsinput").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

<!-- Temporary strip -->
{% if user.is_authenticated %}

<section>
  <hr class="hr12">
  <div class="row">
    <div class="col-10">
      <h1>SciPost Commentary Page &nbsp; (for non-SciPost publications)</h1>
    </div>
    <div class="col-2">
      <br/>
      <button id="ratingsbutton">Toggle ratings view</button>
    </div>
  </div>
</section>

<section>
  <hr class="hr12">
  <div class="row">
    <div class="col-4">
      <h2>Original publication: </h2>
    </div>
  </div>

  <table>
    <tr><td>Title: </td><td>{{ commentary.pub_title }}</td></tr>
    <tr><td>Author(s): </td><td>{{ commentary.author_list }}</td></tr>
    <tr><td>arXiv link: </td><td><a href="{{ commentary.arxiv_link }}">{{ commentary.arxiv_link }}</a></td></tr>
    <tr><td>DOI Link: </td><td><a href="{{ commentary.pub_DOI_link }}">{{ commentary.pub_DOI_link }}</a></td></tr>
    <tr><td>Date published: </td><td>{{ commentary.pub_date }}</td></tr>
  </table>

  <h3>Abstract:</h3>
  <p>{{ commentary.pub_abstract }}</p>
  
  <div class="ratings">
    <h4>Ratings:</h4>
    <ul>
      <li>clarity: {{ commentary.clarity_rating }}% ({{ commentary.nr_clarity_ratings }})</li>
      <li>validity: {{ commentary.validity_rating }}% ({{ commentary.nr_validity_ratings }})</li>
      <li>rigour: {{ commentary.rigour_rating }}% ({{ commentary.nr_rigour_ratings }})</li>
      <li>originality: {{ commentary.originality_rating }}% ({{ commentary.nr_originality_ratings }})</li>
      <li>significance: {{ commentary.significance_rating }}% ({{ commentary.nr_significance_ratings }})</li>
    </ul>
  </div>
  <br />

  {% if user.is_authenticated and user.contributor.rank > 0 %}
  <form action="{% url 'ratings:vote_on_commentary' commentary_id=commentary.id %}" method="post" class="ratingsinput">
    {% csrf_token %}
    <ul>
      {{ commentary_rating_form.as_ul }}	  
      <li><input type="submit" value="Rate this publication"></li>
    </ul>
  </form>
  {% endif %}

</section>

{% if reports %}
<section>
  <hr class="hr12">
  <h2>Reports on this publication</h2>
  <hr>
</section>
{% endif %}

{% if comments %}
<section>
  <hr class="hr12">
  <div class="row">
    <div class="col-10">
      <h2>Comments on this publication</h2>
    </div>
    <div class="col-2">
      <button id="commentsbutton">Toggle comments view</button>
    </div>
  </div>

  <div id="commentslist">
    {% for comment in comments %}
    
    <hr class="hr6">
    <div class="row">
      
      <div class="col-3">
	{{ comment.print_identifier|safe }}
<!--
	<div class="commentid">
	  <h3>{{ comment.id }} {% if not comment.anonymous %}&nbsp; by {{ comment.author.user.first_name }} {{ comment.author.user.last_name }} {% endif %}&nbsp; {% if comment.in_reply_to %} (in reply to {{ comment.in_reply_to.id }}) {% endif %}</h3>
	  <h4>Date: {{ comment.date_submitted }}</h4>
	</div>
-->
      </div>
      
      <div class="col-9">
	<div class="commentcategorydisplay">
	  <h4>Category:</h4>
	  <ul>
	    {% if comment.is_rem %}<li>remark</li>{% endif %}
	    {% if comment.is_que %}<li>question</li>{% endif %}
	    {% if comment.is_ans %}<li>answer to question</li>{% endif %}
	    {% if comment.is_obj %}<li>objection</li>{% endif %}
	    {% if comment.is_rep %}<li>reply to objection</li>{% endif %}
	    {% if comment.is_val %}<li>validation or rederivation</li>{% endif %}
	    {% if comment.is_lit %}<li>pointer to related literature</li>{% endif %}
	    {% if comment.is_sug %}<li>suggestion for further work</li>{% endif %}
	  </ul>
	</div>
	<br/>
	<div class="ratings">
	  <h4>Ratings:</h4>
	  <ul>
	    <li>Relevance: {{ comment.relevance_rating }}% ({{ comment.nr_relevance_ratings }})</li>
	    <li>Importance: {{ comment.importance_rating }}% ({{ comment.nr_importance_ratings }})</li>
	    <li>Clarity: {{ comment.clarity_rating }}% ({{ comment.nr_clarity_ratings }})</li>
	    <li>Validity: {{ comment.validity_rating }}% ({{ comment.nr_validity_ratings }})</li>
	    <li>Rigour: {{ comment.rigour_rating }}% ({{ comment.nr_rigour_ratings }})</li>
	  </ul>
	</div>
	
      </div>

    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
	<h3>Comment text:</h3>
	<div class="twocolumn">{{ comment.comment_text|linebreaks }}</div>
	
	<br/>
	<div class="ratingsinput">
	  {% if user.is_authenticated and user.contributor.rank > 0 %}
	  <form action="{% url 'ratings:vote_on_comment' comment_id=comment.id %}" method="post">
	    {% csrf_token %}
	    <ul>
	      {{ comment_rating_form.as_ul }}	  
	      <li><input type="submit" value="Rate this comment"></li>
	    </ul>
	  </form>
	  {% endif %}
	</div>
	
      </div>
    </div>
  
    {% for reply in author_replies %}
    {% if reply.in_reply_to_comment.id = comment.id %}
    
    <div class="row">
      <div class="col-1"></div>
      <hr style="border-style: dotted;" />
      <div class="col-3">
	<h3>Author reply ({{ reply.date_submitted }}):</h3>
      </div>
      <div class="col-8">
	<div class="ratings">
	  <h4>Ratings: </h4>
	  <ul>
	    <li>relevance: {{ reply.relevance_rating }}% ({{ reply.nr_relevance_ratings }})</li>
	    <li>importance: {{ reply.importance_rating }}% ({{ reply.nr_importance_ratings }})</li>
	    <li>clarity: {{ reply.clarity_rating }}% ({{ reply.nr_clarity_ratings }})</li>
	    <li>validity: {{ reply.validity_rating }}% ({{ reply.nr_validity_ratings }})</li>
	    <li>rigour: {{ reply.rigour_rating }}% ({{ reply.nr_rigour_ratings }})</li>
	  </ul>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
	<p>{{ reply.reply_text|linebreaks }}</p>
      </div>
    </div>
    {% if user.is_authenticated and user.contributor.rank > 0 %}
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
	<div class="ratingsinput">
	  <form action="{% url 'ratings:vote_on_authorreply' authorreply_id=reply.id %}" method="post">
	    {% csrf_token %}
	    <ul>
	      {{ authorreply_rating_form.as_ul }}	  
	      <li><input type="submit" value="Rate this author reply"></li>
	    </ul>
	  </form>
	</div>
      </div>
    </div>
    {% endif %}
    
    {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated and user.contributor.rank > 0 %}
    <div class="row">
      <div class="col-1"></div>
      <hr class="hr6"/>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
	<h3><a href="{% url 'comments:author_reply_to_comment' comment_id=comment.id %}">Reply to this comment (Author)</a></h3>
      </div>
      <div class="col-5">
	<h3><a href="{% url 'comments:reply_to_comment' comment_id=comment.id %}">Reply to this comment (Contributor)</a></h3>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div id="commentslist">
</section>
{% endif %}

{% if user.is_authenticated and commentary.open_for_commenting and user.contributor.rank > 0 %}
<section>
  <hr class="hr12">
  <h1>Contribute a Comment:</h1>
  <form action="{% url 'commentaries:commentary' commentary.id %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
  </form>
</section>
{% endif %}

{% endif %} <!-- Temporary strip -->

{% endblock bodysup %}
