{% extends 'scipost/base.html' %}

{% load bootstrap %}
{% load request_filters %}

{% block pagetitle %}: Commentaries{% endblock pagetitle %}

{% block headsup %}
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock headsup %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="panel page-header-panel">
          <h1>SciPost Commentaries</h1>
          <h3><a href="{% url 'commentaries:howto' %}">SciPost Commentaries how-to</a></h3>
          <h3><a href="{% url 'commentaries:request_commentary' %}">Request a new Commentary Page</a></h3>
        </div>
    </div>
    <div class="col-md-4">
    	<div class="panel page-header-panel">
            <h2>Search SciPost Commentaries:</h2>
            <form action="{% url 'commentaries:commentaries' %}" class="small" method="get">
    	  {{ form|bootstrap:'4,8,sm' }}
          	<input class="btn btn-sm btn-secondary" type="submit"/>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel page-header-panel">
          <h2>View SciPost Commentaries</h2>
          <ul>
    	<li>Physics: last <a href="{% url 'commentaries:browse' discipline='physics' nrweeksback=1 %}">week</a>, <a href="{% url 'commentaries:browse' discipline='physics' nrweeksback=4 %}">month</a> or <a href="{% url 'commentaries:browse' discipline='physics' nrweeksback=52 %}">year</a> </li>
          </ul>
        </div>
    </div>
</div>

{% if not browse and recent %}
<div class="row">
    <div class="col-12">
        <hr class="hr12">
        <h2>Recent Comments</h2>
        <ul>
            {% for comment in comment_list %}
                {{ comment.simple_header_as_li }}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <hr class="hr12">
        {% if recent %}
          <h2>Recently active Commentaries:</h2>
        {% elif browse %}
          <h2>Commentaries in {{ discipline }} in the last {{ nrweeksback }} week{{ nrweeksback|pluralize }}:</h2>
        {% else %}
          <h2>Search results:</h3>
        {% endif %}
        {% if object_list %}
            {% if is_paginated %}
              <p>
              {% if page_obj.has_previous %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a>
              {% endif %}
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
              {% endif %}
              </p>
            {% endif %}
            <ul>
                {% for object in object_list %}
                    {% include 'commentaries/commentary_header_li.html' with object=object %}
                {% endfor %}
            </ul>
        {% else %}
            <h3>No match found for your search query.</h3>
        {% endif %}
    </div>
</div>

{% endblock content %}
