{% extends 'scipost/base.html' %}

{% block pagetitle %}: Commentary detail{% endblock pagetitle %}

{% block headsup %}

{% load scipost_extras %}

{% endblock headsup %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">SciPost Commentary Page (non-SciPost publications)</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Original publication: </h2>
        {% include 'commentaries/_commentary_summary.html' with commentary=commentary %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Abstract:</h3>
        <p>{{ commentary.pub_abstract }}</p>
    </div>
</div>

{% include 'scipost/comments_block.html' with comments=commentary.comments.vetted type_of_object='Commentary' %}

{% include 'comments/new_comment.html' with object_id=commentary.id type_of_object='commentary' open_for_commenting=commentary.open_for_commenting %}

{% endblock content %}
