{% extends 'commentaries/base.html' %}

{% load scipost_extras %}

{% block pagetitle %}: Commentary detail{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{ block.super }}
    <span class="breadcrumb-item">{{ commentary }}</span>
{% endblock %}

{% block content %}

<h1 class="highlight">SciPost Commentary Page</h1>

<h3>Original publication:</h3>
{% include 'commentaries/_commentary_summary.html' with commentary=commentary %}

<br>

<h3>Abstract:</h3>
<p>{{ commentary.pub_abstract }}</p>

{% include 'scipost/comments_block.html' with comments=commentary.comments.vetted type_of_object='Commentary' %}

{% include 'comments/new_comment.html' with object_id=commentary.id type_of_object='commentary' open_for_commenting=commentary.open_for_commenting %}

{% endblock content %}
