{% extends 'scipost/base.html' %}

{% block pagetitle %}: request Commentary{% endblock pagetitle %}

{% block bodysup %}

  <script>
  $(document).ready(function(){

    // Looking at the DOM we can see that all the relevant stuff we want to hide/show is packed in a table. Hint: to play around with jquery, go to devtools, and just write your selectors there. $('tbody') will grab the table from the DOM I just mentioned.

    // Hiding all the rows for initial set-up
    var allToggableRows = $('tr').slice(1)   // Slices off the first element of the array. Read the documentation on this one, its quite useful. Same for .each and .map in upcoming code.

    allToggableRows.each(function(index){
      $(this).hide() // this is the object we're handling in the current iteration of the loop. It is wrapped in $(' ... ') to make it an jQuery object, so that we can call a jQuery function on it like .hide()
    })

    // Indices to remove in order to show thing named by variable name
    var preprint = [2,4]
    var published = [3]

    function show(indices){
      allToggableRows.each(function(index){
        if ($.inArray( index, indices) != -1){
          $(this).hide()
        }else{
          $(this).show()
        }

      })
    }

    $('select#id_type').on('change', function() {
      var selection = $(this).val();
      switch(selection){
        case "published":
          show(published)
          break;
        case "preprint":
          show(preprint)
          break;
        default:
          allToggableRows.hide()
      }
    });
  });
</script>

<section>
  <h1>Request Activation of a Commentary Page:</h1>
  <form action="{% url 'commentaries:request_commentary' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
  </form>
</section>

{% endblock bodysup %}
