<div class="card-body card-comment">
    <div class="mb-4 mt-2">
        <div class="d-inline-block mr-1">Nr {{comment.id}}</div>
        {% include 'comments/_comment_voting_summary.html' with comment=comment class='small' %}
    </div>

    <p>"{{comment.comment_text|linebreaksbr}}"</p>
    <p class="card-text">by <a href="{{comment.author.get_absolute_url}}">{{comment.author.user.first_name}} {{comment.author.user.last_name}}</a> in {{comment.content_type|capfirst}} on <a href="{{comment.content_object.get_absolute_url}}" class="pubtitleli">{{comment.title}}</a> {% if comment.content_object.author_list %} <span class="text-muted">by {{comment.content_object.author_list}}</span>{% endif %}</p>

    {% comment %}
        Using 'by xxx' on non-submission comments here would be ambigious. Does the `by xxx` apply to the
        other object (eg. Report), or the Submission, the Comment, etc?
    {% endcomment %}
    <p class="card-text text-muted">Comment submitted {{comment.date_submitted}}</p>
    <p class="card-text">Status: <span class="{% if comment.status == 1 %} text-success{% elif comment.status == 0 %} text-danger{% endif %}">{{comment.get_status_display}}</span></p>
</div>
