
{% if user.is_authenticated and perms.scipost.can_express_opinion_on_comments %}
    {% if user.contributor != comment.author %}
    <div class="voting-group d-inline-block {{class}}">
        <form action="{% url 'comments:express_opinion' comment_id=comment.id opinion='A' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm agree" value="Agree {{ comment.nr_A }}"/>
        </form>
        <form action="{% url 'comments:express_opinion' comment_id=comment.id opinion='N' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm neutral" value="Not sure {{ comment.nr_N }}"/>
        </form>
        <form action="{% url 'comments:express_opinion' comment_id=comment.id opinion='D'%}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm disagree" value="Disagree {{ comment.nr_D }}"/>
        </form>
    </div>
    {% else %}
        {% include 'comments/_comment_voting_summary.html' with comment=comment %}
    {% endif %}
{% endif %}
