{% load comment_extras %}
{% load user_groups %}
{% load submissions_extras %}

{% is_edcol_admin request.user as is_edcol_admin %}

<div class="commentid" id="comment_id{{ comment.id }}">
    <h3>
        {% if request.user.contributor and request.user.contributor == comment.core_content_object.editor_in_charge or is_edcol_admin and request.user|is_not_author_of_submission:comment.core_content_object.arxiv_identifier_w_vn_nr %}
            {% if comment.anonymous %}(chose public anonymity) {% endif %}<a href="{{ comment.author.get_absolute_url }}">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}</a>
              on {{ comment.date_submitted|date:'Y-m-d' }}
        {% elif comment.anonymous %}
            Anonymous on {{comment.date_submitted|date:'Y-m-d'}}
        {% else %}
            {% if comment.is_author_reply %}Author{% endif %}
            <a href="{{comment.author.get_absolute_url}}">{{comment.author.user.first_name}} {{comment.author.user.last_name}}</a>
            on {{comment.date_submitted|date:'Y-m-d'}}
        {% endif %}
    	{% if comment.doi_string %}&nbsp; <small>{{ comment|citation }}</small>{% endif %}
    </h3>


    {% if comment|is_reply_to_comment %}
        (in reply to <a href="{{comment.content_object.get_absolute_url}}">{% if comment.content_object.anonymous %}Anonymous Comment{% else %}{{comment.content_object.author.user.first_name}} {{comment.content_object.author.user.last_name}}{% endif %}</a> on {{comment.content_object.date_submitted|date:'Y-m-d'}})
    {% elif comment|is_reply_to_report %}
        (in reply to

        <a href="{{comment.content_object.get_absolute_url}}">Report {{comment.content_object.report_nr}}{% if not comment.content_object.anonymous %} by {{comment.content_object.author.user.first_name}} {{comment.content_object.author.user.last_name}}{% endif %}</a>

        on {{comment.content_object.date_submitted|date:'Y-m-d'}})
    {% endif %}
</div>
