{% extends 'scipost/base.html' %}

{% block pagetitle %}: reply to comment{% endblock pagetitle %}

{% block content %}

<script>
  $(document).ready(function(){

    var comment_text_input = $("#id_comment_text");

    function set_comment_text(value) {
      $("#preview-comment_text").text(value)
    }
    set_comment_text(comment_text_input.val())

    comment_text_input.keyup(function(){
      var new_text = $(this).val()
      set_comment_text(new_text)
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })

  });
</script>


{% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
          <div class="panel">
              <h1>SciPost Reply to Comment Page</h1>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% if comment.commentary %}
                <h2>The Commentary concerned:</h2>
                {{ comment.commentary.header_as_table }}

                <h3 class="mt-3">Abstract:</h3>
                <p>{{ comment.commentary.pub_abstract }}</p>
            {% endif %}

            {% if comment.submission %}
                <h2>The Submission concerned:</h2>
                {{ comment.submission.header_as_table }}

                <h3 class="mt-3">Abstract:</h3>
                <p>{{ comment.submission.abstract }}</p>
            {% endif %}

            {% if comment.thesislink %}
                <h2>The Thesis concerned:</h2>
                {% include "theses/_header_as_table.html" with thesislink=comment.thesislink %}

                <h3 class="mt-3">Abstract:</h3>
                <p>{{ comment.thesislink.abstract }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>The Comment you wish to reply to:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="comment">
                {{ comment.print_identifier }}

                {% include 'comments/_comment_categories.html' with comment=comment class='mr-2' %}

                {% include 'comments/_comment_voting_summary.html' with comment=comment %}

                <p>{{ comment.comment_text|linebreaks }}</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <h2>Your Reply to this Comment:</h2>
                {% if is_author %}
                    <h3>(you are identified as an author, your reply will appear as an author reply)</h3>
                {% else %}
                    <h3>(you are not identified as an author of this publication; if you are, you can claim authorship on your Personal Page)</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form enctype="multipart/form-data" action="{% url 'comments:reply_to_comment' comment.id %}" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Preview of your comment:</h3>
            <p id="preview-comment_text"></p>
        </div>
    </div>

{% endif %}

{% endblock content %}
