{% extends 'scipost/base.html' %}

{% block pagetitle %}: reply to report{% endblock pagetitle %}

{% block bodysup %}

{% if user.is_authenticated %}
<section>
  <hr class="hr12">
  <h1>SciPost Reply to Report Page</h1>

  {% if not is_author %}
  <h3>(you are not identified as an author of this Submission; if you are, you can claim authorship on your Personal Page)</h3>
  {% else %}

  <hr class="hr12">
  <h1>The Submission concerned:</h1>
  {{ report.submission.header_as_table }}
  <h3>Abstract:</h3>
  <p>{{ report.submission.abstract }}</p>
  <br>
  
  <hr class="hr6">
  <h2>The Report you wish to reply to:</h2>

  {{ report.print_identifier }}
  {{ report.print_contents }}


  <hr class="hr6">
  <h1>Your Reply to this Report:</h1>

  <form action="{% url 'comments:reply_to_report' report_id=report.id %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
  </form>

  {% endif %}
</section>
{% endif %}

{% endblock bodysup %}
