{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'scipost/SciPost.css' %}" />

{% load mathjax %}
{% mathjax_scripts %}

{% include 'scipost/header.html' %}
{% include 'scipost/navbar.html' %}

{% if user.is_authenticated %}
<section>
  <div class="row">
    <div class="col-6">
      <h1>SciPost Reply to Comment Page</h1>
    </div>
  </div>
</section>
<section>
  {% if comment.commentary %}
  <h1>The Commentary concerned:</h1>
  {% endif %}
  {% if comment.submission %}
  <h1>The Submission concerned:</h1>
  {% endif %}  
  <br>
  <table>
    {% if comment.commentary %}
    <tr><td>Title: </td><td>{{ comment.commentary.pub_title }}</td></tr>
    <tr><td>Author(s): </td><td>{{ comment.commentary.author_list }}</td></tr>
    <tr><td>DOI Link: </td><td><a href="{{ comment.commentary.pub_DOI_link }}">{{ comment.commentary.pub_DOI_link }}</a></td></tr>
    <tr><td>Date published: </td><td>{{ comment.commentary.pub_date }}</td></tr>
    {% endif %}
    {% if comment.submission %}
    <tr><td>Title: </td><td>{{ comment.submission.pub_title }}</td></tr>
    <tr><td>Author(s): </td><td>{{ comment.submission.author_list }}</td></tr>
    <tr><td>arxiv Link: </td><td><a href="{{ comment.submission.arxiv_link }}">{{ comment.submission.arxiv_link }}</a></td></tr>
    <tr><td>Date submitted: </td><td>{{ comment.submission.submission_date }}</td></tr>
    {% endif %}
  </table>
  <br />
  <h4>Abstract:</h4>
  {% if comment.commentary %}
  <p>{{ comment.commentary.pub_abstract }}</p>
  {% endif %}
  {% if comment.submission %}
  <p>{{ comment.submission.abstract }}</p>
  {% endif %}
  
  <hr>
  <h2>The Comment you wish to reply to:</h2>
  <div class="row">
    <div class="col-9">
      <h4>Date: {{ comment.date_submitted }}</h4>
      <p>{{ comment.comment_text }}</p>
    </div>
    <div class="col-3">
      <table>
	<th>Ratings:</th><th>(nr: {{ comment.nr_ratings }})</th>
	<tr><td>clarity: </td><td>{{ comment.clarity_rating }}%</td></tr>
	<tr><td>correctness: </td><td>{{ comment.correctness_rating }}%</td></tr>
	<tr><td>usefulness: </td><td>{{ comment.usefulness_rating }}%</td></tr>
      </table>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-2">
      <h1>Write your Reply to this Comment here:</h1>
    </div>
    <div class="col-10">
      <form action="{% url 'comments:reply_to_comment' comment.id %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit your Reply">
      </form>
    </div>
  </div>
</section>
{% endif %}

{% include 'scipost/footer.html' %}
