{% extends 'scipost/base.html' %}

{% block pagetitle %}: reply to report{% endblock pagetitle %}

{% block content %}

{% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <h1 class="highlight">SciPost Reply to Report Page</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% if not is_author %}
                <h2>You are not identified as an author of this Submission; if you are, you can claim authorship on your Personal Page.</h2>
            {% else %}
                <h2>The Submission concerned:</h2>

                {% include 'submissions/_submission_summary.html' with submission=report.submission %}

            </div>
        </div>

        {% include 'submissions/_single_public_report_without_comments.html' with report=report %}

        <div class="row">
            <div class="col-12">
                <h2 class="highlight">Your Reply to this Report:</h2>
                {% url 'comments:reply_to_report' report_id=report.id as add_comment_url %}
                {% include 'comments/_add_comment_form.html' with url=add_comment_url form=form %}
            {% endif %}
        </div>
    </div>
{% endif %}

{% endblock content %}
