{% extends 'scipost/base.html' %}

{% block pagetitle %}: reply to comment{% endblock pagetitle %}

{% block bodysup %}

{% if user.is_authenticated %}
<section>
  <hr class="hr12">
  <div class="row">
    <div class="col-6">
      <h1>SciPost Reply to Comment Page</h1>
    </div>
  </div>
</section>
<section>
  <hr class="hr12">
  {% if comment.commentary %}
  <h1>The Commentary concerned:</h1>
  {% endif %}
  {% if comment.submission %}
  <h1>The Submission concerned:</h1>
  {% endif %}  
  <br>
  <table>
    {% if comment.commentary %}
    <tr><td>Title: </td><td>{{ comment.commentary.pub_title }}</td></tr>
    <tr><td>Author(s): </td><td>{{ comment.commentary.author_list }}</td></tr>
    <tr><td>DOI Link: </td><td><a href="{{ comment.commentary.pub_DOI_link }}">{{ comment.commentary.pub_DOI_link }}</a></td></tr>
    <tr><td>Date published: </td><td>{{ comment.commentary.pub_date }}</td></tr>
    {% endif %}
    {% if comment.submission %}
    <tr><td>Title: </td><td>{{ comment.submission.pub_title }}</td></tr>
    <tr><td>Author(s): </td><td>{{ comment.submission.author_list }}</td></tr>
    <tr><td>arxiv Link: </td><td><a href="{{ comment.submission.arxiv_link }}">{{ comment.submission.arxiv_link }}</a></td></tr>
    <tr><td>Date submitted: </td><td>{{ comment.submission.submission_date }}</td></tr>
    {% endif %}
  </table>
  <br />
  <h4>Abstract:</h4>
  {% if comment.commentary %}
  <p>{{ comment.commentary.pub_abstract }}</p>
  {% endif %}
  {% if comment.submission %}
  <p>{{ comment.submission.abstract }}</p>
  {% endif %}
  
  <hr>
  <h2>The Comment you wish to reply to:</h2>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h4>Date: {{ comment.date_submitted }}</h4>
      <div class="twocolumn">{{ comment.comment_text|linebreaks }}</div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-3">
      <h1>Write your Reply to this Comment here:</h1>
    </div>

    <div class="col-9">
      <form action="{% url 'comments:reply_to_comment' comment.id %}" method="post">
	{% csrf_token %}
	<div class="row">
          <div class="col-4">
            <ul class="commentcategorychoices">
              <li><h3>Specify categorization:</h3></li>
              <li>{{ form.is_rem }} remark</li>
              <li>{{ form.is_que }} question</li>
              <li>{{ form.is_ans }} answer to question</li>
              <li>{{ form.is_obj }} objection</li>
              <li>{{ form.is_rep }} reply to objection</li>
              <li>{{ form.is_val }} validation or rederivation</li>
              <li>{{ form.is_lit }} pointer to related literature</li>
              <li>{{ form.is_sug }} suggestion for further work</li>
            </ul>
          </div>
          <div class="col-1"></div>
          <div class="col-7">
            <h3>Write your comment here:</h3>
            {{ form.comment_text }}
            <input type="submit" value="Submit your Reply">
          </div>
        </div>
      </form>
    </div>


  </div>
</section>
{% endif %}

{% endblock bodysup %}
