{% extends 'scipost/base.html' %}

{% block pagetitle %}: vet comments{% endblock pagetitle %}

{% block bodysup %}

<section>
  {% if not comment_to_vet %}
  <h1>There are no comments for you to vet.</h1>

  {% else %}

  <h1>SciPost Comment to vet:</h1>
  <hr>
  {% if comment_to_vet.commentary %}
  {{ comment_to_vet.commentary.header_as_table|safe }}
  <br />
  <h4>Abstract:</h4>
  <p>{{ comment_to_vet.commentary.pub_abstract }}</p>
  {% endif %}

  {% if comment_to_vet.submission %}
  <h3>Submission associated to Comment:</h3>
  {{ comment_to_vet.submission.header_as_table|safe }}
  <br />
  <h3>Abstract:</h3>
  <p>{{ comment_to_vet.submission.abstract }}</p>
  {% endif %}


  <hr style="border-style: dotted;" />
  <h3>The Comment to be vetted:</h3>

  <div class="row">
    <div class="col-8">
      {{ comment_to_vet.print_identifier_for_vetting|safe }}
      <h3>Comment text:</h3>
      <p>{{ comment_to_vet.comment_text }}</p>
      {% if comment_to_vet.remarks_for_editors %}
        <h3>Remarks for Editors only:</h3>
        <p>{{ comment_to_vet.remarks_for_editors }}</p>
      {% endif %}
    </div>
    <div class="col-4">
      <form action="{% url 'comments:vet_submitted_comment_ack' comment_id=comment_to_vet.id %}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>

  {% endif %}
</section>

{% endblock bodysup %}
