{% extends 'scipost/_personal_page_base.html' %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Vet submitted Comments</span>
{% endblock %}

{% load bootstrap %}
{% load filename %}
{% load file_extentions %}

{% block pagetitle %}: vet comments{% endblock pagetitle %}

{% block content %}

  {% if not comments_to_vet %}
    <div class="row">
      <div class="col-12">
        <h1>There are no comments for you to vet.</h1>
        <h3><a href="{% url 'scipost:personal_page' %}">Return to personal page</a></h3>
      </div>
    </div>
  {% else %}

    <h1 class="highlight">SciPost Comments to vet:</h1>

    {% for comment_to_vet in comments_to_vet %}
      <hr>
      <h3 class="highlight">Comment {{ comment_to_vet.id }}</h3>
      {% include 'comments/_vet_comment_form.html' with comment=comment_to_vet form=form %}
    {% endfor %}

  {% endif %}

{% endblock content %}
