{% extends 'markup/base.html' %}

{% block meta_description %}{{ block.super }} Markdown Help{% endblock meta_description %}
{% block pagetitle %}: Markup help{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item"><a href="{% url 'markup:help' %}">Help</a></span>
  <span class="breadcrumb-item">Markdown</span>
{% endblock %}

{% load automarkup %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h2 class="highlight">Markdown help</h2>

      <p>You will find below a quick summary of Markdown basics, as enabled here at SciPost.</p>
      <p>You can find more details about Markdown's syntax at <a href="https://daringfireball.net/projects/markdown/syntax">this page</a>.</p>

      <h3>Quick links</h3>
      <ul>
	{% for snippet in snippets %}
	  <li><a href="#{{ snippet.id }}">{{ snippet.title }}</a></li>
	{% endfor %}
      </ul>

      {% for snippet in snippets %}
	<h3 class="highlight" id="{{ snippet.id }}">{{ snippet.title }}</h3>
	<div class="row">
	  <div class="col-6">
	    <h3><strong>If you write:</strong></h3>
	    <pre>{{ snippet.raw }}</pre>
	  </div>
	  <div class="col-6">
	    <h3><strong>You will get:</strong></h3>
	    {% automarkup snippet.raw language_forced='Markdown' %}
	  </div>
	</div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}
