<p>
  Dear {{ submission.submitted_by.get_title_display }} {{ submission.submitted_by.user.last_name }},
</p>
<p>
  For your information, your Submission
  <br><br>
  {{ submission.title }}
  <br>by {{ submission.author_list }}<br>
  (see https://scipost.org{{ submission.get_absolute_url }}.
</p>

<p>has been assigned to an editor. The editor chose to directly formulate an Editorial Recommendation.</p>
<p>You will be informed shortly by email about the status of this Editorial Recommendation.</p>

<p>
  Sincerely,
  <br>
  The SciPost Team.
</p>
{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid' with submission=submission %}
