*.pyc
__pycache__

*.json
!**/fixtures/*.json
*.log

*~

# Package managers
venv*
node_modules/
*webpack-stats.json

.python-version


media/temp

SCIPOST_JOURNALS
UPLOADS

docs/_build

local_files/
static/
!/scipost/static/
static_bundles/

whoosh_index
