*.pyc
__pycache__
*.pid

*.json

!**/templates/**/*.json
!**/templates/**/*.json
!**/fixtures/*.json
*.log

*~
*.swp

.DS_STORE

# Package managers
/venv*
/node_modules/
*webpack-stats.json

.python-version
*secrets.json
!package.json
!package-lock.json
!package.vue.json

/uploads*
/media*
/logs*
/data*

SCIPOST_JOURNALS
UPLOADS

/cronjobs_bups/
/docs/_build
/docs/build
/docs/**/_build
/docs/local_files/
/fixtures
/scipost/fixtures
/htmlcov
/local_files/
/static/
static_bundles/

celerybeat-schedule
start_flower.sh
whoosh_index

*.pid
