*.pyc
__pycache__
*.pid

*.json

!**/templates/**/*.json
!**/templates/**/*.json
!**/fixtures/*.json
*.log

*~
*.swp
.coverage
.DS_STORE

# Package managers
/venv*
/.venv*
**/node_modules/
*webpack-stats.json

.python-version
!package.json
!package-lock.json
!package.vue.json

/uploads*
/media*
/logs*
/data*

SCIPOST_JOURNALS
UPLOADS

/cronjobs_bups/
/docs/_build
/docs/build
/docs/**/_build
/docs/local_files/
/fixtures
/scipost/fixtures
/htmlcov
/local_files/
/scipost_django/local_files/
/static/
static_bundles/
**/css/dist/*

celerybeat-schedule
start_flower.sh
whoosh_index

*.pid

# Sensitive files
*/secrets.json
/scipost_django/SciPost_v1/settings/local_*.py

# Editor configs
*.code-workspace