alabaster==0.7.10
argon2-cffi==16.3.0
Babel==2.4
Django==1.11.4
django_ajax_selects==1.6
django-countries==4.6.1
django-debug-toolbar==1.8
django-extensions==1.7.6
django-filter==1.0.4
django-guardian==1.4.9
django-haystack==2.5.1  # Check if this is really used. Package is not up-to-date
django-mathjax==0.0.5  # This thing looks dead as well
django-mptt==0.8.6  # Dead
django-sphinxdoc==1.5.1
django-recaptcha==1.3.1
django-webpack-loader==0.5
djangorestframework==3.6.3  # Check 3.6 release notes again
docutils==0.12  # What's this thing?

# Checked until here -- JdW

factory-boy==2.7.0
Faker==0.7.11
fake-factory==0.7.2
feedparser==5.2.1
ithenticate-api-python==0.4
imagesize==0.7.1
Jinja2==2.8
mailchimp3==2.0.11
Markdown==2.6.7
MarkupSafe==0.23
pep8==1.7.0
Pillow==3.4.2
psycopg2==2.6.2
Pygments==2.1.3
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.9
sphinx-rtd-theme==0.1.9
Whoosh==2.7.4
