# Core
argon2-cffi==20.1.0		# 2021-07-18 Password hashing algorithm
Babel==2.4
Django==3.2.5			# 2021-07-15
feedparser==5.2.1		# Check: not updated since 2016
psycopg2==2.8.6	  		# 2020-09-19 PostgreSQL engine
pytz==2021.1			# 2021-07-15 Timezone package
# djangorestframework==3.9.3	# DEPREC, see next entry -- 2019-12-05  IMPORTANT: update templates/rest_framework/base.html if corresponding file rest_framework/templates/rest_framework/base.html has changed
git+git://github.com/SciPost/django-rest-framework.git@bootstrap-v5
requests==2.25.1		# 2021-05-21
pyotp==2.2.7
mock==2.0.0


# Django packages
django-autocomplete-light==3.8.1 # 2021-06-06
django-cors-headers==3.5.0	# 2020-09-11, for enabling OAuth2 with django-oauth-toolkit
django-countries==7.2.1		# 2021-07-15
django-debug-toolbar==3.2.1     # 2021-05-21
django-extensions==2.2.8	# 2020-02-14 for e.g. runserver_plus (usage: python3 manage.py runserver_plus --cert [certificate .crt file])
django-filter==2.4.0		# 2021-06-08
django-guardian==2.4.0		# 2021-07-15
django-mathjax==0.0.8
django-oauth-toolkit==1.3.2	# 2020-09-03
django-silk==2.0.0
django-webpack-loader==1.0.0    # 2021-05-22, implicitly loads vendor bundles
django-maintenancemode-2	# 2021-07-15
djangorestframework-csv		# 2020-10-13

plotly==4.6.0			# 2020-05-05

# Documentation Packages
docutils==0.16			# 2020-02-21
Pygments==2.9.0			# 2021-05-21 Syntax highlighter
Sphinx==2.4.2			# 2020-02-21
sphinx-rtd-theme==0.4.3		# 2020-02-21 Sphinx theme


# Sentry
urllib3==1.26.6			# 2021-07-15, for sentry-sdk
sentry-sdk==1.3.0		# 2021-07-15, req: certifi, urllib3


# Testing
factory-boy==3.0.1		# 2020-09-27
Faker==4.1.3			# 2020-09-27


# Django Utils
django-haystack==3.0b1		# 2021-07-15
Whoosh==2.7.4


# Python Utils
ithenticate-api-python==0.8
mailchimp3==2.0.15
python-dateutil==2.6.0
Pillow==8.2.0			# 2021-05-21
html2text


# Mongo (Metacore)
mongoengine==0.15.0

Markdown==3.1.1
Bleach==3.3.0			# 2021-05-21

# Possibly dead
imagesize==0.7.1
Jinja2==3.0.1			# 2021-05-21
pep8==1.7.0
six==1.10.0
snowballstemmer==1.2.1


# Scheduled tasks
celery==5.1.0			# 2021-06-06
django-celery-results==2.0.1	# 2021-06-06
django-celery-beat==2.2.0	# 2021-06-06
#flower==0.9.4 			# 2020-09-19  Bug (404 error) in 0.9.5: see https://github.com/mher/flower/issues/1015
flower==1.0.0 			# 2021-07-18


# Security-related packages
django-referrer-policy==1.0	# 2020-09-19 no new updates for 3 years
django-csp==3.7			# 2020-09-19
django-feature-policy==3.4.0	# 2020-09-19
