{% load request_filters %}

<div class="text-center">
    {% if page_obj.has_previous %}
      <a class="" href="?{% url_replace page=page_obj.previous_page_number %}"><span aria-hidden="true">{% include 'bi/arrow-left.html' %}</span> Previous</a>
    {% else %}
      <span class="text-muted"><span aria-hidden="true">{% include 'bi/arrow-left.html' %}</span> Previous</span>
    {% endif %}

    {% if paginator and not page_obj.pages %}
      {% for page in paginator.page_range %}
          {% if page %}
              {% if page == page_obj.number %}
                  <span class="current page">{{ page }}</span>
              {% else %}
                  <a href="?{% url_replace page=page %}" class="page">{{ page }}</a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
    {% else %}
      {# If is SciPostPaginator... #}
      {% for page in page_obj.pages %}
          {% if page %}
              {% if page == page_obj.number %}
                  <span class="current page">{{ page }}</span>
              {% else %}
                  <a href="?{% url_replace page=page %}" class="page">{{ page }}</a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor %}
    {% endif %}

    {% if page_obj.has_next %}
      <a class="" href="?{% url_replace page=page_obj.next_page_number %}">Next <span aria-hidden="true">{% include 'bi/arrow-right.html' %}</span></a>
    {% else %}
        <span class="text-muted">Next <span aria-hidden="true">{% include 'bi/arrow-right.html' %}</span></span>
    {% endif %}
</div>
