{% load request_filters %}

<div class="text-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-secondary" href="?{% url_replace page=page_obj.previous_page_number %}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
    {% else %}
        <span class="btn btn-secondary text-muted"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</span>
    {% endif %}

    {% if page_obj.number > 1 %}
        {% if page_obj.number > 2 %}
            <a href="?{% url_replace page=1 %}" class="btn px-1">1</a>
            {% if page_obj.number > 3 %}
                ...
            {% endif %}
        {% endif %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn px-1">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <span class="btn btn-info">{{ page_obj.number }}</span>

    {% if page_obj.number < page_obj.paginator.num_pages %}
        <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn px-1">{{ page_obj.next_page_number }}</a>

        {% if page_obj.number|add:"2" < page_obj.paginator.num_pages %}
            ...
        {% endif %}
        {% if page_obj.number|add:"1" < page_obj.paginator.num_pages %}
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}" class="btn px-1">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        <a class="btn btn-secondary" href="?{% url_replace page=page_obj.next_page_number %}">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    {% else %}
        <span class="btn btn-secondary text-muted">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
    {% endif %}
</div>
