{% load automarkup %}
<p>Dear {{ submission.submitted_by.profile.formal_name }},</p>

<p>
  We regret to inform you that your recent Submission to {{ submission.submitted_to }},
  <br />
  <a href="https://{{ domain }}{{ submission.get_absolute_url }}">{{ submission.title }}</a>,
  <br />
  by {{ submission.author_list }}
  <br />
  has not passed the admission step.
</p>

{% if rejection_email_text %}
  <p>{% automarkup rejection_email_text %}</p>
{% endif %}

<p>
  Sincerely,
  <br />
  The SciPost Team.
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=submission %}
