<p>Dear {{ submission.submitted_by.profile.formal_name }},</p>

<p>
  We hereby acknowledge withdrawal of your recent SciPost submission,
  <br />
  <a href="https://{{ domain }}{{ submission.get_absolute_url }}">{{ submission.title }}</a>,
  <br />
  by {{ submission.author_list }}.
</p>

<p>
  Editorial processing of your manuscript is hereby terminated, and the associated Submission page has been removed from public view. You are now free to send your manuscript to an alternative journal.
</p>

<p>
  Despite this outcome, we thank you very much for your contribution. If you have further questions or comments, please feel free to get in touch with our <a href="mailto:edadmin@{{ domain }}">Editorial Administration</a>.
</p>

<p>
  Sincerely,
  <br />
  The SciPost Team
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=submission %}
