<p>Dear {{ assignment.submission.submitted_by.profile.formal_name }},</p>

<p>
  For your information, your Submission
  <br />
  <a href="https://{{ domain }}{{ assignment.submission.get_absolute_url }}">{{ assignment.submission.title }}</a>,
  <br />
  by {{ assignment.submission.author_list }}
  <br />
  has been assigned to an editor.
</p>

<p>
  The editor chose to directly formulate an Editorial Recommendation. You will be informed shortly by email about the status of this Editorial Recommendation.
</p>

<p>
  Sincerely,
  <br />
  The SciPost Team.
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=assignment.submission %}
