{% load automarkup %}

<p>Dear {{ submission.submitted_by.profile.formal_name }},</p>

<p>
  We regret to inform you that your recent Submission to {{ submission.submitted_to }}
  <br />
  <a href="https://{{ domain }}{{ submission.get_absolute_url }}">{{ submission.title }}</a>,
  <br />
  by {{ submission.author_list }}
  <br />
  has not passed the Preassignment stage.
</p>

{% if comments_for_authors %}
  {% automarkup comments_for_authors %}
{% endif %}

<p>
  In view of this, we are unable to proceed further with the handling of your manuscript. We hope you can easily find an alternative publishing venue.
</p>
<p>
  Despite this unsuccessful outcome, we thank you very much for your contribution, and hope to be able to be of service to you in the future.
</p>
<p>Sincerely,</p>
<p>The SciPost Team.</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=submission %}
