<p>
  Dear {{ submission.submitted_by.profile.get_title_display }} {{ submission.submitted_by.user.last_name }},
</p>
<p>
  We would hereby like to give you an update on your recent SciPost submission,
</p>
<p>
  {{ submission.title }}
  <br/>
  by {{ submission.author_list }}.
</p>
<p>
  Your Submission is still in the screening stage (during which an Editor-in-charge is sought). We have contacted {{ submission.editorial_assignments.all|length }} potential Fellows up to now but are still looking for one to take charge.
</p>
<p>
  Over the next week, we will expand our search for an Editor-in-charge; if this is successful, you will receive a notification from us. Should we fail to find one, we will contact you again to inform you of the situation.
</p>
<p>Sincerely,</p>
<p>The SciPost Team</p>
{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=submission %}
