{% load common_extras %}

<p>Dear {{ submission.submitted_by.profile.formal_name }},</p>
<p>We would hereby like to give you an update on your recent SciPost submission,</p>
<p>
  <a href="https://{{ domain }}{% url 'submissions:submission' submission.preprint.identifier_w_vn_nr %}">{{ submission.title }}</a>,
  <br />
  by {{ submission.author_list }}.
</p>

<p>
  Your Submission is in the "seeking assignment" stage, where unfortunately no Editor-in-charge has yet volunteered to take charge of your Submission. At SciPost, Editorial Fellows choose which Submissions they wish to handle according to their interests, expertise and availability. While in this stage, your Submission will be visible to all Fellows with a matching specialty, who may choose to take charge at any time. When this occurs, you will be immediately informed and the refereeing process will begin.
</p>

{% if weeks_passed == "1" and submission.qualification_set.exists %}
  <p>
    Over the past week, your submission has been examined by {{ submission.qualification_set.all|length }} Fellow{{ submission.qualification_set.all|pluralize }}, but there was no volunteer among them willing to take charge.
  </p>
{% endif %}

{% if submission.conditional_assignment_offers.offered.exists %}

  <p>
    However, some of our Fellows would be willing to immediately take charge of your Submission under certain conditions.
    Please find a summary of these offers below:
  </p>
 
  {% regroup submission.conditional_assignment_offers.offered|dictsort:"offered_on" by condition_details as offers_by_type %}
  <ul>

    {% for offers in offers_by_type %}
      {% with offer=offers.list.0 %}
        <li>
          {{ offers.list|length }} offer{{ offers.list|pluralize }} for {{ offer.condition }}: <a href="https://{{ domain }}{% url 'submissions:accept_conditional_assignment_offer' submission.preprint.identifier_w_vn_nr offer.id %}">Accept</a> (login required, direct link without confirmation)
        </li>
      {% endwith %}
    {% endfor %}

  </ul>

  <p>
    Should you accept any such offer, the requested conditions will be applied, and the Fellow in question will immediately be notified and take charge of your Submission.
    If you feel no offer is suitable, no further action is required from your side. Your Submission will then simply remain in the "seeking assignment" stage.
  </p>
{% endif %}

{% if submission.nearing_default_assignment_deadline %}
  <p>
    We strive to assign an Editor in Charge within a week of submission. If that is not possible, we continue searching for an appropriate and available editor for up to {{ default_assignment_period_weeks }} weeks for submissions to {{ submission.submitted_to.name }}. Since {{ weeks_passed }} week{{ weeks_passed|pluralize }} {{ weeks_passed|pluralize:"has,have" }} already passed, we would like to further present you with the following options:
    <ul>

      <li>
        You can wait until the nominal duration of the assignment stage is reached ({{ weeks_until_assignment_deadline }} week{{ weeks_until_assignment_deadline|pluralize }} remaining), while we keep searching for an Editor-in-charge. Your submission will be readily visible to our Fellows where they can choose to volunteer at any time. When the deadline is reached, your submission will be returned to you, freeing you to submit it elsewhere.
      </li>

      <!-- Deadline extension option, only if not already extended -->

      {% if not submission.has_extended_assignment_deadline %}
        <li>
          You can <a href="https://{{ domain }}{% url 'submissions:extend_assignment_deadline' submission.preprint.identifier_w_vn_nr %}">extend the assignment stage deadline</a> by an additional {{ default_assignment_period_weeks|int_divide:2 }} weeks. Note that this extension may only happen once.
        </li>
      {% else %}
        <li>
          You have already extended the assignment stage once. If you would like to request a further extension, please <a href="https://{{ domain }}{% url 'submissions:communication' submission.preprint.identifier_w_vn_nr 'AtoS' %}">contact Editorial Administration</a> (login required) to discuss this possibility.
        </li>
      {% endif %}

      <li>
        You can elect to <a href="https://{{ domain }}{% url 'submissions:withdraw_manuscript' submission.preprint.identifier_w_vn_nr %}">withdraw your Submission</a> (e.g. if you wish to seek an alternative venue). This action can be performed at any time from your personal page, under the Submissions tab.
      </li>

    </ul>
  </p>
{% endif %}

<p>
  We thank you for your patience and understanding. If you have any questions or concerns, please do not hesitate to <a href="https://{{ domain }}{% url 'submissions:communication' submission.preprint.identifier_w_vn_nr 'AtoS' %}">contact Editorial Administration</a> (login required).
</p>

<p>Sincerely,</p>
<p>The SciPost Team</p>
{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=submission %}
