{% load scipost_extras %}

{% with disclosure=object.gen_ai_disclosures.first %}

  {% if disclosure and disclosure.was_used %}
    <div class="bg-info bg-opacity-25 p-2 mb-3">
      <div class="fs-6 mb-2">
        <span class="text-primary me-2">{% include 'bi/exclamation-circle-fill.html' %}</span>
        Disclosure of Generative AI use
      </div>
      <p>
        The authors disclose that the following generative AI tools have been used in the preparation of this {{ object|object_name }}:
      </p>
      <p class="mb-0">{{ disclosure.use_details|linebreaksbr }}</p>
    </div>
  {% endif %}

{% endwith %}
