<div class="row">
  <div class="col-6">
    <table class="table">
      <tr>
	<td>Name</td><td>{{ org.name }}</td>
      </tr>
      {% if org.name_original %}
      <tr>
	<td>Name (original vn)</td><td>{{ org.name_original }}</td>
      </tr>
      {% endif %}
      <tr>
	<td>Acronym</td><td>{{ org.acronym }}</td>
      </tr>
      <tr>
	<td>Country</td><td>{{ org.get_country_display }}</td>
      </tr>
      <tr>
	<td>Address</td><td>{{ org.address }}</td>
      </tr>
      <tr>
	<td>Type</td><td>{{ org.get_orgtype_display }}</td>
      </tr>
      <tr>
	<td>Status</td><td>{{ org.get_status_display }}</td>
      </tr>
      {% if org.superseded_by %}
      <tr>
	<td>Superseded by</td><td>{{ org.superseded_by.get_absolute_url }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
  <div class="col-6">
    {% if org.logo %}
      <img class="d-flex mr-3 {{ org.css_class }}" src="{{ org.logo.url }}" alt="image"/>
    {% endif %}
  </div>
</div>
