{% load bootstrap %}

{% load user_groups %}
{% load organizations_extras %}

{% is_scipost_admin request.user as is_scipost_admin %}

<div class="card-body">

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs" id="organization-{{ org.id }}-tab" role="tablist">
	<li class="nav-item">
	  <a class="nav-link" id="details-{{ org.id }}-tab" data-toggle="tab" href="#details-{{ org.id }}" role="tab" aria-controls="details-{{ org.id }}" aria-selected="true">Details</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link active" id="publications-{{ org.id }}-tab" data-toggle="tab" href="#publications-{{ org.id }}" role="tab" aria-controls="publications-{{ org.id }}" aria-selected="true">Publications{% if is_scipost_admin %} & PubFractions{% endif %}</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" id="authors-{{ org.id }}-tab" data-toggle="tab" href="#authors-{{ org.id }}" role="tab" aria-controls="authors-{{ org.id }}" aria-selected="true">Associated Authors</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" id="funders-{{ org.id }}-tab" data-toggle="tab" href="#funders-{{ org.id }}" role="tab" aria-controls="funders-{{ org.id }}" aria-selected="true">Funder Registry instances</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" id="support-{{ org.id }}-tab" data-toggle="tab" href="#support-{{ org.id }}" role="tab" aria-controls="support-{{ org.id }}" aria-selected="true">Support history</a>
	</li>
	{% if perms.scipost.can_manage_organizations %}
	<li class="nav-item">
	  <a class="nav-link" id="manage-{{ org.id }}-tab" data-toggle="tab" href="#manage-{{ org.id }}" role="tab" aria-controls="manage-{{ org.id }}" aria-selected="true">Manage</a>
	</li>
	{% endif %}
      </ul>

      <div class="tab-content" id="organization-{{ org.id }}-tab">

	<div class="tab-pane pt-4" id="details-{{ org.id }}" role="tabpanel" aria-labelledby="details-{{ org.id }}-tab">
	  <h3>Details:</h3>
	  {% include 'organizations/_organization_details_contents.html' with org=org %}
	</div>

	<div class="tab-pane show active pt-4" id="publications-{{ org.id }}" role="tabpanel" aria-labelledby="publications-{{ org.id }}-tab">
	  <h3>Publications associated to this Organization{% if is_scipost_admin %} <span class="text-muted small">(with total PubFractions <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="" data-original-title="Fraction of a publication's funding/institutional support associated to a given Organization"></i>)</span>{% endif %}:</h3>
	  {% for pubyear in pubyears %}
	  <h4>{{ pubyear }}{% if is_scipost_admin %} <span class="text-muted small">(total pubfractions: {{ org|pubfractions_in_year:pubyear }})</span>{% endif %}</h4>
	  <ul>
	    {% for publication in org.get_publications %}
	    {% if publication.publication_date|date:'Y'|add:"0" == pubyear %}
	    <li>
              <a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
              <br>by {{ publication.author_list }},
              <br>{{ publication.citation }}
	    </li>
	    {% endif %}
	    {% endfor %}
	  </ul>
	  {% endfor %}
	</div>

	<div class="tab-pane pt-4" id="authors-{{ org.id }}" role="tabpanel" aria-labelledby="authors-{{ org.id }}-tab">
	  <h3>Associated Authors:</h3>
	  <div class="row">
	    <div class="col-6">
	      <h4>Registered Contributors:</h4>
	      <ul>
		{% for author in org.get_contributor_authors %}
		<li><a href="{{ author.get_absolute_url }}">{{ author }}</a></li>
		{% empty %}
		<li>No Contributors found</li>
		{% endfor %}
	      </ul>
	    </div>
	    <div class="col-6">
	      <h4>Unregistered:</h4>
	      <ul>
		{% for author in org.get_unregistered_authors %}
		<li>{{ author }}</li>
		{% empty %}
		<li>No unregistered author found</li>
		{% endfor %}
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="tab-pane pt-4" id="funders-{{ org.id }}" role="tabpanel" aria-labelledby="funders-{{ org.id }}-tab">
	  <h3>Funder Registry instances associated to this Organization:</h3>
	  <ul>
	    {% for funder in org.funder_set.all %}
	    <li>{{ funder }}</li>
	    {% empty %}
	    <li>No Funder Registry instance found<br/><br/>
	      <strong class="text-danger">Without a Funder Registry instance, we cannot record funding acknowledgements to this Organization with Crossref.</strong>
	      <p>Are you a representative of this Organization? Please:</p>
	      <ol>
		<li>Make sure your Organization is included in <a href="https://www.crossref.org/services/funder-registry/" target="_blank">Crossref's Funder Registry</a></li>
		<li>After inclusion, <a href="mailto:admin@scipost.org?subject=Inclusion of {{ organization }} {% if organization.acronym %}({{ organization.acronym }}){% endif %} in the Funder Registry">contact our administration</a> with this information so that we can update our records.</li>
	      </ol>
	    </li>
	    {% endfor %}
	  </ul>
	</div>

	<div class="tab-pane pt-4" id="support-{{ org.id }}" role="tabpanel" aria-labelledby="support-{{ org.id }}-tab">
	  <h3>Supporting Partner Agreements history:</h3>
	  {% with agreement=org.partner.get_latest_active_agreement %}
	  {% if agreement %}
	  <p>This organization is currently a SciPost Supporting Partner.</p>
	  {% endif %}
	  {% endwith %}
	  {% if org.partner.agreements %}
	  <table class="table">
	    <thead>
	      <th>Status</th>
	      <th>Duration</th>
	      <th>Start date</th>
	      <th>Contribution/year</th>
	    </thead>
	    <tbody>
	      {% for agreement in org.partner.agreements.all %}
	      <tr>
		<td>{{ agreement.get_status_display }}</td>
		<td>{{ agreement.get_duration_display }}</td>
		<td>{{ agreement.start_date }}</td>
		<td>&euro; {{ agreement.offered_yearly_contribution }}</td>
	      </tr>
	      {% endfor %}
	      <tr style="border-top: 2px solid black">
		<td colspan="2"></td><td>Total contribution obtained:</td><td>&euro; {{ org.get_total_contribution_obtained }}</td></tr>
	    </tbody>
	  </table>
	  {% else %}
	  <p>This organization has <span class="text-danger">not yet</span> been a SciPost Supporting Partner.</p>
	  {% endif %}
	</div>

	<div class="tab-pane pt-4" id="manage-{{ org.id }}" role="tabpanel" aria-labelledby="manage-{{ org.id }}-tab">
	  {% if perms.scipost.can_manage_organizations %}
	  <h3>Manage this organization:</h3>
	  <ul>
	    <li><a href="{% url 'organizations:organization_update' pk=org.id %}">Update</a></li>
	    <li><a href="{% url 'organizations:organization_delete' pk=org.id %}">Delete</a></li>
	  </ul>
	  <hr/>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</div>
