{% extends 'organizations/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: Organization details{% endblock pagetitle %}

{% block breadcrumb_items %}
{{ block.super }}
<a href="{% url 'organizations:organization_list' %}" class="breadcrumb-item">Organizations</a>
<span class="breadcrumb-item">{{ organization }}</span>
{% endblock %}

{% block content %}

<h1 class="highlight">{{ organization }}</h1>

<div class="row">
  <div class="col-12">
    {% include 'organizations/_organization_card.html' with org=organization pubyears=pubyears %}
  </div>
</div>


{% endblock content %}
