{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
    {{ block.super }}
<span class="breadcrumb-item"><a href="{% url 'profiles:duplicates' %}">Duplicates</a></span>
<span class="breadcrumb-item">Merge Profiles {{ profile_to_merge.id }} and {{ profile_to_merge_into.id }}</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Profile duplicates: merge{% endblock pagetitle %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="highlight">Merge Profiles {{ profile_to_merge.id }} and {{ profile_to_merge_into.id }}</h1>
    </div>
    <div class="col-lg-6">
        <h3 class="mb-3">Profile {{ profile_to_merge.id }}</h3>
    	{% include 'profiles/_profile_card.html' with profile=profile_to_merge %}
    </div>
    <div class="col-lg-6">
        <h3 class="mb-3">Profile {{ profile_to_merge_into.id }}</h3>
    	{% include 'profiles/_profile_card.html' with profile=profile_to_merge_into %}
    </div>

    <div class="col-12">
        <hr>
        <h3 class="highlight">Merge:</h3>
        <form method="post">
          {% csrf_token %}
          {{ merge_form|bootstrap }}
          <input class="btn btn-primary" type="submit" value="Confirm merge">
        </form>
    </div>
</div>

{% endblock content %}
