{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Delete {{ profile }}</span>
{% endblock %}

{% block pagetitle %}: Delete Profile{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Delete Profile</h1>
      {% include 'profiles/_profile_card.html' with profile=profile %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form method="post">
	{% csrf_token %}
	<h3 class="mb-2">Are you sure you want to delete this Profile?</h3>
	<input type="submit" class="btn btn-danger" value="Yes, delete it" />
      </form>
    </div>
  </div>

{% endblock content %}
