{% extends 'scipost/_personal_page_base.html' %}

{% load bootstrap %}
{% load add_get_parameters %}

{% block breadcrumb_items %}
    {{ block.super }}
    <span class="breadcrumb-item">Profiles</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Profiles{% endblock pagetitle %}

{% block content %}
<div class="row">
  <div class="col-12">
    <p>
      <ul>
	<li>View only Profiles <a href="{% add_get_parameters contributor=True %}">with</a> or <a href="{% add_get_parameters contributor=False %}">without</a> an associated Contributor</li>
	<li><a href="{% url 'profiles:profile_create' from_type='contributor' pk=next_contributor_wo_profile.id %}">Create a Profile</a> for Contributors without one ({{ nr_contributors_wo_profile }} to handle)</li>
      </ul>
      <ul class="list-inline">
	<li class="list-inline-item">
	  <a href="{% url 'profiles:profiles' %}">View all</a> or view by discipline/subject area:
	</li>
	{% for discipline in subject_areas %}
	<li class="list-inline-item">
	  <div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton{{ discipline.0|cut:" " }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ discipline.0 }}</button>
	    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ discipline.0|cut:" " }}">
	      <a class="dropdown-item" href="?discipline={{ discipline.0|cut:' '}}">View all in {{ discipline.0 }}</a>
	      {% for area in discipline.1 %}
	      <a class="dropdown-item" href="?discipline={{ discipline.0|cut:' '}}&expertise={{ area.0}}">{{ area.0 }}</a>
	      {% endfor %}
	    </div>
	  </div>
	  </li>
	{% endfor %}
      </ul>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <a href="{% url 'profiles:profile_create' %}">Add a Profile</a>
    <br/><br/>
    {% if request.GET.discipline %}
    <h3>Profiles in {{ request.GET.discipline }}{% if request.GET.expertise %}, {{ request.GET.expertise }}{% endif %} ({% if request.GET.contributor == "True" %}registered Contributors{% elif request.GET.contributor == "False" %}unregistered as Contributors{% else %}all registered/unregistered{% endif %}):</h3>
    <br/>
    {% endif %}
    <table class="table table-hover mb-5">
      <thead class="thead-default">
	<tr>
	  <th>Name</th>
	  <th>Discipline</th>
	  <th>Expertises</th>
	  <th>Contributor?</th>
	</tr>
      </thead>
      <tbody id="accordion" role="tablist" aria-multiselectable="true">
	{% for profile in object_list %}
	<tr data-toggle="collapse" data-parent="#accordion" href="#collapse{{ profile.id }}" aria-expanded="false" aria-controls="collapse{{ profile.id }}" style="cursor: pointer;">
	  <td>{{ profile.last_name }}, {{ profile.get_title_display }} {{ profile.first_name }}</td>
	  <td>{{ profile.get_discipline_display }}</td>
	  <td>
	    {% for expertise in profile.expertises %}
            <div class="single d-inline" data-specialization="{{expertise|lower}}" data-toggle="tooltip" data-placement="bottom" title="{{expertise|get_specialization_display}}">{{expertise|get_specialization_code}}</div>
	    {% endfor %}
	  </td>
	  <td>{% if profile.contributor %}<i class="fa fa-check-circle text-success"></i>{% else %}<i class="fa fa-times-circle text-danger"></i>{% endif %}</td>
	</tr>
	<tr id="collapse{{ profile.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ profile.id }}" style="background-color: #fff;">
	  <td colspan="4">
	    {% include 'profiles/_profile_card.html' with profile=profile %}
	  </td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="4">No Profiles found</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>

  </div>
</div>
{% endblock content %}
