{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Duplicates</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Profile duplicates{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Potentially duplicate Profiles</h1>
      {% if merge_form %}
        <form action="{% url 'profiles:merge' %}" method="get">
          {{ merge_form|bootstrap }}
          <input class="btn btn-outline-secondary" type="submit" value="Check">
        </form>
      {% endif %}

      <br>
      <h3>All found duplicates</h3>
      <ul>
	{% for prof_dup in object_list %}
          <li>{{ prof_dup }} (<em>id={{ prof_dup.id }}</em>)</li>
	{% empty %}
          <li<em>No duplicates found</em></li>
	{% endfor %}
      </ul>

      {% if is_paginated %}
	<div class="col-12">
	  {% include '_pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}

    </div>
  </div>

{% endblock content %}
