{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Details</span>
{% endblock %}

{% load scipost_extras %}

{% block meta_description %}{{ block.super }} Profile Details{% endblock meta_description %}
{% block pagetitle %}: Profile details{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      {% include 'profiles/_profile_card.html' with profile=object %}
    </div>
  </div>

{% endblock content %}
