{% extends 'forums/base.html' %}

{% load bootstrap %}
{% load static %}


{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">{% if form.instance.id %}Update {{ form.instance }}{% else %}Add new Forum{% endif %}</span>
{% endblock %}

{% block pagetitle %}: Forums{% endblock pagetitle %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <form action="" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  <script src="{% static 'scipost/slugify-name.js' %}"></script>
{% endblock footer_script %}
