{% extends 'forums/base.html' %}

{% load bootstrap %}
{% load guardian_tags %}

{% block breadcrumb_items %}
    {{ block.super }}
<span class="breadcrumb-item">Details</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Forum details{% endblock pagetitle %}

{% get_obj_perms request.user for forum as "user_perms" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h3 class="highlight d-flex justify-content-between">
      {{ forum.name }}
      <span class="badge badge-primary badge-pill">{% with nr_posts=forum.nr_posts %}{{ nr_posts }} post{{ nr_posts|pluralize }}{% endwith %}</span>
    </h3>

    {% if forum.parent %}
    <p>Parent: <a href="{{ forum.parent.get_absolute_url }}">{{ forum.parent }}</a></p>
    {% endif %}
    {% if forum.child_forums.all|length > 0 %}
    <p>Descendants: {% for child in forum.child_forums.all %}<a href="{{ child.get_absolute_url }}">{{ child }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}

    {% if perms.forums.add_forum or "can_change_forum" in user_perms %}
    <h4>Admin actions:</h4>
    <ul>
      <li><a href="{% url 'forums:forum_create' parent_model='forum' parent_id=forum.id %}">Create a (sub)Forum within this one</a></li>
      <li>
	{% if not forum.child_forums %}
	<a href="{% url 'forums:forum_delete' slug=forum.slug %}" class="text-danger">Delete this Forum (and all Posts it contains)</a>
	{% else %}
	<span class="text-danger" style="text-decoration: line-through;">Delete this Forum</span> Please delete descendant Forums first.
	{% endif %}
      </li>
    </ul>

    <div class="card">
      <div class="card-header">
	Permissions on this Forum instance
	<button class="btn btn-link small" data-toggle="collapse" data-target="#permissionsCard">
	View/manage</button>
      </div>
      <div class="card-body collapse" id="permissionsCard">
	<p><a href="{% url 'forums:forum_permissions' slug=forum.slug %}">Grant permissions to a new group</a></p>
	<p>Groups with permissions [click on the Group's name to manage permissions]:</p>
	<ul>
	  {% for group in groups_with_perms %}
	  {% get_obj_perms group for forum as "group_perms" %}
	  <li><a href="{% url 'forums:forum_permissions' slug=forum.slug group_id=group.id %}">{{ group.name }}</a>: {{ group_perms }}</li>
	  {% empty %}
	  <li>No group has permissions on this Forum</li>
	  {% endfor %}
	</ul>

	<p>Users with permissions:</p>
	<ul>
	  {% for u in users_with_perms %}
	  {% get_obj_perms u for forum as "u_perms" %}
	  <li>{{ u.first_name }} {{ u.last_name }}: {{ u_perms }}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>

    {% endif %}

    {% for post in forum.posts.all %}
    {% include 'forums/post_card.html' with forum=forum post=post %}
    {% endfor %}

    <p>
      <a href="{% url 'forums:post_create' slug=forum.slug parent_model='forum' parent_id=forum.id %}">Add a Post</a>
    </p>

  </div>
</div>

{% endblock content %}
