{% extends 'forums/base.html' %}

{% load bootstrap %}
{% load automarkup %}


{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">{% if form.instance.id %}Update {{ form.instance }}{% else %}New Motion{% endif %}</span>
{% endblock %}

{% block pagetitle %}: Motion{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Create a new Motion</h3>
      <form action="" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Run preview" class="btn btn-primary">
      </form>
    </div>
  </div>

{% endblock content %}
