{% load django_docutils %}

<div class="card" id="post{{ post.id }}">
  <div class="card-header">
    {{ post.subject }}
    <div class="postInfo">
      {{ post.posted_by }} on {{ post.posted_on|date:"Y-m-d" }}
      - <a href="{{ post.get_absolute_url }}"><i class="fa fa-link" title="permalink to this Post"></i></a>
      {% if post.parent %}
      - regarding <a href="{{ post.parent.get_absolute_url }}">{{ post.parent }}</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {{ post.text|restructuredtext }}
  </div>
  <div class="card-footer">
    <a href="{% url 'forums:post_create' slug=forum.slug parent_model='post' parent_id=post.id %}">Reply to this post</a>
  </div>
  {% if post.followup_posts.all|length > 0 %}
  <div class="followupPosts">
    <h3><span class="badge badge-primary badge-pill">{% with nr_followups=post.nr_followups %}{{ nr_followups }} repl{{ nr_followups|pluralize:"y,ies" }}{% endwith %}</span></h3>
    {% for followup in post.followup_posts.all %}
    {% include 'forums/post_card.html' with post=followup %}
    {% endfor %}
  </div>
  {% endif %}
</div>
