{% extends 'finances/base.html' %}

{% load static %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Average Publication Expenditures</span>
{% endblock %}

{% block pagetitle %}: Average Publication Expenditures{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="highlight">Average Publication Expenditures</h2>
      <p>These tables display how our total yearly expenses are ascribed to publishing activities
	in our Journals, the purpose being to determine the average expenditure per publication
	which we have achieved.</p>
      <p><strong>N.B.</strong>: these numbers are indicative only (accurate to 3 digits);
	see our yearly financial reports for a fully detailed breakwown of our expenses.</p>
      <table class="table">
	{% for year in data.pubyears reversed %}
	  {% for key, val in data.items %}
	    {% if year == key|add:"0" %}
	      <tr>
		<td>{{ year }}{% if year == data.pubyears|last %}<br><em class="text-danger">(in progress)</em>{% endif %}</td>
		<td>
		  <table class="table">
		    <thead>
		      <tr>
			<th>Journal</th>
			<th class="text-right">Nr of publications{% if year == data.pubyears|last %}<br><em class="text-danger">(in progress)</em>{% endif %}</th>
			<th class="text-right">Expenditure per publication{% if year == data.pubyears|last %}<br><em class="text-danger">(in progress)</em>{% endif %}</th>
			<th class="text-right">Total expenditures{% if year == data.pubyears|last %}<br><em class="text-danger">(in progress)</em>{% endif %}</th>
		      </tr>
		    </thead>
		    <tbody>
		      {% for journal, journaldata in val.items %}
			{% if journaldata.npub > 0 %}
			  <tr>
			    <td>{{ journal }}</td>
			    <td class="text-right">{{ journaldata.npub }}</td>
			    <td class="text-right">{{ journaldata.cost_per_pub }}</td>
			    <td class="text-right">{{ journaldata.expenditures }}</td>
			  </tr>
			{% endif %}
		      {% endfor %}
		      <tr class="table-info">
			<td colspan="3">Total publishing expenditures{% if year == data.pubyears|last %}<br><em class="text-danger">(in progress)</em>{% endif %}</td>
			<td class="text-right">{{ val.expenditures }}</td>
		      </tr>
		    </tbody>
		  </table>
		</td>
	      </tr>
	    {% endif %}
	  {% endfor %}
	{% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
