{% extends 'finances/base.html' %}

{% block headsup %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% load static %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
{% endblock %}

{% block pagetitle %}: Finances{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2>Finances</h2>

      <h3 class="highlight">Business Model</h3>
      <ul>
	<li>Visit our <a href="{% url 'finances:business_model' %}">business model page</a>
	  to get a quick run-down on how we make our operations sustainable.</li>
      </ul>

      <h3 class="highlight">Sponsors & Subsidies</h3>
      <ul>
	<li>Visit our <a href="{% url 'sponsors:sponsors' %}">Sponsors page</a>
	  to view our list of sponsors and more information on our sponsorship scheme.</li>
	<li><a href="{% url 'finances:subsidies' %}">View {% if perms.scipost.can_manage_subsidies %}(and manage) {% endif %}info on Subsidies obtained by SciPost</a></li>
      </ul>

      <h3 class="highlight">Financial Balance</h3>
      <p>The graph below gives a summarized representation of our financial health and
	of our current levels of sustainability.</p>
      <p>Note that our <a href="#reports">Financial Reports</a> below present our
	authoritative financial figures.
	An immediate difference is that multi-year subsidies are counted in our Reports
	in the year they were obtained, but are here spread out evenly to all years they
	apply to.</p>
      <p>For the year in progress, all numbers are purely indicative. Expenditures for
	a given year are in general converged 3 months after the end of the year.</p>
      <p>Subsidies listed in future years originate from longer-term sponsorship
	agreements which are already in place.</p>
      {% autoescape off %}
	{{ subsidies_plot }}
      {% endautoescape %}

      <h3 class="highlight">Current resources</h3>
      <div class="container">
	<p>(based on data averaged over the last 6 months).</p>
	<table class="table mb-4">
	  <thead>
	    <tr>
	      <th class="text-right">Resources</th>
	      <th class="text-right">Expenditures per month</th>
	      <th class="text-right">Sustainable months</th>
	      <th class="text-right">Corresponding number of publications</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td class="text-right">{{ resources.resources }}</td>
	      <td class="text-right">{{ resources.expenditures_mo|floatformat:"0" }}</td>
	      <td class="text-right">{{ resources.sustainable_months|floatformat:"0" }}</td>
	      <td class="text-right">{{ resources.npub|floatformat:"0" }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <h3 class="highlight">Average Publication Expenditures</h3>
      <ul>
	<li>Visit our <a href="{% url 'finances:apex' %}">APEX</a>
	  (Average Publication Expenditures) page
	  to see how our publishing expenditures add up from year to year,
	  including a per-Journal breakdown.</li>
      </ul>

      <h3 class="highlight" id="reports">Financial Reports</h3>
      <ul>
	<li><a href="{% static 'scipost/info/AnnualReports/AnnualReport_2015.pdf' %}">Annual Report 2015</a></li>
	<li><a href="{% static 'scipost/info/AnnualReports/AnnualReport_2016.pdf' %}">Annual Report 2016</a></li>
	<li><a href="{% static 'scipost/info/AnnualReports/AnnualReport_2017.pdf' %}">Annual Report 2017</a></li>
	<li><a href="{% static 'scipost/info/AnnualReports/AnnualReport_2018.pdf' %}">Annual Report 2018</a></li>
      </ul>

      {% if perms.scipost.can_view_timesheets %}
	<h3 class="highlight">Timesheets</h3>
	<ul>
	  <li><a href="{% url 'finances:timesheets' %}">Manage Timesheets</a></li>
	</ul>
      {% endif %}

    </div>
  </div>

{% endblock content %}
