{% extends 'finances/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item"><a href="{% url 'finances:subsidies' %}">Subsidies</a></span>
  <span class="breadcrumb-item">{% if form.instance.id %}Update {{ form.instance }}{% else %}Add new Subsidy{% endif %}</span>
{% endblock %}

{% block pagetitle %}: Subsidies{% endblock pagetitle %}


{% block content %}
  <div class="row">
    <form action="" method="post">
      <div class="col-12">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </form>
  </div>
{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock footer_script %}
