{% extends 'scipost/base.html' %}

{% block breadcrumb_items %}
    <span class="breadcrumb-item">Team Timesheets</span>
{% endblock %}

{% block pagetitle %}: Team Timesheets{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Team Timesheets</h1>

        <form method="get" action="{% url 'finances:timesheets' %}">
            {{ form|bootstrap }}
            <input type="submit" class="btn btn-primary" value="Filter">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="mb-2 mt-4">Team Timesheets</h2>
        {% for total in totals %}
            <h3 class="mb-1">{{ total.user }}</h3>
            <table class="table">
                <thead class="thead-default">
                  <tr>
                      <th>Date</th>
                      <th>By</th>
                      <th>Stream</th>
                      <th>Event</th>
                      <th>Duration</th>
                  </tr>
                </thead>

                <tbody>
                    {% for event in total.events %}
                        <tr>
                            <td>{{ event.noted_on }}</td>
                            <td>{{ event.noted_by }}</td>
                            <td>{{ event.stream }}</td>
                            <td>{{ event.get_event_display }}</td>
                            <td>{{ event.duration }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td><strong>{{ total.duration.total }}</strong></td>
                    </tr>
                </tbody>
            </table>
        {% empty %}
            <h3>Timesheet is empty for this month.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
