{% extends 'submissions/_pool_base.html' %}

{% block pagetitle %}: statistics for submisisons{% endblock pagetitle %}

{% load scipost_extras %}
{% load stats_extras %}

{% load bootstrap %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Statistics</span>
{% endblock %}

{% block content %}

<h1 class="highlight">Statistics</h1>

<h2>Aggregate statistics</h2>
<p>For each Journal, clicking on a year gives aggregate statistics for submissions (so including rejections). Clicking on a Journal/Volume/Issue gives aggregates for publications in this object.</p>
<ul>
  {% for journal in journals|dictsort:"doi_label" %}
  <li><a href="{% url 'stats:statistics' journal_doi_label=journal.doi_label %}">{{ journal }}</a></li>
  <ul>
  {% for year in journal|journal_publication_years %}
  <li><a href="{% url 'stats:statistics' journal_doi_label=journal.doi_label year=year %}">{{ year }}</a></li>
  {% endfor %}
  </ul>
  <ul>
{% for volume in journal.volume_set.all|dictsort:"number" %}
<li><a href="{% url 'stats:statistics' journal_doi_label=journal.doi_label volume_nr=volume.number %}">{{ volume }}</a></li>
<ul>
  {% for issue in volume.issue_set.all|dictsort:"number" %}
  <li><a href="{% url 'stats:statistics' journal_doi_label=journal.doi_label volume_nr=volume.number issue_nr=issue.number %}">{{ issue }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
  </ul>
  {% endfor %}
</ul>

{% if journal %}
    <h2>Results:</h2>
    <table class="table">
      <tr>
    	<th>DOI label</th>
    	{% if year %}
    	<th>Year</th>
    	<th>Nr submissions<br/>(distinct)</th>
	<th>Nr submissions<br/>(including resubmissions)</th>
	<th>Nr assignment failed</th>
	<th>Nr accepted/<br/>published</th>
	<th>Nr rejected</th>
	<th>Nr withdrawn</th>
    	{% else %}
    	<th>Nr publications</th>
    	<th>Duration average</th>
	{% endif %}
      </tr>
      <tr>
    	{% if issue %}
    	<td>{{ issue.doi_label }}</td>
    	<td>{{ issue|issue_nr_publications }}</td>
    	<td>{{ issue|issue_avg_processing_duration|floatformat:2 }} days</td>
    	{% elif volume %}
    	<td>{{ volume.doi_label }}</td>
    	<td>{{ volume|volume_nr_publications }}</td>
    	<td>{{ volume|volume_avg_processing_duration|floatformat:2 }} days</td>
    	{% else %}
    	<td>{{ journal.doi_label }}</td>
    	{% if year %}
    	<td>{{ year }}</td>
    	<td>{{ submissions|submissions_count_distinct }}</td>
    	<td>{{ submissions|length }}</td>
	<td>{{ submissions.assignment_failed.count }}</td>
	<td>{{ submissions.accepted.count|add:submissions.published.count }}</td>
	<td>{{ submissions.rejected.count }}</td>
	<td>{{ submissions.withdrawn.count }}</td>
    	{% else %}
    	<td>{{ journal|journal_nr_publications }}</td>
    	<td>{{ journal|journal_avg_processing_duration|floatformat:2 }} days</td>
	{% endif %}
    	{% endif %}
      </tr>
    </table>
    {% endif %}

    {% if year %}
    <h2>Refereeing stats for {{ year }}</h2>
    <table class="table">
      <tr>
	<th>Nr refereeing<br/>invitations</th>
	<th>Nr accepted</th>
	<th>Nr declined</th>
	<th>Nr pending</th>
	<th>Nr reports<br/>obtained</th>
	<th>Nr obtained<br/>(invited)</th>
	<th>Nr obtained<br/>(contributed)</th>
      </tr>
      <tr>
	<td>{{ nr_ref_inv }}</td>
	<td>{{ nr_acc }} ({% widthratio nr_acc nr_ref_inv 100 %}&#37;)</td>
	<td>{{ nr_dec }} ({% widthratio nr_dec nr_ref_inv 100 %}&#37;)</td>
	<td>{{ nr_pen }} ({% widthratio nr_pen nr_ref_inv 100 %}&#37;)</td>
	<td>{{ nr_rep_obt }}</td>
	<td>{{ nr_rep_obt_inv }} ({% widthratio nr_rep_obt_inv nr_rep_obt 100 %}&#37;)</td>
	<td>{{ nr_rep_obt_con }} ({% widthratio nr_rep_obt_con nr_rep_obt 100 %}&#37;)</td>
      </tr>
    </table>
    {% endif %}


{% endblock content %}
