<p>Dear {{ communication.recipient_name }},</p>

<p>
  Please find here a communication ({{ communication.get_comtype_display }}) concerning Submission:
  <br />
  <strong>{{ communication.submission.title }}</strong>
  <br />
  by {{ communication.submission.author_list }}.
</p>

<p>
  Text of the communication:
  <blockquote>
    <br />
    {{ communication.text }}
  </blockquote>
</p>

{% if communication.recipient_letter == "E" or communication.recipient_letter =="S" %}
  <p>
    You can take follow-up actions from the <a href="https://{{ domain }}/ {% url "submissions:editorial_page" communication.submission.preprint.identifier_w_vn_nr %}">Editorial page</a>.
  </p>
{% elif communication.recipient_letter == "R" or communication.recipient_letter == "A" %}
  <p>
    To reply to the {{ communication.get_author_type_display }}, please visit <a href="https://{{ domain }}/{{ communication.get_reply_url }}">draft a new communication</a>.
    You can find all previous communications between you and the {{ communication.get_author_type_display }}, as well as other communications tools, on the <a href="https://{{ domain }}/{{ communication.submission.get_absolute_url }}">Submission page</a>.
  </p>
{% endif %}

<p>
  Sincerely,
  <br />
  The SciPost Team.
</p>

{% include "email/_footer.html" %}
