<p>Dear {{ report.submission.submitted_by.profile.formal_name }},</p>

<p>
  A Report has been posted on your recent Submission to {{ report.submission.submitted_to.owner }}
  <br />
  <a href="https://{{ domain }}{{ report.submission.get_absolute_url }}">{{ report.submission.title }}</a>,
  <br />
  by {{ report.submission.author_list }}.
</p>

<p>
  You can view the report at the
  <a href="https://{{ domain }}{% url "submissions:submission" report.submission.preprint.identifier_w_vn_nr %}">Submission page</a>.
</p>

<p>
  We remind you that you can provide an author reply (only if you wish, to clarify points raised by the report) directly from the
  <a href="https://{{ domain }}{% url "submissions:submission" report.submission.preprint.identifier_w_vn_nr %}">Submission page</a>.
  Any modification to your manuscript <strong>should await the Recommendation</strong> from the Editor-in-charge.
</p>

<p>
  Sincerely,
  <br />
  The SciPost Team.
</p>

{% include "email/_footer.html" %}
