{% load scipost_extras %}

{% for obj in page_obj %}
  <li class="result-item"
      role="option"
      tabindex="1"
      hx-get="{% url "common:hx_dynsel_select_option" obj|content_type_id obj.id %}"
      hx-target="previous select"
      hx-swap="innerHTML"
      hx-trigger="click consume">{{ obj }}</li>
{% endfor %}

<!-- Pagination -->

{% if page_obj.has_next %}
  <li class="htmx-indicator w-100 d-flex justify-content-center bg-primary bg-opacity-25"
      hx-post="{{ request.path }}?page={{ page_obj.next_page_number }}"
      hx-include="previous input"
      hx-trigger="intersect once"
      hx-swap="outerHTML"
      hx-target="this"
      hx-indicator="closest div">
    <strong>Loading page {{ page_obj.next_page_number }} out of {{ page_obj.paginator.num_pages }}</strong>
    <div class="spinner-grow spinner-grow-sm ms-2"
         role="status"
         aria-hidden="true"></div>
  </li>
{% elif page_obj|length == 0 %}
  <li class="w-100 d-flex justify-content-center">
    <strong>No {{ model_name }} could be found</strong>
  </li>
{% else %}
  <li class="w-100 d-flex justify-content-center">
    <strong>All {{ model_name }} loaded</strong>
  </li>
{% endif %}
