<div class="hx-dynsel">
  <div class="input-query-container">
    <div role="button"
         type="button"
         hx-get="{% url "common:empty" %}"
         hx-swap="outerHTML"
         hx-target="next option[selected]">
      <span class="text-body">&#26;</span>
    </div>

    {% include "django/forms/widgets/select.html" %}
 
    <input name="q"
           value="{{ initial }}"
           type="text"
           hx-post="{{ url }}"
           hx-trigger="keyup changed delay:500ms"
           hx-swap="innerHTML"
           hx-target="next .result-list" />
  </div>
 
  <ul class="result-list">
  </ul>
 
</div>
