@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// General variable structure
//
//
$base-border-radius: 0;
$border-radius: 0;
$border-radius-lg: 2px;

// Alert
//
$alert-padding-y: 0;
$alert-padding-x: 0.75rem;

// Badges

$badge-padding-y: 0.4em;
$badge-border-radius: $border-radius;

// Grid
//
$grid-gutter-width: 20px;

// Colors
//
$scipost-light: #C3D7EE;
$scipost-lightblue: #6885c3;
$scipost-lightestblue: #d3e3f6;
$scipost-darkblue: #002b49;
$scipost-orange: #f6a11a;
// $scipost-white: #f9f9f9;
$scipost-white: #f6f6f6;
$sidebar-border-color: #dfe0e4;

// -- Bootstrap color codes
$white: #fff;
$blue: $scipost-lightblue;  // Primary
$green: #6ebb6e;
$cyan: $scipost-lightestblue;
$orange: $scipost-orange;
$yellow: $scipost-orange;
$gray-100: $scipost-white;
$gray-200: #e5e5e5;
$gray-300: #dfdfdf;
$gray-600: #ccc;
$text-muted: #636c72;

// Body
//
$body-bg: $gray-100;
$body-color: $scipost-darkblue;


// Alerts
//
$alert-border-radius: $base-border-radius;

// Cards
//
$card-border-radius: $base-border-radius;
$card-spacer-x: 0.75rem;
$card-spacer-y: 0.5rem;
$card-shadow-color: #ccc;
$card-grey-border-bottom-color: #d0d1d5;
$card-grey-bg: $gray-100;
$card-grey-border-color: $scipost-lightblue $gray-100 $gray-100;


// breadcrumb
//
$breadcrumb-bg: $gray-100;
$breadcrumb-active-color: $scipost-darkblue;
$breadcrumb-divider-color: $scipost-orange;

// Forms
//
$input-btn-padding-y-sm: 0.1rem;
$input-btn-padding-x: 0.5rem;
$input-btn-padding-y: 0.25rem;
$input-btn-padding-x-lg: 0.75rem;
$input-btn-padding-y-lg: 0.325rem;
$input-btn-line-height-lg: 1.4;
$input-border-radius-sm: $base-border-radius;
$input-border-radius: $base-border-radius;
$input-border-radius-lg: $base-border-radius;
$enable-rounded: true !important;
$btn-transition: none;

$input-height: calc(1.5rem + 2px);
$input-height-lg: calc(1.5rem + 2px);

// Lists
//
$list-group-bg: transparent;
$list-group-item-padding-x: 0;
$list-group-item-padding-y: 0;
$list-group-border-color: #ddd;
$list-group-active-color: $scipost-darkblue;
$list-group-active-bg: $scipost-lightestblue;
$list-group-active-border-color: $scipost-lightestblue;

// Fonts
//
$font-family-sans-serif: 'Merriweather Sans', "Helvetica Neue", Arial, sans-serif;
$headings-font-family: $font-family-sans-serif;
$font-family-serif:      $font-family-sans-serif;
$font-family-monospace:  $font-family-sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 0.8rem;
$font-size-sm: 0.7rem;
$font-size-lg: 1.0rem;

$h1-font-size: 1.8em;
$h2-font-size: 1.5em;
$h3-font-size: 1.3em;
$h4-font-size: 1.2em;
$h5-font-size: 1.0em;
$h6-font-size: 1.0em;

$close-font-weight: 100;

// Tables
//
$table-body-cell-padding: 0.25rem 0.5rem;


// Tooltip
//
$tooltip-font-size: $font-size-sm;

// Navbar
//
$navbar-light-color: $scipost-darkblue;
$navbar-light-hover-color: $scipost-darkblue;
$navbar-padding-x: 0.3rem;
$navbar-padding-y: 0.35rem;

$input-border-radius: 0;
$btn-border-radius: $base-border-radius;
$btn-border-radius-sm: $base-border-radius;
$btn-border-radius-lg: $base-border-radius;


// Block quote
//
$blockquote-font-size: $font-size-base;


// Popover
//
$popover-font-size:                 $font-size-sm;
$popover-border-color:              $gray-600;
$popover-arrow-width:               20px;
$popover-arrow-height:              10px;
$popover-arrow-color:               $white;
$popover-arrow-outer-color:         $gray-600;
$popover-max-width:                 500px;


//  ---
//
// Reset $theme-colors variable
$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);
