// General variable structure
//
//

// Grid
//
$grid-gutter-width-base: 20px;
$container-max-widths: (
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1240px
);

.row {
    margin-bottom: 1rem;
}

// Cards
//
$card-spacer-x: 0.75rem;
$card-border-radius: 0.15rem;
$card-border-color: rgba(238, 238, 238, 0.5);

// Colors
//
$scipost-lightblue: #6884C2;
$scipost-darkblue: #002b49;
$scipost-orange: #FFA300;

$blue: $scipost-lightblue !default;
$body-color: $scipost-darkblue !default;

// Forms
//
$btn-padding-x: .5rem;
$btn-padding-y: .25rem;
$btn-transition: none;
$input-padding-x: .5rem;
$input-padding-y: .25rem;

// Lists
//
$list-group-bg: transparent;
$list-group-item-padding-x: 0;
$list-group-item-padding-y: 0;
$list-group-border-color: #f1f1f1;

// Fonts
//
$font-family-sans-serif: 'Merriweather Sans', "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      $font-family-sans-serif !default;
$font-family-monospace:  $font-family-sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.8rem !default;
$font-size-sm: 0.75rem;

$font-size-h1: 2.0em;
$font-size-h2: 1.5em;
$font-size-h3: 1.17em;
$font-size-h4: 0.8rem;
$font-size-h5: 0.8rem;
$font-size-h6: 0.8rem;


// Navbar
//
$navbar-light-color: $scipost-darkblue !default;
$navbar-light-hover-color: $scipost-darkblue !default;

$input-border-radius: 0.15rem !default;
$btn-border-radius: 0.15rem !default;
