// General variable structure
//
//

// Colors
//
$scipost-lightblue: #6884C2 !default;
$scipost-darkblue: #002b49 !default;

$blue: $scipost-lightblue !default;
$body-color: $scipost-darkblue !default;

// Fonts
//
$font-family-sans-serif: 'Merriweather Sans', "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      $font-family-sans-serif !default;
$font-family-monospace:  $font-family-sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.8rem !default;


// navbar
//
$navbar-light-color: $scipost-darkblue !default;
$navbar-light-hover-color: $scipost-darkblue !default;
