{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: Process Citation Notification{% endblock pagetitle %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'invitations:list' %}" class="breadcrumb-item">Registration Invitations</a>
  <a href="{% url 'invitations:citation_notification_list' %}" class="breadcrumb-item">Citation Notifications</a>
  <span class="breadcrumb-item">Process</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Process Citation Notification</h1>

      <h3>All related unprocessed Citation Notifications</h3>
      {% for related_notification in form.get_all_notifications %}
        {% include 'invitations/_citationnotification_summary.html' with notification=related_notification %}
        <br>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-primary" name="save" value="Process all notifications">
      </form>

    </div>
  </div>

{% endblock %}
