{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: Add Citation Notification{% endblock pagetitle %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'invitations:list' %}" class="breadcrumb-item">Registration Invitations</a>
  <span class="breadcrumb-item">Add Citation Notification</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Add Citation Notification</h1>
      <h3>Registration Invitation</h3>
      {% include 'invitations/_registrationinvitation_summary.html' with invitation=object %}
    </div>
  </div>

  <hr class="divider">

  <div class="row">
    <div class="col-12">
      <h3>Submission or Publication to add to the Registration Invitation</h3>
      <br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Add">
      </form>

    </div>
  </div>

{% endblock %}

{% block footer_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock footer_script %}
