{% load scipost_extras %}

<table class="table">
    <thead>
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Type</th>
            <th>Drafted by</th>
            <th{% if perms.scipost.can_manage_registration_invitations %} colspan="2"{% endif %}>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for invitation in invitations %}
          <tr>
            <td>{{ invitation.last_name }}</td>
            <td>{{ invitation.first_name }}</td>
            <td>{{ invitation.email }}</td>
            <td>
                {% if invitation.status == 'draft' %}
                    {{ invitation.modified }}
                {% else %}
                    {{ invitation.date_sent_last }}
                {% endif %}
            </td>
            <td>{{ invitation.get_invitation_type_display }}</td>
            <td>{{ invitation.created_by.user.first_name }} {{ invitation.created_by.user.last_name }}</td>
            {% if perms.scipost.can_manage_registration_invitations %}
                <td>
                    {% if invitation.status == 'draft' %}
                        <a href="{% url 'invitations:update' invitation.id %}">Edit or send</a> &middot;
                        <a href="{% url 'scipost:mark_draft_inv_as_processed' draft_id=invitation.id %}">Mark as send</a>
                    {% elif invitation.status == 'sent' %}
                        <a href="{% url 'invitations:send_reminder' invitation.id %}">Send reminder</a>
                    {% endif %}
                </td>
            {% endif %}
            <td>
                <ul class="mb-0">
                    {% for ac in invitation|associated_contributors %}
                        <li>
                            <a href="{% url 'scipost:map_draft_reg_inv_to_contributor' draft_id=invitation.id contributor_id=ac.id %}">Map to {{ ac.user.first_name }} {{ ac.user.last_name }}</a>
                        </li>
                    {% empty %}
                        <li>No associated contributors found.</li>
                    {% endfor %}
                </ul>
            </td>
          </tr>
        {% empty %}
            <tr>
                <td colspan="8">No Invitations found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
