{% extends 'scipost/base.html' %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block headsup %}
  {% render_bundle 'vendors~apimail~main' 'css' %}
  {% render_bundle 'vendors~apimail' 'css' %}
  {% render_bundle 'apimail' 'css' %}
{% endblock headsup %}

{% block content %}

  <div id="messages-table">
    <messages-table></messages-table>
  </div>

{% endblock content %}

{% block footer_script %}
  {% render_bundle 'vendors~apimail~main' 'js' %}
  {% render_bundle 'vendors~apimail' 'js' %}
  {% render_bundle 'apimail' 'js' %}
{% endblock footer_script %}
