<p>Dear {{ contributor.profile.get_title_display }} {{ contributor.user.last_name }},</p>

<p>
    Your request for a new email activation link for registration to the SciPost publication portal has been received. You now need to visit this link within the next 48 hours:
</p>
<p>
    <a href="https://{{ domain }}{% url 'scipost:activation' contributor.id contributor.activation_key %}">Activate your account</a>
</p>

<p>
    Your registration will thereafter be vetted. Many thanks for your interest.<br>
    The SciPost Team.
</p>

{% include 'email/_footer.html' %}
