{% load scipost_extras %}

{% load static %}

<p class="mb-0 pb-0">
  <a href="{{ contributor.get_absolute_url }}">{{ contributor.profile.get_title_display }} {{ contributor.profile.full_name }}</a>
  {% if contributor.profile.webpage %}
    <a class="ms-2" href="{{ contributor.profile.webpage }}" target="_blank" rel="noopener">
      {% include "bi/link.html" %}
    </a>
  {% endif %}
  {% if senior %}
    [S]
  {% endif %}
</p>

{% if contributor.profile.current_affiliations.0 %}
  <span class="text-muted">
    <img src="{{ contributor.profile.current_affiliations.0.organization.country.flag }}" alt="{{ org.country }} flag"/>
    &nbsp;{{ contributor.profile.current_affiliations.0.organization.name }}  </span>
{% endif %}
<div>
  {% for specialty in contributor.profile.specialties.all %}
    <div class="single d-inline" data-specialty="{{ specialty.slug }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
  {% endfor %}
</div>
