{% load crispy_forms_tags %}

<div class="row mt-4">
  <div class="d-none d-lg-block col-3">
    <h3>All found duplicates</h3>
    <div style='max-height: 50vh' class="overflow-scroll">
      {% for contributor in duplicate_contributors %}
        <li>
          <div class="text-nowrap text-truncate" title="{{ contributor }}">
            {{ contributor }} (<em>id={{ contributor.id }}</em>)
          </div>
        </li>
      {% empty %}
        <em>No duplicates found</em>
      {% endfor %}
    </div>
  </div>

  <div class="col">
    {% if form %}
      {% crispy form %}
    {% endif %}
  </div>
</div>
