{% load journals_extras %}

<p class="mb-0 px-3 text-muted">{{ session_acad_field }}{% if session_specialty %}: {{ session_specialty }}{% endif %}</p>
<hr>
<ul class="list-group list-group-flush px-3 mb-3">
  {% for submission in submissions %}
    <li class="list-group-item py-2">
      {% include 'submissions/_submission_card_content_homepage.html' with submission=submission %}
    </li>
  {% empty %}
    <li class="list-group-item py-2">
      No submissions yet
    </li>
  {% endfor %}
</ul>

{% if not session_acad_field or session_acad_field.journals.active|length > 0 %}
  <hr>
  <p class="mb-3 px-3"><a href="{% url 'submissions:submissions' %}">View all Submissions</a></p>
{% endif %}
