<div id="news">
  <h2 class="title">
    News
    <button class="btn btn-link btn-sm m-0 mb-1" href="{% url 'scipost:feeds' %}" aria-label="RSS feeds">{% include 'bi/rss-fill.html' %}</button>
  </h2>
  <ul class="news-list">
    {% for news in news_items %}
      <li>
        <h3><a href="{% url 'news:news' %}#news_{{ news.id }}">{{ news.headline }}</a></h3>
        <div class="text-muted">{{ news.date|date:'j F Y' }}</div>
        <p>
	  {{ news.blurb_short }}
	  <br>
	  <br>
	  <a href="{% url 'news:news' %}#news_{{ news.id }}" class="my-1">Read more &rarr;</a>
        </p>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'news:news' %}" class="my-1">See complete News list</a>
</div>
