{% load journals_extras %}

<ul class="list-group list-group-flush px-3 mb-3">
  {% for submission in submissions %}
    <li class="list-group-item py-2">
      {% include 'submissions/_submission_card_content_homepage.html' with submission=submission %}
    </li>
  {% empty %}
    <li class="list-group-item py-2">
      No submissions yet
    </li>
  {% endfor %}
</ul>

{% if session_acad_field.journals.active|length > 0 %}
  <p class="mb-3 px-3"><a href="{% url 'submissions:submissions' %}">View all Submissions</a></p>
{% endif %}
