{% load journals_extras %}

<ul class="list-group list-group-flush px-3 mb-3">
  {% for publication in publications %}
    <li class="list-group-item py-2">
      {% include 'journals/_publication_li_content.html' with publication=publication %}
    </li>
  {% empty %}
    <li class="list-group-item py-2">
      No publications yet
    </li>
  {% endfor %}
</ul>

{% if not session_acad_field.journals.active|length > 0 %}
  <div class="card m-2 border-2">
    <div class="card-header m-0 p-0">
      <h2 class="m-0 p-4 text-white text-center bg-danger">We are not yet active in<br>{{ session_acad_field }}</h2>
    </div>
    <div class="card-body">
      <h3>Interested in helping us set things up?</h3>
      <p>
	<a href="mailto:admin@{{ request.get_host }}">Email us</a>
	your suggestions for Editorial Fellows.
      </p>
    </div>
  </div>
{% else %}
  <p class="mb-3 px-3"><a href="{% url 'journals:publications' %}">View all Publications</a></p>
{% endif %}
