{% load render_bundle from webpack_loader %}
{% load scipost_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    {% block basebundle %}
      {% render_bundle 'jquerybase' %}
    {% endblock basebundle %}

    <link rel="shortcut icon" href="{% static 'scipost/images/scipost_favicon.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block meta_description %}SciPost{% endblock meta_description %}">

    <title>SciPost{% block pagetitle %}{% endblock pagetitle %}</title>

    <style>{% for journal in journals %}{% if journal.style %}{{ journal.style }}{% endif %}{% endfor %}</style>

    {% block headsup %}
    {% endblock headsup %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="{% block body_class %}{% endblock %}">
    {% block header %}
      {% include 'scipost/header.html' %}
    {% endblock header %}
    {% block navbar %}
      {% include 'scipost/navbar.html' %}
    {% endblock navbar %}
    {% block breadcrumb %}{% endblock breadcrumb %}

    {% block secondary_navbar %}{% endblock secondary_navbar %}
    
    {% include 'scipost/messages.html' %}


    {% block base %}{% endblock base %}


    <div class="backdrop" id="backdrop"></div>
    <script nonce="{{ request.csp_nonce }}" src="{% static 'scipost/mathjax-config.js' %}"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe"></script>

    <script nonce="{{ request.csp_nonce }}">
      document.body.addEventListener('htmx:afterSettle', function () {
        MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
      })
    </script>
    {% block footer_script %}
    {% endblock footer_script %}

  </body>

</html>
