{% load render_bundle from webpack_loader %}
{% load scipost_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    {% block basebundle %}
      {% render_bundle 'base' %}
    {% endblock basebundle %}

    <link rel="shortcut icon" href="{% static 'scipost/images/scipost_favicon.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block meta_description %}SciPost{% endblock meta_description %}">

    <title>SciPost{% block pagetitle %}{% endblock pagetitle %}</title>

    {% block headsup %}
    {% endblock headsup %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include 'scipost/header.html' %}
    {% include 'scipost/navbar.html' %}
    {% block breadcrumb %}{% endblock breadcrumb %}

    {% block secondary_navbar %}{% endblock secondary_navbar %}
    {% include 'scipost/messages.html' %}


    {% block base %}{% endblock base %}


    <div class="backdrop" id="backdrop"></div>
    <script src="{% static 'scipost/mathjax-config.js' %}"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe"></script>

    {% block footer_script %}
    {% endblock footer_script %}

  </body>

</html>
