{% extends 'scipost/bare_base.html' %}

{% block body_class %}{{block.super}} has-sidebar{% endblock %}

{% block base %}
  <main class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9 pr-lg-3">

        {% block page_header %}{% endblock page_header %}

        {% block content %}{% endblock content %}

        {% block content_footer %}{% endblock content_footer %}
      </div>

      <div class="col-md-4 col-lg-3 sidebar mt-4 mt-md-0">
        {% block sidebar %}{% endblock %}
      </div>
    </div>
  </main>
  {% include 'scipost/footer.html' %}

{% endblock base %}
