{% extends 'scipost/_personal_page_base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Authorship Claims</span>
{% endblock %}

{% block pagetitle %}: authorship claims{% endblock pagetitle %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Contributor Authorship Claims</h1>
    </div>
  </div>

  {% if publication_authorships_to_claim %}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">SciPost Publications</h2>
        <h3>Potential authorships to claim (auto-detected)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% for pub in publication_authorships_to_claim %}
          <div class="card bg-light card-publication" id="{{pub.doi_label}}">
            {% include 'journals/_publication_card_content.html' with publication=pub %}
            <div class="card-footer">
              <form class="d-inline-block" action="{% url 'scipost:claim_pub_authorship' publication_id=pub.id claim=1 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-secondary" type="submit" value="I am an author" />
              </form>
              <form class="d-inline-block ms-1" action="{% url 'scipost:claim_pub_authorship' publication_id=pub.id claim=0 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="I am not an author" />
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if submission_authorships_to_claim %}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">SciPost Submissions</h2>
        <h3>Potential authorships to claim (auto-detected)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% for sub in submission_authorships_to_claim %}
          <div class="card">
            {% include 'submissions/_submission_card_content.html' with submission=sub %}
            <div class="card-footer">
              <form class="d-inline-block" action="{% url 'scipost:claim_sub_authorship' submission_id=sub.id claim=1 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-secondary" type="submit" value="I am an author" />
              </form>
              <form class="d-inline-block ms-1" action="{% url 'scipost:claim_sub_authorship' submission_id=sub.id claim=0 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="I am not an author" />
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}


  {% if commentary_authorships_to_claim %}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">SciPost Commentaries</h2>
        <h3>Potential authorships to claim (auto-detected)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% for com in commentary_authorships_to_claim %}
          <div class="card">
            {% include 'commentaries/_commentary_card_content.html' with commentary=com %}
            <div class="card-footer">
              <form class="d-inline-block" action="{% url 'scipost:claim_com_authorship' commentary_id=com.id claim=1 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-secondary" type="submit" value="I am an author" />
              </form>
              <form class="d-inline-block ms-1" action="{% url 'scipost:claim_com_authorship' commentary_id=com.id claim=0 %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="I am not an author" />
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if thesis_authorships_to_claim %}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">SciPost Thesis Links</h2>
        <h3>Potential authorships to claim (auto-detected)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% for thesis in thesis_authorships_to_claim %}
          <div class="card">
            {% include 'theses/_thesislink_card_content.html' with thesislink=thesis %}
            <div class="card-footer">
              <form class="d-inline-block" action="{% url 'scipost:claim_thesis_authorship' thesis_id=thesis.id claim=1%}" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-secondary" type="submit" value="I am an author" />
              </form>
              <form class="d-inline-block ms-1" action="{% url 'scipost:claim_thesis_authorship' thesis_id=thesis.id claim=0%}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="I am not an author" />
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if not submission_authorships_to_claim and not commentary_authorships_to_claim and not thesis_authorships_to_claim and not publication_authorships_to_claim %}
    <div class="row">
      <div class="col-12">
        <h2>You have no authorships to claim</h2>
      </div>
    </div>
  {% endif %}

{% endblock content %}
