{% extends 'scipost/base.html' %}

{% block meta_description %}{{ block.super }} Contributor info {{ contributor }}{% endblock meta_description %}
{% block pagetitle %}: Contributor {{ contributor }}{% endblock pagetitle %}

{% block content %}

  <h1 class="highlight mb-4">Contributor info: {{ contributor.profile.get_title_display }} {{ contributor.user.first_name }} {{ contributor.user.last_name }}</h1>


  <div class="card">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      {% include "scipost/_public_info_as_table.html" with contributor=contributor %}
    </div>
  </div>

  {% if contributor_publications %}

    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Publications <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#mypublicationslist">View/hide publications</button></small></h2>
      </div>
      <div class="col-12" id="mypublicationslist">
        <h3 class="mb-2">Publications for which this Contributor is identified as an author:</h3>
        {% for pub in contributor_publications %}
          <div class="card card-publication">
            {% include 'journals/_publication_card_content.html' with publication=pub %}
          </div>
        {% endfor %}
      </div>
    </div>

  {% endif %}

  {% if contributor_submissions %}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Submissions <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#mysubmissionslist">View/hide submissions</button></small></h2>
      </div>
      <div class="col-12" id="mysubmissionslist">
        <h3>Submissions for which this Contributor is identified as an author:</h3>
        <div>
          <ul class="list-group list-group-flush">
            {% for sub in contributor_submissions %}
              <li class="list-group-item">
                <div class="card-body px-0">
                  {% include 'submissions/_submission_card_content.html' with submission=sub %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if contributor_commentaries %}
    {# <hr>#}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Commentaries <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#mycommentarieslist">View/hide commentaries</button></small></h2>

      </div>
      <div class="col-12" id="mycommentarieslist">
        <h3>Commentaries for which this Contributor is identified as an author:</h3>
        <div>
          <ul class="list-group list-group-flush">
            {% for com in contributor_commentaries %}
              <li class="list-group-item">
                {% include 'commentaries/_commentary_card_content.html' with commentary=com %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if contributor_theses %}
    {# <hr>#}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Theses <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#mytheseslist">View/hide theses</button></small></h2>
      </div>
      <div class="col-12" id="mytheseslist">
        <h3>Theses for which this Contributor is identified as an author:</h3>
        <div>
          <ul class="list-group list-group-flush">
            {% for thesis in contributor_theses %}
              <li class="list-group-item">
                {% include 'theses/_thesislink_card_content.html' with thesislink=thesis %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if contributor_comments %}
    {# <hr>#}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Comments <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#mycommentslist">View/hide comments</button></small></h2>
      </div>
      <div class="col-12" id="mycommentslist">
        <ul class="list-group list-group-flush">
          {% for comment in contributor_comments %}
            <li class="list-group-item">
              {% include 'comments/_comment_card_content.html' with comment=comment %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if contributor_authorreplies %}
    {# <hr>#}
    <div class="row">
      <div class="col-12">
        <h2 class="highlight">Author Replies <small><button type="button" class="btn btn-link p-0 ml-2" data-toggle="toggle" data-target="#myauthorreplieslist">View/hide author replies</button></small></h2>
      </div>
      <div class="col-12" id="myauthorreplieslist">
        <ul class="list-group list-group-flush">
          {% for reply in contributor_authorreplies %}
            <li class="list-group-item">
              {% include 'comments/_comment_card_content.html' with comment=reply %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

{% endblock content %}
