{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Contributor duplicates</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Contributor duplicates{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Potentially duplicate Contributors</h1>
      {% if merge_form %}
        <form action="{% url 'scipost:contributor_merge' %}" method="get">
          {{ merge_form|bootstrap }}
          <input class="btn btn-outline-secondary" type="submit" value="Check">
        </form>
      {% endif %}

      <br>
      <h3>All found duplicates</h3>
      <ul>
	{% for contrib_dup in object_list %}
	  <li>{{ contrib_dup }} (<em>id={{ contrib_dup.id }}</em>)</li>
	{% empty %}
          <li<em>No duplicates found</em></li>
	{% endfor %}
      </ul>

      {% if is_paginated %}
	<div class="col-12">
	  {% include '_pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}

    </div>
  </div>

{% endblock content %}
