{% extends 'scipost/header.html' %}
{% load crispy_forms_tags %}

{% block header_sup %}
  <div class="d-lg-flex justify-content-between">
    <div class="mx-auto my-4 my-lg-auto">
      <form id="session_acad_field_form"
	    hx-get="{% url 'ontology:set_session_acad_field' %}"
	    hx-trigger="change"
	    hx-swap="outerHTML"
      >
	{% crispy session_acad_field_form %}
      </form>
    </div>
    <div class="mx-auto my-4 my-lg-auto"
	 hx-get="{% url 'ontology:_hx_session_specialty_form' %}"
	 hx-trigger="load, session-acad-field-set from:body"
    >
    </div>

  </div>
{% endblock header_sup %}
