{% load request_filters %}
{% load static %}
{% load scipost_extras %}
{% load journals_extras %}
{% load user_groups %}

{% is_active_fellow request.user as is_active_fellow %}




<nav class="navbar navbar-expand-lg main-nav">
  <div class="container">
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-label="Navbar toggler">
      <span class="navbar-toggler-icon">{% include 'bi/list.html' %}</span>
    </button>
    <div class="collapse navbar-collapse mt-lg-0 mt-3" id="main-navbar">
      <ul class="navbar-nav me-auto">

        <li class="nav-item{% if request.path == '/' %} active{% endif %}">
          <a href="{% url 'scipost:index' %}" class="nav-link" aria-label="SciPost Home">
            <span class="d-none d-lg-inline-block" aria-hidden="true" style="min-width: 16px;">{% include 'bi/house-fill.html' %}</span>
            <span class="d-lg-none d-inline-block">Home</span>
          </a>
        </li>

	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="JournalsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Journals</a>
          <div class="dropdown-menu mega-menu mega-menu-2" aria-labelledby="JournalsDropdown">
            <div class="row">
              <div class="col-md-6">
                <div class="dropdown-item"><a href="{% url 'journals:journals' %}">Journals homepage</a></div>
              </div>
              <div class="col-md-6">
                <div class="dropdown-item"><a href="{% url 'journals:publications' %}">View all publications</a></div>
              </div>
            </div>
            <div class="dropdown-divider"></div>

	    <table class="table table-bordered table-secondary">
	      <thead class="table-dark">
		<tr>
		  <th class="px-2 py-1"><small>Branch of Science</small></th>
		  <th class="px-2 py-1"><small>Fields <em>(click to see field-specific detailed list)</em></small></th>
		</tr>
	      </thead>
	      <tbody>
		{% for branch in branches %}
		  {% if branch.journals.all|length > 0 %}
		    <tr>
		      <td class="align-middle">
			<small>{{ branch.name }}</small>
		      </td>
		      <td>
			{% for acad_field in branch.academic_fields.all %}
			  {% if acad_field.journals.active.all|length > 0 %}
			    <a href={% url 'journals:journals' %}?field={{ acad_field.slug }} class="btn btn-primary btn-sm"><small>{{ acad_field.name }}</small></a>
			  {% endif %}
			{% endfor %}
		      </td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      </tbody>
	    </table>

          </div>
        </li>




	<li class="nav-item{% if '/submissions/' in request.path %} active{% endif %} dropdown">
          <!-- <a class="nav-link" href="{% url 'submissions:submissions' %}">Submissions</a> -->
          <a class="nav-link dropdown-toggle" href="#" id="SubmissionsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-trigger="hover">Submissions</a>
          <div class="dropdown-menu mega-menu mega-menu-2" aria-labelledby="SubmissionsDropdown">
            <div class="row">
              <div class="col-md-6">
                <div class="dropdown-item"><a href="{% url 'submissions:submissions' %}">View all Submissions</a></div>
              </div>
              <div class="col-md-6">
                <div class="dropdown-item"><a href="{% url 'submissions:submit_manuscript' %}">Submit a manuscript</a></div>
                <div class="dropdown-item"><a href="{% url 'submissions:author_guidelines' %}">Author guidelines</a></div>
                <div class="dropdown-item"><a href="{% url 'submissions:referee_guidelines' %}">Referee guidelines</a></div>
		<div class="dropdown-item"><a href="{% url 'colleges:colleges' %}">Editorial Colleges</a></div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
	    <table class="table table-bordered table-secondary">
	      <thead class="table-dark">
		<tr>
		  <th class="px-2 py-1"><small>Branch of Science</small></th>
		  <th class="px-2 py-1"><small>Fields <em>(click to see field-specific detailed list)</em></small></th>
		</tr>
	      </thead>
	      <tbody>
		{% for branch in branches %}
		  {% if branch.submissions.all|length > 0 %}
		    <tr>
		      <td class="align-middle">
			<small>{{ branch.name }}</small>
		      </td>
		      <td>
			{% for acad_field in branch.academic_fields.all %}
			  {% if acad_field.submissions.all|length > 0 %}
			    <a href={% url 'submissions:submissions' %}?field={{ acad_field.slug }} class="btn btn-primary btn-sm"><small>{{ acad_field.name }}</small></a>
			  {% endif %}
			{% endfor %}
		      </td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="MoreDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-trigger="hover">More</a>
          <div class="dropdown-menu" aria-labelledby="MoreDropdown">
            <div class="dropdown-item">
              <a href="{% url 'comments:comments' %}">Comments</a>
            </div>
            <div class="dropdown-item">
              <a href="{% url 'commentaries:commentaries' %}">Commentaries</a>
            </div>
            <div class="dropdown-item">
              <a href="{% url 'theses:theses' %}">Theses</a>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="AboutDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-trigger="hover">About SciPost</a>
          <div class="dropdown-menu" aria-labelledby="AboutDropdown">
	    <div class="dropdown-item">
	      <a href="{% url 'scipost:contact' %}">Contact us</a>
	    </div>
            <div class="dropdown-item">
              <a href="{% url 'scipost:about' %}">About SciPost</a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'scipost:foundation' %}">The Foundation</a>
            </div>

            <div class="dropdown-item">
	      <a href="{% url 'careers:jobopenings' %}">Careers&#64;SciPost</a>
            </div>

            <div class="dropdown-divider"></div>

            <div class="dropdown-item">
              <a href="{% url 'scipost:FAQ' %}">FAQ</a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'news:news' %}">News</a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'scipost:feeds' %}">Feeds</a>
            </div>

            <div class="dropdown-divider"></div>

            <div class="dropdown-item">
              <a href="{% url 'finances:business_model' %}">Our Business Model</a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'organizations:organizations' %}">Organizations<br/><span class="small">benefitting from our activities</span></a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'sponsors:sponsors' %}">Sponsors</a>
            </div>

            <div class="dropdown-item">
              <a href="{% url 'finances:finances' %}">Finances</a>
            </div>

          </div>
        </li>

      </ul>

      <hr class="lg d-lg-none">

      <ul class="navbar-nav me-0">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="PersonalDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-trigger="hover">
              Logged in as {% if user.last_name %}{% if user.contributor %}{{ user.contributor.profile.get_title_display }} {% endif %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a>

            {% if request.user.contributor and not request.user.contributor.is_currently_available %}
              <button type="button" class="btn btn-link p-0 text-warning" data-bs-toggle="tooltip" data-bs-title="You are currently unavailable.<br>Check your availability on your Personal Page if this should not be the case." data-bs-html="true">{% include 'bi/exclamation-triangle-fill.html' %}</button>
              &nbsp;
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="PersonalDropdown">
              {% if user.contributor %}
                <div class="dropdown-item">
                  <a href="{% url 'scipost:personal_page' %}">Personal Page</a>
                </div>
                {% if is_active_fellow %}
                  <div class="dropdown-item">
                    <a href="{% url 'submissions:pool' %}">Submissions Pool</a>
                  </div>
                {% endif %}
              {% endif %}
              {% if perms.scipost.can_view_production %}
                <div class="dropdown-item">
                  <a href="{% url 'production:production' %}">Production</a>
                </div>
              {% endif %}
              {% if perms.scipost.can_manage_organizations or user.org_contact %}
                <div class="dropdown-item">
                  <a href="{% url 'organizations:dashboard' %}">Orgs dashboard</a>
                </div>
              {% endif %}
	      <div class="dropdown-divider"></div>
	      <div class="dropdown-item">
		<a href="{% url 'forums:forums' %}">Forums and Meetings</a>
	      </div>
              <div class="dropdown-divider"></div>
	      <div class="dropdown-item">
		<a href="{% url 'helpdesk:helpdesk' %}">Helpdesk</a>
	      </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <a href="{% url 'scipost:logout' %}?next={{ request.path }}">Logout</a>
              </div>
            </div>
          </li>

	  <li class="nav-item">
	    &emsp;<a href="{% url 'helpdesk:ticket_create' %}" target="_blank" class="nav-link"><span style="font-size: 80%;" data-bs-toggle="tooltip" data-bs-html="true" title="Notice something wrong?<br/>Open a support ticket">{% include 'bi/sticky-fill.html' %}</span></a>
	  </li>

        {% else %}
          <li class="nav-item{% if request.path == '/login/' %} active{% endif %}">
            <a class="nav-link" href="{% url 'scipost:login' %}?next={{request.path}}">Login or register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
