{% extends 'scipost/base.html' %}

{% block pagetitle %}
  : Password reset
{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}


  <div class="row justify-content-center">
    <div class="col"
         style="max-width: 500px">
      <h2>Password reset form</h2>
      <div class="bg-info bg-opacity-25 p-2 d-flex gap-2 mb-3">
        <span>{% include "bi/info-circle-fill.html" %}</span>
        <p class="m-0">
          Enter your <strong>recovery</strong> email address below, and we will send you
          instructions on how to reset your password.
          Your recovery email address is not necessarily the same as your login email address.
        </p>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary"
               type="submit"
               value="Reset" />
      </form>
    </div>
  </div>

{% endblock %}
