{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block meta_description %}{{ block.super }} Register{% endblock meta_description %}
{% block pagetitle %}: register{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Register to SciPost</h1>
      {% if invitation %}
        <h2>Welcome {{invitation.get_title_display}} {{invitation.last_name}} and thanks in advance for registering (by completing this form)</h2>
      {% endif %}
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-3 order-md-2 mb-2 mb-md-0 position-relative">
      <div class="d-flex flex-column gap-3 position-sticky top-0 py-md-3">
        {% if not invitation and not form.data.invitation_key %}
          <p class="m-0 bg-warning bg-opacity-10 border border-warning p-2">
            <span class="text-warning me-2">{% include "bi/exclamation-triangle-fill.html" %}</span>
            Did you receive an invitation to referee? If so, please use the registration link provided in the invitation email to register.</p>
        {% endif %}
        <p class="m-0 bg-warning bg-opacity-10 p-2">
          <span class="text-warning me-2">{% include "bi/exclamation-circle-fill.html" %}</span>
          Only professional academics (staff members, postdocs, PhD students) can register!</p>
        <p class="m-0 bg-info bg-opacity-25 p-2">
          <span class="text-primary me-2">{% include "bi/exclamation-circle-fill.html" %}</span>
          Linking your ORCID is <span class="fst-italic">strongly recommended</span>: without it, metadata interlinking cannot be disambiguated.
          You can easily get one at  <a href="http://orcid.org">orcid.org</a>.</p>
        <p class="m-0 bg-info bg-opacity-25 p-2">
          <span class="text-primary me-2">{% include "bi/exclamation-circle-fill.html" %}</span>
          Registration and use of the portal means that you agree with our <a href="{% url 'scipost:terms_and_conditions' %}">Terms and Conditions</a> and with our <a href="{% url 'scipost:privacy_policy' %}">Privacy Policy</a>.</p>
        </div>
    </div>

    <div class="col-12 order-md-1 col-md">

      <form action="{% url 'scipost:register' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap:'3,9' }}
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>

      {% if errormessage %}
        <p class="text-danger">{{ errormessage }}</p>
      {% endif %}
    </div>
  </div>


{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock footer_script %}
