{% extends 'scipost/base.html' %}

{% block meta_description %}{{ block.super }} Roadmap{% endblock meta_description %}
{% block pagetitle %}: roadmap{% endblock pagetitle %}

{% load static %}

{% block breadcrumb_items %}
  {{ block.super }}
{% endblock %}

{% block content %}

<h1 class="highlight">Roadmap</h1>

<div class="row">
  <div class="col">
    <p> 
      At SciPost, we practice complete openness and transparency for all our operations.
      This means that you can easily peruse all our <a href="{% url 'journals:publications' %}">publications</a>,
      examine the list of <a href="{% url 'organizations:organizations' %}">benefitting organizations</a>,
      see which ones are <a href="{% url 'finances:subsidies' %}">supporting us</a>,
      and what that means for our <a href="{% url 'finances:finances' %}">finances</a>
      and  <a href="{% url 'finances:finances' %}#current">sustainability</a>.
    </p>
    <p class="fs-6">
      This however only highlights our <span class="fw-bold">past</span> activities.
      What about our <span class="fw-bold">future</span> ones?
    </p>
  </div>

  <nav class="col-12 col-sm-auto">
    <div class="card">
      <p class="fs-6 mb-1 card-header">Table of contents</p>
      <div class="card-body">
        <ul class=" mb-0">
          <li>
            <a href="#3Pillars">The 3 Pillars Plan</a>
            <ul>
              <li><a href="#inHouse">In-house Journals</a></li>
              <li><a href="#hosted">Hosted Journals</a></li>
              <li><a href="#affiliate">Affiliate Journals</a></li>
            </ul>
          </li>
          <li><a href="#sustainability">The Struggle for Sustainability</a></li>
        </ul>
      </div>
    </nav>
    
  </div>
</div>


<section class="row text-white p-4" style="background: #002b49; border-top: 8px solid #f6a11a;">
  <div class="col-12 col-md d-flex flex-column">

    <h2 class="mb-4" id="3Pillars">The 3 Pillars Plan</h2>
    <div class="bg-primary bg-opacity-25 rounded border-start border-4 border-primary p-2">
      <p class="fs-5 mb-2 text-uppercase">Objective</p>
      <p class="mb-0">Transform SciPost into a large-scale, multi-field, multi-level <a class="text-warning" href="{% url 'scipost:about' %}#GOA">Genuine Open Access</a> publishing infrastructure built on three pillars:
      <ul class="mb-0 mt-1">
        <li><a class="text-white" href="#inHouse">In-house Journals</a></li>
        <li><a class="text-white" href="#hosted">Hosted Journals</a></li>
        <li><a class="text-white" href="#affiliate">Affiliate Journals</a></li>
      </ul>
    </div>

    <p class="mt-4">If you are not yet familiar with our three pillars, 
      see our <a class="text-warning" href="{% url 'scipost:about' %}#aboutThreePillars">summary description</a> 
      or our <a class="text-warning" href="{% static 'scipost/roadmap/SciPost_3Pillars.pdf' %}">short writeup</a>.</p>
    <p>Our plans for each of the 3 Pillars are summarized below.</p>
  
    <div class="mb-4 border-start border-4 border-primary p-2">
      <p class="fs-5 mb-2 text-uppercase">Plans</p>
      <ul class="mb-0 list-unstyled d-flex flex-column gap-3 ps-2">
        <li>
          <span class="fs-6" id="inHouse">In-house Journals</span>
          <ul>
            <li>upscale existing <a class="text-warning" href="{% url 'colleges:colleges' %}">Colleges</a></li>
            <li>expand the portfolio of Journals in existing fields</li>
            <li>establish new Colleges and launch field-specific in-house journals in further fields</li>
            <li>establish <a class="text-warning" href="{% url 'scipost:journal_detail' doi_label='SciPostSelect' %}/about">SciPost Selections</a> as an alternative to the "glossies"</li>
          </ul>
        </li>

        <li>
          <span class="fs-6" id="hosted">Hosted Journals</span>
          <ul>
            <li>support communities wishing to launch a specialized hosted journal using our editorial and financial infrastructure</li>
            <li>support communities wishing to shift their existing venue to Diamond publishing using our infrastructure.</li>
          </ul>
        </li>

        <li>
          <span class="fs-6" id="affiliate">Affiliate Journals</span>
          <ul>
            <li>support independent journals who wish to use our PubFracs business model and use our financial information and reporting facilities</li>
          </ul>
        </li>
        
      </ul>
    </div>

    <div class="mt-auto border-start border-4 border-warning p-2">
      <p class="fs-5 mb-2 text-uppercase">Contact</p>
      <ul>
        <li>Interested in helping expanding our colleges or suggesting somebody who can?</li>
        <li>Interesting in launching a journal or flipping to a diamond business model?</li>
        <li>Interested in your journal (Diamond-style only!) becoming one of our affiliates?</li>
      </ul>
      Get in touch with us at <a class="text-warning" href="mailto:sponsors@{{ request.get_host }}">edadmin@{{ request.get_host }}</a>
    </div>
  
  </div>

  <div class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
    <img style="width: 100%; max-width: 500px;" src="{% static 'scipost/scipost_diamond_journal_pillars.jpg' %}"></img>
  </div>

<details open class="col-12 mt-4 mx-2 p-0 text-body rounded border-start border-primary border-4" style="background: #fffd" id="inHouse">
  <summary class="list-triangle p-2 text-white" style="background: #1D4168dd;"><h3 class="m-0 text-uppercase fs-5">Detailed In-house Journal Plans</h3></summary>

  <table class="table table-hover position-relative">
    <thead>
      <tr class="position-sticky top-0 bg-white">
        <th>Field</th>
        <th>Task <span class="ms-2 text-muted">(prioritized)</span></th>
        <th>Status</th>
        <th>Resources Needed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">All</td>
      </tr>
      <tr>
        <td><a href="{% url 'scipost:journal_detail' doi_label='SciPostCommem' %}/about">SciPost Commemorations</a></td>
        <td class="d-flex gap-1">
          <span class="badge bg-success">Launched</span>
          <span class="badge bg-warning">Upscaling</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><a href="{% url 'scipost:journal_detail' doi_label='SciPostSelect' %}/about">SciPost Selections</a></td>
        <td>
          <span class="badge bg-warning">Scheduled to launch</span></br>
          <small>once operations in Chemistry and Astro are upscaled</small>
        </td>
        <td>&euro;50k to launch +</br>&euro;30k per year</td>
      </tr>

      <tr>
        <td rowspan="6">Physics</td>
      </tr>
      <tr>
        <td>eliminate editorial delays (edadmin)</td>
        <td><span class="badge bg-warning">Ongoing</span></td>
        <td></td>
      </tr>
      <tr>
        <td>expand <a href="{% url 'colleges:college_detail' college="physics" %}">Physics College</a>: 
          additional Fellows in Experimental specialties</td>
        <td><span class="badge bg-warning">Ongoing</span></td>
        <td></td>
      </tr>
      <tr>
        <td>expand <a href="{% url 'colleges:college_detail' college="physics" %}">Physics College</a>: 
          additional Fellows in Computational specialties</td>
        <td><span class="badge bg-warning">Ongoing</span></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="{% url 'scipost:journal_detail' doi_label='SciPostPhysRev' %}/about">SciPost Physics Reviews</a></td>
        <td class="d-flex gap-1">
          <span class="badge bg-success">Launched</span>
          <span class="badge bg-warning">Upscaling</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><a href="{% static 'scipost/roadmap/SciPost_Bundled_Datasets.pdf' %}">SciPost Physics Datasets</a></td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;50k to launch +</br>&euro;500 per publication</td>
      </tr>

      <tr>
        <td rowspan="3">Chemistry</td>
      </tr>
      <tr>
        <td>build the <a href="{% url 'colleges:college_detail' college="chemistry" %}">Chemistry College</a></td>
        <td><span class="badge bg-warning">Initiated</span></td>
        <td></td>
      </tr>
      <tr>
        <td>
          establish the <a href="{% url 'journals:journals_in_acad_spec' acad_field="chemistry" %}">Chemistry Journals</a> 
          as recognized publishing venues
        </td>
        <td><span class="badge bg-warning">Initiated</span></td>
        <td>&euro;500 per publication</td>
      </tr>

      <tr>
        <td rowspan="3">Astronomy</td>
      </tr>
      <tr>
        <td>build the <a href="{% url 'colleges:college_detail' college="astronomy" %}">Astronomy College</a></td>
        <td><span class="badge bg-warning">Initiated</span></td>
        <td></td>
      </tr>
      <tr>
        <td>
          establish the <a href="{% url 'journals:journals_in_acad_spec' acad_field="astronomy" %}">Astronomy Journals</a> 
          as recognized publishing venues
        </td>
        <td><span class="badge bg-warning">Initiated</span></td>
        <td>&euro;500 per publication</td>
      </tr>
      
      <tr>
        <td rowspan="2">Computer Science</td>
      </tr>
      <tr>
        <td>initiate</td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;100k</td>
      </tr>

      <tr>
        <td rowspan="2">Mathematics</td>
      </tr>
      <tr>
        <td>initiate</td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;100k</td>
      </tr>

      <tr>
        <td rowspan="2">Biology</td>
      </tr>
      <tr>
        <td>initiate</td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;100k</td>
      </tr>

      <tr>
        <td rowspan="2">Earth and</br> Environmental Sciences</td>
      </tr>
      <tr>
        <td>initiate</td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;100k</td>
      </tr>

      <tr>
        <td rowspan="2" class="text-muted">Other Fields</td>
      </tr>
      <tr>
        <td>initiate</td>
        <td><span class="badge bg-danger">Insufficient resources</span></td>
        <td>&euro;100k</td>
      </tr>

    </tbody>
  </table>
</section>

<section class="row text-white p-4" style="background: #002b49; border-top: 8px solid #f6a11a;">
  <div class="col-12 col-md d-flex flex-column">

    <h2 class="mb-4" id="sustainability">The Struggle for Sustainability</h2>
    <div class="bg-primary bg-opacity-25 rounded border-start border-4 border-primary p-2">
      <p class="fs-5 mb-2 text-uppercase">Objective</p>
      <p class="mb-0">Ensure our sustainability, by promoting understanding and use 
        of our <a class="text-warning" href="{% url 'finances:business_model' %}">PubFracs business model</a>.</p>
    </div>

    <p class="mt-4">If you are not yet familiar with our business model, see our separate <a class="text-warning" href="{% url 'scipost:about' %}#aboutPubFracs">summary</a> or <a class="text-warning" href="{% url 'finances:business_model' %}">detailed explanations</a>.</p>
    <p>We believe this model to be the best antidote to APCs and financial obfuscation in publishing.</p>
  
    <div class="mb-4 border-start border-4 border-primary p-2">
      <p class="fs-5 mb-2 text-uppercase">Plans</p>
      <ul>
        <li>liaise with academic organizations to ensure familiarity with our business model and increase its levels of adoption</li>
        <li>set up long-term agreements to ensure sustainability of our operations</li>
        <li>advocate for the installation of proper sustainable funding mechanisms for Diamond</li>
        <li>support the sustainability of other Diamond initiatives through our Affiliate Journals network</li>
      </ul>
    </div>

    <div class="mt-auto border-start border-4 border-warning p-2">
      <p class="fs-5 mb-2 text-uppercase">Contact</p>
      Are you an institutional Open Access officer, Library representative or similar, 
      and are you interested in helping us set up a sustainably funding structure for Diamond? 
      Get in touch with us at <a class="text-warning" href="mailto:sponsors@{{ request.get_host }}">sponsors@{{ request.get_host }}</a>
    </div>
  
  </div>

  <div class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
    <img style="width: 100%; max-width: 500px;" src="{% static 'scipost/pubfracs_model_calculation.jpg' %}"></img>
  </div>
</section>

{% endblock content %}
