{% extends 'scipost/_personal_page_base.html' %}

{% load scipost_extras %}
{% load crispy_forms_tags %}
{% load static %}

{% block pagetitle %}: registrations to vet{% endblock pagetitle %}



{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Registration requests to vet</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-body">
          <h1 class="card-title">SciPost Registration requests to vet:</h1>
          <p class="card-text mb-0">
            These Contributors are currently not registered (submitting, commenting and voting disabled).<br>
            Use this page to promote them to give them registered status, or refuse registration.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% for contributor_to_vet in contributors_to_vet %}
    {% if not forloop.first %}<hr class="small">{% endif %}
    <div class="row">
      <div class="col">
        {% include "scipost/_private_info_as_table.html" with contributor=contributor_to_vet %}
      </div>
      <div class="ms-auto col-6">
        <div class="row">
          <div class="ms-auto col">
            {% include "scipost/_hx_vet_registration_request_ack_form.html" with form=form contributor=contributor_to_vet %}
          </div>
          <div class="col-auto">
            {% if user.is_superuser %}
              <div class="border border-danger rounded-3 p-2">
                <span class="fs-4 text-danger">Superuser Edit</span>
                <ul class="mt-2 d-flex flex-column gap-2 list-unstyled m-0 align-items-stretch">
                  <li><a href="{{ contributor_to_vet.user|get_admin_url }}" target="_blank" class="btn btn-sm btn-light"> User</a></li>
                  <li><a href="{{ contributor_to_vet|get_admin_url }}" target="_blank" class="btn btn-sm btn-light">Contributor</a></li>
                  {% if contributor_to_vet.profile %}
                    <li><a href="{{ contributor_to_vet.profile|get_admin_url }}" target="_blank" class="btn btn-sm btn-light"> Profile</a></li>
                    <hr class="my-1">
                    <li><a href="{{ contributor_to_vet.profile.emails.first.domain|get_admin_url }}" target="_blank" class="btn btn-sm btn-light"> Email Domain</a></li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <h1>There are no Registration requests for you to vet.</h1>
    <p>Back to your <a href="{% url 'scipost:personal_page' %}">personal page</a>.
  {% endfor %}


{% endblock content %}
