{% extends 'scipost/base.html' %}

{% block pagetitle %}: Why SciPost{% endblock pagetitle %}

{% block breadcrumb_items %}
  <span class="breadcrumb-item">Why SciPost</span>
{% endblock %}


{% block content %}

  <h1 class="highlight">Why SciPost?</h1>

  <ul>
    <li>Info for scientists</li>
    <li>Info for librarians/Open Access officers of universities and funding agencies</li>
  </ul>

  <h2 class="highlight">TL;DR</h2>
  <p>
    There are plenty of reasons to switch to SciPost for your scientific publishing needs.
    Here are a few.
  </p>
  <ul>
    <li>SciPost is by-and-for scientists</li>
    <li>We offer a fully-featured professional publishing infrastructure</li>
    <li>All publications at SciPost carry open licenses (CC-BY by default)</li>
    <li>Authors maintain copyright of their work</li>
    <li>Our operations are entirely not-for-profit</li>
    <li>SciPost does not charge any subscription or author fees (APCs)</li>
    <li>We implement an industry-transforming, cost-slashing business model</li>
    <li>SciPost has a resolutely international outlook</li>
    <li>We offer a quality-focused family of Journals</li>
    <li>Our open refereeing system provides robust and utility-focused pre-publication review</li>
    <li>Referees get credit for their work through citable reports</li>
    <li>All editorial decisions at all levels are taken by professionally active scientists</li>
    <li>Decisions are based exclusively on scientific quality</li>
    <li>SciPost is entirely free of undue business/profit-making secondary interests</li>
    <li>Our infrastructure is built on Free(d) and Open Source Software</li>
    <li>Our production facilities are "top of the class"</li>
    <li>All publications are professionally archived for long-term posterity</li>
    <li>SciPost is pushing for modernization of impact evaluation</li>
  </ul>

{% endblock %}
