{% load automarkup %}
 
<div class="my-1">
  <div class="d-flex justify-content-between">
    <span class="fw-bold text-truncate overflow-hidden">{{ note.title }}</span>
    <span class="d-flex text-nowrap gap-2">
      <span class="badge text-bg-secondary">{{ note.get_visibility_display }}</span>
      <span class="fw-bold">{{ note.author.profile.full_name }}</span>
      <span>{{ note.created }}</span>
      <span role="button"
            class="text-danger"
            hx-target="closest li"
            hx-delete="{% url "pins:_hx_note_delete" note.id %}">{% include "bi/trash-fill.html" %}</span>
    </span>
  </div>
  <div>{% automarkup note.description %}</div>
</div>
