{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: NewsLetters{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'news:news' %}" class="breadcrumb-item">News</a>
  <a href="{% url 'news:manage' %}" class="breadcrumb-item">Manage</a>
  <span class="breadcrumb-item">Update NewsLetter Ordering</span>
{% endblock breadcrumb_items %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <h1>Newsletter to update:</h1>
      {{ object }}
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-12">
      <h1>Update the ordering of News Items within this Newsletter:</h1>
      <form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ ni_formset.management_form }}
	<ul class="sortable-list d-inline-block">
	  {% for ni_form in ni_formset %}
	    <li>
	      <span class="handle">{% include 'bi/sort-up.html' %}</span>
	      {{ ni_form.instance.newsitem }}
	      <div class="d-none">{{ ni_form }}</div>
	    </li>
	  {% endfor %}
	</ul>
	<br/>
	<input type="submit" class="btn btn-primary" value="Save ordering">
      </form>
    </div>
  </div>
{% endblock content %}
