<section class="text-center px-4" aria-label="SciPost Description">

  <h1 style="font-size: 2rem;">The Home of Genuine Open Publishing</h1>
  <div class="text-primary fs-1 my-2">
    SciPost is a complete publishing infrastructure
    <br class="d-none d-lg-block" />
    serving professional scientists worldwide
  </div>
  <div class="text-start d-flex flex-row my-2 gap-5 justify-content-center ">
    <ul class="mx-2 d-flex flex-column gap-1 list-unstyled">
      <li>Two-Way Open Access</li>
      <li>Copyright to Authors</li>
      <li>Non Profit</li>
      <li>Fee Free</li>
    </ul>
    <ul class="mx-2 d-flex flex-column gap-1 list-unstyled">
      <li>Open Infrasturcture</li>
      <li>Community Ownership</li>
      <li>Peer-Witnessed Refereeing</li>
      <li>Collegial decisionmaking</li>
    </ul>
  </div>

</section>
