{% load static %}
{% load journals_extras %}

{% load crispy_forms_tags %}

{% if session_acad_field and not session_acad_field.journals.active|length > 0 %}
  <div class="card m-2 border-2">
    <div class="card-header m-0 p-0">
      <h2 class="m-0 p-4 text-white text-center bg-danger">We are not yet active in<br>{{ session_acad_field }}</h2>
    </div>
    <div class="card-body">
      <h3>Interested in helping us set things up?</h3>
      <p>
	<a href="mailto:admin@{{ request.get_host }}">Email us</a>
	your suggestions for Editorial Fellows.
      </p>
    </div>
  </div>

  <hr>

{% endif %}

<h2 class="highlight my-4">Publications{% if session_acad_field %} in {{ session_acad_field }}: {% if session_specialty %}{{ session_specialty }}{% else %}(all specialties){% endif %}{% else %} (all fields){% endif %}</h2>


<div hx-get="{% url 'scipost:_hx_publication_search_form_view' %}"
     hx-trigger="intersect once"></div>
