{% for report in page_obj %}
  <li class="list-group-item py-2">
    {% include 'submissions/_report_li_content.html' with report=report %}
  </li>
{% empty %}
  <li class="list-group-item py-2">
    No reports yet
  </li>
{% endfor %}
{% if page_obj.has_next %}
  <li id="next-reports-{{ page_obj.number }}">
    <button class="btn btn-primary m-2" type="button"
	    hx-post="{% url 'scipost:portal_hx_reports_page' %}?page={{ page_obj.next_page_number }}"
	    hx-include="#reports-search-form"
	    hx-target="#next-reports-{{ page_obj.number }}"
	    hx-swap="outerHTML"
	    hx-indicator="#indicator-reports-page-{{ page_obj.number }}"
    >
      Load page {{ page_obj.next_page_number }} (out of {{ page_obj.paginator.num_pages }})
    </button>
    <span id="indicator-reports-page-{{ page_obj.number }}" class="htmx-indicator p-2">
      <button class="btn btn-warning" type="button" disabled>
	<strong>Loading page {{ page_obj.next_page_number }} out of {{ page_obj.paginator.num_pages }}</strong>
	<div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
      </button>
    </span>
  </li>
{% endif %}
