{% extends 'scipost/base.html' %}
{% load static %}

{% block headsup %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
{% endblock headsup %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block navbar %}
  {% include 'scipost/portal/navbar.html' %}
{% endblock %}

{% block body_class %}{{ block.super }} homepage home-alt{% endblock %}

{% block meta_description %}{{ block.super }} homepage{% endblock meta_description %}
{% block pagetitle %}Homepage{% endblock pagetitle %}

{% block header %}
  {% include 'scipost/header_with_acad_field_and_spec3.html' %}
{% endblock %}


{% block content %}

  <div class="tab-content mt-4" id="portalTabContent">

    <div class="tab-pane portal-tab fade show active" id="home"
	 role="tabpanel" aria-labelledby="home-tab">
      <div hx-get="{% url 'scipost:portal_hx_home3' %}"
	   hx-trigger="load, click delay:200ms from:#home-tab"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="journals"
	 role="tabpanel" aria-labelledby="journals-tab">
      <div hx-get="{% url 'scipost:portal_hx_journals' %}"
	   hx-trigger="click delay:200ms from:#journals-tab, session-acad-field-set from:body"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="publications"
	 role="tabpanel" aria-labelledby="publications-tab">
      <div hx-get="{% url 'scipost:portal_hx_publications' %}"
	   hx-trigger="load, click delay:200ms from:#publications-tab, session-acad-field-set from:body, session-specialty-set from:body"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="submissions"
	 role="tabpanel" aria-labelledby="submissions-tab">
      <div hx-get="{% url 'scipost:portal_hx_submissions' %}"
	   hx-trigger="click delay:200ms from:#submissions-tab, session-acad-field-set from:body, session-specialty-set from:body"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="reports-needed"
	 role="tabpanel" aria-labelledby="reports-needed-tab">
      <div hx-get="{% url 'scipost:portal_hx_submissions' %}?reports_needed=1"
	   hx-trigger="click delay:200ms from:#reports-needed-tab, session-acad-field-set from:body, session-specialty-set from:body"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="reports"
	 role="tabpanel" aria-labelledby="reports-tab">
      <div hx-get="{% url 'scipost:portal_hx_reports' %}"
	   hx-trigger="click delay:200ms from:#reports-tab, session-acad-field-set from:body, session-specialty-set from:body"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade" id="comments"
	 role="tabpanel" aria-labelledby="comments-tab">
      <div hx-get="{% url 'scipost:portal_hx_comments' %}"
	   hx-trigger="click delay:200ms from:#comments-tab, session-acad-field-set from:body, session-specialty-set from:body"
      >
      </div>
    </div>

  </div>

{% endblock %}

{% block footer_script %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'scipost/toggle-proceedings.js' %}">
  </script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'scipost/toggle-header-forms.js' %}">
  </script>
{% endblock footer_script %}
