{% extends 'scipost/base.html' %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block basebundle %}
  {% render_bundle 'base' %}
{% endblock basebundle %}

{% block body_class %}{{ block.super }} homepage home-alt{% endblock %}

{% block meta_description %}{{ block.super }} homepage{% endblock meta_description %}
{% block pagetitle %} Homepage{% endblock pagetitle %}

{% block navbar %}
  {% include 'scipost/navbar.html' %}
{% endblock navbar %}

{% block content %}

  <div class="tab-content my-2" id="portalTabContent">

    <div class="tab-pane portal-tab fade{% if not request.GET.tab %} show active{% endif %}"
	 id="home"
	 role="tabpanel" aria-labelledby="home-tab">
      <div hx-get="{% url 'scipost:portal_hx_home' %}"
	   hx-trigger="{% if not request.GET.tab %}load, {% endif %}click delay:200ms from:#home-tab"
	   hx-push-url="{% url 'scipost:portal' %}"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'journals' %} show active{% endif %}"
	 id="journals"
	 role="tabpanel" aria-labelledby="journals-tab">
      <div hx-get="{% url 'scipost:portal_hx_journals' %}"
	   hx-trigger="{% if request.GET.tab == 'journals' %}load, {% endif %}click delay:200ms from:#journals-tab, session-acad-field-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=journals"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'publications' %} show active{% endif %}"
	 id="publications"
	 role="tabpanel" aria-labelledby="publications-tab">
      <div hx-get="{% url 'scipost:portal_hx_publications' %}"
	   hx-trigger="{% if request.GET.tab == 'publications' %}load, {% endif %}click delay:200ms from:#publications-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=publications"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'submissions' %} show active{% endif %}"
	 id="submissions"
	 role="tabpanel" aria-labelledby="submissions-tab">
      <div hx-get="{% url 'scipost:portal_hx_submissions' %}"
	   hx-trigger="{% if request.GET.tab == 'submissions' %}load, {% endif %}click delay:200ms from:#submissions-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=submissions"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'reportsneeded' %} show active{% endif %}"
	 id="reports-needed"
	 role="tabpanel" aria-labelledby="reports-needed-tab">
      <div hx-get="{% url 'scipost:portal_hx_submissions' %}?reports_needed=1"
	   hx-trigger="{% if request.GET.tab == 'reportsneeded' %}load, {% endif %}click delay:200ms from:#reports-needed-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=reportsneeded"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'reports' %} show active{% endif %}"
	 id="reports"
	 role="tabpanel" aria-labelledby="reports-tab">
      <div hx-get="{% url 'scipost:portal_hx_reports' %}"
	   hx-trigger="{% if request.GET.tab == 'reports' %}load, {% endif %}click delay:200ms from:#reports-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=reports"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'comments' %} show active{% endif %}"
	 id="comments"
	 role="tabpanel" aria-labelledby="comments-tab">
      <div hx-get="{% url 'scipost:portal_hx_comments' %}"
	   hx-trigger="{% if request.GET.tab == 'comments' %}load, {% endif %}click delay:200ms from:#comments-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=comments"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'commentaries' %} show active{% endif %}"
	 id="commentaries"
	 role="tabpanel" aria-labelledby="commentaries-tab">
      <div hx-get="{% url 'scipost:portal_hx_commentaries' %}"
	   hx-trigger="{% if request.GET.tab == 'commentaries' %}load, {% endif %}click delay:200ms from:#commentaries-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=commentaries"
      >
      </div>
    </div>

    <div class="tab-pane portal-tab fade{% if request.GET.tab == 'theses' %} show active{% endif %}"
	 id="theses"
	 role="tabpanel" aria-labelledby="theses-tab">
      <div hx-get="{% url 'scipost:portal_hx_theses' %}"
	   hx-trigger="{% if request.GET.tab == 'theses' %}load, {% endif %}click delay:200ms from:#theses-tab, session-acad-field-set from:body, session-specialty-set from:body"
	   hx-push-url="{% url 'scipost:portal' %}?tab=theses"
      >
      </div>
    </div>

  </div>

{% endblock %}

{% block footer_script %}
  {{ block.super }}
  <script nonce="{{ request.csp_nonce }}" src="{% static 'scipost/toggle-proceedings.js' %}">
  </script>
  <script nonce="{{ request.csp_nonce }}" src="{% static 'scipost/toggle-header-forms.js' %}">
  </script>
{% endblock footer_script %}
