{% extends 'scipost/base.html' %}

{% load render_bundle from webpack_loader %}
{% load static %}


{% block body_class %}{{ block.super }} homepage{% endblock %}

{% block meta_description %}{{ block.super }} homepage{% endblock meta_description %}
{% block pagetitle %}Homepage{% endblock pagetitle %}

{% block header %}
  {% include 'scipost/header_with_acad_field_and_spec.html' %}
{% endblock %}


{% block content %}

  <ul class="nav nav-pills flex-wrap flex-sm-row mb-3 justify-content-center"
      role="tablist">

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="journals-tab"
	      data-bs-toggle="tab" data-bs-target="#journals"
	      type="button" role="tab"
	      aria-controls="journals" aria-selected="true">
	Journals
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="publications-tab"
	      data-bs-toggle="tab" data-bs-target="#publications"
	      type="button" role="tab"
	      aria-controls="publications" aria-selected="true">
	Publications
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="submissions-tab"
	      data-bs-toggle="tab" data-bs-target="#submissions"
	      type="button" role="tab"
	      aria-controls="submissions" aria-selected="true">
	Submissions
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reports-needed-tab"
	      data-bs-toggle="tab" data-bs-target="#reports-needed"
	      type="button" role="tab"
	      aria-controls="reports-needed" aria-selected="true">
	Reports needed&nbsp;<span class="text-warning">{% include 'bi/exclamation-square-fill.html' %}</span>
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reports-tab"
	      data-bs-toggle="tab" data-bs-target="#reports"
	      type="button" role="tab"
	      aria-controls="reports" aria-selected="true">
	Reports
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="comments-tab"
	      data-bs-toggle="tab" data-bs-target="#comments"
	      type="button" role="tab"
	      aria-controls="comments" aria-selected="true">
	Comments
      </button>
    </li>

  </ul>

  <hr>

  <div class="tab-content mt-4" id="portalTabContent">

    <div class="tab-pane fade" id="journals"
	 role="tabpanel" aria-labelledby="journals-tab">
      <div hx-get="{% url 'scipost:portal_hx_journals' %}"
	   hx-trigger="click from:#journals-tab, session-acad-field-set[document.getElementById('journals').classList.contains('active')] from:body"
      >
      </div>
    </div>

    <div class="tab-pane fade show active" id="publications"
	 role="tabpanel" aria-labelledby="publications-tab">
      <div hx-get="{% url 'scipost:portal_hx_publications' %}"
	   hx-trigger="load, click from:#publications-tab, session-acad-field-set[document.getElementById('publications').classList.contains('active')] from:body, session-specialty-set[document.getElementById('publications').classList.contains('active')] from:body"
	>
	</div>
      </div>

      <div class="tab-pane fade" id="submissions"
	   role="tabpanel" aria-labelledby="submissions-tab">
	<div hx-get="{% url 'scipost:portal_hx_submissions' %}"
	     hx-trigger="click from:#submissions-tab, session-acad-field-set[document.getElementById('submissions').classList.contains('active')] from:body, session-specialty-set[document.getElementById('submissions').classList.contains('active')] from:body"
	>
	</div>
      </div>

      <div class="tab-pane fade" id="reports-needed"
	   role="tabpanel" aria-labelledby="reports-needed-tab">
      Reports needed!
    </div>

    <div class="tab-pane fade" id="reports"
	 role="tabpanel" aria-labelledby="reports-tab">
      Reports
    </div>

    <div class="tab-pane fade" id="comments"
	 role="tabpanel" aria-labelledby="comments-tab">
      Comments
    </div>

  </div>

{% endblock %}
