{% load static %}
<p>
  Dear {% if contactperson %}{{ contactperson.get_title_display }} {{ contactperson.last_name }}{% else %}colleagues{% endif %},
</p>
<p>
  We recently contacted you concerning SciPost, to probe your organization's interest in becoming a Sponsor. With this follow-up email, I would simply like to check whether you got the original message.
</p>
<p>
  <a href="https://{% url 'scipost:index' %}">SciPost</a> is a next-generation publication portal aiming to transform the business of scientific publishing. You can find a one-page summary in <a href="https://{{ domain }}{% static 'sponsors/SciPost_Sponsors_Board_Prospectus.pdf' %}">our online prospectus</a> outlining the reasons why joining would be beneficial for your institution.
</p>
<p>
  You can also find a summary of how your organization has benefitted from our activities at <a href="https://{{ domain }}{{ contactperson.organization.get_absolute_url }}">this link</a>.
</p>
<p>
  I will be happy to provide any required further details. If you are interested, you can simply get in touch via this address (sponsors@{{ domain }}). I sincerely hope that SciPost will be able to count on your support.
</p>
<p>
  If you not the right representative to get in touch with, could you please forward this to the right person, or let us know?
</p>
<p>
    Many thanks in advance,
</p>
<p>
    On behalf of the SciPost Foundation,<br><br>
    Prof. dr Jean-Sébastien Caux<br>
    J.S.Caux@uva.nl&nbsp;jscaux@scipost.org<br>
    https://jscaux.org<br>
    ---------------------------------------------<br>
    Institute for Theoretical Physics<br>
    University of Amsterdam<br>
    Postbus 94485<br>
    1090 GL  Amsterdam<br>
    The Netherlands<br>
    ---------------------------------------------<br>
    tel.: +31 (0)20 5255775<br>
    fax: +31 (0)20 5255778<br>
    ---------------------------------------------
</p>

{% include 'email/_footer.html' %}
