{% load static %}
<p>
  Dear {% if contactperson %}{{ contactperson.get_title_display }} {{ contactperson.last_name }}{% else %}colleagues{% endif %},
</p>
<p>
  We are contacting you on behalf of SciPost, a scientists-driven not-for-profit initiative whose mission is to provide Genuine Open Access academic publishing services.
</p>
<p>
  Since our beginnings in 2016, {{ contactperson.organization.get_author_profiles|length }} scientists associated to your institution have published {{ contactperson.organization.cf_balance_info.cumulative.nap }} papers with us. You can find all these details at your institution's detail page <a href="https://{{ domain }}{{ contactperson.organization.get_absolute_url }}">{{ domain }}{{ contactperson.organization.get_absolute_url }}</a>. We are happy to have served your scientists in this way. In order for us to be able to continue doing so, however, we need your help.
</p>
<p>
  As explained on our <a href="https://{{ domain }}{% url 'finances:business_model' %}">business model</a> page, SciPost follows a completely different funding model than traditional publishers, and provides a cost-slashing alternative to existing platforms. SciPost charges neither subscription fees, nor article processing charges; each time your scientists publish with us, you don't have to pay APCs or similar, so you save money without noticing. Publishing isn't without expenditures however. In our case, our averaged-out expenditures are around 500 euros per publication (you can see the full details at <a href="https://{{ domain }}{% url 'finances:apex' %}">scipost.org/finances/apex</a>), which is a factor of a handful below what you would pay in APCs.
</p>
<p>
  To serve the community, including your scientists, we thus need resources. Our activities are collectively financed by a worldwide consortium of Sponsors, formed by institutions like yours which benefit from our services. Though we don't charge fees for any of our services, we do however compile a measure of how these activities impact our reserves; as far as your institution is concerned, this can be found at <a href="https://{{ domain }}{{ contactperson.organization.get_absolute_url }}">{{ domain }}{{ contactperson.organization.get_absolute_url }}</a> under the Support history tab.
</p>
<p>
  Our continued existence is contingent on us being able to gather sufficient support from the academic institutions which benefit from our activities. We are now on a campaign to improve sustainability and growth potential of our services and as part of this, we're engaging with institutions which haven't yet supported us.
</p>
<p>
  We are currently facing quite high pressures on our liquidities (see the up-to-date status at https://scipost.org/finances/#current ), which are representing an immediate threat to our continued existence. Separately from this, we have also recently committed to the Principles of Open Scholarly Infrastructure (see https://scipost.org/posi), which require us to put our long-term sustainability on a firmer level.
</p>
<p>
  We would thus like to ask: in recognition of the value and scale of the services we have delivered to your scientists in the past and can deliver in the future, could you provide support for our operations?
</p>
<p>
  As per our charitable principles, this is not obligatory and your level of contribution is entirely up to you. This consortial approach works if organizations support us on a level at least commensurate with the benefit they get. We however want to emphasize that our sustainability is currently threatened by lack of incoming resources and too many institutional bystanders. Welcoming you as a supporting organization would help alleviate this.
</p>
<p>
  Feel free to get in touch by simply replying to this email. We sincerely hope that SciPost will be able to count on your support to ensure its continued existence.
</p>
<p>
  On behalf of the SciPost Foundation,<br><br>
  Prof. J-S Caux (Chairman) and Dr S. Tapias (Executive Director)<br>
  sponsors@scipost.org
</p>
