<p>
  Dear {% if contactperson %}{{ contactperson.get_title_display }} {{ contactperson.last_name }}{% else %}colleagues{% endif %},
</p>
<p>
  You might by now have heard of SciPost, a scientists-driven not-for-profit initiative whose mission is to provide an improved academic publishing infrastructure.
</p>
<p>
  The site is anchored at <a href="https://scipost.org">SciPost.org</a>. Many further details about SciPost, its principles, ideals and implementation can be found at the <a href="https://scipost.org/about">about page</a> and <a href="https://scipost.org/FAQ">our FAQ</a>.
</p>
<p>
  You can also find a summary of how your organization has benefitted from our activities at <a href="https://scipost.org{{ contactperson.organization.get_absolute_url }}">this link</a>. There, you will find an overview of publications, authors and Fellows (our editors) which have an affiliation to your organization.
</p>
<p>
  As explained on our <a href="https://scipost.org/finances/business_model/">business model</a> page, SciPost follows a completely different funding model than traditional publishers, and provides a cost-slashing alternative to existing platforms. SciPost charges neither subscription fees, nor article processing charges; its activities are instead collectively financed by a worldwide consortium of Sponsors, formed by institutions and organizations which directly or indirectly benefit from SciPost’s activities.
</p>
<p>
  A short summary, together with motivations for your organization to become a sponsor, are given in <a href="https://scipost.org/static/sponsors/SciPost_Sponsors_Board_Prospectus.pdf">our one-page prospectus</a>.
</p>
<p>
  In <a href="https://scipost.org/static/sponsors/SciPost_Sponsorship_Agreement.pdf">the agreement template</a>, you will find many more specific details about our operations, requirements and funding strategy.
</p>
<p>
  It would be a privilege to welcome your organization as a Sponsor. I am hereby contacting you to enquire whether your institution would consider joining? If you are interested, you can simply get in touch via this address (sponsors@scipost.org). I sincerely hope that SciPost will be able to count on your support.
</p>

<p>
    On behalf of the SciPost Foundation,<br><br>
    Prof. dr Jean-Sébastien Caux<br>
    J.S.Caux@uva.nl<br>
    https://jscaux.org<br>
    ---------------------------------------------<br>
    Institute for Theoretical Physics<br>
    University of Amsterdam<br>
    Postbus 94485<br>
    1090 GL  Amsterdam<br>
    The Netherlands<br>
    ---------------------------------------------<br>
    tel.: +31 (0)20 5255775<br>
    fax: +31 (0)20 5255778<br>
    ---------------------------------------------
</p>
