<ul class="mt-2 communications {{ css_class }}">

  {% for comm in communication %}
    <li class="date">
      <span>{{ comm.timestamp|date:'d F Y' }}</span>
    </li>
    <li class="comm comm-{{ comm.comtype }}">
      <span class="datetime">{{ comm.timestamp|date:'d F Y G:i' }}</span>
      <span class="time">{{ comm.timestamp|date:'G:i' }}</span>
      <div class="content">
        <span class="header">From {{ comm.author_name }} to {{ comm.recipient_name }}</span>
        <p class="comm-text">{{ comm.text|linebreaksbr }}</p>
      </div>
    </li>
  {% empty %}
    <li>There have been no communications.</li>
  {% endfor %}

</ul>
