<button id="submission-{{ submission.pk }}-autoupdated-fellowship"
        class="btn btn-sm border border-{{ submission.auto_updated_fellowship|yesno:"success,danger" }} d-flex align-items-center gap-2"
        hx-post="{% url "submissions:_hx_submission_autoupdate_fellowship" identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
        hx-swap="outerHTML">
  <span>Auto-Update</span>
  <span class="text-white px-2 bg-{{ submission.auto_updated_fellowship|yesno:"success,danger" }}">{{ submission.auto_updated_fellowship|yesno:"ON,OFF" }}</span>
</button>
