<tr>
  <td style="max-width:200px;" class="text-truncate overflow-hidden">
    <a title={{ profile }} href="{{ profile.get_absolute_url }}">{{ profile }}</a>
  </td>
  <td>

    {% if profile.contributor %}
      <span class="text-success">{% include "bi/check-circle-fill.html" %}</span>
    {% else %}
      <span class="text-danger">{% include "bi/x-circle-fill.html" %}</span>
    {% endif %}

  </td>
  <td>

    {% if profile.accepts_refereeing_requests %}
      <span class="text-success">{% include "bi/check-circle-fill.html" %}</span>
    {% else %}
      <span class="text-danger">{% include "bi/x-circle-fill.html" %}</span>
    {% endif %}

  </td>
  <td>

    <table id="profile-{{ profile.id }}-emails-table">

      {% for profile_email in profile.emails.all %}
        {% include "submissions/_hx_select_referee_email_table_row.html" %}
      {% empty %}
        <tr>
          <td>
            <span class="invisible">{% include "bi/x-circle-fill.html" %}</span>
          </td>
        </tr>
      {% endfor %}

    </table>

  </td>
  <td style="min-width:330px;">
    <div class="d-flex">
      <button id="ref-inv-{{ profile.id }}-send-btn"
              type="button"
              class="btn btn-sm btn-light me-2"
              hx-get="{% url 'submissions:_hx_add_referee_profile_email' profile_id=profile.id %}"
              hx-target="closest tr"
              hx-swap="afterend">Add Email</button>

      <button id="ref-inv-{{ profile.id }}-send-btn" type="button" class="me-2 btn btn-sm btn-{% if profile.warned_against_invitation %}warning{% else %}light{% endif %}" 
        {% if profile.warned_against_invitation %}hx-confirm="Do you want to send an invitation to this referee despite the warning?"{% endif %}
         hx-get="{% url 'submissions:_hx_customize_refereeing_invitation' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr profile_id=profile.id %}" 
         hx-target="closest tr" 
         hx-swap="afterend"
         {% if not profile.can_be_sent_invitation %}disabled{% endif %}
         >Customize Invitation</button>
      <button id="ref-inv-{{ profile.id }}-send-btn" type="button" class="ms-auto btn btn-sm btn-{% if profile.warned_against_invitation %}warning{% else %}primary{% endif %}" 
        {% if profile.warned_against_invitation %}hx-confirm="Do you want to send an invitation to this referee despite the warning?"{% endif %}
         hx-get="{% url 'submissions:_hx_quick_invite_referee' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr profile_id=profile.id %}" 
         hx-target="closest td" 
         hx-swap="outerHTML"
         {% if not profile.can_be_sent_invitation %}disabled{% endif %}
         >Quick Send</button>
    </div>

    {% if profile.already_invited %}<div class="text-warning">This person has already been invited</div>{% endif %}

    {% if not profile.accepts_refereeing_requests %}
      <div class="text-danger">This person does not accept refereeing requests</div>
    {% endif %}

    {% if profile.has_submission_competing_interests %}
      <div class="text-danger">This person has a competing interest with the submission</div>
    {% endif %}

    {% if profile.is_submission_author %}
      <div class="text-danger">This person is an author of the submission</div>
    {% elif profile.last_name_matches %}
      <div class="text-warning">This person could be an author of the submission (last name matches)</div>
    {% endif %}

    {% if profile.contributor and not profile.contributor.is_currently_available %}
      <div class="text-warning">
        This person is not currently available, but will be after
        <time datetime="{{ profile.contributor.available_again_after_date }}">
          {{ profile.contributor.available_again_after_date }}
        </time>
      </div>
    {% endif %}

  </td>
</tr>
{% with profile.responsiveness_as_referee as stats %}

  {% if stats.sent %}
    <tr>
      <td colspan="5">
        <div class="ms-4 text-muted">
          {% include "bi/arrow-return-right.html" %}
          &nbsp;
          Responsiveness (last 5 years) --
          Sent: {{ stats.sent }},&nbsp;
          Accepted: {{ stats.accepted }},&nbsp;
          Declined: {{ stats.declined }},&nbsp;
          Cancelled: {{ stats.cancelled }},&nbsp;
          Fulfilled: {{ stats.fulfilled }}
        </div>
      </td>
    </tr>
  {% endif %}

{% endwith %}
