<tr>
  <td>
    <a href="{{ profile.get_absolute_url }}">{{ profile }}</a>
  </td>
  <td>

    {% if profile.contributor %}
      <span class="text-success">{% include "bi/check-circle-fill.html" %}</span>
    {% else %}
      <span class="text-danger">{% include "bi/x-circle-fill.html" %}</span>
    {% endif %}

  </td>
  <td>

    {% if profile.accepts_refereeing_requests %}
      <span class="text-success">{% include "bi/check-circle-fill.html" %}</span>
    {% else %}
      <span class="text-danger">{% include "bi/x-circle-fill.html" %}</span>
    {% endif %}

  </td>
  <td>

    <table id="profile-{{ profile.id }}-emails-table">

      {% for profile_email in profile.emails.all %}
        {% include "submissions/_hx_select_referee_email_table_row.html" %}
      {% empty %}
        <tr>
          <td>
            <span class="invisible">{% include "bi/x-circle-fill.html" %}</span>
          </td>
        </tr>
      {% endfor %}

    </table>

  </td>
  <td>

    {% if not profile.accepts_refereeing_requests %}
      <span class="text-danger">This person does not accept refereeing requests</span>
    {% elif not profile.emails.all %}
      <div class="text-danger">Cannot send an invitation without an email.</div>
    {% elif profile.contributor and not profile.contributor.is_currently_available %}
      <div class="text-danger">
        This person is not currently available, but will be after
        <time datetime="{{ profile.contributor.available_again_after_date }}">
          {{ profile.contributor.available_again_after_date }}
        </time>
      </div>
    {% else %}
      <button id="ref-inv-{{ profile.id }}-send-btn"
              type="button"
              class="btn btn-sm btn-light"
              hx-get="{% url 'submissions:_hx_configure_refereeing_invitation' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr profile_id=profile.id %}"
              hx-target="closest tr"
              hx-swap="afterend">Select</button>
    {% endif %}

  </td>
</tr>
{% with profile.responsiveness_as_referee as stats %}

  {% if stats.sent %}
    <tr>
      <td colspan="5">
        <div class="ms-4 text-muted">
          {% include "bi/arrow-return-right.html" %}
          &nbsp;
          Responsiveness (last 5 years) --
          Sent: {{ stats.sent }},&nbsp;
          Accepted: {{ stats.accepted }},&nbsp;
          Declined: {{ stats.declined }},&nbsp;
          Cancelled: {{ stats.cancelled }},&nbsp;
          Fulfilled: {{ stats.fulfilled }}
        </div>
      </td>
    </tr>
  {% endif %}

{% endwith %}
