<details class="border border-2 my-2" open>
  <summary class="p-2">
    <p><strong class="m-2">Workflow graphs{% if submission %} for <a href="{{ submission.get_absolute_url }}">{{ submission }}</a>{% else %}: Submission processing{% endif %}</strong></p>
  </summary>
  <details class="m-2 p-2 border">
    <summary><strong>Legend</strong></summary>
    <ul class="m-2 list list-unstyled">
      <li>✉=email sent</li>
      <li>A=submitting Author</li>
      <li>S=SciPost EdAdmin</li>
      <li>SF=SFellow(s)</li>
      <li>F=Fellow(s)</li>
      <li>E=Editor-in-charge</li>
      <li>R=Referee(s)</li>
      <li>C=Contributor/commenter</li>
    </ul>
    <p>Examples:
      <ul>
	<li>✉<small>A</small> signifies email from SciPost to submitting author</li>
	<li>✉<small>E,R?C?</small> signifies emails to Editor-in-charge, Referee (if ∃), Commenter (if ∃)</li>
      </ul>
    </p>
  </details>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong class="mt-2">Incoming</strong>
	{% if submission %}{% if submission.in_stage_incoming %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_incoming_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    Sub([Submission{% if submission %}<br>{{ submission.submission_date }}<br>{{ submission.submission_date|timesince }} ago{% endif %}])
    subgraph Admission
        Admiss(Admissibility<br>check)
        Admiss --> PlagInt(internal plagiarism<br>check)
        PlagInt --> PlagExt(external plagiarism<br>check)
    end
    Sub --> Admiss
    PlagExt --fail--> AdmissFailed("Admission<br>failed ✉<small>A</small>") --> Close([Processing<br>closed])
    PlagExt --pass--> AdmissPassed("Admission<br>passed ✉<small>A</small>") --> Preassignment[[Goto:<br>Preassignment]]
    PlagInt --"pass<br>(authors created new submission<br>but this is a resubmission)"--> LinkResub("Link resubmission<br>to earlier thread") --> AdmissPassed2("Admission<br>passed ✉<small>A</small>") --> RefPrep[[Goto:<br>Refereeing<br>in preparation]]
      </pre>
    </details>
  </div>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong class="mt-2">Preassignment</strong>
	{% if submission %}{% if submission.in_stage_preassignment %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_preassignment_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    AdmissPassed([Admission<br>passed])
    subgraph Preassignment
        PreTop(Submission<br>Topics<br>specification) --> ProfMatch(Author<br>Profiles<br>matching)
        ProfMatch --> PreCOI(Conflict<br>of interest<br>checks)
        PreCOI --> PrePa(Listing of<br>potential<br>Editors-in-charge)
    end
    AdmissPassed --> PreTop
    PrePa --> Assignment[[Goto:<br>Assignment]]
      </pre>
    </details>
  </div>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong class="mt-2">Assignment</strong>
	{% if submission %}{% if submission.in_stage_assignment %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_assignment_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    PrePass(["Preassignment<br>passed"])
    subgraph Assignment
        ScrList(["Submission listed<br>in Fellow's pool ✉<small>F</small>"])
        ScrList --> ScrAppr(["<br>&nbsp;Fellows appraise their<br><ul><li>qualification</li><li>conflicts of interest</li><li>readiness to take charge</li></ul>"])
        style ScrAppr text-align:left
        ScrAppr --> ScrNotQual("Fellows not sufficiently<br>qualified")
        ScrAppr --> ScrConf("Fellows have a<br>conflict of interest")
        ScrAppr --> ScrDecl("Fellows not ready<br>to take charge")
        ScrAppr --> ScrNoAns(Fellows unresponsive)
        ScrNotQual --> NoEiC(No Editor-in-charge<br>found)
        ScrConf --> NoEiC
        ScrDecl --> NoEiC
        ScrNoAns --> NoEiC
        ScrAppr --> ScrAcc(A Fellow accepts<br>to take charge)
        ScrAcc --> ScrEiC("Editor-in-charge<br>appointed ✉<small>E</small>")
    end
    PrePass --> ScrList
    NoEiC --> DeskRej("Assignment<br>failed ✉<small>A</small>") --> Close([Processing<br>closed])
    ScrEiC --> ScrPassed("Assignment<br>passed ✉<small>A</small>") --> RefPrep[[Goto:<br>Refereeing<br>in preparation]]
      </pre>

    </details>
  </div>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong class="mt-2">Refereeing in preparation</strong>
	{% if submission %}{% if submission.in_stage_refereeing_in_preparation %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_refereeing_in_preparation_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    subgraph ChooseCycle [Choose refereeing cycle]
        DirectRec(Direct recommendation)
        RegCycle(Regular cycle)
        ShortCycle(Short cycle)
    end
    ScrPassed --> DirectRec
    ScrPassed([Assignment passed]) --> RegCycle
    Resub([Resubmission received<br>or refereeing restarted]) --> RegCycle
    Resub --> ShortCycle
    Resub --> DirectRec
    DirectRec ----> EdRec[[Goto:<br>Editorial Recommendation]]
    RegCycle ----> Refereeing[[Goto:<br>Refereeing]]
    ShortCycle ----> Refereeing
      </pre>
    </details>
  </div>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong class="mt-2">Refereeing</strong>
	{% if submission %}{% if submission.in_stage_in_refereeing %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_in_refereeing_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    subgraph Ref [Refereeing]
        RefOpen([Refereeing<br>round open]) --> RefInv("Referees<br>invited ✉<small>R</small>")
        RefInv--> RepSub("Reports<br>submitted ✉<small>E</small>")
        RefCont(Contributed<br>Reports) --> RepSub
        RepSub --vetting--> RepPub("Reports<br>published ✉<small>A</small>")
        RepPub --> AuthResp("Author response<br> ✉<small>E,R?C?</small>")
        ContCom("Contributed<br>Comments ✉<small>E</small>") --vetting--> ComPub("Comments<br>published ✉<small>A</small>")
        ComPub --> AuthResp
        AuthResp --> RefClosed(Refereeing round<br>closed)
    end
    RefClosed --> EiCRec[[Goto:<br>Editorial recommendation]]
      </pre>
    </details>
  </div>
  <div class="m-2 border">
    <details open>
      <summary class="p-2">
	<strong>Recommendation, voting and decision</strong>
	{% if submission %}{% if submission.in_stage_decisionmaking %}<span class="text-warning ms-4">Current stage of this Submission</span>{% elif submission.stage_decisionmaking_completed %}<span class="text-success ms-4">Completed</span>{% else %}<span class="text-primary ms-4">Not started</span>{% endif %}{% endif %}
      </summary>
      <pre class="mermaid workflowDiagram">
flowchart LR
    subgraph EiCRec [Editorial recommendation]
        RefClosed([Refereeing round<br>closed]) --> EiCRecForm{% verbatim %}{{EiC Rec<br>Formulation}}{% endverbatim %}
        DirectRec([Direct<br>Recommendation]) --> EiCRecForm
    end
    subgraph EdColVote [Editorial College vote]
        VotePrep(Voting<br>in preparation) --> VotingInv(Fellows<br>invited to vote)
        VotingInv --> Voting(Fellows voting)
    end
    EiCRecForm --minor/major revision--> Resub(Resubmission<br>required)
    EiCRecForm --accept/reject--> EdColVote
    Resub --> Refereeing[[Goto: Refereeing in preparation:<br>Resubmission received or refereeing restarted]]
    subgraph EdDec ["Editorial decision ✉<small>A</small>"]
        AcceptTarget{% verbatim %}{{Accept<br>in target<br>Journal}}{% endverbatim %}
        AcceptAlt{% verbatim %}{{Accept<br>in alternative<br>Journal}}{% endverbatim %}
        Reject{% verbatim %}{{Reject}}{% endverbatim %}
        RestartRef{% verbatim %}{{Restart<br>refereeing}}{% endverbatim %}
    end
    EdColVote --> EdDec
    AcceptTarget --> Production([Production])
    AcceptAlt --> PubOffer("Publication<br>offer ✉<small>A</small>")
    PubOffer --accept--> Production[[Production stream<br>started]]
    PubOffer --decline--> Close([Processing<br>closed])
    RestartRef --> Refereeing
    Reject --> Close
      </pre>
    </details>
  </div>
</details>
