{% if submission.publications.published %}
  <p class="mt-2">Published as
    {% for publication in submission.publications.published %}
      <a href="{{ publication.get_absolute_url }}">
  	{{ publication.citation }}</a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% else %}
    <div class="submission status mt-2">
      <h6 class="prefix">Current status:</h6>
      <div class="status">
	<span class="label label-secondary">{{ submission.get_status_display }}</span>
      </div>
      {% if submission.editorial_decision and submission.editorial_decision.status != submission.editorial_decision.DEPRECATED %}
	<p>
	  Editorial decision:
	<span class="label label-secondary">For Journal {{ submission.editorial_decision.for_journal }}: {{ submission.editorial_decision.get_decision_display }}</span>
	<br>(status: {{ submission.editorial_decision.get_status_display }})
      </p>
    {% endif %}
  </div>
{% endif %}
