{% load bootstrap %}
{% load submissions_extras %}
{% load user_groups %}

{% is_ed_admin request.user as is_ed_admin %}

<h3 class="highlight">
  Editorial information &emsp;<button type="button" class="btn btn-primary px-1 py-0" data-bs-toggle="toggle" data-bs-target="#editorialinformation"><small>Show/hide</small></button>
</h3>

<div id="editorialinformation" class="mt-2" style="display:none;">
  <div class="mb-4">
    {% if submission.editor_in_charge == request.user.contributor %}
      <p><strong>You are the Editor-in-charge, go to the <a href="{% url 'submissions:editorial_page' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Editorial Page</a> to take editorial actions.</strong></p>
    {% elif perms.scipost.can_oversee_refereeing and not is_author and not is_author_unchecked %}
      <p><strong>You are Editorial Administrator. See <a href="{% url 'submissions:editorial_page' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Editorial Page</a> for detailed information.</strong></p>
    {% endif %}

    <h3>Status summary:</h3>
    <table class="table table-borderless">
      <tr>
        <td>Submission status:</td>
        <td><span class="label label-secondary">{{ submission.get_status_display }}</span></td>
      </tr>
      <tr>
        <td>Recommendation status:</td>
        <td>
          {% if submission.recommendation %}
            <span class="label label-secondary">{{ submission.recommendation.get_status_display }}</span>
          {% else %}
            <span class="label label-secondary">No Editorial Recommendation is formulated yet.</span>
          {% endif %}
        </td>
      </tr>
      <tr>
	<td>Editorial decision:</td>
	<td>
	  {% if submission.editorial_decision %}
	    For Journal {{ submission.editorial_decision.for_journal }}: {{ submission.editorial_decision.get_decision_display }}
	    <br>
	    (status: {{ submission.editorial_decision.get_status_display }})
	  {% elif submission.editorialdecision_set.deprecated %}
	    Deprecated decisions:
	    <ul>
	      {% for decision in submission.editorialdecision_set.deprecated %}
		<li>{{ decision }}</li>
	      {% endfor %}
	    </ul>
	  {% else %}
	    <span class="label label-secondary">No Editorial Decision has been taken yet.</span>
	  {% endif %}
	</td>
      </tr>
      <tr>
        <td>Submission is publicly available:</td>
        <td>
          {% if submission.visible_public %}
            <span class="text-success" aria-hidden="true">{% include 'bi/check-circle-fill.html' %}</span>
            <span class="text-muted">Available in public pages and search results.</span>
          {% else %}
            <span class="text-danger" aria-hidden="true">{% include 'bi/x-circle-fill.html' %}</span>
            <span class="text-muted">Only available for editors and authors.</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Submission is current version:</td>
        <td>
          {% if submission.is_latest %}
            <span class="text-success" aria-hidden="true">{% include 'bi/check-circle-fill.html' %}</span>
            <span class="text-muted">This is the latest version.</span>
          {% else %}
            <span class="text-danger" aria-hidden="true">{% include 'bi/x-circle-fill.html' %}</span>
            <span class="text-muted">This is not the latest version.</span>
          {% endif %}
        </td>
      </tr>
      {% if submission.publications.published %}
        <tr>
          <td>Submission is published as:</td>
          <td>
	    {% for publication in submission.publications.published %}
	      <a href="{{ publication.get_absolute_url }}">
	      	{{ publication.citation }}</a>
	      {% if not forloop.last %}, {% endif %}
	    {% endfor %}
          </td>
        </tr>
      {% endif %}
    </table>
  </div>

  <div class="mb-4">
    <h3 class="mb-2">Editorial Recommendation:</h3>
    {% for recommendation in submission.eicrecommendations.active %}
      {% if is_ed_admin or request.user.contributor in recommendation.eligible_to_vote.all %}
	{% include 'submissions/_previous_recommendations_card_fellow_content.html' with recommendation=recommendation %}
	{% include 'submissions/_recommendation_fellow_content.html' with recommendation=recommendation %}
      {% else %}
	{% include 'submissions/_recommendation_author_content.html' with recommendation=recommendation %}
      {% endif %}
    {% empty %}
      No Editorial Recommendation has yet been formulated.
    {% endfor %}
  </div>

  <div class="mb-4">
    <h4>Communications</h4>
    <div id="communications">
      {% include 'submissions/_communication_thread.html' with communication=submission.editorial_communications.for_authors css_class='wide' %}
    </div>
  </div>

  <div class="mb-4">
    <h3>Events:</h3>
    <div id="eventslist">
      {% include 'submissions/_submission_events.html' with events=submission.events.for_author %}
    </div>
  </div>


  <div class="mb-4" id="proofsslist">
    <h3>Proofs:</h3>
    <ul class="list-group list-group-flush events-list">
      {% for proofs in submission.production_stream.proofs.for_authors %}
        <li>
          <a href="{{ proofs.get_absolute_url }}" target="_blank">Download version {{ proofs.version }}</a> &middot; uploaded: {{ proofs.created|date:"DATE_FORMAT" }} &middot;
          status: <span class="label label-secondary label-sm">{{ proofs.get_status_display }}</span>
          {% if proofs.status == 'accepted_sup' or proofs.status == 'sent' %}
            {% if proofs_decision_form and is_author %}
              <h3 class="mb-0 mt-2">Please advise the Production Team on your findings on Proofs version {{ proofs.version }}</h3>
              <form method="post" enctype="multipart/form-data" action="{% url 'production:author_decision' proofs.slug %}" class="my-2">
                {% csrf_token %}
                {{ proofs_decision_form|bootstrap }}
                <input class="btn btn-primary btn-sm" type="submit" value="Submit">
              </form>
            {% endif %}
          {% endif %}
        </li>
      {% empty %}
        <li class="list-group-item">No proofs are available yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
