{% if sibling.preprint.identifier_w_vn_nr in request.path %}
  <p class="text-center bg-info"><em>You are viewing this version</em></p>
{% endif %}
<div class="d-flex flex-column mt-3 mb-1">
  <div class="d-flex justify-content-between align-items-center pubtitleli fs-5 pe-1 ps-3">
    <a href="{{ sibling.get_absolute_url }}" {% if target_blank %} target="_blank"{% endif %}>{{ sibling.preprint.identifier_w_vn_nr }}</a>
    
    {% if submission.editor_in_charge == request.user.contributor or perms.scipost.can_oversee_refereeing and not is_author and not is_author_unchecked %}
      <div class="d-flex gap-1">
        <a href="{% url 'submissions:submission' sibling.preprint.identifier_w_vn_nr %}" class="px-2 py-1 bg-primary text-white"
          data-bs-toggle="tooltip" title="Submission Page"> {% include "bi/journal-text.html" %}</a>
        <a href="{% url 'submissions:editorial_page' sibling.preprint.identifier_w_vn_nr %}" class="px-2 py-1 bg-warning text-white"
        data-bs-toggle="tooltip" title="Editorial Page"> {% include "bi/pen-nib-fill.html" %}</a>
      </div>
    {% endif %}
  </div>
  <span class="text-muted mx-3">{% if sibling.is_resubmission_of %}Resubmission{% else %}Original submission{% endif %} on {{ sibling.submission_date|date:'Y-m-d' }}</span>
</div>
<ul class="my-2 ps-4">
  {% for report in sibling.reports.accepted %}
    <li><a href="{{ report.get_absolute_url }}"{% if target_blank %} target="_blank"{% endif %}>Report {{ report.report_nr }} submitted on {{ report.date_submitted }} by {% if report.anonymous %}<em>Anonymous</em>{% else %}{{ report.author.profile.get_title_display }} {{ report.author.user.last_name }}{% endif %}</a></li>
    {% include 'comments/_comments_list.html' with comments=report.comments.vetted css_class='my-1 ps-4' target_blank=target_blank %}
  {% endfor %}
</ul>
