{% extends 'submissions/_submission_li.html' %}

{% load common_extras %}

{% block card_footer %}
  <p class="meta">
    Version {{ submission.thread_sequence_order }} {% if submission.is_latest %}(latest version){% endif %}
    <br>
    {% with published_publications=submission.published_publications|default_if_none:submission.publications.published %}
      {% if published_publications %}
        Published as
        {% for publication in published_publications %}
          <a href="{{ publication.get_absolute_url }}">{{ publication.citation }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        Submitted {{ submission.submission_date }} to {{ submission.submitted_to }}
      {% endif %} 
      &middot; latest activity: {{ submission.latest_activity }}
    {% endwith %}
  </p>
{% endblock %}
