{% load submissions_extras %}
{% load request_filters %}

<div class="submission-contents">
  <h3>Submission & Refereeing History</h3>
  {% if submission.thread_full.first.publication and submission.thread_full.first.publication.is_published %}
    <h4 class="my-4">
      <span class="border border-2 border-success p-2">
        Published as
        <a href="{{ submission.thread_full.first.publication.get_absolute_url }}">
	  {{ submission.thread_full.first.publication.citation }}
        </a>
      </span>
    </h4>
  {% endif %}

  {% if perms.scipost.can_oversee_refereeing %}
    <small class="text-muted">Thread {{ submission.thread_hash }}
      <br/>(all emails concerning this stream contain this uuid)</small>
  {% endif %}
  {% if perms.scipost.can_oversee_refereeing or request.user|is_in_submission_fellowship:submission %}
    {% for sibling in submission.thread_full %}
      <div class="p-2{% if sibling.preprint.identifier_w_vn_nr in request.path %} border border-secondary{% endif %}">
	{% include 'submissions/_submission_refereeing_history_entry.html' with sibling=sibling %}
	{% include 'comments/_comments_list.html' with comments=sibling.comments.vetted css_class='my-2 ps-4' target_blank=target_blank %}
      </div>
    {% empty %}
      <em>There are no visible links available yet.</em>
    {% endfor %}
  {% else %}
    {% for sibling in submission.thread %}
      <div class="p-2{% if sibling.preprint.identifier_w_vn_nr in request.path %} border border-secondary{% endif %}">
	{% include 'submissions/_submission_refereeing_history_entry.html' with sibling=sibling %}
	{% include 'comments/_comments_list.html' with comments=sibling.comments.vetted css_class='my-2 ps-4' target_blank=target_blank %}
      </div>
    {% empty %}
      <em>There are no publicly visible links available yet.</em>
    {% endfor %}
  {% endif %}
</div>
