{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: communication{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}
{% load user_groups %}

{% is_ed_admin request.user as is_ed_admin %}

{% block breadcrumb_items %}

  {% if request.user.contributor == submissions.editor_in_charge or is_ed_admin %}
    {{block.super}}
    <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
  {% else %}
    <a href="{% url 'submissions:submissions' %}" class="breadcrumb-item">Submissions</a>
    <a href="{{ submission.get_absolute_url }}" class="breadcrumb-item">{{ submission.preprint.identifier_w_vn_nr }}</a>
  {% endif %}
  <span class="breadcrumb-item">Communication</span>
{% endblock %}

{% block content %}


  <div class="card bg-light mb-3 p-2">
    <h1 class="mb-0">Send a Communication</h1>
  </div>

  {% include 'submissions/_submission_card_content.html' with submission=submission %}

  <hr class="mb-4"/>

  <div class="row">
    <div class="col-12">
      <form action="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype=comtype referee_id=referee_id|default:0 %}" method="post">
        {% csrf_token %}

        <div class="row mb-0">
          <div class="col-auto">
            <label for="subject" class="form-label fs-5 p-2">Subject</label>
          </div>
          <div class="col">
            <input name="subject" type="text" class="form-control" disabled readonly value="SciPost: communication ({{ dummy_communication.get_comtype_display }})" />
          </div>
        </div>

        <div class="row mb-0">
          <div class="col-auto">
            <label for="recipient" class="form-label fs-5 p-2">
              <span>Recipient</span>
            </label>
          </div>
          <div class="col">
            <input name="recipient" type="text" class="form-control" disabled readonly value="{{ dummy_communication.recipient_name }}">
          </div>
        </div>
        
        {% if comtype|first != 'A' %}
          <div class="row mb-0">
            <div class="col-auto">
              <label for="address" class="form-label fs-5 p-2">
                <span>Address</span>
              </label>
            </div>
            <div class="col">
              <input name="address" type="text" class="form-control" disabled readonly value="{{ dummy_communication.recipient_email }}">
            </div>
          </div>
        {% endif %}

        {{ form|bootstrap:'0,12' }}
        <input class="btn btn-primary" type="submit" value="Send communication (to {{ dummy_communication.get_recipient_type_display}})"/>
      </form>
    </div>
  </div>
{% endblock content %}
