{% extends 'submissions/base.html' %}

{% load bootstrap %}

{% block meta_description %}{{ block.super }} Submissions monitor{% endblock meta_description %}
{% block pagetitle %}: Submissions monitor{% endblock pagetitle %}

{% block breadcrumb_items %}
  <a href="{% url 'scipost:index' %}" class="breadcrumb-item">Homepage</a>
  <span class="breadcrumb-item">Submissions</span>
  <span class="breadcrumb-item">Monitor</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1 class="highlight">Submissions Monitor</h1>
      <p>This page provides information of the timescales associated to various phases of the editorial workflow.</p>
      <p>This data <span class="text-danger">excludes submissions to Proceedings journals</span>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="highlight">Load (#Submission versus #Fellows)</h2>
      <p>Based on submission numbers in the last 12 months.</p>
      <p><strong class="text-danger">Caveat</strong>: this handles specialties one by one; a Submission/Fellow linked to multiple specialties is thus counted multiple times.</p>
      <table class="table">
	<tr>
	  <td>Legend</td>
	  <td class="bg-danger text-white">More than 8 streams per Fellow</td>
	  <td class="bg-warning text-white">More than 4 streams per Fellow</td>
	  <td class="bg-success text-white">4 streams or less (target)</td>
	</tr>
      </table>
      <table class="table">
	<thead>
	  <th>Field</th>
	  <th>Specialty</th>
	  <th>Nr<br/><small class="text-muted">(new streams)</small></th>
	  <th>Nr<br/><small class="text-muted">(including resub)</small></th>
	  <th>Nr Fellows<br/>
	    <small class="text-muted">total&emsp;(senior&nbsp;|&nbsp;regular&nbsp;|&nbsp;guest)</small>
	  </th>
	  <th>Load<br/>
	    <small class="text-muted">(nr streams per Fellow per year)</small>
	  </th>
	</thead>
	{% for entry in submissions_versus_fellows %}
	  <tr{% if entry.ratio > 8 %} class="bg-danger text-white"{% elif entry.ratio > 4 %} class="bg-warning text-white"{% else %} class="bg-success text-white"{% endif %}>
	    <td>{{ entry.acad_field }}</td>
	    <td>{{ entry.specialty }}</td>
	    <td>{{ entry.nr_streams }}</td>
	    <td>{{ entry.number }}</td>
	    <td>{{ entry.fellows_total }}&emsp;({{ entry.fellows_senior }}&nbsp;|&nbsp;{{ entry.fellows_regular }}&nbsp;|&nbsp;{{ entry.fellows_guest }})</td>
	    <td>{{ entry.ratio|floatformat }}</td>
	  </tr>
	{% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="highlight">Screening phase (finding an EIC)</h2>
      <p>Dataset: Submissions with status <em>unassigned (awaiting editor assignment)</em></p>
      <p>Any fields in <span class="bg-danger text-white px-1">red</span> or <span class="bg-warning text-white px-1">orange</span> background need more Fellows in order to accelerate processing.</p>
      <table class="table">
	<tr>
	  <td>Legend</td>
	  <td class="bg-danger text-white">More than 10 days</td>
	  <td class="bg-warning text-white">More than 5 days</td>
	  <td class="bg-success text-white">5 days or less (target)</td>
	</tr>
      </table>
      <table class="table">
	<thead>
	  <th>Field</th>
	  <th>Specialty</th>
	  <th>Nr awaiting EIC</th>
	  <th>Total waiting days</th>
	  <th>Avg waiting days</th>
	  <th>Max waiting days</th>
	</thead>
	{% for entry in timescales_screening %}
	  <tr{% if entry.avg_waiting_days > 10 %} class="bg-danger text-white"{% elif entry.avg_waiting_days > 5 %} class="bg-warning text-white"{% else %} class="bg-success text-white"{% endif %}>
	    <td>{{ entry.acad_field }}</td>
	    <td>{{ entry.specialty }}</td>
	    <td>{{ entry.number }}</td>
	    <td>{{ entry.waiting_days }}</td>
	    <td>{{ entry.avg_waiting_days }}</td>
	    <td>{{ entry.max_waiting_days }}</td>
	  </tr>
	{% endfor %}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="highlight">From original submission to acceptance</h2>
      <p>Dataset: Submissions with status <em>accepted (not yet published)</em>.</p>
      <p>Total time from original submission to acceptance, including all resubmissions.</p>
      <p>This is not an accurate reflection of the rapidity of processing at SciPost, since
	the time for authors to resubmit is counted in.</p>
      <table class="table">
	<tr>
	  <td>Legend</td>
	  <td class="bg-danger text-white">More than 180 days</td>
	  <td class="bg-warning text-white">More than 90 days</td>
	  <td class="bg-success text-white">90 days or less (target)</td>
	</tr>
      </table>
      <table class="table">
	<thead>
	  <th>Field</th>
	  <th>Specialty</th>
	  <th>Nr</th>
	  <th>Total processing days</th>
	  <th>Avg processing days</th>
	  <th>Max processing days</th>
	</thead>
	{% for entry in timescales_original_submission_to_acceptance %}
	  <tr{% if entry.avg_waiting_days > 180 %} class="bg-danger text-white"{% elif entry.avg_waiting_days > 90 %} class="bg-warning text-white"{% else %} class="bg-success text-white"{% endif %}>
	    <td>{{ entry.acad_field }}</td>
	    <td>{{ entry.specialty }}</td>
	    <td>{{ entry.number }}</td>
	    <th>{{ entry.waiting_days }}</th>
	    <th>{{ entry.avg_waiting_days }}</th>
	    <th>{{ entry.max_waiting_days }}</th>
	  </tr>
	{% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
