{% extends 'submissions/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Submit a report</span>
{% endblock %}

{% load bootstrap %}
{% load static %}

{% block pagetitle %}: submit report{% endblock pagetitle %}

{% block content %}

  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-12">
        <h1 class="highlight">Submit a Report on a SciPost Submission</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Submission</h3>
        {% include 'submissions/_submission_summary.html' with submission=submission show_abstract=1 %}
      </div>
    </div>

    <hr class="divider">
    <div class="row">
      <div class="col-12">
        <div class="card bg-light">
          <div class="card-body">
            <h2>Your {% if form.instance.is_followup_report %}followup {% endif %}report:</h2>
            <p>A preview of text areas will appear below as you type (you can use $\LaTeX$ \$...\$ for in-text equations or \ [ ... \ ] for on-line equations).</p>
	    <p>Before you get started, please make sure you are familiar with our <a href="https://scipost.org{% url 'submissions:referee_guidelines' %}" target="_blank">referee guidelines</a>, <a href="https://scipost.org{% url 'submissions:refereeing_procedure' %}" target="_blank">refereeing procedure</a> and <a href="{% url 'journals:journals_terms_and_conditions' %}#referee_code_of_conduct" target="_blank">referee code of conduct</a>.</p>

	    <div class="card border-danger mx-1 mt-2 mb-4">
	      <div class="card-header text-white bg-danger">
		<h2 class="mb-0">Important!</h2>
	      </div>
	      <div class="card-body pb-1">
		<ul>
		  <li>This manuscript was submitted to <strong>{{ submission.submitted_to }}</strong>. Please make sure that you refer to this journal's <a href="{% url 'journal:about' doi_label=submission.submitted_to.doi_label %}#criteria" target="_blank"><strong>acceptance criteria</strong></a> in your evaluation.</li>
		  <li>If you feel the article would be more appropriately published in one of our <a href="{% url 'journals:journals' %}?field={{ submission.acad_field.slug }}" target="_blank"><strong>other {{ submission.adac_field }} Journals</strong></a>, please
		    <ul>
		      <li>select <em>Accept in alternative Journal</em> in the <strong>Recommendation</strong> field</li>
		      <li>in the <strong>Report</strong> field, specify the alternative Journal in which you would recommend acceptance
			<br>
			<ul class="list-unstyled">
			  <li><strong>example 1</strong>: <em>This submission transcends the criteria of [Journal 1] and meets those of [Journal A], it should be published in the latter</em></li>
			  <li><strong>example 2</strong>: <em>This submission does not meet the criteria of [Journal A], but does meet those of [Journal 1], where it could be published.</em></li>
			</ul>
		      </li>
		    </ul>
		  </li>
		</ul>
	      </div>
	    </div>

	    <div class="mb-0">
	      <table class="table">
		<tr>
		  <th>Required fields</th>
		  <td>
		    <ul>
		      <li>text field for <em>report</em></li>
		      <li><em>recommendation</em> (publish? revise? reject?)</li>
		      <li><em class="text-muted">optional remarks for the editors only</em></li>
		      <li><em>anonymity</em> specifier</li>
		    </ul>
		  </td>
		</tr>
		<tr>
		  <th>Optional fields</th>
		  <td>
		    <ul>
		      <li><em>qualification</em> specifier</li>
		      <li>text fields for <em>strengths, weaknesses, report, requested changes</em></li>
		      <li>and specifiers for <em>validity, significance, originality, clarity, formatting</em> and <em>grammar</em></li>
		    </ul>
		  </td>
		</tr>
	      </table>
	      <button class="btn btn-primary px-2 py-1" id="reportSelectorButton">
		<span id="showSimpleReportButton">
		  Show required fields only
		</span>
		<span id="showFullReportButton">
		  Show all fields
		</span>
	      </button>
	    </div>

	    {% if form.instance.is_followup_report %}
              <p class="mb-0">
                Because you have already submitted a Report for this Submission series, not all fields are required.
              </p>
            {% endif %}
          </div>
        </div>
        {% if form.report_type == 'report_post_edrec' %}
          <div class="card border-warning my-4">
            <div class="card-body">The Editorial Recommendation for this Submission has already been formulated. Therefore, your report will be labelled as <label class="label label-warning">Post-Editorial Recommendation Report</label>.
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <br>
            <form action="{% url 'submissions:submit_report' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|bootstrap:'12,12' }}
              <div class="anonymous-alert" style="display: none;">
                <h3 class="anonymous-yes">Your Report will remain anonymous.</h3>
                <h3 class="anonymous-no"><span class="text-danger">Your Report will be <span class="text-underline">signed</span>.</span> Thank you very much!</h3>
              </div>
              <p>Any fields with an asterisk (*) are required.</p>
              <input class="btn btn-primary" type="submit" name="save_submit" value="Submit your report"/>
              <input class="btn btn-outline-secondary ms-2" type="submit" name="save_draft" value="Save your report as draft"/>
              {% if form.report_type == 'report_post_edrec' %}
                <div class="card border-warning mt-4">
                  <div class="card-body">The Editorial Recommendation for this Submission has already been formulated. Therefore, your report will be labelled as <label class="label label-warning">Post-Editorial Recommendation Report</label>.
                  </div>
                </div>
              {% endif %}
              <div class="my-4">
                <em>By clicking on Submit, you state that you abide by the <a href="{% url 'journals:journals_terms_and_conditions' %}#referee_code_of_conduct" target="_blank">referee code of conduct</a>.</em>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <br>
            {% include 'submissions/_report_preview.html' %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}

{% endblock %}


{% block footer_script %}
  <script src="{% static 'scipost/toggle-report-fields.js' %}"></script>
  <script src="{% static 'scipost/report-preview.js' %}"></script>
{% endblock %}
