{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: select referee for submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
  <span class="breadcrumb-item">Select Referee</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-body">
          <h1 class="card-text">Referee Selection Page for Submission</h1>
          <p class="card-text">(go to the <a href="{% url 'submissions:submission' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Submissions Page</a> to view Reports and Comments)</p>
          <p class="card-text">(go back to the <a href="{% url 'submissions:editorial_page' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Editorial Page</a> to take editorial actions)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Submission:</h2>
      {% include 'submissions/_submission_summary.html' with submission=submission show_abstract=1 %}

      {% if submission.referees_flagged %}
        <h3>Referees flagged upon submission (treat reports with caution):</h3>
        <p>{{ submission.referees_flagged }}</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="highlight" id="form">Select an additional Referee</h2>

      <form action="{% url 'submissions:select_referee' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="get">
        {{ referee_search_form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Find referee">
      </form>
    </div>
  </div>

  {% if queryresults.entries %}
    <div class="row">
      <div class="col-12">
        <div class="card border-danger">
          <div class="card-body">
            <h3 class="card-title text-danger">The system identified the following potential coauthorships (from arXiv database)</h3>
            <p class="card-text text-danger">(only up to 5 most recent shown; if within the last 3 years, referee is disqualified):</p>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush px-0">
              {% for entry in queryresults.entries %}
                <li class="list-group-item">
                  {% include 'submissions/_arxiv_queryresult.html' with item=entry id=forloop.counter id2=0 %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      {% if workdays_left_to_report < 15 %}
        <div class="my-5 p-3 border border-danger" style="border-width: 2px !important;">
          <span class="text-warning">{% include 'bi/exclamation-triangle-fill.html' %}</span>
          <strong class="text-danger">
            Warning: there are {{ workdays_left_to_report }} working days left before the refereeing deadline.
          </strong>

          <div class="my-2">Standard refereeing period for {{ submission.submitted_to }}: <strong>{{ submission.submitted_to.refereeing_period.days }} days</strong>.</div>

          Consider resetting the refereeing deadline at the <a href="{% url 'submissions:editorial_page' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Editorial Page</a> before inviting a referee.
        </div>
      {% endif %}
      {% if profiles_found %}
        <h3 class="mt-4">Matching people in our database:</h3>
        <table class="table table-light table-hover v-center">
          <thead class="table-light">
            <tr>
              <th>Name<br/><br/></th>
              <th>Registered<br>Contributor?<br/><br/></th>
              <th>Email<br>known?<br/><br/></th>
              <th>Accepts<br/>requests?</th>
              <th>Action<br/><span class="text-muted fw-normal">(Unregistered people will also automatically receive a registration invitation)</span></th>
            </tr>
          </thead>
          <tbody>
            {% for profile in profiles_found %}
              <tr>
            	<td>{{ profile }}</td>
            	<td>{% if profile.contributor %}<span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>{% else %}<span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>{% endif %}</td>
            	<td>{% if profile.email %}<span class="text-success">{% include 'bi/check-circle-fill.html' %}</span> <span class="text-muted">{{ profile.email }}</span>{% else %}<span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>{% endif %}</td>
                <td>
                  {% if profile.accepts_refereeing_requests %}
                    <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>{% else %}<span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>
                  {% endif %}
                </td>
            	<td>
                  {% if profile.accepts_refereeing_requests %}
                    {% if profile.email %}
                      Send refereeing invitation <a href="{% url 'submissions:invite_referee' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr profile_id=profile.id auto_reminders_allowed=1 %}">with</a> or <a href="{% url 'submissions:invite_referee' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr profile_id=profile.id auto_reminders_allowed=0 %}">without</a> auto-reminders. {% include 'submissions/_refinv_auto_reminders_tooltip.html' %}
                    {% else %}
                      <span class="text-danger">Cannot send an invitation without an email</span> {% include 'bi/arrow-right.html' %} Add one:
                      <form class="form-inline" action="{% url 'profiles:add_profile_email' profile_id=profile.id %}" method="post">
                        {% csrf_token %}
                        {{ profile_email_form|bootstrap }}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        <input class="btn btn-outline-secondary" type="submit" value="Add">
                      </form>
                    {% endif %}
                  {% else %}
                    <span class="text-danger">This person does not accept refereeing requests</span>
                  {% endif %}
            	</td>
              </tr>
	      {% with profile.responsiveness_as_referee as stats %}
		{% if stats.sent %}
		  <tr>
		    <td colspan="5">
		      <em class="ms-4">
			{% include "bi/arrow-return-right.html" %}&nbsp;
			Responsiveness (last 5 years) --
			Sent: {{ stats.sent }},&nbsp;
			Accepted: {{ stats.accepted }},&nbsp;
			Declined: {{ stats.declined }},&nbsp;
			Cancelled: {{ stats.cancelled }},&nbsp;
			Fulfilled: {{ stats.fulfilled }}
		      </em>
		    </td>
		  </tr>
		{% endif %}
	      {% endwith %}
            {% empty %}
              <tr>
            	<td>No Profiles found</td>
            	<td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}


      {% if profile_form %}
        <h3 class="mb-3 mt-5">Not found? Then add to our database by filling this form:</h3>
        <form action="{% url 'submissions:add_referee_profile' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
          {% csrf_token %}
          {{ profile_form|bootstrap }}

          <p><em>This form does not send invitation yet: you will return to this page, from which you can then invite this referee.</em></p>
          <button type="submit" name="submit" class="btn btn-primary">Add to database</button>
        </form>
    </div>
  </div>
      {% endif %}


{% endblock %}
