{% extends 'submissions/base.html' %}

{% block pagetitle %}: submit manuscript{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Submit a manuscript</span>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">{% if thread_hash %}Resubmit a{% else %}Submit a new{% endif %} manuscript to {{ journal }}</h1>
    </div>
  </div>

  {% if perms.scipost.can_submit_manuscript %}

    <div class="row">
      <div class="col-md-6">
	<h2 class=highlight>Step 4</h2>
	<h3>Final step: complete and submit the form</h3>
	<p>We prefilled the form as much as we could, please complete it and then submit.</p>

      </div>
      <div class="col-md-6">
	{% include 'submissions/submit_steps.html' with step=4 thread_hash=thread_hash %}
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        {% if form %}
	  <h2>Please provide these last bits of information, and carefully check all prefilled fields</h2>

	  {% if form.errors %}
	    {% for field in form %}
	      {% for error in field.errors %}
		<div class="alert alert-danger">
		  <strong>{{ field.name }} - {{ error|escape }}</strong>
		</div>
	      {% endfor %}
	    {% endfor %}
	    {% for error in form.non_field_errors %}
	      <div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	      </div>
	    {% endfor %}
	  {% endif %}

          <form class="mt-4" id="full_submission_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <p>
              By clicking on Submit, you state that you have read and agree with the <a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions</a>, the <a href="{% url 'journals:journals_terms_and_conditions' %}#license_and_copyright_agreement">license and copyright agreement</a> and the <a href="{% url 'journals:journals_terms_and_conditions' %}#author_obligations">author obligations</a>.
            </p>
            <input type="submit" class="btn btn-primary" value="Submit manuscript"/>
          </form>
        {% endif %}

      </div>
    </div>

  {% else %}
    <h3>You are currently not allowed to submit a manuscript.</h3>
  {% endif %}

{% endblock content %}


{% block footer_script %}
  {{ form.media }}
{% endblock %}
