{% load static %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Publication</th>
      <th>Publication date</tdh>
      <th>DOI</th>
      {% if can_manage_journal_content %}
	<th>Sum PubFracs<br>
	  <span class="text-secondary">[for managers]</span>
	</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for pub in publications %}
      <tr class="table-row" data-href="{{ pub.get_absolute_url }}">
	<td>
	  <strong>{{ pub.get_title }}</strong>
	  <br>
	  by {{ pub.get_author_list }}
	  <br>
	  {{ pub.journal }}
	  {% if pub.get_volume %}
	    &nbsp;Vol. {{ pub.get_volume }}
	  {% endif %}
	  {% if pub.get_pages %}
	    ,&nbsp;p.{{ pub.get_pages }}
	  {% endif %}
	</td>
	<td>{{ pub.publication_date }}</td>
	<td>{{ pub.doi }}</td>
	{% if can_manage_journal_content %}
	  <td>
	    {% with pub.get_sum_pubfractions as sum_pubfracs %}
	      {{ sum_pubfracs }}&nbsp;
	      {% if sum_pubfracs == 1 %}
		<span class="bg-white text-success">
		  {% include 'bi/check-square-fill.html' %}
		</span>
	      {% else %}
		<span class="bg-white text-danger">
		  {% include 'bi/exclamation-square-fill.html' %}
		</span>
	      {% endif %}
	    {% endwith %}
	  </td>
	{% endif %}
      </tr>
    {% empty %}
      <tr>
	<td>No publications yet</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% block footer_script %}
  <script src="{% static 'scipost/table-row-blank.js' %}"></script>
{% endblock footer_script %}
