{% extends 'affiliates/base.html' %}

{% block pagetitle %}: Affiliate Journals: Organizations{% endblock %}

{% block breadcrumb_items %}
  <span class="breadcrumb-item">Affiliates</span>
  <span class="breadcrumb-item"><a href="{% url 'affiliates:journals' %}">Journals</a></span>
  <span class="breadcrumb-item"><a href="{% url 'affiliates:journal_detail' slug=journal.slug %}">{{ journal }}</a></span>
  <span class="breadcrumb-item">Organizations</span>
{% endblock %}

{% block content %}

  <h2 class="highlight">{{ journal }}: Benefitting Organizations</h2>

  <table class="table">
    <thead>
      <tr>
	<th>Organization</th>
	<th>Country</th>
	<th>Summed<br>PubFractions</th>
      </tr>
    </thead>
    <tbody>
      {% for organization in object_list %}
	<tr>
	  <td>
	    <a href="{% url 'organizations:organization_detail' pk=organization.id %}">{{ organization }}</a>
	    {% if organization.parent %}
	      <p><small class="text-muted">Parent: {{ organization.parent }}</small></p>
	    {% endif %}
	    {% if organization.children.all %}
	      <p><small class="text-muted">
		Parent of:
		{% for child in organization.children.all %}
		  {{ child }}{% if not forloop.last %},&nbsp;{% endif %}
		{% endfor %}
	      </small></p>
	    {% endif %}
	    {% if organization.superseded_by %}
	      <p><small class="text-muted">Superseded by {{ organization.superseded_by }}</small></p>
	    {% endif %}
	  </td>
	  <td><img src="{{ organization.country.flag }}" alt="{{ organization.country }} flag"/>&nbsp;<span class="text-muted"><small>[{{ organization.country }}]</small></span>&nbsp;&nbsp;{{ organization.get_country_display }}</td>
	  <td>{{ organization.sum_affiliate_pubfractions }}</td>
	</tr>
      {% empty %}
	<tr>
	  <td>No items at this time</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <div class="col-12">
      {% include '_pagination.html' with page_obj=page_obj %}
    </div>
  {% endif %}

{% endblock content %}
