{% extends 'affiliates/base.html' %}

{% load guardian_tags %}

{% block pagetitle %}: Affiliate Publications{% endblock %}

{% block breadcrumb_items %}
  <span class="breadcrumb-item">Affiliates</span>
  <span class="breadcrumb-item"><a href="{% url 'affiliates:journals' %}">Journals</a></span>
  {% if journal %}  
    <span class="breadcrumb-item"><a href="{% url 'affiliates:journal_detail' slug=journal.slug %}">{{ journal }}</a></span>
  {% endif %}
  <span class="breadcrumb-item">Publications</span>
{% endblock %}

{% block content %}

  {% if journal %}
    {% get_obj_perms request.user for journal as "user_perms" %}
  {% endif %}

  <h2 class="highlight">
    {% if journal %}
      Publications in Affiliate Journal: <a href="{% url 'affiliates:journal_detail' slug=journal.slug %}"><strong>{{ journal }}</strong></a>
    {% else %}
      Affiliate Publication
    {% endif %}
  </h2>

  {% if 'manage_journal_content' in user_perms %}
    {% include 'affiliates/_affiliatepublication_table.html' with publications=object_list can_manage_journal_content=True %}
  {% else %}
    {% include 'affiliates/_affiliatepublication_table.html' with publications=object_list %}
  {% endif %}

  {% if is_paginated %}
    <div class="col-12">
      {% include '_pagination.html' with page_obj=page_obj %}
    </div>
  {% endif %}

{% endblock content %}
