
Dear {{ citation_notification.contributor.profile.formal_name }},

<br>
<br>

<p>
    We would like to notify you that your work has been cited in

    {% if citation_notification.related_notifications.for_publications %}
        {% if citation_notification.related_notifications.for_publications|length > 1 %}{{ citation_notification.related_notifications.for_publications|length }} papers{% else %}a paper{% endif %}
        published by SciPost:

        <ul>
            {% for notification in citation_notification.related_notifications.for_publications %}
                <li>
                    <a href="https://doi.org/{{ citation_notification.publication.doi_string }}">{{ citation_notification.publication.citation }}</a>
                    <br>
                    {{ citation_notification.publication.title }}
                    <br>
                    <i>by {{ citation_notification.publication.author_list }}</i>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if citation_notification.related_notifications.for_submissions %}
        {% if citation_notification.related_notifications.for_submissions|length > 1 %}{{ citation_notification.related_notifications.for_submissions|length }} manuscripts{% else %}a manuscript{% endif %}
        submitted to SciPost,

        <ul>
            {% for notification in citation_notification.related_notifications.for_submissions %}
                <li>
                    {{ citation_notification.submission.title }}
                    <br>
                    <i>by {{ citation_notification.submission.author_list }}</i>
                    <br>
                    <a href="https://{{ domain }}/{{ citation_notification.submission.get_absolute_url }}">View the submission's page</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</p>

{% if citation_notification.related_notifications.for_publications %}
    <p>We hope you will find this paper of interest to your own research.</p>
{% else %}
    <p>You might for example consider reporting or commenting on the above submission before the refereeing deadline.</p>
{% endif %}

<p>
    Best regards,
    <br>
    The SciPost Team
</p>

{% if citation_notification.get_first_related_contributor and citation_notification.get_first_related_contributor.activation_key %}
    <p style="font-size: 10px;">
        Don\'t want to receive such emails? <a href="https://{{ domain }}{% url 'scipost:unsubscribe' citation_notification.get_first_related_contributor.id citation_notification.get_first_related_contributor.activation_key %}">Unsubscribe</a>
    </p>
{% endif %}

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=object.submission %}