
Dear {{ object.get_title }} {{ object.last_name }},

<br>
<br>

<p>
    We would like to notify you that your work has been cited in

    {% if object.related_notifications.for_publications %}
        {% if object.related_notifications.for_publications|length > 1 %}{{ object.related_notifications.for_publications|length }} papers{% else %}a paper{% endif %}
        published by SciPost:

        <ul>
            {% for notification in object.related_notifications.for_publications %}
                <li>
                    <a href="https://doi.org/{{ object.publication.doi_string }}">{{ object.publication.citation }}</a>
                    <br>
                    {{ object.publication.title }}
                    <br>
                    <i>by {{ object.publication.author_list }}</i>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object.related_notifications.for_submissions %}
        {% if object.related_notifications.for_submissions|length > 1 %}{{ object.related_notifications.for_submissions|length }} manuscripts{% else %}a manuscript{% endif %}
        submitted to SciPost,

        <ul>
            {% for notification in object.related_notifications.for_submissions %}
                <li>
                    {{ object.submission.title }}
                    <br>
                    <i>by {{ object.submission.author_list }}</i>
                    <br>
                    <a href="https://{{ request.get_host }}/{{ object.submission.get_absolute_url }}">View the submission's page</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</p>

{% if object.related_notifications.for_publications %}
    <p>We hope you will find this paper of interest to your own research.</p>
{% else %}
    <p>You might for example consider reporting or commenting on the above submission before the refereeing deadline.</p>
{% endif %}

<p>
    Best regards,
    <br>
    The SciPost Team
</p>

{% if object.get_first_related_contributor and object.get_first_related_contributor.activation_key %}
    <p style="font-size: 10px;">
        Don\'t want to receive such emails? <a href="https://{{ request.get_host }}{% url 'scipost:unsubscribe' object.get_first_related_contributor.id object.get_first_related_contributor.activation_key %}">Unsubscribe</a>
    </p>
{% endif %}



{% include 'email/_footer.html' %}
