<p>Dear authors,</p>

<p>
  The SciPost production team has finished the proofs of your manuscript (version {{ proofs.version }}). You can find the proofs on your <a href="https://{{ domain }}{{ proofs.stream.submission.get_absolute_url }}">Submission's page</a>.
</p>

<p>
  Please review the proofs and let us know whether you accept the proofs for publication using the form on the submission page.
</p>

<p>
  Sincerely,
  <br />

  {{ proofs.stream.supervisor.user.contributor.profile.full_name }},
  <br />
  SciPost Production
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=proofs.stream.submission %}
