{% if object.invitation_type == 'F' %}
    <strong>RE: Invitation to join the Editorial College of SciPost</strong>
    <br>
{% endif %}

Dear {% if object.message_style == 'F' %}{{ object.get_title_display }} {{ object.last_name }}{% else %}{{ object.first_name }}{% endif %},

<br><br>

{% if object.personal_message %}
    {{ object.personal_message|linebreaksbr }}
    <br>
{% endif %}


{% if object.invitation_type == 'R' %}
    {# Referee invite #}
    <p>
        We would hereby like to cordially invite you to become a Contributor on SciPost (this is required in order to deliver reports; our records show that you are not yet registered);
        for your convenience, we have prepared a pre-filled <a href="https://scipost.org/invitation/{{ object.invitation_key }}">registration form</a> for you.
        After activation of your registration, you will be allowed to contribute, in particular by providing referee reports.
    </p>
    <p>
        To ensure timely processing of the submission (out of respect for the authors),
        we would appreciate a quick accept/decline response from you, ideally within the next 2 days.
    </p>
    <p>
        If you are <strong>not</strong> able to provide a Report, you can let us know by simply <a href="https://scipost.org/submissions/decline_ref_invitation/{{ object.invitation_key }}"> clicking here</a>.
    </p>
    <p>
        If you are able to provide a Report, you can confirm this after registering and logging in (you will automatically be prompted for a confirmation).
    </p>
    <p>
        We very much hope that we can count on your expertise,
        <br>
        Many thanks in advance,
        <br>
        The SciPost Team
    </p>

{% elif object.invitation_type == 'C' %}
    {# "Regular" invite #}
    {% if object.citation_notifications.for_publications %}
        <p>
            Your work has been cited in
            {% if object.citation_notifications.for_publications|length > 1 %}{{ object.citation_notifications.for_publications|length }} papers{% else %}a paper{% endif %}
            published by SciPost:
        </p>

        <ul>
            {% for notification in object.citation_notifications.for_publications %}
                <li>
                    <a href="https://doi.org/{{ notification.publication.doi_string }}">{{ notification.publication.citation }}</a>
                    <br>
                    {{ notification.publication.title }}
                    <br>
                    <i>by {{ notification.publication.author_list }}</i>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object.citation_notifications.for_submissions %}
        <p>
            Your work has been cited in
            {% if object.citation_notifications.for_submissions|length > 1 %}{{ object.citation_notifications.for_submissions|length }} manuscripts{% else %}a manuscript{% endif %}
            submitted to SciPost,
        </p>

        <ul>
            {% for notification in object.citation_notifications.for_submissions %}
                <li>
                    {{ notification.submission.title }}
                    <br>
                    <i>by {{ notification.submission.author_list }}</i>
                    <br>
                    <a href="https://{{ request.get_host }}/{{ notification.submission.get_absolute_url }}">View the submission's page</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        We would hereby like to use this opportunity to quickly introduce you to the SciPost initiative, and to invite you to become an active Contributor.
    </p>
    <p>
        In summary, SciPost is a publication portal managed by
        professional scientists, offering (among others) high-quality
        Open Access journals with innovative forms of refereeing, and a
        means of commenting on all existing literature. SciPost is established as
        a not-for-profit foundation devoted to serving the interests of the
        international scientific community.
    </p>
    <p>
        The site is anchored at <a href="https://scipost.org">scipost.org</a>.
        Many further details about SciPost, its principles, ideals and implementation can be found at
        the <a href="https://scipost.org/about">about</a>
        and <a href="https://scipost.org/FAQ">FAQ</a> pages.</p>
        <p>As a professional academic, you can register at the
        <a href="https://scipost.org/register">registration page</a>,
        enabling you to contribute to the site's contents, for example by offering submissions, reports and comments.
    </p>
    <p>
        For your convenience, a partly pre-filled <a href="https://scipost.org/invitation/{{ object.invitation_key }}">registration form</a>
        has been prepared for you (you can in any case still register at the
        <a href="https://scipost.org/register">registration page</a>).
    </p>
    <p>
        If you do develop sympathy for the initiative, besides participating in the
        online platform, we would be very grateful if you considered submitting a
        publication to one of the journals within the near future, in order to help
        establish their reputation. We'll also be looking forward to your reaction,
        comments and suggestions about the initiative, which we hope you will find
        useful to your work as a professional scientist.
    </p>
    <p>
        Many thanks in advance for taking a few minutes to look into it,
        <br>
        <br>SciPost Foundation
        <br>Institute for Theoretial Physics
        <br>University of Amsterdam
        <br>Postbus 94485
        <br>1090 GL Amsterdam
        <br>The Netherlands
    </p>
{% elif object.invitation_type == 'F' %}
    {# Fellow invite #}
    <p>
        You will perhaps have already heard about SciPost, a publication
        portal established by and for professional scientists.
    </p>
    <p>
        SciPost is legally based on a not-for-profit foundation and will
        operate in perpetuity as a non-commercial entity at the exclusive service
        of the academic sector, bringing a cost-slashing alternative to existing practices.
    </p>
    <p>
        SciPost offers a collection of two-way open
        access (no subscription fees, no author fees) journals with extremely
        stringent (peer-witnessed) refereeing, overseen by
        our Editorial College (exclusively composed
        of established, professionally practising scientists). The whole process is
        designed to ensure the highest achievable scientific quality while making the
        editorial workflow as light and efficient as possible.
    </p>
    <p>
        To go straight to the point, on behalf of the SciPost Foundation
        and in view of your professional expertise, I hereby would
        like to invite you to become an Editorial Fellow and thus join the
        Editorial College of SciPost Physics.
    </p>
    <p>
        Please note that only well-known and respected senior academics are
        being contacted for this purpose. Academic reputation and involvement
        in the community are the most important criteria guiding our
        considerations of who should belong to the Editorial College.
    </p>
    <p>
        To help you in considering this, it would be best if you were to take
        the time to look at the website itself, which is anchored at scipost.org.
        Besides looking around the site, you can also personally register
        (to become a Contributor, without necessarily committing to membership
        of the Editorial College, this to be discussed separately) by visiting
        the following <a href="https://scipost.org/invitation/{{ object.invitation_key }}">
        single-use link</a>, containing a partly pre-filled form for your convenience.
    </p>
    <p>
        Many details about the initiative
        can then be found at scipost.org/about and at scipost.org/FAQ.
        Functioning of the College will proceed according to the by-laws set
        out in scipost.org/EdCol_by-laws.
    </p>
    <p>
        Since the success of this initiative is dependent on the involvement of
        the very people it is meant to serve, we'd be very grateful if you were
        to give due consideration to this proposal. We would expect you to
        commit just 2-4 hours per month to help perform Editorial duties; we will
        constantly adjust the number of Editorial Fellows to ensure this is the case. You
        could try it out for 6 months or a year, and of course you could quit
        any time you wished.
    </p>
    <p>
        I'd be happy to provide you with more information, should you require
        it. In view of our development plans, I would be grateful if you could
        react (by replying to this email) within the next two or three weeks,
        if possible. I'll be looking forward to your reaction, your comments
        and suggestions, be they positive or negative. If you need more time
        to consider, that's also fine; just let me know.
    </p>
    <p>
        On behalf of the SciPost Foundation,<br>
        <br>
        <br>
        <br>Prof. dr Jean-Sébastien Caux
        <br>---------------------------------------------
        <br>Institute for Theoretical Physics
        <br>University of Amsterdam
        <br>Science Park 904
        <br>1098 XH Amsterdam
        <br>The Netherlands
        <br>---------------------------------------------
        <br>tel.: +31 (0)20 5255775
        <br>---------------------------------------------
    </p>
{% endif %}

{% include 'email/_footer.html' %}
