{% extends 'careers/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">{{ jobopening }}</span>
{% endblock %}

{% block pagetitle %}: Job Opening details{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      {% include 'careers/_jobopening_card.html' with jobopening=jobopening %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="{% url 'careers:jobopening_apply' slug=jobopening.slug %}" class="btn btn-success text-white btn-large btn-block" role="button"><strong>Apply for this job opening</strong></a>
    </div>
  </div>

{% endblock content %}
