{% extends 'careers/base.html' %}

{% load bootstrap %}
{% load automarkup %}

{% block breadcrumb_items %}
  {{ block.super }}
{% endblock %}

{% block meta_description %}{{ block.super }} Job Openings{% endblock meta_description %}
{% block pagetitle %}: Job Openings{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">
	Job Openings
      </h1>

      {% if perms.careers.add_jobopening %}
	<ul>
	  <li><a href="{% url 'careers:jobopening_create' %}">Add a Job Opening</a></li>
	</ul>
      {% endif %}

      <h2 class="highlight">Current job opportunities at SciPost</h2>

      {% for job in object_list %}
	<div class="card border-primary m-4">
	  <div class="card-header">
	    <h1><a href="{{ job.get_absolute_url }}"><strong>{{ job.title }}</strong></a></h1>
	    <p>
	      Announced on {{ job.announced|date:'Y-m-d' }}
	      {% if perms.careers.add_jobopening %}
		;&emsp;Status: {{ job.get_status_display }}
	      {% endif %}
	    </p>
	    <h3 class="my-2">
	      <strong class="bg-success text-white my-2 px-3 py-2">Application deadline:&emsp;
		{{ job.application_deadline|date:'Y-m-d' }}
	      </strong>
	    </h3>
	  </div>
	  <div class="card-body">
	    {{ job.short_description|automarkup }}
	  </div>
	  <div class="card-footer">
	    <i class="fa fa-arrow-right"></i>&emsp;<a href="{{ job.get_absolute_url }}">View full description/apply for this job</a>
	  </div>
	</div>
      {% empty %}
	<div class="m-2">
	  <h3>Sorry, we currently have no advertized job openings.</h3>
	</div>
      {% endfor %}

      <h2 class="highlight">Open solicitations</h2>
      <div class="m-2">
	<p>
	  Do you have special skills which you are convinced could help SciPost in its mission?
	  Get in touch with us at <a href="mailto:admin@scipost.org">admin@scipost.org</a>.
	  We are always on the lookout for highly competent people.
	</p>
	<p>
	  Bear in mind: we are small, we are not well endowed, but this ship knows where it's going.
	  If you see a future for yourself with us, we welcome your open solicitation.</p>
      </div>
    </div>
  </div>

{% endblock content %}
