{% extends 'helpdesk/base.html' %}

{% load bootstrap %}
{% load restructuredtext %}


{% block breadcrumb_items %}
{{ block.super }}
<span class="breadcrumb-item">Helpdesk</span>
{% endblock %}


{% block pagetitle %}: Helpdesk{% endblock pagetitle %}

{% block content %}

<div class="row">
  <div class="col-12">

    <h2 class="highlight">Helpdesk</h2>
    <ul>
      {% if perms.helpdesk.add_queue %}
      <li><a href="{% url 'helpdesk:queue_create' %}">Create a new Queue</a></li>
      {% endif %}
      <li><a href="{% url 'helpdesk:ticket_create' %}">Open a new Ticket</a></li>
    </ul>

    {{ request.user.groups.managed_queues }}
    {% if request.user.groups.all.managed_queues.all|length > 0 %}
    <h3 class="highlight">Queues for which you are in managing group</h3>
    <div class="card-columns">
      {% for queue in object_list %}
      {% include 'helpdesk/queue_card.html' with queue=queue %}
      {% empty %}
      <p>No visible queues defined</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if request.user.ticket_set.all|length > 0 %}
    <h3 class="highlight">Tickets you opened</h3>
    {% include 'helpdesk/_tickets_tablist.html' with tickets=request.user.ticket_set.all %}
    {% endif %}

    {% if request.user.assigned_tickets.all|length > 0 %}
    <h3 class="highlight">Tickets assigned to you</h3>
    {% include 'helpdesk/_tickets_tablist.html' with tickets=request.user.assigned_tickets %}
    {% endif %}

    {% if object_list.all|length > 0 %}
    <hr/>
    <h3 class="highlight">Queues</h3>
    {% if perms.helpdesk.add_queue %}
    <ul>
      <li><a href="{% url 'helpdesk:queue_create' %}">Create a new Queue</a></li>
    </ul>
    {% endif %}

    <div class="card-columns">
      {% for queue in object_list %}
      {% include 'helpdesk/queue_card.html' with queue=queue %}
      {% empty %}
      <p>No visible queues defined</p>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>

{% endblock content %}
