{% extends 'helpdesk/base.html' %}

{% load bootstrap %}

{% block headsup %}
  <script>
   $(document).ready(function() {

       $("#id_name").keyup(function() {
	   slug_value = this.value.split(" ").join("_");
	   $("#id_slug").val(slug_value);
       });

   });
  </script>
{% endblock headsup %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">{% if form.instance.id %}Update {{ form.instance }}{% else %}Add new Queue{% endif %}</span>
{% endblock %}

{% block pagetitle %}: Queues{% endblock pagetitle %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <form action="" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>

{% endblock content %}
