{% load bootstrap %}
{% load restructuredtext %}
{% load scipost_extras %}

<div class="card">
  <div class="card-header">
    <div class="d-flex flex-wrap justify-content-between">
      <span>
	{{ ticket }}
	{% if ticket.concerning_object %}
	<span>
	  , Re: <a href="{{ ticket.concerning_object.get_absolute_url }}">{{ concerning_object }}</a>
	</span>
	{% endif %}
      </span>
      {% with classes=ticket.status_classes %}
      <button class="btn btn-{{ classes.class }} text-{{ classes.text }}">{{ ticket.get_status_display }}</button>
      {% endwith %}
    </div>
  </div>
  <div class="card-content">
    <table class="table table-bordered">
      <tbody>
	<tr>
	  <th colspan="2">Description</th>
	</tr>
	<tr>
	  <td colspan="2">{{ ticket.description|restructuredtext }}</td>
	</tr>
	<tr>
	  <th>Defined on</th>
	  <td>{{ ticket.defined_on }}</td>
	</tr>
	<tr>
	  <th>Defined by</th>
	  <td>{{ ticket.defined_by.first_name }} {{ ticket.defined_by.last_name }} ({{ ticket.defined_by.username }})</td>
	</tr>
	<tr>
	  <th>Priority</th>
	  <td>{{ ticket.priority_icons|safe }} - {{ ticket.get_priority_display }}</td>
	</tr>
	<tr>
	  <th>Status</th>
	  <td>{{ ticket.get_status_display }}</td>
	</tr>
	{% if ticket.assigned_to %}
	<tr>
	  <th>Assigned to</th>
	  <td>{{ ticket.assigned_to }}</td>
	</tr>
	{% endif %}
	<tr>
	  <th>Followups</th>
	  <td>
	    <ul class="list-unstyled">
	      {% for followup in ticket.followups.all %}
	      <li>
		<div class="card" id="{{ followup.id }}">
		  <div class="card-header">
		    {{ followup.by.get_full_name }} on {{ followup.timestamp }}
		  </div>
		  <div class="card-body">
		    {{ followup.text|restructuredtext }}
		  </div>
		</div>
	      </li>
	      {% empty %}
	      <li>No followups have yet occurred</li>
	      {% endfor %}
	    </ul>
	    {% if ticket.open %}
	    {% if request.user|is_in_group:ticket.queue.managing_group.name %}
	    <a class="btn btn-sm btn-danger" role="button" href="{% url 'helpdesk:ticket_delete' pk=ticket.id %}">Delete this Ticket</a>
	    <a class="btn btn-sm btn-warning" role="button" href="{% url 'helpdesk:ticket_update' pk=ticket.id %}">Update this Ticket</a>
	    {% if ticket.unassigned %}
	    <a class="btn btn-sm btn-primary" role="button" href="{% url 'helpdesk:ticket_assign' pk=ticket.id %}">Assign this ticket</a>
	    {% endif %}
	    {% endif %}
	    <a class="btn btn-sm btn-primary" role="button" href="{% url 'helpdesk:ticket_followup' pk=ticket.id %}">Reply/add a Followup</a>
	    <a class="btn btn-sm btn-success" role="button" href="{% url 'helpdesk:ticket_mark_resolved' pk=ticket.id %}">Mark as resolved</a>
	    <a class="btn btn-sm btn-secondary" role="button" href="{% url 'helpdesk:ticket_mark_closed' pk=ticket.id %}">Close this Ticket</a>
	    {% endif %}
	  </td>
	</tr>
      </tbody>
    </table>

  </div>
</div>
