<table class="table">
  <thead class="thead-default">
    <tr>
      <td>Ticket</td>
      <td>Defined on</td>
      <td>Status</td>
      <td>Assigned to</td>
      <td>Latest activity</td>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td><a href="{{ ticket.get_absolute_url }}">{{ ticket }}</a></td>
      <td>{{ ticket.defined_on|date:"Y-m-d" }}</td>
      {% with classes=ticket.status_classes %}
      <td class="bg-{{ classes.class }} text-{{ classes.text }}">{{ ticket.get_status_display }}</td>
      {% endwith %}
      <td>{% if ticket.assigned_to %}{{ ticket.assigned_to }}{% else %}Nobody{% endif %}</td>
      <td>{{ ticket.latest_activity }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No ticket visible in this queue</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
