<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Ticket</th>
      <th>Defined on</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Progress</th>
      <th>Assigned to</th>
      <th>Latest activity</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td><a href="{{ ticket.get_absolute_url }}">{{ ticket }}</a></td>
      <td>{{ ticket.defined_on|date:"Y-m-d" }}</td>
      <td data-toggle="tooltip" title="{{ ticket.priority }}">
	{{ ticket.priority_icons|safe }}
      </td>
      <td>{{ ticket.get_status_display }}</td>
      {% with level=ticket.progress_level %}
      <td>
	<i class="fa fa{{ level.1 }}-square" data-toggle="tooltip" title="Assigned?"></i>
	<i class="fa fa{{ level.2 }}-square" data-toggle="tooltip" title="In handling?"></i>
	<i class="fa fa{{ level.3 }}-square" data-toggle="tooltip" title="Handled?"></i>
      </td>
      {% endwith %}
      <td>{% if ticket.assigned_to %}{{ ticket.assigned_to }}{% else %}Nobody{% endif %}</td>
      <td>{{ ticket.latest_activity }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No ticket visible in this queue</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
