<table class="table">
  <thead class="thead-default">
    <tr>
      <td>Ticket</td>
      <td>Defined on</td>
      <td>Status</td>
      <td>Assigned to</td>
    </tr>
  </thead>
  <tbody>
    {% for ticket in queue.tickets.all %}
    <tr>
      <td>{{ ticket }}</td>
      <td>{{ ticket.defined_on|date:"Y-m-d" }}</td>
      <td>{{ ticket.get_status_display }}</td>
      <td>{% if ticket.assigned_to %}{{ ticket.assigned_to }}{% else %}Nobody{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No ticket visible in this queue</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
