
<table class="table">
  <tr>
    <td>ROR ID (link)</td>
    <td>
      <a target="_blank"  href="{{ ror.ror_link }}">{{ ror.ror_link }}</a>
    </td>
  </tr>

  <tr>
    <td>Primary Name</td>
    <td>

      {% for name in ror.names %}

        {% if "ror_display" in name.types %}{{ name.value }}{% endif %}

      {% endfor %}

    </td>
  </tr>
 

  {% if ror.names|length > 1 %}
 
    <tr>
      <td>Alternative Names</td>

      <td>

        {% for name in ror.names %}

          {% if "ror_display" not in name.types %}
            {{ name.value }}
            <br />
          {% endif %}

        {% endfor %}

      </div>

    </td>
  </tr>
 
{% endif %}

<tr>
  <td>Country</td>
  <td>{{ ror.locations.0.geonames_details.country_name }}</td>
</tr>

{% comment %} <tr>
    <td>Year established</td>
    <td>{{ ror.established }}</td>
</tr> {% endcomment %}

{% if ror.links %}
  <tr>
    <td>Website(s)</td>

    <td>

      {% for link in ror.links %}
        <a href="{{ link.value }}" target="_blank" rel="noopener noreferrer">{{ link.value }}</a>
        <br />
      {% endfor %}

    </td>


  </tr>
{% endif %}

</table>
