{% extends 'organizations/base.html' %}

{% block pagetitle %}: Contact Persons{% endblock pagetitle %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Contact Persons</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Contact Persons</h3>
      <p>Contact Persons are by definition employees of an Organization, who play a role of potential relevance to SciPost's sponsoring efforts. SciPost Admin takes charge of contacting Contact Persons listed here, to try to promote them to registered Contacts.</p>
      <p>Do you people who you think should appear on this list?</p>
      <p>Are they not in our list of registered Contacts (which you can view on your <a href="{% url 'organizations:dashboard' %}" target="_blank">dashboard</a>)?</p>
      <p>Then please help us out: <a href="{% url 'organizations:contactperson_create' %}">add a Contact Person</a> instance.</p>

      <table class="table">
	<thead class="table-light">
	  <tr>
	    <td>Name</td>
	    <td>Organization</td>
	    <td>Role</td>
	    <td>Actions</td>
	  </tr>
	</thead>
	<tbody>
	  {% for cp in object_list %}
	    <tr>
	      <td>{{ cp.last_name }}, {{ cp.get_title_display }} {{ cp.first_name }}</td>
	      <td><a href="{{ cp.organization.get_absolute_url }}">{{ cp.organization }}</a></td>
	      <td>{{ cp.role }}</td>
	      <td>
		<ul class="list-unstyled">
		  <li><a href="{% url 'organizations:contactperson_update' pk=cp.id %}"><span class="text-warning">Update</span></a></li>
		</ul>
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>

{% endblock content %}
