{% extends 'organizations/base.html' %}

{% block meta_description %}{{ block.super }} Organizations list{% endblock meta_description %}
{% block pagetitle %}: Organizations{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}
{% load user_groups %}
{% load add_get_parameters %}
{% load organizations_extras %}
{% load countries %}

{% is_scipost_admin request.user as is_scipost_admin %}

{% block headsup %}
  <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock headsup %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Organizations</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Organizations</h1>

      {% if perms.scipost.can_manage_organizations %}
	<h3>Management actions:</h3>
	<ul>
	  <li><a href="{% url 'organizations:dashboard' %}">Go to the dashboard</a></li>
	  <li><a href="{% url 'organizations:organization_create' %}">Create a new Organization instance</a></li>
	  <li><a href="{% url 'funders:funders_dashboard' %}">Link Funders to Organizations</a> ({{ nr_funders_wo_organization }} found in need of linking)</li>
	</ul>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h3>This page lists Organizations which have benefitted from SciPost's publishing activities.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-5">
      <p>Organizations are linked through appearing in a publication's author affiliations, grant-giving agencies or explicit support acknowledgements.</p>
      <p>For each Organization, the NAP (number of associated publications) is given (you can order in decreasing/increasing NAP using the header arrows).</p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <p>Click on a row to see more details about the Organization, including per-year breakdowns of:</p>
      <ul>
	<li>associated publications</li>
	{% if is_scipost_admin %}
	  <li>associated support fractions</li>
	{% endif %}
	<li>associated authors</li>
	<li>partnership history</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>Search for a particular Organization</h3>
      <p>(by name or acronym)</p>
    </div>
    <div class="col-lg-8">
      <form action="{% url 'organizations:get_organization_detail' %}" method="get">
	<ul class="list-inline">
	  <li class="list-inline-item">
	    {{ select_organization_form.as_p }}
	  </li>
	  <li class="list-inline-item">
	    <input type="submit" value="View" class="btn btn-secondary py-1">
	  </li>
	</ul>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h3>Click on flag to view by Country</h3>
      <p><a href="{% url 'organizations:organizations' %}">View all</a></p>
    </div>
    <div class="col-lg-8">
      <ul>
	{% for code in countrycodes %}
	  {% get_country code as country_obj %}
	  <li style="display: inline-block;">
	    <a href="{% add_get_parameters country=code %}"><i class="{{ country_obj.flag_css }}" data-toggle="tooltip" title="{{ country_obj.name }}"></i></a>
	  </li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover mb-5">
	<thead class="thead-default">
	  <tr>
	    <th><a href="{% add_get_parameters order_by='country' %}">Country</a></th>
	    <th><a href="{% add_get_parameters order_by='name' %}">Name</a>&nbsp;&nbsp;<small>[acronym]</small></th>
	    <th>NAP <span data-toggle="tooltip" data-html="true" title="" data-original-title="Number of associated publications<br/>For details, click on the Organization and consult the Associated Publications tab">{% include 'bi/info-circle-fill.html' %}</span>
	      {% if request.GET.ordering != 'asc' %}
		<a href="{% add_get_parameters order_by='nap' ordering='asc' %}">{% include 'bi/sort-up.html' %}</a>
	      {% else %}
		<a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-up.html' %}</a>
	      {% endif %}
	      {% if request.GET.ordering != 'desc' %}
		<a href="{% add_get_parameters order_by='nap' ordering='desc' %}">{% include 'bi/sort-down.html' %}</a>
	      {% else %}
		<a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-down.html' %}</a>
	      {% endif %}
	    </th>
	    <th>SciPost sponsor?</th>
	  </tr>
	</thead>
	<tbody>
	  {% for org in object_list %}
	    <tr class="table-row" data-href="{% url 'organizations:organization_details' pk=org.id %}" style="cursor: pointer;">
	      <td><img src="{{ org.country.flag }}" alt="{{ org.country }} flag"/>&nbsp;<span class="text-muted"><small>[{{ org.country }}]</small></span>&nbsp;&nbsp;{{ org.get_country_display }}</td>
	      <td>
		{{ org.full_name }}&nbsp;&nbsp;<small>{% if org.acronym %}[{{ org.acronym }}]{% endif %}</small>
		{% if org.parent %}
		  <p><small class="text-muted">Parent: {{ org.parent }}</small></p>
		{% endif %}
		{% if org.children.all %}
		  <p><small class="text-muted">
		    Parent of:
		    {% for child in org.children.all %}
		      {{ child }}{% if not forloop.last %},&nbsp;{% endif %}
		    {% endfor %}
		  </small></p>
		{% endif %}
		{% if org.superseded_by %}
		  <p><small class="text-muted">Superseded by {{ org.superseded_by }}</small></p>
		{% endif %}
	      </td>
	      <td>{{ org.cf_nr_associated_publications }}</td>
	      {% if org.has_current_subsidy %}
		<td class="bg-success">Yes, current</td>
	      {% elif org.has_children_with_current_subsidy %}
		<td class="bg-success">Yes, as&nbsp;parent</td>
	      {% elif org.subsidy_set.all|length > 0 %}
		<td class="bg-primary text-white">Yes, past</td>
	      {% else %}
		<td class="bg-warning">Not yet</td>
	      {% endif %}
	    </tr>
	  {% empty %}
	    <tr><td colspan="4">No organizations found</td></tr>
	  {% endfor %}
	</tbody>
      </table>

      {% if is_paginated %}
	<div class="col-12">
	  {% include '_pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}

    </div>
  </div>


{% endblock content %}

{% block footer_script %}
  <script src="{% static 'scipost/table-row-blank.js' %}"></script>
  {{ select_organization_form.media }}
{% endblock %}
