{% extends 'scipost/base.html' %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Add Contact</span>
{% endblock %}

{% block pagetitle %}{{block.super}} Add Contact{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Add Contact for Organization {{ organization }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        <div class="mb-5">
          {{ form|bootstrap }}
        </div>

        <input class="btn btn-primary" type="submit" value="Submit"/>
      </form>
    </div>
  </div>

{% endblock content %}
