{% extends 'organizations/base.html' %}

{% block meta_description %}
  {{ block.super }} Organizations list
{% endblock meta_description %}

{% block pagetitle %}
  : Organizations
{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}
{% load user_groups %}
{% load add_get_parameters %}
{% load organizations_extras %}
{% load countries %}

{% is_scipost_admin request.user as is_scipost_admin %}

{% block headsup %}
  <link rel="stylesheet"
        href="{% static 'flags/sprite-hq.css' %}" />
{% endblock headsup %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Organizations</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Organizations</h1>

      {% if perms.scipost.can_manage_organizations %}
        <h3>Management actions:</h3>
        <ul>
          <li>
            <a href="{% url 'organizations:dashboard' %}">Go to the dashboard</a>
          </li>
          <li>
            <a href="{% url 'organizations:organization_create' %}">Create a new Organization instance</a>
          </li>
          <li>
            <a href="{% url 'funders:funders_dashboard' %}">Link Funders to Organizations</a> ({{ nr_funders_wo_organization }} found in need of linking)
          </li>
        </ul>
      {% endif %}

    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h3>This page lists Organizations which have benefitted from SciPost's publishing activities.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-5">
      <p>
        Organizations are linked through appearing in a publication's author affiliations, grant-giving agencies or explicit support acknowledgements.
      </p>
      <p>
        For each Organization, the NAP (number of associated publications) is given (you can order in decreasing/increasing NAP using the header arrows).
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <p>Click on a row to see more details about the Organization, including per-year breakdowns of:</p>
      <ul>
        <li>associated publications</li>

        {% if is_scipost_admin %}<li>associated support fractions</li>{% endif %}

        <li>associated authors</li>
        <li>partnership history</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>Search for a particular Organization</h3>
      <p>(by name or acronym)</p>
    </div>
    <div class="col-lg-8">
      <form action="{% url 'organizations:get_organization_detail' %}"
            method="get">
        <ul class="list-inline">
          <li class="list-inline-item">{{ select_organization_form.as_p }}</li>
          <li class="list-inline-item">
            <input type="submit"
                   value="View"
                   class="btn btn-secondary py-1" />
          </li>
        </ul>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <h3>Click on flag to view by Country</h3>
      <p>
        <a href="{% url 'organizations:organizations' %}">View all</a>
      </p>
    </div>
    <div class="col-lg-8">
      <ul>

        {% for code in countrycodes %}
          {% get_country code as country_obj %}
          <li style="display: inline-block">
            <a href="{% add_get_parameters country=code %}">
              <i class="{{ country_obj.flag_css }}"
                 data-bs-toggle="tooltip"
                 title="{{ country_obj.name }}"></i>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover mb-5 position-relative">
        <thead class="table-light position-sticky top-0">
          <tr>
            <th colspan="4"
                class="pt-1 pb-0"></th>
            <th colspan="2"
                class="text-center pt-1 pb-0 text-center">Contributions</th>

            {% if 'finadmin' in user_roles %}
              <th class="pt-1 pb-0 text-center text-nowrap">
                <span class="text-danger me-1">FinAdmin</span>

                {% if request.GET.ordering != 'asc' %}
                  <a href="{% add_get_parameters order_by='impact' ordering='asc' %}">{% include 'bi/sort-up.html' %}</a>
                {% else %}
                  <a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-up.html' %}</a>
                {% endif %}

                {% if request.GET.ordering != 'desc' %}
                  <a href="{% add_get_parameters order_by='impact' ordering='desc' %}">{% include 'bi/sort-down.html' %}</a>
                {% else %}
                  <a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-down.html' %}</a>
                {% endif %}

              </th>
            {% endif %}

          </tr>
          <tr>
            <th rowspan="2"
                class="pt-0 pb-1">
              <a href="{% add_get_parameters order_by='country' %}">Country</a>
            </th>
            <th rowspan="2"
                class="pt-0 pb-1">
              <a href="{% add_get_parameters order_by='name' %}">Name</a>
            </th>
            <th rowspan="2"
                class="pt-0 pb-1">
              <a href="{% add_get_parameters order_by='nr_associated_authors' %}">Authors</a>
            </th>
            <th rowspan="2"
                class="pt-0 pb-1">
              <div class="d-flex flex-row align-items-center gap-1">
                <span data-bs-toggle="tooltip"
                      data-bs-html="true"
                      title="Number of associated publications <br /> For details, click on the Organization and consult the Associated Publications tab">
                {% include 'bi/info-circle-fill.html' %}
              </span>

              {% if request.GET.ordering != 'asc' %}
                <a href="{% add_get_parameters order_by='nap' ordering='asc' %}">{% include 'bi/sort-up.html' %}</a>
              {% else %}
                <a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-up.html' %}</a>
              {% endif %}

              {% if request.GET.ordering != 'desc' %}
                <a href="{% add_get_parameters order_by='nap' ordering='desc' %}">{% include 'bi/sort-down.html' %}</a>
              {% else %}
                <a href="{% url 'organizations:organizations' %}">{% include 'bi/sort-down.html' %}</a>
              {% endif %}

            </div>
            <div>NAP</div>
          </th>
          <th class="pt-0 pb-1 text-center">
            <small class="text-muted">Direct</small>
            <div>Sponsorship</div>
          </th>
          <th class="pt-0 pb-1 text-center">
            <small class="text-muted">Indirect</small>
            <div>Compensation</div>
          </th>

          {% if 'finadmin' in user_roles %}<th class="pt-0 pb-1 text-nowrap">Reserve Impact</th>{% endif %}

        </tr>
      </thead>
      <tbody>

        {% for org in object_list %}
          <tr data-collapsible>
            <td title="{{ org.get_country_display }}"
                data-bs-toggle="tooltip">
              <img class="me-2"
                   src="{{ org.country.flag }}"
                   alt="{{ org.country }} flag" />
              <span>{{ org.country }}</span>
            </td>
            <td>
              <div class="d-flex flex-row gap-2">
                <a href="{{ org.get_absolute_url }}"><span class="fs-6">{{ org.name }}</span></a>
                <span class="badge bg-light text-dark">{{ org.acronym }}</span>
              </div>
            </td>
            <td>{{ org.nr_associated_authors }}</td>
            <td>{{ org.cf_nr_associated_publications }}</td>
            <td>
              {% include "organizations/_organization_sponsorship_status_from_subsidy.html" with organization=org subsidy=org.latest_subsidy %}
            </td>
            <td>
              {% include "organizations/_organization_sponsorship_status_from_subsidy.html" with organization=org subsidy=org.latest_ally_subsidy_for_any_compensated_pubfrac has_direct_sponsorship=org.latest_subsidy %}
            </td>

            {% if 'finadmin' in user_roles %}
              <td class="bg-opacity-10 text-end 
                {% if org.cf_balance_info.cumulative.impact_on_reserves <= 0 %}bg-danger{% else %}bg-success{% endif %}
                 ">&euro;{{ org.cf_balance_info.cumulative.impact_on_reserves }}</td>
            {% endif %}


            <template name="tr-details-content">
              <div class="d-flex flex-column gap-3 p-2">
                <section name="details"
                         class="d-flex flex-row gap-4">

                  {% if org.logo %}
                    <img class="flex-grow-1"
                         style="max-width: 100px;
                                object-fit: contain"
                         src="{{ org.logo.url }}"
                         alt="{{ org }} logo" />
                  {% else %}
                    <img class="flex-grow-1"
                         style="max-width: 40px;
                                object-fit: contain"
                         src="{{ org.country.flag }}"
                         alt="{{ org.country }} flag" />
                  {% endif %}

                  <hgroup class="d-flex flex-column gap-1">
                    <h4 class="m-0">{{ org.name_original|default:org.name }}</h4>

                    {% if org.name_original and org.name_original != org.name %}
                      <span class="fs-6 text-muted">{{ org.name }}</span>
                    {% endif %}

                  </hgroup>

                  <div class="ms-auto">
                    <a class="fs-6 btn btn-outline-secondary"
                       href="{{ org.get_absolute_url }}">Details</a>
                  </div>
                </section>

                {% if org.parent or org.children.all %}
                  <section class="row"
                           name="genealogy">

                    {% if org.parent %}
                      <div class="col">
                        <div class="fs-5">Parent organization</div>
                        <span>
                          <a href="{{ org.parent.get_absolute_url }}">{{ org.parent }}</a>
                        </span>
                      </div>
                    {% endif %}

                    {% if org.children.all %}
                      <div class="col">
                        <div class="fs-5">Child organizations</div>
                        <ul class="list-unstyled">

                          {% for child in org.children.all %}
                            <li>
                              <a href="{{ child.get_absolute_url }}">{{ child }}</a>
                            </li>
                          {% endfor %}


                        </ul>
                      </div>
                    {% endif %}

                  </section>
                {% endif %}

                {% with direct=org.latest_subsidy indirect=org.latest_ally_subsidy_for_any_compensated_pubfrac %}
                  <section>

                    {% if direct %}
                      <div class="col">
                        <div class="fs-5">
                          Latest Sponsorship
                          <small class="text-muted">(Direct Contribution)</small>
                        </div>
                        {% include "organizations/_organization_subsidy_description_row.html" with subsidy=direct %}
                      </div>
                    {% endif %}

                    {% if indirect %}
                      <div class="col">
                        <div class="fs-5">
                          Latest Allied Compensation
                          <small class="text-muted">(Indirect Contribution)</small>
                        </div>
                        {% include "organizations/_organization_subsidy_description_row.html" with subsidy=indirect %}
                      </div>
                    {% endif %}

                  </section>
                {% endwith %}

              </div>
            </template>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No organizations found</td>
          </tr>
        {% endfor %}


      </tbody>
    </table>

    {% if is_paginated %}
      <div class="col-12">{% include '_pagination.html' with page_obj=page_obj %}</div>
    {% endif %}

  </div>
</div>

{% endblock content %}


{% block footer_script %}{{ select_organization_form.media }}{% endblock %}
