{% extends 'organizations/base.html' %}

{% block meta_description %}
  {{ block.super }} Organizations list
{% endblock meta_description %}

{% block pagetitle %}
  : Organizations
{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}
{% load user_groups %}
{% load add_get_parameters %}
{% load organizations_extras %}
{% load countries %}

{% is_scipost_admin request.user as is_scipost_admin %}

{% block headsup %}
  <link rel="stylesheet"
        href="{% static 'flags/sprite-hq.css' %}" />
{% endblock headsup %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Organizations</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Organizations</h1>

      {% if perms.scipost.can_manage_organizations %}
        <h3>Management actions:</h3>
        <ul>
          <li>
            <a href="{% url 'organizations:dashboard' %}">Go to the dashboard</a>
          </li>
          <li>
            <a href="{% url 'organizations:organization_create' %}">Create a new Organization instance</a>
          </li>
          <li>
            <a href="{% url 'funders:funders_dashboard' %}">Link Funders to Organizations</a> ({{ nr_funders_wo_organization }} found in need of linking)
          </li>
        </ul>
      {% endif %}

    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h3>This page lists Organizations which have benefitted from SciPost's publishing activities.</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-5">
      <p>
        Organizations are linked through appearing in a publication's author affiliations, grant-giving agencies or explicit support acknowledgements.
      </p>
      <p>
        For each Organization, the NAP (number of associated publications) is given (you can order in decreasing/increasing NAP using the header arrows).
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <p>Click on a row to see more details about the Organization, including per-year breakdowns of:</p>
      <ul>
        <li>associated publications</li>

        {% if is_scipost_admin %}<li>associated support fractions</li>{% endif %}

        <li>associated authors</li>
        <li>partnership history</li>
      </ul>
    </div>
  </div>

  <div hx-get="{% url 'organizations:_hx_table_search_form_view' %}"
       hx-trigger="intersect once"></div>


</div>

{% endblock content %}


{% block footer_script %}{{ select_organization_form.media }}{% endblock %}
