{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: Query Crossref for funder{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Query Crossref Fundref Registry for Funders</h1>
      <form action="{% url 'funders:query_crossref_for_funder' %}" method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <input class="btn btn-outline-secondary" type="submit" value="Search">
      </form>
      {% if response_headers %}
	<p>{{ response_headers }}</p>
      {% endif %}
      {% if response_text %}
	<p>{{ response_text }}</p>
      {% endif %}
      {% if response %}
	<p>{{ response }}</p>
	<ul>
	  {% for item in response.message.items %}
	    <li>
	      {{ item.name }}, {{ item.id }}, {{ item.uri }}
	      <form action="{% url 'funders:add_funder' %}" method="post">
		{% csrf_token %}
		<input name='name' style="width: 64%" value='{{ item.name }}'>
		<input name='acronym' style="width: 64%" placeholder='acronym (if known)'>
		<input name='identifier' style="width: 64%" value='{{ item.uri }}'>
		<input class="btn btn-outline-secondary" type="submit" value="Add this funder">
	      </form>
	    </li>
	  {% endfor %}
	</ul>
	<form action="{% url 'funders:add_funder' %}" method="post">
          {% csrf_token %}
          {{funder_form|bootstrap}}
          <input class="btn btn-outline-secondary" type="submit" value="Submit">
        </form>
      {% endif %}
    </div>
  </div>


{% endblock content %}
