<p>Dear {{ submission.editor_in_charge.profile.formal_name }},</p>

<p>
  For your information, the authors of Submission
  <br />
  <a href="https://{{ domain }}{{ submission.get_absolute_url }}">{{ submission.title }}</a>,
  <br />
  by {{ submission.author_list }}
  <br />
  have withdrawn their manuscript. There is no further action required from your part, and your editorial assignment is now marked as completed.
</p>

<p>
  Many thanks,
  <br />
  The SciPost Team.
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=submission %}
