<p>Dear {{ submission.editor_in_charge.profile.get_title_display }} {{ submission.editor_in_charge.user.last_name }},</p>

<p>
  The authors of the SciPost Submission
</p>
<p>
  {{ submission.title }}
  <br/>
  by {{ submission.author_list }}
</p>
<p>
  have resubmitted their manuscript.
</p>
<p>
    As Editor-in-charge, you can take your editorial actions from the submission's <a href="https://scipost.org{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}">editorial page</a>, which is also accessible from your <a href="https://scipost.org{% url 'scipost:personal_page' %}">personal page</a> under the Editorial Actions tab.
</p>
<p>
  You can either take an immediate acceptance/rejection decision, quickly consult previous referees or run a new refereeing round, in which case you should now invite at least 3 referees; you might want to make sure you are aware of the detailed procedure described in the <a href="https://scipost.org{% url 'scipost:EdCol_by-laws' %}">Editorial College by-laws</a>.
</p>
<p>
  Many thanks in advance for your collaboration,<br>
  The SciPost Team.
</p>

{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=submission %}
