{% extends 'ontology/base.html' %}

{% block meta_description %}{{ block.super }} Topics list{% endblock meta_description %}
{% block pagetitle %}: Topics{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Topics</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Topics</h3>
      <ul>
	{% if perms.scipost.can_manage_ontology %}
	  <li><a href="{% url 'ontology:topic_create' %}">Add a Topic</a></li>
	{% endif %}
	<li>
	  <form action="" method="get">
	    <ul class="list-inline">
	      <li class="list-inline-item">Filter to Topic name containing:</li>
	      <li class="list-inline-item">
		{{ searchform }}
	      </li>
	      <li class="list-inline-item"><input class="btn btn-outline-secondary" type="submit" value="Filter"></li>
	    </ul>
	  </form>
	</li>
	<li>{{ select_linked_topic_form }}</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h3>Topics</h3>
      <ul class="list-inline">
	{% for topic in object_list %}
	  <li class="list-inline-item p-1"><a href="{% url 'ontology:topic_details' slug=topic.slug %}">{{ topic }}</a></li>
	{% endfor %}
      </ul>


      {% if is_paginated %}
	<div class="col-12">
	  {% include 'partials/pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}

    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ select_linked_topic_form.media }}
{% endblock footer_script %}
