{% load static %}
{% load submissions_pool %}
{% load user_groups %}

{% is_ed_admin request.user as is_ed_admin %}

<div class="icons">
  {% include 'submissions/pool/_submission_tooltip.html' with submission=submission %}

  {% if submission.status == 'unassigned' %}
    <span class="mt-1 px-1 text-danger" data-bs-toggle="tooltip" data-bs-html="true" title="You can volunteer to become Editor-in-charge">{% include 'bi/exclamation-circle-fill.html' %}</span>
  {% endif %}
</div>

<div class="pool-item">
  <div class="row mb-2">
    <div class="col-md-7">
      <a href="{% url 'submissions:submission' submission.preprint.identifier_w_vn_nr %}">{{ submission.title }}</a>
      <br>
      <em>by {{ submission.author_list }}</em>
      <br>
      <div class="my-2">
	<span class="text-secondary">{% include 'bi/bullseye.html' %}:&nbsp;</span>
	{{ submission.submitted_to }}
      </div>
    </div>
    <div class="col-md-5">
      <ul class="bg-secondary py-1">
	{% for specialty in submission.specialties.all %}
	  <li><small>{{ specialty }}</small></li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col-md-3">
      <small class="text-muted">Editor-in-charge</small>
      <br>
      {% if submission.status == 'unassigned' %}
        <span class="card-text text-danger">You can volunteer to become Editor-in-charge by <a href="{% url 'submissions:editorial_assignment' submission.preprint.identifier_w_vn_nr %}">clicking here</a>.</span>
      {% elif submission.editor_in_charge == request.user.contributor %}
        <strong>You are the EIC</strong>
        <a role="button" class="btn btn-info px-1 py-0" href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}"><small>{% include 'bi/arrow-right.html' %} Editorial&nbsp;page</small></a>
      {% else %}
        {{ submission.editor_in_charge }}
      {% endif %}
    </div>
    <div class="col-md-3">
      <small class="text-muted">Original submission date</small>
      <br>
      {{ submission.original_submission_date|date:'Y-m-d' }}
    </div>
    <div class="col-md-2">
      <small class="text-muted">Latest activity</small>
      <br>
      {{ submission.latest_activity }}
    </div>
    <div class="col-md-4">
      <small class="text-muted">Submission Status</small>
      <br>
      <span class="label label-sm label-secondary text-wrap">{{ submission.get_status_display }}</span>
      {% if submission.eicrecommendations.active.first %}
	<br>
        <small class="text-muted">EIC Recommendation &amp; Status</small>
        <br>
        <span class="label label-sm label-secondary text-wrap">{{ submission.eicrecommendations.active.first.get_full_status_display }}</span>
      {% endif %}
      {% if submission.editorial_decision %}
	<br>
	<small class="text-muted">Editorial Decision Status</small>
	<br>
	<span class="label label-sm label-secondary text-wrap">{{ submission.editorial_decision.get_status_display }}</span>
      {% endif %}
    </div>
  </div>
  {% if is_ed_admin and submission.has_inadequate_pool_composition %}
    <div class="border border-danger text-danger mt-1 py-1 px-2">
      <strong>
        {% include 'bi/exclamation-triangle-fill.html' %}
        Notice to admin: The current editor is not assigned to the pool. Therefore, the editor will not be able to reach the editorial page.
      </strong>
    </div>
  {% endif %}

  {% if submission.cycle.has_required_actions %}
    <div class="card-text bg-danger text-white mt-1 py-1 px-2">
      <button type="button" class="btn p-0" disabled>
	<small class="text-white">This Submission contains required actions.</small>
      </button>
      {% if is_ed_admin %}{% include 'submissions/pool/_required_actions_tooltip.html' with submission=submission classes='text-white' %}{% endif %}
    </div>
  {% endif %}

  {% if submission.status == 'unassigned' %}
    {% get_editor_invitations submission request.user as invitations %}
    {% if invitations %}
      <div class="border border-warning mt-1 py-1 px-2">
        <span class="mt-1 px-1 text-danger">{% include 'bi/exclamation.html' %}</i>
          You are invited to become Editor-in-charge of this Submission. <a href="{% url 'submissions:editorial_assignment' submission.preprint.identifier_w_vn_nr %}">You can reply to this invitation here</a>.
      </div>
    {% endif %}
  {% endif %}

  <div id="details_{{ submission.id }}">
    <button type="button" class="btn btn-primary p-1"
	    hx-get="{% url 'submissions:pool_hx_submission_details' submission.preprint.identifier_w_vn_nr %}"
	    hx-target="#details_{{ submission.id }}"
	    hx-indicator="#indicator-details-{{ submission.id }}"
    >
      <small>View details</small>
    </button>
    <span id="indicator-details-{{ submission.id }}" class="htmx-indicator p-1">
      <button class="btn btn-sm btn-warning p-2" type="button" disabled>
	<small><strong>Loading...</strong></small>
	<div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
      </button>
    </span>
  </div>

</div>
