{% load crispy_forms_tags %}
{% load ethics_extras %}

{% get_profile_clearance submission.clearances request.user.contributor.profile as clearance %}
{% firstof form.data.readiness form.initial.readiness as readiness %}

<div class="row mb-0">

  <form id="radio-appraisal-form-{{ submission.id }}"
        class="col col-lg-5"
        hx-post="{{ request.path }}"
        hx-swap="outerHTML"
        hx-target="closest div"
        hx-sync="closest form:replace"
        hx-trigger="change delay:500ms, coi-clearance-asserted from:closest div, conditional-assignment-offer-made from:closest div">
    {% crispy form %}
  </form>

  <div class="col-12 col-lg">{% include "ethics/_hx_submission_ethics.html" %}</div>

  {% if readiness == 'conditional' %}
    <div hx-get="{% url "submissions:pool:_hx_conditional_assignment_offer_form" submission.preprint.identifier_w_vn_nr %}"
         hx-trigger="intersect once"></div>
  {% endif %}

  {% if not clearance and readiness and readiness != "perhaps_later" %}
    <details style="max-height: 50vh;
                    overflow-y: auto"
             class="bg-white border border-secondary">
      <summary class="d-flex flex-row justify-content-between align-items-center">
        <div>
          <strong>Possible coauthorships with submission authors</strong>
          <br />
          <small class="text-muted">Click to view details</small>
        </div>
        {% include "submissions/admin/_coauthorships_fetch_button.html" with fellow=fellow %}
      </summary>

      <div hx-get="{% url 'ethics:_hx_list_coauthorships_for_submission_authors' submission.preprint.identifier_w_vn_nr request.user.contributor.profile.id %}"
           hx-trigger="intersect once, task-completed from:closest details"
           hx-swap="innerHTML"></div>

    </details>
  {% endif %}

</div>
