{% load submissions_pool %}
{% load ethics_extras %}

<tr>
  <td>
    <a href="{{ fellowship.get_absolute_url }}">{{ fellowship.contributor }}</a>
  </td>
  <td>{{ fellowship.get_status_display }}</td>
  <td>

    {% if fellowship.is_currently_available %}
      <span class="text-success">{% include "bi/check-square-fill.html" %}</span>
    {% else %}
      <span class="text-danger">{% include "bi/x-square-fill.html" %}</span>
    {% endif %}

  </td>

  {% if "edadmin" in user_roles or "active_senior_fellow" in user_roles %}
    <td>{% include "icons/reception.html" with value=fellowship.nr_ongoing_editorial_assignments max=4 %}</td>
  {% endif %}

  <td>

    {% if fellowship.contributor.profile.submission_overlapping_topics %}
      <details class="d-flex flex-row flex-wrap gap-2">
        <summary class="d-flex justify-content-between align-items-center">
          <span>{{ fellowship.contributor.profile.submission_overlapping_topics|length }} with {{ fellowship.avg_overlapping_topic_weight|floatformat:2 }} avg</span>
          <span class="text-underline">view</span>
        </summary>

        <ul class="list-unstyled mb-0">

          {% for interest in fellowship.contributor.profile.submission_overlapping_topics %}
            <li class="d-flex justify-content-between align-items-center">
              <span class="text-truncate">
                <a href="{{ interest.topic.get_absolute_url }}">{{ interest.topic }}</a>
              </span>
              <span>({{ interest.weight }})</span>
            </li>
          {% endfor %}

        </ul>

      </details>
    {% endif %}

  </td>

  <td>{{ fellowship.submission_qualification.0.get_expertise_level_display }}</td>
  <td>{{ fellowship.submission_readiness.0.get_status_display }}</td>

  {% if "edadmin" in user_roles or "active_senior_fellow" in user_roles %}
    <td>

      {% if fellowship.contributor.profile.submission_clearance.0 %}
        <span class="text-success">all clear</span>
        &nbsp;<em>(asserted by {{ fellowship.contributor.profile.submission_clearance.0.asserted_by }})</em>
      {% else %}

        {% with submission_conflicts_of_interest=fellowship.contributor.profile.submission_conflicts_of_interest|add:fellowship.contributor.profile.submission_conflicts_of_interest_related %}

          {% if submission_conflicts_of_interest %}
            <table class="table table-bordered bg-opacity-10 mb-0">
              <thead>
                <tr>
                  <th colspan="2">
                    Related Profile / <em>(nature)</em>
                  </th>
                </tr>
              </thead>
              <tbody>

                {% for coi in submission_conflicts_of_interest %}
                  <tr class="{% if coi.submission_exempted %}table-success{% else %}table-danger{% endif %}">
                    <td>
                      {% if fellowship.contributor.profile == coi.related_profile %}
                        {{ coi.profile }}
                      {% else %}
                        {{ coi.related_profile }}
                      {% endif %}
                      <br />
                      <em>({{ coi.get_nature_display }})</em>
                    </td>
                    <td>

                      {% if "edadmin" in user_roles %}
                        <a class="btn btn-sm btn-danger px-1 py-0"
                           hx-get="{% url 'ethics:_hx_submission_conflict_of_interest_delete' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr pk=coi.pk %}"
                           hx-confirm="Delete this conflict of interest?"
                           hx-target="#submission-{{ submission.pk }}-fellows-details">
                          {% include "bi/trash-fill.html" %}
                        </a>
                        <a class="btn btn-sm btn-secondary px-1 py-0"
                           title="{% if coi.submission_exempted %}Revoke exemption{% else %}Grant exemption from this conflict of interest{% endif %}"
                           data-bs-toggle="tooltip"
                           hx-get="{% url 'ethics:_hx_submission_conflict_of_interest_exemption_toggle' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr pk=coi.pk %}"
                           hx-target="#submission-{{ submission.pk }}-fellows-details">
                          {% if coi.submission_exempted %}
                            {% include "bi/x-circle-fill.html" %}
                          {% else %}
                            {% include "bi/exclamation-circle-fill.html" %}
                          {% endif %}
                        </a>
                      {% endif %}

                    </td>
                  </tr>
                {% endfor %}


              </tbody>
            </table>
          {% else %}
            <em class="text-danger">unknown</em>
          {% endif %}

        {% endwith %}
      {% endif %}

    </td>

    {% if "edadmin" in user_roles %}
      <td>
        <div class="d-flex gap-1">
          <a class="btn btn-sm btn-danger px-1 py-0"
             title="Declare conflict of interest"
             hx-get="{% url 'ethics:_hx_submission_conflict_of_interest_create' submission.preprint.identifier_w_vn_nr fellowship.id %}"
             hx-target="closest tr">{% include "bi/plus-square-fill.html" %}</a>
          <a class="btn btn-sm btn-danger px-1 py-0"
             hx-get="{% url 'colleges:_hx_submission_remove_fellowship' submission.preprint.identifier_w_vn_nr fellowship.id %}"
             hx-confirm="Remove this Fellow from this Submission's Fellowship?"
             hx-target="#submission-{{ submission.pk }}-fellows-details">{% include "bi/trash-fill.html" %}</a>

          {% if fellowship.submission_readiness.0.status != 'desk_reject' %}
            <a class="btn btn-sm btn-primary px-1 py-0" title="Send manual EIC invitation 
              {% if fellowship.nr_manual_eic_invitations %}<br> Already sent: {{ fellowship.nr_manual_eic_invitations }} time{{ fellowship.nr_manual_eic_invitations|pluralize }}<br>Latest at: {{ fellowship.latest_manual_eic_invitation }}
            {% endif %}

            " data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" href="{% url "submissions:pool:manual_EIC_invitation" submission.preprint.identifier_w_vn_nr fellowship.id %}">
            <span class="d-flex gap-2 text-white">
              {% include "bi/envelope-fill.html" %}
              {{ fellowship.nr_manual_eic_invitations|default:'' }}
            </span>
          </a>
        {% endif %}

      </div>
    </td>
  {% endif %}
{% endif %}

</tr>
