{% include "submissions/pool/_submission_tab_navbar.html" %}
<hr>
<div class="tab-content">
  {% if tab == "info" %}
    {% include "submissions/_submission_summary.html" with submission=submission hide_title=1 show_abstract=1 %}

    {% if submission.remarks_for_editors %}
    <details class="hcard hcard-primary bg-opacity-25">
      <summary class="list-triangle fs-5">Remarks for Editors</summary>
      <p>{{ submission.remarks_for_editors }}</p>
    </details>
    {% endif %}

    <div id="submission-{{ submission.pk }}-topics"
	 hx-get="{% url 'submissions:_hx_submission_topics' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}?include_matches=1"
	 hx-trigger="revealed"
    >
    </div>

  {% elif tab == "fellows" %}
    <div id="submission-{{ submission.pk }}-fellows-details">
      {% include "submissions/pool/_submission_fellows.html" with submission=submission %}
    </div>

  {% elif tab == "refereeing" %}
    {% include "submissions/pool/_submission_refereeing.html" with submission=submission %}

  {% elif tab == "recommendations_and_voting" %}
    <div id="submission-{{ submission.pk }}-tab-contents-recommendations-and-voting">
      {% include "submissions/pool/decisionmaking/_recommendations_and_voting.html" with submission=submission %}
    </div>

  {% elif tab == "remarks" %}
    {% if remark_form %}
      {% include "submissions/pool/_remark_form.html" with submission=submission form=remark_form auto_show=1 %}
    {% endif %}
    <p class="mb-1">Current remarks:</p>
    <ul>
      {% for rem in submission.remarks.all %}
        {% include "scipost/_remark_li.html" with remark=rem %}
      {% empty %}
        <li>No Remarks found.</li>
      {% endfor %}
    </ul>

  {% elif tab == "graph" %}
    {% include "submissions/_hx_submission_workflow_diagram.html" with submission=submission %}

  {% elif tab == "events" %}
    <div id="eventslist">
      {% if "edadmin" in user_roles %}
	{% include "submissions/_submission_events.html" with events=submission.events.for_edadmin %}
      {% elif request.user.contributor == submission.editor_in_charge %}
	{% include "submissions/_submission_events.html" with events=submission.events.for_eic %}
      {% else %}
	{% include "submissions/_submission_events.html" with events=submission.events.for_author %}
      {% endif %}
    </div>

  {% elif tab == "edadmin" and "edadmin" in user_roles %}
    <div id="submission-{{ submission.pk }}-tab-contents-edadmin"
	 hx-get="{% url 'edadmin:_hx_submission_tab_contents_edadmin' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
	 hx-trigger="load, submission-{{ submission.pk }}-tab-edadmin-updated"
    >
    </div>

  {% elif tab == "old" %}
    {% include "submissions/pool/_hx_submission_details_contents.html" with submission=submission %}

  {% else %}
    Unknown tab
  {% endif %}
</div>
