{% load bootstrap %}

{% if auto_show %}
  <form action="{% url 'submissions:pool:add_remark' submission.preprint.identifier_w_vn_nr %}" method="post" class="pb-2">
    {% csrf_token %}
    {{ form|bootstrap:'0,12' }}
    <input class="btn btn-outline-secondary" type="submit" value="Submit" />
  </form>
{% else %}
  <button class="btn btn-outline-secondary mb-2" data-bs-toggle="toggle" data-bs-target="#remarkForm{{ submission.id }}" id="remarkButton{{ submission.id }}">Add a remark on this Submission</button>
  <div class="submitRemarkForm pb-2" id="remarkForm{{ submission.id }}" style="display:none;">
    <form action="{% url 'submissions:pool:add_remark' submission.preprint.identifier_w_vn_nr %}" method="post">
      {% csrf_token %}
      {{ form|bootstrap:'0,12' }}
      <input class="btn btn-outline-secondary" type="submit" value="Submit" />
    </form>
  </div>
{% endif %}
