<table class="table table-light table-hover v-center">
  <thead class="table-light">
    <tr>
      <th></th>
      <th>Author</th>
      <th>Status</th>
      <th>Text</th>
      <th>Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in submission.comments_set_complete %}
      <tr{% if comment.is_unvetted %} class="table-warning"{% endif %}>
        <td class="text-center">
          {% if comment.is_unvetted %}
            <div class="text-center" data-bs-toggle="tooltip" data-bs-title="This Comment has not yet been vetted." data-bs-html="true">
              {% include 'bi/info-circle-fill.html' %}
              {% include 'bi/arrow-right.html' %}
            </div>
          {% endif %}
        </td>
        <td>
          {{ comment.author }}
          {% if comment.anonymous %}
            <br>
            <b><span class="text-danger">Chose public anonymity</span></b>
          {% endif %}
        </td>
        <td>
          {% if comment.is_vetted %}
            <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>
          {% elif comment.is_rejected %}
            <span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>
          {% elif comment.is_unvetted %}
            <span class="text-warning">{% include 'bi/exclamation-triangle-fill.html' %}</span>          {% endif %}
          {{ comment.get_status_display }}
          {% if comment.is_unvetted %}
            <br>
            <a href="{% url 'comments:vet_submitted_comment' comment.id %}">Vet this Comment here</a>
          {% elif comment.is_vetted %}
            <br>
            <a href="{{ comment.get_absolute_url }}">View full Comment here</a>
          {% endif %}
        </td>
        <td><em>{{ comment.comment_text|truncatewords:6 }}</em></td>
        <td>{% if comment.is_author_reply %}Author Reply{% else %}Comment{% endif %}</td>
        <td>{{ comment.date_submitted }}</td>
      </tr>
    {% empty %}
      <tr>
        <td class="text-center py-3" colspan="6">There are no Comments yet.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
