<table class="w-100 mb-1">
  <tr>
    <td style="min-width: 40%;">Version</td>
    <td>{{ submission.thread_sequence_order }} ({% if submission.is_latest %}latest version{% else %}out of a sequence of {{ submission.thread|length }}{% endif %})</td>
  </tr>
  {% if submission.preprint.url %}
    <tr>
      <td>Arxiv Link</td>
      <td>
        <a href="{{ submission.preprint.url }}" target="_blank" rel="noopener">{{ submission.preprint.url }}</a>
      </td>
    </tr>
  {% elif submission.preprint.get_absolute_url %}
    <tr>
      <td>Preprint link:</td>
      <td>
        <a href="{{ submission.preprint.get_absolute_url }}" target="_blank">{{ submission.preprint.identifier_w_vn_nr }}</a>
      </td>
    </tr>
  {% endif %}
  <tr>
    <td>Submitted</td>
    <td>{{ submission.submission_date }} to {{ submission.submitted_to }}</td>
  </tr>

  {% if submission.proceedings %}
    <tr>
      <td>Proceedings issue</td>
      <td>{{ submission.proceedings }}</td>
    </tr>
  {% endif %}

  {% if submission.acceptance_date %}
    <tr>
      <td>Accepted</td>
      <td>{{ submission.acceptance_date }}</td>
    </tr>
  {% endif %}

  <tr>
    <td>Latest activity</td>
    <td>{{ submission.latest_activity }}</td>
  </tr>
  <tr>
    <td>Editor-in-charge</td>
    <td>
      <ul class="list list-unstyled">
	{% if submission.status == 'screening' %}
	  {% if is_ed_admin %}
	    <li>Screening (unassigned)</li>
	  {% else %}
            <li>You can
	      <a href="{% url 'submissions:editorial_assignment' submission.preprint.identifier_w_vn_nr %}"><strong class="text-danger">volunteer to become Editor-in-charge</strong></a>
	    </li>
	  {% endif %}
	  {% if request.user.contributor.is_active_senior_fellow %}
	    <li>As Senior Fellow: <a href="{% url 'submissions:editor_invitations' submission.preprint.identifier_w_vn_nr %}"><strong class="text-danger">view/update editor invitations</strong></a></li>
	  {% endif %}
	{% elif submission.editor_in_charge == request.user.contributor %}
          <li>
	    <strong>You are the EIC</strong>
            <a role="button" class="btn btn-info px-1 py-0" href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}"><small>{% include 'bi/arrow-right.html' %} Editorial&nbsp;page</small></a>
	  </li>
	{% else %}
          <li>{{ submission.editor_in_charge }}</li>
	{% endif %}
      </ul>
    </td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{ submission.get_status_display }}</td>
  </tr>
  <tr>
    <td>Refereeing cycle</td>
    <td>{{ submission.get_refereeing_cycle_display }}</td>
  </tr>

  {% include 'submissions/_refereeing_status_as_tr.html' with submission=submission %}

  <tr>
    <td>Comments</td>
    <td>
      {{ submission.comments.vetted.count }}
      <small><span data-bs-toggle="tooltip" data-bs-placement='bottom' data-bs-html="true" title="{{ submission.comments.regular_comments.vetted.count }} comments<br>{{ submission.comments.author_replies.vetted.count }} author replies<hr>{{ submission.comments.awaiting_vetting.count }} awaiting vetting">{% include 'bi/info-circle-fill.html' %}</span></small>
    </td>
  </tr>

  <tr>
    <td>Reporting deadline</td>
    <td>
      {% if submission.reporting_deadline > now %}
        in {{ submission.reporting_deadline|timeuntil }}
      {% else %}
        {{ submission.reporting_deadline|timesince }} ago
      {% endif %}
    </td>
  </tr>

  {% if perms.scipost.can_do_plagiarism_checks %}
    <tr>
      <td>iThenticate plagiarism score</td>
      <td>
        {% if submission.plagiarism_report %}
          {{ submission.plagiarism_report.score }}%
	  &emsp;<a href="{% url 'submissions:plagiarism_report' submission.preprint.identifier_w_vn_nr %}" class="ms-2 btn btn-default" target="_blank">View report pdf</a>
        {% else %}
          <a href="{% url 'submissions:plagiarism' submission.preprint.identifier_w_vn_nr %}">Run plagiarism check</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Internal plagiarism matches</td>
      <td>
	{% if submission.internal_plagiarism_matches.submission_matches %}
	  Sub: {{ submission.internal_plagiarism_matches.submission_matches|length }}&emsp;
	{% endif %}
	{% if submission.internal_plagiarism_matches.publication_matches %}
	  Pub: {{ submission.internal_plagiarism_matches.publication_matches|length }}&emsp;
	{% endif %}
	<a href="{% url 'submissions:plagiarism_internal' submission.preprint.identifier_w_vn_nr %}" target="_blank">View details</a>
      </td>
    </tr>
  {% endif %}

  {% if perms.scipost.can_manage_college_composition %}
    <tr>
      <td>This Submission's Fellowship</td>
      <td><a href="{% url 'colleges:submission' submission.preprint.identifier_w_vn_nr %}">{{ submission.fellows.count }} Fellowship{{ submission.fellows.count|pluralize }}</a></td>
    </tr>
  {% endif %}

  {% block extended_info_table %}{% endblock %}

</table>
