{% load submissions_extras %}
{% load request_filters %}

{% load user_groups %}
{% is_ed_admin request.user as is_ed_admin %}

<div class="row">

  {% if submission.thread_full.first.publication and submission.thread_full.first.publication.is_published %}
    <div class="col-12">
      <h4 class="my-4">
        <span class="border border-2 border-success p-2">
          Published as
          <a href="{{ submission.thread_full.first.publication.get_absolute_url }}">
            {{ submission.thread_full.first.publication.citation }}
          </a>
        </span>
      </h4>
    </div>
  {% endif %}

  <div class="col-12">
    <h4 class="d-flex justify-content-between">
      <span>Refereeing indications</span>
      <a class="btn btn-primary btn-sm" href="{% url "submissions:referee_indications" identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">
        <span class="me-2">{% include "bi/plus-square-fill.html" %}</span>
        <span>Add indication</span>
      </a>
    </h4>
    {% if submission.referee_indications.exists %}
      <div hx-get="{% url "submissions:_hx_referee_indication_table" identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
           hx-trigger="load once, referee-indications-updated from:body delay:1s"></div>
    {% else %}
      <p>No referee indications yet.</p>
    {% endif %}
  </div>

  <div class="col-12 col-md-6 d-flex flex-column gap-2">
    <div>{% include "submissions/pool/_submission_recommendation_card.html" %}</div>
    <div>{% include "submissions/pool/_submission_refereeing_history_card.html" %}</div>
  </div>

  <div class="col-12 col-md-6 d-flex flex-column">

    <h4>EIC Coauthorships</h4>

    {% if is_ed_admin %}

      {% if submission.editor_in_charge %}
        <div style="max-height: 50vh; overflow-y: auto;">
          {% include 'submissions/admin/_coauthorships.html' with coauthorships=submission.editor_in_charge.profile.submission_coauthorships %}
        </div>
      {% else %}
        <p>No editor in charge assigned yet.</p>
      {% endif %}

    {% endif %}

    <a class="mt-auto"
       href="{% url "submissions:fellow_coauthorships" submission.preprint.identifier_w_vn_nr %}">View other Fellow Coauthorships</a>

  </div>


</div>
