{% extends 'submissions/pool/base.html' %}

{% load bootstrap %}
{% load guardian_tags %}
{% load scipost_extras %}
{% load submissions_extras %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Assignment Request</span>
{% endblock %}

{% block pagetitle %}: Assignment Request{% endblock pagetitle %}

{% block content %}

  <div class="card card-gray">
    <div class="card-body">
      <h1>Assignment request</h1>
      <h3 class="pt-0">Can you act as Editor-in-charge? (see below to accept/decline)</h3>
    </div>
  </div>
  <br>

  {% include 'submissions/pool/_submission_assignment_request.html' with assignment=assignment consider_assignment_form=form %}

{% endblock %}
