{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: Editorial Recommendation for Submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
  <span class="breadcrumb-item">Formulate Editorial Recommendation</span>
{% endblock %}

{% block content %}

  <h1 class="highlight">Formulate Editorial Recommendation for Submission</h1>

  <br>
  {% include 'submissions/_submission_summary.html' with submission=submission show_abstract=1 %}

  <br>
  <div class="border bg-light p-3 mb-3">
    <h2>Your Editorial Recommendation</h2>
    <p>Your recommendation will be processed by the Editorial Administration.</p>
    <ul class="mb-0">
      <li>acceptance or rejection: forwarded to the Editorial College for ratification</li>
      <li>request for revision: sent directly to the authors</li>
    </ul>
  </div>

  {% if submission.editor_in_charge != request.user.contributor %}
    <div class="border border-danger p-3">
      <span class="text-warning" aria-hidden="true">{% include 'bi/exclamation-triangle-fill.html' %}</span>
      You are not assigned as Editor in charge. However, you can formulate an Editorial Recommendation because you are Editorial Administrator. <strong>This Editorial Recommendation will still be signed by the Editor-in-charge.</strong>
    </div>
  {% endif %}

  <br>

  <div class="row">
    <div class="col-12">
      
      {% include "submissions/pool/_hx_eic_recommendation_form.html" with form=form %}

    </div>
  </div>


{% endblock content %}
