{% load scipost_extras %}

{% load static %}

<p class="mb-0 pb-0">
  {% if fellowship.contributor.profile.webpage %}
    <a target="_blank" href="{{ fellowship.contributor.profile.webpage }}">
  {% endif %}
  {{ fellowship.contributor.profile.get_title_display }} {{ fellowship.contributor.user.first_name }} {{ fellowship.contributor.user.last_name }}
  {% if fellowship.contributor.profile.webpage %}
    </a>
    {% endif %}
    {% if fellowship.senior %}
    [S]
    {% endif %}
</p>

{% if fellowship.contributor.affiliations.active.first %}
  <span class="text-muted">({{ fellowship.contributor.affiliations.active.first.institution.name }})</span>
{% endif %}
<div>
  {% for specialty in fellowship.contributor.profile.specialties.all %}
    <div class="single d-inline" data-specialty="{{ specialty.slug }}" data-toggle="tooltip" data-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
  {% endfor %}
</div>
