{% extends 'scipost/base.html' %}
{% load render_bundle from webpack_loader %}
{% block pagetitle %}: About{% endblock pagetitle %}

{% load staticfiles %}

{% load scipost_extras %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
              <div class="panel">
                  <h2>About SciPost</h2>
              </div>
            </div>
            <div class="col-12">
                <a href="{% url 'scipost:FAQ' %}">Frequently asked questions</a>
            </div>
        </div>

        <p>SciPost is a complete scientific publication portal.</p>
        <p>It is purely online-based, and offers freely, openly, globally and perpetually accessible science.</p>
        <p>Being managed by professional scientists, and making use of editor-solicited and contributed reviews, its Journals aim at the highest achievable standards of refereeing.</p>
        <p>SciPost Commentaries allow Contributors to seamlessly comment on all existing literature.</p>
    </div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-12">
                <div class="panel">
                    <h2>Acknowledgements</h2>
                </div>
            </div>
        </div>

        <h2>SciPost is endorsed by</h2>

        <div class="row">
            <div class="col-md-6">
              <a target="_blank" href="http://www.nwo.nl/en"><img src="{% static 'scipost/images/NWO_logo_EN.jpg' %}" alt="NWO logo" width='300px' /></a>
              <p id="NWOOpenAccess" class="mt-3">All articles published in SciPost Journals fulfill the Gold standard Open Access requirements of the NWO, as stipulated on the NWO’s <a href="http://www.nwo.nl/en/policies/open+science">Open Science page</a>.</p>
            </div>
            <div class="col-md-6">
                <a target="_blank" href="http://www.fom.nl/live/english/home.pag"><img src="{% static 'scipost/images/FOMlogo_fc.jpg' %}" alt="FOM logo" width='100px' /></a>
                <p style="font-size: 50%">FOM is part of NWO</p>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <h2>Guiding principles</h2>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-md-6">
      <ul>
        <li><em>Two-way open access</em><br/> Publicly-funded science should be openly accessible to scientists and the general public, perpetually, worldwide. Conversely, scientists should not have to pay publishing charges to disseminate the fruits of their research efforts.</li>
        <li><em>Non-profit</em><br/>Academics do not perform research for profit, and by extension the publication of their scientific results should not involve commercial profit-making.</li>
        <li><em>By Professionals</em><br/> Scientists should carry the final responsibility for all stages in the scientific publishing process.</li>
        <li><em>Peer-witnessed refereeing</em><br/> Scientific publications should undergo the strictest possible peer refereeing process, witnessed by the community instead of hidden behind closed doors.</li>
        <li><em>Accountable and credited refereeing</em><br/> Peer refereeing should be accountable, and should be incentivized by being credited.</li>
        <li><em>Post-publication evaluation</em><br/> Peer evaluation does not stop at the moment of publication.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="mt-md-4">The first principle is reflected in the fact that all publications and related content on SciPost.org are accessible to anybody with an internet connection. Moreover, publishing in SciPost entails no author charges.</p>
      <p>The second principle is reflected in SciPost’s not-for-profit status. SciPost is financially backed by national granting agencies, universities, foundations and individuals.</p>
      <p>The third principle is implemented by having only active scientists involved in SciPost’s decision-making and editorial processes.</p>
      <p>The fourth and fifth principles are implemented using SciPost’s maximally stringent peer-witnessed refereeing process.</p>
      <p>The sixth principle is implemented in the form of Commentary Pages associated to publications. These can either be SciPost Publications, or papers published elsewhere.</p>
    </div>
</div>


<hr>
<div class="row">
    <div class="col-12">
        <div class="panel">
      <h2>The SciPost Team</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 offset-md-1">
      <h3><a href="{% url 'scipost:foundation' %}">The SciPost Foundation</a></h3>
      <ul>
    	<li>Chairman: Prof. J.-S. Caux</li>
    	<li>Secretary: Dr J. van Mameren</li>
    	<li>Treasurer: Dr J. van Wezel</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Code Development and Server Maintenance</h3>
      <ul>
    	<li>Lead programmer: J.-S. Caux</li>
    	<li>Dev team: J. de Wit, G. Kapteijns, M. Moeys and B. Ponsioen</li>
      </ul>
    </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <div class="panel">
      <h2 id="advisory_board">Advisory Board</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-3 offset-md-1">
      <ul>
	<li>Prof. <a target="_blank" href="http://www.nikhef.nl/~h02/">J. J. Engelen</a><br/>(U. van Amsterdam)</li>
	<li>Prof. <a target="_blank" href="https://www.asc.ox.ac.uk/person/18">P. Fendley</a><br/>(Oxford; <a href="https://www.asc.ox.ac.uk/all-souls-college-oxford">All Souls College</a>)</li>
	<li>Prof. <a target="_blank" href="http://www.ru.nl/highenergyphysics/ehep/persons/sijbrand_de_jong/">S. J. de Jong</a><br/>(Radboud Univ. Nijmegen,<br/>President CERN Council)</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
	<li>Prof. <a target="_blank" href="http://www.ens-lyon.fr/PHYSIQUE/presentation/annuaire/maillet-jean-michel">J. M. Maillet</a><br/>(ENS Lyon)</li>
	<li>Prof. <a target="_blank" href="http://people.sissa.it/~mussardo/">G. Mussardo</a><br/>(SISSA)</li>
	<li>Prof. <a target="_blank" href="http://www.ru.nl/ssi/members/theo_rasing/">T. Rasing</a><br/>(Radboud Univ. Nijmegen)</li>
	<li>Prof. <a target="_blank" href="http://atomchip.org/general-information/people/schmiedmayer/">J. Schmiedmayer</a><br/>(TU Vienna)</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
	<li>Prof. <a target="_blank" href="http://www.professoren.tum.de/en/spohn-herbert/">H. Spohn</a><br/>(TU Munich)</li>
	<li>Prof. <a target="_blank" href="http://www.comp.phys.ethz.ch/people/troyer.html">M. Troyer</a><br/>(ETH Zurich)</li>
	<li>Prof. <a target="_blank" href="http://www.uva.nl/over-de-uva/organisatie/medewerkers/content/v/e/e.p.verlinde/e.p.verlinde.html">E. P. Verlinde</a><br/>(U. van Amsterdam)</li>
	<li>Prof. <a target="_blank" href="https://staff.fnwi.uva.nl/j.t.m.walraven/walraven/JookWalraven.htm">J. T. M. Walraven</a><br/>(U. van Amsterdam)</li>
      </ul>
    </div>
</div>

<hr>

{% if request.user.is_staff %}
    {% for college, codes in object_list %}

        <div class="row">
            <div class="col-12">
                <div class="panel">
                  <h2 id="editorial_college_{{ college|lower }}">Editorial College ({{ college }})</h2>
                </div>
            </div>
        </div>


    {% if codes %}
    <div class="row">
        <div class="col-12">
            <a href="#editorial_college_{{ college|lower }}" class="d-block mb-1" data-toggle="toggle-show" data-target="#specializations-{{college|lower}}">Show Fellows by specialization</a>
            <div id="specializations-{{college|lower}}" class="all-specializations" style="border: 1px solid; display: none;">
                {% for code in codes %}
                    <div class="specialization" data-specialization="{{code.0|lower}}">{{code.0}} - {{code.1}}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row search-contributors" data-contributors="{{ college|lower }}">
            {% for fellowship in college.current_fellows|reorder_list_three %}
                <div class="col-md-4 contributor-col">
                    <div class="contributor">
                        {% include 'scipost/_contributor_short.html' with contributor=fellowship.contributor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-12">
              <h2 class="highlight" id="editorial_college_physics">Editorial College (Physics)</h2>
        </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <ul>
    	<li>Prof. <a href="https://www.uni-tuebingen.de/en/faculties/faculty-of-science/departments/physics/institutes/institute-for-theoretical-physics/research-groups/andergassen-group.html">Sabine Andergassen</a><br/>(Tübingen)</li>
    	<li>Prof. <a href="http://www.physik.uni-wuerzburg.de/~assaad/">Fakher Assaad</a><br/>(Würzbrug)</li>
    	<li>Dr <a href="http://www.attaccalite.com">Claudio Attaccalite</a><br/>(Marseille)</li>
    	<li>Prof. <a href="https://denis114.wordpress.com">Denis Bartolo</a><br/>(ENS Lyon)</li>
    	<li>Prof. <a href="http://www.physik.unizh.ch/~lbaudis/index.html">Laura Baudis</a><br/>(Zurich)</li>
    	<li>Prof. <a href="http://www.lorentz.leidenuniv.nl/beenakker/">Carlo Beenakker</a><br/>(Leiden)</li>
    	<li>Prof. <a href="https://www.coulomb.univ-montp2.fr/perso/ludovic.berthier/">Ludovic Berthier</a><br/>(Montpellier)</li>
    	<li>Prof. <a href="http://ipht.cea.fr/Pisp/giulio.biroli/index_en.php">Giulio Biroli</a><br/>(CEA Saclay)</li>
    	<li>Prof. <a href="http://www.en.physik.uni-muenchen.de/personen/professoren/bloch/index.html">Immanuel Bloch</a><br/>(LMU Munich)</li>
    	<li>Prof. <a href="https://staff.fnwi.uva.nl/j.deboer/">Jan de Boer</a><br/>(U. van Amsterdam)</li>
    	<li>Prof. <a href="http://www.uva.nl/en/about-the-uva/organisation/staff-members/content/b/o/d.bonn/d.bonn.html">Daniel Bonn</a><br/>(U. van Amsterdam)</li>
    	<li>Prof. <a href="http://www.statphys.sissa.it/wordpress/?page_id=1731">Pasquale Calabrese</a><br/>(SISSA)</li>
    	<li>Prof. <a href="http://personalpages.to.infn.it/~caselle/index_en.html">Michele Caselle</a><br/>(Torino)</li>
    	<li>Prof. <a href="http://www.saha.ac.in/cmp/bikask.chakrabarti/bikas.html">Bikas Chakrabarti</a><br/>(Kolkata)</li>
    	<li>Prof. <a href="http://www.tcm.phy.cam.ac.uk/~nrc25/">Nigel Cooper</a><br/>(Cambridge)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
    	<li>Prof. <a href="http://physics.cornell.edu/csaba-csaki">Csaba Csaki</a><br/>(Cornell)</li>
    	<li>Prof. <a href="http://theory.tifr.res.in/~kedar/">Kedar Damle</a><br/>(TIFR Mumbai)</li>
    	<li>Prof. <a href="http://researchers.uq.edu.au/researcher/1134">Matthew Davis</a><br/>(U. of Queensland)</li>
    	<li>Prof. <a href="http://www-thphys.physics.ox.ac.uk/people/FabianEssler/">Fabian Essler</a><br/>(U. of Oxford)</li>
    	<li>Prof. <a href="http://www.pd.infn.it/~feruglio/">Ferruccio Feruglio</a><br/>(Padova, INFN)</li>
    	<li>Prof. <a href="http://www.ms.unimelb.edu.au/~jdgier@unimelb/">Jan de Gier</a><br/>(U. of Melbourne)</li>
    	<li>Prof. <a href="http://www.desy.de/about_desy/leading_scientists/beate_heinemann/index_eng.html">Beate Heinemann</a><br/>(DESY; Freiburg)</li>
    	<li>Prof. <a href="http://katzgraber.org">Helmut Katzgraber</a><br/>(Texas A&amp;M)</li>
    	<li>Prof. <a href="https://web.physik.rwth-aachen.de/~mkraemer/">Michael Kr&auml;mer</a><br/>(RWTH Aachen)</li>
    	<li>Prof. <a href="https://www.pmmh.espci.fr/~jorge/">Jorge Kurchan</a><br/>(<a href="https://www.pmmh.espci.fr/?-Home-">PMMH</a> Paris, CNRS)</li>
    	<li>Prof. <a href="https://vivo.brown.edu/display/glandsbe">Greg Landsberg</a><br/>(Brown Univ.)</li>
    	<li>Prof. <a href="https://www.mpg.de/6812374/chem_physik_fester_stoffe_mackenzie">Andrew P. MacKenzie</a><br/>(MPICPS Dresden, St-Andrews)</li>
    	<li>Prof. <a href="http://www.ens-lyon.fr/PHYSIQUE/presentation/annuaire/maillet-jean-michel">Jean Michel Maillet</a><br/>(ENS Lyon)</li>
    	<li>Prof. <a href="https://www.mpg.de/343435/physik_komplexer_systeme_wissM28">Roderich Moessner</a><br/>(MPIPKS Dresden)</li>
    	<li>Prof. <a href="https://www.uibk.ac.at/exphys/ultracold/people/christoph.naegerl/">Hanns-Christoph N&auml;gerl</a><br/>(Innsbruck)</li>
    	<li>Prof. <a href="http://www.physics.miami.edu/~nepomechie/">Rafael Nepomechie</a><br/>(U. of Miami)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
    	<li>Prof. <a href="https://staff.fnwi.uva.nl/b.nienhuis/">Bernard Nienhuis</a><br/>(U. van Amsterdam)</li>
    	<!--<li>Prof. <a href="http://www.kip.uni-heidelberg.de/people/index.php?num=552">Markus Oberthaler</a><br/>(U. Heidelberg)</li>-->
    	<li>Prof. <a href="http://www.lpthe.jussieu.fr/~pioline/">Boris Pioline</a><br/>(LPTHE Jussieu)</li>
    	<li>Prof. <a href="https://www.uu.nl/staff/RHHGvanRoij/0">René van Roij</a><br/>(Utrecht)</li>
    	<li>Prof. <a href="http://www.thp.uni-koeln.de/rosch">Achim Rosch</a><br/>(U. of Cologne)</li>
    	<li>Prof. <a href="http://saleur.sandvox.net">Hubert Saleur</a><br/>(CEA Saclay/USC)</li>
    	<li>Prof. <a href="http://www.phy.ohiou.edu/people/faculty/sandler.html">Nancy Sandler</a><br/>(Ohio)</li>
    	<li>Dr. <a href="http://www.sussex.ac.uk/profiles/320359">Veronica Sanz</a><br/>(Sussex)</li>
    	<li>Prof. <a href="http://www-thphys.physics.ox.ac.uk/people/SubirSarkar/">Subir Sarkar</a><br/>(Oxford; Niels Bohr Institute)</li>
    	<li>Prof. <a href="https://staff.fnwi.uva.nl/c.j.m.schoutens/">Kareljan Schoutens</a><br/>(U. van Amsterdam)</li>
    	<li>Dr <a href="http://www.phys.ens.fr/~guilhem/">Guilhem Semerjian</a><br/>(ENS Paris)</li>
    	<li>Prof. <a href="http://www-thphys.physics.ox.ac.uk/people/SteveSimon/">Steve Simon</a><br/>(U. of Oxford)</li>
    	<li>Prof. <a href="http://bec.science.unitn.it/infm-bec/people/stringari.html">Sandro Stringari</a><br/>(Trento)</li>
    	<li>Prof. <a href="http://www.damtp.cam.ac.uk/user/tong/">David Tong</a><br/>(Cambridge)</li>
    	<li>Prof. <a href="http://www.physique.usherbrooke.ca/pages/en/node/3412">Andr&eacute;-Marie Tremblay</a><br/>(Sherbrooke)</li>
    	<li>Prof. <a href="http://trivediresearch.org.ohio-state.edu">Nandini Trivedi</a><br/>(Ohio State U.)</li>
    	<li>Prof. <a href="http://vergassolalab.ucsd.edu">Massimo Vergassola</a><br/>(UC Sand Diego)</li>
          </ul>
        </div>
  </div>
{% endif %}

<br/>
<div class="row">
    <div class="col-12">
        <h2 style="color: red">We are currently building our Editorial College</h2>
        <h3 style="color: red">We welcome your nominations for Editorial Fellows in all fields of Physics</h3>
    </div>
</div>

{% endblock content %}

{% block footer_script %}
{{block.super}}
    {% render_bundle 'tooltip' 'js' %}
    <script src="{% static 'scipost/about.js' %}"></script>
{% endblock %}
