{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: change password{% endblock pagetitle %}

{% block content %}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="highlight">Change your SciPost password</h1>

        <form action="{% url 'scipost:change_password' %}" method="post">
            {% csrf_token %}
            {{form|bootstrap}}
            <input type="submit" class="btn btn-secondary" value="Change" />
        </form>
    </div>
</div>

{% endblock content %}
