{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: change password{% endblock pagetitle %}

{% block content %}

{% if ack %}
    <div class="row">
        <div class="col-12">
            <h1>Your SciPost password has been successfully changed</h1>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="highlight">Change your SciPost password</h1>
            {% if errormessage %}
              <p class="text-danger">{{ errormessage }}</p>
            {% endif %}
            <form action="{% url 'scipost:change_password' %}" method="post">
                {% csrf_token %}
                {{form|bootstrap}}
                <input type="submit" class="btn btn-secondary" value="Change" />
            </form>
        </div>
    </div>
{% endif %}

{% endblock content %}
