{% extends 'scipost/_personal_page_base.html' %}

{% load bootstrap %}

{% block pagetitle %}: contributors filter{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{% url 'scipost:draft_registration_invitation' %}" class="breadcrumb-item">Draft registration invitation</a>
    <span class="breadcrumb-item">Contributors filter</span>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Contributors filter</h1>

        <p>This form can be used to split your list of names into a list of names with registered or already invited Contributors and a list of unknown names according to the current database.</p>
        <p>Please, for every name use the format <code>{last name}</code> or  <code>{last name}, {first name}</code> and use one name per line.</p>

        <form method="post">
              {% csrf_token %}
              {{ form|bootstrap }}
              <input type="submit" class="btn btn-primary" value="Filter"/>
        </form>
    </div>
</div>

{% if form.is_bound %}

    <hr class="divider">
    <h2>Filter result</h2>
    {% if names_not_found %}
        <h3>New names</h3>
        <pre><code>{% for name in names_not_found %}{{ name }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</code></pre>
    {% endif %}
    <br>
    {% if names_found %}
        <h3>Names found in the system</h3>
        <pre><code>{% for name in names_found %}{{ name }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</code></pre>

    {% endif %}
{% endif %}

{% endblock %}
