{% extends 'scipost/base.html' %}

{% block pagetitle %}: personal page{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){
  $("#mysubmissionsbutton").click(function(){
  $("#mysubmissionslist").toggle();
  });
  $("#mycommentariesbutton").click(function(){
  $("#mycommentarieslist").toggle();
  });
  $("#mythesesbutton").click(function(){
  $("#mytheseslist").toggle();
  });
  $("#mycommentsbutton").click(function(){
  $("#mycommentslist").toggle();
  });
  $("#myauthorrepliesbutton").click(function(){
  $("#myauthorreplieslist").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

<section>
  <div class="flex-greybox">
    <h1>Contributor info</h1>
  </div>
  {{ contributor.public_info_as_table }}
</section>

{% if contributor_submissions %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Submissions</h1>
    <button id="mysubmissionsbutton">View/hide submissions</button>
  </div>
  <div id="mysubmissionslist">
    <h3>Submissions for which this Contributor is identified as an author:</h3>
    <ul>
      {% for sub in contributor_submissions %}
      {{ sub.header_as_li }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if contributor_commentaries %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Commentaries</h1>
    <button id="mycommentariesbutton">View/hide commentaries</button>
  </div>
  <div id="mycommentarieslist">
    <h3>Commentaries for which this Contributor is identified as an author:</h3>
    <ul>
      {% for com in contributor_commentaries %}
      {{ com.header_as_li }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if contributor_theses %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Theses</h1>
    <button id="mythesesbutton">View/hide theses</button>
  </div>
  <div id="mytheseslist">
    <h3>Theses for which this Contributor is identified as an author:</h3>
    <ul>
      {% for thesis in contributor_theses %}
      {{ thesis.header_as_li }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if contributor_comments %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Comments</h1>
    <button id="mycommentsbutton">View/hide comments</button>
  </div>
  <div id="mycommentslist">
    <ul>
      {% for comment in contributor_comments %}
      {{ comment.header_as_li }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if contributor_authorreplies %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Author Replies</h1>
    <button id="myauthorrepliesbutton">View/hide author replies</button>
  </div>
  <div id="myauthorreplieslist">
    <ul>
      {% for reply in contributor_authorreplies %}
      {{ reply.header_as_li }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% endblock bodysup %}
