{% extends 'scipost/_personal_page_base.html' %}

{% load bootstrap %}

{% block pagetitle %}: registration invitations{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Draft registration invitation</span>
{% endblock %}

{% block content %}

<script>
$(document).ready(function(){

    $('#id_invitation_type').on('change', function() {
        switch ($(this).val()) {
            case "ci":
                $("#id_cited_in_submission").parents('.form-group').show();
                $("#id_cited_in_publication").parents('.form-group').hide();
            break;
            case "cp":
                $("#id_cited_in_submission").parents('.form-group').hide();
                $("#id_cited_in_publication").parents('.form-group').show();
            break;
            default:
                $("#id_cited_in_submission").parents('.form-group').hide();
                $("#id_cited_in_publication").parents('.form-group').hide();
        }
    }).trigger('change');
});
</script>

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Draft a registration invitation</h1>
        <p>If you have a list of names you want to check with the current database of users, <a href="{% url 'scipost:contributors_filter' %}">please click here</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="highlight">Draft a new invitation</h2>
        {% if errormessage %}
            <h3 class="text-danger">{{ errormessage }}</h3>
        {% endif %}

        <form action="{% url 'scipost:draft_registration_invitation' %}" method="post">
              {% csrf_token %}
              {{ form.media }}
              {{ form|bootstrap }}
              <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="highlight">Existing drafts (to be processed by Admin) ({{existing_drafts|length}})</h2>
        <a href="javascript:void(0)" class="btn mb-2" data-toggle="toggle" data-target="#table_existing_drafts">view/hide +</a>

        <table class="table" id="table_existing_drafts">
            <thead>
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Email</th>
                    <th>Date drafted</th>
                    <th>Type</th>
                    <th>Drafted by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for draft in existing_drafts %}
                  <tr>
                    <td>{{ draft.last_name }}</td>
                    <td>{{ draft.first_name }}</td>
                    <td>{{ draft.email }}</td>
                    <td>{{ draft.date_drafted }} </td>
                    <td>{{ draft.get_invitation_type_display }}</td>
                    <td>{{ draft.drafted_by.user.first_name }} {{ draft.drafted_by.user.last_name }}</td>
                    <td>
                        {% if draft.drafted_by.user == request.user %}
                            <a href="{% url 'scipost:draft_registration_invitation_form' draft.id %}">Edit</a>
                        {% endif %}</td>
                  </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No drafts found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
