{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: edit draft reg inv{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{% url 'scipost:registration_invitations' %}" class="breadcrumb-item">Registration Invitations</a>
    <span class="breadcrumb-item">Pool</span>
{% endblock %}

{% load bootstrap %}

{% block content %}

<script>
$(document).ready(function(){

    $('#id_invitation_type').on('change', function() {
        switch ($(this).val()) {
            case "ci":
                $("#id_cited_in_submission").parents('.form-group').show();
                $("#id_cited_in_publication").parents('.form-group').hide();
            break;
            case "cp":
                $("#id_cited_in_submission").parents('.form-group').hide();
                $("#id_cited_in_publication").parents('.form-group').show();
            break;
            default:
                $("#id_cited_in_submission").parents('.form-group').hide();
                $("#id_cited_in_publication").parents('.form-group').hide();
        }
    }).trigger('change');
});
</script>

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Edit a draft registration invitation</h1>
        <form action="{% url 'scipost:draft_registration_invitation_form' draft_id=draft_inv_form.instance.id %}" method="post">
            {% csrf_token %}
            {{draft_inv_form.media}}
            {{draft_inv_form|bootstrap}}
            <input type="submit" class="btn btn-secondary">
        </form>
    </div>
</div>

{% endblock content %}
