{% extends 'scipost/base.html' %}

{% block pagetitle %}: edit graph node{% endblock pagetitle %}

{% block bodysup %}

<section>
  <h1>Edit Graph Node</h1>

  {% if errormessage %}
  <p>{{ errormessage }}</p>

  {% else %}

  <form action="{% url 'scipost:edit_graph_node' graph_id=graph.id node_id=node.id %}" method="post">
    {% csrf_token %}
    <table>
      {{ edit_node_form.as_table }}
    </table>
    <input type="submit" value="Submit" />
  </form>

  {% endif %}

</section>

{% endblock bodysup %}
