{% extends 'scipost/base.html' %}

{% block pagetitle %}: Frequently asked questions{% endblock pagetitle %}

{% load staticfiles %}

{% block bodysup %}


<section>
  <div class="flex-greybox">
    <h1>Frequently asked questions</h1>
  </div>
  <div class="row">
    <div class="col-5">

      <div class="flex-greybox">
	<h2>SciPost</h2>
      </div>
      <h3>What is SciPost?</h3>
      <p>SciPost is a complete online publication portal managed by and for scientists.</p>
      <p>
	Preprint handling and circulation occurs through the well-established arXiv;
	the rest of the publication process, from peer refereeing through publication
	all the way to post-publication commenting, is offered by SciPost.
      </p>
      <p>Thus, simply stated: share your preprint on <a href="http://www.arxiv.org">arXiv</a>, 
	publish it in <a href="https://scipost.org">SciPost</a>.
      </p>

      <div class="flex-greybox">
	<h2>SciPost Journals</h2>
      </div>
      <h3>Which Journals does SciPost publish?</h3>
      <p>In the startup phase, two Journals are being offered:</p>
      <ul>
	<li>SciPost Physics</li>
	<li>SciPost Physics Lecture Notes</li>
      </ul>
      <p>Both Journals cover all domains and subject areas within the field of Physics.</p>
      <p>SciPost Physics Select, the editorially-selected highlights Journal, will be introduced 
	in the near future.</p>
      <br/>
      <hr class="hr6">
      <h3>What are the distinguishing features of SciPost Journals?</h3>
      <p>All SciPost Journals are subscription-free, two-way open access (free for readers, free for authors) online journals.</p>
      <p>Manuscripts submitted to SciPost undergo the extremely stringent <a href="/FAQ#pwr">peer-witnessed refereeing</a> process, guaranteeing that papers published in SciPost Journals meet the highest possible academic standards.</p>
      <br/>
      <hr class="hr6">
      <h3>Why should I submit my manuscripts to SciPost?</h3>
      <p>Because:</p>
      <ul>
	<li>you think your work can withstand the strictest form of pre-publication scrutiny: <a href="/FAQ#pwr">peer-witnessed refereeing</a></li>
	<li>you want your referees to have to adhere to the same standards of professionalism which are expected of you as an author</li>
	<li>you want the editorial process to be handled by professional scientists</li>
	<li>you think that copyright should be held by authors, not publishers</li>
	<li>you want your published work to be openly accessible and not hidden behind a paywall</li>
	<li>you do not think publishers should exploit your work for profit-making</li>
	<li>you do not think that author(s) should be paying publication costs</li>
      </ul>
      <br/>
      <hr class="hr6">
      <h3>How do I submit my manuscript to SciPost?</h3>
      <p>After registering as a Contributor, simply follow the <a href="{% url 'submissions:sub_and_ref_procedure' %}">submission procedure</a>.</p>
      <br/>
      <br/>
      <hr class="hr6">
      <h3 id="pwr">How does peer-witnessed refereeing work?</h3>
      <p>This is a short summary; for a more detailed description, see our <a href="{% url 'submissions:sub_and_ref_procedure' %}">submission and refereeing procedure</a>.</p>
      <ul>
	<li>Reports are gathered from editorially-invited referees, but can also be volunteered by registered SciPost Contributors during refereeing rounds.</li>
	<li>Reports are posted online (after rapid editorial vetting) on the Submission's Page, and can be replied to (privilege of Authors only) or commented on by all Contributors.</li>
	<li>Anonymity can be preserved at all meaningful stages if desired (as a referee, you can choose to remain anonymous on a particular Report, but named on another).</li>
      </ul>
      <p>Contributors thus have additional incentives to actively participate and provide not only high-quality Submissions, 
	but also Reports and Comments of the highest achievable professional caliber. 
	Quality is moreover promoted by Editorial vetting of all Reports, Replies and Comments before public posting.</p>
      <hr class="hr6">
      <h3>Will my SciPost publications be citable?</h3>
      <p>Yes. All SciPost publications will obtain a unique DOI, enabling citations and metrics as per other journals.
      Membership of <a href="http://crossref.org">Crossref</a> means that SciPost papers directly benefit from a set of citation metrics.</p>
      <br/>
      <hr class="hr6">
      <h3>Will SciPost papers be listed in citation databases?</h3>
      <p>
	Inclusion in standard citation databases can be applied for once the Journals have been operating for a short while (at least 3 months). Past experience with other new journals shows that listing typically occurs within a year of launch. Search engine-based listings are expected to pick our Journals up on a shorter timescale.
      </p>
      <hr class="hr6">
      <h3>Can I also submit my papers somewhere else?</h3>
      <p>No. SciPost publications or submissions under consideration for publication in SciPost Journals must not be submitted elsewhere.</p>
      <br/>
      <hr class="hr6">
      <h3>Under what license do SciPost Journals publish articles?</h3>
      <p>All SciPost contents are licensed under the <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) License</a>. Under this license, the copyright remains the property of the authors, who then agree to make their articles available for reuse without permission or fees, for virtually any purpose. Anyone may copy, distribute or reuse these articles as long as the author(s) and original source are properly cited. This is the standard license used worldwide in open access journals. You can read more about the details in the <a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions</a>.</p>
      <br/>
      <hr class="hr6">
      <h3>Will my papers always be available?</h3>
      <p>Yes. SciPost is here to stay, and authors should not worry that their SciPost publications could potentially disappear. 
	SciPost has institutional backing guaranteeing perpetuity of access to its journals database.
      </p>

    </div>
    <div class="col-1"></div>
    <div class="col-5">

      <div class="flex-greybox">
	<h2>SciPost Commentaries</h2>
      </div>
      <h3>What are Commentaries?</h3>
      <p>SciPost Commentaries is a searchable repository of Commentary Pages on scientific publications. Each Commentary Page contains some relevant summary info about the publication (such as Title, Author(s), DOI link to published version, abstract, ...), followed by Comments from Contributors and Author and Contributor Replies. </p>
      <br/>
      <hr class="hr6">
      <h3>How are Commentary Pages activated?</h3>
      <p>Any registered Contributor can request the activation of a Commentary Page by filling in the <a href="{% url 'commentaries:request_commentary' %}">Commentary request page</a>.</p>
      <br/>
      <div class="flex-greybox">
	<h2>SciPost Theses</h2>
      </div>
      <h3>What are Theses?</h3>
      <p>SciPost Theses is a searchable repository of external links to Master's, Ph.D. and Habilitation theses. Besides a validated URL pointing to the original document, each Thesis Link page contains some relevant summary info (such as title, author, degree granting institution, abstract, ...), followed by Comments from Contributors and Author and Contributor Replies. </p>
      <br/>
      <hr class="hr6">
      <h3>How are Thesis Link pages activated?</h3>
      <p>As a registered Contributor, the author of the thesis (or, if unavailable, the supervisor or a colleague) can request the activation of a Thesis Link by filling in the <a href="{% url 'theses:request_thesislink' %}">Thesis Link request page</a>.</p>

      <br/>
      <div class="flex-greybox">
	<h2>SciPost Contributors</h2>
      </div>
      <h3>Why should I become an active Contributor?</h3>
      <p>Because:</p>
      <ul>
	<li>you subscribe to the values underlining SciPost's <a href="{% url 'scipost:about' %}">guiding principles</a></li>
	<li>you would like the quantity and quality of your refereeing and commenting work to be recognized and credited</li>
	<li>you would like to be entitled to report on submissions, even if you haven't been explicitly invited to do so by an editor</li>
	<li>you are interested in building useful extra content (comments, rederivations, etc) on existing literature</li>
	<li>you are willing to make your contributions as author and (anonymously) as reviewer and commenter openly accessible</li>
      </ul>
      <br/>
      <div class="flex-greybox">
	<h2>SciPost Comments</h2>
      </div>
      <h3>What can be commented on?</h3>
      <p>All categories of contents can be commented on: Publications, Submissions, Commentaries and Thesis Links. In addition, Comments themselves can be replied to.</p>
      <h3>Who can submit Comments?</h3>
      <p>Only registered Contributors can submit Comments.</p>
      <h3>What about privacy?</h3>
      <p>Comments posted on SciPost carry an identifier including the Contributor's full name.</p>
      <p>Reports on Submissions are anonymous by default. If the Contributor providing the Report wishes it, anonymity can be waived.</p>
      <p>More details can be found in our <a href="{% url 'scipost:privacy_policy' %}">Privacy Policy</a>.</p>
      <br/>
      <div class="flex-greybox">
	<h2>About SciPost</h2>
      </div>
      <h3>Who is behind SciPost?</h3>
      <ul>
	<li>SciPost was founded by <a href="http://staff.fnwi.uva.nl/j.s.caux">J.-S. Caux</a>, Professor of Theoretical Physics at the University of Amsterdam.</li>
	<li>The legal entity behind SciPost is <a href="{% url 'scipost:foundation' %}">Stichting SciPost</a>, a not-for-profit Foundation established in Amsterdam. Its (non-remunerated) personnel consists in Prof. J.-S. Caux (chairman), Dr J. van Mameren (secretary) and Dr J. van Wezel (treasurer). The portal is run by a team of volunteer officers coordinated by the Foundation.</li>
      </ul>
      <br/>
      <hr class="hr6">
      <h3>Why was SciPost started?</h3>
      <p>The publishing landscape is evolving rapidly, and it is not clear that the best interests of science and scientists are being represented. SciPost offers a grassroots solution to the problem of scientific publishing, designed and implemented by scientists in the best interests of science itself.</p> 
      <br/>
      <hr class="hr6">
      <h3>Which fields of science does SciPost cater to?</h3>
      <p>The initial rollout of SciPost offers a Physics portal.</p>
      <p>Portals in other disciplines will be opened if the SciPost model proves to be successful.</p>
      <br/>
      <hr class="hr6">
      <h3>Is SciPost moderated?</h3>
      <p>Yes. All content is vetted by the editorial team before being made public. Only meaningful, professional-level scientific content is accepted. SciPost does not take any responsibility for the actual contents of postings.</p>
      <br/>
      <hr class="hr6">
      <h3>How is SciPost funded?</h3>
      <p>SciPost operates non-commercially, incurring minimal costs. Contributors, who are by definition all academically employed, provide all the content and perform all editorial tasks as part of their normal institutional academic duties. Operations are kept running by a team of volunteer officers, themselves academically employed.</p>
      <p>Support for operational costs is initially provided by the <a href="http://www.nwo.nl/en">NWO</a> in the Netherlands. Long-term operations will be financed by donations from national funding agencies, universities, societies, foundations and individuals. If you are interested in financially supporting SciPost, <a href="mailto:J.S.Caux@uva.nl">contact us</a>.</p>
    </div>
  </div>
</section>


{% endblock bodysup %}
