{% extends 'scipost/base.html' %}

{% block meta_description %}{{ block.super }} Feeds{% endblock meta_description %}
{% block pagetitle %}: Feeds{% endblock pagetitle %}

{% load static %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">SciPost Feeds</h1>

      <h2>News feeds</h2>
      <p>
        We provide both RSS (2.0) and Atom feeds for latest news and announcements.
        The URL of the RSS feed is <a href="{% url 'scipost:feeds_rss_news' %}">https://scipost.org/rss/news/</a>.
        The URL of the Atom feed is <a href="{% url 'scipost:feeds_atom_news' %}">https://scipost.org/atom/news/</a>.
      </p>

      <h2>Publications feeds</h2>
      <p>
        Similarly, we provide feeds for the latest publications.
        The URL of the general RSS feed is <a href="{% url 'scipost:feeds_rss_publications' %}">https://scipost.org/rss/publications</a>.
        The URL of the general Atom feed is <a href="{% url 'scipost:feeds_atom_publications' %}">https://scipost.org/atom/publications/</a>.
      </p>
      <p>You can also obtain feeds only for any specific specialization by using the links in the table below.</p>

      <h2>Submissions feeds</h2>
      <p>
        We also provide feeds for the latest submissions.
        The URL of the general RSS feed is <a href="{% url 'scipost:feeds_rss_submissions' %}">https://scipost.org/rss/submissions</a>.
        The URL of the general Atom feed is <a href="{% url 'scipost:feeds_atom_submissions' %}">https://scipost.org/atom/submissions/</a>.
      </p>
      <p>You can also obtain feeds only for any specific specialty by using the links in the table below.</p>

      <h2>Feeds by specific specialty</h2>

      {% for branch in branches %}
	<hr>
	<h3 class="highlight">{{ branch }}</h3>
	{% for field in branch.academic_fields.all %}
	  <h4 class="highlight p-1 ml-1">{{ field }}</h4>
	  {% if field.specialties.all|length > 0 %}
	    <table class="table ml-1">
    	      <thead>
		<th>Specialty</th>
		<th>Submissions</th>
		<th>Publications</th>
    	      </thead>
    	      <tbody>
		{% for specialty in field.specialties.all %}
		  <tr>
		    <td>{{ specialty }}</td>
		    <td>
                      <a href="{% url 'scipost:sub_feed_spec_rss' specialty=specialty.slug %}">RSS</a> &middot;
                      <a href="{% url 'scipost:sub_feed_spec_atom' specialty=specialty.slug %}">Atom</a>
		    </td>
		    <td>
                      <a href="{% url 'scipost:pub_feed_spec_rss' specialty=specialty.slug %}">RSS</a> &middot;
                      <a href="{% url 'scipost:pub_feed_spec_atom' specialty=specialty.slug %}">Atom</a>
		    </td>
		  </tr>
		{% endfor %}
    	      </tbody>
	    </table>
	  {% endif %}
	{% endfor %}
      {% endfor %}
    </div>
  </div>

  </div>
  </div>

{% endblock %}
