{% extends 'scipost/base.html' %}

{% block pagetitle %}: Overview{% endblock pagetitle %}

{% block headsup %}

{% endblock headsup %}

{% block bodysup %}

{% load scipost_extras %}
{% load submissions_extras %}

<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Overview of Fellows's activities</h1>
    </div>
  </div>
  <p>Click on a Fellow's name to view full assignment details.</p>
  <table class="assignments_listing">
    <thead>
      <th>Name</th>
      <th>Expertises</th>
      <th>Ongoing</th>
      <th>Assignments<br/>last yr / tot</th>
      <th>Accepted<br/>last yr / tot</th>
      <th>Refused<br/>last yr / tot</th>
      <th>Ignored<br/>last yr / tot</th>
      <th>Fulfilled<br/>last yr / tot</th>
    </thead>
    <tbody>
      {% for Fellow in Fellows %}
      <tr>
	<td><a href="{% url 'scipost:Fellow_activity_overview' Fellow_id=Fellow.id %}">{{ Fellow.user.last_name }}, {{ Fellow.user.first_name }}</a></td>
	{{ Fellow.assignments_summary_as_td }}
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

{% if Fellow %}
<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Overview of Fellows's activities</h1>
    </div>
  </div>
  <h3>Assignments for {{ Fellow.user.first_name }} {{ Fellow.user.last_name }}</h3>

  <h4>Ongoing:</h4>
  <ul>
    {% for assignment in assignments_of_Fellow %}
    {% if assignment.accepted and not assignment.completed %}
    {% if request.user|is_not_author_of_submission:assignment.submission.arxiv_identifier_w_vn_nr %}
    {{ assignment.header_as_li }}
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>

  <h4>Completed:</h4>
  <ul>
    {% for assignment in assignments_of_Fellow %}
    {% if assignment.completed %}
    {% if request.user|is_not_author_of_submission:assignment.submission.arxiv_identifier_w_vn_nr %}
    {{ assignment.header_as_li }}
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>


</section>
{% endif %}

{% endblock bodysup %}
