{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: Overview{% endblock pagetitle %}

{% load scipost_extras %}
{% load submissions_extras %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Overview of Fellow's activities</span>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Overview of Fellows's activities</h1>
        <h3>Click on a Fellow's name to view full assignment details.</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
      <table class="assignments_listing w-100">
        <thead>
          <th>Name</th>
          <th>Expertises</th>
          <th>Ongoing</th>
          <th>Assignments<br/>last yr / tot</th>
          <th>Accepted<br/>last yr / tot</th>
          <th>Refused<br/>last yr / tot</th>
          <th>Ignored<br/>last yr / tot</th>
          <th>Fulfilled<br/>last yr / tot</th>
        </thead>
        <tbody>
          {% for fellow in fellows %}
            <tr>
                <td>
                    <a href="{% url 'scipost:Fellow_activity_overview' %}?fellow={{fellow.id}}">{{ fellow.user.last_name }}, {{ fellow.user.first_name }}</a>
                </td>
                {% include 'partials/scipost/contributor_assignments_as_td.html' with contributor=fellow %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% if fellow %}
    <div class="row">
        <div class="col-12">
            <h3 class="highlight">Assignments for {{ fellow.user.first_name }} {{ fellow.user.last_name }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Ongoing:</h3>
        </div>
        <div class="col-12">
            <ul class="list-group list-group-flush">
              {% for assignment in assignments_ongoing %}
                  <li class="list-group-item">
                      {% include 'submissions/_submission_card_contributor_content.html' with submission=assignment.submission %}
                  </li>
              {% empty %}
                  <li class="list-group-item">No completed assignments</li>
              {% endfor %}
            </ul>
        </div>

        <div class="col-12 mt-4">
            <h3>Completed</h3>
        </div>

        <div class="col-12">
          <ul class="list-group list-group-flush">
            {% for assignment in assignments_completed %}
                <li class="list-group-item">
                    {% include 'submissions/_submission_card_contributor_content.html' with submission=assignment.submission %}
                </li>
            {% empty %}
                <li class="list-group-item">No completed assignments</li>
            {% endfor %}
          </ul>
        </div>
    </div>

{% endif %}

{% endblock content %}
