{% load static %}

<header>
  <div class="container">
    <div class="d-md-flex justify-content-between">
      <div class="logobox">
        <a href="{% url 'scipost:index' %}"><img src="{% static 'scipost/images/logo_scipost_RGB_HTML_groot.png' %}" alt="SciPost logo" width="180" /></a>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="header-search-button" href="{% url 'scipost:search' %}">
            <i class="fa fa-search"></i>
            Search
          </a>

          <div id="header-search-form"{% if not request.GET.q %} style="display: none;"{% endif %}>
            <form method="get" action="{% url 'scipost:search' %}">
              <input type="text" name="q" placeholder="Search term" value="{{ request.GET.q }}">
              <div class="btn-group">
                <button type="submit" class="btn btn-link">
                  <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-link close-form" id="header-search-close-btn">
                  {% include 'bi/x-circle-fill.html' %}
                </a>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>

    <script src="{% static 'scipost/search-header.js' %}"></script>

  </div>
</header>
