{% extends 'scipost/base.html' %}

{% block meta_description %}{{ block.super }} Howto{% endblock meta_description %}
{% block pagetitle %}: Howto Guides{% endblock pagetitle %}

{% block content %}

  {% load scipost_extras %}


  <div class="row">
    <div class="col-12">
      <h1 class="highlight">SciPost Howto Guides</h1>

      <ul>
	<li>
	  Post-acceptance:
	  <ul>
	    <li><a href="{% url 'scipost:howto_production' %}">production</a></li>
	  </ul>
	</li>
      </ul>
    </div>
  </div>


{% endblock %}
