{% extends 'scipost/base.html' %}

{% load staticfiles %}

{% block bodysup %}

<!-- Temporary strip for online version -->
{% if user.is_authenticated %}

<section>
  <div class="flex-container">
    <div class="flex-greybox320">
      <h1><a href="{% url 'scipost:about' %}">About SciPost</a></h1>
      <p>SciPost is a complete scientific publication portal managed by active professional scientists.</p>
      <p>It is purely online-based and offers openly, globally and perpetually accessible science.</p>
      <h3><a href="{% url 'scipost:FAQ' %}">Frequently asked questions</a></h3>
      <h3><a href="{% url 'scipost:about' %}">Read more</a></h3>
    </div>
    <div class="flex-greybox320">
      <h1><a href="{% url 'journals:journals' %}">Journals</a></h1>
      <p id="journalsannouncesmall">OPEN FOR SUBMISSION FROM JUNE 2016</p>
      <p>SciPost publishes a portfolio of high-quality two-way open access scientific journals.</p>
      <p>All SciPost Journals implement the stringent <a href="{% url 'scipost:peer_witnessed_refereeing' %}">peer-witnessed refereeing</a> principle.</p>
      <p>All Journals are fully managed by professional scientists.</p>
      <h3><a href="{% url 'scipost:peer_witnessed_refereeing' %}">About peer-witnessed refereeing</a></h3>
      <h3><a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and refereeing procedure</a></h3>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-greybox320">
      <h1><a href="{% url 'submissions:submissions' %}">Submissions</a></h1>
      <p id="journalsannouncesmall">OPEN FOR SUBMISSION FROM JUNE 2016</p>
      <p>Papers under consideration for publication in SciPost Journals</p>
      <br/>
      <h3>Search SciPost Submissions:</h3>
      <form action="{% url 'submissions:submissions' %}" method="post">
	{% csrf_token %}
	<table>
	  {{ submission_search_form.as_table }}
	</table>
	<input type="submit" name="Submit" />
      </form>
    </div>
    <div class="flex-greybox320">
      <h1><a href="{% url 'commentaries:commentaries' %}">Commentaries</a></h1>
      <p>SciPost Commentaries allow Contributors to comment and build on all existing literature.</p>
      <br/>
      <h3>Search SciPost Commentaries:</h3>
      <form action="{% url 'commentaries:commentaries' %}" method="post">
	{% csrf_token %}
	<table>
	  {{ commentary_search_form.as_table }}
	</table>
	<input type="submit" name="Submit" />
      </form>
      <h3><a href="{% url 'commentaries:howto' %}">SciPost Commentaries how-to</a></h3>
      <h3><a href="{% url 'commentaries:request_commentary' %}">Request a new Commentary Page</a></h3>
    </div>
    <div class="flex-greybox320">
      <h1><a href="{% url 'theses:theses' %}">Theses</a></h1>
      <p>SciPost Theses allow Contributors to find Master's, Ph.D. and Habilitation theses relevant to their work.</p>
      <br/>
      <h3>Search SciPost Theses:</h3>
      <form action="{% url 'theses:theses' %}" method="post">
	{% csrf_token %}
	<table>
	  {{ thesislink_search_form.as_table }}
	</table>
	<input type="submit" name="Submit" />
      </form>
      <h3><a href="{% url 'theses:request_thesislink' %}">Request a new Thesis Link</a></h3>
    </div>
  </div>
</section>


<section>
  <hr class="hr12">
  <div class="row">
    <div class="col-4">
      <h1>SciPost is endorsed by</h1>
    </div>
    <div class="col-4">
      <a href="http://www.nwo.nl/en"><img src="{% static 'scipost/images/NWO_logo_EN.jpg' %}" alt="NWO logo" width='300px' /></a>      
    </div>
<!--
    <div class="col-4">
      <a href="http://www.fom.nl/live/english/home.pag"><img src="{% static 'scipost/images/FOMlogo_fc.jpg' %}" alt="FOM logo" width='60px' /></a>      
      <p style="font-size: 50%">FOM is part of NWO</p>
    </div>
-->
  </div>
</section>
{% endif %}

<!-- Temporary strip for online version -->
{% if user.is_authenticated %}

{% if not user.is_authenticated %}
<section>
  <div class="row">
    <div class="col-4">
      <h1>SciPost Contributors</h1>
      <h3>Registered contributors:</h3> <a href="{% url 'scipost:login' %}">Login to your Personal Page</a>
    </div>
    <div class="col-4">
      <h1>Register</h1>
      <p>Professional scientists (PhD students and above) can become Contributors to SciPost by filling the 
      <a href="{% url 'scipost:register' %}">registration form</a>.</p>
    </div>
    <div class="col-4">
      <h4>Registered contributors can:</h4>
      <ul>
	<li>Submit manuscripts to SciPost Journals</li>
	<li>Post reports and comments</li>
	<li>Rate reports and comments</li>
	<li>Manage notifications</li>
	<li>... and much more</li>
      </ul>
    </div>
  </div>
</section>
{% endif %}

{% endif %}

{% endblock bodysup %}
