{% extends 'scipost/base_for_sidebar.html' %}

{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block body_class %}{{block.super}} has-sidebar has-breadcrumb-submenu homepage{% endblock %}

{% block breadcrumb %}
    <nav class="submenu">
        <span class="item">Our Journals:</span>
        {% for journal in journals %}
            {% if journal.active %}
                <a href="{{journal.get_absolute_url}}" class="item">{{journal}}</a>
            {% else %}
                <a href="{% url 'journal:about' journal.name %}" class="item">{{journal}}</a>
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}

{% block footer_script %}
    {% render_bundle 'homepage' 'js' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <!-- Latest publications -->
            <div class="card card-grey px-3">
                <div class="card-header">
                    <h2 class="card-title mb-0"><a href="{% url 'journals:journals' %}" class="text-black">Latest Publications</a></h2>
                </div>
                <div class="card-block pt-0">
                  <ul class="list-group list-group-flush">
                      {% for publication in publications %}
                          <li class="list-group-item">
                              <div class="card-block px-0">
                                  {% include 'journals/_publication_details_small.html' with publication=publication %}
                              </div>
                          </li>
                      {% endfor %}
                      <li class="list-group-item">
                          <div class="card-block pt-3">
                              <a href="{% url 'journals:journals' %}">All Journals</a>
                          </div>
                      </li>
                  </ul>
                </div>
            </div><!-- End latest publications -->
        </div>

        <div class="col-lg-6">
            <!-- Latest submissions -->
            <div class="card card-grey px-3">
                <div class="card-header">
                    <h2 class="card-title mb-0"><a href="{% url 'submissions:submissions' %}" class="text-black">Latest Submissions</a></h2>
                </div>
                <div class="card-block pt-0">
                  <ul class="list-group list-group-flush">
                      {% for submission in submissions %}
                          <li class="list-group-item">
                              {% include 'submissions/_submission_card_content_sparse.html' with submission=submission %}
                          </li>
                      {% endfor %}
                      <li class="list-group-item">
                          <div class="card-block pt-3">
                              <a href="{% url 'submissions:submissions' %}">All submissions</a>
                          </div>
                      </li>
                  </ul>
                </div>
            </div><!-- End latest submissions -->
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if not user.is_authenticated %}
        <!-- Register -->
        <div class="card card-grey">
            <div class="card-block">
                <h2 class="card-title mb-0">Register</h2>
                <p class="m-0">Professional scientists (PhD students and above) can become Contributors to SciPost by filling the <a href="{% url 'scipost:register' %}">registration form</a>.</p>
            </div>
        </div><!-- End Register -->
    {% endif %}

    <!-- News -->
    <div class="card card-grey" id="news">
        <div class="card-header border-0">
            <h2 class="card-title mb-0">
                News
                <a class="floating-rss-icon" href="{% url 'scipost:feeds' %}">
                    <img src="{% static 'scipost/images/feed-icon-14x14.png' %}" alt="Feed logo" width="14">
                </a>
            </h2>
            <h4 class="card-subtitle pb-0 text-muted">Latest news and announcements.</h4>
        </div>
        <div class="card-block">
            <ul class="list-group list-group-flush">
                {% if latest_newsitem %}
                    <li class="list-group-item">
                        {% include 'news/news_card_content_short.html' with news=latest_newsitem %}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No current newsitems found.
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-footer"><a href="{% url 'news:news' %}">More news</a></div>
    </div><!-- End news -->

    <!-- Partners --><!-- Disabled
    <div class="card card-grey">
        <div class="card-block">
            <h2 class="card-title">
                <a href="{% url 'partners:partners' %}">Partners</a>
            </h2>

            <div>
                <p>Institutions: consider joining our <a href="{% url 'partners:partners' %}">Supporting Partners Board</a>.</p>
                Recently joined:
                <ul class="mt-1">
                    {% for agreement in current_agreements %}
                        <li><strong>{{agreement.partner.institution.name}}</strong><br>
                        {{agreement.partner.institution.get_country_display}}</li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>--><!-- End Partners -->

    <!-- Summarized -->
    <div class="card card-grey">
        <div class="card-block">
            <h2 class="card-title">
                <a href="{% url 'journals:journals' %}">Journals</a>
            </h2>
            <h4 class="card-subtitle pt-0 mb-2 text-muted">SciPost publishes a portfolio of high-quality two-way open access scientific journals.</h4>
            <p>
                All SciPost Journals implement the stringent <a href="{% url 'scipost:FAQ' %}#pwr">peer-witnessed refereeing</a> principle.
                <br>
                All Journals are fully managed by professional scientists.
            </p>
            <p>
                <a href="{% url 'scipost:about' %}#editorial_college_physics">Editorial College (Physics)</a>
                <br>
                <a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and refereeing procedure</a>
            </p>
            <h2 class="card-title">
                <a href="{% url 'commentaries:commentaries' %}">Commentaries</a>
            </h2>
            <p>SciPost Commentaries allow Contributors to comment and build on all existing literature.</p>
            <h2 class="card-title">
                <a href="{% url 'theses:theses' %}">Theses</a>
            </h2>
            <p>SciPost Theses allow Contributors to find Master's, Ph.D. and Habilitation theses relevant to their work.</p>
        </div>
    </div><!-- End Summarized -->
{% endblock %}

{% block secondary_footer %}
    <footer class="container-fluid text-left secondary pt-4 mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h1>SciPost is endorsed by</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="//www.nwo.nl/en" target="_blank"><img  style="max-height: 55px; width: auto;" src="{% static 'scipost/images/NWO_logo_EN.jpg' %}" alt="NWO logo"></a>
                        <p id="NWOOpenAccess" class="mt-1">All articles published in SciPost Journals fulfill the Gold standard Open Access requirements of the NWO, as
                            stipulated on the NWO’s <a href="//www.nwo.nl/en/policies/open+science" target="_blank">Open Science page</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1>SciPost participates in</h1>
                <br/>
                <a href="//www.crossref.org" target="_blank"><img src="//assets.crossref.org/logo/crossref-logo-200.svg" width="100" alt="Crossref logo"></a>
                <a href="//www.doaj.org" target="_blank" class="ml-4"><img src="{% static 'scipost/images/doaj_logo_200.jpg' %}" width="90" alt="DOAJ logo"></a>
                <a href="//www.clockss.org" target="_blank" class="ml-4"><img src="{% static 'scipost/images/clockss_original_logo_boxed_ai-cropped-90.png' %}" width="80" alt="Clockss logo"></a>
            </div>
        </div>
    </footer>
{% endblock %}
