<nav>
  <div class="row">
    <div class="col-6">
      <a href="{% url 'scipost:index' %}">Home</a>
      <!-- Temporary strip for online version -->
      {% if user.is_authenticated %}
      <a href="{% url 'journals:journals' %}">Journals</a>
      <a href="{% url 'submissions:submissions' %}">Submissions</a>
      <a href="{% url 'commentaries:commentaries' %}">Commentaries</a>
      {% endif %}
    </div>
    <div class="col-6">
      {% if user.is_authenticated %}
      <p>Logged in as {{ user.username }}</p>
      <a href="{% url 'contributors:logout' %}">Logout</a>
      <a href="{% url 'contributors:personal_page' %}">Personal Page</a>
      {% else %}
      <a href="{% url 'contributors:login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
