{% load staticfiles %}
{% load notifications_tags %}
{% load scipost_extras %}

<nav class="navbar navbar-expand-lg main-nav">
    <!-- <a class="navbar-brand mr-auto mr-lg-0" href="#">Offcanvas navbar</a> -->
    <div class="container">
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#main-navbar">
            <div class="navbar-toggler-icon" onclick="navbarIconToggle(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">

                  <li class="nav-item{% if request.path == '/' %} active{% endif %}">
                    <a href="{% url 'scipost:index' %}" class="nav-link">Home</a>
                  </li>

                  <li class="nav-item{% if '/journals/' == request.path %} active{% endif %}">
                    <a href="{% url 'journals:journals' %}" class="nav-link">Journals</a>
                  </li>
                  <li class="nav-item{% if '/journals/publications' in request.path %} active{% endif %}">
                    <a href="{% url 'journals:publications' %}" class="nav-link">Publications</a>
                  </li>
                  <li class="nav-item{% if '/submissions/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'submissions:submissions' %}">Submissions</a>
                  </li>
                  <li class="nav-item{% if '/commentaries/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'commentaries:commentaries' %}">Commentaries</a>
                  </li>
                  <li class="nav-item{% if '/theses/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'theses:theses' %}">Theses</a>
                  </li>



                  {% if user.is_authenticated %}
                      {% if user.contributor %}
                          <li class="nav-item{% if '/personal_page' in request.path %} active{% endif %}">
                              <span class="separator">&middot;</span>
                            <a class="nav-link" href="{% url 'scipost:personal_page' %}">My Personal Page &rarr;</a>
                          </li>
                      {% endif %}
                      {% if user.partner_contact %}
                          <li class="nav-item{% if '/partners/dashboard' in request.path %} active{% endif %}">
                              <span class="separator">&middot;</span>
                            <a class="nav-link" href="{% url 'partners:dashboard' %}">Partner Page &rarr;</a>
                          </li>
                      {% endif %}
                  {% else %}
                      <li class="nav-item{% if request.path == '/login/' %} active{% endif %}">
                          <span class="separator">&middot;</span>
                        <a class="nav-link" href="{% url 'scipost:login' %}?next={{request.path}}">Login or register</a>
                      </li>
                  {% endif %}




            </ul>
            <div class="full-height-bar">
                <div class="container">
                    <div class="form-wrapper">
                        <form action="{% url 'scipost:search' %}" method="get" class="form-inline my-2 my-lg-0 search-form">
                            <input class="form-control" aria-label="Search" id="id_q" name="q" type="text" value="{{ search_query|default:'' }}">
                            <button class="btn btn-outline-success my-0" type="submit">
                                <i class="fa fa-search"></i> <span class="text">Search</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    function navbarIconToggle(x) {
        x.classList.toggle("change");
    }
</script>
