{% extends 'scipost/base.html' %}

{% block pagetitle %}: News{% endblock pagetitle %}

{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">SciPost News</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% for item in newsitems %}
            <div class="card card-grey card-news">
                {% include 'news/news_card_content.html' with news=item %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
