{% extends 'scipost/base.html' %}

{% block pagetitle %}: peer-witnessed refereeing{% endblock pagetitle %}

{% block bodysup %}

<section>
  <h1>SciPost's Peer Review Method: Peer-Witnessed Refereeing.</h1>
  <h3>Reporting</h3>
  <ul>
    <li>Reports are gathered from editorially-invited referees, but can also be volunteered by registered SciPost Contributors during refereeing rounds.</li>
    <li>Reports are posted online (after rapid editorial vetting) on the Submission's Page, and can be rated, replied to (Authors only) or commented on by all Contributors.</li>
    <li>Anonymity is enforced at all meaningful stages (Reports and Comments have their own id and are not publicly linked to their Contributor when posted; all ratings are back-end aggregated).</li>
  </ul>
  <h3>Ratings</h3>
  <ul>
    <li>Ratings for Submissions, Reports and Comments determine the relevant Contributor's overall Ratings.</li>
    <li>A Contributor's Reporting, Replying and Commenting statistics (number, ratings) are publicly available.</li>
  </ul>

  <p>Contributors thus have additional incentives to actively participate and provide not only high-quality Submissions, but also Reports and Comments of the highest achievable professional caliber (an online search form allows to retrieve back-end-aggregated statistics by performing a search by researcher's name).</p>
  <p>Abusive behaviour is prevented by Editorial vetting of all Reports, Replies and Comments before public posting.</p>

  <br />
  <h1><a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and Refereeing procedure</a></h1>


</section>

{% endblock bodysup %}
