{% extends 'scipost/base.html' %}

{% block pagetitle %}: personal page{% endblock pagetitle %}

{% block headsup %}

{% load scipost_extras %}

<script>
  $(document).ready(function(){
  $("#mysubmissionsbutton").click(function(){
  $("#mysubmissionslist").toggle();
  });
  $("#mycommentariesbutton").click(function(){
  $("#mycommentarieslist").toggle();
  });
  $("#mythesesbutton").click(function(){
  $("#mytheseslist").toggle();
  });
  $("#mycommentsbutton").click(function(){
  $("#mycommentslist").toggle();
  });
  $("#myauthorrepliesbutton").click(function(){
  $("#myauthorreplieslist").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

{% if not request.user|is_in_group:'Registered Contributors' %}
<section>
  <hr class="hr12">
  <h3>Your credentials will soon be verified by an Editor.</h3> 
  <p>If accepted, you will become a registered Contributor, enabling you to submit, comment and vote.</p>
</section>

{% else %}

<section>
  <div class="flex-greybox">
    <h1>Welcome to your SciPost Personal Page, {{ user.username }} </h1>
  </div>

  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Your Account</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Your personal details</h3>
      {{ contributor.private_info_as_table|safe }}
    </div>
    <div class="col-6">
      {% if request.user|is_in_group:'SciPost Administrators' %}
      <h3>You are a SciPost Administrator.</h3>
      {% endif %}
      {% if request.user|is_in_group:'Advisory Board' %}
      <h3>You are a member of the Advisory Board.</h3>
      {% endif %}
      {% if request.user|is_in_group:'Editorial College' %}
      <h3>You are a member of the Editorial College.</h3>
      {% endif %}
      {% if request.user|is_in_group:'Vetting Editors' %}
      <h3>You are a SciPost Vetting Editor.</h3>
      {% endif %}
      {% if request.user|is_in_group:'Registered Contributors' %}
      <h3>You are a Registered Contributor.</h3>
      {% endif %}
      <br/>
      <h3>Update your personal data or password</h3>
      <ul>
	<li><a href="{% url 'scipost:update_personal_data' %}">Update your personal data</a></li>
	<li><a href="{% url 'scipost:change_password' %}">Change your password</a></li>
      </ul>
    </div>
  </div>
</section>

{% if request.user|is_in_group:'SciPost Administrators' or request.user|is_in_group:'Editorial College' or request.user|is_in_group:'Vetting Editors' %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Pending Editorial Actions</h1>
  </div>
  <br>
  <div class="row">
  {% if request.user|is_in_group:'SciPost Administrators' %}
  <div class="col-4">
    <h3>Registration actions</h3>
    <ul>
      {% if perms.scipost.can_vet_registration_requests %}
      <li><a href="{% url 'scipost:vet_registration_requests' %}">Vet Registration requests</a> ({{ nr_reg_to_vet }})</li>
      <li>Awaiting validation ({{ nr_reg_awaiting_validation }}) (no action necessary)</li>
      {% endif %}
      {% if perms.scipost.can_manage_registration_invitations %}
      <li><a href="{% url 'scipost:registration_invitations' %}">Manage Registration Invitations</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  <div class="col-4">
    <h3>Vetting actions</h3>
    <ul>
      {% if perms.scipost.can_vet_commentary_requests %}
      <li><a href="{% url 'commentaries:vet_commentary_requests' %}">Vet Commentary Page requests</a> ({{ nr_commentary_page_requests_to_vet }})</li>
      {% endif %}
      {% if perms.scipost.can_vet_comments %}
      <li><a href="{% url 'comments:vet_submitted_comments' %}">Vet submitted Comments</a> ({{ nr_comments_to_vet }})</li>
      {% endif %}
      {% if perms.scipost.can_vet_thesislink_requests %}
      <li><a href="{% url 'theses:vet_thesislink_requests' %}">Vet Thesis Link Requests</a> ({{ nr_thesislink_requests_to_vet }})</li>
      {% endif %}
      {% if perms.scipost.can_vet_authorship_claims %}
      <li><a href="{% url 'scipost:vet_authorship_claims' %}">Vet Authorship Claims</a> ({{ nr_authorship_claims_to_vet }})</li>
      {% endif %}
      {% if perms.scipost.can_vet_submitted_reports %}
      <li><a href="{% url 'submissions:vet_submitted_reports' %}">Vet submitted Reports</a> ({{ nr_reports_to_vet }})</li>
      {% endif %}
    </ul>
  </div>

  {% if request.user|is_in_group:'SciPost Administrators' or request.user|is_in_group:'Editorial College' %}
  <div class="col-4">
    <h3>Submissions assignments</h3>
    <ul>
      {% if perms.scipost.can_assign_submissions %}
      <li><a href="{% url 'submissions:assign_submissions' %}">Assign SciPost Submissions</a> ({{ nr_submissions_to_assign }})</li>
      {% endif %}
      {% if perms.scipost.can_take_charge_of_submissions %}
      <li><a href="{% url 'submissions:accept_or_decline_assignments' %}">Accept or decline assignments</a> ({{ nr_assignments_to_consider }})</li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  </div>

  <h3>Submissions for which you are Editor-in-charge</h3>
  <ul>
    {% for assignment in active_assignments %}
    {{ assignment.header_as_li }}
    {% endfor %}
  </ul>

</section>
{% endif %}

{% if perms.scipost.can_referee %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Refereeing Tasks</h1>
    <ul>
      <li><a href="{% url 'submissions:accept_or_decline_ref_invitations' %}">Accept/decline refereeing invitations</a> ({{ nr_ref_inv_to_consider }})</li>
    </ul>
  </div>
  {% if pending_ref_tasks %}
  <h3>Pending Refereeing Tasks:</h3>
  <ul>
    {% for task in pending_ref_tasks %}
    <li>{{ task.submission }}, due {{ task.submission.reporting_deadline }}. &nbsp;
      <a href="{% url 'submissions:submit_report' submission_id=task.submission.id %}">Submit your Report</a>.&nbsp;
      <a href="{% url 'submissions:communication' submission_id=task.submission.id type='RtoE' %}">Write to the Editor-in-charge</a>.
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
{% endif %}

<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Submissions</h1>
    <button id="mysubmissionsbutton">View/hide your submissions</button>
    <ul>
      {% if nr_submission_authorships_to_claim > 0 %}
      <li><a href="{% url 'scipost:claim_authorships' %}">Potential authorships to claim (auto-detected: {{ nr_submission_authorships_to_claim}})</a></li>
      {% endif %}
      <li><a href="{% url 'submissions:submit_manuscript' %}">Submit an arXiv preprint to a SciPost Journal</a></li>
    </ul>
  </div>
  <div id="mysubmissionslist">
    {% if own_submissions %}
    <h3>Submissions for which you are identified as an author:</h3>
    <ul>
      {% for sub in own_submissions %}
      {{ sub.header_as_li|safe }}
      {% endfor %}
    </ul>  
    {% endif %}
  </div>
</section>

<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Commentaries</h1>
    <button id="mycommentariesbutton">View/hide commentaries on your papers</button>
    <ul>
      {% if nr_commentary_authorships_to_claim > 0 %}
      <li><a href="{% url 'scipost:claim_authorships' %}">Potential authorships to claim (auto-detected: {{ nr_commentary_authorships_to_claim}})</a></li>
      {% endif %}
      <li><a href="{% url 'commentaries:request_commentary' %}">Request opening a SciPost Commentary Page</a></li>
    </ul>
  </div>
  <div id="mycommentarieslist">
    {% if own_commentaries %}
    <h3>Commentaries for which you are identified as an author:</h3>
    <ul>
      {% for com in own_commentaries %}
      {{ com.header_as_li|safe }}
      {% endfor %}
    </ul>  
    {% endif %}
  </div>
</section>

<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Theses</h1>
    <button id="mythesesbutton">View/hide your theses</button>
    <ul>
      {% if nr_thesis_authorships_to_claim > 0 %}
      <li><a href="{% url 'scipost:claim_authorships' %}">Potential authorships to claim (auto-detected: {{ nr_thesis_authorships_to_claim}})</a></li>
      {% endif %}
      <li><a href="{% url 'theses:request_thesislink' %}">Request a SciPost ThesisLink</a></li>
    </ul>
  </div>
  <div id="mytheseslist">
    {% if own_thesislinks %}
    <h3>Theses for which you are identified as an author:</h3>
    <ul>
      {% for thesis in own_thesislinks %}
      {{ thesis.header_as_li|safe }}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% if own_comments %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Your Comments</h1>
    <button id="mycommentsbutton">View/hide your comments</button>
  </div>
  <div id="mycommentslist">
    <ul>
      {% for own_comment in own_comments %}
      {{ own_comment.header_as_li|safe }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if own_authorreplies %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Your Author Replies</h1>
    <button id="myauthorrepliesbutton">View/hide your author replies</button>
  </div>
  <div id="myauthorreplieslist">
    <ul>
      {% for own_reply in own_authorreplies %}
      {{ own_reply.header_as_li|safe }}
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% endif %}

{% endblock bodysup %}
