{% extends 'scipost/base.html' %}

{% block pagetitle %}: Plan SciPost{% endblock pagetitle %}

{% load staticfiles %}

{% block breadcrumb_items %}
{{ block.super }}
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-12">
    <h1 class="highlight">Plan Scipost</h1>
    <p class="ml-2 mr-2">At SciPost, we believe that cleaning up the business of scientific publishing requires building new infrastructure. We also believe that this business is most appropriately left in the hands of scientists themselves. Our achievements so far in the field of Physics have demonstrated the success and further potential of this approach.</p>
    <p class="ml-2 mr-2">Increasing numbers of governments, funding agencies, universities and other academic instances have taken position in favour of a faster, larger-scale transition to Open Access (see in particular the recently-announced <a href="https://www.scienceeurope.org/making-open-access-a-reality-by-2020/">Plan S</a>). SciPost applauds these encouraging and empowering statements.</p>
    <p class="ml-2 mr-2">Our initiative volunteers to provide the missing element in the proposed solutions: <strong>the infrastructure</strong>.</p>

    <h2 class="highlight">Our vision for the future</h2>
    <p class="ml-2 mr-2">We propose a simple hierarchy:</p>
    <ul class="ml-3 mr-3">
      <li><strong>A family of Journals for each field of science, headed by a field-leading title, and managed by a field-specific Editorial College</strong></li>
      <li><strong>A central multidisciplinary Journal presenting extended abstracts of top-level breakthroughs, editorially selected from field-leading titles</strong></li>
    </ul>
    <p class="ml-2 mr-2">The general architecture is illustrated as follows:</p>
    <p><img style="max-width: 600px;" src="{% static 'scipost/2018_10_SciPost_Journals_plan.png' %}"></img></p>

    <p class="ml-2 mr-2">Within a given field, the set of journal titles is designed to respond to and serve field-specific needs (see the example of our family of <a href="{% url 'journals:journals' %}#physics">Physics Journals</a>). Each Journal must however follow our open peer-witnessed refereeing workflow and general Editorial College-based procedures. Moreover, each field is to feature a field-leading title mirroring our pioneering Journal <a href="{% url 'journal:about' 'SciPostPhys' %}">SciPost Physics</a> (and in particular implementing promotion of selected extended abstracts for publication in {#<a href="{% url 'journals:journals' %}#selections">#}SciPost Selections{#</a>#}).</p>

    <h3>Current situation and triggers for expansion</h3>
    <p class="ml-2 mr-2 mt-2">
      The Physics side of our operations is by now established, with our <a href="{% url 'journals:journals' %}#physics">Physics Journals</a> published under the auspices of the <a href="{% url 'scipost:about' %}#editorial_college_physics">Editorial College (Physics)</a>. We will continue expanding this side of our operations according to the increase in the number of submissions we receive.</p>
    <p class="ml-2 mr-2">On the infrastructure side, we have made great strides. Our platform is not just a website: we have conceived, designed and implemented a fully-featured system to handle all aspects of the publication business, from manuscript submission all the way to professional metadata curation. Since our systems were implemented from the start in a field-agnostic way, we are now in perfect position to enable other fields to profit from our development work.
    </p>
    <p class="ml-2 mr-2">
      We are ready to launch operations in other fields; for any given field, we require that two simple preconditions (triggers) be met:
    </p>
    <div class="card-deck">
      <div class="card">
	<div class="card-header"><strong>Academic involvement</strong></div>
	<div class="card-body">
	  <ul>
	    <li>At least 3 field-specific Advisory Board members</li>
	    <li>A field-specific Editorial College with at least 25 committed Fellows</li>
	  </ul>
	  Do you know somebody appropriate? Send us your suggestions at <a href="mailto:admin@scipost.org?subject=Fellow suggestion">admin@scipost.org</a>.
	</div>
      </div>
      <div class="card">
	<div class="card-header"><strong>Support</strong></div>
	<div class="card-body">
	  <ul>
	    <li>Sufficient <a href="{% url 'sponsors:sponsors' %}">Sponsorships</a> to cover the expected workflow (minimum of one more full-time editorial staff per new field)</li>
	  </ul>
	  We invite <a href="{% url 'organizations:organizations' %}">organizations which benefit</a> from our activities to support our cost-slashing infrastructure and join our growing list of <a href="{% url 'sponsors:sponsors' %}">sponsors</a>.
	</div>
      </div>
    </div>
    <p>Advisory Board members should be preeminent senior academics who are willing to function as ambassadors within their broad community, in order to initiate the formation of the field's Editorial College. Fellows of an Editorial College should be permanent, professorial-level active academics with an outstanding reputation, and a commitment for serving their community in the transition to open access.</p>
    <p>On the support/business side, we are able to run a fully sustainable infrastructure at an estimated average cost of under &euro;400 per publication. You are welcome to look at our <a href="{% url 'finances:finances' %}">finances</a>, which are open and completely transparent.</p>

    <p class="ml-2 mr-2">
    </p>
  </div>
</div>


{% endblock content %}
