{% extends 'scipost/base.html' %}

{% block pagetitle %}: register{% endblock pagetitle %}

{% block bodysup %}

<section>
  <h1>Register to SciPost</h1>
  <div class="row">
    <div class="col-4">
      <h3>Notes:</h3>
      <p>Required fields are marked with a *.</p>
      <p>An ORCID id is not formally required but helps preventing identification ambiguities.
      You can easily get one at  <a href="http://orcid.org">orcid.org</a>.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <form action="{% url 'scipost:register' %}" method="post">
	{% csrf_token %}
	<table>
	  <ul>
	    {{ form.as_table }}
	  </ul>
	</table>
	<input type="submit" value="Submit" />
      </form>
      {% if errormessage %}
      <p>{{ errormessage }}</p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock bodysup %}
