{% extends 'scipost/base.html' %}

{% block pagetitle %}: register{% endblock pagetitle %}

{% block bodysup %}

<section>
  <h1>Register to SciPost</h1>

  {% if welcome_message %}<!-- Temporary: only see form if invited (thus welcome_message exists) -->

  <div class="flex-greybox">
    <h2>{{ welcome_message }}</h2>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Notes:</h3>
      <p><em>Only professional academics (staff members, postdocs, PhD students) can register!</em></p>
      <p>Required fields are marked with a *.</p>
      <p>An ORCID id is not formally required but helps preventing identification ambiguities.
      You can easily get one at  <a href="http://orcid.org">orcid.org</a>.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <form action="{% url 'scipost:register' %}" method="post">
	{% csrf_token %}
	<table>
	  <ul>
	    {{ form.as_table }}
	  </ul>
	</table>
	<input type="submit" value="Submit" />
      </form>
      {% if errormessage %}
      <p>{{ errormessage }}</p>
      {% endif %}
    </div>
  </div>

  {% else %} <!-- Temporary: no welcome, registration not yet open -->
  <p>At the moment, registration is by invitation only. Come back again after 1 May!</p>
  {% endif %}

</section>

{% endblock bodysup %}
