{% extends 'scipost/base.html' %}

{% block pagetitle %}: registration invitations{% endblock pagetitle %}

{% block bodysup %}


<script>
  $(document).ready(function(){

  $("#div_id_cited_in_submission").hide();
  $("#div_id_cited_in_publication").hide();

  $('select#id_invitation_type').on('change', function() {
    switch ($('select#id_invitation_type').val()) {
      case "ci":
        $("#div_id_cited_in_submission").show();
        $("#div_id_cited_in_publication").hide();
        break;
      case "cp":
        $("#div_id_cited_in_submission").hide();
        $("#div_id_cited_in_publication").show();
        break;
      default:
        $("#div_id_cited_in_submission").hide();
        $("#div_id_cited_in_publication").hide();
    }
   });
  });
</script>

<section>
  <div class="flex-greybox">
    <h1>Registration Invitations</h1>
  </div>
</section>
<hr class="hr12"/>
<section>
  <div class="flex-greybox">
    <h2>Send a new invitation:</h2>
  </div>
  {% if errormessage %}
  <h3>{{ errormessage }}</h3>
  {% endif %}
  <form action="{% url 'scipost:registration_invitations' %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy reg_inv_form %}
  </form>
</section>
<hr class="hr12"/>
<section>
  <div class="flex-greybox">
    <h2>Invitations sent (response pending) &nbsp;&nbsp; EF ({{ nr_sent_reg_inv_fellows }}), C ({{ nr_sent_reg_inv_contrib }}), R ({{ nr_sent_reg_inv_ref }}), cited in sub ({{ nr_sent_reg_inv_cited_sub }}), cited in pub ({{ nr_sent_reg_inv_cited_pub }}):</h2>
  </div>
  <hr class="hr6"/>  
  <h3>Editorial Fellows ({{ nr_sent_reg_inv_fellows }})</h3>
  <table class="tableofInvitees">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in sent_reg_inv_fellows %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
      <td><a href="{% url 'scipost:renew_registration_invitation' invitation_id=fellow.id %}">Renew</a> ({{ fellow.nr_reminders }}) {% if fellow.date_last_reminded %}(last: {{ fellow.date_last_reminded|date:"Y-m-d" }}){% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  <hr class="hr6"/>  
  <h3>Normal Contributors ({{ nr_sent_reg_inv_contrib }})</h3>
  <table class="tableofInvitees">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in sent_reg_inv_contrib %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
      <td><a href="{% url 'scipost:renew_registration_invitation' invitation_id=fellow.id %}">Renew</a> ({{ fellow.nr_reminders }}) {% if fellow.date_last_reminded %}(last: {{ fellow.date_last_reminded|date:"Y-m-d" }}){% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  <hr class="hr6"/>  
  <h3>Referees ({{ nr_sent_reg_inv_ref }})</h3>
  <table class="tableofInvitees">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in sent_reg_inv_ref %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>
  <hr class="hr6"/>  
  <h3>Cited in sub ({{ nr_sent_reg_inv_cited_sub }})</h3>
  <table class="tableofInvitees">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in sent_reg_inv_cited_sub %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
      <td><a href="{% url 'scipost:renew_registration_invitation' invitation_id=fellow.id %}">Renew</a> ({{ fellow.nr_reminders }}) {% if fellow.date_last_reminded %}(last: {{ fellow.date_last_reminded|date:"Y-m-d" }}){% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  <hr class="hr6"/>  
  <h3>Cited in pub ({{ nr_sent_reg_inv_cited_pub }})</h3>
  <table class="tableofInvitees">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in sent_reg_inv_cited_pub %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
      <td><a href="{% url 'scipost:renew_registration_invitation' invitation_id=fellow.id %}">Renew</a> ({{ fellow.nr_reminders }}) {% if fellow.date_last_reminded %}(last: {{ fellow.date_last_reminded|date:"Y-m-d" }}){% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</section>
  <hr class="hr12"/>
<section>
  <div class="flex-greybox">
    <h2>Invitations sent (responded) &nbsp;&nbsp; EF ({{ nr_resp_reg_inv_fellows }}), C ({{ nr_resp_reg_inv_contrib }}), R ({{ nr_resp_reg_inv_ref }}), cited in sub ({{ nr_resp_reg_inv_cited_sub }}), cited in pub ({{ nr_resp_reg_inv_cited_pub }}):</h2>
  </div>
  <hr class="hr6"/>  
  <h3>Editorial Fellows ({{ nr_resp_reg_inv_fellows }})</h3>
  <table class="tableofInviteesResponded">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in resp_reg_inv_fellows %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>
  <hr class="hr6"/>
  <h3>Normal Contributors ({{ nr_resp_reg_inv_contrib}})</h3>
  <table class="tableofInviteesResponded">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in resp_reg_inv_contrib %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr class="hr6"/>
  <h3>Referees ({{ nr_resp_reg_inv_ref }})</h3>
  <table class="tableofInviteesResponded">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in resp_reg_inv_ref %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr class="hr6"/>
  <h3>Cited in sub ({{ nr_resp_reg_inv_cited_sub }})</h3>
  <table class="tableofInviteesResponded">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in resp_reg_inv_cited_sub %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr class="hr6"/>
  <h3>Cited in pub ({{ nr_resp_reg_inv_cited_pub }})</h3>
  <table class="tableofInviteesResponded">
    <tr><td>Last name</td><td>First name</td><td>Email</td><td>Date sent</td><td>Type</td><td>Invited by</td></tr>
    {% for fellow in resp_reg_inv_cited_pub %}
    <tr>
      <td>{{ fellow.last_name }}</td>
      <td>{{ fellow.first_name }}</td>
      <td>{{ fellow.email }}</td>
      <td>{{ fellow.date_sent }} </td>
      <td>{{ fellow.invitation_type }}</td>
      <td>{{ fellow.invited_by.user.last_name }}</td>
    </tr>
    {% endfor %}
  </table>

</section>

{% endblock bodysup %}
