{% extends 'scipost/base.html' %}

{% block pagetitle %}: list{% endblock pagetitle %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Search results{% if search_term %}: <small><i>{{ search_term }}</i></small>{% endif %}</h1>
        {% if not publication_search_list and not commentary_search_list and not submission_search_list and not thesislink_search_list and not comment_search_link and not comment_search_list %}
            <p>Your search query did not return any result.</p>
        {% endif %}
    </div>
</div>

{% if publication_search_list %}
<hr>
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Publications ({{publication_search_list|length}})</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% for publication in publication_search_list %}
            <div class="card card-publication">
                {% include 'journals/_publication_card_content.html' with publication=publication %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-12">
          <div class="pagination">
            <span class="step-links">
              {% if publication_search_list.has_previous %}
              <a href="?publication_search_list_page={{ publication_search_list.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
        	Page {{ publication_search_list.number }} of {{ publication_search_list.paginator.num_pages }}.
              </span>
              {% if publication_search_list.has_next %}
              <a href="?publication_search_list_page={{ publication_search_list.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
    </div>
</div>
{% endif %}


{% if commentary_search_list %}
<hr>
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Commentaries ({{commentary_search_list|length}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group list-group-flush">
            {% for commentary in commentary_search_list %}
                <li class="list-group-item">
                    {% include 'commentaries/_commentary_card_content.html' with commentary=commentary %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
          <div class="pagination">
            <span class="step-links">
              {% if commentary_search_list.has_previous %}
              <a href="?commentary_search_list_page={{ commentary_search_list.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
        	Page {{ commentary_search_list.number }} of {{ commentary_search_list.paginator.num_pages }}.
              </span>
              {% if commentary_search_list.has_next %}
              <a href="?commentary_search_list_page={{ commentary_search_list.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
    </div>
</div>
{% endif %}


{% if submission_search_list %}
<hr>
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Submissions ({{submission_search_list|length}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group list-group-flush">
            {% for submission in submission_search_list %}
                <li class="list-group-item">
                    {% include 'submissions/_submission_card_content.html' with submission=submission %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="pagination">
        <span class="step-links">
          {% if submission_search_list.has_previous %}
          <a href="?submission_search_list_page={{ submission_search_list.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
    	Page {{ submission_search_list.number }} of {{ submission_search_list.paginator.num_pages }}
          </span>
          {% if submission_search_list.has_next %}
          <a href="?submission_search_list_page={{ submission_search_list.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    </div>
</div>
{% endif %}

{% if thesislink_search_list %}
<hr>
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Theses ({{thesislink_search_list|length}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group list-group-flush">
            {% for thesislink in thesislink_search_list %}
                <li class="list-group-item">
                    {% include 'theses/_thesislink_card_content.html' with thesislink=thesislink %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if comment_search_list %}
<hr>
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Comments ({{comment_search_list|length}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group list-group-flush">
            {% for comment in comment_search_list %}
                <li class="list-group-item">
                    {% include 'comments/_comment_card_extended_content.html' with comment=comment %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock content %}
