{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: update personal data{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Update personal data</span>
{% endblock %}

{% block content %}

  {% if cont_form %}
    <script src="{% static 'scipost/update-personal-data-expertises.js' %}"></script>
  {% endif %}



  <form action="{% url 'scipost:update_personal_data' %}" method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="mb-3">Update your personal data</h1>
	{% if contact_form %}
	  {{ contact_form|bootstrap }}
	{% endif %}
        {{ user_form|bootstrap }}
        {% if cont_form %}
          {{ cont_form|bootstrap }}
        {% endif %}
      </div>
      {% if institution_formset %}
        <div class="col-lg-6">
          <div id="institutions" class="formset-group">
            <h1 class="mb-3">Your Affiliations</h1>
            {{ institution_formset.media }}
            {{ institution_formset|bootstrap }}
          </div>
          <div class="formset-form form-empty" style="display: none;">
            {{ institution_formset.empty_form|bootstrap }}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="text-center">
      <input type="submit" class="btn btn-primary btn-lg px-3" value="Save changes" />
      {% if request.user.contributor %}
        <a href="{% url 'scipost:personal_page' %}" class="btn btn-link">Back to Personal Page</a>
      {% endif %}
    </div>
  </form>

{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ cont_form.media }}
{% endblock footer_script %}
