{% extends 'scipost/base.html' %}

{% block pagetitle %}: update personal data{% endblock pagetitle %}

{% block bodysup %}

<script>

$(document).ready(function(){

  switch ($('select#id_discipline').val()) {
    case "physics":
      $("#id_expertises_0").closest("li").show();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "astrophysics":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").show();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "mathematics":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").show();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "computerscience":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").show();
      break;
    default:
      $("#id_expertises_0").closest("li").show();
      $("#id_expertises_1").closest("li").show();
      $("#id_expertises_2").closest("li").show();
      $("#id_expertises_3").closest("li").show();
      break;
  }

  $('select#id_discipline').on('change', function() {
    var selection = $(this).val();
    switch(selection){
    case "physics":
      $("#id_expertises_0").closest("li").show();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "astrophysics":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").show();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "mathematics":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").show();
      $("#id_expertises_3").closest("li").hide();
      break;
    case "computerscience":
      $("#id_expertises_0").closest("li").hide();
      $("#id_expertises_1").closest("li").hide();
      $("#id_expertises_2").closest("li").hide();
      $("#id_expertises_3").closest("li").show();
      break;
    default:
      $("#id_expertises_0").closest("li").show();
      $("#id_expertises_1").closest("li").show();
      $("#id_expertises_2").closest("li").show();
      $("#id_expertises_3").closest("li").show();
      break;
    }
  });

});

</script>

<section>
  <h1>Update your personal data</h1>
  <form action="{% url 'scipost:update_personal_data' %}" method="post">
    {% csrf_token %}
    <table>
      <ul>
	{{ user_form.as_table }}
	{{ cont_form.as_table }}
      </ul>
    </table>
    <input type="submit" value="Update" />
  </form>
</section>

{% endblock bodysup %}
