{% extends 'scipost/base.html' %}

{% block pagetitle %}: vet authorship claims{% endblock pagetitle %}

{% block headsup %}

{% endblock headsup %}

{% block bodysup %}

<section>
  <div class="flex-greybox">
    <h1>Vet Authorship Claims</h1>
  </div>
  {% if not claims_to_vet %}
  <h3>There are no authorship claims to vet</h3>
  {% else %}

  <hr class="hr12">
  <ul>
    {% for claim in claims_to_vet %}
    {% if claim.submission %}
    <h4>Contributor {{ claim.claimant.user.first_name }} {{ claim.claimant.user.last_name }} claims to be an author of Submission:</h4>
    {{ claim.submission.header_as_li }}
    {% elif claim.commentary %}
    <h4>Contributor {{ claim.claimant.user.first_name }} {{ claim.claimant.user.last_name }} claims to be an author of Submission:</h4>
    {{ claim.commentary.header_as_li }}
    {% elif claim.thesislink %}
    <h4>Contributor {{ claim.claimant.user.first_name }} {{ claim.claimant.user.last_name }} claims to be an author of Thesis:</h4>
    {{ claim.thesislink.header_as_li }}
    {% endif %}

    <form action="{% url 'scipost:vet_authorship_claim' claim_id=claim.id claim=1%}" method="post">
      {% csrf_token %}
      <input type="submit" value="Accept" />
    </form>
    <form action="{% url 'scipost:vet_authorship_claim' claim_id=claim.id claim=0%}" method="post">
      {% csrf_token %}
      <input type="submit" value="Deny" />
    </form>
    {% endfor %}
  </ul>
  {% endif %}

</section>

{% endblock bodysup %}
