{% extends 'scipost/base.html' %}

{% block pagetitle %}: registrations to vet{% endblock pagetitle %}

{% block bodysup %}

<section>
  {% if not contributor_to_vet %}
  <h1>There are no Registration requests for you to vet.</h1>

  {% else %}

  <h1>SciPost Registration request to vet:</h1>
  <p>This Contributor is currently on rank 0 (submitting, commenting and voting disabled).</p>
  <p>Use this form to promote to rank 1.</p>

  <br>
  <hr>
  <div class="row">
    <div class="col-8">
      <table>
	<tr><td>Title:</td><td>{{ contributor_to_vet.title }}</td></tr>
	<tr><td>First name:</td><td>{{ contributor_to_vet.user.first_name }}</td></tr>
	<tr><td>Last name:</td><td>{{ contributor_to_vet.user.last_name }}</td></tr>
	<tr><td>email:</td><td>{{ contributor_to_vet.user.email }}</td></tr>
	<tr><td>user name:</td><td>{{ contributor_to_vet.user.username }}</td></tr>
	<tr><td>orcid_id:</td><td>{{ contributor_to_vet.orcid_id }}</td></tr>
      </table>
    </div>
    <div class="col-4">
      <form action="{% url 'scipost:vet_registration_request_ack' contributor_id=contributor_to_vet.id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
      </form>
    </div>
  </div>

  {% endif %}
</section>

{% endblock bodysup %}
