{% extends 'scipost/base.html' %}

{% load bootstrap %}
{% load humanize %}
{% load request_filters %}

{% block pagetitle %}: Metacore{% endblock pagetitle %}

{% block content %}
<h1 class="highlight">Metacore</h1>

<div class="row">
    <div class="col-12">
        <form action="{% url 'metacore:citable-list' %}" method="get" class="form-xinline">
            <div class="form-group">
                {{ form.omni.errors }}
                <label for="{{ form.omni.auto_id }}" class="my-1 mr-2">{{ form.omni.label }}</label>
                <div class="input-group">
                    <input type="text" name="{{ form.omni.name }}" class="form-control form-control-lg" id="{{ form.omni.auto_id }}" aria-describedby="search_help" placeholder="Search term" value="{{ form.omni.value|default:'' }}" required="required">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary px-4" value="Search">
                    </div>
                </div>
            </div>
            <a href="javascript:;" data-toggle="toggle" data-target="#advanced-search" class="float-right">Use advanced search</a>
            <br>

            <div id="advanced-search"{% if not form.is_bound_advanced_search %} style="display: none"{% endif %} class="pb-3">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.id_for_label != 'id_omni' %}
                          {{ field.errors }}
                          {{ field|bootstrap }}
                          {% if field.help_text %}
                          <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="text-muted">
                Found {{ object_list.count|intcomma }} results
                {% if object_list %}
                    &nbsp;&middot;&nbsp;
                    Order by:
                    <a href="?{% url_replace orderby='citations' page='' %}" class="d-inline-block mb-1 ml-2 active-bold {% active_get_request 'orderby' 'citations' %}{% if not request.GET.orderby %} active{% endif %}">Citations</a>
                    <a href="?{% url_replace orderby='journal' page='' %}" class="d-inline-block mb-1 ml-2 active-bold {% active_get_request 'orderby' 'journal' %}">Journal</a>
                    <a href="?{% url_replace orderby='name' page='' %}" class="d-inline-block mb-1 ml-2 active-bold {% active_get_request 'orderby' 'name' %}">Name</a>

                    &nbsp;&middot;&nbsp;
                    Show
                    <select name="results" class="form-control d-inline-block w-auto" onchange="this.form.submit()">
                        <option value="10"{% if not request.GET.results or request.GET.results == '10' %} selected{% endif %}>10</option>
                        <option value="20"{% if request.GET.results == '20' %} selected{% endif %}>20</option>
                        <option value="50"{% if request.GET.results == '50' %} selected{% endif %}>50</option>
                        <option value="100"{% if request.GET.results == '100' %} selected{% endif %}>100</option>
                    </select>
                    results
                {% endif %}
            </div>

        </form>
    </div>

    <div class="col-12">
        <hr>

        {% if is_paginated %}
            <div class="pb-3">
                {% include 'partials/pagination.html' with page_obj=page_obj %}
            </div>
        {% endif %}

        <ul class="list-group list-group-flush">
            {% for citable in object_list %}
                <li class="list-group-item">
                    <div class="card-body px-0">
                        {% include 'partials/citable_card_content.html' with citable=citable %}
                    </div>
                </li>
            {% empty %}
                <p>No match found for your search query.</p>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="p-3">
                {% include 'partials/pagination.html' with page_obj=page_obj %}
            </div>
        {% endif %}
    </div>

</div>

{% endblock content %}
