
<p>
  <strong class="text-warning">While the new production page is being built</strong>: go the the <a href="{{ productionstream.get_absolute_url }}" target="_blank">(old) stream detail page</a> to manage this stream.
</p>


<h3>Events</h3>
{% include 'production/_productionstream_events.html' with productionstream=productionstream events=productionstream.events.all_without_duration %}


<button
    hx-get="{% url 'production:_hx_event_form' productionstream_id=productionstream.id %}"
    hx-target="#productionstream-{{ productionstream.id }}-event-form"
    hx-trigger="click"
>
  Add a comment to this stream
</button>
<div id="productionstream-{{ productionstream.id }}-event-form"></div>
