<details id="productionstream-{{ object.id }}-details" class="border border-2 p-2 bg-primary bg-opacity-10 
  {% if object.in_stasis %}bg-opacity-25 bg-secondary pe-none{% endif %}
   ">
  <summary class="list-none">
    {% include "production/_productionstream_details_summary_contents.html" with productionstream=object %}
  </summary>


  <div id="productionstream-{{ object.id }}-details-contents"
       class="p-2 mt-2 bg-white"
       hx-get="{% url 'production:_hx_productionstream_details_contents' productionstream_id=object.id %}"
       hx-trigger="toggle once from:#productionstream-{{ object.id }}-details"
       hx-indicator="#indicator-productionstream-{{ object.id }}-details-contents"></div>

</details>
