{% load bootstrap %}

{% if form.fields.status.choices|length > 0 %}
    <form id="productionstream-{{ stream.id }}-update-status"
          hx-post="{% url 'production:update_status' stream.id %}"
          hx-target="this"
          hx-swap="outerHTML"
          hx-trigger="submit"
          hx-sync="this:replace">
        {% csrf_token %}
        <div class="row">
            <div class="col">{{ form|bootstrap_purely_inline }}</div>
            <div class="col-12 col-sm-auto col-md-12 col-lg-auto h-100 d-none-empty"
                 hx-post="{% url 'production:render_action_buttons' stream.id 'status' %}"
                 hx-swap="innerHTML"
                 hx-trigger="load, change from:select#productionstream_{{ stream.id }}_id_status"
                 hx-target="this"></div>
        </div>
    </form>
{% endif %}
 
{% if message %}
    <div id="productionstream-{{ stream.id }}-actions-message"
         class="alert alert-{{ message.type }}"
         role="alert"
         hx-swap-oob="true">{{ message.text }}</div>
{% endif %}
