{% load bootstrap %}

{% if form.fields.invitations_officer.choices|length > 0 %}
    <div id="productionstream-{{ stream.id }}-update-invitations_officer">
        <form hx-post="{% url 'production:update_invitations_officer' stream.id %}"
              hx-target="#productionstream-{{ stream.id }}-update-invitations_officer"
              hx-swap="outerHTML"
              class="row">
            {% csrf_token %}
            <div class="col">{{ form|bootstrap_purely_inline }}</div>
            <div class="col-12 col-sm-auto col-md-12 col-lg-auto h-100 d-none-empty"
                 hx-post="{% url 'production:render_action_buttons' stream.id 'invitations_officer' %}"
                 hx-swap="innerHTML"
                 hx-trigger="change from:select#productionstream_{{ stream.id }}_id_invitations_officer"
                 hx-target="this"></div>
        </form>
    </div>
{% endif %}
