<details id="productionstream-{{ productionstream.id }}-details"
         class="border border-2 mx-3 p-2 bg-primary bg-opacity-10">
  <summary class="list-none">
    {% include "production/_productionstream_details_summary_contents.html" with productionstream=productionstream %}
  </summary>


  <div id="productionstream-{{ productionstream.id }}-details-contents"
       class="p-2 mt-2 bg-white"
       hx-get="{% url 'production:_hx_productionstream_details_contents' productionstream_id=productionstream.id %}"
       hx-trigger="toggle once from:#productionstream-{{ productionstream.id }}-details"
       hx-indicator="#indicator-productionstream-{{ productionstream.id }}-details-contents"></div>

</details>
