<div class="row mb-0">
    <div class="col mb-2">
        <table class="mb-0">
            <tbody>

                <tr>
                    <td>
                        <strong class="text-primary">{{ productionstream.submission.title }}</strong>
                    </td>
                </tr>
                <tr class="mt-1">
                    <td>
                        <strong><em>by {{ productionstream.submission.author_list }}</em></strong>
                    </td>
                </tr>
            </tbody>
        </table>
 
        <div class="row mt-2 mb-0">
            <div class="col">
                <small class="text-muted">To be published in</small>
                <br>
                {{ productionstream.submission.editorial_decision.for_journal }}
            </div>
            <div class="col">
                <small class="text-muted">Acceptance date</small>
                <br>
                {{ productionstream.submission.editorial_decision.taken_on|date:'Y-m-d' }}
            </div>
        </div>

    </div>

    <div class="d-none d-md-block vr p-0 me-2"></div>

    <div id="productionstream-{{ productionstream.id }}-summary-assignees"
         class="col-md-6"
         hx-get="{% url 'production:render_stream_assignees_status' productionstream.id %}"
         hx-trigger="load, submit from:#productionstream-{{ productionstream.id }}-details target:form delay:500">
    </div>
</div>
