<div class="row mb-0">
    <div class="col col-md-6">
        <div class="row align-items-center">
            {% if perms.scipost.can_assign_production_officer or perms.scipost.can_assign_production_supervisor %}
                <div class="col-auto">
                    <input type="checkbox"
                           class="form-check-input checkbox-lg"
                           name="productionstream-bulk-action-selected"
                           value="{{ productionstream.id }}"
                           id="productionstream-{{ productionstream.id }}-checkbox"
                           form="productionstreams-bulk-action-form">
                </div>
            {% endif %}
            <div class="col text-truncate">
                <span class="text-truncate">
                    <strong>
                        <span class="text-primary" title="{{ productionstream.submission.title }}">
                            {{ productionstream.submission.title }}
                        </span>
                        <br>
                        <em title="{{ productionstream.submission.author_list }}">by {{ productionstream.submission.author_list }}</em>
                    </strong>
                </span>
            </div>
            <div class="col-auto">
                <div class="row mb-0 align-items-center">
                    <div class="col-auto d-none d-sm-block d-md-none d-lg-block">
                        <small class="text-muted">Acceptance date</small>
                        <br>
                        {{ productionstream.submission.editorial_decision.taken_on|date:'Y-m-d' }}
                    </div>
                    <div class="col-auto">
                        <a href="{% firstof productionstream.submission.preprint.url productionstream.submission.get_absolute_url %}"
                           target="_blank">
                            <span style="pointer-events: none;">
                                {% if productionstream.submission.preprint.is_arXiv %}
                                    {% include 'bi/arxiv.html' %}
                                {% else %}
                                    {% include 'bi/scipost.html' %}
                                {% endif %}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="row">
            <div class="col text-nowrap text-truncate">
                <small class="text-muted">To be published in</small>
                <br>
                {% if productionstream.submission.proceedings %}
                  {% if productionstream.submission.proceedings.event_suffix %}
                    <span title="{{ productionstream.submission.proceedings.event_name }}">{{ productionstream.submission.proceedings.event_suffix }}</span>
                  {% else %}
                    <span title="{{ productionstream.submission.proceedings.event_name }}">{{ productionstream.submission.proceedings.event_name }}</span>
                  {% endif %}
                {% elif productionstream.submission.collections.all %}
                  {% for collection in productionstream.submission.collections.all %}
                    <span title="{{ collection.series.name }}">{{ collection.series.name }}</span>
                    <br>
                    <span title="{{ collection.name }}">{{ collection.name }}</span>
                  {% endfor %}
                {% else %}
                  {{ productionstream.submission.editorial_decision.for_journal }}
                  {% if "Selections" in productionstream.submission.editorial_decision.for_journal.name %}
                    - {{ productionstream.submission.acad_field }}
                  {% endif %}
                {% endif %}
            </div>
 
            <div class="col-auto text-nowrap">
                <small class="text-muted">Submitter</small>
                <br>
                {% if productionstream.submission.submitted_by.profile.email %}
                    <a href="mailto:{{ productionstream.submission.submitted_by.profile.email }}?body=Dear%20{{ productionstream.submission.submitted_by.formal_str }},%0A%0A"
                       class="text-primary"><span style="pointer-events: none;">{% include 'bi/pencil-square.html' %}</span></a>
                    &nbsp;
                {% endif %}
                <a href="{% url 'scipost:contributor_info' productionstream.submission.submitted_by.id %}">{{ productionstream.submission.submitted_by.formal_str }}</a>
            </div>

            <div class="col-12 col-sm-auto col-md-12 col-xl-auto pe-auto">
                <small class="text-muted">Go to page:</small>
                <br>
                <div class="d-inline-flex">
                    <a href="{{ productionstream.submission.get_absolute_url }}">Submission</a>
                    &nbsp;&nbsp; &bullet; &nbsp;&nbsp;
                    <a href="{% url 'production:stream' stream_id=productionstream.id %}">Stream</a>
                    {% if perms.scipost.can_oversee_refereeing %}
                        &nbsp;&nbsp; &bullet; &nbsp;&nbsp;
                        <a href="{% url 'submissions:editorial_page' productionstream.submission.preprint.identifier_w_vn_nr %}">Editorial</a>
                    {% endif %}
                    {% if productionstream.proofs_repository %}
                        &nbsp;&nbsp; &bullet; &nbsp;&nbsp;
                        <a href="{{ productionstream.proofs_repository.git_url }}">Git Repo</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <div id="productionstream-{{ productionstream.id }}-summary-assignees"
         class="col-md-6"
         hx-get="{% url 'production:_hx_productionstream_summary_assignees_status' productionstream.id %}"
         hx-trigger="intersect once, submit from:#productionstream-{{ productionstream.id }}-details target:form delay:500, click from:#productionstream-{{ productionstream.id }}-details target:.proof-action-button delay:500, submit from:#productionstreams-filter-details target:#productionstreams-bulk-action-form delay:500">

        {% comment %} Placeholder while HTMX is loading {% endcomment %}
        <div class="row mb-0 placeholder-glow">
            <div class="order-3 order-sm-1 order-md-3 order-xl-1 col-sm-6 col-md-12 col-xl-6">
                <div class="row justify-content-between">
                    <small class="col-4 text-muted text-nowrap">Stream opened</small>
                    <div class="col-8">
                        <div class="ms-2 w-100 placeholder"></div>
                    </div>
                </div>
            </div>
            <div class="order-2 order-sm-4 order-md-2 order-xl-4 col-sm-6 col-md-12 col-xl-6">
                <div class="row justify-content-between">
                    <small class="col-4 text-muted text-nowrap">Officer</small>
                    <div class="col-8 text-nowrap text-truncate">
                        <div class="ms-2 w-100 placeholder"></div>
                    </div>
                </div>
            </div>
            <div class="order-4 order-sm-3 order-md-4 order-xl-3 col-sm-6 col-md-12 col-xl-6">
                <div class="row justify-content-between">
                    <small class="col-4 text-muted text-nowrap">Latest activity</small>
                    <div class="col-8">
                        <div class="ms-2 w-100 placeholder"></div>
                    </div>
                </div>
            </div>
            <div class="order-1 order-sm-2 order-md-1 order-xl-2 col-sm-6 col-md-12 col-xl-6">
                <div class="row justify-content-between">
                    <small class="col-4 text-muted text-nowrap">Supervisor</small>
                    <div class="col-8 text-nowrap text-truncate">
                        <div class="ms-2 w-100 placeholder"></div>
                    </div>
                </div>
            </div>
            <div class="order-5 order-sm-5 order-md-5 order-xl-5 col-sm-6 col-md-12 col-xl-6">
                <div class="row mb-0 justify-content-between align-items-center">
                    <small class="col-4 text-muted text-nowrap">Stream Status</small>
                    <div class="offset-5 col-3">
                        <div class="badge bg-primary w-100">
                            <div class="placeholder py-2"></div>
                        </div>
                    </div>
                </div>
            </div>
 
            {% comment %} End placeholder {% endcomment %}

        </div>
    </div>
