{% extends 'production/base.html' %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Delete production event</span>
{% endblock %}

{% load bootstrap %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Delete production event</h1>
      {% include 'submissions/_submission_card_content.html' with submission=object.stream.submission %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        <h3 class="mb-2">Are you sure you want to delete this production event?</h3>
        <div class="card card-outline-secondary">
          <div class="card-body">
            <p class="mb-0 fw-bold">{{ object.get_event_display }}
            </p>
            <p class="text-muted mb-1">noted {{ object.noted_on }} by {{ object.noted_by }}</p>
            {% if object.comments %}
              <div>{{ object.comments|linebreaks }}</div>
            {% endif %}
          </div>
        </div>
        <input type="submit" class="btn btn-danger" value="Yes, delete event" />
      </form>
    </ul>
    </div>
  </div>

{% endblock content %}
