{% extends 'production/base.html' %}

{% load crispy_forms_tags %}

{% block breadcrumb_items %}<span class="breadcrumb-item">Production streams</span>{% endblock %}

{% block pagetitle %}
  : Production page
{% endblock pagetitle %}


{% block content %}

  <div class="row">
    <div class="col-12 col-sm">
      <h1>Production Streams</h1>
    </div>
    <div class="col-12 col-sm-auto">

      {% if perms.scipost.can_promote_user_to_production_officer %}
        <a class="btn-link fs-4"
           href="{% url 'production:production_team' %}">Production Team</a>
        &nbsp;|&nbsp;
      {% endif %}

      <a class="btn-link fs-4"
         href="{% url 'finances:personal_timesheet' %}">Personal Timesheet</a>
    </div>
  </div>

  <div hx-get="{% url 'production:_hx_productionstream_search_form_view' %}"
       hx-trigger="load"></div>

{% endblock content %}
