{% extends 'production/base.html' %}

{% load crispy_forms_tags %}

{% block breadcrumb_items %}<span class="breadcrumb-item">Production streams</span>{% endblock %}

{% block pagetitle %}
  : Production page
{% endblock pagetitle %}


{% block content %}

  <h1>Production Streams</h1>

  <details class="card my-4">
    <summary class="card-header fs-6 d-inline-flex align-items-center">
      Search / Filter / Bulk Actions
      <div class="d-none d-sm-inline-flex ms-auto align-items-center">
        <div id="indicator-search-productionstreams" class="htmx-indicator">
	
          <button class="btn btn-warning text-white d-none d-md-block me-2"
                  type="button"
                  disabled>
            <strong>Loading...</strong>
 
            <div class="spinner-grow spinner-grow-sm ms-2"
                 role="status"
                 aria-hidden="true"></div>
 
          </button>
        </div>

        <a id="refresh-button" class="m-2 btn btn-primary">
          {% include "bi/arrow-clockwise.html" %}
        &nbsp;Refresh</a>
      </div>

    </summary>
    <div class="card-body">
      <form hx-post="{% url 'production:_hx_productionstream_list' %}"
            hx-trigger="load, keyup delay:500ms, change, click from:#refresh-button"
            hx-target="#search-productionstreams-results"
            hx-indicator="#indicator-search-productionstreams">
	
        <div id="search-productionstreams-form">{% crispy search_productionstreams_form %}</div>
      </form>
    </div>
  </details>

  <div id="search-productionstreams-results" class="mt-2"></div>

{% endblock content %}
