{% extends 'production/base.html' %}

{% block pagetitle %}
  : Production team
{% endblock pagetitle %}

{% load scipost_extras %}

{% block content %}
  <h1 class="highlight d-flex flex-row">
    Production Team

    <div class="htmx-indicator ms-auto" id="production-team-indicator">
      <button class="btn btn-sm btn-warning" type="button" disabled>
        <strong>Loading...</strong>
        <div class="spinner-grow spinner-grow-sm ms-2"
             role="status"
             aria-hidden="true"></div>
      </button>
    </div>
  </h1>

  <div class="row mt-3">
    <div id="production-team-delete-officer"
         class="col-12 col-md-6"
         hx-get="{% url 'production:production_team_list' %}"
         hx-trigger="load, submit from:body target:form delay:1000"
         hx-indicator="#production-team-indicator"></div>
 
    <div id="production-team-promote-user" class="col-12 col-md-6">
      {% include 'production/_hx_team_promote_user.html' with form=new_officer_form %}
    </div>
  </div>

{% endblock content %}
