<div style="max-width: 600px"
     class="ms-auto coauthorship-fetch-button">

  {% if fellowship.submission_coauthorships_latest_fetch_date %}
    <small class="text-muted">Last checked: {{ fellowship.submission_coauthorships_latest_fetch_date|timesince }} ago</small>
  {% endif %}

  <span id="coauthorship-{{ fellowship.id }}-fetch-indicator"
        class="htmx-indicator"
        role="status"
        aria-hidden="true">
    <span class="spinner-grow spinner-grow-sm"></span>
  </span>

  <button class="btn btn-light btn-sm"
          hx-indicator="#coauthorship-{{ fellowship.id }}-fetch-indicator"
          hx-post="{% url 'ethics:_hx_fetch_coauthorships_for_submission_authors' submission.preprint.identifier_w_vn_nr fellowship.contributor.profile.id %}"
          hx-target="closest .coauthorship-fetch-button">Update</button>
</div>
