{% load bootstrap %}
{% load automarkup %}

<table class="table">
  <tbody>
    <tr>
      <td>For submission</td><td>{{ decision.submission }}</td>
    </tr>
    <tr>
      <td>For Journal</td><td>{{ decision.for_journal }}</td>
    </tr>
    <tr>
      <td>Decision</td><td>{{ decision.get_decision_display }}</td>
    </tr>
    <tr>
      <td>Taken on</td><td>{{ decision.taken_on }}</td>
    </tr>
    <tr>
      <td>Status</td><td>{{ decision.get_status_display }}</td>
    </tr>
    <tr>
      <td>Version</td><td>{{ decision.version }}</td>
    </tr>
    <tr>
      <td>Remarks for authors</td><td>{% automarkup decision.remarks_for_authors %}</td>
    </tr>
    <tr>
      <td>Remarks for the Editorial College</td>
      <td>{% automarkup decision.remarks_for_editorial_college %}</td>
    </tr>
  </tbody>
</table>
