{% load crispy_forms_tags %}
<div class="m-2 p-2 border border-warning">
  <p><strong>Update the target Proceedings</strong>
    <button
      type="button" class="ms-2 px-1 py-0 btn btn-sm btn-outline-danger"
	    hx-get="{% url 'submissions:pool:_hx_submission_li_details' form.instance.preprint.identifier_w_vn_nr %}"
	    hx-target="#details_{{ form.instance.id }}"
    >
      cancel
    </button>
  </p>
  <p>Currently: {{ form.instance.proceedings }}</p>
  <form
      hx-post="{% url 'submissions:_hx_submission_update_target_proceedings' form.instance.preprint.identifier_w_vn_nr %}"
      hx-target="#details_{{ form.instance.id }}"
  >
    {% crispy form %}
  </form>
</div>
