{% extends 'scipost/base.html' %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        {% block breadcrumb_items %}
          {% if submission %}
            <a href="{% url 'submissions:pool:pool' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Pool</a>
          {% else %}
            <a href="{% url 'submissions:pool:pool' %}" class="breadcrumb-item">Pool</a>
          {% endif %}
        {% endblock %}
      </nav>
    </div>
  </div>
{% endblock %}

{% block container_class %}{{block.super}} pb-5{% endblock container_class %}
