{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}
  : mailing lists
{% endblock pagetitle %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'mailing_lists:mailchimp_overview' %}"
     class="breadcrumb-item">Mailing lists</a>
  <span class="breadcrumb-item">{{ object }}</span>
{% endblock %}

{% block content %}


  <div class="row">
    <div class="col-12">
      <h1>
        Edit the mailing list <i>{{ object }}</i>
      </h1>
      <h3>Mailchimp configuration:</h3>
      <pre><code>ID: {{object.mailchimp_list_id}}<br />Name: {{object.name}}<br />Status: {{object.get_status_display}}<br />Member count: {{object.subscriber_count}}</code></pre>
      <h3 class="mt-2">Actions:</h3>
      <ul class="actions">
        <li>
          <a href="{% url 'mailing_lists:sync_mailchimp_members' object.mailchimp_list_id %}">Syncronize members of the list</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Update" class="btn btn-outline-secondary" />
      </form>

      {% if request.GET.bulkid %}
        <div class="mb-3 mt-5">
          <hr />
          <h2>Synchronizing done</h2>
          <p>
            Response bulk ID: <code>{{ request.GET.bulkid }}</code>
            <br />
            Check <a href="//us1.api.mailchimp.com/playground"
    target="_blank"
    rel="noopener">MailChimp's Playground</a> to see the response status.
          </div>
        {% endif %}

      </div>
    </div>

  {% endblock content %}
