{% load automarkup %}

<h3>
  Assessment
  {% if assessment %}
    <span class="ms-4">
      {% include "edadmin/incoming/plagiarism_assessment_status_span.html" with assessment=assessment %}
      {% if assessment.date_set %}
	&emsp;<span>set on {{ assessment.date_set }}</span>&emsp;
      {% endif %}
    </span>
  {% endif %}
  <button class="m-2 btn btn-primary"
	  hx-get="{% if method == 'internal' %}{% url 'edadmin:incoming:_hx_plagiarism_internal_assess' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}{% elif method == 'iThenticate' %}{% url 'edadmin:incoming:_hx_plagiarism_iThenticate_assess' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}{% endif %}"
	  hx-target="#submission-{{ submission.pk }}-plagiarism-{{ method }}-assessment"
	  hx-trigger="click"
	  hx-indicator="#indicator-{{ submission.pk }}-plagiarism-{{ method }}-assess"
  >
    {% if assessment %}
      Edit assessment
    {% else %}
      Start assessment
    {% endif %}
  </button>
</h3>

{% if assessment %}
  <div class="row">
    {% if assessment.comments_for_edadmin %}
      <div class="col col-lg-6">
	<h4>Comments for EdAdmin</h4>
	{% automarkup assessment.comments_for_edadmin %}
      </div>
    {% endif %}
    {% if assessment.comments_for_authors %}
      <div class="col col-lg-6">
	<h4>Comments for Authors</h4>
	{% automarkup assessment.comments_for_authors %}
      </div>
    {% endif %}
  </div>
{% endif %}

<div class="htmx-indicator"
     id="indicator-{{ submission.pk }}-plagiarism-{{ method }}-assess"
>
  <button class="btn btn-sm btn-warning" type="button" disabled>
    <strong>Loading...</strong>
    <div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
  </button>
</div>
