{% spaceless %}
<?xml version="1.0" encoding="UTF-8"?>
<doi_batch xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.crossref.org/schema/5.4.0 https://www.crossref.org/schemas/crossref5.4.0.xsd"
  xmlns="http://www.crossref.org/schema/5.4.0" xmlns:jats="http://www.ncbi.nlm.nih.gov/JATS1"
  xmlns:fr="http://www.crossref.org/fundref.xsd" xmlns:mml="http://www.w3.org/1998/Math/MathML" version="5.4.0">
  <head>
    <doi_batch_id>{{ doi_batch_id }}</doi_batch_id>
    <timestamp>{% now "YmdHiu" %}</timestamp>
    <depositor>
      <depositor_name>scipost</depositor_name>
      <email_address>{{ deposit_email }}</email_address>
    </depositor>
    <registrant>scipost</registrant>
  </head>
  <body>
    <journal>
      {% if update.publication.in_issue.in_volume %}
        <journal_metadata language="en">
          <full_title>{{ update.publication.in_issue.in_volume.in_journal.name }}</full_title>
          <abbrev_title>{{ update.publication.in_issue.in_volume.in_journal.name_abbrev }}</abbrev_title>
          {% if update.publication.in_issue.in_volume.in_journal.issn %}<issn media_type='electronic'>{{ update.publication.in_issue.in_volume.in_journal.issn }}</issn>{% endif %}
          <doi_data>
            <doi>{{ update.publication.in_issue.in_volume.in_journal.doi_string }}</doi>
            <resource>https://{{ domain }}/{{ update.publication.in_issue.in_volume.in_journal.doi_string }}</resource>
          </doi_data>
        </journal_metadata>
      {% elif update.publication.in_issue.in_journal %}
        <journal_metadata language="en">
          <full_title>{{ update.publication.in_issue.in_journal.name }}</full_title>
          <abbrev_title>{{ update.publication.in_issue.in_journal.name_abbrev }}</abbrev_title>
          {% if update.publication.in_issue.in_journal.issn %}<issn media_type='electronic'>{{ update.publication.in_issue.in_journal.issn }}</issn>{% endif %}
          <doi_data>
            <doi>{{ update.publication.in_issue.in_journal.doi_string }}</doi>
            <resource>https://{{ domain }}/{{ update.publication.in_issue.in_journal.doi_string }}</resource>
          </doi_data>
        </journal_metadata>
      {% else %}
        <journal_metadata language="en">
          <full_title>{{ update.publication.in_journal.name }}</full_title>
          <abbrev_title>{{ update.publication.in_journal.name_abbrev }}</abbrev_title>
          {% if update.publication.in_journal.issn %}<issn media_type='electronic'>{{ update.publication.in_journal.issn }}</issn>{% endif %}
          <doi_data>
            <doi>{{ update.publication.in_journal.doi_string }}</doi>
            <resource>https://{{ domain }}/{{ update.publication.in_journal.doi_string }}</resource>
          </doi_data>
        </journal_metadata>
      {% endif %}
      <journal_article language="en" publication_type='full_text'>
        <titles>
          <title>{{ update.title }}</title>
        </titles>
        <contributors>
          {% for author_object in update.publication.authors.all %}
            <person_name sequence="{% if author_object.order == 1 %}first{% else %}additional{% endif %}" contributor_role='author'>
              <given_name>{{ author_object.first_name }}</given_name>
              <surname>{{ author_object.last_name }}</surname>
              <affiliations>
              {% if author_object.affiliations %}
                {% for aff in author_object.affiliations.all %}
                <institution>
                  <institution_name>{{ aff.name }}</institution_name>
                  {% if aff.ror_json.ror_link %}
                    <institution_id type="ror">{{ aff.ror_json.ror_link }}</institution_id>
                  {% else %} {% comment %} Only if ror doesn't exist, acronyms may help {% endcomment %}
                    {% if aff.acronym %}
                      <institution_acronym>{{ aff.acronym }}</institution_acronym>
                    {% endif %}
                  {% endif %}
                </institution>
                {% endfor %}
              {% endif %}
              </affiliations>
              {% if author_object.profile.orcid_id %}
                <ORCID authenticated="{{ author_object.profile.orcid_authenticated|yesno:"true,false" }}">https://orcid.org/{{ author_object.profile.orcid_id }}</ORCID>
              {% endif %}
            </person_name>
          {% endfor %}
        </contributors>
        <publication_date media_type='online'>
          <month>{{ update.publication_date|date:'m' }}</month>
          <day>{{ update.publication_date|date:'d' }}</day>
          <year>{{ update.publication_date|date:'Y' }}</year>
        </publication_date>
        <crossmark>
          <crossmark_policy>10.21468/SciPost.CrossmarkPolicy</crossmark_policy>
          <crossmark_domains>
            <crossmark_domain><domain>{{ domain }}</domain></crossmark_domain>
          </crossmark_domains>
          <crossmark_domain_exclusive>false</crossmark_domain_exclusive>
	  <updates>
	    <update type="{{ update.update_type }}" date="{{ update.publication_date|date:"Y-m-d" }}">{{ update.publication.doi_string }}</update>
	  </updates>
        </crossmark>
        <doi_data>
          <doi>{{ update.doi_string }}</doi>
          <resource>https://{{ domain }}/{{ update.doi_string }}</resource>
        </doi_data>
      </journal_article>
    </journal>
  </body>
</doi_batch>
{% endspaceless %}
