{% spaceless %}
<?xml version="1.0" encoding="UTF-8"?>
<doi_batch version="5.3.1" xmlns="http://www.crossref.org/schema/5.3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:fr="http://www.crossref.org/fundref.xsd" xsi:schemaLocation="http://www.crossref.org/schema/5.3.1 http://www.crossref.org/shema/deposit/crossref5.3.1.xsd" xmlns:ai="http://www.crossref.org/AccessIndicators.xsd" xmlns:jats="http://www.ncbi.nlm.nih.gov/JATS1" xmlns:mml="http://www.w3.org/1998/Math/MathML">
    <head>
        <doi_batch_id>{{ doi_batch_id }}</doi_batch_id>
        <timestamp>{% now "YmdHis" %}</timestamp>
        <depositor>
            <depositor_name>scipost</depositor_name>
            <email_address>{{ deposit_email }}</email_address>
        </depositor>
        <registrant>scipost</registrant>
    </head>
    <body>
        <journal>
            {% if publication.in_issue.in_volume %}
                <journal_metadata>
                    <full_title>{{ publication.in_issue.in_volume.in_journal.name }}</full_title>
                    <abbrev_title>{{ publication.in_issue.in_volume.in_journal.name_abbrev }}</abbrev_title>
                    {% if publication.in_issue.in_volume.in_journal.issn %}<issn media_type='electronic'>{{ publication.in_issue.in_volume.in_journal.issn }}</issn>{% endif %}
                    <doi_data>
                        <doi>{{ publication.in_issue.in_volume.in_journal.doi_string }}</doi>
                        <resource>https://{{ domain }}/{{ publication.in_issue.in_volume.in_journal.doi_string }}</resource>
                    </doi_data>
                </journal_metadata>
                <journal_issue>
                    <publication_date media_type='online'>
                        <year>{{ publication.publication_date|date:'Y' }}</year>
                    </publication_date>
                    <journal_volume>
                        <volume>{{ publication.in_issue.in_volume.number }}</volume>
                    </journal_volume>
                    <issue>{{ publication.in_issue.number }}</issue>
                </journal_issue>
            {% elif publication.in_issue.in_journal %}
                <journal_metadata>
                    <full_title>{{ publication.in_issue.in_journal.name }}</full_title>
                    <abbrev_title>{{ publication.in_issue.in_journal.name_abbrev }}</abbrev_title>
                    {% if publication.in_issue.in_journal.issn %}<issn media_type='electronic'>{{ publication.in_issue.in_journal.issn }}</issn>{% endif %}
                    <doi_data>
                        <doi>{{ publication.in_issue.in_journal.doi_string }}</doi>
                        <resource>https://{{ domain }}/{{ publication.in_issue.in_journal.doi_string }}</resource>
                    </doi_data>
                </journal_metadata>
                <journal_issue>
                    <publication_date media_type='online'>
                        <year>{{ publication.publication_date|date:'Y' }}</year>
                    </publication_date>
                    <issue>{{ publication.in_issue.number }}</issue>
                </journal_issue>
            {% else %}
                <journal_metadata>
                    <full_title>{{ publication.in_journal.name }}</full_title>
                    <abbrev_title>{{ publication.in_journal.name_abbrev }}</abbrev_title>
                    {% if publication.in_journal.issn %}<issn media_type='electronic'>{{ publication.in_journal.issn }}</issn>{% endif %}
                    <doi_data>
                        <doi>{{ publication.in_journal.doi_string }}</doi>
                        <resource>https://{{ domain }}/{{ publication.in_journal.doi_string }}</resource>
                    </doi_data>
                </journal_metadata>
            {% endif %}
            <journal_article publication_type='full_text'>
                <titles>
                    <title>{{ publication.title }}</title>
                </titles>
                <contributors>
                  {% for publication_author in publication.authors.all %}
                    {% include "xml/_person_name_crossref.html" with publication_author=publication_author %}
                  {% endfor %}
                </contributors>
		            <jats:abstract>{{ publication.abstract_jats|safe }}</jats:abstract>
                <publication_date media_type='online'>
                    <month>{{ publication.publication_date|date:'m' }}</month>
                    <day>{{ publication.publication_date|date:'d' }}</day>
                    <year>{{ publication.publication_date|date:'Y' }}</year>
                </publication_date>
                <acceptance_date>
                    <month>{{ publication.acceptance_date|date:'m' }}</month>
                    <day>{{ publication.acceptance_date|date:'d' }}</day>
                    <year>{{ publication.acceptance_date|date:'Y' }}</year>
                </acceptance_date>
                <publisher_item>
                    <item_number item_number_type='article-number'>{{ publication.get_paper_nr }}</item_number>
                </publisher_item>
                <crossmark>
                    <crossmark_policy>10.21468/SciPost.CrossmarkPolicy</crossmark_policy>
                    <crossmark_domains>
                        <crossmark_domain><domain>{{ domain }}</domain></crossmark_domain>
                    </crossmark_domains>
                    <crossmark_domain_exclusive>false</crossmark_domain_exclusive>
                    <custom_metadata>
                        {% if funders %}
                            <fr:program name='fundref'>
                                {% for funder in funders %}
                                    {% if funders|length > 1 %}
                                        <fr:assertion name='fundgroup'>
                                    {% endif %}
                                    <fr:assertion name='funder_name'>{{ funder.name }}<fr:assertion name='funder_identifier'>{{ funder.identifier }}</fr:assertion></fr:assertion>
                                    {% for grant in publication.grants.all %}
                                        {% if grant.funder == funder %}
                                            <fr:assertion name='award_number'>{{ grant.number }}</fr:assertion>
                                        {% endif %}
                                    {% endfor %}
                                    {% if funders|length > 1 %}
                                        </fr:assertion>
                                    {% endif %}
                                {% endfor %}
                            </fr:program>
                        {% endif %}
                            <ai:program name="AccessIndicators">
			                      <ai:free_to_read start_date="{{ publication.publication_date|date:'Y-m-d' }}"/>
                            <ai:license_ref applies_to="vor">{{ publication.get_cc_license_URI }}</ai:license_ref>
                        </ai:program>
                    </custom_metadata>
                </crossmark>
                <program xmlns="http://www.crossref.org/relations.xsd">
                  {% for preprint_sub in publication.accepted_submission.thread_full %}
                    <related_item>
                      <intra_work_relation relationship-type="hasPreprint" identifier-type="uri">https://{{ domain }}{{ preprint_sub.get_absolute_url }}</intra_work_relation>
                    </related_item>
                  {% endfor %}                  
                </program>
                <archive_locations>
                    <archive name="CLOCKSS"></archive>
                </archive_locations>
                <doi_data>
                    <doi>{{ publication.doi_string }}</doi>
                    <resource>https://{{ domain }}/{{ publication.doi_string }}</resource>
		                {% if publication.pdf_file %}
                      <collection property='crawler-based'>
                        <item crawler='iParadigms'>
                          <resource>https://{{ domain }}/{{ publication.doi_string }}/pdf</resource>
                        </item>
                      </collection>
                      <collection property='text-mining'>
                        <item>
                          <resource mime_type='application/pdf'>https://{{ domain }}/{{ publication.doi_string }}/pdf</resource>
                        </item>
                      </collection>
		                {% endif %}
                </doi_data>
                {% if publication.metadata.citation_list %}
                    <citation_list>
                        {% for ref in publication.metadata.citation_list %}
                            <citation key="{{ ref.key }}">
                                <doi>{{ ref.doi }}</doi>
                            </citation>
                        {% endfor %}
                    </citation_list>
                {% endif %}
            </journal_article>
        </journal>
    </body>
</doi_batch>
{% endspaceless %}
