{% extends 'partials/submissions/recommendation_author_content.html' %}

{% load scipost_extras %}


{% block recommendation_header %}
  <h4 class="text-muted mb-2">By {{ recommendation.submission.editor_in_charge.get_title_display }} {{ recommendation.submission.editor_in_charge.user.first_name }} {{ recommendation.submission.editor_in_charge.user.last_name }}, formulated on {{ recommendation.date_submitted }}</h4>
{% endblock %}

{% block recommendation_remarks_for_editorial_college %}
  <h3 class="pb-0">Remarks for Editorial College</h3>
  <p class="pl-md-3">{{ recommendation.remarks_for_editorial_college|default:'-' }}</p>
{% endblock %}

{% block recommendation_reformulation %}
  {% if recommendation.may_be_reformulated %}
    {% if perms.scipost.can_fix_College_decision or request.user.contributor == recommendation.submission.editor_in_charge %}
      <a href="{% url 'submissions:reformulate_eic_recommendation' recommendation.submission.preprint.identifier_w_vn_nr %}" class="d-block my-2">Reformulate Editorial Recommendation</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block recommendation_voting_card %}

  <div class="card{% if not recommendation.active %} text-secondary{% endif %} mt-2">
    <h2 class="card-header">
      Voting
    </h2>

    <div class="card-body">

      <h3 class="card-title">Fellows eligible to vote:</h3>
      <ul>
        {% for eligible in recommendation.eligible_to_vote.all|sort_by:'user__last_name' %}
          <li>{{ eligible.user.first_name }} {{ eligible.user.last_name }}</li>
        {% endfor %}
      </ul>

      <h3 class="card-title">Voting results up to now:</h3>
      <ul>
        <li>
          Agreed ({{ recommendation.voted_for.all.count }}):
          {% for agreed in recommendation.voted_for.all|sort_by:'user__last_name' %}
            {{ agreed.user.last_name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </li>
        <li>
          Disagreed ({{ recommendation.voted_against.all.count }}):
          {% for disagreed in recommendation.voted_against.all|sort_by:'user__last_name' %}
            {{ disagreed.user.last_name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </li>
        <li>
          Abstained ({{ recommendation.voted_abstain.all.count }}):
          {% for abstained in recommendation.voted_abstain.all|sort_by:'user__last_name' %}
            {{ abstained.user.last_name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </li>
      </ul>

      {% if recommendation.submission.tierings.all|length > 0 %}
	<h3>Tierings for this Submission, as indicated by voting Fellows who agreed with publication</h3>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th class="py-1">Fellow</th>
	      <th class="py-1">For Journal</th>
	      <th class="py-1">Tier</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for tiering in recommendation.submission.tierings.all %}
	      <tr>
		<td>{{ tiering.fellow }}</td>
		<td>{{ tiering.for_journal }}</td>
		<td>{{ tiering.get_tier_display }}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      {% endif %}

      {% if recommendation.alternativerecommendation_set.all|length > 0 %}
	<h3>Alternative recommendations offered during voting by Fellows who disagreed:</h3>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th class="py-1">Fellow</th>
	      <th class="py-1">For Journal</th>
	      <th class="py-1">Alternative Recommendation</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for altrec in recommendation.alternativerecommendation_set.all %}
	      <tr>
		<td>{{ altrec.fellow }}</td>
		<td>{{ altrec.for_journal }}</td>
		<td>{{ altrec.get_recommendation_display }}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      {% endif %}

      <h3 class="card-title">Remarks:</h3>
      <ul>
        {% for rem in recommendation.remarks.all %}
          <li>{% include 'partials/submissions/remark_small.html' with remark=rem %}</li>
        {% empty %}
          <li><em>No remarks</em></li>
        {% endfor %}
      </ul>

    </div>

    {% if perms.scipost.can_fix_College_decision %}
      {% if recommendation.active %}
	<div class="card-footer bg-light py-3">
          <h3 class="card-title mb-3">Administrative actions on recommendations undergoing voting:</h3>
          <ul class="mb-1">
	    {% if not recommendation.submission.editorial_decision %}
              <li class="list-item my-2"><a class="btn btn-secondary" href="{% url 'submissions:remind_Fellows_to_vote' %}" role="button">Send an email reminder to each Fellow with at least one voting duty</a><br>(this is a one-click action, for all Submissions)</li>
	    {% endif %}
	    <li class="list-item my-2"><a class="btn btn-warning" href="{% url 'submissions:communication' identifier_w_vn_nr=recommendation.submission.preprint.identifier_w_vn_nr comtype='StoE' %}" role="button">Send a communication to the Editor-in-charge</a>
	      {% if not recommendation.submission.editorial_decision %}
		<br>(for example to request a reformulation of the recommendation)
	      {% endif %}
	    </li>
            <li class="list-item my-2">
	      {% if not recommendation.submission.editorial_decision.is_fixed_and_accepted %}
		<a class="btn btn-primary" href="{% url 'submissions:editorial_decision_create' recommendation.submission.preprint.identifier_w_vn_nr %}" role="button">Initiate the process to fix the editorial decision</a>
	      {% else %}
		<a class="btn btn-primary" href="{% url 'submissions:editorial_decision_detail' recommendation.submission.preprint.identifier_w_vn_nr %}" role="button">View the editorial decision <small>(status: {{ recommendation.submission.editorial_decision.get_status_display }})</small></a>
	      {% endif %}
            </li>
	    <li class="list-item my-2">
	      <a class="btn btn-warning" href="{% url 'submissions:restart_refereeing' recommendation.submission.preprint.identifier_w_vn_nr %}" role="button">Restart the latest refereeing round (leads to confirmation page)</a>
	    </li>
          </ul>
	</div>
      {% endif %}
    {% endif %}
  </div>

{% endblock recommendation_voting_card %}
