{% load user_groups %}

{% is_scipost_admin request.user as is_scipost_admin %}
{% is_ed_admin request.user as is_ed_admin %}

{% if submission.topics.all or is_scipost_admin or is_ed_admin %}
  <div class="card">
    <div class="card-header">
      <a href="{% url 'ontology:ontology' %}">Ontology</a>/<a href="{% url 'ontology:topics' %}">Topics</a>
    </div>
    <div class="card-body">
      <ul class="list-inline mb-0">
	{% for topic in submission.topics.all %}
	  <li class="list-inline-item p-1"><a href="{% url 'ontology:topic_details' slug=topic.slug %}">{{ topic }}</a>{% if perms.scipost.can_manage_ontology %} <a href="{% url 'submissions:submission_remove_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr slug=topic.slug %}"><span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span></a>{% endif %}</li>
	{% empty %}
	  <li class="list-inline-item">No Topic has yet been associated to this Submission</li>
	{% endfor %}
      </ul>
      {% if perms.scipost.can_manage_ontology %}
	<ul class="list-inline">
	  <li class="list-inline-item">
	    <form class="form-inline" action="{% url 'submissions:submission_add_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
	      <ul class="list-inline">
		<li class="list-inline-item">Add an existing Topic:</li>
		<li class="list-inline-item">{% csrf_token %}{{ select_topic_form }}</li>
		<li class="list-inline-item"><input class="btn btn-outline-secondary" type="submit" value="Link"></li>
	      </ul>
	    </form>
	  </li>
	  <li class="list-inline-item p-2">Can't find the Topic you need? <a href="{% url 'ontology:topic_create' %}" target="_blank">Create it</a> (opens in new window)</li>
	</ul>
      {% endif %}
    </div>
  </div>
{% endif %}
