{% load user_groups %}

{% is_scipost_admin request.user as is_scipost_admin %}
{% is_edcol_admin request.user as is_edcol_admin %}

{% if submission.topics.all or is_scipost_admin or is_edcol_admin %}
    <h3 class="mt-4">Ontology / Topics</h3>
    See full <a href="{% url 'ontology:ontology' %}">Ontology</a> or <a href="{% url 'ontology:topics' %}">Topics</a> database.
    <br>
    <br>

    <div>
      {% for topic in submission.topics.all %}
          <span class="label label-secondary"><a href="{% url 'ontology:topic_details' slug=topic.slug %}">{{ topic }}</a>{% if perms.scipost.can_manage_ontology %} <a href="{% url 'submissions:submission_remove_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr slug=topic.slug %}"><i class="fa fa-times-circle text-danger"></i></a>{% endif %}</span>
      {% empty %}
          <div>No Topic has yet been associated to this Submission</div>
      {% endfor %}
    </div>
    {% if perms.scipost.can_manage_ontology %}

        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
        	<form class="form-inline" action="{% url 'submissions:submission_add_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
        	  <ul class="list-inline">
        	    <li class="list-inline-item">Add an existing Topic:</li>
        	    <li class="list-inline-item">{% csrf_token %}{{ select_topic_form }}</li>
        	    <li class="list-inline-item"><input class="btn btn-outline-secondary" type="submit" value="Link"></li>
        	  </ul>
        	</form>
          </li>
          <li class="list-inline-item p-2">Can't find the Topic you need? <a href="{% url 'ontology:topic_create' %}" target="_blank">Create it</a> (opens in new window)</li>
        </ul>
    {% endif %}
{% endif %}
