{% extends 'partials/submissions/pool/submission_info_table.html' %}

{% block extended_info_table %}
  <tr>
    <td colspan="2"><br></td>
  </tr>
  <tr>
    <td>As Contributors</td>
    <td>
      {% for author in submission.authors.all %}
        {% if not forloop.first %}<span class="text-blue">&middot;</span> {% endif %}<a href="{% url 'scipost:contributor_info' author.id %}">{{ author.user.first_name }} {{ author.user.last_name }}</a>
      {% empty %}
        (none claimed)
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Submitted by</td>
    <td>
      {{ submission.submitted_by.user.first_name }} {{ submission.submitted_by.user.last_name }}
    </td>
  </tr>
  <tr>
    <td>Specialties</td>
    <td>
      <ul class="m-0 pl-4">
	{% for specialty in submission.specialties.all %}
	  <li>{{ specialty }}</li>
	{% endfor %}
      </ul>
    </td>
  </tr>
  {% if submission.approaches %}
    <tr>
      <td>Approach{% if submission.approaches|length > 1 %}es{% endif %}:</td>
      <td>{% for approach in submission.approaches %}{% if not forloop.first %}, {% endif %}{{ approach|capfirst }}{% endfor %}</td>
    </tr>
  {% endif %}

{% endblock %}
