{% load automarkup %}
<p>
  Re: ticket {{ followup.ticket.title }}
</p>
<p>A followup has been posted by {{ followup.by.get_full_name }} on the ticket above:</p>
<hr>
{% automarkup followup.text %}
<hr>
<p>You can view details (and optionally take further steps) by navigating to the <a href="https://{{ domain }}{{ followup.ticket.get_absolute_url }}">ticket's page</a> (login required). You can also see this ticket on your personal list at our online <a href="https://{{ domain }}{% url 'helpdesk:helpdesk' %}">helpdesk</a>.</p>
<p>
    Many thanks,<br>
    The SciPost Team.
</p>

{% include 'email/_footer.html' %}
