{% extends 'affiliations/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: Institution details{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{ block.super }}
    <span class="breadcrumb-item">{{ institution }}</span>
{% endblock %}

{% block content %}

<h1 class="highlight">Institution {{ institution }}</h1>

<ul>
    {% for publication in institution.publications.all %}
        <li>
            <a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
            <br>by {{ publication.author_list }},
            <br>{{ publication.citation }}
        </li>
    {% endfor %}
</ul>

{% endblock content %}
