{% extends 'affiliations/base.html' %}


{% block pagetitle %}: Institutions{% endblock pagetitle %}


{% block breadcrumb_items %}
    <span class="breadcrumb-item">Institutions</span>
{% endblock %}

{% block content %}

<h1 class="highlight">Institutions</h1>

<h3>All Institutions with a SciPost publication</h3>

{% if is_paginated %}
    {% include 'partials/pagination.html' with page_obj=page_obj %}
{% endif %}

<ul>
    {% for institution in object_list %}
        <li>
            <a href="{{ institution.get_absolute_url }}">{{ institution }}</a>
            {% if perms.scipost.can_manage_affiliations %} &middot; <a href="{% url 'affiliations:institution_edit' institution.id %}"><i class="fa fa-pencil"></i></a>{% endif %}
        </li>
    {% empty %}
        <li><em>There are no Institutions known yet.</em><li>
    {% endfor %}
</ul>
{% if is_paginated %}
    {% include 'partials/pagination.html' with page_obj=page_obj %}
{% endif %}


{% endblock content %}
