{% load theses_extras %}

<div class="card-block">
    <h5 class="pb-0">{{ thesislink.get_discipline_display }} &middot; {{ thesislink.get_domain_display }} &middot; {{ thesislink.get_subject_area_display }}</h5>
    <h3>
        <a href="{% url 'theses:thesis' thesislink_id=thesislink.id %}">{{ thesislink.title }}</a>
    </h3>
    <p class="mt-0 mb-3">
        {{ thesislink.get_type_display }} thesis by {{ thesislink.author }}
        (supervisor(s): {{ thesislink.supervisor }})
    </p>
    <p class="card-text text-muted">
        Defense date: {{ thesislink.defense_date }} &middot; Latest activity: {{ thesislink.latest_activity|date:"DATE_FORMAT" }}
    </p>
</div>
