<table class="mb-3">
  <tr>
    <td>Title: </td><td>&nbsp;</td><td>{{ thesislink.title }}</td>
  </tr>
  <tr>
    <td>Author: </td><td>&nbsp;</td><td>{{ thesislink.author }}</td>
  </tr>
  <tr>
    <td>As Contributor: </td><td>&nbsp;</td>
    <td>
      {% for author in thesislink.author_as_cont.all %}
        {% if not forloop.first %} &middot; {% endif %}<a href= {% url 'scipost:contributor_info' author.id %}>{{ author.user.first_name }} {{ author.user.last_name }}</a>
      {% empty %}
        (not claimed)
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Type: </td><td></td><td>  {{ thesislink.get_type_display }}</td>
  </tr>
  <tr>
    <td>Field: </td><td></td><td>{{ thesislink.acad_field }}</td>
  </tr>
  <tr>
    <td>Specialties: </td><td></td><td>
      <ul class="list-inline mb-0">
	{% for spec in thesislink.specialties.all %}
	  <li class="list-inline-item">{{ spec }}</li>
	{% endfor %}
      </ul>
    </td>
  </tr>
  {% if thesislink.approaches %}
    <tr>
      <td>Approach{% if thesislink.approaches|length > 1 %}es{% endif %}: </td><td></td>
      <td>{% for approach in thesislink.approaches %}{% if not forloop.first %}, {% endif %}{{ approach|capfirst }}{% endfor %}</td>
    </tr>
  {% endif %}
  <tr>
    <td>URL: </td><td>&nbsp;</td><td><a href="{{ thesislink.pub_link }}" target="_blank">{{ thesislink.pub_link }}</a></td>
  </tr>
  <tr>
    <td>Degree granting institution: </td><td>&nbsp;</td><td>{{ thesislink.institution }}</td>
  </tr>
  <tr>
    <td>Supervisor(s): </td><td></td><td>{{ thesislink.supervisor }}</td>
  </tr>
  <tr>
    <td>Defense date: </td><td>&nbsp;</td><td>{{ thesislink.defense_date }}</td>
  </tr>
</table>

<h3>Abstract:</h3>
<p>{{ thesislink.abstract }}</p>
