{% extends 'scipost/base.html' %}

{% block pagetitle %}: Thesis Link detail{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){
  $("#commentsbutton").click(function(){
  $("#commentslist").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

<!-- Temporary strip -->
{% if user.is_authenticated %}

<section>
  <div class="flex-greybox">
    <h1>SciPost Thesis Link</h1>
  </div>

  <hr class="hr12">
  <div class="row">
    <div class="col-4">
      <h2>Thesis information: </h2>
    </div>
  </div>
  {{ thesislink.header_as_table|safe }}
  <h3>Abstract:</h3>
  <p>{{ thesislink.abstract }}</p>
  
</section>


{% include 'scipost/comments_block.html' %}


{% if user.is_authenticated and thesislink.open_for_commenting and user.contributor.rank > 0 %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Contribute a Comment:</h1>
  </div>
  <form action="{% url 'theses:thesis' thesislink.id %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
  </form>
</section>
{% endif %}

{% endif %} <!-- Temporary strip -->

{% endblock bodysup %}
