{% extends 'scipost/_personal_page_base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'theses:unvetted_thesislinks' %}" class="breadcrumb-item">Unvetted Thesis Links</a>
  <span class="breadcrumb-item">Vet {{ form.instance.title }} by {{ form.instance.author }}</span>
{% endblock %}

{% block pagetitle %}: Unvetted Thesis Links{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <form action="" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Update" />
      </form>
    </div>
  </div>

{% endblock content %}
