{% extends 'scipost/base.html' %}

{% block pagetitle %}: vet Thesis Link requests{% endblock pagetitle %}

{% block bodysup %}

<section>
  {% if not thesislink_to_vet %}
  <h1>There are no Thesis Link requests for you to vet.</h1>

  {% else %}

  <h1>SciPost Thesis Link request to vet:</h1>

  <br>
  <hr>
  <div class="row">
    <div class="col-8">
      {{ thesislink_to_vet.header_as_table }}
      <br />
      <h4>Abstract:</h4>
      <p>{{ thesislink_to_vet.abstract }}</p>
    </div>
    <div class="col-4">
      <form method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
    </div>
  </div>

  {% endif %}
</section>

{% endblock bodysup %}
