{% extends 'scipost/base.html' %}

{% load scipost_extras %}

{% block title %}Comparing {{ model_name_plural }}{% endblock %}

{% block breadcrumb_items %}
  {{ block.super }}
  <li>Object Merger</li>
  <li>{{ model_name_plural }}</li>
  <li class="active">Compare</li>
{% endblock %}

{% block content %}
  <h1>Comparing {{ model_name_plural.title }}</h1>

  <div class="row position-sticky top-0 bg-white p-1 border-bottom border-2 border-secondary">
    <div class="col fs-4">
      <a href="{{ object_a.get_absolute_url }}">{{ object_a }}</a>
    </div>
    <div class="col-auto d-flex flex-column justify-content-center">
      <a class="btn btn-sm btn-primary"
         href="{% url "common:object_merger_merge" content_type.id object_a.id object_b.id %}">
        {% include "bi/arrow-right.html" %}
      </a>
      <a class="btn btn-sm btn-secondary"
         href="{% url "common:object_merger_merge" content_type.id object_b.id object_a.id %}">
        {% include "bi/arrow-left.html" %}
      </a>
    </div>
    <div class="col fs-4">
      <a href="{{ object_b.get_absolute_url }}">{{ object_b }}</a>
    </div>
  </div>

  {% for group_name, group in field_groups.items %}
    <h2 class="mt-5 mb-4 fw-bold">{{ group_name|title }}</h2>

    {% if group_name == "related_objects_many" %}

      {% for field_name, objects_field_value in group.items %}
        <details open
                 class="mb-3 border border-info border-2 rounded bg-info bg-opacity-10">
          <summary class="list-triangle">
            <span class="fs-3">{{ field_name|title }}</span>
          </summary>
          <div class="row">

            {% for object_field_qs in objects_field_value %}
              <div class="col-12 col-md p-2">
                <ul class="m-0">

                  {% for item in object_field_qs %}
                    <li>

                      {% if item and item.get_absolute_url %}
                        <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                      {% else %}
                        {{ item }}
                      {% endif %}

                    </li>
                  {% endfor %}

                </ul>
              </div>

              {% if not forloop.last %}
                <div class="col-12 col-md-auto">
                  <hr class="d-md-none">
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </details>
      {% endfor %}

    {% else %}
 
      {% for field_name, objects_field_value in group.items %}
        <div class="row">
          <h3 class="fs-5 bg-light">{{ field_name|title }}</h3>
          {% for object_field_value in objects_field_value %}
            <div class="col-12 col-md">

              {% if object_field_value and object_field_value.get_absolute_url %}
                <a href="{{ object_field_value.get_absolute_url }}">{{ object_field_value }}</a>
              {% else %}
                {{ object_field_value }}
              {% endif %}

            </div>
          {% endfor %} 
        </div>
      {% endfor %}

    {% endif %}

  {% endfor %}


{% endblock %}
