{% load scipost_extras %}
{% load bootstrap %}


<table class="table table-borderless mb-5">
  <thead class="table-light">
    <tr>
      <th>Date</th>
      <th>Stream</th>
      <th>Duration</th>
      <th>Log type</th>
    </tr>
  </thead>

  <tbody>

    {% for log in work_logs %}
      <tr class="border-top">
        <td>{{ log.work_date }}</td>
        <td style="max-width:250px"
            class="text-truncate">
          <a href="{{ log.stream.get_absolute_url }}">{{ log.stream.proofs_repository.name|default:log.stream.submission.title }}</a>
        </td>
        <td>{{ log.duration|duration }}</td>
        <td>{{ log.get_log_type_display }}</td>
      </tr>

      {% if log.comments %}
        <tr>
          <td colspan="4"
              class="text-muted">{{ log.comments }}</td>
        </tr>
      {% endif %}

    {% empty %}
      <tr>
        <td colspan="4">No logs found.</td>
      </tr>
    {% endfor %}


  </tbody>
</table>
