{% for subsidy in page_obj %}
  <tr 
    {% if "finadmin" in user_roles %} hx-get="{% url 'finances:_hx_subsidy_finadmin_details' subsidy_id=subsidy.id %}" hx-trigger="click" hx-target="#subsidy-{{ subsidy.id }}-finadmin-details" {% endif %}
    >
    <td>
      <a href="{{ subsidy.organization.get_absolute_url }}">{{ subsidy.organization }}</a>
    </td>
    <td>

      {% if subsidy.nr_visible_notes %}
        <span class="text-primary me-1"
              data-bs-placement='bottom'
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="There exist {{ subsidy.nr_visible_notes }} notes related to this Subsidy.">
          {% include 'bi/info-circle-fill.html' %}
        </span>
      {% endif %}

      <a href="{{ subsidy.get_absolute_url }}">{{ subsidy.get_subsidy_type_display }}</a>
    </td>

    {% if perms.scipost.can_manage_subsidies %}
      <td>

        {% if subsidy.payments_all_scheduled %}
          <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>
        {% elif not subsidy.payments.exists %}
          <span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>
        {% else %}
          <span class="text-warning">{% include 'bi/plus-circle-fill.html' %}</span>
        {% endif %}

 
      </td>
    {% endif %}

    <td>

      {% if subsidy.amount_publicly_shown or perms.scipost.can_manage_subsidies %}
        &euro;{{ subsidy.amount }}
      {% else %}
        -
      {% endif %}

    </td>
    <td class="text-nowrap">{{ subsidy.date_from }}</td>
    <td class="text-nowrap bg-{{ subsidy.date_until_color_class }} {% if subsidy.date_until_color_class != "transparent" %}text-white{% endif %}">{{ subsidy.date_until }}</td>

    {% if perms.scipost.can_manage_subsidies %}
      <td>{{ subsidy.get_status_display }}</td>
      <td>
	

        {% if subsidy.renewable == True %}
          <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>
        {% elif subsidy.renewable == False %}
          <span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>
        {% else %}
          <span class="text-warning">{% include 'bi/question-circle-fill.html' %}</span>
        {% endif %}

      </td>
      <td>
	

        {% if subsidy.renewed_by.all|length > 0 %}
          <span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>
        {% else %}
          <span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>
        {% endif %}

      </td>
      <td class="text-nowrap bg-{{ subsidy.renewal_action_date_color_class }} {% if subsidy.renewal_action_date_color_class != "transparent" %}text-white{% endif %}">
        {{ subsidy.renewal_action_date }}
      </td>
    {% endif %}

  </tr>

  {% if "finadmin" in user_roles %}
    <tr class="">
      <td colspan="10" class="p-0">
        <div id="subsidy-{{ subsidy.id }}-finadmin-details"></div>
      </td>
    </tr>
  {% endif %}

{% endfor %}



{% if page_obj.has_next %}
  <tr id="subsidy-table-next-rows"
      hx-post="{% url 'finances:_hx_subsidy_list' %}?page={{ page_obj.next_page_number }}"
      hx-include="#subsidy-search-form"
      hx-trigger="revealed"
      hx-target="#subsidy-table-next-rows"
      hx-swap="outerHTML"
      hx-indicator="#indicator-subsidy-page-{{ page_obj.number }}">
    <td colspan="20" id="indicator-subsidy-page-{{ page_obj.number }}"
        class="htmx-indicator p-0">
        <div class="p-2 bg-primary bg-opacity-25 d-flex justify-content-center">
          <strong>Loading page {{ page_obj.next_page_number }} out of {{ page_obj.paginator.num_pages }}</strong>
          <div class="spinner-grow spinner-grow-sm ms-2"
               role="status"
               aria-hidden="true"></div>
        </div>
    </td>
  </tr>
{% endif %}
