{% load countries %}
{% get_country country as country_obj %}

<p>The data in this table is compiled by summing over all Organizations in {{ country_obj.name }}&emsp;<i class="{{ country_obj.flag_css }}"></i></p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th style="text-align: right;">Expenditures</th>
      <th style="text-align: right;">Subsidy income</th>
      <th style="text-align: right;">Impact on reserves</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-light">
      <td>Cumulative</td>
      <td style="text-align: right;">&euro;{{ cumulative.expenditures }}</td>
      <td style="text-align: right;">&euro;{{ cumulative.subsidy_income }}</td>
      <td style="text-align: right;">&euro;{{ cumulative.impact_on_reserves }}</td>
    </tr>
    {% for year, val in per_year.items %}
      <tr>
	<td>{{ year }}</td>
	<td style="text-align: right;">&euro;{{ val.expenditures }}</td>
	<td style="text-align: right;">&euro;{{ val.subsidy_income }}</td>
	<td style="text-align: right;">&euro;{{ val.impact_on_reserves }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if 'finadmin' in user_roles %}

  <div class="border border-danger p-2">
    <p><strong>[FinAdmin]</strong></p>

    <h2 class="mt-5">Cumulative, per Organization</h2>

    <table class="table">
      <thead>
	<tr>
	  <th></th>
	  <th></th>
	  <th style="text-align: right;">Expenditures</th>
	  <th style="text-align: right;">Subsidy Income</th>
	  <th style="text-align: right;">Impact on reserves</th>
	</tr>
      </thead>
      <tbody>
	<tr class="bg-light">
	  <td>Total</td>
	  <td></td>
	  <td style="text-align: right;">{{ cumulative.expenditures }}</td>
	  <td style="text-align: right;">{{ cumulative.subsidy_income }}</td>
	  <td style="text-align: right;">{{ cumulative.impact_on_reserves }}</td>
	</tr>
	{% for organization in organizations|dictsortreversed:"cf_balance_info.cumulative.impact_on_reserves" %}
	  {% if organization.cf_balance_info.cumulative.subsidy_income > 0 or organization.cf_balance_info.cumulative.expenditures > 0 %}
	    <tr>
	      <td><a href="https://{{ request.get_host }}{{ organization.get_absolute_url }}">{{ organization }}</a></td>
	      <td>{{ organization.get_orgtype_display }}</td>
	      <td style="text-align: right;">{{ organization.cf_balance_info.cumulative.expenditures }}</td>
	      <td style="text-align: right;">{{ organization.cf_balance_info.cumulative.subsidy_income }}</td>
	      <td style="text-align: right;">{{ organization.cf_balance_info.cumulative.impact_on_reserves }}</td>
	    </tr>
	  {% endif %}
	{% endfor %}
      </tbody>
    </table>

  </div>

{% endif %}
