{% load bootstrap %}

{% load user_groups %}
{% load guardian_tags %}
{% get_obj_perms request.user for subsidy.organization as "user_org_perms" %}

<div class="row">
  <div class="col">
    {% if perms.scipost.can_manage_subsidies %}
      <ul class="list-inline"><li class="list-inline-item"><strong>Admin actions:</strong></li>
	<li class="list-inline-item"><a href="{% url 'finances:subsidy_update' pk=subsidy.id %}"><span class="text-warning">Update</span></a></li>
	<li class="list-inline-item"><a href="{% url 'finances:subsidy_delete' pk=subsidy.id %}"><span class="text-danger">Delete</span></a></li>
      </ul>
    {% endif %}

    <table class="table">
      <tr>
	<td>From:</td><td>{% if subsidy.organization.details_publicly_viewable or perms.scipost.can_manage_organizations %}<a href="{{ subsidy.organization.get_absolute_url }}">{{ subsidy.organization }}</a>{% else %}{{ subsidy.organization }}{% endif %}</td>
      </tr>
      <tr>
	<td>Type:</td><td>{{ subsidy.get_subsidy_type_display }}</td>
      </tr>
      <tr>
	<td>Description:</td><td>{{ subsidy.description }}</td>
      </tr>
      <tr>
	<td>Amount:</td><td>{% if subsidy.amount_publicly_shown or perms.scipost.can_manage_subsidies or "can_view_org_contacts" in user_org_perms %}&euro;{{ subsidy.amount }}{% else %}-{% endif %}{% if perms.scipost.can_manage_subsidies or "can_view_org_contacts" in user_org_perms %} {% if subsidy.amount_publicly_shown %}<span class="text-success">publicly visible</span>{% else %}<span class="text-danger">publicly invisible</span>{% endif %}&nbsp;&nbsp;<a href="{% url 'finances:subsidy_toggle_amount_public_visibility' subsidy_id=subsidy.id %}" class="small">Make it {% if subsidy.amount_publicly_shown %}in{% endif %}visible</a>{% endif %}</td>
      </tr>
      <tr>
	<td>Date from:</td><td>{{ subsidy.date_from }}</td>
      </tr>
      {% if subsidy.date_until %}
	<tr>
	  <td>Date until:</td><td>{{ subsidy.date_until }}</td>
	</tr>
      {% endif %}
      {% if perms.scipost.can_manage_subsidies %}
	<tr>
	  <td>Allocation algorithm</td>
	  <td>{{ subsidy.get_algorithm_display }}</td>
	</tr>
	<tr>
	  <td>Renewable?</td><td>{% if subsidy.renewable == True %}Yes, renewal action date: <span class="bg-{{ subsidy.renewal_action_date_color_class }}">{{ subsidy.renewal_action_date }}</span>{% elif subsidy.renewable == None %}Undetermined [please update]{% else %}No{% endif %}</td>
	</tr>
	<tr>
	  <td>Status</td>
	  <td>{{ subsidy.get_status_display }}</td>
	</tr>
	<tr>
	  <td>Paid on</td>
	  <td>{% if subsidy.paid_on %}{{ subsidy.paid_on }}{% else %}<span class="text-warning">{% include "bi/cone-striped.html" %}</span>{% endif %}</td>
	</tr>
      {% endif %}
    </table>

    {% if subsidy.renewal_of.all|length > 0 %}
      <p>
	Renewal of:<ul>{% for prevsub in subsidy.renewal_of.all %}<li><a href="{% url 'finances:subsidy_details' pk=prevsub.id %}">{{ prevsub }}</a></li>{% endfor %}</ul>
      </p>
    {% endif %}
    {% if subsidy.renewed_by.all|length > 0 %}
      <p>
	Renewed by:<ul>{% for newsub in subsidy.renewed_by.all %}<li><a href="{% url 'finances:subsidy_details' pk=newsub.id %}">{{ newsub }}</a></li>{% endfor %}</ul>
      </p>
    {% endif %}

  </div>

  {% if subsidy.collective %}
    <div class="col-12 col-sm-6 col-md-3">
      <h4>Subsidies of the same Collective</h4>
      <nav class="nav nav-pills flex-column">
        
        {% include "finances/_subsidy_collective_nav_links_list.html" with collective=subsidy.collective %}

      </nav>
    </div>
  {% endif %}

</div>

{% if "finadmin" in user_roles %}
  <div class="row">
    <div class="col-12">
      <h3>Payments</h3>
      <div id="subsidy-{{ subsidy.id }}-finadmin-details">
        <div hx-get="{% url 'finances:_hx_subsidy_finadmin_details' subsidy_id=subsidy.id %}"
            hx-trigger="revealed"
            hx-target="#subsidy-{{ subsidy.id }}-finadmin-details"
        >
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-12">
    <h3>Attachments</h3>
    {% if perms.scipost.can_manage_subsidies %}
      <ul>
	<li><a href="{% url 'finances:subsidyattachment_create' subsidy_id=subsidy.id %}">Add a Subsidy Attachment</a> to this Subsidy</li>
      </ul>
    {% endif %}
    <table class="table">
      <thead>
	<tr>
	  <th>File name</th>
	  <th>Date</th>
	  {% if perms.scipost.can_manage_subsidies or "can_view_org_contacts" in user_org_perms %}
	    <th>Visibility</th>
	  {% endif %}
	</tr>
      </thead>
      <tbody>
	{% for att in subsidy.attachments.all %}
	  {% if att.publicly_visible or perms.scipost.can_manage_subsidies or "can_view_org_contacts" in user_org_perms %}
	    <tr>
	      <td><a href="{{ att.get_absolute_url }}" target="_blank">{{ att.filename }}</a></td>
	      <td>{{ att.date }}</td>
	      {% if perms.scipost.can_manage_subsidies or "can_view_org_contacts" in user_org_perms %}
		<td>{{ att.get_visibility_display }}</td>
		{% if perms.scipost.can_manage_subsidies %}
		  <td><a href="{% url 'finances:subsidyattachment_update' pk=att.id %}"><span class="text-warning">Update</span></a></td>
		  <td><a href="{% url 'finances:subsidyattachment_delete' pk=att.id %}"><span class="text-danger">Delete</span></a></td>
		{% endif %}
	      {% endif %}
	    </tr>
	  {% endif %}
	{% empty %}
	  <tr>
	    <td>No attachment found</td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Notes -->
{% include "pins/_hx_notes_list.html" with object=subsidy %}



{% if 'finadmin' in user_roles %}

  <div class="border border-danger bg-danger bg-opacity-10">
    <strong class="text-danger">[FinAdmin]</strong>

    <h3 class="highlight">Expenditures compensated by this Subsidy</h3>

    {% if subsidy.allocatable %}
      <a class="btn btn-primary" href="{% url 'finances:allocate_subsidy' subsidy_id=subsidy.id %}">Allocate this Subsidy</a>
    {% endif %}

    <div class="row">
      <div class="col-lg-6">
	<table class="table mt-2 caption-top">
	  <caption>PubFrac compensations</caption>
	  <thead class="table-light">
	    <tr>
	      <th>Publication</th>
	      <th>PubFrac</th>
	      <th>value</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for doi_label, pf in subsidy.compensated_pubfracs_dict.items %}
	      <tr>
		<td>
		  <a href="{% url 'scipost:publication_detail' doi_label=doi_label %}">{{ doi_label }}</a>
		</td>
		<td>{{ pf.fraction }}</td>
		<td>&euro;{{ pf.value|floatformat:0 }}</td>
	      </tr>
	    {% empty %}
	      <tr>
		<td>No compensation found</td>
	      </tr>
	    {% endfor %}
	    <tr class="bg-secondary bg-opacity-10">
	      <th>Total compensations from this Subsidy</th>
	      <td></td>
	      <td>&euro;{{ subsidy.total_compensations|floatformat:0 }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <div class="col-lg-6">
	<table class="table mt-2 caption-top">
	  <caption>Balance</caption>
	  <tbody>
	    <tr>
	      <th>Subsidy amount</th>
	      <td>&euro;{{ subsidy.amount }}</td>
	    </tr>
	    <tr>
	      <th>PubFrac Compensations</th>
	      <td>&euro;{{ subsidy.total_compensations|floatformat:0 }}</td>
	    </tr>
	    <tr class="bg-secondary bg-opacity-10">
	      <th>Remainder (allocated to our reserve fund)</th>
	      <td>&euro;{{ subsidy.remainder|floatformat:0 }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

  </div>
{% endif %}
