{% load scipost_extras %}

{% regroup form.get_timesheets by date as monthly_timesheets %}

{% for date, timesheets_in_month in monthly_timesheets %}
  <h4>{{ date|date:"F Y" }}</h4>
  <table style="width: 100%; margin-bottom: 1rem; color: #002b49; vertical-align: top; border-color: #dee2e6;">
    <thead style="background-color: #f8f9fa;">
      <tr style="border-color: inherit; border-style: solid; border-width: 1px 0;">
        <th style="padding: 4px;">Employee</th>
        <th style="padding: 4px;">Contract hours</th>
        <th style="padding: 4px;">Additional hours</th>
        <th style="padding: 4px;">Total hours</th>
      </tr>
    </thead>
    <tbody>

      {% for employee_timesheet in timesheets_in_month %}
        <tr style="border-color: inherit; border-style: solid; border-width: 1px 0;">
          <td style="padding: 4px;">{{ employee_timesheet.full_name }}</td>
          <td style="padding: 4px;">{{ employee_timesheet.base_hours|duration }}</td>
          <td style="font-weight: bold; padding: 4px;">{{ employee_timesheet.extra_hours|duration }}</td>
          <td style="border-left: 1px solid #dee2e6; padding: 4px;">{{ employee_timesheet.total_hours|duration }}</td>
        </tr>
      {% empty %}
        <tr>
          <td style="padding: 4px;" colspan="4">No logs found.</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endfor %}
