{% extends 'finances/base.html' %}

{% load static %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Average Publication Expenditures</span>
{% endblock %}

{% block meta_description %}{{ block.super }} APEX{% endblock meta_description %}
{% block pagetitle %}: Average Publication Expenditures{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="highlight">Average Publication Expenditures</h2>
      <p>These tables display how our total yearly expenses are ascribed to publishing activities
	in our Journals, the purpose being to determine the average expenditure per publication
	which we have achieved.</p>
      <p><strong>N.B.</strong>: these numbers are indicative only (accurate to 3 digits);
	see our yearly financial reports for a fully detailed breakdown of our expenses.</p>
      <table class="table">
	{% for year in data.pubyears reversed %}
	  {% for key, val in data.items %}
	    {% if year == key|add:"0" %}
	      {% if year == data.pubyears|last %}
		<tr>
		  <td>{{ year }}<br><em class="text-danger">(in progress)</em></td>
		  <td>
		    <table class="table">
		      <thead>
			<tr>
			  <th>Journal</th>
			  <th class="text-end">Nr of publications</th>
			  <th class="text-end">Expenditure per publication</th>
			  <th class="text-end">Total expenditures</th>
			</tr>
		      </thead>
		      <tbody>
			{% for journal, journaldata in val.items %}
			  {% if journaldata.npub > 0 %}
			    <tr>
			      <td>{{ journal }}</td>
			      <td class="text-end">{{ journaldata.npub }}</td>
			      <td class="text-end">
				<em class="text-danger">(in progress)
			      </td>
			      <td class="text-end">
				<em class="text-danger">(in progress)
			      </td>
			    </tr>
			  {% endif %}
			{% endfor %}
			<tr class="table-info">
			  <td colspan="3">Total publishing expenditures</td>
			  <td class="text-end">
			    <em class="text-danger">(in progress)
			  </td>
			</tr>
		      </tbody>
		    </table>
		  </td>
		</tr>
	      {% else %}
		<tr>
		  <td>{{ year }}{% if in_progress %}<br><em class="text-danger">(in progress)</em>{% endif %}</td>
		  <td>
		    <table class="table">
		      <thead>
			<tr>
			  <th>Journal</th>
			  <th class="text-end">Nr of publications</th>
			  <th class="text-end">Expenditure per publication</th>
			  <th class="text-end">Total expenditures</th>
			</tr>
		      </thead>
		      <tbody>
			{% for journal, journaldata in val.items %}
			  {% if journaldata.npub > 0 %}
			    <tr>
			      <td>{{ journal }}</td>
			      <td class="text-end">{{ journaldata.npub }}</td>
			      <td class="text-end">{{ journaldata.cost_per_pub }}</td>
			      <td class="text-end">{{ journaldata.expenditures }}</td>
			    </tr>
			  {% endif %}
			{% endfor %}
			<tr class="table-info">
			  <td colspan="3">Total publishing expenditures</td>
			  <td class="text-end">{{ val.expenditures }}</td>
			</tr>
		      </tbody>
		    </table>
		  </td>
		</tr>
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	{% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
