{% extends 'finances/base.html' %}
{% load user_groups %}
{% load crispy_forms_tags %}


{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Orphaned SubsidyAttachments</span>
{% endblock %}


{% block meta_description %}
  {{ block.super }} Orphaned SubsidyAttachment List
{% endblock meta_description %}

{% block pagetitle %}
  : Orphaned SubsidyAttachments
{% endblock pagetitle %}

{% block content %}
  {% is_ed_admin request.user as is_ed_admin %}
  <div class="highlight p-3 d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Orphaned SubsidyAttachment List</h1>
    <span class="fs-3">Total: {{ nr_orphaned_subsidies }}</span>
  </div>


  <details open id="subsidyattachment-filter-details" class="card my-4">
    <summary class="card-header d-flex flex-row align-items-center justify-content-between list-triangle">
      <div class="fs-3">Search / Filter</div>
      <div class="d-none d-md-flex align-items-center">
 
        <div id="indicator-search-subsidyattachment" class="htmx-indicator">
          <button class="btn btn-warning text-white d-none d-md-block me-2"
                  type="button"
                  disabled>
            <strong>Loading...</strong>
 
            <div class="spinner-grow spinner-grow-sm ms-2"
                 role="status"
                 aria-hidden="true"></div>
          </button>
        </div>

        <button class="btn btn-outline-secondary me-2"
                type="button"
                hx-get="{% url 'finances:_hx_subsidyattachment_search_form' filter_set="empty" %}"
                hx-target="#subsidyattachment-search-form-container">Clear Filters</button>
 
        <a id="refresh-button" class="me-2 btn btn-primary">
          {% include "bi/arrow-clockwise.html" %}
        &nbsp;Refresh</a>
      </div>

    </summary>
    <div class="card-body">
      <div id="subsidyattachment-search-form-container"
           hx-get="{% url 'finances:_hx_subsidyattachment_search_form' filter_set='latest' %}"
           hx-trigger="load, intersect once"></div>
    </div>
  </details>

  <div id="search-subsidyattachment-results" class="mt-2"></div>
  <div id="search-subsidyattachment-results-load-next"></div>



{% endblock content %}
