{% extends 'finances/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'finances:timesheets' %}"
     class="breadcrumb-item">Team timesheets</a>
  <span class="breadcrumb-item">Detailed timesheets</span>
{% endblock %}

{% block pagetitle %}
  : Team timesheets
{% endblock pagetitle %}

{% load crispy_forms_tags %}
{% load scipost_extras %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Detailed timesheets</h1>
      <br />

      <form method="get">
        {% crispy form %}
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      {% if form.is_bound and form.is_valid %}
        {% regroup form.get_timesheets by date as monthly_timesheets %}

        {% for date, timesheets_in_month in monthly_timesheets %}
          <details class="mb-4" open>
            <summary class="list-triangle">
              <h2 class="mb-3 mt-4">{{ date|date:"F Y" }}</h2>
            </summary>

            {% for timesheet in timesheets_in_month %}
              <details class="mb-3" open>
                <summary class="list-triangle">
                  <h4 class="mb-2">{{ timesheet.full_name }}</h4>
                </summary>
                {% include "finances/_detailed_timesheet_table.html" with work_logs=timesheet.work_logs %}
              </details>
            {% empty %}
              <p>No logs found.</p>
            {% endfor %}

          </details>
        {% endfor %}


      {% else %}
        <p class="text-danger">First submit the filter form to retrieve results.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
