{% extends 'finances/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'finances:timesheets' %}" class="breadcrumb-item">Team timesheets</a>
  <span class="breadcrumb-item">Detailed timesheets</span>
{% endblock %}

{% block pagetitle %}
  : Team timesheets
{% endblock pagetitle %}

{% load crispy_forms_tags %}
{% load scipost_extras %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Detailed timesheets</h1>
      <br>

      <form method="get">
        {% crispy form %}
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if form.is_bound and form.is_valid %}
        <h2 class="mb-2 mt-4">Team timesheets</h2>
        {% for user_log in form.filter %}
          <h4 class="mb-1">{{ user_log.user.first_name }} {{ user_log.user.last_name }}</h4>
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th>Date</th>
                <th>Related to object</th>
                <th>Log type</th>
                <th>Comments</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              {% for log in user_log.logs %}
                <tr>
                  <td>{{ log.work_date }}</td>
                  <td>{{ log.content }}</td>
                  <td>{{ log.log_type }}</td>
                  <td>{{ log.comments }}</td>
                  <td>{{ log.duration|duration }}</td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="4" class="text-end">Total:</td>
                <td>
                  <strong>{{ user_log.duration.total|duration }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        {% empty %}
          <p>No logs found.</p>
        {% endfor %}
      {% else %}
        <p class="text-danger">First submit the filter form to retrieve results.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
