{% extends 'finances/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Team timesheets</span>
{% endblock %}

{% block pagetitle %}: Team timesheets{% endblock pagetitle %}

{% load bootstrap %}
{% load scipost_extras %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Timesheets</h1>
      <a href="{% url 'finances:timesheets_detailed' %}">See detailed timesheets</a>
      <br>
      <br>

      <form method="get">
        {{form.employee|bootstrap }}

        <label>Date from</label>
        <div class="form-row">
          {{ form.start }}
        </div>

        <label>Date until</label>
        <div class="form-row">
          {{ form.end }}
        </div>
        <br>

        <input type="submit" class="btn btn-primary" value="Filter">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if form.is_bound and form.is_valid %}
        <h2 class="mb-2 mt-4">Team timesheets</h2>
        <h4 class="mb-1">{{ user_log.user.first_name }} {{ user_log.user.last_name }}</h4>
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>Employee</th>
              {% for month in form.get_months %}
                <th>{{ month|date:'N Y' }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for user_log in form.filter_per_month %}
              <tr>
                <td>{{ user_log.user.last_name }}, {{ user_log.user.first_name }}</td>
                {% for log in user_log.logs %}
                  <td>{{ log|duration }}</td>
                {% endfor %}
              </tr>
            {% empty %}
              <tr><td colspan="5">No logs found.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="text-danger">First submit the filter form to retrieve results.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
