{% extends 'production/base.html' %}

{% block breadcrumb_items %}
    <span class="breadcrumb-item">Production page</span>
{% endblock %}

{% block pagetitle %}: Production page{% endblock pagetitle %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Production</h1>
    </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="tab-nav-container">
      <div class="tab-nav-inner">
	<ul class="nav btn-group personal-page-nav" role="tablist">
	  <li class="nav-item btn btn-secondary">
	    <a href="#streams" class="nav-link active" data-toggle="tab">{{ perms.scipost.can_assign_production_officer|yesno:"Streams,My Streams" }}</a>
	  </li>
	  <li class="nav-item btn btn-secondary">
	    <a href="#mytimesheet" class="nav-link" data-toggle="tab">My Timesheet</a>
	  </li>
      {% if perms.scipost.can_promote_user_to_production_officer %}
          <li class="nav-item btn btn-secondary">
            <a href="#officers" class="nav-link" data-toggle="tab">Production Team</a>
          </li>
      {% endif %}
	</ul>
      </div>
    </div>
  </div>
</div>


<div class="tab-content">
  <div class="tab-pane active" id="streams" role="tabpanel">
    <div class="row">
      <div class="col-12">
    	<h2 class="highlight">{{ perms.scipost.can_assign_production_officer|yesno:"Streams,My Streams" }}</h2>
        <a href="{% url 'production:completed' %}">View completed streams</a>
      </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-unstyled" data-target="active-list">
                {% for stream in streams %}
                    <li class="p-2">
                        <div class="d-flex justify-content-start">
                            <div class="icons pr-2">
                                <i class="fa fa-users" data-toggle="tooltip" data-html="true" title="" data-original-title="
                                    Supervisor: {% if stream.supervisor %}{{ stream.supervisor.user.first_name }} {{ stream.supervisor.user.last_name }}{% else %}<em>Unassigned</em>{% endif %}<br>
                                    Officer: {% if stream.officer %}{{ stream.officer.user.first_name }} {{ stream.officer.user.last_name }}{% else %}<em>Unassigned</em>{% endif %}
                                "></i>
                                {% if stream.supervisor.user == request.user %}
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="" data-original-title="You are assigned as supervisor"></i>
                                {% endif %}
                            </div>
                            <div>
                                <p class="mb-1">
                                    <a href="{% url 'production:stream' stream.id %}">{{ stream.submission.title }}</a><br>
                                    <em>by {{ stream.submission.author_list }}</em>
                                </p>
                                <p class="card-text mb-2">
                                    <a href="{% url 'production:stream' stream.id %}" data-toggle="dynamic" data-target="#details">See stream details</a>
                                </p>

                                <p class="label label-{% if stream.status == 'initiated' %}outline-danger{% else %}secondary{% endif %} label-sm">{{ stream.get_status_display }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-6">
            <div class="card center-loader" id="details">
                {% if stream %}
                    {% include 'production/partials/production_stream_card.html' %}
                {% else %}
                    <div class="text-center py-4">
                        <i class="fa fa-hand-o-left fa-3x" aria-hidden="true"></i>

                        <h3>Choose a Stream to see more details</h3>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
  </div>


  <div class="tab-pane" id="mytimesheet" role="tabpanel">
    <div class="row">
      <div class="col-12">
    	<h2 class="highlight">My Timesheet</h2>
        {% if perms.scipost.can_view_timesheets %}
            <a href="{% url 'finances:timesheets' %}">See team timesheets</a>
        {% endif %}
      </div>
    </div>

    <table class="table mb-5">
      <thead class="thead-default">
	<tr>
	  <th>Date</th>
	  <th>Stream</th>
	  <th>Event</th>
	  <th>Duration</th>
	</tr>
      </thead>

      <tbody role="tablist">
	{% for event in ownevents %}
	<tr>
	  <td>{{ event.noted_on }}</td>
	  <td>{{ event.stream }}</td>
	  <td>{{ event.get_event_display }}</td>
	  <td>{{ event.duration }}</td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="4">No events found.</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

  {% if perms.scipost.can_promote_user_to_production_officer %}
      <div class="tab-pane" id="officers" role="tabpanel">
          <h2 class="highlight">Production Tream</h2>
          <h3>Current Production Team</h3>
          <ul>
              {% for officer in production_officers %}
                <li>{{ officer }}</li>
              {% endfor %}
          </ul>

          {% if new_officer_form %}
              <h3>Promote user to Production Officer</h3>
              <form action="{% url 'production:user_to_officer' %}" method="post">
                {% csrf_token %}
                {{ new_officer_form|bootstrap }}
                <input type="submit" class="btn btn-primary" value="Promote to Production Officer">
            </form>
          {% endif %}
      </div>
  {% endif %}

</div>

{% endblock content %}
