{% load scipost_extras %}

<div style="border-bottom: 1px solid #eee;" id="nomination_{{ nomination.id }}">
    <div class="row">
        <div class="col-4">
            <h3><b>{{ nomination.first_name }} {{ nomination.last_name }}</b></h3>
            <p>Nominated by {{ nomination.by.user.first_name }} {{ nomination.by.user.last_name }}</p>
        </div>
        <div class="col-4">
            <p>
                <a href="{{ nomination.webpage }}">Webpage</a><br>
                Discipline: {{ nomination.get_discipline_display }}
            </p>
        </div>
        <div class="col-4">
            <p>Expertise:</p>
            <ul>
                {% for expertise in nomination.expertises %}
                    <li>{{expertise|get_specialization_display}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
