{% extends 'scipost/_personal_page_base.html' %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Virtual General Meetings</span>
{% endblock %}

{% block pagetitle %}: VGMs{% endblock pagetitle %}

{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">SciPost Virtual General Meetings</h1>
        <ul>
            {% for VGM in VGM_list %}
                <li><a href="{% url 'virtualmeetings:VGM_detail' VGM_id=VGM.id %}">{{ VGM }}</a></li>
            {% empty %}
                <li>You are not registered for a Virtual General Meeting</a>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
