<p>
  Dear {{ report.author.profile.get_title_display }} {{ report.author.user.last_name }},
</p>

<p>We hereby confirm reception of your Report on Submission</p>

<p>
  {{ report.submission.title }}
  <br/>
  by {{ report.submission.author_list }}.
</p>

<p>
  We are immensely grateful for your time and effort. Your Report will soon be vetted by the Submission's Editor-in-charge, at which point you will receive an email update from us.
</p>

<p>
  Many thanks again,
  <br/>
  The SciPost Team.
</p>
{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=report.submission %}
