{% load static %}

<div class="border border-secondary bg-light text-center mb-2 d-flex flex-column justify-content-end"
     role="button"
     hx-get="{{ sponsor.get_absolute_url }}"
     hx-push-url="true"
     hx-target="body">

  <div class="bg-white m-2 h-100 d-flex" style="min-height: 100px;">

    <img class="m-auto p-4 {{ sponsor.css_class }}" style="max-height: 16rem; max-width: 100%; object-fit: contain" 
      {% if sponsor.logo %} src="{{ sponsor.logo.url }}" {% else %} src="{% static 'organizations/no_logo.jpg' %}" {% endif %}
       alt="{{ sponsor.name }} logo" />
    </div>
 
    <div class="p-2 text-start d-flex flex-column">

      <h4>{% firstof sponsor.name_original sponsor.name %}</h4>

      {% if sponsor.name_original %}<p>({{ sponsor.name }})</p>{% endif %}

      <div class="d-flex w-100 align-items-center">
        <img width="16"
             height="11"
             src="{{ sponsor.country.flag }}"
             alt="{{ sponsor.country }} flag" />
        <span class="text-muted"><small>[{{ sponsor.country }}]</small></span>{{ sponsor.get_country_display }}
        <a class="ms-auto"
           href="{% url 'finances:subsidies' %}?org={{ sponsor.id }}">See subsidies</a>
      </div>
    </div>
  </div>
