{% extends 'scipost/_personal_page_base.html' %}

{% load scipost_extras %}

{% block pagetitle %}: Editorial Administration{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Editorial Administration</span>
{% endblock %}

{% block body_class %}{{ block.super }} editorial-admin{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <h1>Editorial Administration Page</h1>

        <p>
            {% if submission %}
                <a href="{% url 'submissions:admin' %}">All events in the last 24 hours</a><br>
            {% endif %}
            <a href="{% url 'submissions:pool' %}">Go to the pool</a>
        </p>

        {% if recommendations_to_prepare_for_voting %}
            <h3>Recommendations to prepare for voting <i class="fa fa-exclamation-circle text-warning"></i></h3>
            <ul>
                {% for recommendation in recommendations_to_prepare_for_voting %}
                    <li>On Editorial Recommendation: {{ recommendation }}<br>
                        <a href="{% url 'submissions:prepare_for_voting' rec_id=recommendation.id %}">Prepare for voting</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if recommendations_undergoing_voting %}
            <h3>Recommendations undergoing voting <i class="fa fa-exclamation-circle text-warning"></i></h3>
            <ul class="fa-ul">
                {% for recommendation in recommendations_undergoing_voting %}
                    <li>{% include 'partials/submissions/admin/recommendation_tooltip.html' with classes='fa-li' recommendation=recommendation %}
                        On Editorial Recommendation: {{ recommendation }}<br>
                        <a href="{% url 'submissions:admin_recommendation' recommendation.submission.arxiv_identifier_w_vn_nr %}">See Editorial Recommendation</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if recommendations_to_prepare_for_voting or recommendations_undergoing_voting %}
            <hr>
        {% endif %}

        <h3>Submissions currently in pre-screening</h3>
        <ul class="list-unstyled" data-target="active-list">
            {% for sub in submission_list.prescreening %}
                <li class="p-2{% if sub == submission %} active{% endif %}">
                    {% include 'partials/submissions/admin/submission_li.html' with submission=sub %}
                </li>
            {% empty %}
                <li>No Submissions are currently in pre-screening</li>
            {% endfor %}
        </ul>

        <h3>Submissions currently in refereeing round</h3>
        <ul class="list-unstyled" data-target="active-list">
            {% for sub in submission_list.actively_refereeing %}
                <li class="p-2{% if sub == submission %} active{% endif %}">
                    {% include 'partials/submissions/admin/submission_li.html' with submission=sub %}
                </li>
            {% empty %}
                <li>No Submissions are currently in refereeing round</li>
            {% endfor %}
        </ul>

        <h3>Submissions accepted</h3>
        <ul class="list-unstyled" data-target="active-list">
            {% for sub in submission_list.accepted %}
                <li class="p-2{% if sub == submission %} active{% endif %}">
                    {% include 'partials/submissions/admin/submission_li.html' with submission=sub %}
                </li>
            {% empty %}
                <li>All accepted Submissions are published</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-5" id="details">
        {% if submission %}
            {% include 'partials/submissions/admin/submission_details.html' with submission=submission %}
        {% else %}
            <h3><em>Click on a submission to see its summary and actions</em></h3>
            <h2>All events in the last 24 hours</h2>
            <div id="eventslist" class="">
                {% include 'submissions/submission_event_list_general.html' with events=latest_events %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
