{% extends 'submissions/admin/base.html' %}

{% block pagetitle %}: Prepare Editorial Recommendation for voting{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}
{% load conflict_tags %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Prepare Editorial Recommendation for voting</span>
{% endblock %}

{% block content %}

  <h1 class="highlight">Prepare Editorial Recommendation for Voting</h1>

  {% include 'submissions/_submission_li.html' with submission=recommendation.submission %}
  {% include 'submissions/pool/_submission_info_table.html' with submission=recommendation.submission %}

  <br>
  {% include 'submissions/_recommendation_fellow_content.html' with recommendation=recommendation %}

  {% if recommendation.submission.referees_flagged %}
    <br>
    <h3>Referees flagged upon submission (treat reports with caution):</h3>
    <p>{{ recommendation.submission.referees_flagged|linebreaksbr }}</p>
  {% endif %}

  <br>
  <h2 class="highlight">Select Fellows eligible to vote</h2>
  <div class="row">
    <div class="col-md-3">
      <p>Fellows with expertise matching the Submission's subject area:</p>
      <ul>
        {% for fellow in fellows_with_expertise %}
          <li>
            {{ fellow.contributor.user.first_name }} {{ fellow.contributor.user.last_name }}
            <br>
            {% for specialty in fellow.contributor.profile.specialties.all %}
              <div class="single d-inline" data-specialty="{{ specialty.slug }}" data-toggle="tooltip" data-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if previously_eligible_for_voting %}
      <div class="col-md-3">
	<p>Fellows who were eligible to vote in previous versions of this recommendation:</p>
	<ul>
	  {% for voter in previously_eligible_for_voting %}
            <li>
              {{ voter.user.first_name }} {{ voter.user.last_name }}
              <br>
              {% for specialty in voter.profile.specialties.all %}
		<div class="single d-inline" data-specialty="{{ specialty.slug }}" data-toggle="tooltip" data-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
              {% endfor %}
            </li>
	  {% endfor %}
	</ul>
      </div>
    {% endif %}
    <div class="col-md-6">
      <form action="{% url 'submissions:prepare_for_voting' rec_id=recommendation.id %}" method="post">
        {% csrf_token %}
        {{ eligibility_form|bootstrap:'4,8' }}
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </div>

    <div class="col-12">
      <h3 class="highlight mt-4">Conflicts of Interest</h3>

      <table class="table table-hover" id="current-pool">
        <thead>
          <tr>
            <th>Fellow</th>
            <th>Conflicts</th>
          </tr>
        </thead>
        <tbody>
          {% for fellow in eligibility_form.get_eligible_fellows %}
            <tr>
              <td>
                <strong>{{ fellow }}</strong>
              </td>
              <td>
                {% with fellow.conflict_of_interests.non_deprecated|filter_for_submission:recommendation.submission as conflicts %}
                  {% include 'submissions/admin/_conflicts.html' with conflicts=conflicts submission=recommendation.submission %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if coauthorships %}
        <div class="card border-danger">
          <div class="card-body">
            <h3 class="card-title text-danger">The system identified the following potential coauthorships (from arXiv database)</h3>
            <p class="card-text text-danger">(only up to 5 most recent shown; if within the last 3 years, referee is disqualified):</p>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for author, entries in coauthorships.items %}
                <li class="list-group-item pt-3">
                  <div class="card-content">
                    <h3>For Fellow: {{ author }}</h3>
                  </div>
                </li>
                {% for entry in entries %}
                  <li class="list-group-item">
                    {% include 'submissions/_arxiv_queryresult.html' with item=entry id=forloop.counter id2=forloop.parentloop.counter %}
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <h3 class="text-success">The system has not identified any coauthorships from the arXiv database</h3>
      {% endif %}
    </div>
  </div>

{% endblock %}
