{% extends 'submissions/admin/base.html' %}

{% load bootstrap %}
{% load scipost_extras %}

{% block breadcrumb_items %}
    {{ block.super }}
    <span class="breadcrumb-item">Editorial Recommendation</span>
{% endblock %}

{% block pagetitle %}: Editorial Recommendation{% endblock pagetitle %}

{% block content %}
    <h1 class="highlight">Editorial Recommendation</h1>

    {% include 'submissions/_submission_card_fellow_content.html' with submission=object.submission %}

    <br>
    {% include 'submissions/_recommendation_fellow_content.html' with recommendation=object %}

    <br>
    <div class="card">
        <div class="card-body">
            {% if object.remarks.exists %}
                <h3 class="card-title">Remarks by Fellows:</h3>
                <ul>
                  {% for remark in object.remarks.all|sort_by:'date' %}
                      {% include 'partials/submissions/remark_as_li.html' with remark=remark %}
                  {% empty %}
                      <li>No Remarks found.</li>
                  {% endfor %}
                </ul>
            {% endif %}

            <h3 class="card-title">Fellows eligible to vote:</h3>
            <ul>
                {% for eligible in object.eligible_to_vote.all|sort_by:'user__last_name' %}
                    <li>{{ eligible.user.first_name }} {{ eligible.user.last_name }}</li>
                 {% endfor %}
            </ul>

            <h3 class="card-title">Voting results up to now:</h3>
            <ul>
                <li>
                    Agreed ({{ object.voted_for.all.count }}):
                    {% for agreed in object.voted_for.all|sort_by:'user__last_name' %}
                        {{ agreed.user.last_name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
                <li>
                    Disagreed ({{ object.voted_against.all.count }}):
                    {% for disagreed in object.voted_against.all|sort_by:'user__last_name' %}
                        {{ disagreed.user.last_name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
                <li>
                    Abstained ({{ object.voted_abstain.all.count }}):
                    {% for abstained in object.voted_abstain.all|sort_by:'user__last_name' %}
                        {{ abstained.user.last_name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
            </ul>

            {% if object.remarks.exists %}
                <h3 class="card-title">Remarks:</h3>
                <ul>
                  {% for rem in object.remarks.all %}
                      <li>{{ rem }}</li>
                 {% empty %}
                     <li><em>No remarks</em></li>
                  {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-footer bg-light py-3">
            <h3 class="card-title">Administrative actions on recommendations undergoing voting:</h3>
            <ul class="mb-0">
                <li>To send an email reminder to each Fellow with at least one voting duty: <a href="{% url 'submissions:remind_Fellows_to_vote' %}">click here</a></li>
                <li>To fix the College decision and follow the Editorial Recommendation as is: <a href="{% url 'submissions:fix_College_decision' rec_id=object.id %}">click here</a></li>
                <li>To request a modification of the Recommendation to request for revision: click here</li>
            </ul>
        </div>
    </div>

{% endblock %}
