{% extends 'submissions/admin/base.html' %}

{% block pagetitle %}: Prepare Editorial Recommendation for voting{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Prepare Editorial Recommendation for voting</span>
{% endblock %}

{% block content %}

<h1 class="highlight">Prepare Editorial Recommendation for Voting</h1>

{% include 'partials/submissions/submission_li.html' with submission=recommendation.submission %}
{% include 'partials/submissions/pool/submission_info_table.html' with submission=recommendation.submission %}

<br>
{% include 'partials/submissions/recommendation_fellow_content.html' with recommendation=recommendation %}

{% if recommendation.submission.referees_flagged %}
    <br>
    <h3>Referees flagged upon submission (treat reports with caution):</h3>
    <p>{{ recommendation.submission.referees_flagged|linebreaksbr }}</p>
{% endif %}

<br>
<h2 class="highlight">Select Fellows eligible to vote</h2>
<div class="row">
    <div class="col-md-5">
        <p>Fellows with expertise matching the Submission's subject area:</p>
        <ul>
            {% for fellow in fellows_with_expertise %}
                <li>{{ fellow.contributor.user.first_name }} {{ fellow.contributor.user.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-7">
        <form action="{% url 'submissions:prepare_for_voting' rec_id=recommendation.id %}" method="post">
            {% csrf_token %}
            {{ eligibility_form|bootstrap:'4,8' }}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if coauthorships %}
            <div class="card card-outline-danger">
                <div class="card-body">
                    <h3 class="card-title text-danger">The system identified the following potential coauthorships (from arXiv database)</h3>
                    <p class="card-text text-danger">(only up to 5 most recent shown; if within the last 3 years, referee is disqualified):</p>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for author, entries in coauthorships.items %}
                            <li class="list-group-item pt-3">
                                <div class="card-content">
                                    <h3>For Fellow: {{ author }}</h3>
                                </div>{{ value}}
                            </li>
                            {% for entry in entries %}
                                <li class="list-group-item">
                                    {% include 'partials/submissions/arxiv_queryresult.html' with item=entry %}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <h3 class="text-success">The system has not identified any coauthorships (from arXiv database)</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
