.alert {
    padding: 1.0rem 2.5rem 1.0rem 1.25rem;
    margin-bottom: 0.5rem;
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    box-shadow: 0 0 5px 0px #f3f3f3;

    form &,
    .form & {
        float: none;
    }

    &:last-child {
        margin-bottom: 1rem;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.alert-dismissible {
    // Adjust close link position
    .close {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        cursor: pointer;
    }
}


@mixin scipost-alert-variant($background, $border, $color) {
  background-color: $white;
  border: 1px solid $color;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include scipost-alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}
