/**
 * Buttons
 *
 */
.btn-link {
    color: $scipost-lightblue;
}

.btn-primary {
    color: $white;
}

.btn-outline-secondary {
    color: $scipost-darkblue;
    background-color: $white;
}

.category-group,
.voting-group {
    border-radius: $card-border-radius;
    color: $scipost-darkblue;
    border: 1px solid $gray-600;

    > div {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0;
        line-height: 1;
        margin: 0;
        display: inline-block;
        color: #002b49;
        background: #fff;

        &.name {
            background-color: #f4f4f4;
            border-right: 1px solid #dfe0e4;
        }
    }

    *,
    > form {
        border-radius: 0;
        display: inline-block;
        margin-bottom: 0;

        .agree,
        &.agree {
            background-color: $scipost-darkblue;
            color: #fff;
        }
        .neutral,
        &.neutral {
            background-color: $scipost-lightblue;
            color: #fff;
        }
        .disagree,
        &.disagree {
            background-color: $red;
            color: #fff;
        }
    }

    &.small .btn {
        font-size: 0.55rem;
    }

    form .btn {
        cursor: pointer;

        &.agree:hover {
            background-color: #004f86;
        }
        &.neutral:hover {
            background-color: #045f9e;
        }
        &.disagree:hover {
            background-color: #c9302c;
        }
    }
}

.category-group {
    display: inline-block;
    margin-bottom: 0.5rem;

    > div {
        line-height: 1.3;
    }
}
