
.list-group-item > .card-body {
    padding: 0.5rem;
}

.card-title,
.card-text {
    margin-bottom: 0.25rem;
}

.card-subtitle {
    line-height: 1.5;
}

.scipost-bar {
    border-top: 3px solid $scipost-lightblue !important;
}

.card.radio-option {
    label {
        cursor: pointer;
    }

    &.checked,
    &:hover {
        border-color: $scipost-darkblue;
    }
}


.card-publication {
    margin-bottom: 0.5rem;

    .card-header {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #f9f9f9;
    }
}

.news-item {
    border: 1px solid #e6e6e6;
}
