.search-contributors.active-search .contributor {
    display: none;

    &.active {
        display: inline-block;
    }
}

.contributor {
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;

    div.card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 0;
    }

    &.hover-active div.card {
        background-color: rgba(104, 132, 194, 0.3) !important;
    }
}

.specialty {
    &.active-search,
    &:hover {
        cursor: pointer;
        color: $scipost-lightblue;
	font-weight: bold;
    }
}
