.htmx-crud-button-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    visibility: hidden;
}

// set visibility of actions if any parent is hovered   
.htmx-crud-element:hover {
    & .htmx-crud-button-actions {
        visibility: visible;
    }
}


.hx-dynsel {
    position: relative;

    select {
        all: unset;
        min-width: 10%;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        pointer-events: none;
        background-color: rgba(10, 10, 255, 0.1);
        padding: 0.1rem 0.5rem;
        border-radius: 0.25rem;
    }

    ul {
        margin-bottom: 0;
    }

    // Input Styling
    .input-query-container {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        height: 3em;
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5rem;

        >input {
            flex: 1;
            padding: 0.25em;
            border: 0;
            min-width: 10ch;

            &:focus,
            &:focus-visible {
                border: 0;
                outline-color: unset;
            }
        }

        >.selected-items {

            &:empty {
                display: none;
            }

            >.selected-item {
                background: rgba(10, 10, 255, 0.1);
                padding: 0.25em;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                flex-shrink: 1;

                &::after {
                    content: "x";
                    color: red;
                }
            }
        }
    }

    // Results Styling
    .result-list {
        display: none;
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        background-color: white;
        overflow-y: scroll;
        z-index: 1;
        max-height: 30vh;
        width: 100%;
        padding: 0.25rem;

        &:empty {
            display: none;
        }

        >.result-item {
            display: block;
            padding: 0.1rem;

            &:hover {
                background-color: var(--bs-primary);
                color: white;
                cursor: pointer;
            }

        }
    }

    // Display results on focus 
    &:focus-within .result-list {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.5rem 1rem 0 rgba(108, 108, 108, 0.5);
        border: 2px solid var(--bs-secondary);
        border-radius: 0.25rem;
    }

}