/**
* For forums
*/

.postInfo {
    float: right;
    font-size: 90%;
}

.followupPosts {
    border-left: 1px solid black;
    margin: 1rem;
    padding-left: 0.4rem;
}

.followupPostsAfterMotion {
    border-left: 1px solid white;
    margin: 1rem;
    padding-left: 0.4rem;
}

.forumList {
    padding-left: 0.4rem;
}
