/**
 * Form
 *
 */
.form-control {
    font-family: inherit;
    border-radius: $border-radius-base;
}

.has-error .form-control {
    border-color: #d9534f;
}

.has-error .help-block {
    color: $red;
}

.has-error .multiple-checkbox .help-block {
    color: $red;
    font-weight: 600;
}

.form-control + .help-block {
    margin-top: 3px;
    display: inline-block;
    font-weight: 600;
}

.form-group,
.row.form-group {
    margin-bottom: 0.5rem;
}

textarea {
    // Hack old textarea's to become bigger
    width: 800px;
    max-width: 100%;
}

.radio-list label {
    margin: 0;
}

input[type="file"] {
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.15rem;
}


.form-group.checkboxes {
    [type="checkbox"] {
        display: none;
    }

    [type="checkbox"]:checked + .btn-info {
        color: $white;
        background-color: $scipost-lightblue;
        border-color: $scipost-lightblue;

    }

    [type="checkbox"]:checked + .btn-primary {
        background-color: $scipost-darkblue;
        border-color: $scipost-darkblue;
    }
}

// Formset
//
.delete-form-group {
    > * {
        opacity: 0.5;
        color: $red;

        &:last-child {
            // The delete button should always be visible
            opacity: 1.0;
            color: inherit;
        }
    }

    .form-group {
        display: none;

        &:last-child {
            // The delete button should always be visible
            display: block;
        }
    }
}

.formset-group {
    .formset-form {
        border-bottom: 1px solid #ddd;
        padding: 1rem 0 0.5rem;

        &.form-1 {
            padding-top: 0;
        }

        &.to_be_deleted {
            opacity: 0.2;
        }
    }
}

// Overwrite this weird Bootstrap css rule
select.form-control {
  &:not([size]):not([multiple]) {
    height: auto;
  }
}


// Autocomplete fields
.results_on_deck {
    .help-block {
        color: #666;
        font-style: italic;
    }

    > div {
        background-color: $scipost-lightestblue;
        padding: 2px 10px;
        display: inline-block;
        border-radius: 5px;

        .ui-icon {
            margin-top: 0;
            margin-right: 3px;
        }
    }
}

.ordering .active {
    font-weight: 700;
}
