
.homepage {
    .logos a {
        width: 25%;
        display: inline-block;
        max-width: 100px;
        padding: 0 0.25rem;
    }

    .sponsors ul {
        height: 100px !important;
        list-style: none;

        li {
            height: 100px !important;

            img {
                max-height: 100px;
                height: auto;
                width: auto;
            }
        }
    }
}


.home-alt {
  background-color: #fff;

  .main-nav .nav-item {
      padding: 0;// 5px;
  }
  //.main-nav .nav-item .dropdown-toggle::after { content: none; }

  .container {
    box-shadow: none;
    border: 0;
  }

  h2, .h2 { font-size: 1.1rem; }

  .publications {
    .publication {
      margin-bottom: 20px;
    }

    .authors {
      margin-bottom: 4px;
      font-weight: 600;
    }

    .specialties > span:first-child a {
      padding-left: 0 !important;
    }
  }

  .container {
  }

  .navbar .nav-link {
    font-weight: normal;
  }

  .publication-list ul {
    list-style: none;
    padding: 0;
  }

  .citation {
//     background-color: #f6a125;
    display: inline-block;
//     padding: 0 10px;
    border-radius: 99px;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: 600;

    &:after {
        content: "•";
        margin-left: 8px;
    }
  }

  .header {
    list-style: none;
    padding: 0 0 10px;
    margin: 0 0 25px;
    border-bottom: 1px solid #ccc;

    > a {
      margin-bottom: 0 !important;
      padding: 0 0 0 3px !important;
    }
  }

  ul.header-list {
    list-style: none;
    padding: 0 0 5px;
    margin: 0 0 25px;
    border-bottom: 1px solid #ccc;

    li {
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-right: 10px;

      h2 {
        font-weight: 300;
        font-size: 1.0rem;
      }
    }

    li.active h2 {
      font-weight: normal;
      font-size: 1.1rem;
    }

    li:after {
      content: '';
      width: 0;
      transition: 200ms;
      background: #000;
      height: 2px;
      display: block;
      bottom: -5px;
      position: absolute;
    }

    li:hover:after,
    li.active:after {
      width: 100%;
    }
  }

  .news .link-cloud {
    list-style: none;
    padding: 0;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    margin-top: 5px;

    li {
      display: inline;
      color: #777;
      margin: 0 5px;
      cursor: pointer;
      line-height: 2.0;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .news {
    position: sticky;
    top: 0;
  }

  .news h3 > a { color: initial; }
  .news ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 30px;
    }
  }

  .news li .date {
    color: #767676;
    text-transform: uppercase;
    font-size: 2.3em;
    width: 60px;
    line-height: 0.8;
    float: left;
    padding: 4px 5px 10px 0;

    .month {
      display: inline-block;
      font-size: 0.7em;
    }
  }

}
