[data-toggle="collapse"] {

    > h3:after {
        background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPgogICAgPHBhdGggZD0iTTAtLjc1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==");
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        vertical-align: baseline;
        float: right;
    }

    &.collapsed > h3:after {
            -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

.floating-rss-icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
