/**
 * SciPost Physics Journal style
 *
 */

.SciPostPhysicsBanner {
    background-color: $scipost-darkblue;
    color: $scipost-orange;
    padding: 10px 20px;
    text-align: center;

    a {
        color: #FFA300;
        padding: 0 4px;
        display: block;

        &.active {
            background-color: #eeeeee;
            border: 1px solid black;
            padding: 4px;
        }
        &.inactive {
            background-color: #dddddd;
            border: none;
        }
    }

    .banner-subtitle {
        font-size: 0.7rem;
        color: #fff;
    }
}


.SciPostPhysicsTabMenu {
    display: block;
}

.publicationHeader {
    padding: 0.75rem;
    height: 100%;
    background-color: #f8f8f8;
    border-bottom: 10px solid #fff;

    & .publicationTitle {
        margin: -0.75rem -0.75rem 0.5rem -0.75rem;
    }
}

.publicationTitle {
    background: #eee;
    padding: 0.75rem;
    margin-bottom: .5rem;
}


ul.publicationClickables {
    background-color: #f9f9f9;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 2px 0;
    border: 1px solid #eee;
    border-bottom: 1px solid #ddd;

    li {
        display: inline-block;
        margin: 0 10px;
        padding: 5px;
        width: 100%;

        &.publicationPDF {
            font-size: 130%;
            font-weight: 600;
        }
    }
}
@media screen and (min-width: 768px) {
    ul.publicationClickables li {
        width: auto;
    }
}


.publication {
    .abstract {
        margin-bottom: 0;
    }
}

.journal-mini {
    li {
        padding: 0.15rem 0;
    }
}

.related-publications {
    .title {
        font-size: 0.85rem;
    }

    .meta {
        margin-top: 0.25rem;
        margin-bottom: 0;
        color: $text-muted;

        a {
            color: $text-muted;
        }
    }
}
