//
// Labels
// --------------------------------------------------
// For each of Bootstrap's buttons, define text, background and border color.

$label-padding-x:                  0.6rem !default;
$label-padding-y:                  0.25rem !default;
$label-line-height:                1.2;
$label-line-height-sm:             1.2;
$label-line-height-lg:             1.2;
$label-font-weight:                $fw-normal !default;
$label-box-shadow:                 none;
$label-font-size:                  inherit;

$label-primary-color:              $white !default;
$label-primary-bg:                 $blue !default;
$label-primary-border:             $blue !default;

$label-secondary-color:            $gray-800 !default;
$label-secondary-bg:               $white !default;
$label-secondary-border:           #ccc !default;

$label-default-color:              #fff;
$label-default-bg:                 #ccc;
$label-default-border:             #ccc;

$label-info-color:                 $white !default;
$label-info-bg:                    $cyan !default;
$label-info-border:                $cyan !default;

$label-success-color:              $white !default;
$label-success-bg:                 $green !default;
$label-success-border:             $green !default;

$label-warning-color:              $white !default;
$label-warning-bg:                 $yellow !default;
$label-warning-border:             $yellow !default;

$label-danger-color:               $white;
$label-danger-bg:                  $red !default;
$label-danger-border:              $red !default;

$label-padding-x-sm:               $label-padding-x;
$label-padding-y-sm:               $label-padding-y;

$label-padding-x-lg:               0.75rem !default;
$label-padding-y-lg:               0.35rem !default;

$label-label-spacing-y:            .5rem !default;

// Allows for customizing button radius independently from global border radius
$label-border-width:               $input-btn-border-width;
$label-border-radius:              2px;
$label-border-radius-lg:           2px;
$label-border-radius-sm:           2px;

$label-transition:                 all .2s ease-in-out !default;

.label {
    display: inline-block;
    font-weight: $label-font-weight;
    line-height: $label-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    margin-right: 3px;
    margin-bottom: 3px;
    border: $label-border-width solid transparent;
    box-shadow: $label-box-shadow;

    // @include button-size($label-padding-y, $label-padding-x, $label-font-size, $label-line-height, $label-border-radius);
    @include transition($label-transition);
}

.label-flat > .label,
.label-flat {
    box-shadow: none;
}

// Colors
// Contextual variations (linked labels get darker on :hover)
a.label-primary,
.label-primary {
    @include label-variant($label-primary-color, $label-primary-bg, $label-primary-border);
}
a.label-secondary,
.label-secondary {
    @include label-variant($label-secondary-color, $label-secondary-bg, $label-secondary-border);
}
a.label-default,
.label-default {
    @include label-variant($label-default-color, $label-default-bg, $label-default-border);

    &[href] {
        // @include hover-focus {
        //     border-color: #999;
        //     background-color: #999;
        // }
    }
}
a.label-success,
.label-success {
    @include label-variant($label-success-color, $label-success-bg, $label-success-border);
}
a.label-info,
.label-info {
    @include label-variant($label-info-color, $label-info-bg, $label-info-border);
}
a.label-warning,
.label-warning {
    @include label-variant($label-warning-color, $label-warning-bg, $label-warning-border);
}
a.label-danger,
.label-danger {
    @include label-variant($label-danger-color, $label-danger-bg, $label-danger-border);

    &[href] {
        // @include hover-focus {
        //     border-color: #F44336;
        //     background-color: #F44336;
        // }
    }
}

// Remove all backgrounds
.label-outline-primary {
  @include label-outline-variant($label-primary-bg);
}
.label-outline-secondary {
  @include label-outline-variant($label-secondary-border);
}
.label-outline-default {
  @include label-outline-variant($label-default-bg);
}
.label-outline-info {
  @include label-outline-variant($label-info-bg);
}
.label-outline-success {
  @include label-outline-variant($label-success-bg);
}
.label-outline-warning {
  @include label-outline-variant($label-warning-bg);
}
.label-outline-danger {
  @include label-outline-variant($label-danger-bg);
}

//
// Label Sizes
//

.label-lg {
  // line-height: ensure even-numbered height of button next to large input
  // @include button-size($label-padding-y-lg, $label-padding-x-lg, $label-font-size, $label-line-height-lg, $label-border-radius-lg);
}
.label-sm {
  // line-height: ensure proper height of button next to small input
  // @include button-size($label-padding-y-sm, $label-padding-x-sm, $label-font-size, $label-line-height-sm, $label-border-radius-sm);
}


//
// Block label
//

.label-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple labels
.label-block + .label-block {
  margin-top: $label-label-spacing-y;
}
