
 .list-group-noborder,
 .list-group-noborder .list-group-item {
     border: 0;
 }


.list-group-item {
    margin-bottom: 0;
    border-top-color: #f9f9f9;
}
ul.events-list {
    padding-left: 0;

    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;

        .time {
            min-width: 10rem;
        }
    }
}


ul.references {
    list-style: none;
    padding-left: 0;

    .counter {
        margin-right: 0.25rem;
    }

    .title {
        font-style: italic;
    }
    .doi {
        display: block;
        margin: 0 0 0.2rem 2rem;
    }
}

ul.links > li.active a {
    font-weight: 700;
}

ul.sortable-list {
    li {
        background-color: $white;
        border: 1px solid $scipost-darkblue;
        padding: 0.5rem;
        margin-bottom: -1px;
        cursor: move;

        &:hover {
            background-color: $gray-200;
        }
    }
}


li,
.li {
    .thesis,
    .commentary,
    .submission,
    .publication {
	.specialties {
	    margin-bottom: 0;
	    padding-top: 5px;
	    color: $text-muted;
	    font-size: 1em;
	}
        .subject {
            margin-bottom: 1;
            padding-top: 5px;
            color: $text-muted;
        }

        .title {
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
	    font-weight: bold;
        }

        .authors {
            margin-bottom: 0.5rem;
        }

        .meta {
            color: $text-muted;
        }

        .abstract {
            margin-bottom: 0.25rem;
        }
    }

    .submission,
    .commentary {
        .meta {
            margin-bottom: 0.25rem;
        }
    }
}


ul.news-list {
    list-style: none;
    margin: 0;
    padding: 0;

    h3 {
        margin: 0.25rem 0;

        a {
            color: $scipost-darkblue;
        }
    }

    li {
        margin-right: 0.5rem;
        padding: 0.35rem 0;
        border-top: 1px solid #bbb;

        &:first-child {
            border-top: 0;
        }

        p {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            margin: 0.5rem 0;
        }

        &:first-child p {
            max-height: 1000px;
        }
    }
}


ul.communications {
    list-style: none;
    padding: 0;
    max-width: 750px;

    .date {
        position: relative;
        text-align: center;
        padding: 0.5rem 0;

        &:before {
            content: '';
            height: 1px;
            width: 100%;
            background-color: $scipost-darkblue;
            display: block;
            position: absolute;
            top: 50%;
            z-index: 1;
        }

        span {
            background-color: $white;
            z-index: 20;
            position: relative;
            padding: 0.35rem;
        }
    }

    .comm {
        position: relative;
        padding: 0.5rem 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    p {
        margin-bottom: 0;
    }

    .header {
        font-weight: 700;
    }

    .datetime {
        display: none;
    }

    .datetime,
    .time {
        max-width: 3rem;
        min-width: 3rem;
        width: 3rem;
        padding: 0;
        color: $scipost-darkblue;
        font-weight: 100;
    }

    &.wide {
        max-width: none;

        .datetime {
            display: block;
        }

        .time,
        .date {
            display: none;
        }

        .datetime {
            font-weight: normal;
            color: $text-muted;
            max-width: 10rem;
            min-width: 10rem;
            width: 10rem;
        }

        .comm {
            margin: 0.25rem 0;
            display: block;
        }

        @media screen and (min-width: 768px) {
            .comm {
                margin: 0;
                display: flex;
            }
        }
    }
}

.actions-list {
    margin-bottom: 0;
}
