.alert-fixed-container {
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.alert .close {
    box-shadow: none;

    // @include hover-focus() {
    //     box-shadow: none;
    // }
}
