// Label variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin label-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include box-shadow($label-box-shadow);
}

@mixin label-outline-variant($color, $color-hover: #fff) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;
}
