/**
 * Navbar
 *
 */

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;

    .separator,
    .nav-link {
        display: inline-block;
	font-size: 0.9rem;
	font-weight: bold;
    }
}

@media (min-width: 992px) {
    .navbar .nav-link {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}

.main-nav {
    background-color: $scipost-blue50;
    letter-spacing: 0.3px;

    .container {
        position: relative;
    }

    .separator {
        color: $white;
        display: none;
    }

    a {
        color: $white;

        &:hover {
            color: $scipost-lightestblue;
            text-decoration: underline;
        }
    }

    .nav-item .dropdown-toggle::after {
        margin-left: 0.2em;
        //vertical-align: 0.1255em;
	font-weight: bold;
    }

    .dropdown-menu {
        min-width: 255px;
        padding: 0.45rem 0.75rem;
        background: $white;
        color: $scipost-darkblue;
        border-color: #e0e0e0;
        top: 36px;
        box-shadow: 0px 1px 2px 0px #e0e0e0;

        .fa {
            display: none;
        }

        a:hover + .fa {
            display: inline;
        }

        .dropdown-item {
            background-color: transparent;
            padding: 0.5rem 0.625rem;
            line-height: 1.5;
            color: $scipost-darkblue;
            white-space: normal;

            a {
                color: $scipost-blue50;
                transition: 0.08s;

                &:hover {
                    color: $scipost-darkblue;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .dropdown-menu {
            &.mega-menu {
                &.mega-menu-2 {
                    width: 700px;
                }

                .row {
                    margin-bottom: 0;
                }

            }
        }
        .full-height-bar {
            z-index: 1;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;

            > .container {
                height: 100%;
            }

            .form-wrapper {
                margin-right: - $grid-gutter-width;
                float: right;
                height: 100%;
                padding: $navbar-padding-y 0.5rem;
                background: #343a40;
            }
        }

        .separator {
            display: inline-block;
        }
    }

    @media (max-width: 991px) {
        text-align: center;

        .dropdown-headline {
            display: none;
        }

        .dropdown-menu {
            background: #7a94c5;
            border: 0;
            box-shadow: none;
            padding: 0.75rem 0 !important;
            margin: 0;
            text-align: center;

            &.mega-menu .row {
                margin-bottom: 0;
            }

            &.mega-menu .col-md-6 {
                flex: auto;
                max-width: 100%;
            }

            .dropdown-item {
                padding-top: 0.75rem 0.625rem;
                white-space: normal;
            }

            .dropdown-item a,
            .dropdown-item a:hover,
            .dropdown-item a:hover i {
                color: $white;
            }

            .dropdown-divider {
                display: none;
            }
        }

        .nav-item {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            //text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .search-form {
        position: relative;

        input {
            border: 1px solid $scipost-darkblue;
            border-radius: 0;
            outline: none;
            padding-right: 5rem;
            box-shadow: none;
        }

        .btn {
            border: 0;
            outline: none;
            color: $scipost-darkblue;
            position: absolute;
            right: 0;
            background: transparent;
            height: 100%;
            width: auto;
            padding: 4px 10px;

            &:hover {
                color: $scipost-lightblue;

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main-nav .search-form input {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

.sub-nav {
    background-color: $breadcrumb-bg;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-toggler {
    margin: 4px 0;
    outline: none !important;
}

.navbar-toggler-icon {
    margin: 2px 0 0 0 ;
    color: $scipost-lightestblue;
}


header .nav-item {
    position: relative;
}

#headerSearchInput {
    background-color: $scipost-darkblue;
    // border: 1px solid $scipost-orange;
    border: 0px;
    color: $white;
}

#session_acad_field_form {

    div #div_id_acad_field_slug {
	margin: 0rem !important;

	#id_acad_field_slug {
	    background-color: $scipost-darkblue;
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	    border: 2px solid $scipost-lightblue;
	    border-radius: 2px;
	    color: $white;
	    min-width: 16em;
	}
    }
}

#session_specialty_form {

    div #div_id_specialty_slug {
	margin: 0rem !important;

	#id_specialty_slug {
	    background-color: $scipost-darkblue;
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	    border: 2px solid $scipost-lightblue;
	    border-radius: 2px;
	    color: $white;
	    min-width: 24rem;
	}
    }
}
