.report {
    ul.clickables {
        display: inline-block;
        list-style: none;
        margin: 0.25rem 0 0 0;
        padding: 0;

        li {
            padding: 0.15rem 0;
        }

        .citation {
            font-style: italic;
        }
    }

    .comment {
        margin-top: 1rem;
    }
}


.ratings {
    background-color: #f4f4f4;
    display: inline-block;
    border: 1px solid #ddd;
    text-transform: capitalize;

    > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
            flex: 100%;
            border: 1px solid #ddd;
            margin: 2px 2px;
            padding: 0.25rem 0.5rem;
            background: $body-bg;
        }
    }
}

@media screen and (min-width: 768px) {
    .ratings {
        > ul {
            li {
                flex: auto;
            }
        }
    }
}

.report-preview {
    .latex-preview {
        border: 1px solid $scipost-darkblue;
        padding: 0.5rem 0.75rem;
        white-space: pre-wrap;
    }

    p {
        word-break: break-all;
    }
}
