table.submission_header {
    width: 100%;
}

.report,
.comment {
    padding-left: 1rem;
    position: relative;
    border: 0.5rem solid #f4f4f4;

    &:before {
        content: '';
        width: 4px;
        height: 100%;
        background: #f4f4f4;
        position: absolute;
        left: 0;
        box-shadow: 0 1px 0 0 $card-shadow-color;
        border: 1px solid;
        border-color: $card-gray-border-color;
        z-index: 1;
        border-radius: $border-radius 0 $border-radius $border-radius;
    }

    .reportid,
    .commentid {
        display: block;
        margin-bottom: 1rem;
        margin-left: calc(-1rem + 3px);
        padding: 0.5rem calc(1rem - 3px);
        background: #f4f4f4;
        border: 1px solid;
        border-color: $card-gray-border-color;
        border-radius: 0 $border-radius $border-radius 0;
        box-shadow: 0 1px 0 0 $card-shadow-color;
        border-left: 0;
        z-index: 99;

        h3 {
            margin: 0.25rem 0;
        }
    }
}

.required-actions {
    padding: 0.5rem;
    background-color: $red;
    color: $white;
    border-radius: $card-border-radius;

    &.no-actions {
        background-color: $green;
    }
}

.submission {
    &.status {
        .prefix,
        .status {
            display: inline-block;
        }
    }
}

.related-publications,
.submission-quick-actions,
.submission-contents {
    border-left: 5px solid $scipost-darkblue;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.related-publications {
    margin-left: $grid-gutter-width / 2;
}

.referee-box {
    border: 1px solid $scipost-darkblue;
    border-left-width: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
}
