/**
 * Type
 *
 */
a {
    color: $scipost-blue50;
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &.muted-link {
        color: inherit;
    }

    &.active {
        font-weight: bold;
    }
}
a:hover {
    color: $scipost-darkblue;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: none;

    &.title {
        margin-bottom: 0.25rem;
    }

    &.sub-title {
        color: $gray-500;
        margin-bottom: 1.25rem;
    }
}

h1 > a {
    color: $scipost-darkblue;
}

.text-black {
    color: $scipost-darkblue;
}

.text-underline {
    text-decoration: underline;
}

.orange-underline {
    line-height: 1.3;
    border-bottom: 2px solid $scipost-orange;
    padding-bottom: 0.75rem;
}

.fw-light {
    font-weight: 300;
}

.highlight {
    background-color: $gray-100;
    border-radius: $card-border-radius;
    border: $card-border-width solid $card-border-color;

    &.tight {
        display: inline-block;
        padding: 3px 5px;
    }
}
.highlight-inline {
    padding: 0.15rem 0.3rem;
    background-color: #f4f4f4;
    border-radius: 0.15rem;
    color: #6884C2;
}

.highlight,
.highlight-empty {
    margin: 10px 0;
}

h1.highlight,
h1.highlight-empty,
h2.highlight,
h2.highlight-empty {
    padding: 15px;
}

h3.highlight,
h3.highlight-empty {
    padding: 10px 15px;
}

h5,
.h5 {
    font-weight: 300;
    // text-transform: uppercase;
    letter-spacing: 0.5px;
}

hr,
hr.hr12 {
    height: 2px;
    border: 0;
    background: rgb(0, 43, 73);
    margin-bottom: 1rem;
    border-radius: 99px;
    box-shadow: 0 1px 0 0 #d3e3f6;
    width: 100%;

    &.small {
        height: 1px;
    }

    &.divider {
        height: 10px;
        border-radius: 0;
        background-color: $body-bg;
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        box-shadow: none;
        width: auto;
    }
}

hr.sm,
hr.lg {
    height: 0;
    background: none;
    box-shadow: none;
    margin: 1rem 0;
    box-sizing: content-box;
    border-radius: 0;
}

hr {
    &.sm {
        border-top: 1px solid rgba(0,0,0,.1);
    }

    &.lg {
        height: 5px;
        background-color: $scipost-darkblue;
        border-radius: 3px;
    }
}

.text-blue {
    color: $scipost-lightblue;
}

.blockquote > p:last-child {
    margin-bottom: 0;
}

.fa {
    min-width: 10px;
    display: inline-block;
}
.fa[data-bs-toggle="tooltip"] {
    font-size: 1.5em;
}

p {
    line-height: 1.25rem;
}

a.disabled {
    text-decoration: line-through;
}

.active-bold.active {
    font-weight: bold;
    text-decoration: underline;

}
