
.banner {
    background-color: $scipost-darkblue;
    padding: 0.75rem 1rem;
    border-radius: 1px;
    width: 100%;
    text-align: left;

    a {
        color: $scipost-orange;
    }
}

.journal-sub-head {
    .links {
        background-color: #eee;
        border-radius: $card-border-radius;
        border: 1px solid #e0e0e0;
        padding: 5px;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        a {
            padding: 5px 15px;
            display: inline-block;
            font-size: 110%;

            &.active {
                color: $scipost-darkblue;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0 1px 0 0 #ddd;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .journal-sub-head {
        .links {
            flex-direction: row;
        }
    }
}
