<div class="p-2">
  <div class="row mb-0">
 
    <div id="profile-{{ nomination.profile.id }}-specialties"
         class="border border-danger mb-4 d-none-empty"></div>

    <div class="col-12 col-md mb-3">
      <div class="card">
        <div class="card-header">Details</div>
        <div class="card-body p-0">
          <table class="table mb-0">
            <tr>
              <td>Field</td>
              <td>{{ nomination.profile.acad_field }}</td>
            </tr>
            <tr>
              <td>Specialties</td>
              <td id="profile-{{ nomination.profile.id }}-specialties-code-display">

                {% include "profiles/_hx_profile_specialty_codes_edit.html" with profile=nomination.profile %}

              </td>
            </tr>
            <tr>
              <td>ORCID ID</td>
              <td>

                {% if nomination.profile.orcid_id %}
                  <a href="//orcid.org/{{ nomination.profile.orcid_id }}"
                     target="_blank"
                     rel="noopener">{{ nomination.profile.orcid_id }}</a>
                {% else %}
                  unknown
                {% endif %}

              </td>
            </tr>
            <tr>
              <td>Webpage</td>
              <td>

                {% if nomination.profile.webpage %}
                  <a href="{{ nomination.profile.webpage }}"
                     target="_blank"
                     rel="noopener">{{ nomination.profile.webpage }}</a>
                {% else %}
                  unknown
                {% endif %}

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-md mb-3">
      <div class="card">
        <div class="card-header">Publications in SciPost Journals</div>
        <div class="card-body">
          <ul>

            {% for pub in nomination.profile.publications.all %}
              <li>
                <a href="{{ pub.get_absolute_url }}">{{ pub.citation }}</a>
              </li>
            {% empty %}
              <li>No Publication found</li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Affiliations</div>
        <div class="card-body p-0">
          {% include 'profiles/_affiliations_table.html' with profile=nomination.profile actions=False %}
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-0">

    {% comment %} or "active_senior_fellow" in user_roles  {% endcomment %}

    {% if "edadmin" in user_roles %}
      <div class="col-12 col-md mb-3">
        <details class="card">
          <summary class="card-header d-flex flex-row justify-content-between list-triangle">
            <span>Events</span>
            <span>({{ nomination.events.all.count }})</span>
          </summary>
          <div class="card-body">{% include 'colleges/_nomination_events_table.html' with nomination=nomination %}</div>
        </details>
      </div>
    {% endif %}

    <div class="col-12 col-md mb-3">
      <details class="card">
        <summary class="card-header d-flex flex-row justify-content-between list-triangle">
          <span>Comments</span>
          <span>({{ nomination.comments.all.count }})</span>
        </summary>
        <div class="card-body">
          <div class="p-3">

            {% if nomination.nominator_comments %}
              <div class="row">
                <div class="fs-6">Nominator comments:</div>
                <div>
                  <em>{{ nomination.nominator_comments }}</em>
                </div>
              </div>
              <hr class="text-muted" />
            {% endif %}

            <div id="nomination-{{ nomination.id }}-comments"
                 hx-get="{% url 'colleges:_hx_nomination_comments' nomination_id=nomination.id %}"
                 hx-trigger="intersect once"></div>
          </div>
        </div>
      </details>

    </div>
  </div>

  <details open class="card">
    <summary class="card-header list-triangle">Voting Rounds</summary>
    <div class="card-body">
      <div hx-get="{% url 'colleges:_hx_nomination_voting_rounds_tab' nomination_id=nomination.id round_id=nomination.latest_voting_round.id|default:0 %}"
           hx-trigger="intersect once"></div>
    </div>
  </details>
 
</div>
