{% load crispy_forms_tags %}
{% load automarkup %}

<div id="nomination-{{ voting_round.id }}-decision">

  {% if voting_round.decision %}

    {% if voting_round.decision.outcome == 'elected' %}
      <div class="badge fs-5 mb-2 bg-success">{{ voting_round.decision.get_outcome_display }}</div>
    {% elif voting_round.decision.outcome == 'notelected' %}
      <div class="badge fs-5 mb-2 bg-danger">{{ voting_round.decision.get_outcome_display }}</div>
    {% endif %}

    {% if voting_round.decision.comments %}
      <h4>Decision comments</h4>
      <p>{{ voting_round.decision.comments }}</p>
    {% endif %}

  {% else %}

    {% if "edadmin" in user_roles %}

      {% if not voting_round.is_open %}
        {% with blocks=voting_round.decision_blocks %}

          {% if blocks %}
            <p>The decision cannot be fixed at this moment: {{ blocks }}</p>
          {% else %}
            <form hx-post="{% url 'colleges:_hx_nomination_decision_form' round_id=voting_round.id %}"
                  hx-target="#nomination-{{ voting_round.id }}-decision">
              {% crispy decision_form %}
            </form>
          {% endif %}

 
        {% endwith %}
      {% else %}
        <p class="text-warning">The voting round is still open. You many not draft a decision yet.</p>
      {% endif %}

    {% else %}
      <p class="text-warning">No decision has been formulated yet.</p>
    {% endif %}

  {% endif %}

</div>
