<div class="row mb-0">
  <div class="col-12 col-md">
    <div class="row">
 
      <div class="col">
        <div class="fs-6">{{ nomination.profile }}</div>
        <div class="d-none d-md-block">(click for details)</div>
      </div>
 
      <div class="col-auto">
        <div class="row justify-content-between">
          <small class="col text-muted text-nowrap">Editorial college</small>
          <div class="col-auto">{{ nomination.college.name }}</div>
        </div>
      </div>

    </div>
  </div>

  <div class="col col-md-6 col-lg-5">

    {% if nomination.latest_voting_round %}
      {% include "colleges/_hx_voting_round_summary.html" with round=nomination.latest_voting_round %}
    {% else %}
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="badge bg-danger fs-6">No rounds created yet</div>
      </div>
    {% endif %}

  </div>

 
</div>
