<div class="border border-dark">
  <details id="nomination-{{ nomination.id }}-li-details">
    <summary class="bg-light p-2">
      {{ nomination.profile }}
      <span class="float-end">
	{{ nomination.college }}
	&emsp;{{ nomination.nominated_on|date:"Y-m-d" }}
	<span class="ms-4">Outcome:</span>
	{% if nomination.decision %}
	  {{ nomination.decision.get_outcome_display }}
	{% else %}
	  pending
	{% endif %}
      </span>
    </summary>

    <div id="nomination-{{ nomination.id }}-li-contents"
	 hx-get="{% url 'colleges:_hx_nomination_li_contents' nomination_id=nomination.id %}"
	 hx-trigger="toggle from:#nomination-{{ nomination.id }}-li-details"
    >
    </div>
  </details>
</div>
