<div class="row">
  <div class="col-12 col-md">
    <h3>Cast your vote:</h3>

    {% for vote_option, color in vote_options %}

      <form hx-post="{% url 'colleges:_hx_nomination_vote' voting_round_id=voting_round.id %}"
            hx-target="#nomination-{{ voting_round.nomination.id }}-vote">
        {% csrf_token %}
        <input type="hidden" name="vote" value="{{ vote_option }}" />
        <button class="btn d-flex justify-content-between align-items-center w-100 mb-2 bg-{{ color }} text-white">
          <div>{{ vote_option|title }}</div>

          {% if vote_object.vote == vote_option %}
            {% include 'bi/check-square-fill.html' %}
          {% endif %}

        </button>
      </form>

    {% endfor %}


  </div>
</div>
