{% load crispy_forms_tags %}

<div class="row">
  <div class="col">
    <h3>Eligible voters</h3>
    <div id="nomination-{{ nomination.id }}-round-{{ voting_round.id }}-votes"
         hx-get="{% url 'colleges:_hx_nomination_voter_table' round_id=voting_round.id %}"
         hx-trigger="intersect once"></div>
  </div>

  {% if "edadmin" in user_roles and not voting_round.is_closed %}
    <div class="col-4">
      <h4>Add new voter</h4>
      <h4>Add senior fellows</h4>
      <button type="button" class="mb-2 btn btn-primary btn-sm">With specialty overlap</button>
      <button type="button" class="mb-2 btn btn-warning text-white btn-sm">ALL seniors</button>
      {{ form }}
    </div>
  {% endif %}

</div>

{% if voting_round.is_closed %}
  <div class="row mb-0">
    <div class="col-12 col-md mt-3">
      <h3>Decision</h3>
 
      <div hx-get="{% url 'colleges:_hx_nomination_decision_form' round_id=voting_round.id %}"
           hx-trigger="intersect once"></div>
 
    </div>
    <div class="col-auto mt-3">{% include "colleges/_voting_results_box.html" with voting_round=voting_round %}</div>
  </div>
{% elif "edadmin" in user_roles %}
  <div class="col-12">
    <h4>Start round</h4>
    {% crispy round_start_form %}
  </div>
{% endif %}
