{% load crispy_forms_tags %}

<div class="row mb-0">
  <div class="col mb-3">
    <h3>Eligible voters</h3>
    <div id="nomination-{{ voting_round.nomination.id }}-round-{{ voting_round.id }}-voters"
         hx-get="{% url 'colleges:_hx_nomination_voter_table' round_id=voting_round.id %}"
         hx-trigger="intersect once"></div>
  </div>

  <div class="col-auto d-flex flex-column justify-content-between">

    {% if not voting_round.is_closed %}

      {% if "edadmin" in user_roles %}
 
        <div>
          <h4>Add new voter</h4>
          <form hx-post="{% url 'colleges:_hx_fellowship_dynsel_list' %}"
                hx-trigger="keyup delay:200ms, change"
                hx-target="#nomination-{{ voting_round.nomination.id }}_round-{{ voting_round.id }}_add_voter_results">
            <div id="nomination-{{ voting_round.nomination.id }}_round-{{ voting_round.id }}_add_voter_form">
              {% crispy voter_add_form %}
            </div>
          </form>
          <div id="nomination-{{ voting_round.nomination.id }}_round-{{ voting_round.id }}_add_voter_results"></div>
        </div>

        <div>
          <h5>Add senior fellows</h5>
          <button type="button"
                  class="mb-2 btn btn-primary btn-sm"
                  hx-get="{% url 'colleges:_hx_nomination_round_add_eligible_voter_set' round_id=voting_round.id  voter_set_name='with_specialty_overlap' %}"
                  hx-target="#nomination-{{ voting_round.nomination.id }}-round-{{ voting_round.id }}-voters">
            With specialty overlap
          </button>
          <button type="button"
                  class="mb-2 btn btn-warning text-white btn-sm"
                  hx-get="{% url 'colleges:_hx_nomination_round_add_eligible_voter_set' round_id=voting_round.id  voter_set_name='all_seniors' %}"
                  hx-target="#nomination-{{ voting_round.nomination.id }}-round-{{ voting_round.id }}-voters">
            ALL seniors
          </button>
        </div>

      {% elif session_fellowship and session_fellowship in voting_round.eligible_to_vote.all %}

        <div id="nomination-{{ voting_round.nomination.id }}-vote"
             class="col-12 col-md-4"
             hx-get="{% url 'colleges:_hx_nomination_vote' voting_round_id=voting_round.id %}"
             hx-trigger="intersect once"></div>

      {% endif %}

    {% else %}
      <div>{% include "colleges/_voting_results_box.html" with voting_round=voting_round %}</div>
 

      {% if voting_round.decision %}
        <div>
          <h3>Decision</h3>

          {% if voting_round.decision.outcome == 'elected' %}
            <div class="badge fs-5 mb-2 bg-success">{{ voting_round.decision.get_outcome_display }}</div>
          {% elif voting_round.decision.outcome == 'notelected' %}
            <div class="badge fs-5 mb-2 bg-danger">{{ voting_round.decision.get_outcome_display }}</div>
          {% endif %}

          {% if voting_round.decision.comments %}
            <h4 class="mt-2">Decision comments</h4>
            <span>{{ voting_round.decision.comments }}</span>
          {% endif %}
        {% endif %}

      </div>
    {% endif %}

  </div>
</div>

{% if "edadmin" in user_roles %}

  {% if not voting_round.is_closed %}

    <div class="col-12">
      <h4>Start round</h4>
      {% crispy round_start_form %}
    </div>

  {% elif voting_round.is_closed and not voting_round.decision %}

    <div hx-get="{% url 'colleges:_hx_nomination_decision_form' round_id=voting_round.id %}"
         hx-trigger="intersect once"></div>

  {% endif %}

{% endif %}
