{% for nomination in page_obj %}
  <li class="p-2 mb-2" id="nomination_{{ nomination.id }}">
    {% include 'colleges/_hx_nomination_li.html' with nomination=nomination %}
  </li>
{% empty %}
  <li>No Nomination could be found</li>
{% endfor %}
{% if page_obj.has_next %}
  <li hx-post="{% url 'colleges:_hx_nominations' %}?page={{ page_obj.next_page_number }}"
      hx-include="#search-form"
      hx-trigger="revealed"
      hx-swap="afterend"
      hx-indicator="#indicator-search-page-{{ page_obj.number }}"
  >
    <div id="indicator-search-page-{{ page_obj.number }}" class="htmx-indicator p-2">
      <button class="btn btn-warning" type="button" disabled>
	<strong>Loading page {{ page_obj.next_page_number }} out of {{ page_obj.paginator.num_pages }}</strong>
	<div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
      </button>
    </div>
  </li>
{% endif %}
