{% if round.eligible_to_vote.all %}
  <table class="table">
    <thead class="table-light">
      <tr>
        <th>Fellow</th>
        <th>College</th>
        <th>Specialties</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for voter in round.eligible_to_vote.all %}
        <tr class="align-middle">
          <td>{{ voter.contributor }}</td>
          <td>{{ voter.college.name }}</td>
          <td>

            {% for specialty in voter.contributor.profile.specialties.all %}
              <div class="single d-inline 
                {% if specialty in nominee_specialties %}text-success{% endif %}
                 " data-specialty="{{ specialty.slug }}" data-bs-placement="bottom" title="{{ specialty }}">
                {{ specialty.code }}
              </div>
            {% endfor %}


          </td>
          <td>{{ voter.get_status_display }}</td>
          {% comment %} Actions {% endcomment %}
          <td class="text-end">
            <a class="btn btn-sm btn-danger"
               role="button"
               hx-get="{% url 'colleges:_hx_nomination_round_remove_voter' round_id=round.id voter_id=voter.id %}"
               hx-target="closest tr"><small>{% include 'bi/trash-fill.html' %}</small></a>
          </td>
        </tr>
      {% endfor %}


    </tbody>
  </table>
{% else %}
  <p class="text-danger">No eligible voters found.</p>
{% endif %}
