<div class="p-2">
  <ul class="mb-0 list-group list-group-flush">

    <li class="list-group-item p-2">

      {% if not invitation.nomination.profile.contributor %}
        <span class="text-danger">{% include 'bi/x-square-fill.html' %}</span>
        <span>&nbsp;This nominee is not yet registered as a Contributor.</span>
      {% else %}
        <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>
        <span>&nbsp;This nominee has a Contributor account.</span>
      {% endif %}

    </li>

    <li class="list-group-item p-2">

      {% if invitation.response == 'notyetinvited' %}
        <span class="text-danger">{% include 'bi/x-square-fill.html' %}</span>
        <span>&nbsp;This nominee is elected, but not yet invited.</span>
        <a class="btn btn-sm btn-primary"
           href="{% url 'colleges:fellowship_invitation_email_initial' pk=invitation.id %}">Invite</a>
      {% elif invitation.response == 'accepted' or invitation.response == 'postponed' %}
        <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>
        <span>&nbsp;This nominee has accepted to become a fellow.</span>
      {% else %}
        <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>
        <span>&nbsp;This nominee has been invited to serve as a Fellow.</span>
        <a class="btn btn-sm btn-secondary"
           href="{% url 'colleges:fellowship_invitation_email_reminder' pk=invitation.id %}">Reinvite</a>
      {% endif %}

    </li>


    {% if invitation.response == 'accepted' or invitation.response == 'postponed' %}
      <li class="list-group-item p-2">

        {% if not invitation.nomination.fellowship %}
          <span class="text-danger">{% include 'bi/x-square-fill.html' %}</span>
          <span>&nbsp;This nominee has no associated Fellowship with this college.</span>
          <div>

            {% if invitation.nomination.profile.contributor %}
              <a href="{% url 'colleges:fellowship_create' contributor_id=invitation.nomination.profile.contributor.id %}"
                 target="_blank">Set up a Fellowship</a>
            {% else %}
              <a class="text-muted pe-none">Set up a Fellowship (active once registered)</a>
            {% endif %}

          </div>
        {% else %}
          <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>
          <span>&nbsp;A <a href="{{ invitation.nomination.fellowship.get_absolute_url }}">Fellowship</a> has been created from this nomination.</span>
        {% endif %}

      </li>

      {% if invitation.nomination.fellowship %}
        <li class="list-group-item p-2">
 

          {% if not start_email_sent %}
            <span class="text-primary">{% include 'bi/question-square-fill.html' %}</span>
            <span>&nbsp;Uncertain whether a nomination start email has been sent.</span>
            <div>
              <a href="{% url 'colleges:fellowship_email_start' pk=nomination.fellowship.id %}"
                 target="_blank">Send Fellowship start email</a>
            </div>
          {% else %}
            <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>
            <span>&nbsp;Nomination start email has been sent.</span>
          {% endif %}

        </li>
      {% endif %}
    {% endif %}

  </ul>
</div>
