<div class="p-2">
  <ul class="mb-0">

    {% if not invitation.nomination.profile.contributor %}

      <li class="text-danger">N.B.: this nominee is not yet registered as a Contributor</li>

    {% else %}

      <li>
        <span class="text-success">{% include 'bi/check-square-fill.html' %}</span>&nbsp;This nominee has a Contributor account
      </li>

    {% endif %}

    {% if selected == 'notyetinvited' %}

      <li class="text-danger">This nominee is elected, but not yet invited.</li>
      <a class="btn btn-primary"
         href="{% url 'colleges:fellowship_invitation_email_initial' pk=invitation.id %}">Invite nominee</a>

    {% elif selected == 'accepted' %}

      <li>
        Accepted to serve as Fellow but not currently active in a College? <a href="{% url 'colleges:fellowship_create' contributor_id=invitation.nomination.profile.contributor.id %}"
    target="_blank">Set up a Fellowship</a>
      </li>

    {% endif %}

  </ul>
</div>
