{% extends 'colleges/base.html' %}

{% load static %}
{% load scipost_extras %}
{% load colleges_extras %}
{% load add_get_parameters %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:colleges' %}" class="breadcrumb-item">Colleges</a>
  <span class="breadcrumb-item">{{ college }}</span>
{% endblock %}

{% block meta_description %}{{ block.super }} College detail {{ college }}{% endblock meta_description %}
{% block pagetitle %}: {{ college }}{% endblock pagetitle %}

{% block content %}

  {% if perms.scipost.can_manage_college_composition %}
    <div class="adminLinks">
      <h3>Links for users with permission <em>scipost.can_manage_college_composition</em>:</h3>
      <ul>
	<li><a href="{% url 'colleges:potential_fellowships' %}">Potential Fellowships</a></li>
	<li><a href="{% url 'colleges:fellowships' %}">Fellowships</a></li>
	<li><a href="{% url 'colleges:email_College_Fellows' college=college.slug %}">Email Fellows of this College</a></li>
      </ul>
    </div>
  {% endif %}


  <h2 class="highlight">{{ college }}</h2>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" data-bs-toggle="toggle-show" data-target="#specialties-{{ college.acad_field }}">Select by specialty</button>
      <button class="btn btn-primary" style="display: none;" data-bs-toggle="toggle-show" data-target="#specialties-{{ college.acad_field }}">Show full list of Fellows</button>
      <div id="specialties-{{ college.acad_field }}" class="card bg-white border-default all-specialties mt-2" style="display: none">
	<div class="card-body">
	  <p><em class="text-muted mt-2">Hover to highlight or click to select</em></p>

	  <div class="row">
	    <div class="col-md-6">
	      {% for specialty in college.specialties.all %}
		<div class="specialty m-1" data-specialty="{{ specialty.slug }}">{{ specialty.code }} - {{ specialty }}</div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      [S] denotes a Senior Fellow
    </div>
  </div>

  <div class="row search-contributors" data-contributors="{{ college.acad_field.slug }}">
    <div class="col-12">
      <div class="card-columns">
	{% for fellowship in college.fellowships.active %}
	  <div class="card contributor mb-1">
	    {% include 'scipost/_contributor_short.html' with fellowship=fellowship %}
	  </div>
	{% endfor %}
      </div>
    </div>
  </div>


{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  <script src="{% static 'colleges/colleges.js' %}"></script>
{% endblock %}
