{% extends 'colleges/base.html' %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:colleges' %}" class="breadcrumb-item">Colleges</a>
  <a href="{% url 'colleges:fellowships' %}" class="breadcrumb-item">Fellowships</a>
  <span class="breadcrumb-item">Fellowship details</span>
{% endblock %}

{% block pagetitle %}: Fellowship details{% endblock pagetitle %}

{% block content %}
  <h1 class="highlight">Fellowship details</h1>
  <h2 class="text-primary">{{ fellowship }}</h2>
  <br>

  <div class="row">
    <div class="col-md-6">
      <h3>Details</h3>

      <table class="table">
        <tbody>
          <tr>
            <th>Fellowship ID</th>
            <td>{{ fellowship.id }}</td>
          </tr>
          <tr>
            <th>Fellow</th>
            <td>{{ fellowship }}</td>
          </tr>
          <tr>
            <th>Academic field</th>
            <td>{{ fellowship.contributor.profile.acad_field }}</td>
          </tr>
          <tr>
            <th>Start date</th>
            <td>{{ fellowship.start_date|default:'<i>No start date</i>' }}</td>
          </tr>
          <tr>
            <th>End date</th>
            <td>{{ fellowship.until_date|default:'<i>No end date</i>' }}</td>
          </tr>
          <tr>
            <th>Pool size</th>
            <td>{{ fellowship.pool.count }}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{ fellowship.guest|yesno:"Guest fellowship,Regular fellowship"|safe }}</td>
          </tr>
        </tbody>
      </table>

      <p>
	<a href="{% url 'colleges:fellowship_update' fellowship.id %}" class="btn btn-info ms-2">Update this Fellowship</a><br/>
	<small>[hint: to terminate it, just set the <em>until_date</em> to today]</small>
      </p>
    </div>

    <div class="col-md-6">
      <div class="adminLinks">
	<h3>Admin actions</h3>
	<ul>
	  <li>After initial setup: <a href="{% url 'colleges:fellowship_email_start' pk=fellowship.id %}">send Fellowship start email</a></li>
	</ul>
      </div>

      <h3>All fellowships of this fellow</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Fellowship ID</th>
            <th>Type</th>
            <th colspan="2">Date range</th>
          </tr>
        </thead>
        <tbody>
          {% for fship in fellowship.sibling_fellowships %}
            <tr>
              <td>{{ fship.id }}</td>
              <td>{{ fship.guest|yesno:"Guest fellowship,Regular fellowship"|safe }}</td>
              <td>
                {% if fship.start_date %}
                  from {{ fship.start_date }}
                {% endif %}
                {% if fship.until_date %}
                  until {{ fship.until_date }}
                {% endif %}
                {% if not fship.start_date and not fship.until_date %}
                  <i>Unlimited</i>
                {% endif %}
              </td>
              <td>{% if fship.id != fellowship.id %}<a href="{{ fship.get_absolute_url }}">See details</a>{% else %}(this page){% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'colleges:fellowship_create' contributor_id=fellowship.contributor.id %}">Add new Fellowship for {{ fellowship.contributor }}</a>
    </div>
  </div>

  {% if fellowship.guest %}
    <h3>Proceedings this Guest Fellowship is assigned to</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th>Issue</th>
          <th>Submissions Open</th>
          <th>Submissions Deadline</th>
          <th>Submissions Close</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for proceedings in fellowship.proceedings.all %}
          <tr>
            <td>{{ proceedings.event_name }}</td>
            <td><a href="{{ proceedings.get_absolute_url }}">{{ proceedings.issue }}</a></td>
            <td>{{ proceedings.submissions_open }}</td>
            <td>{{ proceedings.submissions_deadline }}</td>
            <td>{{ proceedings.submissions_close }}</td>
            <td><a class="text-danger" href="{% url 'colleges:fellowship_remove_proceedings' fellowship.id proceedings.id %}">Remove Proceedings</a></td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="6" class="py-3 text-center"><a href="{% url 'colleges:fellowship_add_proceedings' fellowship.id %}">Add Proceedings to Guest Fellowship</a></td>
        </tr>
      </tbody>
    </table>
  {% endif %}

  <h3 class="highlight">Assignments</h3>
  <div class="row">
    <div class="col-12">
      <h4>Ongoing:</h4>
    </div>
    <div class="col-12">
      <ul class="list-group list-group-flush">
        {% for assignment in fellowship.contributor.editorial_assignments.ongoing %}
          <li class="list-group-item">
            <div class="card-body px-0">
              {% include 'submissions/_submission_card_content.html' with submission=assignment.submission %}
              {% include 'submissions/_submission_status.html' with submission=assignment.submission %}
            </div>
          </li>
        {% empty %}
          <li class="list-group-item">No ongoing assignments</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-12 mt-4">
      <h4>Completed</h4>
    </div>

    <div class="col-12">
      <ul class="list-group list-group-flush">
        {% for assignment in fellowship.contributor.editorial_assignments.completed %}
          <li class="list-group-item">
            <div class="card-body px-0">
              {% include 'submissions/_submission_card_content.html' with submission=assignment.submission %}
              {% include 'submissions/_submission_status.html' with submission=assignment.submission %}
            </div>
          </li>
        {% empty %}
          <li class="list-group-item">No completed assignments</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <h3 class="highlight">Pool for this Fellowship</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Submission</th>
        <th colspan="2">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for submission in fellowship.pool.all %}
        <tr>
          <td>
            <a href="{{ submission.get_absolute_url }}">{{ submission.preprint.identifier_w_vn_nr }}, {{ submission.title|truncatechars:50 }}</a>
          </td>
          <td>{{ submission.get_status_display }}</td>
          <td>
            {% if submission.editor_in_charge == fellowship.contributor %}
              <strong>Fellow is Editor-in-charge</strong>
            {% else %}
              <a class="text-danger" href="{% url 'colleges:fellowship_remove_submission' fellowship.id submission.preprint.identifier_w_vn_nr %}">Remove from this Fellowship's pool</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="3" class="py-3 text-center"><a href="{% url 'colleges:fellowship_add_submission' fellowship.id %}">Add Submission to this Fellowship's pool</a></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
