{% extends 'colleges/base.html' %}
{% load user_groups %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:colleges' %}" class="breadcrumb-item">Colleges</a>
  <span class="breadcrumb-item">Nominations</span>
{% endblock %}

{% block meta_description %}
  {{ block.super }} Nominations
{% endblock meta_description %}

{% block pagetitle %}
  : Nominations
{% endblock pagetitle %}

{% block content %}
  {% is_ed_admin request.user as is_ed_admin %}
  <h1 class="highlight">Fellowship Nominations</h1>
  <p>
    Consult the
    <a href="{% url 'submissions:monitor' %}" target="_blank">Submissions Monitor</a> page.
    Any <span class="text-danger">red-highlighted</span>
    specialty is in need of more Fellows&nbsp;
    {% include 'bi/arrow-right.html' %}
    &nbsp;<strong>Help out by nominating candidates!</strong>
  </p>

  <div id="new-nomination-container"></div>

  <details id="nominations-filter-details" class="card my-4">
    <summary class="card-header d-flex flex-row align-items-center justify-content-between list-triangle">
      <div class="fs-3">Search / Filter</div>
      <div class="d-none d-md-flex align-items-center">
 
        <div id="indicator-search-nominations" class="htmx-indicator">
          <button class="btn btn-warning text-white d-none d-md-block me-2"
                  type="button"
                  disabled>
            <strong>Loading...</strong>
 
            <div class="spinner-grow spinner-grow-sm ms-2"
                 role="status"
                 aria-hidden="true"></div>
          </button>
        </div>

        <button class="btn btn-outline-secondary me-2"
                type="button"
                hx-get="{% url 'colleges:_hx_nominations_search_form' filter_set="empty" %}"
                hx-target="#nominations-search-form-container">Clear Filters</button>
 
        <button class="btn btn-success me-2 text-white"
                type="button"
                hx-get="{% url 'colleges:_hx_nominations_new' %}"
                hx-trigger="click"
                hx-target="#new-nomination-container">
          {% include "bi/plus-square.html" %}
          &nbsp;Add New
        </button>
 
        <a id="refresh-button" class="me-2 btn btn-primary">
          {% include "bi/arrow-clockwise.html" %}
        &nbsp;Refresh</a>
      </div>

    </summary>
    <div class="card-body">
      <div id="nominations-search-form-container"
           hx-get="{% url 'colleges:_hx_nominations_search_form' filter_set='default' %}"
           hx-trigger="load, intersect once"></div>
    </div>
  </details>

  <div id="search-nominations-results" class="mt-2"></div>
  <div id="indicator-nominations-search-page" class="htmx-indicator p-2">
    <button class="btn btn-warning" type="button" disabled>
      <strong>Loading</strong>
      <div class="spinner-grow spinner-grow-sm ms-2"
           role="status"
           aria-hidden="true"></div>
    </button>
  </div>

{% endblock content %}
