{% extends 'colleges/base.html' %}

{% load bootstrap %}
{% load scipost_extras %}
{% load colleges_extras %}
{% load static %}


{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item"><a href="{% url 'colleges:colleges' %}">Colleges</a></span>
  <span class="breadcrumb-item">Potential Fellowships</span>
{% endblock %}

{% block pagetitle %}: Potential Fellowships{% endblock pagetitle %}

{% block content %}

  <h1 class="highlight">Potential Fellowships</h1>
  {% if perms.scipost.can_add_potentialfellowship %}
    <div class="row">
      <div class="col-12">
        <h3 class="highlight">Nominations</h3>
        <p>
          Do you know somebody qualified who could serve as a Fellow?<br/>
          Nominate them by <a href="{% url 'colleges:potential_fellowship_create' %}">adding a Potential Fellowship</a>.
        </p>

      </div>
    </div>

    {% if potfels_to_vote_on or potfels_voted_on %}
      <div class="row">
	<div class="col-12">
          <h3 class="highlight">Ongoing elections</h3>
          {% if potfels_to_vote_on %}
            <h4>Nominations to vote on:</h4>
            <div>
              {% include 'colleges/_potentialfellowship_voting_table.html' with potfels_list=potfels_to_vote_on %}
            </div>
          {% endif %}
          {% if potfels_voted_on %}
            <h4>Nominations you have already voted on (you can revise your vote if you wish):</h4>
            <div>
              {% include 'colleges/_potentialfellowship_voting_table.html' with potfels_list=potfels_voted_on %}
            </div>
          {% endif %}
	</div>
      </div>
    {% endif %}
  {% endif %}

  <table class="table table-bordered table-secondary">
    <thead class="table-dark">
      <tr>
	<th><h3>Branch of Science</h3></th>
	<th><h3>Fields<br><small><em>(click to see list of Fellows)</em></small></h3></th>
      </tr>
    </thead>
    <tbody>
      {% for branch in branches %}
	{% if branch.name != 'Multidisciplinary' %}
	  <tr>
	    <td class="align-middle">
	      {{ branch.name }}
	    </td>
	    <td>
	      <ul class="d-inline-block list-inline mb-0">
		{% for acad_field in branch.academic_fields.all %}
		  <li class="list-inline-item m-1">
		    <div class="dropdown">
		      <button class="btn btn-primary dropdown-toggle py-1 px-2" type="button" id="dropdownMenuButton{{ acad_field.slug }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small>{{ acad_field }}</small></button>
		      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ acad_field.slug }}">
			<a class="dropdown-item" href="{% url 'colleges:potential_fellowships' acad_field=acad_field.slug %}"><small>View all in {{ acad_field }}</small></a>
			{% for specialty in acad_field.specialties.all %}
			  <a class="dropdown-item" href="{% url 'colleges:potential_fellowships' acad_field=acad_field.slug specialty=specialty.slug %}"><small>{{ specialty }}</small></a>
			{% endfor %}
		      </div>
		    </div>
		  </li>
		{% endfor %}
	      </ul>
	    </td>
	  </tr>
	{% endif %}
      {% endfor %}
    </tbody>
  </table>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonStatus" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by status</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonStatus">
      <a class="dropdown-item" href="">View all</a>
      {% for status in statuses %}
        <a class="dropdown-item" href="?status={{ status.0 }}">{{ status.1 }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="mt-2">
    <ul class="list-inline">
      <li class="list-inline-item">Last name startswith:</li>
      <li class="list-inline-item">
	<form action="" method="get">{{ searchform }}
	  {% if request.GET.field %}
	    <input type="hidden" name="field" value="{{ request.GET.field }}">
	    {% if request.GET.specialty %}
	      <input type="hidden" name="specialty" value="{{ request.GET.specialty }}">
	    {% endif %}
	  {% endif %}
	  <input class="btn btn-outline-secondary" type="submit" value="Search">
	</form>
      </li>
    </ul>
  </div>


  <div class="row">
    <div class="col-12">
      {% if view.kwargs.acad_field or request.GET.status or request.GET.text %}
	<h3>Potential Fellowships
	  {% if view.kwargs.acad_field %}in {{ view.kwargs.acad_field }}
	    {% if view.kwargs.specialty %}, {{ view.kwargs.specialty }}{% endif %}
	  {% endif %}
	  {% if request.GET.status %} with status {{ request.GET.status }}{% endif %}
	  {% if request.GET.text %} with last name starting with {{ request.GET.text }}{% endif %}:</h3>
	<br/>
      {% endif %}
      <table class="table table-hover mb-5">
	<thead class="table-light">
	  <tr>
	    <th>Name</th>
	    <th>Field<br/><span class="text-muted">Specialties</span></th>
	    <th>For College</th>
	    <th>Status</th>
	    <th>Latest event</th>
	  </tr>
	</thead>
	<tbody>
	  {% for potfel in object_list %}
	    <tr class="table-row" data-href="{% url 'colleges:potential_fellowship_detail' pk=potfel.id %}" style="cursor: pointer;">
	      <td>{{ potfel.profile.last_name }}, {{ potfel.profile.get_title_display }} {{ potfel.profile.first_name }}</td>
	      <td>{{ potfel.profile.acad_field }}
		<br/>
		{% for specialty in potfel.profile.specialties.all %}
		  <div class="single d-inline text-muted" data-specialty="{{ specialty.slug }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
		{% endfor %}
	      </td>
	      <td>{{ potfel.college }}</td>
	      <td style="color: #ffffff; background-color:{{ potfel.status|potfelstatuscolor }};">{{ potfel.get_status_display }}<br/><small>{% voting_results_display potfel %}</small></td>
	      <td>{{ potfel.latest_event_details }}</td>
	    </tr>
	  {% empty %}
	    <tr>
	      <td colspan="5">No Potential Fellowships found</td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>

      {% if is_paginated %}
	<div class="col-12">
	  {% include '_pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}

    </div>
  </div>
{% endblock content %}

{% block footer_script %}
  <script src="{% static 'scipost/table-row-blank.js' %}"></script>
{% endblock footer_script %}
