{% extends 'submissions/admin/base.html' %}

{% load bootstrap %}
{% load user_groups %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Submission Fellowships</span>
{% endblock %}

{% block pagetitle %}: Submission Fellowships{% endblock pagetitle %}

{% block content %}

  {% is_ed_admin request.user as is_ed_admin %}

  <h1>Submission Fellowships</h1>
  <h2 class="text-primary">{{ submission.title }}</h2>
  <h3 class="mb-3">by {{ submission.author_list }}</h3>
  {% include 'submissions/_submission_summary.html' with submission=submission hide_title=1 show_abstract=1 %}
  <br>

  <h3>Fellowship Composition</h3>
  {% include 'colleges/_conflicts_of_interest.html' with submission=submission %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fellowship ID</th>
        <th>Fellow</th>
        <th>Type</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      {% for fellowship in submission.fellows.all %}
        <tr>
          <td>{{ fellowship.id }}</td>
          <td>{{ fellowship.contributor }}</td>
          <td>{{ fellowship.guest|yesno:"Guest fellowship,Regular fellowship"|safe }}</td>
          <td>
	    {% if is_ed_admin %}
              <a class="text-danger" href="{% url 'colleges:fellowship_remove_submission' fellowship.id submission.preprint.identifier_w_vn_nr %}">Remove this Fellow from Submission's fellowhship</a>
	    {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="4" class="py-3 text-center"><a href="{% url 'colleges:submission_add_fellowship' submission.preprint.identifier_w_vn_nr %}">Add Fellow to this Submission's fellowship</a></td>
      </tr>
    </tbody>
  </table>


{% endblock %}
