/*
General style sheet for SciPost
*/

@import url(//fonts.googleapis.com/css?family=Merriweather+Sans);

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

hr.hr6 {
    height: 6px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
}
hr.hr12 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.commentcategorychoices {
  list-style-type: none; 
}
.commentcategorydisplay {
  display: inline-block;
  margin: 2px 2px;
  padding: 1px;
  box-shadow: 1px 1px 3px #888888;
  background: linear-gradient(to right,#fcfcfc, #f0f0f0);
}
.commentcategorydisplay h4, .commentcategorydisplay ul {
  display: inline-block;
  margin: 2px;
  padding: 0px;
}
.commentcategorydisplay li {
  display: inline-block;
  margin: 0px;
  padding: 4px 8px;
  background-color: #dddddd;
  font-size: 90%;
}

.commentid {
  display: inline-block;
  box-shadow: 5px 5px 10px #888888;
  background: linear-gradient(to right,#f8f8f8, #e0e0e0);
}

.ratings {
  margin: 4px 4px;
  padding: 1px;
  display: inline-block;
  box-shadow: 1px 1px 3px #888888;
  background: linear-gradient(to right,#fcfcfc, #f0f0f0);
}
.ratings h4 {
  display: inline-block;
}
.ratings ul {
  display: inline-block;
}
.ratings li {
  display: inline-block;
  margin: 2px;
  padding: 4px 8px;
  color: #ffffff;
  background-color: #204080;
  font-size: 80%;
}

.ratingsinput {
  margin: 1px;
  padding: 4px;
  display: inline-block;
}
.ratingsinput h4, .ratingsinput form {
  display: inline-block;
}
.ratingsinput ul {
  display: inline-block;
  background-color: #204080;
  color: #ffffff;
  padding: 2px;
  box-shadow: 1px 1px 3px #888888;
}
.ratingsinput ul li {
  display: inline-block;
  margin: 0px;
  padding: 0px 4px;
}
.ratingsinput label {
  color: #ffffff;
  font-size: 80%;
}
.ratingsinput input {
  margin: 0px;
}
.ratingsinput select {
  margin: 0px;
  padding: 0px;
  height: 6px;
}

.ratingsform {
  margin: 1px;
  padding: 4px;
  display: inline-block;
  background-color: #204080;
}
.ratingsform ul {
  display: inline-block;
  color: #ffffff;
  padding: 2px;
  box-shadow: 1px 1px 3px #888888;
}
.ratingsform ul li {
  display: inline-block;
  margin: 0px;
  padding: 0px 4px;
}
.ratingsform label {
  color: #ffffff;
  font-size: 80%;
}
.ratingsform input {
  margin: 0px;
}
.ratingsform select {
  margin: 0px;
  padding: 0px;
  height: 6px;
}

.reportid {
  display: inline-block;
  box-shadow: 5px 5px 10px #888888;
  background: linear-gradient(to right,#f8f8f8, #e0e0e0);
}

.twocolumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-width: 360px; /* Chrome, Safari, Opera */
  column-width: 360px;
  -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
  -moz-column-rule-width: 1px; /* Firefox */
  column-rule-width: 1px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.flex-container #headerflex {
  align-contents: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.flex-logobox {
  align-self: center;
  margin: 0px;
  padding: 0px;
}
.flex-blurbbox {
  margin: 0px;
  padding: 0px;
  align-self: center;
  margin-left: auto;
}
.flex-greybox {
  background-color: #f4f4f4; 
  margin: 10px;
  padding: 10px;
}
.flex-greybox320 {
  background-color: #f4f4f4; 
  width: 320px;
  margin: 10px;
  padding: 10px;
}
.flex-greybox480 {
  background-color: #f4f4f4; 
  width: 480px;
  margin: 10px;
  padding: 10px;
}
.flex-whitebox {
  margin: 10px;
  padding: 10px;
}
.flex-whitebox0 {
  margin: 0px;
  padding: 0px;
}
.flex-whitebox0v {
  margin: 0px 10px;
  padding: 0px;
}
.flex-thesesbox {
  width: 480px;
  margin: 0px 10px;
  padding: 0px;
}

.pubtitleli {
  martin: 1px;
  padding: 3px 5px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid orange;
}

body {
/*  font-family: Merriweather, sans-serif; */
  font-family: 'Merriweather Sans';
  font-weight: lighter;
  font-size: 80%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

body section div.sectionbox {
  width: 300px;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

a {
  color: #eeeeee;
/*  text-decoration: underline; */
  target: _parent;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.submitComment {
  background-color: #002B49;
  color: #ffffff;
  border: 1px solid #FFA300;
  padding: 5px;
}

header {
  background-color: #002B49;
  color: #ffffff;
  border: 0px solid grey; border-radius:0px;
  margin: 0px;
  padding: 0px 5px;
}
header h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
}
header img {
  margin: 10px 20px;
  padding: 0px;
}
header p {
  border: 0px solid white;
  margin: 25px;
}

nav {
  background-color: #f0f0f0;
  color: #002B49;
  margin:0px; 
  padding:0px;
  float:center;
  clear:both;
  font-size: 16px;
  font-weight: 500;
}
nav ul {
  margin: 0;
  padding: 5px;
}
nav ul li {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: #204080;
  color: #002B49;
/*  color: #222222; */
  float: center;
  clear: both;
}
nav a {
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  color: #002B49;
/*  color: #000000; */
  text-decoration: none;
  display: inline-block;
  target: _parent;
}
nav a:visited {
  color: #002B49;
/*  color: #000000; */
}
nav a:hover {
  color: #000000;
/*  color: #FFA300 */
  text-decoration: none;
  background-color: #FFFFFF;
}
nav a:active {
  color: #222222;
}
nav a.highlighted {
/*  background-color: #FFFFFF; */
  border: 1px solid black;
}
nav p {
  display: inline-block;
  margin: 10px;
  padding: 0px;
}
nav form {
  display: inline-block;
}

p#goodCommenter {
  font-size: 90%;
}

section {
  color: #111111;
  background-color: white;
/*  border: 1px solid grey; border-radius: 1px; */
  margin: 25px 15px; 
  padding: 10px; 
  text-align: justify;
}
section a {
  color: #103050;
  color: #6884C2; 
  text-decoration: none;
  target: _parent;
}
section a:hover {
  color: #103050;
  text-decoration: underline;
}
section div {
  margin: 0px;
  padding: 0px;
}

section h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 6px 2px;
/*  color: #103050; */
  text-shadow: 0px 0px 0px #222222;
  font-weight: 500;
}
section form {
  margin: 0px;
  padding: 0px;
}
section form label {
  color: black;
  font-weight: 400;
}
section form ul li {
  padding: 0px;
}
section form ul li label {
  color: black;
}
section p {
  margin: 2px;
  padding: 2px;
}
section table {
  margin: 0px;
  padding: 0px;
}
section table th, td {
  color: #102040;
  text-align: left;
  padding: 0px;
}

section ul {
  margin: 0px;
}
section ul li {
  padding: 2px;
}

section ul.ratingsdata {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #204080;
  color: #ffffff;
  border-radius: 2px;
  font-size: 90%;
}
section ul.ratingsdata li{
  padding: 2px 2px;
  color: #ffffff;
}
section form.ratingsdata ul {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #204080;
  color: #ffffff;
  border-radius: 2px;
  font-size: 90%;
}
section form.ratingsdata ul li {
  padding: 0px 2px; 
  color: #ffffff;
}
section form.ratingsdata ul li label {
  color: #ffffff;
}


article {
  background-color:#eeeeee;
  border: 1px solid grey; border-radius:5px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}

footer {
  background-color: #002B49;
  color: #ffffff;
  border: 1px solid grey; border-radius:1px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}
footer a {
  color: #eeeeee;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

input, textarea {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid black; border-radius: 1px;
}
input[type='text'], input[type='URL'], textarea {
  width: 80%;
  max-width: 800px;
  min-width: 200px;
}
input:hover {
  text-decoration: underline;
}

select {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid black;
}

@keyframes journalsannounceanim {
  0% { background-color: #110000; }
  50% { background-color: #aa0000; }
  100% { background-color: #110000; }
}

#journalsannouncesmall {
/*  background-color: #880000; */
  background-color: #002B49;
  color: #FFA300;
  padding: 10px;
  font-size: 90%;
  text-align: center;
/*  animation-name: journalsannounceanim; */
/*  animation-duration: 2s; */
/*  animation-iteration-count: infinite; */
}
#journalsannounce {
/*  background-color: #880000; */
  background-color: #002B49;
  color: #FFA300;
  padding: 20px;
  font-size: 150%;
  text-align: center;
/*  animation-name: journalsannounceanim; */
/*  animation-duration: 2s; */
/*  animation-iteration-count: infinite; */
}

