/*
General style sheet for SciPost
*/

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


body {
  font-family: Verdana, sans-serif; 
  font-size: 80%;
  margin: 0px;
  padding: 0px;
  background-color: #999999;
}

a {
  color: #eeeeee;
  text-decoration: underline;
  target: _parent;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}


header {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid grey; border-radius:5px;
  margin: 5px;
  padding: 0px; 5px;
  text-shadow: 2px 2px 4px #222222;
}
header h1 {
    font-size: 40px;
    margin: 0px;
    padding: 10px;
    text-shadow: 1px 1px 2px #999999;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

nav {
  background-color:#cccccc;
  border: 1px solid grey; border-radius:5px;
  margin:5px; 
  padding:0px;
  float:center;
  clear:both;
}
nav ul {
  margin: 0;
  padding: 5px;
}
nav ul li {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: #444444;
  color: #dddddd;
  float: center;
  clear: both;
}
nav a {
  margin: 2px;
  padding: 5px;
  background-color: #444444;
  color: #dddddd;
  text-decoration: underline;
  display: inline-block;
  target: _parent;
  text-shadow: 2px 2px 4px #222222;
}
nav a:visited {
  color: #eeeeee;
}
nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}
nav a:active {
  color: #dddddd;
}
nav p {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
nav form {
  display: inline-block;
}

section {
  color: #eeeeee;
  background-color:#666666;
  border: 1px solid grey; border-radius: 5px;
  margin: 5px; 
  padding: 10px; 
  text-shadow: 1px 1px 1px #222222;
}
section div {
  margin: 0px;
  padding: 0px;
}
section h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 4px #222222;
}
section form {
  margin: 0px;
  padding: 0px;
}
section form label {
  color: #dddddd;
}
section table {
  margin: 0px;
  padding: 0px;
}
section table th, td {
  color: #dddddd;
  text-align: left;
  padding: 0px;
}

section ul.ratingsdata {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #303030;
  border-radius: 2px;
  font-size: 90%;
}
section ul.ratingsdata li{
  display: inline;
  padding: 2px 2px;
}

section form.ratingsdata ul {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #333333;
  border-radius: 2px;
  font-size: 80%;
}
section form.ratingsdata ul li {
  display: inline;
  padding: 0px 2px; 
}

section p.comment_text_p {
  background-color: #777777;
  margin: 2px;
  padding: 0px;
}

article {
  background-color:#eeeeee;
  border: 1px solid grey; border-radius:5px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}

footer {
  background-color:#333333;
  color: #dddddd;
  border: 1px solid grey; border-radius:5px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}
footer a {
  color: #dddddd;
  text-decoration: underline;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

input {
  background-color: #333333;
  color: white;
  border: 1px solid white; border-radius: 3px;
}

input:hover {
  text-decoration: underline;
}

select {
  background-color: #111111;
  color: white;
  border: 1px solid white;
}


