/*
General style sheet for SciPost
*/

@import url(//fonts.googleapis.com/css?family=Merriweather+Sans);

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

hr.hr6 {
    height: 6px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
}
hr.hr12 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


ul.personalTabMenu {
  background-color: #dddddd;
  display: inline-block;
  font-size: 11px;
  padding: 0px;
}
ul.personalTabMenu li {
  display: inline-block;
  margin: 0px;
  padding: 4px;
}
ul.personalTabMenu li a {
  padding: 4px;
}
ul.personalTabMenu li a.active {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 4px;
}
ul.personalTabMenu li a.inactive {
  background-color: #dddddd;
  border: none;
}

.assignments_listing {
    border-collapse: collapse;
    margin: 0px 5px;
    padding: 0px;
}
.assignments_listing tr {
    background-color: #dddddd;
    border: 1px solid black;
}
.assignments_listing td {
    border: 1px solid black;
    padding: 4px 8px;
}
.assignments_listing th {
  border: 1px solid black;
  padding: 4px 8px;
}

.commentcategorychoices {
  list-style-type: none; 
}
.commentcategorydisplay {
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  padding: 1px;
  box-shadow: 1px 1px 3px #888888;
  background: linear-gradient(to right,#fcfcfc, #f0f0f0);
}
.commentcategorydisplay h4, .commentcategorydisplay ul {
  display: inline-block;
  margin: 2px;
  padding: 0px;
}
.commentcategorydisplay li {
  display: inline-block;
  margin: 2px;
  padding: 4px 8px;
  background-color: #dddddd;
  font-size: 90%;
}

.commentid {
  display: inline-block;
/*  box-shadow: 1px 1px 3px #888888;*/
/*  background: linear-gradient(to right,#f8f8f8, #e0e0e0);*/
  font-size: 10px;
}

.forTesters {
  background-color: #eeeeff;
}

.AddItemToList {
  background-color: #000099;
  border: 1px;
  color: white;
  padding: 4px;
  font-size: 50%;
}
.RemoveItemFromList {
  background-color: #990000;
  border: 1px;
  color: white;
  padding: 4px;
  font-size: 50%;
}

.GraphButton {
  background-color: #dddddd;
  font-size: 50%;
  padding: 4px;
}
.GraphButton h1 {
  padding: 1px;
}

.reportid {
  display: inline-block;
  box-shadow: 5px 5px 10px #888888;
  background: linear-gradient(to right,#f8f8f8, #e0e0e0);
}

.reportingDeadline {
  color: #ff0000;
}

/* For two-column text display */
.twocolumn {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-width: 360px; /* Chrome, Safari, Opera */
  column-width: 360px;
  -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
  -moz-column-rule-width: 1px; /* Firefox */
  column-rule-width: 1px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.flex-container #headerflex {
  align-contents: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.flex-logobox {
  align-self: center;
  margin: 0px;
  padding: 0px;
}
.flex-blurbbox {
  margin: 0px;
  padding: 0px;
  align-self: center;
  margin-left: auto;
}
.flex-commentbox {
/*  background-color: #f4f4f4; */
  margin: 0px;
  padding: 0px;
  box-shadow: 1px 1px 3px #888888;
  background: linear-gradient(to right,#f8f8f8, #e0e0e0);
}
.flex-Fellowactionbox {
/*  background-color: #6884C2;*/
  background-color: #cccccc;
  margin: 0px;
  padding: 5px 10px;
}
.flex-greybox {
  background-color: #f4f4f4; 
  margin: 10px;
  padding: 10px;
}
.flex-greybox320 {
  background-color: #f4f4f4; 
  width: 320px;
  margin: 10px;
  padding: 10px;
}
.flex-greybox480 {
  background-color: #f4f4f4; 
  width: 480px;
  margin: 10px;
  padding: 10px;
}
.flex-greybox640 {
  background-color: #f4f4f4; 
  width: 640px;
  margin: 10px;
  padding: 10px;
}
.flex-greybox800 {
  background-color: #f4f4f4; 
  width: 800px;
  margin: 10px;
  padding: 10px;
}
.flex-whitebox {
  margin: 10px;
  padding: 10px;
}
.flex-whitebox320 {
  width: 320px;
  margin: 10px;
  padding: 10px;
}
.flex-whitebox640 {
  width: 640px;
  margin: 10px;
  padding: 10px;
}
.flex-whitebox800 {
  width: 800px;
  margin: 10px;
  padding: 10px;
}
.flex-whitebox0 {
  margin: 0px;
  padding: 0px;
}
.flex-whitebox0v {
  margin: 0px 10px;
  padding: 0px;
}
.flex-thesesbox {
  width: 480px;
  margin: 0px 10px;
  padding: 0px;
}

.pubtitleli {
  martin: 1px;
  padding: 3px 5px;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.ref_listing {
    border-collapse: collapse;
    margin: 0px 5px;
    padding: 0px;
}
.ref_listing tr {
    background-color: #dddddd;
    border: 1px solid black;
}
.ref_listing td {
    padding: 2px 8px;
}

.tableofInvitees td {
  padding: 0px 4px;
}
.tableofInviteesResponded td {
  background-color: #f0f0f0;
  padding: 0px 4px;
}
.tableofInviteesDeclined td {
  background-color: #e09090;
  padding: 0px 4px;
}

body {
/*  font-family: Merriweather, sans-serif; */
  font-family: 'Merriweather Sans';
  font-weight: lighter;
  font-size: 80%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

body section div.sectionbox {
  width: 300px;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

a {
  color: #eeeeee;
/*  text-decoration: underline; */
  target: _parent;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.submitButton {
  background-color: #002B49;
  color: #ffffff;
  border: 1px solid #FFA300;
  margin: 5px;
  padding: 5px;
}

header {
  background-color: #002B49;
  color: #ffffff;
  border: 0px solid grey; border-radius:0px;
  margin: 0px;
  padding: 0px 5px;
}
header h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
}
header img {
  margin: 10px 20px;
  padding: 0px;
}
header p {
  border: 0px solid white;
  margin: 25px;
}

nav {
  background-color: #f0f0f0;
  color: #002B49;
  margin:0px; 
  padding:0px;
  float:center;
  clear:both;
  font-size: 12px;
  font-weight: 500;
}
nav #loggedinas {
  font-size: 12px;
}
nav ul {
  margin: 0;
  padding: 5px;
}
nav ul li {
  display: inline;
  margin: 5px;
  padding: 5px;
  background-color: #204080;
  color: #002B49;
/*  color: #222222; */
  float: center;
  clear: both;
}
nav a {
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  color: #002B49;
/*  color: #000000; */
  text-decoration: none;
  display: inline-block;
  target: _parent;
}
nav a:visited {
  color: #002B49;
/*  color: #000000; */
}
nav a:hover {
  color: #000000;
/*  color: #FFA300 */
  text-decoration: none;
  background-color: #FFFFFF;
}
nav a:active {
  color: #222222;
}
nav a.highlighted {
/*  background-color: #FFFFFF; */
  border: 1px solid black;
}
nav p {
  display: inline-block;
  margin: 10px;
  padding: 0px;
}
nav form {
  display: inline-block;
}


ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}
li ol > li {
  margin: 0;
}
li ol > li:before {
  content: counters(item, ".") " ";
}


p#goodCommenter {
  font-size: 90%;
}

section {
  color: #111111;
  background-color: white;
  margin: 0px 15px; 
  padding: 10px; 
  text-align: justify;
}
section a {
  color: #103050;
  color: #6884C2; 
  text-decoration: none;
  target: _parent;
}
section a:hover {
  color: #103050;
  text-decoration: underline;
}
section div {
  margin: 0px;
  padding: 0px;
}

section h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 6px 2px;
/*  color: #103050; */
  text-shadow: 0px 0px 0px #222222;
  font-weight: 500;
}
section form {
  margin: 0px;
  padding: 0px;
}
section form label {
  color: black;
  font-weight: 400;
}
section form ul li {
  padding: 0px;
}
section form ul li label {
  color: black;
}

form#refereeSearch input#id_last_name{
  width: 20em;
  margin: 1em;
}


section p {
  margin: 2px;
  padding: 2px;
}
section table {
  margin: 0px;
  padding: 0px;
}
section table th, td {
  color: #102040;
  text-align: left;
  padding: 0px;
}

section ul {
  margin: 0px;
}
section ul li {
  padding: 2px;
}

#NWOOpenAccess {
  font-size: 80%;
}

.opinionsDisplay {
  font-family: 'Merriweather Sans';
  font-size: 10px;
  margin: 0px 4px;
  padding: 1px;
  display: inline-block;
  box-shadow: 1px 1px 1px #888888;
  background: linear-gradient(to right,#fcfcfc, #f0f0f0);
}
.opinionsDisplay ul {
  color: #ffffff;
  display: inline-block;
  font-family: 'Merriweather Sans';
  margin: 0px;
  padding: 2px 1px;
}
.opinionsDisplay_old ul {
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.opinionsDisplay ul li {
  border: 1px solid black;
  display: inline-block;
  font-family: 'Merriweather Sans';
  font-size: 8px;
  margin: 1px 2px;
  padding: 3px 6px;
}
.opinionsDisplay_old ul li {
  display: inline-block;
  background-color: #204080;
  margin: 1px 3px;
  padding: 2px 4px;
}
.opinionsDisplay form {
  display: inline-block;
  font-family: 'Merriweather Sans';
  font-size: 8px;
  margin: 2px;
}
.opinionsDisplay form input[type=submit] {
  color: #ffffff;
  font-family: 'Merriweather Sans';
  font-size: 8px;
}
.opinionsDisplay form input[type=submit].agree {
  background-color: #000099;
}
.opinionsDisplay form input[type=submit].notsure {
  background-color: #555555;
}
.opinionsDisplay form input[type=submit].disagree {
  background-color: #990000;
}

.reportRatings {
  font-family: 'Merriweather Sans';
  font-size: 10px;
  margin: 0px 4px;
  padding: 1px;
  display: inline-block;
  box-shadow: 1px 1px 1px #888888;
  background: linear-gradient(to right,#fcfcfc, #f0f0f0);
}
.reportRatings ul {
  display: inline-block;
  font-family: 'Merriweather Sans';
  margin: 0px;
  padding: 2px 1px;
}
.reportRatings ul li {
  border: 1px solid black;
  display: inline-block;
  font-family: 'Merriweather Sans';
  margin: 1px 2px;
  padding: 3px 6px;
}


article {
  background-color:#eeeeee;
  border: 1px solid grey; border-radius:5px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}

footer {
  background-color: #002B49;
  color: #ffffff;
  border: 1px solid grey; border-radius:1px;
  margin:5px; margin-bottom:10px;
  padding:5px;
}
footer a {
  color: #eeeeee;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

input, textarea {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid black; border-radius: 1px;
}
input[type='text'], input[type='URL'], textarea {
  width: 80%;
  max-width: 800px;
  min-width: 200px;
}
input:hover {
  text-decoration: underline;
}

select {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid black;
}

@keyframes journalsannounceanim {
  0% { background-color: #110000; }
  50% { background-color: #aa0000; }
  100% { background-color: #110000; }
}

#journalsannouncesmall {
/*  background-color: #880000; */
  background-color: #FFDDDD;
  color: #FF0000;
  padding: 10px;
  font-size: 90%;
  text-align: center;
/*  animation-name: journalsannounceanim; */
/*  animation-duration: 2s; */
/*  animation-iteration-count: infinite; */
}
#journalsannounce {
/*  background-color: #880000; */
  background-color: #100000;
  color: #FF0000;
  padding: 20px;
  font-size: 150%;
  text-align: center;
/*  animation-name: journalsannounceanim; */
/*  animation-duration: 2s; */
/*  animation-iteration-count: infinite; */
}


/* SciPost Physics Journal style */

div.SciPostPhysicsBanner {
  background-color: #002B49;
  color: #FFA300;
  margin: 10px;
  padding: 10px 20px;
  font-size: 150%;
  text-align: center;
}
div.SciPostPhysicsBanner a {
  color: #FFA300;
  padding: 4px;
}
div.SciPostPhysicsBanner a.active {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 4px;
}
div.SciPostPhysicsBanner a.inactive {
  background-color: #dddddd;
  border: none;
}


ul.NewsItemsList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.NewsItemsList li {
  margin: 10px;
}
h3.NewsHeadline {
  background-color: #002B49;
  color: #C3D7EE;
  padding: 10px;
}

.SciPostPhysicsTab {
  background-color: #002B49;
  color: #FFA300;
  margin: 2px;
  padding: 5px 10px;
  font-size: 120%;
  text-align: center;
}
.SciPostPhysicsTab h3 a {
  color: #FFA300;
}

ul.SciPostPhysicsTabMenu {
  background-color: #dddddd;
  display: inline-block;
  font-size: 16px;
  padding: 0px;
}
ul.SciPostPhysicsTabMenu li {
  display: inline-block;
  margin: 0px;
  padding: 10px;
}
ul.SciPostPhysicsTabMenu li a {
  padding: 4px;
}
ul.SciPostPhysicsTabMenu li a.active {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 4px;
}
ul.SciPostPhysicsTabMenu li a.inactive {
  background-color: #dddddd;
  border: none;
}

ul.publicationHeaderList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.publicationHeader {
  background-color: #fafafa;
  margin: 10px;
  padding: 0px;
}

p.publicationTitle {
  background-color: #eeeeee;
  font-size: 16px;
  margin: 0px;
  padding: 10px;
}

p.publicationAuthors {
  font-weight: bold;  
}

ul.publicationClickables {
  background-color: #f8f8f8;
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.publicationClickables li {
  display: inline-block;
  margin: 0px 10px;
  padding: 5px;
}

li.publicationPDF {
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
}


/* For modal boxes (e.g. BiBTeX) */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
}

.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #999999;
}

#preview-comment_text {
  border: 1px solid black;
  white-space: pre-wrap;
}