{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'scipost/SciPost.css' %}" />

{% include 'scipost/header.html' %}
{% include 'scipost/navbar.html' %}

<section>
  <h1>Welcome to your SciPost Personal Page, {{ user.username }} (rank {{ contributor.rank }} Contributor)</h1>
</section>

{% if contributor.rank >= 2 %}
<section>
  <h1>Pending SciPost Editorial Actions</h1>
  <br>
  {% if contributor.rank >= 4 %}
  <h3>Registration actions</h3>
  <ul>
    <li><a href="{% url 'contributors:vet_registration_requests' %}">Vet Registration requests</a> ({{ nr_reg_to_vet }})</li>
  </ul>
  {% endif %}

  <h3>Vetting actions</h3>
  <ul>
    <li><a href="{% url 'commentaries:vet_commentary_requests' %}">Vet Commentary Page requests</a> ({{ nr_commentary_page_requests_to_vet }})</li>
    <li><a href="{% url 'comments:vet_submitted_comments' %}">Vet submitted Comments</a> ({{ nr_comments_to_vet }})</li>
    <li><a href="{% url 'comments:vet_author_replies' %}">Vet submitted Author Replies</a> ({{ nr_author_replies_to_vet }})</li>
    <li><a href="{% url 'reports:vet_submitted_reports' %}">Vet submitted Reports</a> ({{ nr_reports_to_vet }})</li>
  </ul>

  {% if contributor.rank >= 3 %}
  <h3>Submissions processing</h3>
  <ul>
    {% if contributor.rank >= 4 %}
    <li><a href="{% url 'submissions:process_new_submissions' %}">Process new SciPost Submissions</a> ({{ nr_submissions_to_process }})</li>
    {% endif %}
  </ul>
  {% endif %}

</section>
{% endif %}

<section>
  <h1>SciPost Submissions</h1>
  <ul>
    <li><a href="{% url 'submissions:submit_manuscript' %}">Submit an arXiv preprint to a SciPost Journal</a></li>
  </ul>
</section>

<section>
  <h1>SciPost Commentaries</h1>
  <ul>
    <li><a href="{% url 'commentaries:request_commentary' %}">Request opening a SciPost Commentary Page</a></li>
  </ul>
</section>

{% if contributor.rank > 0 %}
<section>
  <h1>Your SciPost Account</h1>
  <hr>
  <div class="row">
    <div class="col-4">
      <h3>Your ratings:</h3>
    </div>
    <div class="col-4">
      <table class="ratings">
	<th>Reports</th><th>(nr: {{ contributor.nr_reports }})</th>
	<tr><td>relevance:</td><td>{{ contributor.report_relevance_rating }}% ({{ contributor.nr_report_relevance_ratings }})</td></tr>
	<tr><td>importance:</td><td>{{ contributor.report_importance_rating }}% ({{ contributor.nr_report_importance_ratings }})</td></tr>
	<tr><td>clarity:</td><td>{{ contributor.report_clarity_rating }}% ({{ contributor.nr_report_clarity_ratings }})</td></tr>
	<tr><td>validity:</td><td>{{ contributor.report_validity_rating }}% ({{ contributor.nr_report_validity_ratings }})</td></tr>
	<tr><td>rigour:</td><td>{{ contributor.report_rigour_rating }}% ({{ contributor.nr_report_rigour_ratings }})</td></tr>
      </table>
    </div>
    <div class="col-4">
      <table class="ratings">
	<th>Comments</th><th>(nr: {{ contributor.nr_comments }})</th>
	<tr><td>relevance:</td><td>{{ contributor.comment_relevance_rating }}% ({{ contributor.nr_comment_relevance_ratings }})</td></tr>
	<tr><td>importance:</td><td>{{ contributor.comment_importance_rating }}% ({{ contributor.nr_comment_importance_ratings }})</td></tr>
	<tr><td>clarity:</td><td>{{ contributor.comment_clarity_rating }}% ({{ contributor.nr_comment_clarity_ratings }})</td></tr>
	<tr><td>validity:</td><td>{{ contributor.comment_validity_rating }}% ({{ contributor.nr_comment_validity_ratings }})</td></tr>
	<tr><td>rigour:</td><td>{{ contributor.comment_rigour_rating }}% ({{ contributor.nr_comment_rigour_ratings }})</td></tr>
      </table>
    </div>
  </div>
</section>


{% else %}
<section>
  <p>Your credentials will soon be verified by an Editor. If accepted, your rank (currently 0: newly registered) will be set to 1 (normal user), enabling you to submit, comment and vote.</p>
</section>
{% endif %}



{% include 'scipost/footer.html' %}
