{% extends 'scipost/base.html' %}

{% load staticfiles %}

{% block pagetitle %}: {{journal}}{% endblock pagetitle %}
{% block body_class %}{{block.super}} journals{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb py-md-2 px-0 hidden-sm-down">
        <div class="container">
            {% block breadcrumb_items %}
                <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block secondary_navbar %}
<div class="container my-2">
    <nav class="navbar navbar-secondary px-0 pt-3">
        <div>
            <h2 class="banner d-inline-block mr-2"><a href="{% url 'scipost:landing_page' journal.doi_label %}">{{journal}}</a></h2>
            <ul class="links">
                {% if journal.active or request.user.is_staff %}
                    <li><a class="{% block link_class_physics_issues %}{% endblock %}" href="{% url 'journal:issues' journal.doi_label %}">Issues</a></li>
                    <li><a class="{% block link_class_physics_recent %}{% endblock %}" href="{% url 'journal:recent' journal.doi_label %}">Recent</a></li>
                    <li><a class="{% block link_class_physics_accepted %}{% endblock %}" href="{% url 'journal:accepted' journal.doi_label %}">Accepted</a></li>
                    <li><a href="{% url 'submissions:submissions' %}?to_journal=SciPostPhysics">Submissions</a></li>
                    <li><a class="{% block link_class_physics_info %}{% endblock %}" href="{% url 'journal:info_for_authors' journal.doi_label %}">Info for authors</a></li>
                {% endif %}
                <li><a class="{% block link_class_physics_about %}{% endblock %}" href="{% url 'journal:about' journal.doi_label %}">About</a></li>
            </ul>
        </div>
    </nav>
</div>
{% endblock secondary_navbar %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="{% block header_text_class %}highlight-empty text-blue m-0 py-2 px-0{% endblock %}">{{header_text}}</h2>
            {% block journal_header_block %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block secondary_footer %}
    <footer class="secondary container-fluid py-2">
        <div class="row my-1">
            <div class="col-12">
                {% if journal.active %}
                    <p>{{journal}} is published by the SciPost Foundation under the journal doi: 10.21468/{{journal.name}} and ISSN {{journal.issn}}.</p>
                {% endif %}
		{% if journal.doi_label == 'SciPostPhys' %}
    		<p class="mb-0">All content in {{ journal }} is deposited and permanently preserved in the CLOCKSS archive <a href="https://www.clockss.org/clockss/Home" target="_blank"><img src="{% static 'scipost/images/clockss_original_logo_boxed_ai-cropped-90.png' %}" alt="CLOCKSS logo" width="40"></a></p>
		{% endif %}
	    </div>
        </div>
    </footer>
{% endblock %}
