{% load render_bundle from webpack_loader %}

<div class="row">
    <div class="col-12">
        <h2 class="pb-1 text-blue">{{publication.title}}</h2>

        <p class="font-weight-bold mb-1">{{ publication.author_list }}</p>
        <p class="text-muted">{{ publication.citation }} | published {{ publication.publication_date|date:'j F Y' }}</p>

        <ul class="publicationClickables">
            <li>doi:  {{publication.doi_string}}</li>
            <li class="publicationPDF">
                <a href="{{publication.get_absolute_url}}/pdf" target="_blank">pdf</a>
            </li>
            <li><a href="javascript:;" data-toggle="modal" data-target="#bibtextmodal">BiBTeX</a></li>
            <li><a href="{% url 'submissions:submission' publication.accepted_submission.arxiv_identifier_w_vn_nr %}">Submissions/Reports</a></li>
	    <li>
	      <!-- Start Crossmark Snippet v2.0 -->
	      <script src="https://crossmark-cdn.crossref.org/widget/v2.0/widget.js"></script>
	      <a data-target="crossmark"><img src="https://crossmark-cdn.crossref.org/widget/v2.0/logos/CROSSMARK_Color_horizontal.svg" width="120" /></a>
	      <!-- End Crossmark Snippet -->
	    </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Abstract</h3>
        <p class="abstract">{{ publication.abstract }}</p>
    </div>
</div>


<div class="modal" id="bibtextmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pb-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <pre>
                        <code>{{publication.BiBTeX_entry|linebreaks}}</code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>

{% render_bundle 'modal' 'js' %}
