{% extends 'journals/base.html' %}

{% load automarkup %}
{% load scipost_extras %}

{% block meta_description %}{{ block.super }} About Journal {{ journal.name }}{% endblock meta_description %}
{% block pagetitle %}{{block.super}}: About {{ journal.name }}{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'journals:journals' %}?field={{ journal.college.acad_field.slug }}" class="breadcrumb-item">{{ journal.college.acad_field }} Journals</a>
  <a href="{% url 'journal:issues' journal.doi_label %}" class="breadcrumb-item">{{ journal.name }}</a>
  <span class="breadcrumb-item active">About</span>
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="row">
    <div class="col-lg-5">

      <h2 class="m-1">About {{ journal.name }}</h2>
      <br>
      <ul>
	<li><a href="#description">Description</a></li>
	<li><a href="#scope">Scope</a></li>
	<li><a href="#content">Content</a></li>
	<li><a href="#criteria">Acceptance Criteria</a></li>
	<li><a href="#sub_and_ed">Submission and Editorial Process</a></li>
	<li><a href="#genuineOA">Genuine Open Access</a></li>
      </ul>
    </div>
    <div class="col-lg-7">
      {% include 'submissions/_guidelines_dl.html' with journal=journal %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <h2 class="highlight" id="description">
	Description
      </h2>
      {{ journal.description|automarkup }}

      <h2 class="highlight" id="scope">
	Scope
      </h2>
      {{ journal.scope|automarkup }}
      <br><br>
      <h4>Specialties covered by this Journal</h4>
      <ul>
	{% if journal.specialties.length > 0 %}
	  {% for spec in journal.specialties.all %}
	    <li>{{ spec }}</li>
	  {% endfor %}
	{% elif journal.college %}
	  {% for spec in journal.college.acad_field.specialties.all %}
	    <li>{{ spec }}</li>
	  {% endfor %}
	{% endif %}
      </ul>

      <h2 class="highlight" id="content">
	Content
      </h2>
      {{ journal.content|automarkup }}
      {% if journal.series_set.all|length > 0 %}
	Series hosted in this Journal:
	<ul>
	  {% for series in journal.series_set.all %}
	    <li>
	      <a href="{{ series.get_absolute_url }}" target="_blank">{{ series }}</a>
	    </li>
	  {% endfor %}
	</ul>
      {% endif %}

      <h2 class="highlight" id="criteria">
	Acceptance criteria
      </h2>
      {{ journal.acceptance_criteria|automarkup }}

      <h2 class="highlight" id="sub_and_ed">
	Submission and Editorial Process
      </h2>
      <p>Authors should follow the <a href="{% url 'journal:authoring' doi_label=journal.doi_label %}">authoring guidelines</a> to ensure seamless processing of their manuscript. The <a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions</a> apply to all Submissions to SciPost Physics.</p>
      <p>All incoming Submissions are thoroughly checked for plagiarism, and follow the peer-witnessed refereeing procedures outlined in <a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and Refereeing procedure</a>.</p>
      {% if journal.minimal_nr_of_reports > 0 %}
	<p><strong>Minimal number of reports</strong>: at least {{ journal.minimal_nr_of_reports }} substantial report{{ journal.minimal_nr_of_reports|pluralize }} must have been received; all points raised must have been addressed either in resubmissions or in author replies before a recommendation for publication can be formulated.</p>
      {% endif %}
      <p>All publication decisions are taken by the <a href="{% url 'colleges:colleges' %}">{{ journal.college }}</a>, following the rules set out in the <a href="{% url 'scipost:EdCol_by-laws' %}">Editorial College by-laws</a>.</p>
      <p>Accepted submissions benefit from our top-quality production process, and from our <a href="{% url 'news:news' %}#news_51" target="_blank">industry-leading metadata handling facilities</a>.</p>


      <h2 class="highlight" id="genuineOA">
	Genuine Open Access
      </h2>
      <p>Publications in {{ journal.name }} are <a href="{% url 'scipost:about' %}#GOA">Genuine Open Access</a>. Take the time to understand what this means, and how we compare to other publishers. We do not profiteer from you or your contributions in any way. We are truly run by and for the academic community, entirely not-for-profit and without any competing interests.</p>
      <p>As authors, you retain your copyright: all articles are published in your name under the terms of the <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) License</a>, allowing freedom to use, reproduce and distribute the articles and related content (unless otherwise noted), for commercial and noncommercial purposes, subject to the citation of the original source.</p>
      <p>There are no subscription fees, nor are there Article Processing Charges (APCs). By publishing with us, you are contributing to implementing a <a href="{% url 'finances:business_model' %}">healthier business model</a> for academic publishing.</p>

    </div>
  </div>
{% endblock %}
