{% extends 'scipost/base.html' %}

{% block pagetitle %}: add author to publication{% endblock pagetitle %}

{% block breadcrumb %}
    <div class="container-outside header">
        <div class="container">
            <nav class="breadcrumb hidden-sm-down">
                <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
                <a href="{{publication.in_issue.in_volume.in_journal.get_absolute_url}}" class="breadcrumb-item">{{publication.in_issue.in_volume.in_journal}}</a>
                <a href="{{publication.in_issue.get_absolute_url}}" class="breadcrumb-item">{{publication.in_issue.short_str}}</a>
                <a href="{{publication.get_absolute_url}}" class="breadcrumb-item">{{publication.citation}}</a>
                <span class="breadcrumb-item active">Add author to publication</span>

            </nav>
        </div>
    </div>
{% endblock %}

{% load scipost_extras %}
{% load bootstrap %}

{% block content %}

<h1 class="highlight">Add author to publication</h1>
{% include 'partials/journals/publication_li_content.html' with publication=publication %}
<br>


<div class="row">
    <div class="col-12">
      <h3>Current list of authors</h3>
      <ul>
        {% for author in publication.authors.all %}
            <li>
                {% if author.is_registered %}
                    <a href="{{ author.contributor.get_absolute_url }}">{{ author.contributor }}</a>
                {% else %}
                    {{ author.unregistered_author }}
                {% endif %}
            </li>
        {% empty %}
            <li>No unregistered authors known.</li>
        {% endfor %}
      </ul>

      <br>
      <h2 class="highlight">Add an (unregistered) author</h2>

      <h3>Search for missing author</h3>
      <form method="get">
            {{ form|bootstrap }}
            <input class="btn btn-primary" type="submit" value="Search">
      </form>

      {% if form.has_changed %}
          <br>
            <h3>Identified as Contributor:</h3>
            <ul>
              {% for contributor in contributors_found %}
                  <li>
                    <div class="font-weight-bold">{{ contributor.user.first_name }} {{ contributor.user.last_name }}</div>
                    <a href="{% url 'journals:add_author' publication_id=publication.id contributor_id=contributor.id %}">Add this Contributor as author of this Publication</a>
                  </li>
              {% empty %}
                  <li><span class="text-danger">No Contributor with this name could be identified.</span></li>
              {% endfor %}
            </ul>

            <h3>You can otherwise add the author manually and link it to the publication</h3>
            <form action="{% url 'journals:add_author' publication_id=publication.id %}" method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input class="btn btn-primary" type="submit" value="Add">
            </form>
        <br>
      {% endif %}
    </div>
</div>

<p>Return to the <a href="{{publication.get_absolute_url}}">publication's page</a> or to the <a href="{% url 'journals:manage_metadata' %}">metadata management page</a>.</p>


{% endblock content %}
