{% extends 'scipost/base.html' %}

{% block pagetitle %}: add author to publication{% endblock pagetitle %}

{% block headsup %}

{% load scipost_extras %}

{% endblock headsup %}

{% block bodysup %}


<section>
  <div class="flex-greybox">
    <h1>Add author to publication</h1>
  </div>
  {{ publication.details }}
</section>


<section>
  <div class="flex-greybox">
    <h1>Add an (unregistered) author</h1>
  </div>

  <h3>Current list of authors as contributors:</h3>
  <p>
    {% for author in publication.authors.all %}
    <a href="/contributor/{{ author.id }}">{{ author.user.first_name }} {{ author.user.last_name }}</a>&nbsp;
    {% endfor %}
  </p>
  <h3>Current list of additional authors (unregistered):</h3>
  <p>
    {% for author in publication.authors_unregistered.all %}
    {{ author }}
    {% endfor %}
  </p>

  <h3>Search for missing author:</h3>
  <form action="{% url 'journals:add_author' publication_id=publication.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search">
  </form>

  {% if contributors_found %}
  <h3>Identified as contributor:</h3>
  <table>
    {% for contributor in contributors_found %}
    <tr><td>{{ contributor.user.first_name }} {{ contributor.user.last_name }}</td><td>&nbsp;</td>
      <td><a href="{% url 'journals:add_author' publication_id=publication.id contributor_id=contributor.id %}">Add this Contributor as author of this Publication</a></td></tr>
    {% endfor %}
  </table>
  {% elif form.has_changed %}
  <p>No Contributor with this name could be identified.</p>
  {% endif %}
  <br/>

  {% if unregistered_authors_found %}
  <h3>Identified as existing unregistered author:</h3>
  <table>
    {% for unreg_auth in unregistered_authors_found %}
    <tr><td>{{ unreg_auth }}</td><td>&nbsp;</td>
      <td><a href="{% url 'journals:add_unregistered_author' publication_id=publication.id unregistered_author_id=unreg_auth.id %}">Add this unregistered author as author of this Publication</a></td></tr>
    {% endfor %}
  </table>
  {% elif form.has_changed %}
  <p>No UnregisteredAuthor with this name could be found in the database.</p>
  {% endif %}
  <br/>

  <h3>You can otherwise create an UnregisteredAuthor object instance and link it to this publication:</h3>
  <form action="{% url 'journals:add_new_unreg_author' publication_id=publication.id %}" method="post">
    {% csrf_token %}
    {{ new_unreg_author_form.as_p }}
    <input type="submit" value="Add">
  </form>

  <h3><a href="{% url 'scipost:publication_detail' doi_string=publication.doi_string %}">Return to the publication's page</a></h3>

</section>


{% endblock bodysup %}
