{% extends 'scipost/base.html' %}

{% load staticfiles %}

{% block pagetitle %}: {{journal}}{% endblock pagetitle %}
{% block body_class %}{{block.super}} journals{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb py-md-2 px-0 hidden-sm-down">
        <div class="container">
            {% block breadcrumb_items %}
                <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
                <a href="{% url 'scipost:publication_detail' publication.doi_label %}" class="breadcrumb-item">{{ publication.doi_label }}</a>
            {% endblock %}
        </div>
    </nav>
{% endblock %}
