{% extends 'scipost/base.html' %}

{% block pagetitle %}: Create metadata xml{% endblock pagetitle %}

{% block breadcrumb %}
    <div class="container-outside header">
        <div class="container">
            <nav class="breadcrumb hidden-sm-down">
                <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
                <a href="{% url 'journals:manage_metadata' %}" class="breadcrumb-item">Administration</a>
                <a href="{% url 'journals:manage_metadata' doi_label=publication.doi_label %}" class="breadcrumb-item">{{ publication.citation }}</a>
                <span class="breadcrumb-item active">Create metadata XML</span>
            </nav>
        </div>
    </div>
{% endblock %}

{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Create metadata XML (for Crossref deposit)</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
      {% if errormessage %}
          <h2 class="text-danger">{{ errormessage }}</h2>
      {% endif %}

      <form action="{% url 'journals:create_metadata_xml' publication.doi_label %}" method="post">
        {% csrf_token %}
        {{ create_metadata_xml_form|bootstrap }}
        <input type="submit" class="btn btn-primary" value="Accept the metadata">
        <a href="{% url 'journals:manage_metadata' doi_label=publication.doi_label %}" class="ml-3 btn btn-link">Back to Admin for {{ publication.doi_label }}</a>
      </form>

      <hr class="divider">

      <h3>Current metadata xml</h3>
      <br>
      <pre><code>{{ publication.metadata_xml|linebreaksbr }}</code></pre>
      <br>
      <p class="mb-0">Once you're happy with this metadata, you can <a href="{{publication.get_absolute_url}}">return to the publication's page</a> or to the <a href="{% url 'journals:manage_metadata' %}">metadata management page</a></p>

    </div>
</div>

{% endblock content %}
