{% extends 'scipost/base.html' %}

{% block pagetitle %}: Create citation list metadata{% endblock pagetitle %}

{% block breadcrumb %}
    <nav class="breadcrumb py-md-2 px-0 hidden-sm-down">
        <div class="container">
            <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
            <a href="{{publication.in_issue.in_volume.in_journal.get_absolute_url}}" class="breadcrumb-item">{{publication.in_issue.in_volume.in_journal}}</a>
            <a href="{{publication.in_issue.get_absolute_url}}" class="breadcrumb-item">{{publication.in_issue.short_str}}</a>
            <a href="{{publication.get_absolute_url}}" class="breadcrumb-item">{{publication.citation}}</a>
            <span class="breadcrumb-item active">Create citation list metadata</span>
        </div>
    </nav>
{% endblock %}

{% load bootstrap %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1 class="highlight">Create citation list metadata page</h1>
  </div>
</div>


<div class="row">
  <div class="col-12">
      {% if errormessage %}
        <h2 class="text-danger">{{ errormessage }}</h2>
      {% endif %}

      <form action="{% url 'journals:create_citation_list_metadata' publication.doi_label %}" method="post">
        {% csrf_token %}
        {{ bibitems_form|bootstrap }}
        <input type="submit" class="btn btn-secondary" value="Submit">
      </form>

      <hr>

      <h3>Current citation list metadata:</h3>
      <table>
        {% for citation in citation_list %}
          <tr>
            <td>{{ citation.key }}</td><td>{{ citation.doi }}</td>
          </tr>
        {% endfor %}
      </table>

      <hr>

      <h3>Once you're happy with this metadata, you can <a href="{{publication.get_absolute_url}}">return to the publication's page</a> or to the <a href="{% url 'journals:manage_metadata' %}">metadata management page</a></h3>
    </div>
</div>

{% endblock %}
