{% extends 'scipost/base.html' %}

{% block pagetitle %}: Journals{% endblock pagetitle %}

{% block breadcrumb %}
    <div class="container-outside header">
        <div class="container">
            <h1 class="highlight">SciPost Physics Journals</h1>
        </div>
    </div>

    <div class="container-outside sub-nav lighter">
        <div class="container">
            <nav class="navbar sub-nav navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item"><span class="nav-link">Our Journals:</span></li>
                    {% for journal in journals %}
                        <li class="nav-item">
                            {% if journal.active %}
                                <a href="{{journal.get_absolute_url}}" class="nav-link">{{journal}}</a>
                            {% else %}
                                <a href="{% url 'journal:about' journal.name %}" class="nav-link">{{journal}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </div>


{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
      <h2>View and comment on current <a href="{% url 'submissions:submissions' %}">Submissions</a> <small>(login required)</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h1 class="banner">
            <a href="{% url 'scipost:landing_page' 'SciPostPhys' %}">SciPost Physics</a>
        </h1>
        <div class="py-2">
            <h3 class="mb-2"><a href="{% url 'scipost:landing_page' 'SciPostPhys' %}">Go directly to SciPost Physics</a></h3>
            <p>SciPost Physics publishes outstanding-quality research articles in all domains and subject areas of Physics.</p>
            <p>The journal accepts three types of content: Letters, Articles and Reviews.</p>
            <p>Letters report broad-interest, significant breakthroughs in Physics, of interest and importance to researchers in multiple subject areas.</p>
            <p>Articles provide in-depth, detailed reports of groundbreaking research within one or more subject areas.</p>
            <p>Reviews are short pieces taking a snapshot of a research area, written by recognized leaders in the field, providing a critical assessment of current frontline research and providing pointers towards future opportunities.</p>
        </div>
    </div>

    <div class="col-md-6">
        <h1 class="banner">
            <a href="{% url 'journal:about' 'SciPostPhysProc' %}">SciPost Physics Proceedings</a>
        </h1>
        <div class="py-2">
            <h3 class="d-inline-block text-danger mb-2"><a href="{% url 'journal:about' 'SciPostPhysProc' %}">Go directly to SciPost Physics Proceedings</a></h3>
            <p>SciPost Physics Proceedings is a premium-quality, two-way open access, peer-witnessed refereed Journal for the general field of Physics.</p>
            <p>It aims at providing a high-quality, openly accessible publishing venue for conference/workshop/school proceedings.</p>
            <p>SciPost Physics Proceedings publishes articles in the domains of Experimental, Theoretical and Computational physics, in all specializations.</p>
	  <p>Interested in setting up a Proceedings Issue? Contact our <a href="mailto:proceedings@scipost.org">proceedings administrators</a>.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h1 class="banner"><a href="{% url 'scipost:landing_page' 'SciPostPhysLectNotes' %}">SciPost Physics Lecture Notes</a></h1>
        <div class="py-2">
          <p>
              <a href="{% url 'journal:about' 'SciPostPhysLectNotes' %}">Go directly to SciPost Physics Lecture Notes</a>
              <br><br>
              Research-level didactic material in all domains and subject areas of Physics.
          </p>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-12">
        <p>The collection of SciPost Physics Journals covers research in the domains of Experimental, Theoretical and Computational physics, including the following specialties:</p>
        <ul>
            <li>A: Atomic, Molecular and Optical Physics</li>
            <li>B: Biophysics</li>
            <li>C: Condensed Matter Physics</li>
            <li>F: Fluid Dynamics</li>
            <li>G: Gravitation, Cosmology and Astroparticle Physics</li>
            <li>H: High-Energy Physics</li>
            <li>M: Mathematical Physics</li>
            <li>N: Nuclear Physics</li>
            <li>Q: Quantum Statistical Mechanics</li>
            <li>S: Statistical and Soft Matter Physics</li>
        </ul>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-12">
        <h3><a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions</a></h3>
        <h3><a href="{% url 'submissions:author_guidelines' %}">Author guidelines</a></h3>
        <h3><a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and Refereeing procedure</a></h3>
        <h3><a href="{% url 'scipost:about' %}#editorial_college_physics">Editorial College (Physics)</a></h3>
    </div>
</div>

{% endblock content %}
