{% extends 'scipost/base.html' %}

{% block meta_description %}{{ block.super }} Terms and Conditions{% endblock meta_description %}
{% block pagetitle %}: SciPost Journals: terms and conditions{% endblock pagetitle %}


{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'journals:journals' %}" class="breadcrumb-item">Journals</a>
        <span class="breadcrumb-item">Terms and Conditions</span>
      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}


  <div class="row">
    <div class="col-12">
      <h1 class="highlight">SciPost Journals: Terms and Conditions</h1>
      <p>These complement the SciPost <a href="{% url 'scipost:terms_and_conditions' %}">Terms and Conditions</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>General</h2>

      <h3>SciPost expects the following from submitters:</h3>
      <ul>
        <li>The manuscript which is submitted for publication has not been published before except in
          the form of an abstract or electronic preprint or other similar formats which have not undergone
          peer review. It is also not under consideration elsewhere for peer-reviewed publication.</li>
        <li>Each submission will automatically be checked for plagiarism: SciPost is a Participating Publisher of Crossref's Similarity Check. In their own interest, authors
          should avoid any ambiguous case by clearly quoting and citing original sources.</li>
        <li>The submission has been approved by all authors and tacitly or explicitly by the relevant
          authorities and/or institutes where the work was carried out.</li>
        <li>In the case of acceptance for publication, the authors agree to the terms of the
          <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) License</a>.
          This means that you are free to use, reproduce and distribute the articles and related content (unless otherwise noted),
          for commercial and noncommercial purposes, subject to the citation of the original source in accordance with the CC-BY license,
          in particular section 3a.</li>
        <li>The authors have secured the right to reproduce any material in their work which has
          already been published elsewhere.</li>
        <li>The authors agree with the <a href="#license_and_copyright_agreement">license and copyright agreement</a>.</li>
        <li>The authors have agreed to and are in compliance with the <a href="#author_obligations">general author obligations</a>.</li>
        <li>The authors of a given manuscript are formally
          represented by the author having submitted the manuscript.</li>
        <li>During the evaluation phase, Editorial Fellows will follow the
          <a href="{% url 'scipost:EdCol_by-laws' %}">Editorial College by-laws</a>
          and referees will follow the <a href="#referee_code_of_conduct">code of conduct for referees</a>.</li>
        <li>The SciPost Administration reserves the right to remove or censor reports or comments
          if they contain inappropriate material or if they are insufficiently substantial in nature or
          of insufficient direct relevance to the manuscript under consideration.</li>
        <li>The use of general descriptive names, trade names, trademarks etc. in the published
          articles of SciPost journals, even if not specifically identified, does not imply that these
          names are not protected by the relevant laws and regulations.</li>
        <li>The Fellows of the Editorial College do their best to shepherd the refereeing process
          as carefully as possible but cannot assume legal responsibility for the outcome and
          aftermath of acceptance or rejection.</li>
        <li>While the contents of the journals is believed to be true and accurate on the date each
          article is published, neither the authors, the Editorial Fellows, Stichting SciPost or any of
          its officers and Board members can accept any legal responsibility for any errors or
          omissions that may have occurred. SciPost makes no guarantee, expressed or implied, with
          respect to the material contained herein. Any opinions expressed in SciPost journals are
          the views of the authors and are not the views of SciPost.</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h2>Open Access policy</h2>
      <p>All SciPost Journals are Open Access which means that all content is freely available without charge to the user or his/her institution. Users are allowed to read, download, copy, distribute, print, search, or link to the full texts of the articles, or use them for any other lawful purpose, without asking prior permission from the publisher or the author. This is in accordance with the BOAI definition of Open Access.</p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">


      <h2 id="license_and_copyright_agreement">License and copyright agreement</h2>
      <p>The following license and copyright agreement is valid for any article published in any
        SciPost journal and web portal.</p>
      <h3>Author's certification</h3>
      <p>By submitting their manuscript, the authors certify the following:</p>
      <ul>
        <li>They are authorized by their co-authors to enter into these agreements.</li>
        <li>The work described has not been published before except in
          the form of an abstract or electronic preprint or other similar formats which have not undergone
          peer review; it is not under consideration for publication elsewhere; its publication has been
          approved by the responsible authorities, tacitly or explicitly, of the institutes where the work
          was performed.</li>
        <li>They have secured the right to reproduce any material that has already been published or
          copyrighted elsewhere.</li>
        <li>They agree to the following license and copyright agreement:</li>
      </ul>
      <h3>Copyright</h3>
      <ul>
        <li>The copyright of any article is retained by the author(s). More information on the transfer of
          copyright can be found below.</li>
        <li>Authors grant SciPost a license to publish the article and identify itself as the original publisher.</li>
        <li>Authors grant SciPost commercial rights to produce hardcopy volumes of the journal for purchase by
          libraries and individuals.</li>
        <li>Authors grant any third party the right to use the article freely under the stipulation that the
          original authors are given credit and the appropriate citation details are mentioned.</li>
        <li>The article is distributed under the
          <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) License</a>.
          Unless otherwise stated, any associated published material is distributed under the same license.
          If one or more authors are US government employees, the paper can be published under the
          terms of the <a href="http://creativecommons.org/licenses/cc0">Creative Commons CC0 public domain dedication</a>.</li>
      </ul>

      <h3 class="mt-3">Creative Commons Attribution 4.0 License</h3>
      <h4>You are free to</h4>
      <ul>
        <li><b>Share</b> - copy and redistribute the material in any medium or format.</li>
        <li><b>Adapt</b> - remix, transform, and build upon the material.</li>
      </ul>
      <p>for any purpose, even commercially. The licensor cannot revoke these freedoms
        as long as you follow the license terms.</p>
      <h4>Under the following terms:</h4>
      <ul>
        <li><b>Attribution</b> - You must give appropriate credit, provide a link to the
          license, and indicate if changes were made. You may do so in any reasonable
          manner, but not in any way that suggests the licensor endorses you or your use.</li>
      </ul>
      <p><b>No additional restrictions</b> - You may not apply legal terms or technological
        measures that legally restrict others from doing anything the license permits.</p>
      <h4>Notices:</h4>
      <p>You do not have to comply with the license for elements of the material in
        the public domain or where your use is permitted by an applicable exception
        or limitation.</p>
      <p>No warranties are given. The license may not give you all of the permissions
        necessary for your intended use. For example, other rights such as publicity,
        privacy, or moral rights may limit how you use the material.</p>

      <h4>View the <a href="http://creativecommons.org/licenses/by/4.0/">full legal code</a>
        of the license.</h4>

      <h3 class="mt-3">Copyright transfers</h3>
      <p>Many authors have strict regulations in their employment contract regarding
        their publications. A transfer of copyright to the institution or company
        is common as well as the reservation of specific usage rights.
        In open-access publications in combination with the Creative Commons License,
        a transfer of the copyright to the institution is possible as it belongs
        to the author anyway.</p>

      <p>Any usage rights are regulated through the Creative Commons License.
        As SciPost uses the Creative Commons Attribution 4.0 License,
        anyone (the author, his/her institution/company, the publisher, as well
        as the public) is free to copy, distribute, transmit, and adapt the work as
        long as the original author is given credit (see above). Therefore, specific
        usage rights cannot be reserved by the author or his/her institution/company,
        and the publisher cannot include the statement "all rights reserved"
        in any published paper.</p>

      <p>A copyright transfer from the author to his/her institution/company
        can be expressed in a special "copyright statement" at the end of the
        publication. Authors are asked to include the following sentence:
        "The author's copyright for this publication has been transferred
        to [institution/company]".</p>


      <h3>Reproduction requests</h3>
      <p>All articles published by SciPost are licensed under the Creative
        Commons Attribution 4.0 License (see details above) together with
        an author copyright. Therefore, there is no need from the publisher's
        side to give permission for the reproduction of articles.
        We suggest contacting the author to inform him/her about the further
        usage of the material. However, as the author decided to publish
        the scientific results under the CC-BY licence, he/she consented
        to share the work under the condition that the original authors
        be given credit.</p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h2 id="author_obligations">Author obligations</h2>
      <ol>
        <li>The primary obligation of the author(s) is to present a scientifically
          accurate account of the research performed, as concisely and objectively
          as possible, and with a discussion on its significance.</li>
        <li>A paper should contain sufficient detail and references to original
          sources of information to permit peers to reproduce the work.</li>
        <li>Conciseness should not come at the expense of scientific accuracy
          and completeness.</li>
        <li>The abstract should be comprehensive and in faithful
          correspondence to the contents of the paper.</li>
        <li>Papers must be written in English, and authors should pay
          attention to correct spelling and grammar. Insufficient quality of
          spelling and grammar constitutes a sufficient reason for rejection.</li>
        <li>Authors should cite all publications which have been influential in
          performing the reported work, and which can orient the reader to the
          earlier work necessary to understand the reported investigation.
          Privately obtained information (conversation, correspondence or discussion)
          should not be used or reported in the work without explicit permission
          from the originator. Information obtained while performing confidential
          services such as reporting on manuscripts or grant applications should
          be treated similarly.</li>
        <li>Fragmentation of research papers is to be avoided. Scientists should
          organize publications such that each paper gives a complete account
          of a particular project.</li>
        <li>Authors should not submit manuscripts describing essentially the same
          research to more than one journal.</li>
        <li>Criticisms of earlier literature can be justified; personal criticism
          shall however never be considered appropriate.</li>
        <li>Only persons who have significantly contributed to the research and
          to the redaction of the manuscript should be listed as authors. The
          submitting author attests to the fact that other named authors have
          seen the final version of the paper and have agreed to its submission.
          Deceased persons who meet the criteria for co-authorship should be
          included, with a footnote reporting the date of death. In no case should
          fictitious names be listed as co-authors. The submitter accepts the
          responsibility of having included all appropriate persons as co-authors,
          and none that are inappropriate.</li>
      </ol>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h2 id="referee_code_of_conduct">Referee code of conduct</h2>
      <ul>
        <li>Contributors asked to referee should promptly accept or decline the
          task assigned to them.</li>
        <li>Following acceptance, the referee should provide a report within the
          allocated refereeing period. It is preferable to deliver a shorter report
          within the expected time than no report at all.</li>
        <li>A Contributor should not referee a paper authored or co-authored by
          someone with whom the referee has a personal or professional (hierarchic)
          connection if this has the potential to bias the judgement.</li>
        <li>A Contributor should not referee a paper authored or co-authored by
          someone with whom the referee has published in the preceding three years.</li>
        <li>A Contributor should not agree to referee if there is any doubt on a
          possible conflict of interest issuing from close links between the work
          to be refereed and the Contributor's own work.</li>
        <li>A Contributor who feels insufficiently qualified to fulfill a given
          refereeing task should decline it as promptly as possible.</li>
        <li>Reports should be objective and evidence-based, and focus primarily on
          the scientific validity, significance and originality of the manuscript
          under consideration.</li>
        <li>Judgements provided should be supported by sufficient evidence in the
          form of explanations or references to other works, in order to make them
          clearly understandable. Any claim of preexisting material must be
          accompanied with the relevant citation.</li>
        <li>A Referee should also assess the level of clarity of the manuscript,
          as well as its general formatting and level of grammar.</li>
      </ul>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-12">
      <h2 id="Corrections and retractions">Corrections and retractions</h3>
	<p>
	  SciPost pursues the following policy for making corrections to its peer-reviewed content:
	</p>
	<ul>
	  <li><strong>Modification of a paper</strong>: SciPost reserves the right to replace a published paper if purely technical corrections are necessary (e.g. corrupt file or incorrect bibliographical entry). In such cases, archives and indices are informed. Under no circumstances will the content be changed.</li>
	  <li><strong>Corrigendum</strong>: notification of an important error made by the author(s) or by the journal that affects the publication record or the scientific integrity of the published, peer-reviewed work or the reputation of the author or the journal. Corrigenda are represented by a formal online notice.</li>
	  <li><strong>Retraction</strong>: authors or, in specific cases, SciPost can decide to formally withdraw a published journal article. The article stays online but the reader is notified about the retraction. Such retractions are most often accompanied by an editorial note explaining the background.</li>
	  <li><strong>Marked as fraud</strong>: in the unlikely case that SciPost is notified that a published journal article turns out to be a fraud, the paper stays online but is formally withdrawn. The reader is notified about the status and fraud papers are always accompanied by an editorial note pointing out the malpractice.</li>
	</ul>
	<p>All corrections and retractions can be traced through our participation in Crossref's <a href="https://www.crossref.org/services/crossmark/">Crossmark</a> service, as detailed on our <a href="{% url 'journals:crossmark_policy' %}">Crossmark Policy Page</a>.</p>

    </div>
  </div>

{% endblock content %}
