{% extends 'journals/base.html' %}

{% block meta_description %}{{ block.super }} Issue Detail{% endblock meta_description %}
{% block pagetitle %}{{ block.super }}: issue detail{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{{ journal.get_absolute_url }}" class="breadcrumb-item">{{ journal }}</a>
  <span class="breadcrumb-item active">{{ issue.short_str }}</span>
{% endblock %}

{% block link_class_physics_issues %}active{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="row">
    <div class="col-12">
      <h2 class="text-blue m-0 p-0 py-2">{{ issue }}</h2>
      {% if prev_issue %}
        <h4 class="d-inline-block"><a href="{{ prev_issue.get_absolute_url }}">{% include 'bi/arrow-left.html' %} Previous issue | {{ prev_issue.short_str }}</a></h4>
      {% endif %}
      {% if next_issue %}
        <h4 class="float-right d-inline-block"><a href="{{ next_issue.get_absolute_url }}">{{ next_issue.short_str }} | Next issue {% include 'bi/arrow-right.html' %}</a></h4>
      {% endif %}
    </div>
  </div>

  {% if issue.proceedings %}
    {% include 'partials/proceedings/description.html' with proceedings=issue.proceedings %}
  {% endif %}

  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        {% for paper in papers %}
          <li>
            {% include 'partials/journals/publication_card.html' with publication=paper %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
