{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'scipost/SciPost.css' %}" />

{% include 'scipost/header.html' %}
{% include 'scipost/navbar.html' %}

<section>
  <h1>SciPost Journals</h1>
  <p>SciPost publishes a family of online Journals covering all domains and specialties in the field of Physics.</p>
  <p>Manuscripts submitted to SciPost undergo the extremely stringent <a href="{% url 'scipost:peer_witnessed_refereeing' %}">peer-witnessed refereeing</a> process (see details below), guaranteeing that papers published in SciPost Journals meet the highest possible academic standards.</p>
  <p>All SciPost Journals are subscription-free and perpetually openly accessible.</p>
  <div class="row">
    <div class="col-6">
      <h3>SciPost Physics Select</h3><p>(Editorially-selected Letters of superlative quality)</p>
      <h3>SciPost Physics Letters</h3><p>(Letters of broad interest and outstanding quality)</p>
    </div>
    <div class="col-6">
      <h3>SciPost Physics X</h3><p>(cross-division articles)</p>
      <h3>SciPost Physics </h3><p>(Experimental, Theoretical and Computational Physics)</p>
    </div>
  </div>
</section>

<section>
  <h1>SciPost Physics Select</h1>
  <p>SciPost Physics Select publishes Letters of superlative quality in the field of Physics.</p>
  <p>Authors cannot submit directly to this Journal; SPS papers are editorially selected from the most outstanding Submissions to SciPost Physics Letters.</p>
</section>

<section>
  <h1>SciPost Physics Letters</h1>
  <p>SciPost Physics Letters publishes outstanding-quality, broad-interest papers in all fields of Physics.</p>
</section>

<section>
  <h1>SciPost Physics X</h1>
  <p>SciPost Physics X publishes high-quality papers covering cross-domain/cross-disciplinary research in Physics.</p>
</section>

<section>
  <h1>SciPost Physics</h1>
  <p>SciPost Physics publishes high-quality papers in Physics. It covers the three major domains of modern Physics, namely E (Experimental), T (Theoretical) and C (Computational) Physics, which encompass the following specialties:</p>
  <ul>
    <li>A: Atomic, Molecular and Optical Physics</li>
    <li>B: Biophysics</li>
    <li>C: Condensed Matter Physics</li>
    <li>F: Fluid Dynamics</li>
    <li>G: Gravitation, Cosmology and Astroparticle Physics</li>
    <li>H: High-Energy Physics</li>
    <li>M: Mathematical Physics</li>
    <li>N: Nuclear Physics</li>
    <li>Q: Quantum Statistical Mechanics</li>
    <li>S: Statistical and Soft Matter Physics</li>
  </ul>
</section>

<section>
  <h1>Submission and Refereeing procedure</h1>
  <h3>Submission</h3>
  <p>To submit your article for publication in a SciPost Journal, you must:</p>
  <ol>
    <li>Make your preprint publicly available on arXiv</li>
    <li>After appearance on arXiv, fill the SciPost <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form, choosing which SciPost Journal you wish to submit to. </li>
  </ol>
  <p>Note that you cannot submit directly to SciPost Physics Select. Submissions to SciPost Physics Letters deemed of superlative qualty will be editorially promoted to SPS.</p>
  <br/>
  <h3>Refereeing procedure</h3>
  <p>Papers submitted to SciPost are put through the <a href="{% url 'scipost:peer_witnessed_refereeing' %}">peer-witnessed refereeing</a> process, implementing the highest possible standard of refereeing. The precise procedure differs slightly between SciPost Journals but follows this pattern:</p>
  <ul>
    <li>A SciPost Submission Page is activated for the Submission (this is similar to a Commentary Page, but with Reports also enabled). This page is immediately open to Contributor Comments and Author Replies.</li>
    <li>An Editor-in-charge starts a 3-week Refereeing round, inviting specific Contributors to provide an Invited Report.</li>
    <li>During a refereeing round, registered Contributors to SciPost can volunteer a Contributed Report.</li>
    <li>Authors can continuously provide Replies to Reports and Comments.</li>
    <li>At the end of the refereeing round, Reports, Replies and Comments are assessed by SciPost Editors, and an Editorial decision is taken.</li>
    <li>The Editorial decision consists in either a publication offer, request for resubmission (with minor revisions, or major revisions (leading to another refereeing round)), or rejection.</li>
    <li>The Authors can respond to the Editorial decision by accepting an eventual publication offer (in which case the Submission Page and its contents are moved to a SciPost Publication Page), by revising their manuscript and resubmitting to SciPost, or by withdrawing their Submission (in which case the Submission Page is deactivated and all its contents removed from public view).</li>
  </ul>
</section>
    

{% include 'scipost/footer.html' %}
