{% extends 'scipost/base.html' %}

{% load staticfiles %}
{% load automarkup %}
{% load journals_extras %}

{% block headsup %}
<style>{% for journal in journals %}{% if journal.style %}{{ journal.style }}{% endif %}{% endfor %}</style>
{% endblock headsup %}

{% block pagetitle %}: Journals{% endblock pagetitle %}


{% block content %}

  <h1 class="highlight">SciPost Journals</h1>

  <div class="row">
    <div class="col-lg-5">
      <p><em>We are hard at work on our <a href="{% url 'scipost:PlanSciPost' %}">expansion plans</a>! Help us in our mission to reform academic publishing.</em></p>
      <p>All our Journals focus on top-quality science, and implement <a href="{% url 'scipost:about' %}#GOA">Genuine Open Access</a>. Publishing with SciPost means that you automatically fulfil (and even surpass) your mandated Open Access requirements, being relieved of any author-facing charges or other administrative burdens while encouraging our <a href="{% url 'finances:business_model' %}">healthier business model</a> for scientific publishing.</p>
      <p>Click on a Journal title to view Journal-specific further information (including preparation and submission instructions).</p>
    </div>
    <div class="col-lg-7">
      {% include 'submissions/_guidelines_dl.html' with journal=journal %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h4>On this page: you will find all Journals we operate, listed by branch of knowledge/field of study.</h4>
      <br>
      {% include 'scipost/_disciplines_table.html' %}
      <br>
      <p>Does your field not have a Journal yet? Help us to form an Editorial College by
	<a href="mailto:admin@scipost.org">sending us your suggestions</a> for potential Fellows
	and Advisory Board members.</p>
    </div>
  </div>

  <hr>

  {% for branch in scipost_disciplines %}
    <h2 class="highlight" id="{{ branch.0|cut:' ' }}">{{ branch.0 }}</h2>
    {% with journals|journals_in_branch:branch.0 as journals_branch %}
      {% if journals_branch|length > 0 %}
	{% for discipline in branch.1 %}
	  {% with journals_branch|journals_in_discipline:discipline.0 as journals_disc %}
	    {% if journals_disc|length > 0 %}
	      <h3 class="highlight">{{ discipline.1 }}</h3>
	      <div class="card-columns">
		{% for journal in journals_disc %}
		  {% if journal.active or perms.scipost.can_view_pool %}
		    <div class="card">
		      <div class="card-header {{ journal.doi_label }}">
			<a href="{{ journal.get_absolute_url }}">{{ journal.name }}</a>
			{% if journal.has_DOAJ_Seal %}
			  <a href="https://doaj.org" class="float-right"><img src="{% static 'scipost/images/DOAJ_Seal_logo_big.png' %}" alt="DOAJ Seal" width="20em"></a>
			{% endif %}
		      </div>
		      <div class="card-body">
			{{ journal.blurb|automarkup }}
		      </div>
		    </div>
		  {% endif %}
		{% endfor %}
	      </div>
	    {% endif %}
	  {% endwith %}
	{% endfor %}
	{% if not forloop.last %}
	  <hr>
	{% endif %}
      {% else %}
	<p>
	  There are no Journals yet in this branch of academia.
	  <strong>Help us to get started: nominate potential Fellows by <a href="mailto:admin@scipost.org">emailing us</a> with your suggestions!</strong>
	</p>
      {% endif %}
    {% endwith %}
  {% endfor %}


{% endblock content %}
