{% extends 'journals/_base.html' %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{{journal.get_absolute_url}}" class="breadcrumb-item">{{journal}}</a>
{% endblock %}

{% block content %}

    {% if current_issue %}
        <div class="row">
            <div class="col-12">
                <h2 class="highlight-empty text-blue m-0 p-0 pt-2">Current issue: Vol. {{ current_issue.in_volume.number }} issue {{ current_issue.number }} (in progress)</h2>
                {% if prev_issue %}
                    <h4 class="d-inline-block"><a href="{{prev_issue.get_absolute_url}}">< Previous issue | Vol. {{prev_issue.in_volume.number}} issue {{prev_issue.number}}</a></h4>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    {% for paper in current_issue.publications.published|dictsort:"paper_nr" %}
                        <li>
                            {% include 'partials/journals/publication_card.html' with publication=paper %}
                        </li>
                    {% empty %}
                        <li>
                            <h3>No publications found for this issue</h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if latest_issue %}
        <div class="row">
            <div class="col-12">
                <h2 class="highlight-empty text-blue m-0 p-0">Latest issue: Vol. {{ latest_issue.in_volume.number }} issue {{ latest_issue.number }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    {% for paper in latest_issue.publications.published|dictsort:"paper_nr" %}
                        <li>
                            {% include 'partials/journals/publication_card.html' with publication=paper %}
                        </li>
                    {% empty %}
                        <li>
                            <h3>No publications found for this issue</h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if not current_issue and not latest_issue %}
        <div class="row">
            <div class="col-12">
                <h2 class="text-blue">Coming soon!</h2>
            </div>
        </div>
    {% endif %}

{% endblock %}
