{% extends 'scipost/_personal_page_base.html' %}

{% block pagetitle %}: Manage metadata{% endblock pagetitle %}

{% load bootstrap %}

{% load journals_extras %}

<script>
$(function() {
$( "#accordion" ).accordion({
event: "focusin"
});
});
</script>

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Manage metadata</span>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Manage Publications Metadata{% if issue_doi_label %} for issue {{ issue_doi_label }}{% endif %}</h1>
	{% if issue_doi_label %}
	<h3>Return to the <a href="{% url 'journals:manage_metadata' %}">Main manage metadata page</a></h3>
	{% endif %}
	<h3>Manage metadata per issue:</h3>
        <ul>
          {% for issue in issues %}
          <li>
            <a href="{% url 'journals:manage_metadata' issue_doi_label=issue.doi_label %}">{{ issue }}</a>
          </li>
          {% endfor %}
        </ul>
    </div>
</div>


<table class="table table-hover mb-5">
  <thead class="thead-default">
    <tr>
      <th>doi</th>
      <th>Publication date</th>
      <th>Latest metadata update</th>
      <th>Latest successful Crossref deposit</th>
      <th>Deposit needs updating?</th>
      <th>DOAJ</th>
    </tr>
  </thead>

  <tbody id="accordion" role="tablist" aria-multiselectable="true">
    {% for publication in publications %}
    <tr data-toggle="collapse" data-parent="#accordion" href="#collapse{{ publication.id }}" aria-expanded="true" aria-controls="collapse{{ publication.id }}" style="cursor: pointer;"{% if not publication.is_published %} class="table-warning"{% endif %}>
      <td><a href="{{ publication.get_absolute_url }}">{{ publication.doi_label }}</a></td>
      <td>{{ publication.publication_date }}</td>
      {% if publication.latest_metadata_update %}
      <td>
        {{ publication.latest_metadata_update }}
      </td>
      {% else %}
      <td>No info available</td>
      {% endif %}
      <td>{{ publication|latest_successful_crossref_deposit }}</td>
      <td>{{ publication.doideposit_needs_updating }}</td>
      <td>{{ publication|latest_successful_DOAJ_deposit }}</td>
    </tr>
    <tr id="collapse{{ publication.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ publication.id }}" style="background-color: #fff;">
      <td colspan="6" class="py-3">
        <div class="row">
          {% if not publication.is_published %}
            <div class="col-12">
                <h3 class="text-center bg-warning text-white mb-3">Current status: <em>{{ publication.get_status_display }}</em></h3>
            </div>
          {% endif %}

          <div class="col-md-6">
              <h2 class="ml-3">Actions</h2>
            <ul>
              <li>Mark the first author
                <ul class="list-unstyled pl-4">
                  {% for author in publication.authors.all %}
                  <li>
                    {{ author.order }}. <a href="{% url 'journals:mark_first_author' doi_label=publication.doi_label author_object_id=author.id %}">{{ author }}</a>
                  </li>
                  {% endfor %}
                </ul>
	      </li>
              <li><a href="{% url 'journals:add_author' doi_label=publication.doi_label %}">Add a missing author</a></li>
              <li><a href="{% url 'journals:create_citation_list_metadata' publication.doi_label %}">Create/update citation list metadata</a></li>
              <li><a href="{% url 'journals:create_funding_info_metadata' publication.doi_label %}">Create/update funding info metadata</a></li>

              <li><a href="{% url 'journals:create_metadata_xml' publication.doi_label %}">(re)create metadata</a></li>
              <li><a href="{% url 'journals:metadata_xml_deposit' publication.doi_label 'test' %}">Test metadata deposit (via Crossref test server)</a></li>
              <li><a href="{% url 'journals:metadata_xml_deposit' publication.doi_label 'deposit' %}">Deposit the metadata to Crossref</a></li>
	      <li><a href="{% url 'journals:produce_metadata_DOAJ' doi_label=publication.doi_label %}">Produce DOAJ metadata</a></li>
	      <li><a href="{% url 'journals:metadata_DOAJ_deposit' doi_label=publication.doi_label %}">Deposit the metadata to DOAJ</a></li>
              <li><a href="{% url 'journals:harvest_citedby_links' publication.doi_label %}">Update Crossref cited-by links</a></li>
              {% if not publication.is_published %}
                  <li><a href="{% url 'journals:update_publication' publication.accepted_submission.arxiv_identifier_w_vn_nr %}">Update Publication object</a></li>
                  <li><strong><a href="{% url 'journals:publish_publication' publication.doi_label %}">Publish this Publication</a></strong></li>
              {% endif %}
            </ul>
          </div>

          <div class="col-md-6">
	    <h2>Funding statement for this publication:</h2>
	    {% if publication.metadata.funding_statement %}
	    <p>{{ publication.metadata.funding_statement }}</p>
	    {% else %}
	    <p>No funding statement was found</p>
	    {% endif %}
	    <h2>Grants associated to this publication:</h2>
	    <ul>
	      {% for grant in publication.grants.all %}
	      <li>{{ grant }}</li>
	      {% empty %}
	      <li>no associated grants found</li>
	      {% endfor %}
	    </ul>
	    <br/>
	    <h3>Associate a grant to this publication:</h3>
	    <form action="{% url 'journals:add_associated_grant' publication.doi_label %}" method="post">
	      {% csrf_token %}
	      {{associate_grant_form|bootstrap}}
	      <input class="btn btn-secondary" type="submit" value="Add">
	    </form>
	    <br/>
	    <h2>Generic (not via grant) funders associated to this publication:</h2>
	    <ul>
	      {% for funder in publication.funders_generic.all %}
	      <li>{{ funder }}</li>
	      {% empty %}
	      <li>No generic funder found</li>
	      {% endfor %}
	    </ul>
	    <h3>Associate a generic funder to this publication:</h3>
	    <form action="{% url 'journals:add_generic_funder' publication.doi_label %}" method="post">
	      {% csrf_token %}
	      {{associate_generic_funder_form|bootstrap}}
	      <input class="btn btn-secondary" type="submit" value="Add">
	    </form>
	    <br/>
	    <h3>Other funding-related actions:</h3>
	    <ul>
	      <li><a href="{% url 'funders:funders' %}" target="_blank">go to the Funders page to add a Funder and/or Grant instance</a></li>
	    </ul>
	  </div>
	</div>


	<h2 class="ml-3">Crossref Deposits</h2>
	<table class="ml-5">
	  <thead class="thead-default">
	    <th>Timestamp</th>
	    <th>batch id</th>
	    <th>deposition date</th>
	    <th>Successful?</th>
	    <th>actions</th>
	  </thead>
	  <tbody>
	    {% for deposit in publication.deposit_set.all %}
	    <tr>
	      <td>{{ deposit.timestamp }}</td>
	      <td>{{ deposit.doi_batch_id }}</td>
	      <td>{% if deposit.deposition_date %}{{ deposit.deposition_date }}{% else %}Not deposited{% endif %}</td>
	      <td>{{ deposit.deposit_successful }}</td>
	      <td>Mark deposit as
		<ul>
		  <li><a href="{% url 'journals:mark_deposit_success' deposit_id=deposit.id success=1 %}">successful</a></li>
		  <li><a href="{% url 'journals:mark_deposit_success' deposit_id=deposit.id success=0 %}">unsuccessful</a></li>
		</ul>
	      </td>
	    </tr>
	    {% empty %}
	    <tr>
	      <td colspan="6">No Deposits found for this publication</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

	<h2 class="ml-3">DOAJ Deposits</h2>
	<table class="ml-5">
	  <thead class="thead-default">
	    <th>Timestamp</th>
	    <th>deposition date</th>
	    <th>Successful?</th>
	    <th>actions</th>
	  </thead>
	  <tbody>
	    {% for deposit in publication.doajdeposit_set.all %}
	    <tr>
	      <td>{{ deposit.timestamp }}</td>
	      <td>{% if deposit.deposition_date %}{{ deposit.deposition_date }}{% else %}Not deposited{% endif %}</td>
	      <td>{{ deposit.deposit_successful }}</td>
	      <td>Mark deposit as
		<ul>
		  <li><a href="{% url 'journals:mark_doaj_deposit_success' deposit_id=deposit.id success=1 %}">successful</a></li>
		  <li><a href="{% url 'journals:mark_doaj_deposit_success' deposit_id=deposit.id success=0 %}">unsuccessful</a></li>
		</ul>
	      </td>
	    </tr>
	    {% empty %}
	    <tr>
	      <td colspan="6">No Deposits found for this publication</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No publications found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
