{% extends 'journals/_base.html' %}

{% load journals_extras %}
{% load staticfiles %}
{% load scipost_extras %}
{% load user_groups %}

{% block pagetitle %}: {{ publication.citation }} - {{ publication.title }}{% endblock pagetitle %}

{% block body_class %}{{ block.super }} publication{% endblock %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{{journal.get_absolute_url}}" class="breadcrumb-item">{{journal}}</a>
    <a href="{{publication.in_issue.get_absolute_url}}" class="breadcrumb-item">{{publication.in_issue.short_str}}</a>
    <span class="breadcrumb-item active">{{publication.title}}</span>
{% endblock %}

{% block headsup %}

    <meta name="citation_title" content="{{ publication.title }}"/>
    {% for author in publication.authors.all %}
        {% if author.contributor %}
            <meta name="citation_author" content="{{ author.contributor.user.last_name }}, {{ author.contributor.user.first_name }}"/>
        {% elif author.unregistered_author %}
            <meta name="citation_author" content="{{ author.unregistered_author.last_name }}, {{ author.unregistered_author.first_name }}"/>
        {% endif %}
    {% endfor %}
    <meta name="citation_doi" content="{{ publication.doi_string }}"/>
    <meta name="citation_publication_date" content="{{ publication.publication_date|date:'Y/m/d' }}"/>
    <meta name="citation_journal_title" content="{{ journal }}"/>
    <meta name="citation_issn" content="{{ journal.issn }}"/>
    <meta name="citation_volume" content="{{ publication.in_issue.in_volume.number }}"/>
    <meta name="citation_issue" content="{{ publication.in_issue.number }}"/>
    <meta name="citation_firstpage" content="{{ publication.paper_nr|paper_nr_string_filter }}"/>
    <meta name="citation_pdf_url" content="https://scipost.org/{{ publication.doi_string }}/pdf"/>

    <meta name="dc.identifier" content="doi:{{ publication.doi_string }}"/>

    <script>
      $(document).ready(function(){
        $("#citationslist").hide();

        $("#citationslistbutton").click(function(){
          $("#citationslist").toggle();
        });
      });
    </script>

{% endblock headsup %}

{% block content %}
    {% is_edcol_admin request.user as is_edcol_admin %}

    {% include 'partials/journals/publication_summary.html' with publication=publication %}

    {% if publication.commentary and publication.commentary.comments.vetted.exists %}
        <h3>Post-publication commentaries</h3>
        <p>
            This Publication ({{ publication.commentary.comments.vetted.count }}) has been commented on, see <a href="{{ publication.commentary.get_absolute_url }}">this Publication's Commentary page</a> for details.
        </p>
    {% endif %}

    {% if publication.citedby|length >= 1 %}

        <div class="row">
            <div class="col-6 col-md-2">
                <h3 class="mb-2">Cited by {{ publication.citedby|length }}</h3>
                <a href="javascript:;" data-toggle="toggle" data-target="#citationslist">Toggle view</a>
            </div>
            <div class="col-6 col-md-2">
                <img src="{% static 'scipost/images/citedby.gif' %}" alt="Crossref Cited-by" width="64" />
            </div>
        </div>
        <div class="row" id="citationslist" style="display: none;">
            <div class="col-12">
                {% include 'journals/_publication_citations.html' with publication=publication %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <h3>Authors</h3>
            <ul>
                {% for author in publication.authors.all %}
                    {% if author.is_registered %}
                        <li><a href="{{ author.contributor.get_absolute_url }}">{{ author.contributor }}</a></li>
                    {% else %}
                        <li>{{ author.unregistered_author }}</li>
                    {% endif %}
                {% endfor %}
            </ul>



            {% if is_edcol_admin %}
                {# This function is not available for public yet! #}
                <em>The following is not available for the public yet:</em>
                {% include 'partials/journals/references.html' with publication=publication %}

                {% if publication.funders_generic.exists %}
                    <h3>Funder{{ publication.funders_generic.count|pluralize }} for this publication:</h3>
                    <ul>
                        {% for funder in publication.funders_generic.all %}
                            <li><a href="{{ funder.get_absolute_url }}">{{ funder }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if publication.institutions.exists %}
                    <h3>Institution{{ publication.institutions.count|pluralize }} related to this Publication:</h3>
                    <ul>
                        {% for institution in publication.institutions.all %}
                            <li>{{ institution }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if request.user and request.user.contributor in publication.registered_authors.all %}
        <h3>Author actions</h3>
        <ul>
            <li><a href="{% url 'commentaries:comment_on_publication' publication.doi_label %}">Place a comment on this publication</a></li>
        </ul>
    {% endif %}

    {% if is_edcol_admin %}
    <hr>
    <div class="row">
        <div class="col-12">
            <h3>Editorial Administration tools: </h3>
            <ul>
              <li>
                  Mark the first author
                  <ul class="list-unstyled pl-4">
                    {% for author in publication.authors.all %}
                      <li>
                        {{ author.order }}. <a href="{% url 'journals:mark_first_author' publication_id=publication.id author_object_id=author.id %}">{{ author }}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </li>
              <li><a href="{% url 'journals:add_author' publication.id %}">Add a missing author</a></li>
              <li><a href="{% url 'journals:create_citation_list_metadata' publication.doi_label %}">Create/update citation list metadata</a></li>
              <li><a href="{% url 'journals:create_funding_info_metadata' publication.doi_label %}">Create/update funding info metadata</a></li>
              <li><a href="{% url 'journals:create_metadata_xml' publication.doi_label %}">Create/update the XML metadata</a></li>
              <li><a href="{% url 'journals:metadata_xml_deposit' publication.doi_label 'test' %}">Test metadata deposit (via Crossref test server)</a></li>
              <li><a href="{% url 'journals:metadata_xml_deposit' publication.doi_label 'deposit' %}">Deposit the metadata to Crossref</a></li>
              <li><a href="{% url 'journals:harvest_citedby_links' publication.doi_label %}">Update Crossref cited-by links</a></li>
              <li><a href="{% url 'journals:manage_metadata' %}">Metadata management page</a></li>
    	      <li><a href="{% url 'journals:manage_metadata' doi_label=publication.doi_label %}">This publication's metadata management page</a></li>
              <li><a href="{% url 'journals:update_references' doi_label=publication.doi_label %}">Update references</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock content %}
