{% extends 'scipost/base.html' %}

{% block pagetitle %}: Publication detail{% endblock pagetitle %}

{% load scipost_extras %}

{% block bodysup %}


<section>

  {% include 'journals/scipost_physics_menu.html' %}

  <br/>

  <div class="flex-container">
    <div class="flex-whitebox800">
      {{ publication.details }}
    </div>
  </div>

  {% if request.user|is_in_group:'Editorial Administrators' %}
  <h3>Editorial Administration: Metadata creation and registration</h3>
  <ul>
    <li><a href="{% url 'journals:create_citation_list_metadata' doi_string=publication.doi_string%}">Create/update citation list metadata</a></li>
    <li><a href="{% url 'journals:create_funding_info_metadata' doi_string=publication.doi_string%}">Create/update funding info metadata</a></li>
    <li><a href="{% url 'journals:create_metadata_xml' doi_string=publication.doi_string %}">Create/update the XML metadata</a></li>
    <li><a href="{% url 'journals:test_metadata_xml_deposit' doi_string=publication.doi_string %}">Test metadata depost (via Crossref test server)</li>
  </ul>
  {% endif %}


  {% include 'journals/scipost_physics_footer.html' %}

</section>


{% endblock bodysup %}
