{% extends 'journals/base.html' %}

{% load scipost_extras %}

{% block meta_description %}{{ block.super }} Refereeing Guidelines{% endblock meta_description %}
{% block pagetitle %}{{ block.super }}: Refereeing guidelines{% endblock pagetitle %}

{% block link_class_physics_info %}active{% endblock %}

{% block breadcrumb_items %}
  {{ block.super }}
  {% if journal %}
    <a href="{% url 'journals:journals' %}?field={{ journal.college.acad_field.slug }}" class="breadcrumb-item">{{ journal.college.acad_field }} Journals</a>
    <a href="{% url 'journal:about' journal.doi_label %}" class="breadcrumb-item">{{ journal.name }}</a>
  {% endif %}
  <span class="breadcrumb-item active">Refereeing guidelines</span>
{% endblock %}

{% block content %}
  {{ block.super }}

  {% include 'submissions/_referee_guidelines.html' with journal=journal %}

{% endblock %}
