{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics: accepted{% endblock pagetitle %}

{% block content %}

{% include 'journals/scipost_physics_menu.html' %}

<div class="row">
    <div class="col-12">
        <div class="panel">
            <h2>Accepted for publication</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if accepted_SP_submissions %}
            <ul>
                {% for submission in accepted_SP_submissions %}
                    {{ submission.header_as_li }}
                {% endfor %}
            </ul>
        {% else %}
            <h3>All recently accepted Submissions to SciPost Physics have been published.</h3>
        {% endif %}
    </div>
</div>

{% include 'journals/scipost_physics_footer.html' %}

{% endblock content %}
