{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics: issue detail{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){

    $(".publicationAbstract").hide();

    $(".toggleAbstractButton").click(function(){
      $(this).parent("li").parent("ul").siblings("p.publicationAbstract").toggle();
    });
  });
</script>

{% endblock headsup %}

{% block content %}

{% include 'journals/scipost_physics_menu.html' %}

<div class="row">
    <div class="col-12">
        <div class="panel">
            <h2>{{ issue }}</h2>
        </div>
    </div>
</div>

<div class="publicationHeaderList">
    <div class="row">
        {% for paper in papers %}
            <div class="col-md-6">
                <div class="panel">
                  {{ paper.header_as_li }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% include 'journals/scipost_physics_footer.html' %}

{% endblock content %}
