{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics{% endblock pagetitle %}

{% block bodysup %}


<section>
  <div class="flex-container">
    <div class="SciPostPhysicsTab">
      <h3>SciPost Physics</h3>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-greybox">
      <p>Outstanding-quality research articles in all domains and subject areas of Physics.</p>
    </div>
  </div>

  <ul class="SciPostPhysicsTabMenu">
    <li>Accepted</li>
    <li><a href="{% url 'submissions:submissions' %}">Submissions</a></li>
  </ul>

  <br/>
  <h2>View and comment on (login required) current <a href="{% url 'submissions:submissions' %}">Submissions</a></h2>
  <br/>


</section>


{% endblock bodysup %}
