{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics{% endblock pagetitle %}

{% block headsup %}

<!--
<script>
  $(document).ready(function(){
  $(".TabItem").attr("class", "TabItem inactive");
  $("#RecentTab").attr("class", "TabItem active");
  $(".TabSection").hide();
  $("#Recent").show();
  $("#IssuesTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#IssuesTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Issues").show();
  });
  $("#RecentTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#RecentTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Recent").show();
  });
  $("#AcceptedTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#AcceptedTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Accepted").show();
  });
  $("#SubmissionsTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#SubmissionsTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Submissions").show();
  });
  $("#InfoTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#InfoTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Info").show();
  });
  $("#AboutTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#AboutTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#About").show();
  });
  });

</script>
-->
<script>
  $(document).ready(function(){

  $(".publicationAbstract").hide();

  $(".toggleAbstractButton").click(function(){
  $(this).parent("li").parent("ul").siblings("p.publicationAbstract").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

<section>

  {% include 'journals/scipost_physics_menu.html' %}

  {% if current_issue %}
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Current issue: Vol. {{ current_issue.in_volume.number }} issue {{ current_issue.number }} (in progress)</h2>
    </div>
  </div>

  <div class="flex-container">
    <div class="flex-whitebox800">
      <ul class="publicationHeaderList">
	{% for paper in current_issue.publication_set.all|dictsort:"paper_nr" %}
	{{ paper.header_as_li }}
	{% endfor %}
      </ul>
    </div>
  </div>
  <hr class="hr12"/>
  {% endif %}

  {% if latest_issue %}
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Latest issue: Vol. {{ latest_issue.in_volume.number }} issue {{ latest_issue.number }}</h2>
    </div>
  </div>

  <div class="flex-container">
    {% if latest_issue %}
    <div class="flex-whitebox800">
      <ul class="publicationHeaderList">
	{% for paper in latest_issue.publication_set.all|dictsort:"paper_nr" %}
	{{ paper.header_as_li }}
	{% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}

</section>


<section>
{% include 'journals/scipost_physics_footer.html' %}
</section>

{% endblock bodysup %}
