{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){
  $(".TabItem").attr("class", "TabItem inactive");
  $("#RecentTab").attr("class", "TabItem active");
  $(".TabSection").hide();
  $("#Recent").show();
  $("#IssuesTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#IssuesTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Issues").show();
  });
  $("#RecentTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#RecentTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Recent").show();
  });
  $("#AcceptedTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#AcceptedTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Accepted").show();
  });
  $("#SubmissionsTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#SubmissionsTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Submissions").show();
  });
  $("#InfoTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#InfoTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#Info").show();
  });
  $("#AboutTab").click(function(){
   $(".TabItem").attr("class", "TabItem inactive");
   $("#AboutTab").attr("class", "TabItem active");
   $(".TabSection").hide();
   $("#About").show();
  });
  });

</script>

<script>
  $(document).ready(function(){

  $(".publicationAbstract").hide();

  $(".toggleAbstractButton").click(function(){
  $(this).parent("li").parent("ul").siblings("p.publicationAbstract").toggle();
  });
  });
</script>

{% endblock headsup %}

{% block bodysup %}

<section>

  <ul class="SciPostPhysicsTabMenu">

    <li>
      <div class="SciPostPhysicsTab">
	<h3>SciPost Physics</h3>
      </div>
    </li>
    <li><a class="TabItem" id="IssuesTab">Issues</a></li>
    <li><a class="TabItem" id="RecentTab">Recent</a></li>
    <li><a class="TabItem" id="AcceptedTab">Accepted</a></li>
    <li><a class="TabItem" id="SubmissionsTab">Submissions</a></li>
    <li><a class="TabItem" id="InfoTab">Info for authors</a></li>
    <li><a class="TabItem" id="AboutTab">About</a></li>
  </ul>
</section>

<section class="TabSection" id="Issues">
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Issues</h2>
    </div>
  </div>

  <ul>
    {% for issue in issues %}
    <li>{{ issue }}</li>
    {% endfor %}
  </ul>

</section>

<section class="TabSection" id="Recent">
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Current issue: Vol. {{ latest_issue.in_volume.number }} issue {{ latest_issue.number }} (in progress)</h2>
    </div>
  </div>

  <div class="flex-container">
    {% if recent_papers %}
    <div class="flex-whitebox800">
      <ul class="publicationHeaderList">
	{% for paper in recent_papers %}
	{{ paper.header_as_li }}
	{% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</section>

<section class="TabSection" id="Accepted">
  {% if accepted_SP_submissions %}
  <br />
  <hr class="hr12">
  <h2>Accepted for publication:</h2>
  <ul>
    {% for submission in accepted_SP_submissions %}
    {{ submission.header_as_li }}
    {% endfor %}
  </ul>
  {% else %}
  <h2>All recently accepted Submissions to SciPost Physics have been published.</h3>
  {% endif %}

  <br/>
  <hr class="hr6"/>
  <h2>View and comment on (login required) current <a href="{% url 'submissions:submissions' %}">Submissions</a></h2>
  <br/>
</section>

<section class="TabSection" id="Submissions">

  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Current Submissions</h2>
    </div>
  </div>
  
  <div class="flex-whitebox">
    <ul>  
      {% for submission in current_SP_submissions %}
      {{ submission.header_as_li }}
      {% endfor %}
    </ul>
  </div>

</section>

<section class="TabSection" id="Info">
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>Information for Authors</h2>
    </div>
  </div>

  <div class="flex-whitebox">
    <h3>Manuscript preparation</h3>
    <ul>
      <li>Please follow the <a href="{% url 'submissions:author_guidelines' %}">Author guidelines</a> to ensure seamless processing of your manuscript.</li>
    </ul>
    
    <h3>Submission and Refereeing</h3>
    <ul>
      <li>Make sure you have read and agree with the <a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions.</a></li>
      <li>All Submissions to SciPost Physics follow the peer-witness refereeing procedures outlined in 
	<a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and Refereeing procedure</a>.</li>
    </ul>
    
    <h3>Decision</h3>
    <ul>
      <li>All publication decisions are taken by the <a href="{% url 'scipost:about' %}#editorial_college_physics">Editorial College (Physics)</a>, following the rules set out in the <a href="{% url 'scipost:EdCol_by-laws' %}">Editorial College by-laws</a>.</li>
    </ul>
  </div>
</section>

<section class="TabSection" id="About">
  <div class="flex-container">
    <div class="flex-greybox">
      <h2>About SciPost Physics</h2>
    </div>
  </div>

  <div class="flex-whitebox">
    <p>SciPost Physics publishes outstanding-quality research articles in all domains and subject areas of Physics.</p>
    <p>The journal accepts three types of content: <strong>Letters</strong>, <strong>Articles</strong> and <strong>Reviews</strong>.</p>
    <ul>
      <li><strong>Letters</strong> report broad-interest, significant breakthroughs in Physics, of interest and importance to researchers in multiple subject areas.</li>
      <li><strong>Articles</strong> provide in-depth, detailed reports of groundbreaking research within one or more subject areas.</li>
    <li><strong>Reviews</strong> are short pieces taking a snapshot of a research area, written by recognized leaders in the field, providing a critical assessment of current frontline research and providing pointers towards future opportunities.</li>
    </ul>
  </div>
</section>



<section>
{% include 'journals/scipost_physics_footer.html' %}
</section>

{% endblock bodysup %}
