{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics{% endblock pagetitle %}

{% block headsup %}

<script>
  $(document).ready(function(){

    $(".publicationAbstract").hide();

    $(".toggleAbstractButton").click(function(){
      $(this).parent("li").parent("ul").siblings("p.publicationAbstract").toggle();
    });
  });
</script>

{% endblock headsup %}

{% block content %}

{% include 'journals/scipost_physics_menu.html' %}

{% if current_issue %}
<div class="row">
    <div class="col-12">
        <div class="panel">
            <h2>Current issue: Vol. {{ current_issue.in_volume.number }} issue {{ current_issue.number }} (in progress)</h2>
        </div>
    </div>
</div>

<div class="publicationHeaderList">
    <div class="row">
        {% for paper in current_issue.publication_set.all|dictsort:"paper_nr" %}
          <div class="col-md-6">
              <div class="panel">
                  {{ paper.header_as_li }}
              </div>
          </div>
        {% endfor %}
    </div>
</div>
<hr>
{% endif %}

{% if latest_issue %}
<div class="row">
    <div class="col-12">
        <div class="panel">
            <h2>Latest issue: Vol. {{ latest_issue.in_volume.number }} issue {{ latest_issue.number }}</h2>
        </div>
    </div>
</div>

<div class="publicationHeaderList">
    <div class="row">
        {% for paper in latest_issue.publication_set.all|dictsort:"paper_nr" %}
            <div class="col-md-6">
                <div class="panel">
                    {{ paper.header_as_li }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% include 'journals/scipost_physics_footer.html' %}


{% endblock content %}
