{% extends 'scipost/base.html' %}

{% block pagetitle %}: SciPost Physics: issues{% endblock pagetitle %}

{% block content %}

{% include 'journals/scipost_physics_menu.html' %}

<div class="row">
    <div class="col-12">
        <div class="panel">
            <h2>Issues</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul>
          {% for issue in issues %}
            <li>
              <a href="{% url 'scipost:SciPostPhys_issue_detail' volume_nr=issue.in_volume.number issue_nr=issue.number %}">{{ issue }}</a>
            </li>
          {% endfor %}
    </div>
</div>


{% include 'journals/scipost_physics_footer.html' %}

{% endblock content %}
