{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: sign existing Report{% endblock pagetitle %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        <a href="{% url 'submissions:submissions' %}" class="breadcrumb-item">Submissions</a>
        <a href="{{ report.submission.get_absolute_url }}" class="breadcrumb-item">{{ report.submission.preprint.identifier_w_vn_nr }}</a>
        <span class="breadcrumb-item">Sign existing Report</span>

      </nav>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Sign existing Report</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Confirmation page: do you wish to sign this Report?</h2>
      <h3>(your Report is reproduced below for your convenience)</h3>
    </div>
    <div class="col-md-6">
      <form action="{% url 'journals:sign_existing_report' report_id=report.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-outline-secondary" type="submit" value="Submit" />
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Report on Submission <a href="{{report.submission.get_absolute_url}}">{{report.submission.title}}</a></h3>
      {% include 'submissions/_report_public_without_comments.html' with report=report user=request.user perms=perms %}
    </div>
  </div>

{% endblock %}
