{% include 'scipost/personal_page/_hx_tablist.html' with selected='refereeing' %}

{% include 'submissions/_refereeing_invitations_ongoing.html' with contributor=request.user.contributor %}

<div class="p-3 bg-warning bg-opacity-10">
  <p class="mb-0">
    In order to protect your privacy, we regularly purge information about your anonymous refereeing contributions a few months after processing (e.g. publication/rejection).
    Therefore, refereeing invitations and authored reports on past submissions may be permanently hidden. You may <a href="mailto:techsupport@scipost.org">contact techsupport</a> or <a href="{% url "helpdesk:ticket_create" %}">open a helpdesk ticket</a>  if you wish to retrieve your past contributions.
  </p>
</div>

<div class="row">
  <div class="col-12">
    <h3 class="highlight">Refereeing Invitations</h3>
    {% if contributor.profile.referee_invitations.all %}
      <details class="p-2">
	<summary>See all your refereeing invitations ({{ contributor.profile.referee_invitations.all|length }})</summary>
	<ul class="list-group list-group-flush ms-md-4">
          {% for invitation in contributor.profile.referee_invitations.all %}
            <li class="list-group-item py-2">
              {% include 'submissions/_submission_li.html' with submission=invitation.submission %}
              <table>
		<tr>
                  <th style='min-width: 100px;'>Status:</th>
                  <td>{{ invitation.get_status_display }}</td>
		</tr>
		{% if invitation.accepted is not None %}
                  <tr>
                    <th>{{ invitation.accepted|yesno:'Accepted,Declined' }}:</th>
                    <td>{{ invitation.date_responded }}</td>
                  </tr>
		{% endif %}
		{% if invitation.related_report %}
                  <tr>
                    <th>Report:</th>
                    <td><a href="{{ invitation.related_report.get_absolute_url }}">{{ invitation.related_report.citation|default:'Link' }}</a></td>
                  </tr>
		{% endif %}
              </table>
            </li>
	  {% empty %}
	    <li>None found</li>
          {% endfor %}
	</ul>
      </details>
    {% else %}
      <p><em>No refereeing invitation found</em></p>
    {% endif %}
  </div>
</div>



{% if contributor.reports.non_draft.all %}
  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Finished reports</h3>

      <ul class="list-group list-group-flush">
        {% for report in contributor.reports.non_draft.all %}
          <li class="list-group-item">
            <div class="card-body px-0 {% block cardblock_class_block %}{% endblock %}">
              <h3>Report on Submission <a href="{{ report.submission.get_absolute_url }}">{{ report.submission.title }}</a></h3>
              <table>
                <tr>
                  <th style='min-width: 100px;'>Received:</th><td>{{ report.date_submitted|date:'Y-n-j' }}<td>
                </tr>
                <tr>
                  <th>Status:</th><td {% if report.status == 'vetted' %}class="text-success"{% elif report.status == 'unvetted' %}class="text-danger"{% endif %}>{{report.get_status_display}}</td>
                </tr>
                {% if report.doi_label %}
                  <tr>
                    <th>DOI:</th>
                    <td>{{ report.doi_string }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <th>Anonymous:</th><td>{{report.anonymous|yesno:'Yes,No'}}</td>{% if report.anonymous %}<td>You can <a href="{% url 'journals:sign_existing_report' report_id=report.id %}">click here to sign (de-anonymize) this Report</a> (leads to confirmation page){% endif %}</td>
                </tr>
              </table>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
