{% include 'scipost/personal_page/_hx_tablist.html' with selected='communication' %}


<div class="row mb-0">
  <div class="col-12">
    <div class="card bg-light">
      <div class="card-body">
        <h2 class="card-title">Communication</h2>
        <ul class="mb-0">
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row mb-0">
  <div class="col-12">
    <h3 class="mt-3">Email addresses associated to your Profile:</h3>

    <a role="button"
       type="button"
       class="btn-link"
       hx-get="{% url 'profiles:_hx_add_profile_email' profile_id=contributor.profile.id %}"
       hx-target="this"
       hx-swap="afterend">Add a new Email</a>

    {% include 'profiles/_hx_profile_emails_table.html' with profile=contributor.profile %}

  </div>

  <div class="row mb-0">
    <div class="col-12 col-md-8">
      <h3 class="mt-3">Mailing list subscriptions:</h3>
 

      {% for mailing_list in contributor.eligible_mailing_lists.all %}
        {% include 'mailing_lists/_hx_mailing_list_item.html' %}
      {% empty %}
        There are no mailing lists available for subscription.
      {% endfor %}

 
    </div>

    <div class="col-12 col-md-4">
      <h3 class="mt-3">Preferences:</h3>
 
      {% include 'scipost/personal_page/_hx_accepts_scipost_emails_checkbox.html' %}
      {% include 'scipost/personal_page/_hx_accepts_refereeing_requests_checkbox.html' %}
 
    </div>
  </div>
</div>
