{% load crispy_forms_tags %}

{% with request.user.contributor.is_currently_available as is_currently_available %}
  <details class="border border-{% if is_currently_available %}success{% else %}danger{% endif %} bg-{% if is_currently_available %}success{% else %}danger{% endif %} bg-opacity-10">
    <summary class="p-2 bg-{% if is_currently_available %}success{% else %}danger{% endif %} bg-opacity-10">
      Your Availability: &emsp;{% if is_currently_available %}<strong class="text-success">you are marked as currently available</strong>{% else %}<strong class="text-danger">you are marked as currently unavailable</strong>{% endif %}
    </summary>
    <div class="row g-4 p-2">
      <div class="col">
	<h3 class="mb-3">Unavailability periods</h3>
	<p>To help with the editorial workflow, you can inform us of any periods during which you are unavailable. Please mark the entire period of your absence, with the end date being your first day back into availability.</p>

  {% if work_contract %}
      <div class="bg-white border border-{% if is_currently_available %}success{% else %}danger{% endif %} p-2 mb-3">
        <p class="mb-1 fs-5">You are a SciPost employee with {{ work_contract.days_off }} paid days off per year.</p>
        <p class="mb-1 fs-5">You have {{ work_contract.days_off_remaining }} remaining paid days off between {{ work_contract.current_period.0 }} and {{ work_contract.current_period.1 }}.</p>
        <p class="m-0">The period should not contain any days which you are by default not expected to work, e.g. weekends or public holidays.</p>
      </div>
  {% endif %}

	<table class="table table-bordered">
	  <tr>
	    <th>Start</th>
	    <th>End (excl.)</th>
      <th>Duration (days)</th>
	    <th></th>
	  </tr>
	  {% for unav in request.user.contributor.unavailability_periods.future %}
	    <tr>
	      <td>{{ unav.start }}</td>
	      <td>{{ unav.end }}</td>
        <td>{{ unav.duration.days }}</td>
	      <td>
		<a class="text-danger px-1 py-0"
		   hx-get="{% url 'scipost:_hx_unavailability' pk=unav.id %}"
		   hx-confirm="Remove this unavailability?"
		   hx-target="#unavailability"
		>
		  {% include 'bi/x-square-fill.html' %}
		</a>
	      </td>
	    </tr>
	  {% empty %}
	    <tr>
	      <td colspan="2">
		No upcoming unavailability periods on record
	      </td>
	    </tr>
	  {% endfor %}
	</table>
      </div>
      <div class="col-12 col-xs-4 col-md-3 col-lg-2">
	  <form hx-post="{% url 'scipost:_hx_unavailability' %}"
		      hx-target="#unavailability">
	    {% crispy form %}
	  </form>
      </div>
    </div>
  </details>
{% endwith %}
