{% extends 'scipost/base.html' %}

{% load render_bundle from webpack_loader %}

{% block basebundle %}
  {% render_bundle 'style' %}
  {% render_bundle 'base' %}
{% endblock basebundle %}

{% block pagetitle %}: personal page{% endblock pagetitle %}

{% block content %}

  <p class="highlight fs-1 p-3 mb-4">Welcome to your SciPost Personal Page, {{ appellation }}</p>

  {% if needs_validation %}
    <div class="row">
      <div class="col-12">
        <hr>
        <h3>Your credentials will soon be verified by an Editor.</h3>
        <p>If accepted, you will become a registered Contributor, enabling you to submit, comment and vote.</p>
      </div>
    </div>

  {% else %}

    <div id="tablist"
	 hx-get="{% url 'scipost:personal_page_hx_account' %}"
	 hx-trigger="load"
	 hx-target="this"
	 hx-swap="innerHTML"
    >
    </div>

  {% endif %}

{% endblock content %}
