{% load static %}

<div class="row">
  <div class="col-12">
    <h1 class="highlight">Authoring Guidelines</h1>
  </div>
</div>

  <div class="row">
    <div class="col-lg-5">
      <h4>The following is a quick summary guide to authoring at SciPost.</h4>
      <p>It is not meant to replace our official rules and other helpful pages, which you will find in the Useful links box next to this menu.</p>
      <h4>On this page:</h4>
      <ul>
	<li><a href="#manuprep">Manuscript preparation</a></li>
	<li><a href="#manusub">Manuscript submission</a></li>
	<li><a href="#refphase">The refereeing phase</a></li>
	<li><a href="#resub">Resubmission</a></li>
	<li><a href="#postacceptance">Post-acceptance</a></li>
	<li><a href="#FAQ">Frequently asked questions</a></li>
      </ul>
    </div>
    <div class="col-lg-7">
      {% include 'submissions/_guidelines_dl.html' with journal=journal %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      
      <hr>
      <h2 class="highlight" id="manuprep">Manuscript preparation</h2>
      
      <p>We prefer authors to prepare their manuscript using the SciPost LaTeX2e style, which you can download
	as a <a href="{% static 'submissions/latex/SciPost_LaTeX_Style_v1e.tar.gz' %}">gzipped tarball</a>,
	composed of the following individual files:
	<ul>
	  <li><a href="{% static 'submissions/latex/SciPost_LaTeX_Template.tex' %}">LaTeX2e template (.tex)</a></li>
	  <li><a href="{% static 'submissions/latex/SciPost_LaTeX_Template.pdf' %}">LaTeX2e template (.pdf)</a></li>
	  <li><a href="{% static 'submissions/latex/SciPost.cls' %}">class file (.cls)</a></li>
	  <li><a href="{% static 'submissions/latex/SciPost_bibstyle.bst' %}">BiBTeX style file (.bst)</a></li>
	</ul>
	<p>While we also accept submissions in general LaTeX formats, using the SciPost style will simplify and accelerate
	  production of the published version of your article in case of acceptance. If you are not using our template,
	  please ensure the following:</p>
	<ul>
	  <li>use 10pt font size</li>
	  <li>include the DOI in your citations (using the <em>doi</em> package)</li>
	  <li>to ease navigation within your text, use hyperlinking for your equations and references (using the <em>hyperref</em> package)</li>
	</ul>
	<p>Including the DOI is particularly important: the paper can only be published if references are externally linked.</p>
      </p>

      <h3 class="mb-2">The article should contain the following elements:</h3>
      <dl class="row">
	<dt class="col-sm-3 col-md-2">Title</dt>
	<dd class="col-sm-9 col-md-10">The title should ideally fit in two lines (approximately 150 characters) or less,
	  and be descriptive of the research reported.</dd>

	<dt class="col-sm-3 col-md-2">Authors</dt>
	<dd class="col-sm-9 col-md-10">Authors should be listed by initials and last name, with superscript reference to their affiliation.
	  The corresponding author should be indicated with a superscript asterisk.</dd>

	<dt class="col-sm-3 col-md-2">Abstract</dt>
	<dd class="col-sm-9 col-md-10">The abstract should preferably fit within 8 lines of the template (about 200 words).</dd>

	<dt class="col-sm-3 col-md-2">Bulk Sections</dt>
	<dd class="col-sm-9 col-md-10">The bulk of the paper should be clearly divided into sections with short descriptive titles, including an introduction and a conclusion.</dd>

	<dt class="col-sm-3 col-md-2">Figures</dt>
	<dd class="col-sm-9 col-md-10">If figures are included, they should only occupy the strictly necessary space, in any case individually fitting on a single page.
	  Each figure item should be appropriately labeled and accompanied by a descriptive caption.
	  SciPost does not accept creative figures or artist's impressions;
	  on the other hand, technical drawings and scientifically accurate representations are encouraged.</dd>

	<dt class="col-sm-3 col-md-2">Acknowledgements</dt>
	<dd class="col-sm-9 col-md-10">Acknowledgements should follow immediately after the conclusion.</dd>

	<dt class="col-sm-3 col-md-2">Author contributions</dt>
	<dd class="col-sm-9 col-md-10">This is optional. If desired, contributions should be succinctly described using author initials.</dd>

	<dt class="col-sm-3 col-md-2">Funding information</dt>
	<dd class="col-sm-9 col-md-10">Authors are required to provide funding information, including relevant agencies and grant numbers with linked author's initials.</dd>

	<dt class="col-sm-3 col-md-2">Appendices</dt>
	<dd class="col-sm-9 col-md-10">Extra material which goes beyond the paper's bulk contents can be provided in appendices, which should be
	  labeled using capital letters.</dd>

        <dt class="col-sm-3 col-md-2">Supplementary Material</dt>
	<dd class="col-sm-9 col-md-10">
	  You should make supplementary material (data, code and similar) openly available,
	  most simply by depositing those in institutional repositories.
	  In your paper, please list the items together with the link pointing to where they are hosted.
	</dd>

	<dt class="col-sm-3 col-md-2">References</dt>
	<dd class="col-sm-9 col-md-10">Items in the list of references should include authors, title, journal reference and most importantly
	  <b>** include the DOI link **</b> (see the template above for an example).</dd>
      </dl>

      <p>All elements in your paper (equations, references, tables, figures etc)
	should be hyperlinked to ensure ease of navigation.</p>
      <p>There is no strict length limitation, but the authors are strongly encouraged to keep contents to the
	strict minimum necessary for peers to reproduce the research described in the paper.</p>

      <hr>
      <h2 class="highlight" id="manusub">Manuscript submission</h2>
      <h3>To submit an article for publication in a SciPost Journal, you must:</h3>
      <ol class="mb-4">
        <li>Prepare your manuscript following the <a href="#manuprep">Manuscript preparation</a> instructions above</li>
        <li>Submit using one of two pathways: via a preprint server, or directly to SciPost:
	  <ul>
	    <li class="mt-4">
	      <h4>Submit via a preprint server (the recommended route)</h4>
	      We encourage you to embrace preprint culture: it greatly increases the visibility
	      of your manuscript among your peers. Depending on your academic field, you can consider
	      the following servers:
	      <ul>
		<li>Physics, Astonomy, Mathematics, Computer Science: <a href="https://arxiv.org">arXiv.org</a></li>
		<li>Biology: <a href="https://www.biorxiv.org">bioRxiv</a></li>
		<li>Chemistry: <a href="https://chemrxiv.org">ChemRxiv</a></li>
		<li>Social Sciences: <a href="https://osf.io/preprints/socarxiv/">SocArXiv</a></li>
	      </ul>
	      <em>Notes:</em>
	      <ul>
		<li><em>Please include a statement as "Submission to SciPost" in the Comments</em></li>
		<li><em>For non-arXiv servers, there is no API integration yet through which we can automatically extract preprint metadata. You will thus have to provide all data upon submission.</em></li>
	      </ul>
              After appearance on the preprint server, fill the SciPost <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form (most fields will be auto-filled if the preprint server has an API integration with SciPost), selecting which SciPost Journal to submit to (and providing additional info such as domain and speciality specifications).
	    </li>
	    <li class="mt-4">
	      <h4>Submit directly to SciPost</h4>
	      In this case, simply fill the <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form,
	      providing all the required data. You might prefer using this pathway for a resubmission.
	    </li>
	</li>
      </ol>
      <p>By submitting your manuscript, you assert that you have read and agree with the
	<a href="{% url 'journals:journals_terms_and_conditions' %}">SciPost Journals Terms and Conditions</a>.</p>

      <p>At the moment of submission, you will have the chance to provide names of editors or referees which
	you would prefer to exclude from the peer evaluation of your manuscript. The Editorial College will
	make every reasonable effort to implement such requests, except in cases where this is interpreted as
	interfering with a rigorous assessment of the work.</p>


      <hr>
      <h2 class="highlight" id="refphase">The refereeing phase</h2>
      <p>
	First, you should make sure you are familiar with our open peer-witnessed <a href="{% url 'submissions:refereeing_procedure' %}">refereeing procedure</a>.
      </p>
      <p>
	Second, it is also wise to understand what we ask and expect from our referees, which is best summarized in our <a href="{% url 'submissions:referee_guidelines' %}" target="_blank">referee guidelines</a>, which also includes some information about how, as an author, you should react to submitted Reports.
      </p>


      <hr>
      <h2 class="highlight" id="resub">Resubmission</h2>
      <p>
	To resubmit your manuscript, simply upload your new version to the arXiv. When this has appeared, you can then re-fill our <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form. Our system will automatically recognize your new version as a resubmission of your earlier manuscript.
      </p>

      <hr>
      <h2 class="highlight" id="postacceptance">Post-acceptance</h2>
      <p>
	Upon acceptance of your manuscript, you will receive an email informing you of this fact, and your submission will be directly sent to our production team who will produce the first version of the proofs. Once you will have accepted these proofs (possibly after a number of iterations), we will publish your paper online with its own DOI, and will deposit its metadata to the relevant registration agencies.
      </p>

      <hr>
      <h2 class="highlight" id="FAQ">Frequently asked questions</h2>

      <div class="row">
	<div class="col-6">
	  <ul>
	    <li>
	      <h4>I need to get in touch with the Editor-in-charge. How do I do that?</h4>
	      <p>
		From your <a href="{% url 'scipost:personal_page' %}">personal page</a>, under the Submissions tab, you will find a <i>Write to the Editor-in-charge</i> link allowing you to do this.
	      </p>
	    </li>
	    <li>
	      <h4>My submission has been sitting in pre-screening for longer than 5 days. What is happening?</h4>
	      <p>
		We strive to keep the pre-screening process to under 5 days. SciPost is still growing; since the number of Fellows we have (and their availability) in each specialty varies, it can be that pre-screening lasts a bit longer. Our Editorial Administration does its best to minimize delays, and will get in touch with you if these become too big. If you are concerned, <a href="mailto:edadmin@scipost.org">email us</a>.
	      </p>
	    </li>
	    <li>
	      <h4>Can I invite people to referee my paper?</h4>
	      <p>
		Yes, you can do that, in multiple ways. First of all, upon submission, you can provide a list of suggested referees. Second, remember that our peer-witnessed refereeing procedure, besides using invited Reports, also accepts contributed ones (namely: Reports coming from registered Contributors, but who were not specifically invited by the Editor-in-charge). You can thus self-invite potential referees to deliver a Report on your paper. Note however that our strict <a href="{% url 'submissions:referee_guidelines' %}#refereeCOIrules">referee conflict-of-interest rules</a> have to be obeyed.
	      </p>
	    </li>
	    <li>
	      <h4>The refereeing on my paper is taking longer than expected. What can I do to help?</h4>
	      <p>
		Our team is doing its best to make sure Reports are delivered on time, by sending regular reminders to referees. It can however remain a challenge to ensure timely responses, and it can happen that the process takes longer than planned. You can at any time get in touch with the Editor-in-charge (see above) to enquire about the status or suggest new referees.
	      </p>
	    </li>
	    <li>
	      <h4>A Report has come in. Do I <i>have</i> to answer it?</h4>
	      <p>
		Not necessarily. You should only feel that you <i>have</i> to provide an Author Reply to a given Report if the latter contains questions which you can directly answer, or statements which you would specifically like to respond to.
	      </p>
	    </li>
	  </ul>
	</div>

	<div class="col-6">
	  <ul>
	    <li>
	      <h4>I have prepared a new version. Where should I put my list of changes?</h4>
	      <p>
		When filling the resubmission form, you will be able to provide the list of changes which you have implemented in your manuscript. This is the most appropriate place for such a list.
	      </p>
	      <p>
		That said, you might also find it useful to provide a list of changes directly as an Author Reply to the Report which has asked for or suggested these changes. As an author, you can decide what best suits your needs, and what the community can best benefit from.
	      </p>
	    </li>
	    <li>
	      <h4>Do I need to re-upload to the arXiv for each resubmission?</h4>
	      <p>
		Yes. We require your manuscript to be accessible to and seen by all interested parties worldwide, and the arXiv is the best channel for ensuring this.
	      </p>
	      <p>
		The only case in which you don't need to re-upload to the arXiv is when your manuscript has been accepted, and the (hopefully very minor) last modifications can be implemented by our production team during the proofs stage.
	      </p>
	    </li>
	    <li>
	      <h4>How long does the Editorial College take to do its voting?</h4>
	      <p>
		In simple cases, it is usually possible to gather the relevant votes within one week. If a discussion ensues within the College, the voting period can sometimes take longer. If you are concerned with the status of your submission, you can <a href="mailto:edadmin@scipost.org">email us</a>.
	      </p>
	    </li>
	  </ul>
	</div>
      </div>

    </div>
  </div>
