{% load bootstrap %}
<form method="post" action="{% url 'submissions:cycle_confirmation' submission.arxiv_identifier_w_vn_nr %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h3>This submission is a resubmission, please choose which submission cycle to proceed with</h3>
        </div>
    </div>

    <!-- Refereeing cycle -->
    <div class="form-group row">
        <label class="col-form-label col-md-2 ">Refereeing cycle</label>
        <div class="col-md-10">
            {% for field in form.refereeing_cycle %}
                <div class="radio" data-reinvite="{% if field.choice_value == 'direct_rec' %}0{% else %}1{% endif %}">
                    <label for="{{field.id_for_label}}" class="mb-0">
                        {{field.tag}}
                        {{field.choice_label}}
                    </label>
                </div>
                <p class="help-block text-muted">
                    {{ field.help_text|safe }}
                    {% if field.choice_value == 'short' %}
                        Run a speedy refereeing round: two weeks, with option of reinviting previous referees
                    {% elif field.choice_value == 'direct_rec' %}
                        Immediately write an editorial recommendation.
                    {% else %}
                        Run a new full refereeing round: four weeks as usual, can invite previous referees and/or new ones.
                    {% endif %}
                </p>

                {% for error in field.errors %}
                    <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
                {% endfor %}
            {% endfor %}
        </div>
    </div><!-- end refereeing cycle -->

    <!-- Reinvite referees -->
    <div id="id_referees_reinvite_block" style="display: none;">
        <div class="row">
            <div class="col-12">
                <h3>The following referees were also invited in the last submission</h3>
                <h4 class="text-muted">Please choose who you want to reinvite (an invitation will be automatically emailed to the referee)</h4>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 ">Reinvite referees</label>
            <div class="col-md-10">
                <ul class="list-group list-group-flush">
                    {% for referee in form.referees_reinvite.field.queryset %}
                        <li class="list-group-item py-1">
                            <label for="{{form.referees_reinvite.name}}_{{forloop.counter0}}" class="mb-0">
                                <input checked="checked" id="{{form.referees_reinvite.name}}_{{forloop.counter0}}" name="{{form.referees_reinvite.name}}" type="checkbox" value="{{referee.id}}">
                                <div class="d-inline-block" style="vertical-align: top;">
                                    {{referee.referee_str}}
                                    <br>
                                    <span class="text-muted">Originally invited on {{referee.date_invited}}</span>
                                </div>
                             </label>
                         </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- end reinvite referees -->
    </div>
    <input type="submit" class="btn btn-primary" value="Confirm choice">
</form>

<script>
    $(function(){
        $('[name="{{form.refereeing_cycle.name}}"]').on('click change', function(){
            var reinvite = $('[name="{{form.refereeing_cycle.name}}"]:checked').parents('.radio').attr('data-reinvite') == 1;

            // Show/hide invitation block
            if(reinvite > 0) {
                $('#id_referees_reinvite_block').show();
            } else {
                $('#id_referees_reinvite_block').hide();
            }
        }).trigger('change');


    });
</script>
