{% load texfilters %}\documentclass{SciPost}

% Prevent all line breaks in inline equations.
\binoppenalty=10000
\relpenalty=10000

\hypersetup{
    colorlinks,
    linkcolor={red!50!black},
    citecolor={blue!50!black},
    urlcolor={blue!80!black}
}

\usepackage[bitstream-charter]{mathdesign}
\urlstyle{sf}

\fancypagestyle{SPstyle}{
\fancyhf{}
\lhead{\raisebox{-1.5mm}[0pt][0pt]{\href{https://scipost.org}{\includegraphics[width=20mm]{logo_scipost_with_bgd.pdf}}}}
%%%%%%%%%% TODO: PAPER CITATION
{% if report.doi_string %}
    \rhead{\small \href{https://scipost.org/{{report.doi_string}} }{ {{report.doi_string}} ({{report.date_submitted|date:'Y'}})}}
{% endif %}
%%%%%%%%%% END TODO: PAPER CITATION
\renewcommand{\headrulewidth}{1pt}
\fancyfoot[C]{\textbf{\thepage}}
}

\begin{document}

\pagestyle{SPstyle}

%\begin{center}{\Large{ \textbf{\color{scipostdeepblue}{
%Report {{report.report_nr}}
%}}}} \\
%\end{center}

\begin{center}
\Large\color{scipostdeepblue}{\textbf{
%%%%%%%%%% TODO: TITLE Paste title here
% multiline titles: end with a \\ to regularize line spacing
%%%%%%%%%% END TODO: TITLE
Report {{report.report_nr}} on \href{https://scipost.org/submissions/1702.01010v1/}{\color{scipostdeepblue}{Variation along liquid isomorphs of the driving force for crystallization}} by Ulf R. Pedersen, Karolina Adrjanowicz, Kristine Niss, Nicholas P. Bailey
}}
\end{center}

\begin{center}
\large\textbf{
%%%%%%%%%% TODO: AUTHORS
Report by {% if report.anonymous %}anonymous{% else %}{{report.author.user.first_name}} {{report.author.user.last_name}}\textsuperscript{1}{% endif %}
%%%%%%%%%% END TODO: AUTHORS
}
\end{center}

{% if not report.anonymous %}
    \begin{center}
    %%%%%%%%%% TODO: AFFILIATIONS
    {\bf 1} {{report.author.affiliation}}\\
    \end{center}
{% endif %}


\vspace{10pt}


\begin{center}
\begin{tabular}{lr}
\begin{minipage}{0.5\textwidth}
\raisebox{-1mm}[0pt][0pt]{\includegraphics[width=12mm]{by.eps}}

%%%%%%%%%% TODO: COPYRIGHT Include the first author's initials and last name

{\small Copyright {% if report.anonymous %}anonymous{% else %}{{report.author.user.first_name}} {{report.author.user.last_name}}{% endif %}. \newline
%%%%%%%%%% END TODO: COPYRIGHT
This work is licensed under the Creative Commons \newline
\href{http://creativecommons.org/licenses/by/4.0/}{Attribution 4.0 International License}. \newline
Published by the SciPost Foundation.
}
\end{minipage}
&
\begin{minipage}{0.5\textwidth}
%%%%%%%%%% TODO: DATES
{\small Received {{report.date_submitted}}
%%%%%%%%%% END TODO: DATES

{% if report.doi_string %}
%%%%%%%%%% TODO: DOI

\newline \doi{ {{report.doi_string}} }
%%%%%%%%%% END TODO: DOI

{% endif %}

}
\end{minipage}
\end{tabular}
\end{center}

%%%%%%%%%% TODO: TOC include a table of contents (optional)
% Guideline: if your paper is longer that 6 pages, include a TOC
% To remove the TOC, simply cut the following block
\vspace{10pt}
\noindent\rule{\textwidth}{1pt}
%%%%%%%%%% END TODO: TOC

%%%%%%%%% TODO: CONTENTS Contents come here, starting from first \section
%%%%%%%%%% TODO: LINENO Activate linenumbers during proofs stage

\section*{Ratings}
\begin{center}
\begin{tabular}{r p{0.15\columnwidth} r l}
	{\bf Validity} & {{report.get_validity_display}} & {\bf Clarity} & {{report.get_clarity_display}} \\
	{\bf Significance} & {{report.get_significance_display}} & {\bf Formatting} & {{report.get_formatting_display}} \\
	{\bf Originality} & {{report.get_originality_display}} & {\bf Grammar} & {{report.get_grammar_display}}
\end{tabular}
\end{center}

%\vspace{10pt}

\section{Strengths}
{{report.strengths|linebreaktex}}

\section{Weaknesses}
{{report.weaknesses|linebreaktex}}

\section{Report}
{{report.report|linebreaktex}}


\section{Requested changes}
{{report.requested_changes|linebreaktex}}

%%%%%%%%% END TODO: CONTENTS


\end{document}
