<div class="ratings">
    <table>
        <tr>
            <th>Validity</th>
            <td>{{ report.get_validity_display }}</td>
        </tr>
        <tr>
            <th>Significance</th>
            <td>{{ report.get_significance_display }}</td>
        </tr>
        <tr>
            <th>Validity</th>
            <td>{{ report.get_grammar_display }}</td>
        </tr>
        <tr>
            <th>Originality</th>
            <td>{{ report.get_originality_display }}</td>
        </tr>
        <tr>
            <th>Clarity</th>
            <td>{{ report.get_clarity_display }}</td>
        </tr>
        <tr>
            <th>Formatting</th>
            <td>{{ report.get_formatting_display }}</td>
        </tr>
        <tr>
            <th>Grammar</th>
            <td>{{ report.get_grammar_display }}</td>
        </tr>
    </table>
</div>
