{% load scipost_extras %}
{% load submissions_extras %}

<div class="row">
    <div class="col-12">
        <div class="report" id="report_{{report.report_nr}}">
            {% if user.contributor == submission.editor_in_charge or user|is_in_group:'Editorial Administrators' and user|is_not_author_of_submission:submission.arxiv_identifier_w_vn_nr %}

                <div class="reportid">
                    <h3>{% if report.anonymous %}(chose public anonymity) {% endif %}<a href="{{report.author.get_absolute_url}}">{{ report.author.user.first_name }} {{ report.author.user.last_name }}</a>
                      on {{ report.date_submitted|date:'Y-n-j' }}
                    </h3>
            	    <ul class="publicationClickables">
            	      {% if report.doi_string %}<li>{{ report|citation }}</li>{% endif %}
                              {% if report.pdf_report %}
                              <li><a href="{% url 'submissions:report_detail_pdf' report.submission.arxiv_identifier_w_vn_nr report.report_nr %}" target="_blank">Download as PDF</a></li>
                            {% endif %}
                            {% if perms.scipost.can_manage_reports %}
                              <li><a href="{% url 'submissions:report_pdf_compile' report.id %}">Update/Compile the Report pdf</a></li>
                              {% endif %}
            	    </ul>
                </div>

                {% if report.flagged %}
                    <h4 class="text-danger font-weight-bold">CAUTION: check if this referee has been flagged by the authors</h4>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <h3 class="highlight tight">Qualification</h3>
                        <div class="pl-md-4">{{ report.get_qualification_display}}</div>
                    </div>
                </div>

                {% include 'submissions/_single_report_content.html' with report=report %}

                <div class="row">
                    <div class="col-12">
                        <h3>Remarks for editors</h3>
                        <div class="pl-md-4">{{ report.remarks_for_editors|default:'-' }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3>Recommendation</h3>
                        <div class="pl-md-4">{{report.get_recommendation_display}}</div>
                    </div>
                </div>
            {% else %}
                <div class="reportid">
                    <h3>{% if report.anonymous %}Anonymous Report {{report.report_nr}}{% else %}<a href="{{report.author.get_absolute_url}}">{{ report.author.user.first_name }} {{ report.author.user.last_name }}</a>{% endif %}
                        on {{ report.date_submitted|date:'Y-n-j' }}</h3>
                    </h3>
        		    <ul class="publicationClickables">
        		      {% if report.doi_string %}<li>{{ report|citation }}</li>{% endif %}
                              {% if report.pdf_report %}
                              <li><a href="{% url 'submissions:report_detail_pdf' report.submission.arxiv_identifier_w_vn_nr report.report_nr %}" target="_blank">Download as PDF</a></li>
                              {% endif %}
                              {% if perms.scipost.can_manage_reports %}
                              <li><a href="{% url 'submissions:report_pdf_compile' report.id %}">Update/Compile the Report pdf</a></li>
                              {% endif %}
        		    </ul>
                </div>

                {% include 'submissions/_single_report_content.html' with report=report %}
            {% endif %}

            {% block single_report_footer %}{% endblock %}
        </div>
    </div>
</div>
