{% load bootstrap %}

<div class="card-block">
    {{ assignment.submission.header_as_table }}
    <br />

    <h4>Abstract:</h4>
    <p>{{ assignment.submission.abstract }}</p>
</div>
<div class="card-footer">
    <h1>Accept or Decline this Assignment</h1>
    <h3 class="mb-2">By accepting, you will be required to start a refereeing round on the next screen.</h3>

    <form action="{% url 'submissions:accept_or_decline_assignment_ack' assignment_id=assignment.id %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-12">
                {{ consider_assignment_form.accept }}
            </div>
        </div>
        <div class="row" id="ref_reason">
            <div class="col-12">
                <p>Please select a reason for declining this assignment</p>
                {{ consider_assignment_form.refusal_reason|bootstrap:'0,12' }}
            </div>
        </div>
        <input class="btn btn-secondary" type="submit" value="Submit" />
    </form>
</div>
