{% extends 'submissions/_submission_li.html' %}

{% block card_footer %}
  <p class="meta">
    Version {{ submission.thread_sequence_order }} ({% if submission.is_current %}current version{% else %}out of a sequence of {{ submission.thread|length }}{% endif %})
    <br>
    {% if submission.publication and submission.publication.is_published %}
      Published as <a href="{{ submission.publication.get_absolute_url }}">
      {{ submission.publication.citation }}</a>
    {% else %}
      Submitted {{ submission.submission_date }} to {{ submission.submitted_to }}
    {% endif %} &middot; latest activity: {{ submission.latest_activity }}
  </p>
{% endblock %}
