{% load user_groups %}
{% load bootstrap %}

{% is_scipost_admin request.user as is_scipost_admin %}
{% is_ed_admin request.user as is_ed_admin %}

{% if submission.topics.all or is_scipost_admin or is_ed_admin %}
  <h3 class="mt-4">Ontology / Topics</h3>
  See full <a href="{% url 'ontology:ontology' %}">Ontology</a> or <a href="{% url 'ontology:topics' %}">Topics</a> database.
  <br>
  <br>

  <div>
    {% for topic in submission.topics.all %}
      <span class="label label-secondary mb-2"><a href="{% url 'ontology:topic_details' slug=topic.slug %}">{{ topic }}</a>{% if perms.scipost.can_manage_ontology %} <a href="{% url 'submissions:submission_remove_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr slug=topic.slug %}"><span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span></a>{% endif %}</span>
    {% empty %}
      <div>No Topic has yet been associated to this Submission</div>
    {% endfor %}
  </div>
  {% if perms.scipost.can_manage_ontology %}

    <br>
    <div class="d-inline-block">
      <form action="{% url 'submissions:submission_add_topic' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
    	<div class="d-inline-block">Add an existing Topic:</div>
    	<div class="d-inline-block p-2">
          {% csrf_token %}
          {{ select_topic_form }}
        </div>
    	<div class="d-inline-block">
          <input class="btn btn-outline-secondary" type="submit" value="Link">
        </div>
      </form>
    </div>
    <div class="d-inline-block p-2">
      Can't find the Topic you need? <a href="{% url 'ontology:topic_create' %}" target="_blank">Create it</a> (opens in new window)
    </div>
  {% endif %}
{% endif %}
