{% extends 'scipost/base.html' %}

{% block pagetitle %}: assign submission{% endblock pagetitle %}

{% block bodysup %}

<section>

  <h1>SciPost Submission: send an Assignment Request</h1>

  <br>
  <hr>
  {{ submission_to_assign.header_as_table }}
  <br />
  <h4>Abstract:</h4>
  <p>{{ submission_to_assign.abstract }}</p>
  <br/>
  <hr/>

  {% if submission_to_assign.referees_flagged %}
  <h3>Referees flagged upon submission (treat reports with caution):</h3>
  <p>{{ submission_to_assign.referees_flagged }}</p>
  {% endif %}

  <br/>
  <hr>
  {{ submission_to_assign.status_info_as_table }}
  <hr>

  {% if submission_to_assign.editorialassignment_set.all %}
  <h4>EIC Assignment requests already sent:</h4>
  <h3>If more than 5 Fellows have declined an assignment for a red-marked reason, the Submission should be rejected.</h3>
  <ul>
    {% for assignment in sub.editorialassignment_set.all %}
    {{ assignment.info_as_li }}
    {% endfor %}
  </ul>
  {% endif %}

  <h1>Send a new assignment request:</h1>
  <form action="{% url 'submissions:assign_submission_ack' arxiv_identifier_w_vn_nr=submission_to_assign.arxiv_identifier_w_vn_nr %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit" />
  </form>

</section>

{% endblock bodysup %}
