{% extends 'submissions/_pool_base.html' %}

{% block pagetitle %}: Assignments{% endblock pagetitle %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{% url 'submissions:pool' %}" class="breadcrumb-item">Pool</a>
    <span class="breadcrumb-item">Your assignments</span>
{% endblock %}

{% block content %}

<script>
$(document).ready(function(){

  $('#ref_reason').hide();

  $('#id_accept').on('change', function() {
      if ($('#id_accept_1').is(':checked')) {
          $('#ref_reason').show();
      }
      else {
          $('#ref_reason').hide();
      }
  });
});
</script>

{% if assignments_to_consider %}
    <div class="row">
        <div class="col-12">
            <div class="highlight d-block p-3">
                <h1 class="p-0">Assignment request</h1>
                <h3 class="p-0 mt-1 d-block text-muted">Can you act as Editor-in-charge? (see below to accept/decline)</h3>
            </div>
        </div>
    </div>
    {% for assignment_to_consider in assignments_to_consider %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% include 'submissions/_submission_assignment_request.html' with assignment=assignment_to_consider %}
                </div>
            </div>
        </div>
    {% endfor %}
<hr>
{% endif %}


{% if current_assignments %}
    <div class="row">
        <div class="col-12">
            <h1 class="highlight">Your current assignments:</h1>
        </div>
    </div>
    {% for assignment in current_assignments %}
        {% if not forloop.first %}<hr class="small">{% endif %}
        <div class="row ">
            <div class="col-lg-8">
                {% include 'submissions/_submission_card_fellow_content.html' with submission=assignment.submission %}
            </div>
            <div class="col-lg-4">
                {% include 'submissions/_required_actions_block.html' with submission=submission %}
                <h4 class="d-block mt-2">
                    <a href="{% url 'submissions:editorial_page' arxiv_identifier_w_vn_nr=assignment.submission.arxiv_identifier_w_vn_nr %}">Go to this Submission's Editorial Page</a>
                </h4>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-12">
            <p>You currently have no assignments to take care of.</p>
        </div>
    </div>
{% endif %}


{% endblock content %}
