{% extends 'scipost/base.html' %}

{% block pagetitle %}: Assignments{% endblock pagetitle %}

{% block content %}

<script>
$(document).ready(function(){

  $('#ref_reason').hide();

  $('#id_accept').on('change', function() {
      if ($('#id_accept_1').is(':checked')) {
          $('#ref_reason').show();
      }
      else {
          $('#ref_reason').hide();
      }
  });
});
</script>

{% if assignments_to_consider %}
    <div class="row">
        <div class="col-12">
            <div class="highlight d-block p-3">
                <h1 class="p-0">Assignment request</h1>
                <h3 class="p-0 mt-1 d-block text-muted">Can you act as Editor-in-charge? (see below to accept/decline)</h3>
            </div>
        </div>
    </div>
    {% for assignment_to_consider in assignments_to_consider %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% include 'submissions/_submission_assignment_request.html' with assignment=assignment_to_consider %}
                </div>
            </div>
        </div>
    {% endfor %}
<hr>
{% endif %}


{% if current_assignments %}
    <div class="row">
        <div class="col-12">
            <h1 class="highlight">Your current assignments:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                {% for assignment in current_assignments %}
                    <li class="list-group-item">
                        {% include 'submissions/_submission_card_fellow_content.html' with submission=assignment.submission %}
                        <div class="card-block">
                            {% with actions=assignment.submission.cycle.get_required_actions %}
                                <div class="required-actions{% if not actions %} no-actions{% endif %}">
                                    <h3>{% if actions %}Required actions{% else %}No required actions{% endif %}</h3>
                                    {% if actions %}
                                        <ul>
                                            {% for action in actions %}
                                                <li>{{action.1}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endwith %}
                            <h4 class="d-block mt-2">
                                <a href="{% url 'submissions:editorial_page' arxiv_identifier_w_vn_nr=assignment.submission.arxiv_identifier_w_vn_nr %}">Go to this Submission's Editorial Page</a>
                            </h4>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-12">
            <p>You currently have no assignments to take care of.</p>
        </div>
    </div>
{% endif %}


{% endblock content %}
