{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: communication{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block breadcrumb_items %}
    {{block.super}}
    <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
    <span class="breadcrumb-item">Communication</span>
{% endblock %}

{% block content %}


<div class="card card-gray">
  <div class="card-body">
    <h1 class="pb-0">Send a Communication</h1>
      {% if comtype == 'EtoA' %}
          <h3>to the submitting Author of Submission</h3>
      {% elif comtype == 'AtoE' or comtype == 'RtoE' or comtype == 'StoE' %}
          <h3>to the Editor-in-charge of Submission</h3>
      {% elif comtype == 'EtoR' %}
          <h3>to Referee of Submission</h3>
      {% elif comtype == 'EtoS' %}
          <h3>to SciPost Editorial Administrators</h3>
      {% endif %}
    </div>
</div>

{% include 'partials/submissions/submission_card_content.html' with submission=submission %}

<br>
<div class="row">
    <div class="col-12">
        {% if referee_id %}
          <form action="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype=comtype referee_id=referee_id %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap:'0,12' }}
            <input class="btn btn-primary" type="submit" value="Send communication"/>
          </form>
          {% else %}
          <form action="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype=comtype %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap:'0,12' }}
            <input class="btn btn-primary" type="submit" value="Send communication"/>
          </form>
          {% endif %}
        </div>
    </div>
{% endblock content %}
