{% extends 'scipost/base.html' %}

{% block pagetitle %}: communication{% endblock pagetitle %}

{% load scipost_extras %}

{% load bootstrap %}

{% block content %}

{% if errormessage %}
<div class="row">
    <div class="col-12">
        <p>{{ errormessage }}</p>
    </div>
</div>
{% else %}
<div class="row">
  <div class="col-12">
    <h1 class="highlight">Send a Communication</h1>
      {% if comtype == 'EtoA' %}
          <p>to the submitting Author of Submission</p>
      {% elif comtype == 'AtoE' or comtype == 'RtoE' or comtype == 'StoE' %}
          <h3>to the Editor-in-charge of Submission</h3>
      {% elif comtype == 'EtoR' %}
          <p>to Referee of Submission</p>
      {% elif comtype == 'EtoS' %}
          <p>to SciPost Editorial Administrators</p>
      {% endif %}

        <div class="card">
            {% include 'submissions/_submission_card_content.html' with submission=submission %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% if referee_id %}
          <form action="{% url 'submissions:communication' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr comtype=comtype referee_id=referee_id %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap:'0,12' }}
            <input class="btn btn-secondary" type="submit" value="Send communication"/>
          </form>
          {% else %}
          <form action="{% url 'submissions:communication' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr comtype=comtype %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap:'0,12' }}
            <input class="btn btn-secondary" type="submit" value="Send communication"/>
          </form>
          {% endif %}

      {% endif %}
    </div>
</div>

{% endblock content %}
