[Please fill in the TO field above (keeping partners@scipost.org in cc)]%0D%0A
%0D%0A
Dear ...%0D%0A
%0D%0A
There is a Submission undergoing refereeing at SciPost, for which you might consider contributing a Report or Comment:
%0D%0A
%0D%0A
{{ submission.title }}
%0D%0A
by {{ submission.author_list }}%0D%0A
(see https://scipost.org{{ submission.get_absolute_url }} - first submitted {{ submission.original_submission_date|date:"d M Y" }}).%0D%0A
%0D%0A
The refereeing deadline is currently set at {{ submission.reporting_deadline|date:"d M Y" }}.
%0D%0A
%0D%0A
Since SciPost runs an open peer-witnessed refereeing process, your input could help in the evaluation of this manuscript. To provide your expert opinion, after logging in, you can simply follow the Contribute a Report link on the submission page linked above.
%0D%0A
%0D%0A
If you are unfamiliar with SciPost's refereeing workflow, navigating to https://scipost.org/submissions/referee_guidelines will provide you with a quick introduction.
%0D%0A
%0D%0A
[YOUR SIGNATURE]%0D%0A
%0D%0A
