{% extends 'scipost/base.html' %}

{% block pagetitle %}: editorial recommendation for submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-grey">
            <div class="card-block">
                <h1 class="card-title">Formulate Editorial Recommendation for Submission</h1>
                <h3>
                    (go to the <a href="{% url 'submissions:submission' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}">
                	Submissions Page</a> to view Reports and Comments)
                </h3>
                <h3>
                    (go back to the <a href="{% url 'submissions:editorial_page' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}">
                	Editorial Page</a> to take editorial actions)
                </h3>
            </div>
        </div>
    </div>
</div>

  {# <hr class="hr12">#}
<div class="row">
    <div class="col-12">
        <h2>Submission</h2>
        {% include 'submissions/_submission_summary.html' with submission=submission %}
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card card-grey">
            <div class="card-block">
                <h1 class="card-title">Your Editorial Recommendation</h1>
                <p class="card-text">You recommendation will be processed by the Editorial Administration.</p>
                <ul class="mb-0">
                    <li>acceptance or rejection: forwarded to the Editorial College for ratification</li>
                    <li>request for revision: sent directly to the authors</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form action="{% url 'submissions:eic_recommendation' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input class="btn btn-secondary" type="submit" value="Submit"/>
        </form>
    </div>
</div>


{% endblock content %}
