{% extends 'scipost/base.html' %}

{% block pagetitle %}: Submissions Pool{% endblock pagetitle %}

{% block bodysup %}

<script>
$(document).ready(function(){

  $('#ref_reason').hide();

  $('#id_accept').on('change', function() {
      if ($('#id_accept_1').is(':checked')) {
          $('#ref_reason').show();
      }
      else {
          $('#ref_reason').hide();
      }
    });
  });
</script>

{% load guardian_tags %}
{% load scipost_extras %}
{% load submissions_extras %}


{% if request.user|is_in_group:'Editorial Administrators' and recommendations_undergoing_voting %}
<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Recommendations undergoing voting</h1>
    </div>
  </div>
  <ul>
    {% for rec in recommendations_undergoing_voting %}
    {% if request.user|is_not_author_of_submission:rec.submission.arxiv_identifier_w_vn_nr %}
    {{ rec.submission.header_as_li_for_Fellows }}
    <div class="flex-greybox">
      <h3>Editorial recommendation:</h3>
      <ul>
	<li>{{ rec.print_for_Fellows }}</li>
      </ul>
    </div>
    {% if rec.remark_set.all %}
    <h3>Remarks by Fellows:</h3>
    <ul>
      {% for remark in rec.remark_set.all|sort_by:'date' %}
      {{ remark.as_li }}
      {% endfor %}
    </ul>
    {% endif %}

    <h3>Fellows eligible to vote:</h3>
    <ul>
      <li>
	<p>
	  {% for eligible in rec.eligible_to_vote.all|sort_by:'user__last_name' %}
	  {{ eligible.user.last_name }},&nbsp;
	  {% endfor %}
	</p>
      </li>
    </ul>
    <h3>Voting results up to now:</h3>
    <ul>
      <li>
	<p>Agreed:&nbsp;({{ rec.voted_for.all.count }})
	{% for agreed in rec.voted_for.all|sort_by:'user__last_name' %}
	{{ agreed.user.last_name }},&nbsp;
	{% endfor %}
	</p>
      </li>
      <li>
	<p>Disagreed:&nbsp;({{ rec.voted_against.all.count }})
	{% for disagreed in rec.voted_against.all|sort_by:'user__last_name' %}
	{{ disagreed.user.last_name }},&nbsp;
	{% endfor %}
	</p>
      </li>
      <li>
	<p>Abstained:&nbsp;({{ rec.voted_abstain.all.count }})
	{% for abstained in rec.voted_abstain.all|sort_by:'user__last_name' %}
	{{ abstained.user.last_name }},&nbsp;
	{% endfor %}
	</p>
      </li>
    </ul>
    {% if rec.remark_set %}
    <h4>Remarks:</h4>
    <ul>
      {% for rem in rec.remark_set.all %}
      <li>{{ rem }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h4>Actions:</h4>
    <ul>
      <li>To fix the College decision and follow the Editorial Recommendation as is: <a href="{% url 'submissions:fix_College_decision' rec_id=rec.id %}">click here</a></li>
      <li>To request a modification of the Recommendation to request for revision: click here</li>
    </ul>
    <br/>
    <hr class="hr6"/>
    {% endif %}
    {% endfor %}
  </ul>
</section>
<hr class="hr12"/>
{% endif %}


{% if assignments_to_consider %}
<section>

  {% for assignment_to_consider in assignments_to_consider %}

  <div class="flex-greybox">
    <h1>Assignment request: can you act as Editor-in-charge? (see below to accept/decline):</h1>
  </div>
  <br>
  <hr>

  {{ assignment_to_consider.submission.header_as_table }}
  <br />
  <h4>Abstract:</h4>
  <p>{{ assignment_to_consider.submission.abstract }}</p>
  <br/>

  <hr>
  <div class="flex-greybox">
    <h1>Accept or Decline this Assignment</h1>
  </div>
  <h3>By accepting, you will be required to start a refereeing round on the next screen.</h3>
  <form action="{% url 'submissions:accept_or_decline_assignment_ack' assignment_id=assignment_to_consider.id %}" method="post">
    {% csrf_token %}
    {{ consider_assignment_form.accept }}
    <div id="ref_reason">
      <p>Please select a reason for declining this assignment:</p>
      {{ consider_assignment_form.refusal_reason }}
    </div>
    <input type="submit" value="Submit" />
  </form>

  <hr class="hr6"/>
  {% endfor %}

</section>
<hr class="hr12"/>
{% endif %}

{% if request.user|is_in_group:'Editorial Administrators' and recommendations_to_prepare_for_voting %}
<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Recommendations to prepare for voting</h1>
    </div>
  </div>
  <ul>
    {% for rec in recommendations_to_prepare_for_voting %}
    {% if request.user|is_not_author_of_submission:rec.submission.arxiv_identifier_w_vn_nr %}
    {{ rec.submission.header_as_li_for_Fellows }}
    <div class="flex-greybox">
      <h3>Editorial recommendation:</h3>
      <ul>
	<li>{{ rec.print_for_Fellows }}</li>
      </ul>
    </div>
    <h4>Actions:</h4>
    <ul>
      <li><a href="{% url 'submissions:prepare_for_voting' rec_id=rec.id %}">Prepare for voting</a></li>
    </ul>
    {% endif %}
    {% endfor %}
  </ul>
</section>
<hr class="hr12"/>
{% endif %}

{% if recs_to_vote_on %}
<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>Recommendations to vote on</h1>
    </div>
  </div>
  <ul>
    {% for rec in recs_to_vote_on %}
    {% if request.user|is_not_author_of_submission:rec.submission.arxiv_identifier_w_vn_nr %}
    {{ rec.submission.header_as_li_for_Fellows }}
    <div class="flex-greybox">
      <h3>Editorial recommendation:</h3>
      <ul>
	<li>{{ rec.print_for_Fellows }}</li>
      </ul>
    </div>
    <form action="{% url 'submissions:vote_on_rec' rec_id=rec.id %}" method="post">
      {% csrf_token %}
      {% load crispy_forms_tags %}
      {% crispy rec_vote_form %}
    </form>
    <hr class="hr6"/>
    <br/>
    {% endif %}
    {% endfor %}
  </ul>
</section>
<hr class="hr12"/>
{% endif %}

<section>
  <div class="flex-container">
    <div class="flex-greybox">
      <h1>SciPost Submissions Pool</h1>
    </div>
  </div>

  <ul>
    {% for sub in submissions_in_pool %}
    {% if request.user|is_not_author_of_submission:sub.arxiv_identifier_w_vn_nr %}
    <br/>
    {{ sub.header_as_li_for_Fellows }}
    {% get_obj_perms request.user for sub as "sub_perms" %}
    {% if "can_take_editorial_actions" in sub_perms or request.user|is_in_group:'Editorial Administrators' %}
    <h4><a href="{% url 'submissions:editorial_page' arxiv_identifier_w_vn_nr=sub.arxiv_identifier_w_vn_nr %}">
      Go to this Submission's Editorial Page</a></h4>
    {% endif %}
    {% if perms.scipost.can_assign_submissions %}
    {% if sub.editorialassignment_set.all %}
    <h4>EIC Assignment requests:</h4>
    <ul>
      {% for assignment in sub.editorialassignment_set.all %}
      {{ assignment.info_as_li }}
      {% endfor %}
    </ul>
    {% endif %}
    {% if sub.editor_in_charge == None %}
    <h4>Actions:</h4>
    <ul>
      <li><a href="{% url 'submissions:assign_submission' arxiv_identifier_w_vn_nr=sub.arxiv_identifier_w_vn_nr %}">Send a new assignment request</a></li>
      <li><a href="{% url 'submissions:assignment_failed' arxiv_identifier_w_vn_nr=sub.arxiv_identifier_w_vn_nr %}">Close pre-screening: failure to find EIC</a></li>
    </ul>
    {% endif %}
    {% endif %}
    {% if request.user|is_in_group:'Editorial Administrators' %}
    <h4><a href="{% url 'submissions:communication' arxiv_identifier_w_vn_nr=sub.arxiv_identifier_w_vn_nr comtype='StoE' %}">Send a communication to the Editor-in-charge</a></h4>
    {% if sub.status == 'accepted' %}
    <h4>After proofs have been accepted, you can
      <a href="{% url 'journals:initiate_publication' %}">initiate the publication process</a> (leads to the validation page)</h4>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>

</section>

{% endblock bodysup %}
