{% extends 'scipost/base.html' %}

{% block pagetitle %}: process submissions{% endblock pagetitle %}

{% block bodysup %}

<section>
  {% if not submission_to_process %}
  <h1>There are no Submissions for you to process.</h1>

  {% else %}

  <h1>SciPost Submission to Process</h1>

  <br>
  <hr>
  <div class="row">
    <div class="col-8">
      <table>
	<tr><td>Title: </td><td>{{ submission_to_process.title }}</td></tr>
	<tr><td>Author(s): </td><td>{{ submission_to_process.author_list }}</td></tr>
	<tr><td>arxiv Link: </td><td><a href="{{ submission_to_process.arxiv_link }}">{{ submission_to_process.arxiv_link }}</a></td></tr>
	<tr><td>Date submitted: </td><td>{{ submission_to_process.submission_date }}</td></tr>
      </table>
      <br />
      <h4>Abstract:</h4>
      <p>{{ submission_to_process.abstract }}</p>
    </div>
    <div class="col-4">
      <form action="{% url 'submissions:process_new_submission_ack' submission_id=submission_to_process.id %}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
    </div>
  </div>

  {% endif %}
</section>

{% endblock bodysup %}
