{% extends 'scipost/base.html' %}

{% block pagetitle %}: select referee for submission{% endblock pagetitle %}

{% block headsup %}

{% load scipost_extras %}

{% endblock headsup %}

{% block bodysup %}


<section>
  <div class="flex-greybox">
    <h1>Referee Selection Page for Submission</h1>
    <h3>(go to the <a href="{% url 'submissions:submission' submission_id=submission.id %}">Submissions Page</a> to view Reports and Comments)</h3>
    <h3>(go back to the <a href="{% url 'submissions:editorial_page' submission_id=submission.id %}">Editorial Page</a> to take editorial actions)</h3>
  </div>

  <hr class="hr12">
  <div class="row">
    <div class="col-4">
      <h2>Submission:</h2>
    </div>
  </div>
  {{ submission.header_as_table }}

  {% if submission.referees_flagged %}
  <h3>Referees flagged upon submission (treat reports with caution):</h3>
  <p>{{ submission.referees_flagged }}</p>
  {% endif %}
</section>


<section>
  <div class="flex-greybox">
    <h1>Select an additional Referee</h1>
  </div>
  <form action="{% url 'submissions:select_referee' submission_id=submission.id %}" method="post" id="refereeSearch">
    {% csrf_token %}
    {{ ref_search_form }}
    <input type="submit" value="Find referee">
  </form>

  {% if queryresults.entries %}
  <div style="background-color: #ffdddd">
    <h3 style="color: red">The system identified the following potential coauthorships (from arXiv datqbase)</h3>
    <p style="color: red">(only up to 5 most recent shown; if within the last 3 years, referee is disqualified):</p>
    <ul>
      {% for entry in queryresults.entries %}
      <li>
	<p><a href="{{ entry.id }}">{{ entry.id }}</a></p>
	<p>{{ entry.title }}</p>
	<p>{% for author in entry.authors %}
	  {{ author.name }}, &nbsp;
	  {% endfor %}
	</p>
	<p>{{ entry.published }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if contributors_found %}
  <h3>Identified as contributor:</h3>
  <table>
    {% for contributor in contributors_found %}
    <tr><td>{{ contributor.user.first_name }} {{ contributor.user.last_name }}</td><td>&nbsp;</td>
      <td><a href="{% url 'submissions:send_refereeing_invitation' submission_id=submission.id contributor_id=contributor.id %}">Send refereeing invitation</a></td></tr>
    {% endfor %}
  </table>
  {% elif ref_search_form.has_changed %}
  <p>No Contributor with this last name could be identified.</p>
  <br/>
  <p>You can send a registration and refereeing invitation by filling this form:</p>
  <form action="{% url 'submissions:recruit_referee' submission_id=submission.id %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy ref_recruit_form %}
  </form>
  {% endif %}
</section>


{% endblock bodysup %}
