{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'scipost/SciPost.css' %}" />

{% include 'scipost/header.html' %}
{% include 'scipost/navbar.html' %}

<section>
  <h1>Submission and Refereeing procedure</h1>
  <h3>Submission</h3>
  <p>To submit your article for publication in a SciPost Journal, you must:</p>
  <ol>
    <li>Prepare your manuscript using the SciPost LaTeX template (<a href="{% static 'submissions/latex/SciPost_LaTeX_template.tex' %}">.tex</a>, <a href="{% static 'submissions/latex/SciPost_LaTeX_template.pdf' %}">.pdf</a>)</li>
    <li>Make your preprint publicly available on arXiv</li>
    <li>After appearance on arXiv, fill the SciPost <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form, choosing which SciPost Journal you wish to submit to. </li>
  </ol>
  <p>Note that you cannot submit directly to SciPost Physics Select or SciPost Physics X. Submissions to SciPost Physics Letters deemed of superlative quality will be editorially promoted to SPS (and similarly for articles from SciPost Physics to SciPost Physics X).</p>
  <br/>
  <h3>Refereeing procedure</h3>
  <p>Papers submitted to SciPost are put through the <a href="{% url 'scipost:peer_witnessed_refereeing' %}">peer-witnessed refereeing</a> process, implementing the highest possible standard of refereeing. The precise procedure differs slightly between SciPost Journals but follows this pattern:</p>
  <ul>
    <li>A SciPost Submission Page is activated for the Submission (this is similar to a Commentary Page, but with Reports also enabled). This page is immediately open to Contributor Comments and Author Replies.</li>
    <li>An Editor-in-charge starts a 3-week Refereeing round, inviting specific Contributors to provide an Invited Report.</li>
    <li>During a refereeing round, registered Contributors to SciPost can volunteer a Contributed Report.</li>
    <li>Authors can continuously provide Replies to Reports and Comments.</li>
    <li>At the end of the refereeing round, Reports, Replies and Comments are assessed by SciPost Editors, and an Editorial decision is taken.</li>
    <li>The Editorial decision consists in either a publication offer, request for resubmission (with minor revisions, or major revisions (leading to another refereeing round)), or rejection.</li>
    <li>The Authors can respond to the Editorial decision by accepting an eventual publication offer (in which case the Submission Page and its contents are moved to a SciPost Publication Page), by revising their manuscript and resubmitting to SciPost, or by withdrawing their Submission (in which case the Submission Page is deactivated and all its contents removed from public view).</li>
  </ul>
</section>
    

{% include 'scipost/footer.html' %}
