{% extends 'scipost/base.html' %}

{% block pagetitle %}: submission and refereeing procedure{% endblock pagetitle %}

{% block headsup %} {% load staticfiles %} {% endblock headsup %}

{% block bodysup %}

<!-- Temporary strip for online version -->
{% if user.is_authenticated %}

<section>
  <div class="flex-greybox">
    <h1>Submission and Refereeing procedure</h1>
  </div>

  <hr class="hr6"/>

  <h3>Submission</h3>
  <p>To submit your article for publication in a SciPost Journal, authors must:</p>
  <ol>
    <li>Prepare their manuscript using the SciPost LaTeX template (<a href="{% static 'submissions/latex/SciPost_LaTeX_template.tex' %}">.tex</a>, <a href="{% static 'submissions/latex/SciPost_LaTeX_template.pdf' %}">.pdf</a>)</li>
    <li>Make your preprint publicly available on <a href="http://arxiv.org">arXiv.org</a></li>
    <li>After appearance on arxiv.org, fill the SciPost <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form, selecting which SciPost Journal to submit to and providing domain and speciality specifications.</li>
  </ol>
  <p>Note that you cannot submit directly to SciPost Physics Select. Submissions to SciPost Physics deemed of superlative quality will be editorially promoted to SPS.</p>
  <br/>

  <hr class="hr6"/>
  <h3 id="pwr">Refereeing procedure</h3>
  <p>All incoming Submissions to SciPost Journals are peer-reviewed using SciPost's <a href="/FAQ/#pwr">peer-witnessed refereeing</a> process, implementing the highest standard of refereeing available. The precise procedure follows this pattern:</p>
  <ol>
    <li>A member of the Editorial College is internally selected and becomes Editor-in-charge of the manuscript.</li>
    <li>A Submission Page is activated (this is similar to a Commentary Page, but with Reports also enabled).</li>
    <li>The Submission is immediately opened to Contributor Comments and Author Replies, all of which are vetted by an Editorial Fellow before eventually appearing online.</li>
    <li>The Editor-in-charge starts a refereeing round (whose duration depends on the Journal, see below), inviting specific Contributors to provide an Invited Report.</li>
    <li>During a refereeing round, registered Contributors to SciPost can volunteer a Contributed Report.</li>
    <li>During the refereeing round, authors can continuously provide Replies to Reports and Comments.</li>
    <li>At the end of the refereeing round, Reports, Replies and Comments are assessed by the Editor-in-charge, who formulates an editorial recommendation.
      <ol>
	<li>If the editorial recommendation is for publication or rejection, it is forwarded to the Editorial College, which takes the binding editorial decision by consultation of the relevant specialty's Editorial Fellows.</li>
	<li>If the Editorial Recommendation is for a minor or major revision, it is communicated directly to the authors, who must then resubmit. Upon resubmission, the Editor-in-charge can either start a new refereeing round or directly formulate a new editorial recommendation.</li>
      </ol></li>
    <li>After being taken by the Editorial College, the editorial decision (consisting in either a publication offer, or rejection) is communicated to the Authors.</li>
    <ol>
      <li>If the authors accept an eventual publication offer, the manuscript is sent to the production team. The final version is published online in the relevant SciPost Journal. The publication page links back to the original Submission Page and its contents.</li>
      <li>If the manuscript is rejected or authors withdraw their Submission, the Submission Page is deactivated and all its contents removed from public view.</li>
    </ol>
  </ol>
  <p>The duration of refereeing rounds depends on the Journal: 4 weeks for traditional articles, and 8 weeks for Lecture Notes.</p>

</section>
{% endif %} <!-- Temporary strip -->
    
{% endblock bodysup %}
