{% extends 'scipost/base.html' %}

{% block pagetitle %}: submission and refereeing procedure{% endblock pagetitle %}

{% block headsup %} {% load staticfiles %} {% endblock headsup %}

{% block bodysup %}

<!-- Temporary strip for online version -->
{% if user.is_authenticated %}

<section>
  <div class="flex-greybox">
    <h1>Submission and Refereeing procedure</h1>
  </div>

  <hr class="hr6"/>

  <h3>Submission</h3>
  <p>To submit your article for publication in a SciPost Journal, authors must:</p>
  <ol>
    <li>Prepare their manuscript using the SciPost LaTeX template (<a href="{% static 'submissions/latex/SciPost_LaTeX_template.tex' %}">.tex</a>, <a href="{% static 'submissions/latex/SciPost_LaTeX_template.pdf' %}">.pdf</a>)</li>
    <li>Make your preprint publicly available on <a href="http://arxiv.org">arXiv.org</a></li>
    <li>After appearance on arxiv.org, fill the SciPost <a href="{% url 'submissions:submit_manuscript' %}">Submission</a> form, selecting which SciPost Journal to submit to and providing domain and speciality specifications.</li>
  </ol>
  <p>Note that you cannot submit directly to SciPost Physics Select. Submissions to SciPost Physics deemed of superlative quality will be editorially promoted to SPS.</p>
  <br/>

  <hr class="hr6"/>
  <h3>Refereeing procedure</h3>
  <p>All incoming Submissions to SciPost Journals are peer-reviewed using SciPost's <a href="{% url 'scipost:peer_witnessed_refereeing' %}">peer-witnessed refereeing</a> process, implementing the highest standard of refereeing available. The precise procedure follows this pattern (the various types of Editors are described in the next section):</p>
  <ul>
    <li>A member of the Editorial College is internally selected and becomes Editor-in-charge of the manuscript. A Submission Page is activated (this is similar to a Commentary Page, but with Reports also enabled), and is immediately open to Contributor Comments and Author Replies, all of which are vetted by the Editor-in-charge of the submission.</li>
    <li>The Editor-in-charge starts a Refereeing round (whose duration depends on the Journal, see below), inviting specific Contributors to provide an Invited Report.</li>
    <li>During a refereeing round, registered Contributors to SciPost can volunteer a Contributed Report.</li>
    <li>During the refereeing round, authors can continuously provide Replies to Reports and Comments.</li>
    <li>At the end of the refereeing round, Reports, Replies and Comments are assessed by the Editor-in-charge, who formulates an editorial recommendation and forwards it to the 
Editorial College, which takes the editorial decision by majority vote of the relevant specialty’s Editorial Fellows.</li>
    <li>The Editorial decision is communicated to the Authors. This consists in either a publication offer, request for resubmission (with minor revisions, or major revisions (leading to another refereeing round)), or rejection.</li>
    <li>The Authors can respond to the Editorial decision by accepting an eventual publication offer (in which case the Submission Page and its contents are moved to a SciPost Publication Page), by revising their manuscript and resubmitting to SciPost (in which case a new Submission Page is opened, retaining a link to the previous version's Submission Page), or by withdrawing their Submission (in which case the Submission Page is deactivated and all its contents removed from public view).</li>
  </ul>
  <p>The duration of refereeing rounds depends on the Journal: 4 weeks for traditional articles, and 8 weeks for Lecture Notes.</p>

</section>
{% endif %} <!-- Temporary strip -->
    
{% endblock bodysup %}
