{% extends 'submissions/base.html' %}

{% load static %}
{% load bootstrap %}
{% load journals_extras %}

{% block headsup %}
  <style>{% for journal in journals %}{% if journal.style %}{{ journal.style }}{% endif %}{% endfor %}</style>
{% endblock headsup %}

{% block pagetitle %}: submit manuscript{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Submit a manuscript</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">{% if thread_hash %}Resubmit a{% else %}Submit a new{% endif %} manuscript {% if acad_field %}in {{ acad_field }} {% endif %}</h1>
    </div>
  </div>

  {% if perms.scipost.can_submit_manuscript %}

    <div class="row">
      <div class="col-md-6">
	<h2 class=highlight>Step 2</h2>
	<h3>Which Journal do you want to {% if thread_hash %}send your resubmission{% else %}submit{% endif %} to?</h3>
      </div>
      <div class="col-md-6">
	{% include 'submissions/submit_steps.html' with step=2 thread_hash=thread_hash %}
      </div>
    </div>

    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
	{% for journal in journals %}
	  <div class="col col-sm-12 col-md-6 col-lg-4 mb-2">
	    <div class="card">
	      <div class="card-header {{ journal.doi_label }}">
		<h3 class="m-2"><a href="{{ journal.get_absolute_url }}">{{ journal.name }}</a>
		  {% if journal.has_DOAJ_Seal %}
		    <a href="https://doaj.org" class="float-right" data-toggle="tooltip" title="{{ journal.name }} has received the Directory of Open Access Journals Seal"><img src="{% static 'scipost/images/DOAJ_Seal_logo_big.png' %}" alt="DOAJ Seal" width="20em"></a>
		  {% endif %}
		</h3>
	      </div>
	      <div class="card-body text-center">
		<a class="btn btn-outline-primary m-2" role="button" href="{{ journal.get_absolute_url }}/about" target="_blank"><em>View Description, Scope, Content and Acceptance Criteria</em></a>
		<a class="btn btn-primary m-2" role="button" href="{% url 'submissions:submit_choose_preprint_server' journal_doi_label=journal.doi_label %}{% if thread_hash %}?thread_hash={{ thread_hash }}{% endif %}">{% include 'bi/arrow-right.html' %}&emsp;Submit to {{ journal.name }}</a>
	      </div>
	    </div>
	  </div>
	{% endfor %}
      </div>
    </div>

  {% else %}
      <h3>You are currently not allowed to submit a manuscript.</h3>
  {% endif %}
{% endblock content %}
