{% extends 'scipost/base.html' %}

{% block pagetitle %}: Submissions{% endblock pagetitle %}

{% block bodysup %}

<!-- Temporary strip for online version -->
{% if user.is_authenticated %}

<section>
  <p id="journalsannounce">OPEN FOR SUBMISSION STARTING 30 MAY 2016</p>
  <br/>
  <div class="flex-container">
    <div class="flex-greybox320">
      <h1>SciPost Submissions</h1>
      <h3><a href="{% url 'scipost:peer_witnessed_refereeing' %}">About peer-witnessed refereeing</a></h3>
      <h3><a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and refereeing procedure</a></h3>
      <h3><a href="{% url 'submissions:submit_manuscript' %}">Submit a manuscript to SciPost</a></h3>
    </div>
    <div class="flex-greybox320">
      <h2>Search SciPost Submissions:</h2>
      <form action="{% url 'submissions:submissions' %}" method="post">
	{% csrf_token %}
	<table>
	  <ul>
	    {{ form.as_table }}
	  </ul>
	</table>
	<input type="submit" name="Submit" />
      </form>
    </div>
    <div class="flex-greybox320">
      <h2>View SciPost Submissions</h2>
      <ul>
        <li>Physics: last <a href="{% url 'submissions:browse' discipline='physics' nrweeksback=1 %}">week</a> <a href="{% url 'submissions:browse' discipline='physics' nrweeksb\
ack=4 %}">month</a> <a href="{% url 'submissions:browse' discipline='physics' nrweeksback=52 %}">year</a> </li>
      </ul>
    </div>
  </div>

  {% if submission_search_list %}
  <br />
  <hr class="hr12">
  <h3>Search results:</h3>
  <ul>
    {% for submission in submission_search_list %}
    {{ submission.header_as_li|safe }}
    {% endfor %}
  </ul>
  {% elif form.has_changed %}
  <h3>No match found for your search query.</h3>
  {% endif %}

</section>

{% if submission_recent_list %}
<section>
  <hr class="hr12">
  <h2>Recent Submissions:</h2>
  <ul>  
    {% for submission in submission_recent_list %}
    {{ submission.header_as_li|safe }}
    {% endfor %}
  </ul>
</section>
{% endif %}


{% endif %} <!-- temporary strip -->

{% endblock bodysup %}
