{% extends 'scipost/base.html' %}

{% block pagetitle %}: submit report{% endblock pagetitle %}

{% block bodysup %}

{% if user.is_authenticated %}
<section>
  <div class="flex-greybox">
    <h1>Submit a Report on a SciPost Submission</h1>
  </div>

  <hr class="hr12">
  <div class="flex-greybox">
    <h2>Submission summary and link</h2>
  </div>
  {{ submission.header_as_table }}
  <br />
  <h3>Abstract:</h3>
  <p>{{ submission.abstract }}</p>

</section>

<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Your report:</h1>
  </div>
  <form action="{% url 'submissions:submit_report' submission.id %}" method="post">
    {% csrf_token %}
    <table>
      <ul>
	{{ form.as_table }}
      </ul>
    </table>
    <em>By clicking on Submit, you state that you abide by the <a href="{% url 'journals:journals_terms_and_conditions' %}#referee_code_of_conduct">referee code of conduct</a>.</em>
    <input type="submit" value="Submit"/>
  </form>
</section>
{% endif %}

{% endblock bodysup %}
