{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: submit report{% endblock pagetitle %}

{% block content %}

<script>
  $(document).ready(function(){

    var strengths_input = $("#id_strengths");
    function set_strengths(value) {
      $("#preview-strengths").text(value)
    }
    set_strengths(strengths_input.val())
    strengths_input.keyup(function(){
      var new_text = $(this).val()
      set_strengths(new_text)
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })

    var weaknesses_input = $("#id_weaknesses");
    function set_weaknesses(value) {
      $("#preview-weaknesses").text(value)
    }
    set_weaknesses(weaknesses_input.val())
    weaknesses_input.keyup(function(){
      var new_text = $(this).val()
      set_weaknesses(new_text)
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })

    var report_input = $("#id_report");
    function set_report(value) {
      $("#preview-report").text(value)
    }
    set_report(report_input.val())
    report_input.keyup(function(){
      var new_text = $(this).val()
      set_report(new_text)
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })

    var requested_changes_input = $("#id_requested_changes");
    function set_requested_changes(value) {
      $("#preview-requested_changes").text(value)
    }
    set_requested_changes(requested_changes_input.val())
    requested_changes_input.keyup(function(){
      var new_text = $(this).val()
      set_requested_changes(new_text)
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })

  });
</script>


{% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <h1 class="highlight">Submit a Report on a SciPost Submission</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Submission</h2>
            {% include 'submissions/_submission_summary.html' with submission=submission %}
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card card-grey">
                <div class="card-block">
                    <h1>Your report:</h1>
                    <p class="mb-0">A preview of text areas will appear below as you type (you can use LaTeX \$...\$ for in-text equations or \ [ ... \ ] for on-line equations).</p>
                </div>
            </div>
            <form action="{% url 'submissions:submit_report' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}" method="post">
                {% csrf_token %}
                {{ form|bootstrap:'3,9' }}
                <input class="btn btn-primary" type="submit" value="Submit your report"/>
                <div class="mt-2">
                    <em>By clicking on Submit, you state that you abide by the <a href="{% url 'journals:journals_terms_and_conditions' %}#referee_code_of_conduct">referee code of conduct</a>.</em>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12">
            <h3>Preview of your report (text areas only):</h3>

            <h4>Strengths:</h4>
            <p class="p-2" id="preview-strengths"></p>

            <h4>Weaknesses:</h4>
            <p class="p-2" id="preview-weaknesses"></p>

            <h4>Report:</h4>
            <p class="p-2" id="preview-report"></p>

            <h4>Requested changes:</h4>
            <p class="p-2" id="preview-requested_changes"></p>
        </div>
    </div>

{% endif %}

{% endblock %}
