{% extends 'scipost/base.html' %}

{% block pagetitle %}: submit manuscript{% endblock pagetitle %}

{% block bodysup %}


<script>
$(document).ready(function(){
  $("#id_submission_type").closest('tr').hide()

  $('select#id_submitted_to_journal').on('change', function (){
  var selection = $(this).val();
  switch(selection){
    case "SciPost Physics":
      $("#id_submission_type").closest('tr').show()
      break;
    default:
      $("#id_submission_type").closest('tr').hide()
  }
});

  var isresub = $("#id_is_resubmission").val();
  switch(isresub){
    case "True":
      $("#id_author_comments").closest('tr').show()
      $("#id_list_of_changes").closest('tr').show()
      break;
    default:
      $("#id_author_comments").closest('tr').hide()
      $("#id_list_of_changes").closest('tr').hide()
  }

});
</script>

<section>
  <div class="flex-greybox">
    <h1>Submit a manuscript to SciPost</h1>
  </div>
  
  <p>Before submitting, make sure you agree with the
    <a href="{% url 'journals:journals_terms_and_conditions' %}">
      SciPost Journals Terms and Conditions</a>.</p>
  <p>You should also make sure you understand the 
    <a href="{% url 'submissions:sub_and_ref_procedure' %}#pwr">
      refereeing procedure</a> and its open aspect.</p>
  <p>In particular, make sure you are familiar with the 
    <a href="{% url 'journals:journals_terms_and_conditions' %}#license_and_copyright_agreement">
      license and copyright agreement</a>
    and the <a href="{% url 'journals:journals_terms_and_conditions' %}#author_obligations">
      author obligations</a>.</p>
  <p>Please prepare your manuscript according to the 
    <a href="{% url 'submissions:author_guidelines' %}">author guidelines</a>.</p>
  

  {% if perms.scipost.can_submit_manuscript %}

  <div class="flex-greybox">
    <h3><em>Please provide the arXiv identifier for your Submission:</em></h3>
    <p>
      <em>(give the identifier without prefix but with version number, as per the placeholder)</em>
    </p>
    <form action="{% url 'submissions:prefill_using_identifier' %}" method="post">
      {% csrf_token %}
      {{ identifierform }}
      <input type="submit" value="Query arXiv"/>
    </form>
  </div>
  <br/>
  {% if errormessage %}
  <h3 style="color: red;">Error: {{ errormessage }}</h3>
  {% endif %}

  {% if resubmessage %}
  <h3 style="color: green;">{{ resubmessage }}</h3>
  {% endif %}

  {% if form.arxiv_link.value %}
  <form id="full_submission_form" action="{% url 'submissions:submit_manuscript' %}" method="post">
    {% csrf_token %}
    <table>
      <ul>
	{{ form.as_table }}
      </ul>
    </table>
    <p>By clicking on Submit, you state that you have read and agree with
      the <a href="{% url 'journals:journals_terms_and_conditions' %}">
	SciPost Journals Terms and Conditions</a>, the
      <a href="{% url 'journals:journals_terms_and_conditions' %}#license_and_copyright_agreement">
	license and copyright agreement</a>
      and the <a href="{% url 'journals:journals_terms_and_conditions' %}#author_obligations">
	author obligations</a>.</p>
    <input type="submit" value="Submit"/>
  </form>
  {% endif %}

  {% else %}
  <h3>You are currently not allowed to submit a manuscript.</h3>
  {% endif %}

</section>


{% endblock bodysup %}
