{% extends 'scipost/base.html' %}

{% load bootstrap %}
{% load submissions_extras %}

{% block pagetitle %}: Submissions{% endblock pagetitle %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="panel page-header-panel">
          <h1>SciPost Submissions</h1>
          <h3><a href="{% url 'submissions:sub_and_ref_procedure' %}">Submission and refereeing procedure</a></h3>
          <h3><a href="{% url 'submissions:submit_manuscript' %}">Submit a manuscript to SciPost</a></h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel page-header-panel">
          <h2>Search SciPost Submissions:</h2>
          <form action="{% url 'submissions:submissions' %}" class="small" method="get">
            {{ form|bootstrap:'4,8,sm' }}
            <input class="btn btn-sm btn-secondary" type="submit" name="Submit" />
          </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel page-header-panel">
            <h2>View SciPost Submissions</h2>
            <ul>
                <li>Physics: last <a href="{% url 'submissions:browse' discipline='physics' nrweeksback=1 %}">week</a> <a href="{% url 'submissions:browse' discipline='physics' nrweeksback=4 %}">month</a> <a href="{% url 'submissions:browse' discipline='physics' nrweeksback=52 %}">year</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr class="hr12">
        {% if recent %}
          <h2>Recent Submissions:</h2>
        {% elif browse %}
          <h2>Submissions in {{ discipline }} in the last {{ nrweeksback }} week{% if nrweeksback == '1' %}{% else %}s{% endif %}:</h2>
        {% else %}
          <h2>Search results:</h3>
        {% endif %}
        {% if object_list %}
            {% if is_paginated %}
              <p>
              {% if page_obj.has_previous %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a>
              {% endif %}
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
              {% endif %}
              </p>
            {% endif %}
            <ul>
                {% for submission in object_list %}
                {{ submission.header_as_li }}
                {% endfor %}
            </ul>
        {% else %}
            <h3>No match found for your search query.</h3>
        {% endif %}
    </div>
</div>

{% if submission_recent_list %}
<div class="row">
    <div class="col-12">
        <hr class="hr12">
        <h2>Recent Submissions:</h2>
        <ul>
            {% for submission in submission_recent_list %}
            {{ submission.header_as_li }}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if submission_browse_list %}
<div class="row">
    <div class="col-12">
        <hr class="hr12">
        <h2>Submissions in {{ discipline }} in the last {{ nrweeksback }} week{% if nrweeksback == '1' %}{% else %}s{% endif %}:</h2>
        <ul>
            {% for submission in submission_browse_list %}
            {{ submission.header_as_li }}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock content %}
