{% extends 'scipost/base.html' %}

{% load scipost_extras %}
{% load submissions_extras %}

{% block pagetitle %}: submission detail{% endblock pagetitle %}

{% block headsup %}

  <script>
    $(document).ready(function(){
        $("#invitedreportsbutton").click(function(){
            $("#invitedreportslist").toggle();
        });

    });
  </script>

{% endblock headsup %}

{% block breadcrumb %}
    <nav class="breadcrumb py-md-2 px-0">
        <div class="container">
            <a href="{% url 'submissions:submissions' %}" class="breadcrumb-item">Submissions</a>
            <span class="breadcrumb-item">{{submission.title}} ({{submission.arxiv_identifier_w_vn_nr}})</span>
        </div>
    </nav>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12">
        <h2>SciPost Submission Page</h2>
        <h1 class="text-primary">{{submission.title}}</h1>
        <h3>by {{submission.author_list}}</h3>

        {% if not submission.is_current %}
            <h4 class="text-danger"><b>This is not the current version.</b></h4>
        {% endif %}

        {% if submission.editor_in_charge and request.user.contributor == submission.editor_in_charge %}
            <h4>(You are the Editor-in-charge, go to the <a href="{% url 'submissions:editorial_page' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}">Editorial Page</a> to take editorial actions)</h4>
        {% endif %}

        {% if submission.other_versions %}
            <h4>Other versions of this Submission (with Reports) exist:</h4>
            <div>
                {% for vn in submission.other_versions %}
                    {% include 'submissions/_submission_version.html' with submission=vn %}
                {% endfor %}
            </div>
        {% endif %}

        {% if unfinished_report_for_user %}
            <blockquote class="blockquote">
              <h3>You have an unfinished report for this submission, <a href="{% url 'submissions:submit_report' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}">finish your report here.</a></h3>
            </blockquote>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="mt-3">Submission summary</h3>
        {% include 'submissions/_submission_summary.html' with submission=submission hide_title=1 %}

        {% include 'submissions/_submission_status_block.html' with submission=submission %}

        <br>
        <br>
        {% if submission.author_comments %}
            <h3>Author comments upon resubmission</h3>
            <div class="blockquote">
                {{ submission.author_comments|linebreaks }}
            </div>
        {% endif %}

        {% if submission.list_of_changes %}
            <h3>List of changes</h3>
            <div class="blockquote">{{ submission.list_of_changes|linebreaks }}</div>
        {% endif %}
    </div>
</div>

{% if is_author or user|is_in_group:'Editorial College' or user|is_in_group:'Editorial Administrators' %}
    {% for recommendation in recommendations %}
        {% if user|is_in_group:'Editorial College' or user|is_in_group:'Editorial Administrators' or recommendation|is_viewable_by_authors %}
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline-secondary">
                        {% include 'submissions/_recommendation_author_content.html' with recommendation=recommendation %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="mb-4">
        <h2>Events</h2>
        <a href="javascript:;" data-toggle="toggle" data-target="#eventslist">Show/hide events</a>
        <div id="eventslist">
            {% include 'submissions/submission_event_list.html' with events=submission.events.for_author %}
        </div>
    </div>
{% endif %}


{% if user.is_authenticated and user|is_in_group:'Registered Contributors' %}
<div class="row">
    <div class="col-12">
        <h2 class="highlight">Actions</h2>
        <ul>
            {% if submission.open_for_reporting %}
                {% if perms.scipost.can_referee and not is_author and not is_author_unchecked %}
                    <li>

                        <h3><a href="{% url 'submissions:submit_report' arxiv_identifier_w_vn_nr=submission.arxiv_identifier_w_vn_nr %}">{% if unfinished_report_for_user %}Finish your report{% else %}Contribute a Report{% endif %}</a></h3>
                        <div class="text-danger">Deadline for reporting: {{ submission.reporting_deadline|date:"Y-m-d" }}</div>
                    </li>
                {% elif is_author_unchecked %}
                    <li>
                        <h3 class="text-blue">Contribute a Report [deactivated]</h3>
                        <div>The system flagged you as a potential author of this Submission.
                        Please go to your <a href="{% url 'scipost:personal_page' %}">personal page</a>
                        under the Submissions tab to clarify this.</div>
                    </li>
                {% endif %}
            {% else %}
                <li>Reporting for this Submission is closed.</li>
            {% endif %}
            {% if submission.open_for_commenting %}
                {% if perms.scipost.can_submit_comments %}
                    <li><h3><a href="#contribute_comment">Contribute a Comment</a></h3></li>
                {% endif %}
            {% else %}
                <li>Commenting on this Submission is closed.</li>
            {% endif %}
        </ul>
        {% if perms.scipost.can_manage_reports %}
            <h3>Admin Actions</h3>
            <ul>
                <li>
                    <a href="{% url 'submissions:treated_submission_pdf_compile' submission.arxiv_identifier_w_vn_nr %}">Update the Refereeing Package pdf</a>
                </li>
            <ul>
        {% endif %}
    </div>
</div>
{% endif %}

{% if invited_reports %}
<hr>
<div class="row">
    <div class="col-12">
        <div class="card card-grey">
            <div class="card-body">
                <h2 class="card-title mb-0">Invited Reports on this Submission</h2>
                <a href="javascript:;" data-toggle="toggle" data-target="#invitedreportslist">Toggle invited reports view</a>
            </div>
        </div>
    </div>
</div>

<div id="invitedreportslist">
    {% for report in invited_reports %}
        {% include 'submissions/_single_public_report.html' with report=report user=request.user perms=perms %}
    {% endfor %}
</div>

{% endif %}

{% if contributed_reports %}
<hr>
<div class="row">
    <div class="col-12">
        <div class="card card-grey">
            <div class="card-body">
                <h2 class="card-title mb-0">Contributed Reports on this Submission</h2>
                <a href="javascript:;" data-toggle="toggle" data-target="#contributedreportslist">Toggle contributed reports view</a>
            </div>
        </div>
    </div>
</div>

<div id="contributedreportslist">
    {% for report in contributed_reports %}
        {% include 'submissions/_single_public_report.html' with report=report user=request.user perms=perms %}
    {% endfor %}
</div>

{% endif %}

{% include 'scipost/comments_block.html' with comments=submission.comments.vetted %}

{% include 'comments/new_comment.html' with object_id=submission.id type_of_object='submission' open_for_commenting=submission.open_for_commenting %}

{% endblock content %}
