{% extends 'scipost/base.html' %}

{% block pagetitle %}: submission detail{% endblock pagetitle %}

{% block headsup %}

{% load scipost_extras %}

  <script>
    $(document).ready(function(){
    $("#invitedreportsbutton").click(function(){
    $("#invitedreportslist").toggle();
    });
    $("#contributedreportsbutton").click(function(){
    $("#contributedreportslist").toggle();
    });
    $("#commentsbutton").click(function(){
    $("#commentslist").toggle();
    });
    });
  </script>

{% endblock headsup %}

{% block bodysup %}

<!-- Temporary strip -->
{% if user.is_authenticated %}

<section>
  <div class="flex-greybox">
    <h1>SciPost Submission Page &nbsp; (for papers submitted to SciPost)</h1>
    {% if user.contributor == submission.editor_in_charge %}
    <h3>(You are the Editor-in-charge, go to the <a href="{% url 'submissions:editorial_page' submission_id=submission.id %}">Editorial Page</a> to take editorial actions)</h3>
    {% endif %}
  </div>

  <hr class="hr12">
  <div class="row">
    <div class="col-4">
      <h2>Submission:</h2>
    </div>
  </div>
  {{ submission.header_as_table }}
  <h3>Abstract:</h3>
  <p>{{ submission.abstract }}</p>

</section>

{% if user.is_authenticated and user|is_in_group:'Registered Contributors' %}
<section>
  <div class="flex-greybox">
    <h1>Actions</h1>
  </div>
  <ul>
    {% if submission.open_for_reporting %}
    <li><h3><a href="{% url 'submissions:submit_report' submission.id %}">Contribute a Report</a>
      <div class="reportingDeadline">Deadline for reporting: {{ submission.reporting_deadline }}</div></h3></li>
    {% else %}
    <li>Reporting for this Submission is now closed.</li>
    {% endif %}
    <li><h3><a href="#contribute_comment">Contribute a Comment</a></h3></li>
  </ul>
</section>
{% endif %}

{% if invited_reports %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h2>Invited Reports on this Submission</h2>
    <button id="invitedreportsbutton">Toggle invited reports view</button>
  </div>

  <div id="invitedreportslist">
    {% for report in invited_reports %}
    <hr class="hr6"/>
    {% if user|is_in_group:'Editorial College' %}
    {{ report.print_contents_for_editors }} 
    {% else %}
    {{ report.print_identifier }} 
    {{ report.print_contents }} 
    {% endif %}

    <hr style="border-style: dotted;" />
    <h3><a href="{% url 'comments:reply_to_report' report_id=report.id %}">Reply to this Report</a> (authors only)</h3>

    {% for reply in author_replies %}
    {% if reply.in_reply_to_report %}
    {% if reply.in_reply_to_report.id = report.id %}
    <div class="row">
      <div class="col-1"></div>
      <hr style="border-style: dotted;" />

      <div class="flex-container">
        <div class="flex-commentbox">
          {{ reply.print_identifier }}
          {{ reply.categories_as_ul }}
          <div class="opinionsDisplay">
            {% if user.is_authenticated and user|is_in_group:'Registered Contributors' %}
            {% if user.contributor != reply.author %}
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='A' %}" method="post">
              {% csrf_token %}
              <input type="submit" class="agree" value="Agree {{ reply.nr_A }} "/>
            </form>
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='N' %}" method="post">
              {% csrf_token %}
              <input type="submit" class="notsure" value="Not sure {{ reply.nr_N }}"/>
            </form>
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='D'%}" method="post">
              {% csrf_token %}
              <input type="submit" class="disagree" value="Disagree {{ reply.nr_D }}"/>
            </form>
            {% else %}
            {{ reply.opinions_as_ul }}
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <p>{{ reply.comment_text|linebreaks }}</p>
      </div>
    </div>

    {% endif %}
    {% endif %}
    {% endfor %}

    {% endfor %}
  </div>

</section>
{% endif %}

{% if contributed_reports %}
<section>
  <hr class="hr12">
  <div class="flex-greybox">
    <h2>Contributed Reports on this Submission</h2>
    <button id="contributedreportsbutton">Toggle contributed reports view</button>
  </div>

  <div id="contributedreportslist">
    {% for report in contributed_reports %}
    <hr class="hr6"/>
    {% if user|is_in_group:'Editorial College' %}
    {{ report.print_contents_for_editors }}
    {% else %}
    {{ report.print_identifier }}
    {{ report.print_contents }}
    {% endif %}

    <hr style="border-style: dotted;" />
    <h3><a href="{% url 'comments:reply_to_report' report_id=report.id %}">Reply to this Report</a> (authors only)</h3>

    {% for reply in author_replies %}
    {% if reply.in_reply_to_report %}
    {% if reply.in_reply_to_report.id = report.id %}
    <div class="row">
      <div class="col-1"></div>
      <hr style="border-style: dotted;" />

      <div class="flex-container">
        <div class="flex-commentbox">
          {{ reply.print_identifier }}
          {{ reply.categories_as_ul }}
          <div class="opinionsDisplay">
            {% if user.is_authenticated and user|is_in_group:'Registered Contributors' %}
            {% if user.contributor != reply.author %}
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='A' %}" method="post">
              {% csrf_token %}
              <input type="submit" class="agree" value="Agree {{ reply.nr_A }} "/>
            </form>
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='N' %}" method="post">
              {% csrf_token %}
              <input type="submit" class="notsure" value="Not sure {{ reply.nr_N }}"/>
            </form>
            <form action="{% url 'comments:express_opinion' comment_id=reply.id opinion='D'%}" method="post">
              {% csrf_token %}
              <input type="submit" class="disagree" value="Disagree {{ reply.nr_D }}"/>
            </form>
            {% else %}
            {{ reply.opinions_as_ul }}
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <p>{{ reply.comment_text|linebreaks }}</p>
      </div>
    </div>

    {% endif %}
    {% endif %}
    {% endfor %}

    {% endfor %}
  </div>

</section>
{% endif %}



{% include 'scipost/comments_block.html' %}

{% if user.is_authenticated and submission.open_for_commenting and user|is_in_group:'Registered Contributors' %}
<section id="contribute_comment">
  <hr class="hr12">
  <div class="flex-greybox">
    <h1>Contribute a Comment:</h1>
  </div>
  <form action="{% url 'submissions:submission' submission.id %}" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
  </form>
</section>
{% endif %}

{% endif %} <!-- Temporary strip -->

{% endblock bodysup %}
