{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: submit manuscript{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        <h1 class="highlight">Possible Resubmissions</h1>
        <p>The system has found {{ submissions|length|pluralize:'a Submission,Submissions' }} for which you are a verified author. If you wish to submit a new version for {{ submissions|length|pluralize:'this Submission,one of these Submissions' }}, please use the associated "Resubmit this Submission" buttton below.</p>
        <ul>
          {% for submission in submissions %}
            <li class="py-2">
              <strong>{{ submission.title }}</strong>
              <br>
              {{ submission.author_list }}
              <br>
              Preprint number: {{ submission.preprint.identifier_w_vn_nr }}
              <br>
              {% if not submission.open_for_resubmission %}
                <strong class="text-danger">This submission is still undergoing peer refereeing. A resubmission can only be performed after request from the Editor-in-charge. Please wait until the closing of the previous refereeing round and formulation of the Editorial Recommendation before proceeding with a resubmission.</strong>
              {% else %}
                <button type="submit" name="submission" value="{{ submission.id }}" class="btn btn-primary py-1 mt-1">Resubmit this Submission</button>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <p>
          If you wish to submit a new Submission, please <button type="submit" name="submission" value="new" class="btn btn-primary py-1 mr-1">submit a new Submission here</button>.
        </p>
      </form>
    </div>
  </div>

{% endblock content %}
