{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: vet reports{% endblock pagetitle %}

{% load bootstrap %}
{% load static %}

{% block breadcrumb_items %}
  {{block.super}}
  <span class="breadcrumb-item">Vet Report</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      {% if not report_to_vet %}
        <h1>There are no Reports for you to vet.</h1>
        <p>Go back to my <a href="{% url 'scipost:personal_page' %}">personal page</a>.</p>
      {% else %}
        <h1 class="highlight">SciPost Report to vet</h1>

        <h3 class="mt-4">Submission associated to Report</h3>
        {% include 'submissions/_submission_summary.html' with submission=report_to_vet.submission %}

        <h3 class="mt-4">Report to vet</h3>
        {% include 'submissions/_report_public_without_comments.html' with submission=report_to_vet.submission report=report_to_vet %}

        <hr class="lg">

        <h2>Please vet this Report:</h2>
        <form action="{% url 'submissions:vet_submitted_report' report_to_vet.id %}" method="post">
          {% csrf_token %}
          {{ form.errors }}
          {{ form.action_option|bootstrap }}
          <div class="col-md-6" id="refusal">
            {{ form.refusal_reason|bootstrap }}
            {{ form.email_response_field|bootstrap }}
          </div>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </form>

      {% endif %}
    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  <script src="{% static 'scipost/vet-report.js' %}"></script>
{% endblock footer_script %}
