{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: withdraw manuscript{% endblock pagetitle %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h3 class="mt-2">Submission summary</h3>
    {% include 'partials/submissions/submission_summary.html' with submission=submission hide_title=1 show_abstract=0 %}
    {% include 'partials/submissions/submission_status.html' with submission=submission %}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class="text-danger">Are you sure you want to withdraw this manuscript?</h3>
    <p>This will terminate the editorial process for the above submission.</p>
    <form action="{% url 'submissions:withdraw_manuscript' submission.preprint.identifier_w_vn_nr %}" method="post">
      {% csrf_token %}
      {{ form }}
      <p class="text-danger">CAREFUL: ONE-CLICK, ONE-WAY ACTION!&nbsp;
      <input class="btn btn-danger" type="submit" value="Submit"></p>
    </form>
  </div>
</div>

{% endblock content %}
