<h3 class="m-4">{{ submissions|length }} Submissions in this stage</h3>
{% for submission in submissions %}

  <details id="submission-{{ submission.pk }}-details"
	   class="border border-2 m-4"
  >
    <summary class="px-4 py-2 bg-primary bg-opacity-10">
      <div class="row">
	<div class="col col-lg-10">
	  <table>
	    <tbody>
	      <tr>
		<td>{{ submission.title }}</td>
	      </tr>
	      <tr>
		<td>{{ submission.author_list }}</td>
	      </tr>
	      <tr>
		<td>Submitted {{ submission.submission_date|date:"Y-m-d" }} to {{ submission.submitted_to }}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div class="col col-lg-2">
	  <ul class="list list-unstyled">
	    <li class="mb-2"><a href="{% url 'submissions:submission' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" target="_blank">{% include "bi/arrow-right-square-fill.html" %}submission page</a></li>
	    <li class="mb-2"><a href="{% url 'submissions:editorial_page' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" target="_blank" class="text-danger">{% include "bi/arrow-right-square-fill.html" %}editorial page</a></li>
	  </ul>
	</div>
      </div>
    </summary>
    <div id="submission-{{ submission.pk }}-edadmin"
	 hx-get="{% url 'edadmin:_hx_submission' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
	 hx-trigger="toggle once from:#submission-{{ submission.pk }}-details, submission-{{ submission.pk }}-details-updated"
    >
    </div>
  </details>
{% empty %}
  <p><strong>No Submission found</strong></p>
{% endfor %}
