{% load automarkup %}

<ul class="nav nav-pills justify-content-center align-items-center gap-1 bg-opacity-10">
  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="incoming" text="Incoming" enabled=True %}
  </li>


  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="preassignment" text="Preassignment" enabled=submission.stage_incoming_completed %}
  </li>

  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="assignment" text="Assignment" enabled=submission.stage_assignment_completed %}
  </li>

  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="refereeing_in_preparation" text="Refereeing <br />in preparation" enabled=submission.stage_refereeing_in_preparation_completed %}
  </li>

  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="in_refereeing" text="In refereeing" enabled=submission.stage_in_refereeing_completed %}
  </li>

  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="decisionmaking" text="Decision<br />making" enabled=submission.stage_decisionmaking_completed %}
  </li>

  <li class="nav-item">
    {% include "edadmin/_submission_edadmin_subtab_link.html" with submission=submission subtab=subtab target="in_production" text="In production" enabled=submission.stage_in_production_completed %}
  </li>

</ul>

<div class="tab-content p-2">

  {% if subtab == "incoming" %}

    {% if not submission.stage_incoming_completed %}
      {% include "edadmin/incoming/_submission_incoming.html" with submission=submission %}
    {% else %}
      <div class="row">
        <div class="col-12 col-sm">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title mb-2">iThenticate</h5>
              <div class="d-flex gap-3 align-items-center">
                {% if submission.iThenticate_plagiarism_report.score %}
                  <span class="fs-2">{{ submission.iThenticate_plagiarism_report.score }}%</span>
                  <a href="{% url 'submissions:iThenticate_plagiarism_report' submission.preprint.identifier_w_vn_nr %}"
                  class="btn btn-sm btn-dark ms-auto"
                  target="_blank">View Report</a>
                {% else %}
                  <button class="text-muted ms-auto fs-5 btn btn-sm btn-muted" disabled>No report</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title mb-2">Internal plagiarism matches</h5>
              <p class="card-text d-flex gap-3 align-items-center">
                <span>{{ submission.internal_plagiarism_matches.submission_matches|length }} Submissions</span>
                <span>{{ submission.internal_plagiarism_matches.publication_matches|length }} Publications</span>
                {% if submission.internal_plagiarism_matches.submission_matches or submission.internal_plagiarism_matches.publication_matches %}
                  <a href="{% url 'submissions:plagiarism_internal' submission.preprint.identifier_w_vn_nr %}"
                    class="btn btn-sm btn-dark ms-auto"
                    target="_blank">View Details</a>
                {% else %}
                  <button class="text-muted ms-auto fs-5 btn btn-sm btn-muted" disabled>No matches</button>
                {% endif %}
              </p>
            </div>
        </div>
      </div>
    {% endif %}

    {% with assessment=submission.internal_plagiarism_assessment %}

      {% if assessment.comments_for_edadmin or assessment.comments_for_authors %}
        <div class="row">
          <div class="col">
            <div class="fs-4">Comments for edadmin</div>
            <p>{% automarkup assessment.comments_for_edadmin %}</p>
          </div>
          <div class="col">
            <div class="fs-4">Comments for authors</div>
            <p>{% automarkup assessment.comments_for_authors %}</p>
          </div>
        </div>
      {% endif %}

    {% endwith %}

    {% with assessment=submission.iThenticate_plagiarism_assessment %}

      {% if assessment.comments_for_edadmin or assessment.comments_for_authors %}
        <div class="row">
          <div class="col">
            <div class="fs-4">Comments for edadmin</div>
            <p>{% automarkup assessment.comments_for_edadmin %}</p>
          </div>
          <div class="col">
            <div class="fs-4">Comments for authors</div>
            <p>{% automarkup assessment.comments_for_authors %}</p>
          </div>
        </div>
      {% endif %}

    {% endwith %}

  {% elif subtab == "preassignment" %}

    {% include "edadmin/preassignment/_submission_preassignment.html" with submission=submission %}

  {% elif subtab == "assignment" %}

    {% if not submission.stage_assignment_completed %}
      This stage has not been completed yet.
    {% else %}
      <span class="text-warning">{% include "bi/cone-striped.html" %}</span>
    {% endif %}

  {% elif subtab == "refereeing_in_preparation" %}

    {% if not submission.stage_refereeing_in_preparation_completed %}
      This stage has not been completed yet.
    {% else %}
      <span class="text-warning">{% include "bi/cone-striped.html" %}</span>
    {% endif %}

  {% elif subtab == "in_refereeing" %}

    {% if not submission.stage_in_refereeing_completed %}
      This stage has not been completed yet.
    {% else %}
      <span class="text-warning">{% include "bi/cone-striped.html" %}</span>
    {% endif %}

  {% elif subtab == "decisionmaking" %}

    {% if not submission.stage_decisionmaking_completed %}
      This stage has not been completed yet.
    {% else %}
      <span class="text-warning">{% include "bi/cone-striped.html" %}</span>
    {% endif %}

  {% elif subtab == "in_production" %}

    {% if not submission.stage_in_production_completed %}
      This stage has not been completed yet.
    {% else %}
      <span class="text-warning">{% include "bi/cone-striped.html" %}</span>
    {% endif %}

  {% else %}
    Unknown tab
  {% endif %}

</div>
