<div class="card">
  <div class="card-header">
    General maintenance
  </div>
  <div class="card-content p-2">
    <ul class="ps-3">
      <li id="submission-{{ submission.id }}-update-target-journal">
	{% include "submissions/admin/_submission_update_target_journal.html" with submission=submission %}
      </li>
      <li id="submission-{{ submission.id }}-update-collections">
        {% include "submissions/admin/_submission_update_collections.html" with submission=submission %}
      </li>
      <li>
        <button class="btn btn-sm btn-warning text-white" 
                hx-get="{% url "submissions:pool:_hx_submission_toggle_on_hold" submission.preprint.identifier_w_vn_nr %}" 
                hx-swap="outerHTML"
                {% if submission.on_hold %}
                hx-confirm="Are you sure you want to take the submission off hold?"
                {% else %}
                hx-prompt="What is the reason for putting the submission on hold? (will be added as an edadmin-level remark)"
                {% endif %}
                hx-target="#submission-{{ submission.id }}-details">
                {% if submission.on_hold %}
                Take off hold
                {% else %}
                Put on hold
                {% endif %}
        </button>
      </li>
      {% if 'Proceedings' in submission.submitted_to.name %}
	<li id="submission-{{ submission.id }}-update-target-proceedings">
	  {% include "submissions/admin/_submission_update_target_proceedings.html" with submission=submission %}
	</li>
      {% endif %}
      {% if submission.preprint.has_file %}
	<li id="submission-{{ submission.id }}-update-preprint-file">
	  {% include "submissions/admin/_submission_update_preprint_file.html" with submission=submission %}
	</li>
      {% endif %}
      {% if submission.editor_in_charge and perms.scipost.can_reassign_submissions %}
	<li><a href="{% url 'submissions:reassign_submission' submission.preprint.identifier_w_vn_nr %}">Reassign Editor-in-charge</a></li>
      {% endif %}
      {% if submission.editor_in_charge %}
        <li class="pb-2"><a href="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype='StoE' %}">Send a communication to the Editor-in-charge</a></li>
      {% endif %}

    </ul>
  </div>
</div>
