{% extends 'scipost/base.html' %}

{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div class="container">
      <nav class="breadcrumb hidden-sm-down">
        {% block breadcrumb_items %}
          <a href="{% url 'submissions:pool' %}" class="breadcrumb-item">EdAdmin</a>
        {% endblock %}
      </nav>
    </div>
  </div>
{% endblock %}

{% block pagetitle %}: EdAdmin{% endblock pagetitle %}

{% block content %}


  <details class="border border-2 my-4">
    <summary class="bg-info px-4 py-2">
      <h1>Incoming</h1>
    </summary>
    <span class="p-2">
      <button class="m-2 btn btn-primary"
	      id="incoming"
	      hx-get="{% url 'edadmin:_hx_incoming_list' %}"
	      hx-swap="outerHTML"
	      hx-indicator="#indicator-submissions-incoming"
      >Load incoming Submissions</button>
    </span>
    <span id="indicator-submissions-incoming" class="htmx-indicator">
      <button class="btn btn-sm btn-warning" type="button" disabled>
	<strong>Loading...</strong>
	<div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
      </button>
    </span>
  </details>

{% endblock content %}

{% block footer_script %}
  <script type="module" nonce="{{ request.csp_nonce }}">
   import mermaid from 'https://unpkg.com/mermaid@9/dist/mermaid.esm.min.mjs';
   mermaid.initialize({ startOnLoad: false });
   document.body.addEventListener("htmx:afterSettle", function(evt) {
       mermaid.init(".workflowDiagram");
   });
  </script>
{% endblock footer_script %}
