{% if proceedings.cover_image %}
  <div class="row">
    <div class="col-lg-9">
{% endif %}

{% if proceedings.logo %}
  <div class="row">
    <div class="col-10">
{% endif %}
<h3>{{ proceedings.event_name }} {% if proceedings.event_suffix %}({{ proceedings.event_suffix }}){% endif %}</h3>
<div class="mb-4">
  Event dates: from {{ proceedings.event_start_date }} to {{ proceedings.event_end_date }}.
</div>
{% if proceedings.logo %}
    </div>
    <div class="col-lg-2">
      <img class="d-flex me-3" src="{{ proceedings.logo.url }}" alt="logo"/>
    </div>
  </div>
{% endif %}
<p>{{ proceedings.event_description|safe|linebreaksbr }}</p>
{% if proceedings.picture %}
  <figure class="mx-4 my-2">
    <img src="{{ proceedings.picture.url }}" alt="picture"/>
    {% if proceedings.picture_credit %}<figcaption>{{ proceedings.picture_credit }}</figcaption>{% endif %}
  </figure>
  <br>
{% endif %}

{% if proceedings.open_for_submission %}
  <h3>Instructions for submitting to these Proceedings:</h3>
  <ul>
    <li>
      Prepare your manuscript according to <a href="{% url 'submissions:author_guidelines' %}">our guidelines</a>, using our template:
      <ul>
	{% if proceedings.template_latex_tgz %}
	  <li><a href="{{ proceedings.template_latex_tgz.url }}" type="application/gzip" download>LaTeX (gzipped tarball)</a></li>
	{% else %}
	  <li>Template will be available soon!</li>
	{% endif %}
      </ul>
    </li>
    <li>
      Submit your manuscript (<strong>deadline: {{ proceedings.submissions_deadline }}</strong>) by going to our <a href="{% url 'submissions:submit_manuscript' %}">submission page</a>, selecting these proceedings.
    </li>
  </ul>
{% endif %}

{% if proceedings.cover_image %}
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <img class="d-flex me-3" src="{{ proceedings.cover_image.url }}" alt="cover_image"/>
    </div>
  </div>
{% endif %}

{% if proceedings.fellowships.all.exists %}
  <h3>(Guest) Fellows responsible for this Issue</h3>
  <ul>
    {% for fellow in proceedings.fellowships.all %}
      <li>{{ fellow.contributor.profile.get_title_display }} {{ fellow.contributor.user.first_name }} {{ fellow.contributor.user.last_name }}{% if fellow.contributor.affiliation.name %}, {{ fellow.contributor.affiliation.name }}{% endif %}</li>
    {% endfor %}
  </ul>
{% endif %}
