{% load request_filters %}

<!-- Modal -->
<div class="modal notification-center" id="notification_center" tabindex="-1" role="dialog" aria-labelledby="notification_center" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pt-3">
          {% if request.user.contributor %}
              <h4 class="modal-title">{{ request.user.contributor.get_title_display }} {{ request.user.first_name }} {{ request.user.last_name }}</h4>
          {% else %}
              <h4 class="modal-title">{{ request.user }}</h4>
          {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-2">
      </div>
      <div class="modal-header">
          <h4 class="modal-title">Inbox</h4>
      </div>
      <div class="modal-body p-2 px-md-3">
          <ul class="list-unstyled notifications" id="notifications-list">
              <div style="display: none;" class="template">
                  <li class="{unread} item" data-refresh=1>
                      <div>
                          <div>
                              <strong>{actor}</strong>
                              <span>{verb}</span>
                          </div>
                          <div class="mt-1">
                              <span class="text-muted">{timesince}</span>
                              &middot;
                              <a href="{forward_link}">See item page &rarr;</a>
                          </div>
                      </div>
                      <div class="actions">
                          <!-- <a href="javascript:;" class="mark-toggle show-unread" data-slug="{slug}"><i class="fa fa-circle" data-toggle="tooltip" data-placement="auto" title="Mark as read" aria-hidden="true"></i></a> -->
                          <!-- <a href="javascript:;" class="mark-toggle show-read" data-slug="{slug}"><i class="fa fa-circle-o" data-toggle="tooltip" data-placement="auto" title="Mark as unread" aria-hidden="true"></i></a> -->
                          <a href="{forward_link}" data-toggle='tooltip' data-placement="auto" title="Go to item"><i class="fa fa-share" aria-hidden="true"></i></a>
                      </div>
                  </li>
              </div>
          </ul>

          <p class="text-center loading-link" id="load-notifications">
              <a href="javascript:;">Load more...</a>
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" id="#loading-notifications"></i>
          </p>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
