<details id="submission-{{ submission.id }}-author-profiles-details"
	 class="border border-2"
>
  <summary class="bg-primary bg-opacity-10 p-2">
    <span id="submission-{{ submission.pk }}-author-profiles-details-summary"
	  hx-get="{% url 'edadmin:preassignment:_hx_author_profiles_details_summary' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
	  hx-trigger="load, submission-{{ submission.pk }}-author-profiles-details-updated from:body"
    >
    </span>
  </summary>

  <div id="submission-{{ submission.pk }}-author-profiles-details-contents"
       class="p-2"
       hx-get="{% url 'edadmin:preassignment:_hx_author_profiles_details_contents' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}"
       hx-trigger="toggle once from:#submission-{{ submission.pk }}-author-profiles-details"
  >
  </div>

</details>
