<tr id="submission-{{ submission.pk }}-author-profile-row-{{ order }}"
    class="{% if profile %}bg-success{% else %}bg-warning{% endif %} bg-opacity-10"
>
  <td>{{ author_string }}</td>
  <td>{{ order }}</td>
  <td>
    {{ profile }}
  </td>
  <td>
    {% if profile %}
      <button class="ms-4 px-1 py-0 btn btn-small btn-danger text-white"
	      hx-get="{% url 'edadmin:preassignment:_hx_author_profile_action' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr order=order profile_id=profile.pk action='unmatch' %}"
	      hx-target="#submission-{{ submission.pk }}-author-profile-row-{{ order }}"
	      hx-swap="outerHTML"
      >
	{% include 'bi/trash-fill.html' %}
      </button>
    {% else %}
      {% load crispy_forms_tags %}
      <div class="row mb-0">
	<div class="col-9">
	  <form
	      hx-post="{% url 'profiles:_hx_profile_dynsel_list' %}"
	      hx-trigger="load, keyup delay:200ms, change"
	      hx-target="#submission-{{ submission.id }}-profile-{{ order }}-dynsel-results"
	      hx-swap="innerHTML"
	      hx-indicator="#submission-{{ submission.id }}-profile-{{ order }}-dynsel-results-indicator"
	  >
	    <div id="profile_{{ order }}_dynsel_form">{% crispy profile_dynsel_form %}</div>
	  </form>
	</div>
	<div class="col-3">
	  <div id="submission-{{ submission.id }}-profile-{{ order }}-dynsel-results-indicator" class="htmx-indicator">
	    <button class="btn btn-sm btn-warning" type="button" disabled>
	      <strong>Loading results...</strong>
	      <div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
	    </button>
	  </div>
	</div>
      </div>
      <div class="row mb-0">
	<div class="col-9">
	  <div id="submission-{{ submission.id }}-profile-{{ order }}-dynsel-results" class="border border-light m-0 p-1"></div>
	</div>
	<div class="col-3">
	  <div id="submission-{{ submission.pk }}-author-profile-row-{{ order }}-indicator"
	       class="htmx-indicator"
	  >
	    <button class="btn btn-sm btn-warning" type="button" disabled>
	      <strong>Loading...</strong>
	      <div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
	    </button>
	  </div>
	</div>
      </div>
    {% endif %}
  </td>
</tr>
