<div class="card-body card-comment">
  <p class="card-text">
    {% if comment.anonymous %}
      Anonymous:
    {% else %}
      <a href="{{ comment.author.get_absolute_url }}">{{ comment.get_author_str }}</a>:
    {% endif %}
    <a href="{{ comment.get_absolute_url }}">"{{ comment.comment_text|slice:'30' }}{% if comment.comment_text|length > 30 %}...{% endif %}"</a>
  </p>

  <p class="card-text pl-md-3">
    in {{ comment.content_type|capfirst }} on <a href="{{ comment.content_object.get_absolute_url }}" class="pubtitleli">{{ comment.title }}</a>

    {% if comment.content_object.author_list %}
      <span class="text-muted">by {{ comment.content_object.author_list }}</span>
    {% endif %}
  </p>
</div>
