{% load scipost_extras %}
{% load filename %}
{% load file_extentions %}
{% load user_groups %}
{% load automarkup %}

{% is_ed_admin request.user as is_ed_admin %}
{% is_active_fellow request.user as is_active_fellow %}

<div class="comment">
  {% include 'comments/_comment_identifier.html' with comment=comment %}

  {% include 'comments/_comment_categories.html' with comment=comment %}

  <p class="my-2 pb-1">
    {% automarkup comment.comment_text %}
  </p>

  {% if comment.file_attachment %}
    <h3>Attachment:</h3>
    <p>
      <a target="_blank" href="{{ comment.get_attachment_url }}">
        {% if comment.file_attachment|is_image %}
          <img class="attachment attachment-comment" src="{{ comment.get_attachment_url }}">
        {% else %}
          {{ comment.file_attachment|filename }}
        {% endif %}
      </a>
    </p>
  {% endif %}

  {% if is_active_fellow or is_ed_admin %}
    {% if comment.remarks_for_editors %}
      <div class="card">
	<div class="card-header">
	  Remarks for editors (not publicly visible)
	</div>
	<div class="card-content p-2">
	  {% automarkup comment.remarks_for_editors %}
	</div>
      </div>
    {% endif %}
  {% endif %}

  {% for reply in comment.nested_comments.vetted %}
    {% include 'comments/_single_comment_with_link.html' with comment=reply perms=perms user=user %}
  {% endfor %}

  {% block comment_footer %}{% endblock %}
</div>
