{% load bootstrap %}
{% load filename %}
{% load file_extentions %}
{% load comment_extras %}
{% load automarkup %}

<div>
  <h3>Details of the related {{ comment.core_content_object|get_core_content_type|capfirst }}</h3>
  <a href="{{ comment.get_absolute_url }}" target="_blank">See detail page</a>
  <div class="py-2">
    {% get_summary_template comment.core_content_object %}
  </div>

  <hr class="small">

  <h3 class="my-3">The Comment to be vetted:</h3>

  <div class="row">
    <div class="col-md-6">
      {% include 'comments/_single_comment.html' with comment=comment %}
    </div>

    <div class="col-md-6">
      <form action="{% url 'comments:vet_submitted_comment' comment_id=comment.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
