{% if comments %}

  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="card-title mb-0">Comments{% if type_of_object %} on this {{type_of_object}}{% endif %}</h2>
          <button type="button" class="btn btn-link p-0" data-bs-toggle="toggle" data-target="#commentslist"><small>Toggle comments view</small></button>
        </div>
      </div>
    </div>
  </div>

  <div id="commentslist">
    {% for comment in comments %}
      {% include 'comments/_single_comment_with_link.html' with comment=comment perms=perms user=request.user %}
    {% endfor %}
  </div>
{% endif %}
