<h3>Re: refereeing invitation. Second (and last) automatic reminder</h3>
<p>Dear {{ invitation.get_title_display }} {{ invitation.last_name }},</p>
<p>
  Recently, On behalf of the Editor-in-charge {{ invitation.submission.editor_in_charge.profile.get_title_display }} {{ invitation.submission.editor_in_charge.user.first_name }} {{ invitation.submission.editor_in_charge.user.last_name }}, we invited you to consider refereeing a Submission to {{ invitation.submission.submitted_to }}, namely
  <br />
  <br />
  {{ invitation.submission.title }}
  <br />
  by {{ invitation.submission.author_list }}
  <br />
  (see https://{{ domain }}{{ invitation.submission.get_absolute_url }} - first submitted {{ invitation.submission.original_submission_date|date:"d M Y" }}).
</p>
<p>
  We are still awaiting your response to this invitation.
  To ensure timely processing of the submission (out of respect for the authors),
  could you please let us know whether we can count on your expertise?
</p>
<p>
  If you are <strong>not</strong> able to provide a Report, you can let us know by simply <a href="https://{{ domain }}/submissions/decline_ref_invitation/{{ invitation.invitation_key }}">clicking here</a>.
</p>
<p>
  If you are able to provide a Report, you can confirm this after registering and logging in (you will automatically be prompted for a confirmation).
</p>
<p>
  We would thus hereby like to cordially invite you to become a Contributor on SciPost (this is required in order to deliver reports; our records show that you are not yet registered);
  for your convenience, we have prepared a pre-filled <a href="https://{{ domain }}/invitation/{{ invitation.invitation_key }}">registration form</a> for you.
  After activation of your registration, you will be allowed to contribute, in particular by providing referee reports.
</p>
<p>
  You might want to make sure you are familiar with our <a href="https://{{ domain }}{% url 'submissions:editorial_procedure' %}">editorial procedure</a>, <a href="https://{{ domain }}{% url 'submissions:referee_guidelines' %}">referee guidelines</a> and <a href="https://{{ domain }}{% url 'journals:journals_terms_and_conditions' %}#referee_code_of_conduct">referee code of conduct</a>.
</p>
<p>
  We very much hope that we can count on your expertise,
  <br />
  Many thanks in advance,
  <br />
  <br />
  The SciPost Team
</p>

{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=invitation.submission %}
