<p>Dear {{ invitation.referee.formal_name }},</p>

<p>
  This is a simple email to remind you of the approaching deadline (in one week) to send a Report on
  <br />
  <a href="https://{{ domain }}{{ invitation.submission.get_absolute_url }}">{{ invitation.submission.title }}</a>,
  <br />
  by {{ invitation.submission.author_list }}
  <br />
  (first submitted {{ invitation.submission.original_submission_date|date:"d M Y" }}).
</p>

<p>
  Thank you in advance,
  <br />
  The SciPost Team.
</p>

{% include 'email/_footer.html' %}
{% include 'email/_submission_thread_uuid.html' with submission=invitation.submission %}
