.search-contributors.active-search .contributor-col {
    display: none;

    &.active {
        display: block;
    }
}

.contributor {
    margin: 0.25rem 0;
    padding: 0.05rem 0.75rem;
    border-radius: 0.15rem;
    -webkit-transition: all 0.05s ease-in-out;
         -o-transition: all 0.05s ease-in-out;
            transition: all 0.05s ease-in-out;

    &.hover-active {
        background-color: rgba(104, 132, 194, 0.3);
    }
}

.all-specializations {
    border: 1px solid $scipost-darkblue;
    border-radius: 0.15rem;
    padding: 1rem;
}

.specialization {
    &.active-search,
    &:hover {
        cursor: pointer;
        color: $scipost-lightblue;
    }
}
