.alert {
    padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    position: relative;
    clear: both;
    float: left;
    min-width: 20%;

    form &,
    .form & {
        float: none;
    }

    &:last-child {
        margin-bottom: 1rem;
    }
}

.alert-dismissible {
    // Adjust close link position
    .close {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        cursor: pointer;
    }
}


@mixin scipost-alert-variant($background, $border, $color) {
  background-color: $white;
  border-top: 3px solid $color;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include scipost-alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}
