.container-outside.breadcrumb-nav {
    background-color: $gray-200;

    .breadcrumb {
        background-color: transparent;
    }
}

.breadcrumb {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: auto;
    padding: 0.5rem 1.0rem;

    .breadcrumb-item {
        margin-bottom: 0;
    }
}

nav.as-submenu .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
}

.breadcrumb-item.no-divider::before {
    content: none !important;
}
