.breadcrumb {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: auto;

    .container {
        width: 100%;
        display: flex;
    }

    .breadcrumb-item {
        margin-bottom: 0;
    }
}

nav.as-submenu .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
}

.breadcrumb-item.no-divider::before {
    content: none !important;
}
