/**
 * Buttons
 *
 */
.btn {
    cursor: pointer;
    font-family: inherit;

    &:focus,
    &.focus {
        box-shadow: 0 0 0 3px rgba(104, 133, 195, 0.3);
    }
}

.btn-secondary {
    color: $scipost-darkblue;
    background-color: $white;
    border-color: $gray-600;

    &:hover,
    &.hover {
        color: $scipost-darkblue;
        background-color: #ddd;
        border-color: $gray-600;
    }

    &:active,
    &.active {
        background-color: #d4d4d4;
        border-color: $gray-600;
    }
}

.category-group,
.voting-group {
    border-radius: $card-border-radius;
    background-color: #ddd;
    color: $scipost-darkblue;
    box-shadow: 0 1px 0 0 $gray-600;

    .btn {
        margin: 0;
        cursor: default;

        &.name {
            background-color: #ddd;
            color: #002b49;
        }

        &.agree {
            background-color: $scipost-darkblue;
            color: #fff;
        }
        &.neutral {
            background-color: $scipost-lightblue;
            color: #fff;
        }
        &.disagree {
            background-color: $red;
            color: #fff;
        }
    }

    &.small .btn {
        font-size: 0.55rem;
    }

    form .btn {
        cursor: pointer;

        &.agree:hover {
            background-color: #004f86;
        }
        &.neutral:hover {
            background-color: #045f9e;
        }
        &.disagree:hover {
            background-color: #c9302c;
        }
    }
}
