.card {
    margin-bottom: 10px;

    &.card-grey {
        background-color: #F4F4F4;
        border-color: #f1f1f1;
    }

    &.card-publication {
        .card-header {
            background-color: #eee;
        }

        .card-block {
            background-color: #f8f8f8;
        }
    }
}

.card-outline-secondary {
    border-color: #f1f1f1;
}

.card-header {
    padding: 0.5rem 0;
    margin: 0 0.75rem 0 0.75rem;
}

.card-footer {
    padding: 0.75rem 0 0 0;
    margin: 0 0.75rem 0.75rem 0.75rem;
}

.list-group-item > .card-block {
    padding: 0.5rem;
}

.card-title,
.card-text {
    margin-bottom: 0.25rem;
}

.card-subtitle {
    line-height: 1.5;
}

.card-news {
    .news-item .card-title {
        background-color: $scipost-darkblue;
        color: $scipost-light;
        padding: 0.5rem;
        border-radius: 1.4px;
    }
}

.card-publication {
    width: 100%;
    border-color: #f1f1f1;

    &.card-grey {
        background-color: #f8f8f8;
    }

    .card-block {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .card-title {
            background-color: #f4f4f4;
            margin: -0.5rem -0.75rem 0.5rem -0.75rem;
            padding: .75rem 0.75rem;
        }
    }
}

.card.radio-option {
    label {
        cursor: pointer;
    }

    &.checked,
    &:hover {
        border-color: $scipost-darkblue;
    }
}
