.card {
    margin-bottom: 10px;

    &.card-grey {
        background-color: $card-grey-bg;
        border: 0;
        border-top: 2px solid $scipost-lightblue;
        box-shadow: 0 1px 0 0 $card-shadow-color;

        .card-header {
            background: transparent;
            border-bottom-color: #fff;
        }

        .card-footer {
            background: transparent;
        }
    }

    &.card-publication {
        box-shadow: 0 1px 0 0 #ddd;
        border: 1px solid #ddd;

        .card-header {
            background-color: #eee;
            border-bottom: 1px solid #ddd;
        }

        .card-body {
            border-top: 1px solid #fff;
            background-color: #f8f8f8;
        }
    }
}

.card-outline-secondary {
    border-color: #f1f1f1;
}

// .card-header {
//     padding: 0.5rem 0;
//     margin: 0 0.75rem;
// }

// .card-footer {
//     padding: 0.75rem 0 0 0;
//     margin: 0 0.75rem 0.75rem 0.75rem;
// }

.list-group-item > .card-body {
    padding: 0.5rem;
}

.card-title,
.card-text {
    margin-bottom: 0.25rem;
}

.card-subtitle {
    line-height: 1.5;
}

.card-news {
    .news-item .card-title {
        color: $scipost-darkblue;
        padding: 0.5rem 0 0.25rem 0;
        border-bottom: 3px solid $scipost-light;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .news-item .date {
        margin-bottom: 1.5rem;
    }
}

.card-publication {
    width: 100%;

    &.card-grey {
        background-color: #f8f8f8;
    }

    .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .card-title {
            background-color: #f4f4f4;
            margin: -0.5rem -0.75rem 0.5rem -0.75rem;
            padding: .75rem 0.75rem;
        }
    }
}

.card.radio-option {
    label {
        cursor: pointer;
    }

    &.checked,
    &:hover {
        border-color: $scipost-darkblue;
    }
}
