/**
 * Form
 *
 */
.form-control {
    font-family: inherit;
}

.has-error .form-control {
        border-color: #d9534f;
}

.form-control + .help-block {
    margin-top: 3px;
    display: inline-block;
    font-weight: 600;
}

form.small .form-group {
    margin-bottom: 0.5rem;
}

textarea {
    // Hack old textarea's to become bigger
    width: 800px;
    max-width: 100%;
}
