/**
 * Form
 *
 */
.form-control {
    font-family: inherit;
}

.has-error .form-control {
    border-color: #d9534f;
}

.has-error .help-block {
    color: $brand-danger;
}

.has-error .multiple-checkbox .help-block {
    color: $brand-danger;
    font-weight: 600;
}

.form-control + .help-block {
    margin-top: 3px;
    display: inline-block;
    font-weight: 600;
}

.form-group,
.row.form-group {
    margin-bottom: 0.5rem;
}

textarea {
    // Hack old textarea's to become bigger
    width: 800px;
    max-width: 100%;
}

.radio-list label {
    margin: 0;
}

input[type="file"] {
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.15rem;
}

// Formset
//
.delete-form-group {
    > * {
        opacity: 0.5;
        color: $brand-danger;

        &:last-child {
            // The delete button should always be visible
            opacity: 1.0;
            color: inherit;
        }
    }

    .form-group {
        display: none;

        &:last-child {
            // The delete button should always be visible
            display: block;
        }
    }
}
