.banner {
    background-color: #002b49;
    line-height: 1.5;
    padding: 10px 20px;
    text-align: center;
    border-radius: 1.4px;

    &,
    a {
        color: #FFA300;
    }
}

.bg-transparent {
    background-color: transparent;
}
