.min-height-190 {
    // Safari hack!
    min-height: 190px;
}

main {
    margin-top: 1rem;
    margin-bottom: 5rem;
    background-color: $white;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.row {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

.col-md-0 {
    display: none;
}

footer {
    .social-media a {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        margin-right: 0.25rem;

        &:hover {
            color: $scipost-lightblue;
        }
    }
}

footer.secondary {
    color: $scipost-darkblue;
    background: $white;
    border-top: 1px solid $scipost-darkblue;
    text-align: center;

    a {
        color: $scipost-lightblue;
    }
}


.container-inner {
    padding: ($grid-gutter-width / 2);
    background-color: $white;
}

    .container {
        max-width: 1450px;
    }

@media screen and (min-width: 768px) {
    .container-inner {
        padding: $grid-gutter-width;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
