.min-height-190 {
    // Safari hack!
    min-height: 190px;
}

.panel {
    padding: 0.75rem;
    height: 100%;
    background-color: #f4f4f4;
    border-bottom: 10px solid #fff;
}

img {
    max-width: 100%;
}

.col-md-0 {
    display: none;
}

footer.secondary {
    color: $scipost-darkblue;
    background: transparent;
    border-top: 2px solid $scipost-darkblue;
    text-align: center;

    a {
        color: $scipost-lightblue;
    }
}
