// .has-sidebar {
//     .content-wrapper {
//         display: flex;
//         flex-wrap: wrap;
//         position: relative;
//     }
//
//     .sidebar,
//     .main-panel {
//         padding-top: 0;
//         overflow: auto;
//         max-height: 100%;
//         height: 100%;
//         -webkit-overflow-scrolling: touch;
//     }
//
//     .main-panel {
//         position: relative;
//         z-index: 2;
//         float: left;
//         min-height: 100%;
//     }
//
//     .sidebar {
//         width: 100%;
//         padding-left: 1rem;
//         padding-right: 1rem;
//         .card {
//             margin-bottom: 1rem;
//         }
//     }
//
//     &.sidebar-left {
//         .main-panel {
//             order: 2;
//         }
//         .sidebar {
//             order: 1;
//         }
//     }
// }
//
// .sidebar {
//     margin-bottom: 2rem;
//
//     a {
//         &.active {
//             font-weight: 700;
//         }
//     }
// }
//
// .container.header {
//     padding-top: 0.5rem;
//     margin-bottom: 1.5rem;
//
//     .highlight {
//         background-color: $white;
//     }
// }

.granting-institutions > a {
    width: 25%;
    display: inline-block;
    max-width: 100px;
    padding: 0 0.25rem;
}

.supporting-partners ul {
    height: 100px !important;
    list-style: none;

    li {
        height: 100px !important;

        img {
            max-height: 100px !important;
            height: auto !important;
            width: auto !important;
        }
    }
}
//
//
// @media (min-width: 768px) {
//     .has-sidebar {
//         .main-panel {
//             width: calc(100% - 350px);
//             padding-left: 0;
//             padding-right: 1rem;
//         }
//         .sidebar {
//             width: 350px;
//             padding-right: 0;
//         }
//
//         &.sidebar-left {
//             .main-panel {
//                 padding-right: 0;
//                 padding-left: 1rem;
//             }
//             .sidebar {
//                 padding-right: 1rem;
//                 padding-left: 0;
//             }
//         }
//     }
// }
//
// @media (min-width: 1280px) {
//     .has-sidebar {
//         .main-panel {
//             width: calc(100% - 400px);
//         }
//
//         .sidebar {
//             width: 400px;
//         }
//     }
// }


.teaser-box {
    padding: 1rem;
    border: 2px solid $scipost-orange;
    border-radius: 3px;
}
