.has-sidebar {
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .sidebar,
    .main-panel {
        padding-top: 0;
        overflow: auto;
        max-height: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    .main-panel {
        position: relative;
        z-index: 2;
        float: left;
        min-height: 100%;
    }

    .sidebar {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        .card {
            margin-bottom: 1rem;
        }
    }
}
.granting-institutions > a {
    width: 25%;
    display: inline-block;
    max-width: 100px;
    padding: 0 0.25rem;
}


@media (min-width: 768px) {
    .has-sidebar {
        .main-panel {
            width: calc(100% - 350px);
            padding-left: 0;
            padding-right: 1rem;
        }
        .sidebar {
            width: 350px;
            padding-right: 0;
        }
    }
}

@media (min-width: 1280px) {
    .has-sidebar {
        .main-panel {
            width: calc(100% - 400px);
        }

        .sidebar {
            width: 400px;
        }
    }
}
