/**
 * SciPost Physics Journal style
 *
 */

.SciPostPhysicsBanner {
    background-color: $scipost-darkblue;
    color: $scipost-orange;
    padding: 10px 20px;
    text-align: center;

    a {
        color: #FFA300;
        padding: 4px;

        &.active {
            background-color: #eeeeee;
            border: 1px solid black;
            padding: 4px;
        }
        &.inactive {
            background-color: #dddddd;
            border: none;
        }
    }
}
