 .list-group-noborder,
 .list-group-noborder .list-group-item {
     border: 0;
 }


.list-group-item {
    margin-bottom: 0;
    border-top-color: #f9f9f9;
}
ul.events-list {
    padding-left: 30px;

    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;

        &:before {
            content: '';
            width: 12px;
            height: 12px;
            left: -24px;
            border-radius: 99px;
            position: absolute;
            top: 11px;
            background: #fff;
            border: 2px solid $scipost-darkblue;
            z-index: 99;
        }

        &:after {
            content: '';
            width: 2px;
            height: calc(100% - 18px);
            position: absolute;
            left: -19px;
            background: $scipost-darkblue;;
            top: 26px;
            z-index: 97;
            border-radius: 99px;
        }

        &:last-child:after {
            content: none;
        }
    }
}
