 .list-group-noborder,
 .list-group-noborder .list-group-item {
     border: 0;
 }


.list-group-item {
    margin-bottom: 0;
    border-top-color: #f9f9f9;
}
ul.events-list {
    padding-left: 0;

    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;

        .time {
            max-width: 9rem;
            min-width: 9rem;
            width: 9rem;
        }
    }
}

ul.references {
    list-style: none;
    padding-left: 0;

    .counter {
        margin-right: 0.25rem;
    }

    .title {
        font-style: italic;
    }
    .doi {
        display: block;
        margin: 0 0 0.2rem 1.5rem;
    }
}
