/**
 * Navbar
 *
 */
.navbar {

    .nav-item.active a,
    a:hover {
        text-decoration: underline;
    }

    .nav-link {
        color: $white;
    }

    .navbar-nav {
        flex-direction: row;
        overflow: auto;
        // -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        // overflow: -moz-scrollbars-none;

        .nav-link {
            padding-left: .5rem;
            padding-right: .5rem;
            white-space: nowrap;
        }
    }
}

// Hide scrollbars... trying to
// ::-webkit-scrollbar,
// ::-webkit-scrollbar-button,
// ::-webkit-scrollbar-track,
// ::-webkit-scrollbar-track-piece,
// ::-webkit-scrollbar-thumb,
// ::-webkit-scrollbar-corner,
// ::-webkit-resizer {
//     // display: none;
//     background: rgba(0,0,0,0);
//     background-color: rgba(0,0,0,0);
// }

.container-outside {
    &.main-nav {
        background-color: $scipost-lightblue;

        .navbar {
            background-color: $scipost-lightblue;

            a {
                color: $white;
            }
        }
    }

    &.sub-nav {
        background-color: $gray-200;

        .navbar {
            background-color: $gray-200;

            a {
                color: $scipost-lightblue;
            }
        }

        span.nav-link {
            color: #465d8e;
        }

        &.lighter {
            background-color: #f2f2f2;

            .navbar {
                background-color: #f2f2f2;
            }
        }
    }
}


.navbar-scroll {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .navbar-scroll-inner {
        display: flex !important;
        width: 100%;
    }
}

.navbar-brand {
    height: 38px;
    margin: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 43, 73, 1.0)");
}

.navbar-secondary {
    background-color: transparent;

    > div {
        overflow-x: auto;
        white-space: nowrap;
    }
}

.navbar-counter {
    position: relative;

    a.dropdown-toggle {
        min-width: 45px;
    }
}

.live_notify_badge {
    vertical-align: top;
    margin-left: -15px;
    margin-top: -5px;
    height: 16px;
    min-width: 16px;
    line-height: 10px;
    display: none;
    padding: 0.25em;
    border-radius: 99px;
    border: 1px solid $white;
    background-color: $white;
    color: $scipost-lightblue;
}

.search-nav-form {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    input[name="q"] {
        position: relative;
        outline: none;
        border-radius: 0;
        font-size: 110%;
        margin: 0 !important;
        padding: 0.5rem 0.75rem;
        height: 100%;
        border: 6px solid $gray-800;
        border-left-width: 8px;
        width: 100px;
        transition: 0.1s;
    }

    &:active input[name="q"],
    &:focus input[name="q"],
    &:hover input[name="q"],
    input[name="q"]:active,
    input[name="q"]:focus,
    input[name="q"]:hover {
        width: 200px;
    }

    [type="submit"] {
        background-color: $gray-800;
        color: $white;
        border-radius: 0;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        height: 100%;
        position: relative;
    }
    [type="submit"]:hover {
        background-color: $gray-700;
    }
}

@media (min-width: 992px) {
    .search-nav-form {
        display: flex;
    }

    .nav-item.search-item {
        display: none;
    }
}
