/**
 * Navbar
 *
 */
.container-outside {
    &.main-nav {
        background-color: $scipost-lightblue;

        .navbar {
            background-color: $scipost-lightblue;

            a {
                color: $white;
            }
        }
    }

    &.sub-nav {
        background-color: $gray-200;

        .navbar {
            background-color: $gray-200;

            a {
                color: $scipost-lightblue;
            }
        }

        span.nav-link {
            color: #465d8e;
        }

        &.lighter {
            background-color: #f2f2f2;

            .navbar {
                background-color: #f2f2f2;
            }
        }
    }
}

.navbar {

    .nav-item.active a,
    a:hover {
        text-decoration: underline;
    }

    // .nav-link {
    //     padding-right: .5rem;
    //     padding-left: .5rem;
    //     border: 1px solid transparent;
    //     border-radius: $card-border-radius;
    //     word-wrap: break-word;
    //     white-space: nowrap;
    //     -webkit-transition: all 0.1s ease-in-out;
    //          -o-transition: all 0.1s ease-in-out;
    //             transition: all 0.1s ease-in-out;
    //
    //     @include hover-focus {
    //         background-color: $white;
    //     }
    // }
    //
    // .active > .nav-link {
    //     border-color: $scipost-darkblue;
    //     box-shadow: 0 1px 0 0 #ccc;
    // }

    // .highlighted > .nav-link {
    //     background-color: rgba(255, 255, 255, 0.6);
    // }

    // .navbar-nav {
    //     display: flex;
    //     flex-direction: row;
    // }
}

@media (min-width: 768px) {
    // .navbar {
    //
    //     .navbar-nav {
    //         margin-right: auto;
    //     }
    //
    //     .nav-item {
    //         margin-right: 0.5rem;
    //     }
    //
    //     [data-toggle="collapse"] {
    //         display: none;
    //     }
    // }
}

.navbar-scroll {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .navbar-scroll-inner {
        display: flex !important;
        width: 100%;
    }
}

.navbar-brand {
    height: 38px;
    margin: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 43, 73, 1.0)");
}

.navbar-secondary {
    background-color: transparent;

    > div {
        overflow-x: auto;
        white-space: nowrap;
    }
}

.navbar-counter {
    position: relative;

    a.dropdown-toggle {
        min-width: 45px;
    }
}

.live_notify_badge {
    vertical-align: top;
    margin-left: -15px;
    margin-top: -5px;
    height: 16px;
    min-width: 16px;
    line-height: 10px;
    display: none;
    padding: 0.25em;
    border-radius: 99px;
    border: 1px solid $white;
    background-color: $white;
    color: $scipost-lightblue;
}

.search-nav-form {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    input[name="q"] {
        position: relative;
        outline: none;
        border-radius: 0;
        font-size: 110%;
        margin: 0 !important;
        padding: 0.5rem 0.75rem;
        height: 100%;
        border: 6px solid $gray-800;
        border-left-width: 8px;
        width: 150px;
        transition: 0.05s;
    }

    &:active input[name="q"],
    &:focus input[name="q"],
    &:hover input[name="q"],
    input[name="q"]:active,
    input[name="q"]:focus,
    input[name="q"]:hover {
        width: 200px;
    }

    [type="submit"] {
        background-color: $gray-800;
        color: $white;
        border-radius: 0;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        height: 100%;
        position: relative;
    //     background: #f4f4f4;
    //     width: 60px;
    //     text-align: center;
    //     border-radius: 0 $base-border-radius $base-border-radius 0;
    //
    }
    [type="submit"]:hover {
        background-color: $gray-700;
    }
}
