

.notifications_container {
    .badge_link {
        color: $scipost-lightestblue;
    }

    .fa-inbox {
        vertical-align: bottom;
        margin: 0 0.25rem;
        min-width: 17px;

        &:before {
            font-size: 150%;
        }
    }

    &.show .fa-inbox {
        color: $scipost-darkblue;
    }

    &.positive_count {
        .fa {
            color: $scipost-orange;
        }

        .live_notify_badge {
            display: inline-block;
        }
    }
}


.popover-template {
    display: none;
}

.notifications {
    padding: 0;
    min-width: 450px;
    border-color: $gray-600;
    border-radius: 1px;
    // margin-top: 17px !important;

    .inbox-header,
    .header {
        padding: 0.5rem 0;
        border-bottom: 1px solid $gray-600;
        margin: 0 1rem;
    }

    .inbox-header {
        border-top: 1px solid $gray-600;
        border-bottom: 0;
        margin-top: 0.25rem;
    }

    .header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0.25rem;

        h3,
        .item {
            border: 0;
            line-height: 20px;
            display: inline-block;
        }

        .item {
            float: right;
            padding-left: 0;
            padding-right: 0;
        }
    }

    li.item {
        &[href]:hover {
            background-color: #f9f9f9;
        }
    }

    .item {
        padding: 0.4rem 1rem;
        border-radius: 0;
        border-top: 1px solid $white;
        border-left: 0;
        border-right: 0;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        &[href] {
            cursor: pointer;
        }

        &.active,
        &.active[href]:hover {
            background-color: $scipost-lightestblue;
        }

        > div {
            white-space: normal;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .live_notify_list {
        max-height: 250px;
        overflow: scroll;

        &::after {
            bottom: 0;
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            height: 20px;
            box-shadow: inset 0 -3px 9px 0px $gray-600;
        }

        .meta {
            font-size: 90%;
            margin-top: 0.5rem;
        }

        .item {
            border-color: $gray-600;
        }
    }

    a.item,
    .item a {
        color: $scipost-lightblue;

        &:hover {
            text-decoration: underline;
        }
    }

    .actions {
        // display: none;
        opacity: 0.0;
        transition: opacity 0.1s;
        width: 20px;
        height: 100%;
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 0.1rem;

        .fa[data-toggle="tooltip"] {
            font-size: 1em;
        }

        a:hover {
            .fa-circle-o:before {
                content: '\f111';
            }

            .fa-circle:before {
                content: '\f10c';
            }
        }
    }


    .links .item {
        &.active,
        &.active[href]:hover {
            background-color: transparent;
        }

        &.active {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    .item:hover .actions {
        opacity: 1.0;
    }

    .unavailable {
        margin: 0 1rem 0.25rem;
        padding: 0.5rem 0 0.75rem;
        border-bottom: 1px solid $gray-600;

        .head {
            color: $orange;
            font-weight: 600;
        }
    }
}
