

.notifications_container {
    .badge_link {
        color: $scipost-lightestblue;
    }

    .fa-inbox {
        vertical-align: bottom;
        margin: 0 0.25rem;
        min-width: 17px;

        &:before {
            font-size: 150%;
        }
    }

    &.show .fa-inbox {
        color: $scipost-darkblue;
    }

    &.positive_count {
        .fa {
            color: $scipost-orange;
        }

        .live_notify_badge {
            display: inline-block;
        }
    }
}


.popover-template {
    display: none;
}

.notifications {
    padding: 0;
    min-width: 500px;

    .header {
        padding: 1rem 1rem 0.5rem 1rem;
        background-color: #f9f9f9;
    }

    li.item {
        &[href]:hover {
            background-color: #f9f9f9;
        }
    }

    .item {
        padding: 0.4rem 1rem;
        border-radius: 0;
        border-top: 1px solid #fff;
        border-left: 0;
        border-right: 0;
        flex-direction: row;
        justify-content: space-between;
        display: flex;

        &[href] {
            cursor: pointer;
        }

        &.active,
        &.active[href]:hover {
            background-color: $scipost-lightestblue;
        }

        > div {
            white-space: normal;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    a.item,
    .item a {
        color: $scipost-lightblue;

        &:hover {
            text-decoration: underline;
        }
    }

    .actions {
        // display: none;
        opacity: 0.0;
        transition: opacity 0.1s;
        width: 20px;
        height: 100%;
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 0.1rem;

        .fa[data-toggle="tooltip"] {
            font-size: 1em;
        }

        a:hover {
            .fa-circle-o:before {
                content: '\f111';
            }

            .fa-circle:before {
                content: '\f10c';
            }
        }
    }

    .item:hover .actions {
        opacity: 1.0;
    }
}
