table.submission_header {
    width: 100%;
}

.report,
.comment {
    padding-left: 1rem;
    position: relative;

    &:before {
        content: '';
        width: 4px;
        height: 100%;
        background: #f4f4f4;
        position: absolute;
        left: 0;
        box-shadow: 0 1px 0 0 $card-shadow-color;
        border: 1px solid;
        border-color: $card-grey-border-color;
        z-index: -1;
        border-radius: $border-radius 0 $border-radius $border-radius;
    }

    .reportid,
    .commentid {
        display: block;
        margin-bottom: 1rem;
        margin-left: calc(-1rem + 3px);
        padding: 0.5rem calc(1rem - 3px);
        background: #f4f4f4;
        border: 1px solid;
        border-color: $card-grey-border-color;
        border-radius: 0 $border-radius $border-radius 0;
        box-shadow: 0 1px 0 0 $card-shadow-color;
        border-left: 0;
        z-index: 99;
    }
}

.reportRatings {
    font-size: 10px;
    margin: 0.5rem 0 1rem;
    padding: 0.3rem 0.5rem 0.4rem;
    display: inline-block;
    box-shadow: 0 1px 0 0 #ccc;
    background: #f9f9f9;
    border: 1px solid;
    border-color: #ececec #ececec #d0d1d5;
    border-radius: 2px;

    ul {
        margin: 0;
        padding: 0;

        li {
            border: 1px solid;
            display: inline-block;
            margin: 0.1rem;
            padding: 0.25rem 0.5rem;
            border-color: #e5e6e9 #dfe0e4 #d0d1d5;
            border-radius: 2px;
            background: #fff;
            box-shadow: 0 1px 0 0 #ccc;
        }
    }
}

.required-actions {
    padding: 0.5rem;
    background-color: $red;
    color: $white;
    border-radius: $card-border-radius;

    &.no-actions {
        background-color: $green;
    }
}
