.table {
    &.v-center {
        th,
        td {
            vertical-align: middle;
        }
    }

    td {
        padding: $table-body-cell-padding;
    }
}


.table-invitations {
    background-color: #f4f4f4;
}

table.commentary td,
table.registration_invitation td,
table.registration_invitation th,
table.submission td {
    padding: 0.1em 0.7em;

    &:first-child {
        padding-left: 0;
        padding-right: 1em;
        min-width: 150px;
    }
}

table.contributor-info {
    td {
        padding: 0 0.5rem;
        vertical-align: top;
    }
}
