.table {
    &.v-center {
        th,
        td {
            vertical-align: middle;
        }
    }

    td {
        padding: $table-body-cell-padding;
    }
}


.table-invitations {
    background-color: #f4f4f4;
}

table.commentary td,
table.registration_invitation td,
table.registration_invitation th,
table.submission td {
    padding: 0.1em 0.7em;

    &:first-child {
        padding-left: 0;
        padding-right: 1em;
        min-width: 150px;
    }
}

table.contributor-info {
    td {
        padding: 0 0.5rem;
        vertical-align: top;
    }
}

.table-fixed {
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

tr.ui-sortable-helper {
    background-color: $white;
    max-height: 30px;
    overflow: hidden;
    border: 2px solid $scipost-darkblue;
}
