/**
 * Type
 *
 */
a {
    color: $scipost-lightblue;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
a:hover {
    color: $scipost-darkblue;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 5px 0;
    text-shadow: none;
    font-weight: 500;
}
hr,
hr.hr12 {
    height: 3px;
    border: 0;
    box-shadow: 0 1px 2px 0 #ccc;
    background: rgba(104, 133, 195, 0.5);
    margin-bottom: 1rem;

    &.small {
        height: 1px;
    }
}
