.journals .navbar-secondary ul.links {
    background-color: #ddd;
    display: inline-block;
    font-size: 16px;
    padding: 0;
    border-radius: $card-border-radius;
    border: 1px solid #c5c5c5;
    margin: 0;

    > li {
        display: inline-block;
        margin: 0;
        padding: 0.5rem;

        a {
            padding: 0.25rem 0.75rem;
            border-radius: $card-border-radius;
            display: block;

            &.active {
                color: #002b49;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0 1px 0 0 #ccc;
            }
        }
    }
}
