@import "./../config/preconfig.scss";
@import "node_modules/bootstrap/scss/variables";
/**
 * Make variables defined in preconfig.scss accessible in this file,
 *  plus default variables and mixins of Bootstrap@4
 *
 * Do not write styles in this file. Get or create a file in this folder
 *  and make sure its imported underneath!
 *
 */

/**
 * Bootstrap elements
 *
 */
@import "mixins_labels";

@import "alert";
@import "badge";
@import "breadcrumb";
@import "buttons";
@import "cards";
@import "code";
@import "form";
@import "forums";
@import "grid";
@import "homepage";
@import "labels";
@import "list_group";
@import "media";
@import "messages";
@import "modal";
@import "navbar";
@import "nav";
@import "page_header";
@import "pool";
@import "popover";
@import "tables";
@import "tooltip";
@import "typography";

/**
 * SciPost Specific
 *
 */
@import "general";
@import "colleges";
@import "comments";
@import "icons";
@import "journals";
@import "personal_page";
@import "reports";
@import "submissions";


/**
 * SciPost Journal styles
 *
 */
 @import "scipost-physics";
