<table class="proceedings summary table table-borderless">
  <tr>
    <th style="min-width: 200px;">Event name</th>
    <td>{{ proceedings.event_name }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{ proceedings.event_description|safe|default:'-'|linebreaksbr }}</td>
  </tr>
  {% if proceedings.event_start_date %}
    <tr>
      <th>Event start date</th>
      <td>{{ proceedings.event_start_date }}</td>
    </tr>
  {% endif %}
  {% if proceedings.event_end_date %}
    <tr>
      <th>Event end date</th>
      <td>{{ proceedings.event_end_date }}</td>
    </tr>
  {% endif %}
  <tr>
    <th>Guest Fellowships</th>
    <td>{{ proceedings.fellowships.count }}</td>
  </tr>
  <tr>
    <th>Lead Fellowship</th>
    <td>{{ proceedings.lead_fellow }}</td>
  </tr>
  <tr>
    <th>Submission Open</th>
    <td>{{ proceedings.submissions_open }}</td>
  </tr>
  <tr>
    <th>Submission Deadline</th>
    <td>{{ proceedings.submissions_deadline }}</td>
  </tr>
  <tr>
    <th>Submission Close</th>
    <td>{{ proceedings.submissions_close }}</td>
  </tr>
  <tr>
    <th>Templates</th>
    <td>
      {% if proceedings.template_latex_url %}
	<a href="{{ proceedings.template_latex_tgz.url }}">LaTeX (gzipped tarball)</a>
      {% endif %}
    </td>
  </tr>
</table>
