<table class="table">
  <tr>
    <th>Status</th>
    <td>{{ jobapplication.get_status_display }}</td>
  </tr>
  <tr>
    <th>Last updated</th>
    <td>{{ jobapplication.last_updated }}</td>
  </tr>
  <tr>
    <th>Date received</th>
    <td>{{ jobapplication.date_received }}</td>
  </tr>
  <tr>
    <th>Name and title</th>
    <td>{{ jobapplication.last_name }}, {{ jobapplication.get_title_display }} {{ jobapplication.first_name }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ jobapplication.email }}</td>
  </tr>
  <tr>
    <th>Application materials</th>
    <td>
      <a href="{{ jobapplication.motivation.url }}">Motivation</a>&emsp;&emsp;
      <a href="{{ jobapplication.cv.url }}">CV</a>
    </td>
  </tr>
</table>
