{% extends 'careers/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">
    <a href="{{ job_opening.get_absolute_url }}">{{ job_opening }}</a>
  </span>
  <span class="breadcrumb-item">Apply</span>
{% endblock %}

{% block pagetitle %}: Job application{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">

      <h1 class="highlight">Your application for job: {{ job_opening }}</h1>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#job_details" aria-expanded="false" aria-controls="job_details">Show/hide job details</button>

      <div class="collapse" id="job_details">
	{% include 'careers/_job_opening_card.html' with job_opening=job_opening %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form enctype="multipart/form-data" action="" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>

{% endblock content %}
