{% extends 'sponsors/base.html' %}

{% block pagetitle %}: Sponsors{% endblock pagetitle %}

{% load staticfiles %}

{% block breadcrumb_items %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="container-outside header">
  <div class="container">
    <h1>SciPost Sponsors</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <h1 class="highlight">Sponsorship scheme</h1>

    <p>
      Is your organization benefitting from SciPost's activities? You can easily visualize this by perusing our <a href="{% url 'organizations:organizations' %}">organizations page</a>.
    </p>
    <h4>
      <strong>We cordially invite organizations worldwide to join our Sponsorship scheme, and make <a href="{% url 'scipost:about' %}#GOA">Genuine Open Access</a> a reality.</strong>
    </h4>
    <br/>
    <p>
      You will find details of our Foundation, its activities and financial aspects in the <a href="{% static 'sponsors/SciPost_Sponsorship_Agreement.pdf' %}">Sponsorship Agreement</a> template. Here follows a summary of the most important aspects:
    </p>
    <ul>
      <li>SciPost does not charge any subscription fees or article processing charges: all our operations are provided to the community as a whole, without any per-service charge;</li>
      <li>Our sharp focus on openness through our <a href="/FAQ#pwr">peer-witnessed refereeing</a> procedure equips us with one of, if not <strong>the</strong> most stringent editorial quality control systems available;</li>
      <li>Our operations are obviously not without cost, but our strictly not-for-profit setup, streamlined systems and no-frills administration mean that the average per-publication costs are much lower than those of competing services;</li>
      <li>Our financing model relies on sponsorship from the organizations which benefit from our activities (organizations can visualize how they are positively impacted by SciPost's publishing activities by perusing our <a href="{% url 'organizations:organizations' %}">organizations page</a>);</li>
      <li>All sponsorship funds are pooled and exclusively used to run our infrastructure.</li>
    </ul>
    <p>
      The end result is that we provide top-quality publishing services for the lowest-available integrated costs. Part of our mission to reform scientific publishing is focused on cleaning up its business model. We invite you and your organization to help us implement this mission.
    </p>

    <h3>Interested in joining?</h3>
    <p>
      Take a look at our <a href="{% static 'sponsors/SciPost_Sponsorship_Agreement.pdf' %}">Sponsorship Agreement</a> template, and contact us at <a href="mailto:admin@scipost.org?subject=Sponsors enquiry">admin@scipost.org</a>.
    </p>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="highlight">Our current Sponsors</h1>
	<ul class="list-unstyled mb-5">
	  {% for sponsor in current_sponsors %}
	  <li class="media mb-2">
	    <img class="d-flex mr-3 {{ sponsor.css_class }}" width="192" src="{% if sponsor.logo %}{{ sponsor.logo.url }}{% endif %}" alt="{{ sponsor.name }} logo">
	    <div class="media-body">
	      <p>
		<strong>{{ sponsor.full_name_with_acronym }}</strong>
		<br/>{{ sponsor.get_countery_display }}
	      </p>
	    </div>
	  </li>
	  {% endfor %}
	</ul>
    </div>
</div>

{% endblock content %}
