{% extends 'scipost/_personal_page_base.html' %}

{% load bootstrap %}

{% block pagetitle %}: Unprocessed Citation Notifications{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'invitations:list' %}" class="breadcrumb-item">Registration Invitations</a>
  <span class="breadcrumb-item">Unprocessed Citation Notifications</span>
{% endblock %}

{% block content %}

  <h1 class="highlight">Unprocessed Citation Notifications</h1>
  <a href="{% url 'invitations:list' %}">Back to Registration Invitations</a>

  <div class="row">
    <div class="col-12">
      <br>
      {% include 'invitations/_citationnotification_table.html' with notifications=object_list %}

      {% if is_paginated %}
	<div class="col-12">
	  {% include '_pagination.html' with page_obj=page_obj %}
	</div>
      {% endif %}
    </div>
  </div>

{% endblock %}
