<div class="li publication">
    <h5 class="subject">{{ publication.citation }}</h5>
    <h3 class="title"><a href="{{publication.get_absolute_url}}">{{publication.title}}</a></h3>

    <p class="authors">{{ publication.author_list }}</p>
    <p class="meta">
        doi: <a href="{{ publication.get_absolute_url }}">{{ publication.doi_string }}</a> &middot;
        <span class="font-weight-light">published {{ publication.publication_date|date:'j F Y' }}</span> &middot;
        <a href="{% url 'scipost:publication_pdf' publication.doi_label %}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf</a>
    </p>
    <div class="abstract">
        <a href="javascript:;" data-toggle="toggle" data-target="#abstract-{{ publication.id }}">+ Show abstract</a>
        <div id="abstract-{{ publication.id }}" style="display: none;" class="mt-2">
            {{ publication.abstract }}
        </div>
    </div>
</div>
