{% if publication.references.all %}
  <h3>References ({{ publication.references.all|length }})</h3>
  <button type="button" class="btn btn-link p-0 mb-2 d-block" data-toggle="toggle" data-target="#reference_list"><small>Click to expand</small></button>
  <ul class="references" id="reference_list" style="display:none;">
    {% for reference in publication.references.all %}
      <li class="mt-1">
        <div class="d-flex flex-row">
          <div class="px-1">
            <span class="counter">[{{ reference.reference_number }}]</span>
          </div>
          <div class="px-1">
            <div class="authors">{{ reference.authors }}</div>
            {% if reference.citation %}
              <div class="citation">{{ reference.citation|safe }}</div>
            {% endif %}
            <div class="reference">
              {% if reference.link and reference.identifier %}
                <a href="{{ reference.link }}" target="_blank" rel="noopener">{{ reference.identifier }}</a>
              {% elif reference.link %}
                <a href="{{ reference.link }}" target="_blank" rel="noopener">link</a>
              {% elif reference.identifier %}
                <span>{{ reference.identifier }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
