<div class="p-3 mb-3 bg-light news-item scipost-bar" id="news_{{ news.id }}">
  <h3 class="title">{{ news.headline }}</h3>
  <h5 class="sub-title">{{ news.date|date:'j F Y' }}</h5>
  {% if news.image %}
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <img class="mb-3 mb-sm-0 {{ news.image.css_class }}"
	     style="max-height: 16rem; max-width: 24rem;"
	     src="{{ news.image.url }}" alt="image"/>
      </div>
      <div class="col-sm-9 col-lg-10">
        <p class="mb-0">{{ news.blurb|safe }}</p>
      </div>
    </div>
  {% else %}
    <p class="mb-0">{{ news.blurb|safe }}</p>
  {% endif %}
  {% if news.followup_link %}
    <a class="mt-3 d-inline-block" href="{{ news.followup_link }}">
      {{ news.followup_link_text }}
    </a>
  {% endif %}
  {% if perms.scipost.can_manage_news %}
    <br>
    <br>
    <a href="{% url 'news:newsitem_update' pk=news.id %}">Edit news item</a> &middot;
    <a href="{% url 'news:newsitem_delete' pk=news.id %}" class="text-danger">Delete</a>
  {% endif %}

</div>
