{% extends 'news/base.html' %}

{% load bootstrap %}

{% block pagetitle %}: News Management{% endblock pagetitle %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">News Management</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">News Management</h1>

      <h2 class="highlight">NewsCollections</h2>
      <a href="{% url 'news:newscollection_create' %}">Add a NewsCollection</a>
      <br/>
      <br/>
      {% for nc in newscollections %}
        <div class="card mb-2">
          <div class="card-header" data-bs-toggle="collapse" href="#collapse{{ nc.id }}" aria-expanded="false" aria-controls="collapse{{ nc.id }}">
            {{ nc }}
            (status: {{ nc.published|yesno:'published,unpublished' }})
          </div>
          <div class="card-body collapse" id="collapse{{ nc.id }}">
            <div class="row">
              <div class="col-6">
                <a href="{{ nc.get_absolute_url }}" target="_blank">View this NewsCollection in a separate window</a>
                <br/>
                <br/>
                <h3>News Items included in this NewsCollection:</h3>
                <ul>
                  {% for nt in nc.newscollectionnewsitemstable_set.all|dictsort:'order' %}
                    <li>{{ nt.newsitem }}{% if not nt.newsitem.published %}&nbsp;<span class="text-danger">WARNING: unpublished</span>{% endif %}</li>
                  {% empty %}
                    <li>No associated NewsItems found</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-6">
                <h3>Actions:</h3>
                <ul>
                  <li><a href="{% url 'news:newscollection_update' pk=nc.id %}">Update</a></li>
                  <li><a href="{% url 'news:newscollection_update_ordering' pk=nc.id %}">Update items ordering</a></li>
                  <li><a href="{% url 'news:newscollection_delete' pk=nc.id %}">Delete</a></li>
                  <li>
                    Add a NewsItem to this NewsCollection:
                    <form class="d-block mt-2 mb-3" action="{% url 'news:add_newsitem_to_newscollection' ncpk=nc.id %}" method="post">
                      {% csrf_token %}
                      {{ add_ni_to_nc_form|bootstrap }}
                      <input type="submit" name="submit" value="Add" class="btn btn-outline-secondary">
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="highlight">News items</h2>
      <a href="{% url 'news:newsitem_create' %}">Add a News item</a>
      <br/>
      <br/>
      <table class="table table-hover">
        <thead>
          <th>Item</th>
          <th>Publication date</th>
          <th>Published?</th>
          <th>On homepage?</th>
          <th>Actions</th>
        </thead>
            </tbody>
            {% for ni in newsitems %}
              <tr>
                <td>{{ ni.headline }}</td>
                <td>{{ ni.date }}</td>
                <td>{% if ni.published %}{% include 'bi/check-square-fill.html' %}{% else %}{% include 'bi/x-square-fill.html' %}{% endif %} {{ ni.published|yesno:'Yes,No' }}</td>
                <td>{% if ni.on_homepage %}{% include 'bi/check-square-fill.html' %}{% else %}{% include 'bi/x-square-fill.html' %}{% endif %} {{ ni.on_homepage|yesno:'Yes,No' }}</td>
                <td>
                  <a href="{% url 'news:newsitem_update' pk=ni.id %}">Update</a> &middot;
                  <a href="{% url 'news:newsitem_delete' pk=ni.id %}" class="text-danger">Delete</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
