{% extends 'scipost/base.html' %}

{% load bootstrap %}

{% block meta_description %}{{ block.super }} Newscollection{% endblock meta_description %}
{% block pagetitle %}: Newscollection{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      {% if perms.scipost.can_manage_news %}
	<p>Go to the <a href="{% url 'news:manage' %}">News management page</a></p>
      {% endif %}
      {% include 'news/_newscollection_contents.html' with nc=nc %}
    </div>
  </div>

{% endblock content %}
