{% extends 'news/base.html' %}

{% block meta_description %}{{ block.super }} News{% endblock meta_description %}
{% block pagetitle %}: News{% endblock pagetitle %}

{% load request_filters %}
{% load static %}


{% block breadcrumb_items %}
  <a href="{% url 'scipost:index' %}" class="breadcrumb-item">Home</a>
  <span class="breadcrumb-item">News</span>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h1 class="highlight">SciPost News</h1>
      {% if perms.scipost.can_manage_news %}
	      <p>Go to the <a href="{% url 'news:manage' %}">News management page</a></p>
      {% endif %}

      {% if request.user.is_authenticated %}
        <nav>Visit the <a href="{% url "mailing_lists:newsletters" %}">newsletters page</a> to access past newsletters for your subscribed mailing lists.
        Go to your <a href="{% url 'scipost:personal_page' %}">personal page</a> to manage your subscriptions.</nav>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if is_paginated %}
        <p>
          {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
          {% endif %}
          <span class="float-end"><a href="{% url 'scipost:index' %}">Go back to the homepage.</a></span>
        </p>
      {% endif %}

      {% for item in object_list %}
        {% include 'news/news_card_content.html' with news=item %}
      {% empty %}
        <div>No news found.</div>
      {% endfor %}

      {% if is_paginated %}
        <p class="mt-4">
          {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
          {% endif %}
          <span class="float-end"><a href="{% url 'scipost:index' %}">Go back to the homepage.</a></span>
        </p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
