@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// General variable structure
//
//
$border-radius-base: 1px;
$border-radius-small: 1px;
$border-radius-large: 2px;

// Alert
//
$alert-padding-y: 0;
$alert-padding-x: 0.75rem;

// Badges

$badge-padding-y: 0.4em;
$badge-border-radius: $border-radius;

// Grid
//
$grid-gutter-width: 20px;
$container-large-desktop: 1500px;
$container-lg: 1500px;

// Colors
//
$scipost-light: #C3D7EE;
$scipost-lightblue: #6885c3;
$scipost-blue55: #5b7abe;
$scipost-blue50: #496bb6;
$scipost-blue45: #4161a4;
$scipost-lightestblue: #d3e3f6;
$scipost-darkblue: #002b49;
$scipost-orange: #f6a11a;
$scipost-white: #f6f6f6;
$sidebar-border-color: #dfe0e4;

// -- Bootstrap color codes
$white: #fff;
$blue: $scipost-lightblue;  // Primary
$green: #6ebb6e;
$cyan: $scipost-lightestblue;
$orange: $scipost-orange;
$yellow: $scipost-orange;
$gray-100: $scipost-white;
$gray-200: #e5e5e5;
$gray-300: #dfdfdf;
$gray-600: #ccc;
$text-muted: #636c72;

// Body
//
$body-bg: #f3f3f3;  // $gray-100
$body-color: $scipost-darkblue;



// Alerts
//
$alert-border-radius: $border-radius-base;

// Cards
//
$card-border-radius: $border-radius-base;
$card-spacer-x: 0.75rem;
$card-spacer-y: 0.5rem;
$card-shadow-color: #ccc;
$card-gray-border-bottom-color: #d0d1d5;
$card-gray-bg: $gray-100;
$card-gray-border-color: $scipost-lightblue $gray-100 $gray-100;


// breadcrumb
//
$breadcrumb-bg: #f3f3f3;
$breadcrumb-active-color: $scipost-darkblue;
$breadcrumb-divider-color: $scipost-orange;

// Dropdown
//
$dropdown-border-radius: $border-radius-base;
$dropdown-border-color: $scipost-darkblue;
$dropdown-item-padding-y: 0.35rem;
$dropdown-item-padding-x: 1.0rem;

// Forms
//
$input-btn-padding-y-sm: 0.1rem;
$input-btn-padding-x: 0.5rem;
$input-btn-padding-y: 0.25rem;
$input-btn-padding-x-lg: 0.75rem;
$input-btn-padding-y-lg: 0.325rem;
$input-btn-line-height-lg: 1.4;
$input-border-radius-sm: $border-radius-base;
$input-border-radius: $border-radius-base;
$input-border-radius-lg: $border-radius-base;
$enable-rounded: true !important;

$input-height: calc(1.5rem + 2px);
$input-height-lg: calc(2.0rem + 2px);

// Lists
//
$list-group-bg: transparent;
$list-group-item-padding-x: 0;
$list-group-item-padding-y: 0;
$list-group-border-color: #ddd;
$list-group-active-color: $scipost-darkblue;
$list-group-active-bg: $scipost-lightestblue;
$list-group-active-border-color: $scipost-lightestblue;

// Fonts
//
$font-family-sans-serif: 'Merriweather Sans', "Helvetica Neue", Arial, sans-serif;
$headings-font-family: $font-family-sans-serif;
// $headings-line-height: $line-height-lg;
$font-family-serif:      $font-family-sans-serif;
$font-family-monospace:  $font-family-sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 0.8rem;
$font-size-sm: 0.7rem;
$font-size-lg: 1.0rem;

$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.05rem;
$h4-font-size: 1.0rem;
$h5-font-size: 0.8rem;
$h6-font-size: 0.8rem;

$close-font-weight: 100;

// Tables
//
$table-body-cell-padding: 0.25rem 0.5rem;


// Tooltip
//
$tooltip-font-size: $font-size-sm;

// Navbar
//
$navbar-light-color: $scipost-darkblue;
$navbar-light-hover-color: $scipost-darkblue;
$navbar-padding-x: 0.3rem;
$navbar-padding-y: 0.2rem;
$nav-tabs-border-color: $scipost-darkblue;
$nav-tabs-link-active-border-color: $scipost-darkblue $scipost-darkblue $nav-tabs-link-active-bg;
$nav-link-padding: 0 0.75rem;

$input-border-radius:            $border-radius-base;
$input-border-radius-large:      $border-radius-large;
$input-border-radius-small:      $border-radius-small;


// Allows for customizing button radius independently from global border radius
$btn-border-radius:         $border-radius-base;
$btn-border-radius-lg:        $border-radius-large;
$btn-border-radius-sm:        $border-radius-small;

$btn-line-height-sm: 1.2;
$btn-line-height-sm: 1.2;

$btn-transition: none;


// Block quote
//
$blockquote-font-size: $font-size-base;


// Popover
//
$popover-font-size:                 $font-size-sm;
$popover-border-color:              $gray-600;
$popover-arrow-width:               20px;
$popover-arrow-height:              10px;
$popover-arrow-color:               $white;
$popover-arrow-outer-color:         $gray-600;
$popover-max-width:                 500px;


//  ---
//
// Reset $theme-colors variable
$theme-colors: (
  "primary": $blue,
  "secondary": $gray-600,
  "success": $green,
  "info": $cyan,
  "warning": $yellow,
  "danger": $red,
  "light": $gray-100,
  "dark": $gray-800
);
