{% load countries %}
{% get_country country as country_obj %}

<h2 class="highlight">Authoring stats for {{ country_obj.name }}&emsp;<i class="{{ country_obj.flag_css }}"></i></h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th style="text-align: right;">Publications</th>
      <th style="text-align: right;">Authorships</th>
      <th style="text-align: right;">Authors (distinct)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-light">
      <td>Cumulative</td>
      <td style="text-align: right;">{{ cumulative.publications_count }}</td>
      <td style="text-align: right;">{{ cumulative.authorships_count }}</td>
      <td style="text-align: right;">{{ cumulative.authors_count }}</td>
    </tr>
    {% for year, val in per_year.items %}
      <tr>
	<td>{{ year }}</td>
	<td style="text-align: right;">{{ val.publications_count }}</td>
	<td style="text-align: right;">{{ val.authorships_count }}</td>
	<td style="text-align: right;">{{ val.authors_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
