{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: Editorial Page for Submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}
{% load user_groups %}

{% block breadcrumb_items %}
    {{block.super}}
    <span class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</span>
{% endblock %}

{% block content %}

{% is_edcol_admin request.user as is_editorial_admin %}

<div class="row">
    <div class="col-md-8">
        <h2>Editorial Page for Submission</h2>
        <h1 class="text-primary">{{submission.title}}</h1>
        <h3>by {{submission.author_list}}</h3>

        <div class="ml-2 mt-2">
            <h3>- Go to the <a href="{% url 'submissions:submission' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Submission Page</a> to view Reports and Comments</h3>
        </div>

        <h3 class="mt-4">Submission summary</h3>
        {% include 'partials/submissions/submission_summary.html' with submission=submission hide_title=1 %}

        <br>
        {% if submission.author_comments %}
          <h3>Author comments upon resubmission:</h3>
          <div class="pl-md-4">{{ submission.author_comments|linebreaks }}</div>
        {% endif %}

        {% if submission.list_of_changes %}
          <h3>List of changes:</h3>
          <div class="pl-md-4">{{ submission.list_of_changes|linebreaks }}</div>
        {% endif %}

        {% if submission.remarks_for_editors %}
          <h3>Comments for the Editor-in-charge:</h3>
          <div class="pl-md-4">{{ submission.remarks_for_editors|linebreaks }}</div>
        {% endif %}

        {% if submission.referees_suggested %}
          <h3>Referees suggested by authors upon submission:</h3>
          <div class="pl-md-4">{{ submission.referees_suggested }}</div>
        {% endif %}

        {% if submission.referees_flagged %}
          <h3>Referees flagged upon submission (treat reports with caution):</h3>
          <div class="pl-md-4">{{ submission.referees_flagged }}</div>
        {% endif %}


        {% for recommendation in submission.eicrecommendations.all %}
            {% include 'partials/submissions/recommendation_author_content.html' with recommendation=recommendation %}
            {% if recommendation.may_be_reformulated %}
                <a href="{% url 'submissions:reformulate_eic_recommendation' submission.preprint.identifier_w_vn_nr %}">Reformulate this Editorial Recommendation</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-4">
        {% include 'partials/submissions/submission_refereeing_history.html' with submission=submission %}
    </div>
</div>

<div class="py-2 mb-2">
    <h2 class="highlight">Editorial Workflow</h2>
    <a href="{% url 'submissions:editorial_workflow' %}">How-to guide: summary of the editorial workflow</a>
</div>
<div class="row"><!-- Status -->
    <div class="col">
        <h3>Editorial status:</h3>
        <table class="table table-borderless">
            <tr>
                <td>Submission status:</td>
                <td><span class="label label-secondary">{{ submission.get_status_display }}</span></td>
            </tr>
            <tr>
                <td>Recommendation status:</td>
                <td>
                    {% if submission.eicrecommendations.active.first %}
                        <span class="label label-secondary">{{ submission.eicrecommendations.active.first.get_status_display }}</span>
                    {% else %}
                        <span class="label label-secondary mb-1">No Editorial Recommendation is formulated yet.</span>
                        {% if submission.eic_recommendation_required %}
                            <br><a href="{% url 'submissions:eic_recommendation' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Formulate an Editorial Recommendation here.</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Refereeing cycle:</td>
                <td>{{ submission.get_refereeing_cycle_display }}</td>
            </tr>
            <tr>
                <td>Publicly available:</td>
                <td>
                    {% if submission.visible_public %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        <span class="text-muted">Available in public pages and search results.</span>
                    {% else %}
                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        <span class="text-muted">Only available for editors and authors.</span>
                    {% endif %}
                </td>
            </tr>
            {% if submission.plagiarism_report or perms.scipost.can_do_plagiarism_checks %}
                <tr>
                    <td>Plagiarism report:</td>
                    <td>
                        {% if submission.plagiarism_report %}
                            {% if submission.plagiarism_report.percent_match %}
                                <b>{{ submission.plagiarism_report.percent_match }}%</b>
                            {% else %}
                                <em>Scan in progress</em>
                                {% if perms.scipost.can_do_plagiarism_checks %}
                                    <br>
                                    <a href="{% url 'submissions:plagiarism' submission.preprint.identifier_w_vn_nr %}">Update plagiarism score</a>
                                {% endif %}
                            {% endif %}
                        {% elif perms.scipost.can_do_plagiarism_checks %}
                            <em>No plagiarism report found.</em>
                            <br>
                            <a href="{% url 'submissions:plagiarism' submission.preprint.identifier_w_vn_nr %}">Run plagiarism check</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Open for commenting:</td>
                <td>
                    {% if submission.open_for_commenting %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        <span class="text-muted">Open for commenting.</span>
                    {% else %}
                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        <span class="text-muted">Commenting closed.</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Open for refereeing:</td>
                <td>
                    {% if submission.is_open_for_reporting %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        <span class="text-muted">Open for refereeing. Deadline: {{ submission.reporting_deadline|date:"SHORT_DATE_FORMAT" }}</span>
                    {% else %}
                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        <span class="text-muted">
                            Refereeing closed.
                            <br>
                            <em>Invited referees may still submit a Report, as long as their invitation is not finished nor cancelled.</em>
                        </span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% if full_access %}
        <div class="col-12">
            {% include 'partials/submissions/pool/required_actions_block.html' with submission=submission %}
        </div>
    {% endif %}
</div><!-- End status -->

{% if not submission.refereeing_cycle %}
    {% if full_access %}
        <div class="row">
            <div class="col-12">
                {% include 'partials/submissions/pool/submission_cycle_choice_form.html' with form=cycle_choice_form submission=submission %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">The Editor-in-charge first has to decide which refereeing cycle to use. Please check this page again at a later moment.</h3>
            </div>
        </div>
    {% endif %}
{% else %}
    {% if submission.refereeing_cycle != 'direct_rec' %}
        <div class="row">
            <div class="col-12">
                <h3>Refereeing status summary:</h3>

                {% include 'partials/submissions/pool/referee_invitations_status.html' with submission=submission %}
                <a href="#reports-summary">View Reports and Comments on this Submission</a>
            </div>
        </div>

        {% if full_access %}
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-2">Detail of refereeing invitations:</h3>
                    {% include 'partials/submissions/pool/referee_invitations.html' with submission=submission invitations=submission.referee_invitations.all %}
                </div>
            </div>
        {% endif %}
    {% endif %}


    {% if full_access %}
        <hr>

        {% if not submission.is_current %}
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3 border-warning bg-light">
                        <div class="card-body">
                            <h3 class="mb-3"><strong>BEWARE: This is not the editorial page for the current version!</strong></h3>
                            <p class="mb-0">
                                The tools here are thus available only for exceptional circumstances (e.g. vetting a late report on a deprecated version).
                                <br>Please go to the current version's page using the link at the top.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <h2 class="mt-3">Actions</h2>
                    <ul>
                        {% if submission.refereeing_cycle != 'direct_rec' %}
                            <li>
                                <a href="{% url 'submissions:select_referee' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Select an additional referee</a> (bear in mind flagged referees if any)
                            </li>
                            <li>Extend the refereeing deadline (currently {{ submission.reporting_deadline|date:'Y-m-d' }}) by
                                <a href="{% url 'submissions:extend_refereeing_deadline' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr days=2 %}">2 days</a>,
                                <a href="{% url 'submissions:extend_refereeing_deadline' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr days=7 %}">1 week</a> or
                                <a href="{% url 'submissions:extend_refereeing_deadline' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr days=14 %}">2 weeks</a>
                                {% if submission.reporting_deadline_has_passed %}
                                    <span class="ml-1 label label-sm label-outline-danger">THE REPORTING DEADLINE HAS PASSED</span>
                                {% endif %}
                            </li>
                            <li>
                                Set refereeing deadline:
                                <form class="form-inline" action="{% url 'submissions:set_refereeing_deadline' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
                                    {% csrf_token %}
                                    {{ set_deadline_form|bootstrap_inline:'0,12' }}
                                    <div class="ml-2 form-group row">
                                        <div class="col-12">
                                            <input class="btn btn-outline-secondary" type="submit" value="Set deadline"/>
                                        </div>
                                    </div>
                                </form>
                            </li>

                            {% if submission.is_open_for_reporting %}
                                <li><a href="{% url 'submissions:close_refereeing_round' dentifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Close the refereeing round</a> &nbsp;(deactivates submission of new Reports and Comments)</li>
                            {% endif %}
                        {% endif %}
                        {% with submission.reports.awaiting_vetting as reports %}
                            {% if reports %}
                                <li>
                                    Vet submitted Report{{reports|pluralize}}:
                                    <ul class="mb-1">
                                        {% for report in reports %}
                                            <li><a href="{% url 'submissions:vet_submitted_report' report.id %}">{{report}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li>All Reports have been vetted.</li>
                            {% endif %}
                        {% endwith %}

                        {% with submission.comments_set_complete.awaiting_vetting as comments %}
                            {% if comments %}
                                <li>
                                    Vet submitted Comment{{comments|pluralize}}:
                                    <ul class="mb-1">
                                        {% for comment in comments %}
                                            <li><a href="{% url 'comments:vet_submitted_comment' comment.id %}">{{comment}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li>All Comments have been vetted.</li>
                            {% endif %}
                        {% endwith %}
                        {% if submission.eic_recommendation_required %}
                            <li>
                                {% if submission.eicrecommendations.last %}
                                    <a href="{% url 'submissions:reformulate_eic_recommendation' submission.preprint.identifier_w_vn_nr %}">Reformulate Editorial Recommendation</a>
                                {% else %}
                                    <a href="{% url 'submissions:eic_recommendation' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}">Formulate an Editorial Recommendation.</a>
                                {% endif %}
                                <p>
                                    If you recommend revisions, this will be communicated directly to the Authors, who will be asked to resubmit.
                                    <br>
                                    If you recommend acceptance or rejection, this will be put to the Editorial College for ratification.
                                </p>
                            </li>
                        {% elif submission.eicrecommendations.last %}
                            {% if submission.eicrecommendations.last.may_be_reformulated %}
                                <li><a href="{% url 'submissions:reformulate_eic_recommendation' submission.preprint.identifier_w_vn_nr %}">Reformulate Editorial Recommendation</a></li>
                            {% endif %}
                        {% endif %}
                  </ul>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if full_access %}
    <h3 class="mt-3 mb-2" id="reports-summary">Reports</h3>
    {% include 'partials/submissions/pool/submission_reports_summary_table.html' with submission=submission %}

    <h3 class="mt-3 mb-2">Comments</h3>
    {% include 'partials/submissions/pool/submission_comments_summary_table.html' with submission=submission %}

    <h3 class="mt-3">Communications</h3>
    <ul>
        {% if submission.editor_in_charge == request.user.contributor %}
            <li><a href="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype='EtoA' %}">Draft and send a communication with the submitting Author</a></li>
            <li><a href="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype='EtoS' %}">Draft and send a communication with SciPost Editorial Administration</a></li>
        {% endif %}
        {% if is_editorial_admin %}
            <li><a href="{% url 'submissions:communication' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr comtype='StoE' %}">Draft and send a communication as Editorial Administrator to the Editor-in-charge</a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="col-12">
                <ul class="list-group list-group-flush">
                    {% for comm in submission.editorial_communications.all %}
                        <li class="list-group-item">
                            {% include 'partials/submissions/pool/editorial_communication_content.html' with communication=comm %}
                        </li>
                    {% empty %}
                        <li class="list-group-item">There have been no communications for this Submission.</li>
                    {% endfor %}
                </ul>
        </div>
    </div>

    <h3 class="mt-3">Events</h3>
    {% include 'partials/submissions/submission_events.html' with events=submission.events.for_eic %}

{% endif %}

<div class="mb-5"></div>
{% endblock content %}
