{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: Editorial Recommendation for Submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
  <span class="breadcrumb-item">Reformulate Editorial Recommendation</span>
{% endblock %}

{% block content %}

  <h1 class="highlight">Reformulate Editorial Recommendation for Submission</h1>

  <br>
  {% include 'partials/submissions/submission_summary.html' with submission=submission show_abstract=1 %}


  <br>
  <div class="border bg-light p-3 mb-3">
    <h2>Reformulate your Editorial Recommendation</h2>
    <p>You recommendation will be processed by the Editorial Administration.</p>
    <ul>
      <li>acceptance or rejection: forwarded to the Editorial College for ratification</li>
      <li>request for revision: sent directly to the authors</li>
    </ul>
    <p class="mb-0">
      This recommendation will be saved with a new version number and any other Editorial Recommendation will be deactivated.
    </p>
  </div>

  {% if submission.editor_in_charge != request.user.contributor %}
    <div class="border border-danger p-3">
      <span class="text-warning" aria-hidden="true">{% include 'bi/exclamation-triangle-fill.html' %}</span>
      You are not assigned as Editor in charge. However, you can formulate an Editorial Recommendation because you are Editorial Administrator. <strong>This Editorial Recommendation will still be signed by the Editor-in-charge.</strong>
    </div>
  {% endif %}

  <br>

  <div class="row">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Submit Recommendation"/>
      </form>
    </div>
  </div>


{% endblock content %}



{% block footer_script %}
  <script nonce="{{ request.csp_nonce }}">
   $(document).ready(function(){
       $("input[name=tier]").parents('.form-group').hide()
       $('select[name=recommendation]').on('change', function(){
	   var rec = $('select[name=recommendation]').val();
	   switch(rec){
	       case "1":
		   $("input[name=tier]").parents('.form-group').show()
		   break;
	       default:
		   $("input[name=tier]").parents('.form-group').hide()
		   break;
	   }
       }).trigger('change');
   });
  </script>
{% endblock %}
