{% extends 'submissions/pool/base.html' %}

{% block pagetitle %}: Editorial Recommendation for Submission{% endblock pagetitle %}

{% load scipost_extras %}
{% load bootstrap %}

{% block breadcrumb_items %}
  {{block.super}}
  <a href="{% url 'submissions:editorial_page' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Editorial Page ({{submission.preprint.identifier_w_vn_nr}})</a>
  <span class="breadcrumb-item">Formulate Editorial Recommendation</span>
{% endblock %}

{% block content %}

  {% if form.errors %}
    <div class="row">
      <div class="col-12">
	<h1 class="text-danger">There was an error in submitting the form:</h1>
	{% for field in form %}
	  {% for error in field.errors %}
	    <div class="alert alert-danger">
	      <strong>{{ field.name }} - {{ error|escape }}</strong>
	    </div>
	  {% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
	  <div class="alert alert-danger">
	    <strong>{{ error|escape }}</strong>
	  </div>
	{% endfor %}
      </div>
    </div>
  {% endif %}

  <h1 class="highlight">Formulate Editorial Recommendation for Submission</h1>

  <br>
  {% include 'partials/submissions/submission_summary.html' with submission=submission show_abstract=1 %}

  <br>
  <div class="border bg-light p-3 mb-3">
    <h2>Your Editorial Recommendation</h2>
    <p>You recommendation will be processed by the Editorial Administration.</p>
    <ul class="mb-0">
      <li>acceptance or rejection: forwarded to the Editorial College for ratification</li>
      <li>request for revision: sent directly to the authors</li>
    </ul>
  </div>

  {% if submission.editor_in_charge != request.user.contributor %}
    <div class="border border-danger p-3">
      <span class="text-warning" aria-hidden="true">{% include 'bi/exclamation-triangle-fill.html' %}</span>
      You are not assigned as Editor in charge. However, you can formulate an Editorial Recommendation because you are Editorial Administrator. <strong>This Editorial Recommendation will still be signed by the Editor-in-charge.</strong>
    </div>
  {% endif %}

  <br>

  <div class="row">
    <div class="col-12">
      <form action="{% url 'submissions:eic_recommendation' identifier_w_vn_nr=submission.preprint.identifier_w_vn_nr %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Submit Recommendation"/>
      </form>
    </div>
  </div>


{% endblock content %}


{% block footer_script %}
  <script nonce="{{ request.csp_nonce }}">
   $(document).ready(function(){
       $("input[name=tier]").parents('.form-group').hide()
       $('select[name=recommendation]').on('change', function(){
	   var rec = $('select[name=recommendation]').val();
	   switch(rec){
	       case "1":
		   $("input[name=tier]").parents('.form-group').show()
		   break;
	       default:
		   $("input[name=tier]").parents('.form-group').hide()
		   break;
	   }
       }).trigger('change');
   });
  </script>
{% endblock %}
