{% load bootstrap %}
{% load user_groups %}

{# Save all Permission groups into template variables #}
{% is_edcol_admin request.user as is_edcol_admin %}
{% is_scipost_admin request.user as is_scipost_admin %}
{% is_editorial_college request.user as is_editorial_college %}
{% is_advisory_board request.user as is_advisory_board %}
{% is_vetting_editor request.user as is_vetting_editor %}
{% is_ambassador request.user as is_ambassador %}
{% is_junior_ambassador request.user as is_junior_ambassador %}
{% is_registered_contributor request.user as is_registered_contributor %}
{% is_tester request.user as is_tester %}
{% is_production_officer request.user as is_production_officer %}
{% recommend_new_totp_device request.user as recommend_totp %}

<div class="row">
  <div class="col-12">
    <div class="card bg-light">
      <div class="card-body">
        <h2 class="card-title mb-0">Your Account</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Your personal details:</h3>
    {% include "scipost/_private_info_as_table.html" with contributor=contributor %}

    {% if contributor %}
      {# Scientist fields #}
      <h3 class="mt-3">Your main academic field:</h3>
      <ul><li>{{ contributor.profile.acad_field }}</li></ul>

      <h3 class="mt-3">Your specialties:</h3>
      <ul>
	{% for specialty in contributor.profile.specialties.all %}
	  <li>{{ specialty }}</li>
	{% empty %}
          <li>You haven't listed your specialties yet.</li>
	{% endfor %}
      </ul>
      <p>You can add/remove specialties by <a href="{% url 'scipost:update_personal_data' %}">updating your personal data</a>.</p>
    {% endif %}
  </div>

  <div class="col-md-6">
    {% if contributor %}
      {# Scientist fields #}
      {% if not contributor.is_currently_available %}
        <h3 class="text-warning">You are currently unavailable</h3>
        <p>Check your availability underneath if this should not be the case.</p>
        <hr>
      {% endif %}
      {# END: Scientist fields #}
    {% endif %}

    {% if recommend_totp %}
      <div class="border border-danger p-2 mb-3">
        <h3>
          <i class="fa fa-exclamation-triangle text-danger"></i>
          Please increase your account's security</h3>
        <div>
          Your account grants access to sensitive, confidential information.
	  Therefore we strongly recommend to use two factor authentication, which adds
	  an extra layer of protection to your SciPost account.
          <br><br>
          <a href="{% url 'scipost:totp_create' %}">Set up two factor authentication here</a>.
        </div>
      </div>
    {% endif %}

    <div class="border border-danger p-2">
      <h3 class="text-danger">Scientists, please help us out!</h3>
      <p class="mb-1">If it is not listed on our
	<a href="{% url 'sponsors:sponsors' %}" target="_blank">Sponsors page</a>,
	please encourage your institution (through a librarian, director, ...) to join.
	You can use this email <a href="mailto:?subject=Petition to support SciPost&body={% autoescape on %}{% include 'sponsors/sponsor_petition_email.html' %}{% endautoescape %}&cc=sponsors@scipost.org">template</a>.</p>
    </div>
    <hr>

    {% if is_scipost_admin %}
      <h3>You are a SciPost Administrator.</h3>
    {% endif %}

    {% if is_edcol_admin %}
      <h3>You are a SciPost Editorial Administrator.</h3>
    {% endif %}

    {% if is_advisory_board %}
      <h3>You are a member of the Advisory Board.</h3>
    {% endif %}

    {% if is_editorial_college %}
      <h3>You are a member of the Editorial College.</h3>
    {% endif %}

    {% if is_vetting_editor %}
      <h3>You are a SciPost Vetting Editor.</h3>
    {% endif %}

    {% if is_registered_contributor %}
      <h3>You are a Registered Contributor.</h3>
    {% endif %}

    {% if is_tester %}
      <h3>You are a SciPost Tester.</h3>
    {% endif %}

    {% if is_ambassador %}
      <h3>You are a SciPost Ambassador.</h3>
    {% endif %}

    {% if is_junior_ambassador %}
      <h3>You are a SciPost Junior Ambassador.</h3>
    {% endif %}

    {% if is_production_officer %}
      <h3>You are a SciPost Production Officer.</h3>
    {% endif %}

    {% if contributor.fellowships.all %}
      <h3>Your Fellowships:</h3>
      <ul class="mb-2">
        {% for fellowship in contributor.fellowships.all %}
          <li class="pt-1">
            {{ fellowship.contributor.get_discipline_display }}

            {% if fellowship.guest %}
              (Guest Fellowship)
              <br>
              Your Proceedings:
              <ul>
                {% for proc in fellowship.proceedings.all %}
                  <li>{{ proc }}</li>
                {% empty %}
                  <li><em>No proceedings assigned yet.</em></li>
                {% endfor %}
              </ul>
            {% else %}
              (Regular Fellowship)
            {% endif %}

            {% if not fellowship.is_active %}
              <span class="label label-outline-warning label-sm">Inactive</span>
            {% endif %}

            {% if fellowship.start_date or fellowship.until_date %}
              <div class="text-muted">
                {% if fellowship.start_date %}
                  from {{ fellowship.start_date }}
                {% endif %}
                {% if fellowship.until_date %}
                  until {{ fellowship.until_date }}
                {% endif %}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <a href="{% url 'submissions:pool' %}" class="h3 text-primary ml-4 px-3 d-block-inline">Go to the Submissions Pool</a>
    {% endif %}

    <h3 class="mt-3">Update your personal data or password</h3>
    <ul>
      <li><a href="{% url 'scipost:update_personal_data' %}">Update your personal data</a></li>
      <li><a href="{% url 'scipost:password_change' %}">Change your password</a></li>
      <li><a href="{% url 'scipost:totp' %}">Two factor authentication</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Your Affiliations:</h3>
    <ul>
      <li><a href="{% url 'profiles:affiliation_create' profile_id=contributor.profile.id %}">Add a new Affiliation</a></li>
    </ul>
    {% include 'profiles/_affiliations_table.html' with profile=contributor.profile actions=True %}
  </div>
</div>

{% if unavailability_form %}
  <hr>
  <div class="row">
    <div class="col">
      <h2 class="highlight">Your Availability</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mr-md-5">
      <p>To help with the editorial workflow, you can inform us of any periods during which you are unavailable. We will do our best to respect these.</p>
      <h3 class="mb-3">Mark a period as unavailable:</h3>
      <form action="{% url 'scipost:mark_unavailable_period' %}" method="post">
        {% csrf_token %}
        {{ unavailability_form|bootstrap }}
        <input class="btn btn-outline-secondary" type="submit" value="Submit" />
      </form>
    </div>
    <div class="col-md-4 ml-md-5">
      {% if unavailabilities %}
        <h3>Your unavailability periods in our records</h3>
        <p class="text-muted">(YYYY-MM-DD)</p>
        <table class="table">
          <tr>
            <th>Start</th>
            <th colspan="2">End</th>
          </tr>
          {% for unav in unavailabilities %}
            <tr>
              <td>{{ unav.start }}</td>
              <td>{{ unav.end }}</td>
              <td>
                <form action="{% url 'scipost:delete_unavailable_period' unav.id %}" method="post">
                  {% csrf_token %}
                  <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>You don't have any upcoming unavailability periods on record.</p>
      {% endif %}
    </div>
  </div>
{% endif %}
