{% load crispy_forms_tags %}

<div class="row mt-4">
  <div class="d-none d-lg-flex flex-column col-3">
    <h3>All found duplicates</h3>
    <div class="overflow-scroll">

      {% for profile in duplicate_profiles %}
        <li>
          <div class="text-nowrap text-truncate" title="{{ profile }}">
            {{ profile }} (<em>id={{ profile.id }}</em>)
          </div>
        </li>
      {% empty %}
        <em>No duplicates found</em>
      {% endfor %}

    </div>
  </div>

  <div class="col">

    {% if form %}
      {% crispy form %}
    {% endif %}

  </div>
</div>
