{% load bootstrap %}
{% load scipost_extras %}
{% load user_groups %}

{% is_ed_admin request.user as is_ed_admin %}
{% is_scipost_admin request.user as is_scipost_admin %}


<div class="card">
  <div class="card-header">
    Details for profile {{ profile.id }}
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
	<td>Name:</td>
	<td>{{ profile }}</td>
      </tr>
      <tr>
	<td>Affiliations
	  <ul>
	    <li><a href="{% url 'profiles:affiliation_create' profile_id=profile.id %}">Add a new Affiliation</a></li>
	  </ul>
	</td>
	<td>
	  {% include 'profiles/_affiliations_table.html' with profile=profile actions=True %}
	</td>
	<tr>
	  <td>Email(s)</td>
	  <td>
	    <table class="table table-sm">
              <thead>
		<tr>
                  <th colspan="2">Email</th>
                  <th>Still valid</th>
                  <th></th>
		</tr>
              </thead>
    	      {% for profile_mail in profile.emails.all %}
		<tr>
		  <td>{% if profile_mail.primary %}<strong>{% endif %}{{ profile_mail.email }}{% if profile_mail.primary %}</strong>{% endif %}</td>
		  <td>{{ profile_mail.primary|yesno:'Primary,Alternative' }}</td>
		  <td>
		    {% if profile_mail.still_valid %}<span class="text-success">{% include 'bi/check-circle-fill.html' %}</span>{% else %}<span class="text-danger">{% include 'bi/x-circle-fill.html' %}</span>{% endif %}
		  </td>
		  <td class="d-flex">
                    <form method="post" action="{% url 'profiles:toggle_email_status' profile_mail.id %}">{% csrf_token %}<button type="submit" class="btn btn-link py-0">{{ profile_mail.still_valid|yesno:'Deprecate,Mark valid' }}</button></form>
		    <form method="post" action="{% url 'profiles:email_make_primary' profile_mail.id %}">{% csrf_token %}<button type="submit" class="btn btn-link py-0">Make primary</button></form>
		    <a type="button" class="btn py-0" data-bs-toggle="modal" data-bs-target="#confirmDeleteEmailModal-{{ profile_mail.id }}"><span class="text-danger">{% include 'bi/trash-fill.html' %}</span></a>
		    <div class="modal" id="confirmDeleteEmailModal-{{ profile_mail.id }}" tabindex="-1" role="dialog">
		      <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
			    <h4 class="modal-title">Confirm email deletion</h4>
			    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <div class="modal-body">
			    Are you sure you want to delete {{ profile_mail.email }}?
			  </div>
			  <div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			    <form method="post" action="{% url 'profiles:delete_profile_email' profile_mail.id %}">{% csrf_token %}<button type="submit" class="btn btn-danger">Confirm</button></form>
			  </div>
			</div>
		      </div>
		    </div>
		  </td>
		</tr>
    	      {% endfor %}
            </table>
	  </td>
	</tr>
	<tr>
	  <td>Field</td><td>{{ profile.acad_field }}</td>
	</tr>
	<tr>
	  <td>Specialties</td>
	  <td>
	    {% for specialty in profile.specialties.all %}
    	      <div class="single d-inline" data-specialty="{{ specialty }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ specialty }}">{{ specialty.code }}</div>
	    {% endfor %}
	  </td>
	</tr>
	<tr><td>ORCID ID</td><td><a href="//orcid.org/{{ profile.orcid_id }}" target="_blank" rel="noopener">{{ profile.orcid_id }}</a></td></tr>
	<tr><td>Webpage</td><td><a href="{{ profile.webpage }}" target="_blank" rel="noopener">{{ profile.webpage }}</a></td></tr>
	<tr><td>Accepts SciPost emails</td><td>{{ profile.accepts_SciPost_emails }}</td></tr>
	<tr><td>Accepts refereeing requests</td><td>{{ profile.accepts_refereeing_requests }}</td></tr>
	<tr>
	  <td>Contributor</td>
	  <td>
	    {% if profile.contributor %}
	      Yes, id: {{ profile.contributor.pk }}, status: {{ profile.contributor.get_status_display }},
	      user active: {{ profile.contributor.user.is_active }}
	      (<a href="{% url 'scipost:contributor_info' contributor_id=profile.contributor.id %}" target="_blank">info link</a>)
	      {% if is_scipost_admin or is_ed_admin %}
		-- last login: {{ profile.contributor.user.last_login }}
	      {% endif %}
	    {% else %}
	      No
	    {% endif %}
	  </td>
	</tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-4 mb-2">
    <div class="card">
      <div class="card-header">
	Publications
      </div>
      <div class="card-body">
	<ul>
	  {% for pub in profile.publications.all %}
	    <li><a href="{{ pub.get_absolute_url }}">{{ pub.citation }}</a></li>
	  {% empty %}
	    <li>No Publication found</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <div class="card">
      <div class="card-header">
	Submissions (ongoing)
      </div>
      <div class="card-body">
	<ul>
	  {% for sub in profile.contributor.submissions.public_latest.unpublished %}
	    <li><a href="{{ sub.get_absolute_url }}">{{ sub }}</a></li>
	  {% empty %}
	    <li>No ongoing Submission found</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <div class="card">
      <div class="card-header">
	Comments
      </div>
      <div class="card-body">
	{% for comment in profile.comments.all %}
	  <li><a href="{{ comment.get_absolute_url }}">{{ comment }}</a></li>
	{% empty %}
	  <li>No Comment found</li>
	{% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <div class="card">
      <div class="card-header">
	Theses
      </div>
      <div class="card-body">
	{% for thesis in profile.theses.all %}
	  <li><a href="{{ thesis.get_absolute_url }}">{{ thesis }}</a></li>
	{% empty %}
	  <li>No Thesis found</li>
	{% endfor %}
      </div>
    </div>
  </div>
</div>

{% if is_scipost_admin or is_ed_admin %}
  <h4 class="highlight p-2 text-danger">Admin-level info</h4>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-2">
      <div class="card">
	<div class="card-header">
	  Registration invitations
	</div>
	<div class="card-body">
	  <ul>
	    {% for reginv in profile.registrationinvitation_set.all %}
	      <li>{{ reginv }}<br/>status: {{ reginv.get_status_display }}</li>
	    {% empty %}
	      <li>No invitation found</li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
      <div class="card">
	<div class="card-header">
	  Fellowships and Potential Fellowships
	</div>
	<div class="card-body">
	  <h5>Fellowships</h5>
	  <ul>
	    {% for fellowship in profile.contributor.fellowships.all %}
	      <li><a href="{{ fellowship.get_absolute_url }}">{{ fellowship }}</a></li>
	    {% empty %}
	      <li>No fellowships found</li>
	    {% endfor %}
	  </ul>
	  <h5>Potential Fellowships</h5>
	  <ul>
	    {% for potfellowship in profile.potentialfellowship_set.all %}
	      <li>{{ potfellowship }}</li>
	    {% empty %}
	      <li>No Potential Fellowships found</li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
      <div class="card">
	<div class="card-header">
	  Refereeing invitations
	</div>
	<div class="card-body">
	  <ul>
	    {% for inv in profile.refereeinvitation_set.all %}
	      <li>{{ inv.submission.title }}<br/>(invited {{ inv.date_invited }}; fulfilled: {% if inv.fulfilled %}<span class="text-success">{% include 'bi/check-square-fill.html' %}</span>{% else %}{% include 'bi/x-circle-fill.html' %}{% endif %})</li>
	    {% empty %}
	      <li>No refereeing invitation found</li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
      <div class="card">
	<div class="card-header">
	  Actions
	</div>
	<div class="card-body">
	  <ul>
    	    <li><a href="{% url 'profiles:profile_update' pk=profile.id %}">Update</a> this Profile</li>
    	    <li><a href="{% url 'profiles:profile_delete' pk=profile.id %}" class="text-danger">Delete</a> this Profile</li>
            {% if email_form %}
              <li>
		<div>
        	  Add an email to this Profile:
        	  <form class="form-inline" action="{% url 'profiles:add_profile_email' profile_id=profile.id %}" method="post">
        	    {% csrf_token %}
        	    {{ email_form|bootstrap }}
        	    <input class="btn btn-outline-secondary" type="submit" value="Add">
        	  </form>
		</div>
              </li>
            {% endif %}
	  </ul>
	</div>
      </div>
    </div>
  </div>
{% endif %}
