{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Delete {{ affiliation }}</span>
{% endblock %}

{% block pagetitle %}: Delete Affiliation{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Delete Affiliation</h1>
      <table class="table">
	<thead class="table-light">
	  <tr>
	    <th>Organization</th>
	    <th>Category</th>
	    <th>From</th>
	    <th>Until</th>
	    {% if actions %}
	      <td>Actions</td>
	    {% endif %}
	  </tr>
	</thead>
	<tbody>
	  {% include 'profiles/_affiliations_table_row.html' with affiliation=affiliation actions=False %}
	</tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form method="post">
	{% csrf_token %}
	<h3 class="mb-2">Are you sure you want to delete this Affiliation?</h3>
	<input type="submit" class="btn btn-danger" value="Yes, delete it" />
      </form>
    </div>
  </div>

{% endblock content %}
