{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item"><a href="{% url 'profiles:duplicates' %}">Duplicates</a></span>
  <span class="breadcrumb-item">Merge Profiles {{ profile_to_merge.id }} and {{ profile_to_merge_into.id }}</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Profile duplicates: merge{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Merge Profiles {{ profile_to_merge.id }} and {{ profile_to_merge_into.id }}</h1>
      {% if profile_to_merge.has_active_contributor and not profile_to_merge_into.has_active_contributor %}
	<h3 class="text-danger">Warning: the Profile to merge is associated to an active Contributor, while the one to merge into is not</h3>
	<p>Consider <a href="{% url 'profiles:merge' %}?to_merge={{ profile_to_merge_into.id }}&to_merge_into={{ profile_to_merge.id }}" method="get">merging the other way around</a></p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Profile {{ profile_to_merge.id }}</h3>
      {% include 'profiles/_profile_card.html' with profile=profile_to_merge %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Profile {{ profile_to_merge_into.id }}</h3>
      {% include 'profiles/_profile_card.html' with profile=profile_to_merge_into %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Merge:</h3>
      <form method="post">
	{% csrf_token %}
	{{ merge_form|bootstrap }}
	<input class="btn btn-primary" type="submit" value="Confirm merge">
	&nbsp;<a class="text-warning" href="{% url 'profiles:merge' %}?to_merge={{ profile_to_merge_into.id }}&to_merge_into={{ profile_to_merge.id }}" method="get">Merge the other way around</a></p>
      </form>
    </div>
  </div>

{% endblock content %}
