{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Profile duplicates</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}
  : Profile duplicates
{% endblock pagetitle %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="highlight">Potentially duplicate Profiles</h1>

      <div id="merge-form"
           hx-trigger="intersect once"
           {% if to_merge and to_merge_into %}
            hx-get="{% url 'profiles:_hx_profile_merge' to_merge to_merge_into %}"
           {% else %}
            hx-get="{% url 'profiles:_hx_profile_merge' %}"
           {% endif %}
           >
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer_script %}
  {{ merge_form.media }}
{% endblock footer_script %}
