{% extends 'profiles/base.html' %}

{% load scipost_extras %}
{% load crispy_forms_tags %}

{% block breadcrumb_items %}
  {{ block.super }}
  {% if form.instance.id %}
    <span class="breadcrumb-item"><a href="{{ form.instance.get_absolute_url }}">{{ form.instance }}</a></span>
    <span class="breadcrumb-item"><a href="#" class="active">Update</a></span>
  {% else %}
    <span class="breadcrumb-item"><a href="#" class="active">Create {% if from_type %}(from {{ from_type }}){% endif %}</a></span>
  {% endif %}
{% endblock %}

{% block pagetitle %}: Profiles{% endblock pagetitle %}


{% block content %}
<div class="row">
  <div class="col-12">
      <hgroup class="highlight p-3 mb-3">
        <h1>{% if form.instance.id %}Update{% else %}Create {{ form.instance|object_name }}{% endif %} Form</h1>
        {% if form.instance.id %}
          <p class="m-0 fs-4"><a href="{{ form.instance.get_absolute_url }}">{{ form.instance }}</a></p>
        {% endif %}
      </hgroup>

      
      {% if matching_profiles %}
	<h4>Matching profiles found for this {{ from_type }}</h4>
	<ul>
	  {% for matching_profile in matching_profiles %}
	    <li><a href="{{ matching_profile.get_absolute_url }}" target="_blank">{{ matching_profile }}</a> (id {{ matching_profile.id }}, {{ matching_profile.email }})&nbsp;&nbsp;<a href="{% url 'profiles:profile_match' profile_id=matching_profile.id from_type=from_type pk=pk %}">{% include 'bi/arrow-right.html' %} Match this {{ from_type }} to this Profile</a>
	    </li>
	  {% endfor %}
	</ul>
      {% endif %}


      <form class="mt-4" id="profile_edit_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
      </form>
    </div>
  </div>
{% endblock content %}
