{% with unassigned=tickets.unassigned %}
  <ul class="nav nav-tabs" id="ticketsTab{{ marker }}" role="tablist">
    {% if unassigned|length > 0 %}
      <li class="nav-item">
	<a class="nav-link" id="ticketsUnassigned{{ marker }}-tab" data-bs-toggle="tab" href="#ticketsUnassigned{{ marker }}" role="tab" aria-controls="ticketsUnassigned{{ marker }}" aria-selected="true">Unassigned&emsp;<span class="badge badge-danger">{{ unassigned|length }}</span></a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" id="ticketsAwaiting{{ marker }}-tab" data-bs-toggle="tab" href="#ticketsAwaiting{{ marker }}" role="tab" aria-controls="ticketsAwaiting{{ marker }}" aria-selected="true">Awaiting handling&emsp;<span class="badge badge-warning">{{ tickets.awaiting_handling|length }}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="ticketsInHandling{{ marker }}-tab" data-bs-toggle="tab" href="#ticketsInHandling{{ marker }}" role="tab" aria-controls="ticketsInHandling{{ marker }}" aria-selected="false">In handling&emsp;<span class="badge badge-success">{{ tickets.in_handling|length }}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ticketsHandled{{ marker }}-tab" data-bs-toggle="tab" href="#ticketsHandled{{ marker }}" role="tab" aria-controls="ticketsHandled{{ marker }}" aria-selected="false">Handled&emsp;<span class="badge badge-primary">{{ tickets.handled|length }}</span></a>
    </li>
  </ul>
  <div class="tab-content" id="ticketsTabContent{{ marker }}">
    {% if unassigned|length > 0 %}
      <div class="tab-pane" id="ticketsUnassigned{{ marker }}" role="tabpanel">
	{% include 'helpdesk/tickets_table.html' with tickets=tickets.unassigned %}
      </div>
    {% endif %}
    <div class="tab-pane" id="ticketsAwaiting{{ marker }}" role="tabpanel">
      {% include 'helpdesk/tickets_table.html' with tickets=tickets.awaiting_handling %}
    </div>
    <div class="tab-pane show active" id="ticketsInHandling{{ marker }}" role="tabpanel">
      {% include 'helpdesk/tickets_table.html' with tickets=tickets.in_handling %}
    </div>
    <div class="tab-pane" id="ticketsHandled{{ marker }}" role="tabpanel">
      {% include 'helpdesk/tickets_table.html' with tickets=tickets.handled %}
    </div>
  </div>
{% endwith %}
