{% extends 'helpdesk/base.html' %}

{% load bootstrap %}


{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Confirm Followup creation</span>
{% endblock %}

{% block pagetitle %}: Ticket: confirm Followup creation{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h3 class="highlight">Ticket concerned</h3>
      {% include 'helpdesk/ticket_card.html' with ticket=form.initial.ticket %}

      <h3 class="highlight">Your Followup:</h3>
      {% if form.errors %}
	{% for field in form %}
	  {% for error in field.errors %}
	    <div class="alert alert-danger">
	      <strong>{{ field.name }} - {{ error|escape }}</strong>
	    </div>
	  {% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
	  <div class="alert alert-danger">
	    <strong>{{ error|escape }}</strong>
	  </div>
	{% endfor %}
      {% endif %}

      <form action="" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Submit" class="btn btn-primary">
      </form>

    </div>
  </div>

{% endblock content %}
