{% extends 'helpdesk/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Helpdesk</span>
{% endblock %}


{% block pagetitle %}
  : Helpdesk
{% endblock pagetitle %}

{% block content %}

  <div class="row">
    <div class="col-12">

      <h2 class="highlight">Helpdesk</h2>
      <ul>

        {% if perms.helpdesk.add_queue %}
          <li>
            <a href="{% url 'helpdesk:queue_create' %}">Create a new Queue</a>
          </li>
        {% endif %}

        <li>
          <a href="{% url 'helpdesk:ticket_create' %}">Open a new Ticket</a>
        </li>
      </ul>

      {% if managed_queues.all|length > 0 %}
        <h3 class="highlight">Queues you can manage</h3>
        <div class="row p-2">

          {% for queue in managed_queues %}
            <div class="col-md-6 col-lg-4 mb-2">{% include 'helpdesk/queue_card.html' with queue=queue %}</div>
          {% endfor %}

        </div>
      {% endif %}

      {% if visible_queues.all|length > 0 %}
        <h3 class="highlight">Queues you can view</h3>
        <div class="row p-2">

          {% for queue in visible_queues %}
            <div class="col-md-6 col-lg-4 mb-2">{% include 'helpdesk/queue_card.html' with queue=queue %}</div>
          {% endfor %}

        </div>
      {% endif %}

      {% include "helpdesk/_ticket_search_section.html" %}

    </div>
  </div>

{% endblock content %}
