<button class="btn btn-sm btn-link p-0"
        hx-get="{% url 'forums:_hx_post_form' slug=slug parent_model=parent_model parent_id=parent_id text=text %}"
        hx-swap="innerHTML"
        {% if parent_model == 'forum' %}
          hx-target="#new-post-form"
        {% elif parent_model == 'post' %}
          hx-target="#post-{{ parent_id }}-reply"
        {% endif %}
        >
  {% if parent_model == 'forum' %}
    {% include "bi/plus.html" %}
  {% else %}
    {% include "bi/arrow-return-right.html" %}
  {% endif %}
  <small>{{ text }}</small>
</button>
