{% extends 'forums/base.html' %}

{% load bootstrap %}
{% load guardian_tags %}

{% block breadcrumb_items %}
  {{ block.super }}
  <span class="breadcrumb-item">Forum permissions</span>
{% endblock %}

{% load scipost_extras %}

{% block pagetitle %}: Forum permissions{% endblock pagetitle %}


{% block content %}

  <div class="row">
    <div class="col-12">

      <h3 class="highlight">{{ forum.name }}: permissions{% if group %} for Group {{ group.name }}{% endif %}</h3>

      <form action="{% url 'forums:forum_permissions' slug=forum.slug %}" method="post">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" value="Assign permissions" class="btn btn-primary">
      </form>

    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  {{ form.media }}
{% endblock footer_script %}
