{% load automarkup %}
{% load guardian_tags %}

{% get_obj_perms request.user for forum as "forum_user_perms"  %}

<div id="thread-{{ post.id }}">
  <div class="card m-2 {% if post.motion %}text-white bg-dark{% else %}text-body{% endif %}" id="post{{ post.id }}">
    <div class="card-header">
      {{ post.subject }}
      <div class="postInfo">
	{{ post.posted_by.first_name }} {{ post.posted_by.last_name }} on {{ post.posted_on|date:"Y-m-d" }}
	- <a href="{{ post.get_absolute_url }}"><span title="permalink to this Post">{% include 'bi/link.html' %}</span></a>
	{% if post.parent and not post.motion %}
	  - regarding <a href="{{ post.parent.get_absolute_url }}">{{ post.parent }}</a>
	{% endif %}
      </div>
    </div>
    <div class="card-body">
      {% automarkup post.text %}
    </div>
    <div class="card-footer">
      <div class="d-flex flex-wrap justify-content-end align-items-center">
	<div class="flex-grow-1">
	  {% with post.followup_posts.all|length as nr_followup_threads %}
	    {% if nr_followup_threads > 0 %}
	      <span class="badge bg-info rounded-pill text-dark me-2 px-2">{{ nr_followup_threads }} followup thread{{ nr_followup_threads|pluralize }}, {% with nr_followups=post.cf_nr_followups %}{{ nr_followups }} post{{ nr_followups|pluralize }}{% endwith %} in total</span>
	    {% endif %}
	  {% endwith %}
	</div>

	{% if post.motion %}
	  <div id="motion-{{ post.motion.id }}-voting-indicator"
	       class="htmx-indicator p-2"
	  >
	    <button class="btn btn-warning" type="button" disabled>
	      <strong>Loading voting data...</strong>
	      <div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
	    </button>
	  </div>
	  <div id="motion-{{ post.motion.id }}-voting"
	       class="align-self-center px-2"
	       hx-get="{% url 'forums:_hx_motion_voting' slug=forum.slug motion_id=post.motion.id %}"
	       hx-trigger="load"
	       hx-target="#motion-{{ post.motion.id }}-voting"
	       hx-swap="innerHTML"
	       hx-indicator="#motion-{{ post.motion.id }}-voting-indicator"
	  >
	  </div>
	{% endif %}
      </div>
    </div>

    {% with id_str=post.id|stringformat:"s" %}
      {% with thread_str="thread-"|add:id_str %}
	<div id="{{ thread_str|add:'-origin' }}">
	  {% if post.motion %}
	    {% include "forums/_hx_post_form_button.html" with slug=forum.slug parent_model='motion' parent_id=post.id origin=thread_str|add:"-origin" target=thread_str|add:"-new" text="Comment on this Motion" %}
	  {% else %}
	    {% include "forums/_hx_post_form_button.html" with slug=forum.slug parent_model='post' parent_id=post.id origin=thread_str|add:"-origin" target=thread_str|add:"-new" text="Reply" %}
	  {% endif %}
	</div>
      {% endwith %}
    {% endwith %}

    <div class="followupPosts{% if post.motion %}AfterMotion{% endif %}"
    >
      {% if post.followup_posts %}
	{% for followup in post.followup_posts.all %}
	  <div id="thread-{{ followup.id }}"
	       hx-get="{% url 'forums:_hx_thread_from_post' slug=forum.slug post_id=followup.id %}"
	       hx-target="#thread-{{ followup.id }}"
	       hx-swap="outerHTML"
	       hx-trigger="load delay:1s"
	       hx-indicator="#thread-{{ followup.id }}-indicator"
	  >
	    <div id="thread-{{ followup.id }}-indicator"
		 class="htmx-indicator p-2"
	    >
	      <button class="btn btn-warning" type="button" disabled>
		<strong>Loading thread {{ followup.id }}</strong>
		<div class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></div>
	      </button>
	    </div>
	  </div>
	{% endfor %}
      {% endif %}
      <div id="thread-{{ post.id }}-new" style="height: 0px;"></div>
    </div>

  </div>
</div>
