{% extends 'colleges/base.html' %}

{% load staticfiles %}
{% load scipost_extras %}
{% load add_get_parameters %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:colleges' %}" class="breadcrumb-item">Colleges</a>
{% endblock %}

{% block pagetitle %}: Fellowships{% endblock pagetitle %}

{% block content %}

  {% if perms.scipost.can_manage_college_composition %}
    <div class="adminLinks">
      <h3>Links for users with permission <em>scipost.can_manage_college_composition</em>:</h3>
      <ul>
	<li><a href="{% url 'colleges:potential_fellowships' %}">Potential Fellowships</a></li>
	<li><a href="{% url 'colleges:fellowships' %}">Fellowships</a></li>
      </ul>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-5">
      <h2 class="highlight">SciPost's Editorial Colleges</h2>
      <p>
	Below, you will find the composition of each of our Editorial Colleges,
	one of which is formed for each field in which SciPost carries
	out publishing activities.
      </p>
      <p>The Editorial College of a certain field, composed of a collection of Fellows, takes
	end responsibility for editorial matters for all Journals operating in that field.
	For interdisciplinary submissions, the services of Fellows from distinct Colleges can
	be called upon during the evaluation process.
      </p>
    </div>
    <div class="col-lg-7">
      {% include 'submissions/_guidelines_dl.html' %}
    </div>
  </div>

  <div class="accordion" id="accordionEditorialColleges">

    {% for discipline,fellowships in disciplines.items %}
      <div class="card">
	<div class="card-header text-center" id="editorial_college_{{ discipline|lower }}">
	  <h1>
	    {{ discipline }}
	  </h1>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_editorial_college_{{ discipline|lower }}" aria-expanded="false" aria-controls="collapse_editorial_college_{{ discipline|lower }}">
	    <em><small>Click to expand/collapse</small></em>
	  </button>
	</div>

	<div id="collapse_editorial_college_{{ discipline|lower }}" class="collapse" aria-labelledby="editorial_college_{{ discipline|lower }}" data-parent="#accordionEditorialColleges">
	  <div class="card-body">
	    <div class="row">
	      <div class="col-12">
		<button class="btn btn-primary" data-toggle="toggle-show" data-target="#specializations-{{ discipline|lower }}">Select by specialization</button>
		<button class="btn btn-primary" style="display: none;" data-toggle="toggle-show" data-target="#specializations-{{ discipline|lower }}">Show full list of Fellows in {{ discipline }}</button>
		<div id="specializations-{{ discipline|lower }}" class="card bg-white border-default all-specializations mt-2" style="display: none">
		  <div class="card-body">
		    <p><em class="text-muted mt-2">Hover to highlight or click to select</em></p>

		    <div class="row">
		      <div class="col-md-6">
			{% with total_count=fellowships.1|length %}
			  {% for code in fellowships.1 %}
			    <div class="specialization" data-specialization="{{ code.0|lower }}">{{ code.0 }} - {{ code.1 }}</div>
			    {% if forloop.counter|is_modulo_one_half:total_count %}
		      </div>
		      <div class="col-md-6">
			    {% endif %}
			  {% endfor %}
			{% endwith %}
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>

	    <div class="row search-contributors" data-contributors="{{ discipline|lower }}">
	      <div class="col-12">
		<div class="card-columns">
		  {% for fellowship in fellowships.0 %}
		    <div class="card contributor mb-1">
		      {% include 'scipost/_contributor_short.html' with fellowship=fellowship %}
		    </div>
		  {% endfor %}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block footer_script %}
  {{ block.super }}
  <script src="{% static 'colleges/colleges.js' %}"></script>
{% endblock %}
