{% extends 'submissions/admin/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
    {{ block.super }}
    <a href="{% url 'colleges:fellowships' %}" class="breadcrumb-item">Active Fellowships</a>
    <a href="{{ fellowship.get_absolute_url }}" class="breadcrumb-item">Fellowship details</a>
    <span class="breadcrumb-item">Edit Fellowship</span>
{% endblock %}

{% block pagetitle %}: Edit Fellowship{% endblock pagetitle %}

{% block content %}
    <h1>Edit Fellowship</h1>
    <h2 class="text-primary">{{ fellowship }}</h2>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>


{% endblock %}
