{% extends 'submissions/admin/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:submission_voting_fellows' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Submission's Voting Fellows</a>
  <span class="breadcrumb-item">Remove Fellow</span>
{% endblock %}

{% block pagetitle %}: Remove Fellow from Submission's Voting Fellows{% endblock pagetitle %}

{% block content %}
  <h1>Remove Fellow from Submission's Voting Fellows</h1>
  <h2 class="text-primary">Fellowship {{ fellowship }}</h2>

  <h3>Submission details</h3>
  {% include 'submissions/_submission_summary.html' with submission=submission %}
  <br>

  <form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input class="btn btn-danger px-3" type="submit" value="Remove from Submission's Voting Fellows">
  </form>


{% endblock %}
