{% extends 'submissions/admin/base.html' %}

{% load bootstrap %}

{% block breadcrumb_items %}
  {{ block.super }}
  <a href="{% url 'colleges:submission' submission.preprint.identifier_w_vn_nr %}" class="breadcrumb-item">Submission Pool Composition</a>
  <span class="breadcrumb-item">Add Fellowship</span>
{% endblock %}

{% block pagetitle %}: Add Fellowship{% endblock pagetitle %}

{% block content %}
  <h1>Add Fellowship to Submission's Pool</h1>
  <h2 class="text-primary">{{ submission.title }}</h2>
  <h3 class="mb-3">by {{ submission.author_list }}</h3>
  {% include 'submissions/_submission_summary.html' with submission=submission hide_title=1 show_abstract=1 %}
  <br>

  <h3>Choose one of the following (active) Fellowships to add to the Pool:</h3>
  {% include 'colleges/_conflicts_of_interest.html' with submission=submission %}
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input class="btn btn-primary" type="submit" value="Add Fellowship">
  </form>


{% endblock %}
