{% load static %}

{% if conflicts %}
  {{ conflicts|length }} (potential) conflict{{ conflicts|length|pluralize }} found:
  <ul class="fa-ul mt-2">
    {% for conflict in conflicts %}
      <li class="my-1" id="conflict-{{ conflict.id }}">
        <div class="actions status font-weight-bold">
          {% if conflict.status == 'unverified' %}
            <i class="fa-li fa fa-question-circle text-warning" aria-hidden="true"></i>
            Please
            <button type="button" class="btn btn-link p-0 update-conflict-button" data-conflict-id="{{ conflict.id }}" data-status="verified" data-urllink="{% url 'api:conflictofinterest-verify_conflict' conflict.id %}">confirm</button>
            or
            <button type="button" class="btn btn-link p-0 text-danger update-conflict-button" data-conflict-id="{{ conflict.id }}" data-status="delete" data-urllink="{% url 'api:conflictofinterest-verify_conflict' conflict.id %}">delete</button>
            this conflict.
          {% elif conflict.status == 'verified' %}
            <i class="fa-li fa fa-check-circle text-success" aria-hidden="true"></i>
            <strong>Verified by Admin</strong>
          {% endif %}
        </div>

        {{ conflict.get_type_display }}:
        {% if conflict.url %}
          <a href="{{ conflict.url }}" target="_blank">{{ conflict.header }}</a>
        {% else %}
          {{ conflict.header }}
        {% endif %}
        <br>
        Profiles: {{ conflict.profile }} - {{ conflict.related_profile }}

        {% if conflict.comment %}
          <br>
          <em>{{ conflict.comment|linebreaksbr }}</em>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <em><i class="fa fa-check text-success" aria-hidden="true"></i> No conflicts found</em>
{% endif %}


{% block footer_script %}
  <script src="{% static 'scipost/update-conflict.js' %}"></script>
{% endblock %}
