{% load staticfiles %}

<div style="color: #333333; background-color: #eeeeee; text-align: center; margin: 0em; padding: 0rem;">
  <div style="background-color: #002b49; display: inline-block; margin: 1rem; text-align: center; vertical-align: middle;">
    <ul style="font-size: 90%; list-style: none; padding: 0rem;">
      <li>
	<a href="https://scipost.org/">
	<img src="https://scipost.org/static/scipost/images/logo_scipost_RGB_HTML.png" style="background-color: #002b49; padding: 1rem;" width="128rem">
	</a>
      </li>
      <li><a style="color: #eeeeee;" href="https://scipost.org/">Homepage</a></li>
      <li><a style="color: #eeeeee;" href="https://scipost.org/journals/">Journals</a></li>
      <li><a style="color: #eeeeee;" href="https://scipost.org/submissions/">Submissions</a></li>
      <li><a style="color: #eeeeee;" href="https://scipost.org/login/">Login</a></li>
    </ul>
  </div>
  <div style="display: inline-block; margin: 1rem; vertical-align: middle;">
    <p style="margin-bottom: 0rem;">
      <strong>SciPost Foundation</strong><br/>
      Institute of Physics<br/>
      University of Amsterdam<br/>
      Postbus 94485<br/>
      1090 GL Amsterdam<br/>
      The Netherlands<br/>
      +31 (0)20 525 5775<br/>
      <a href="mailto:admin@scipost.org">admin@scipost.org</a>
    </p>
  </div>
</div>
