{% load staticfiles %}

<a href="https://scipost.org"><img src="//scipost.org/static/scipost/images/logo_scipost_with_bgd_small.png" width="64px"></a>
<br/>
<div style="background-color: #f0f0f0; color: #002B49; align-items: center;">
    <div style="display: inline-block; padding: 8px;">
        <a href="https://scipost.org{% url 'journals:journals' %}">Journals</a>
    </div>
    <div style="display: inline-block; padding: 8px;">
        <a href="https://scipost.org{% url 'submissions:submissions' %}">Submissions</a>
    </div>
    <div style="display: inline-block; padding: 8px;">
        <a href="https://scipost.org{% url 'commentaries:commentaries' %}">Commentaries</a>
    </div>
    <div style="display: inline-block; padding: 8px;">
        <a href="https://scipost.org{% url 'theses:theses' %}">Theses</a>
    </div>
    <div style="display: inline-block; padding: 8px;">
        <a href="https://scipost.org{% url 'scipost:login' %}">Login</a>
    </div>
</div>
