{% load staticfiles %}

<div style="display: flex; flex-flow: row-wrap; color: #333333; background-color: #eeeeee; font-size: 75%; justify-content: space-around; width: 100%;">
  <div style="background-color: #002b49; margin: 1rem; text-align: center; vertical-align: middle;">
    <a href="https://scipost.org/">
      <img src="{% static 'scipost/images/logo_scipost_RGB_HTML.png' %}" style="background-color: #002b49; margin: 1rem; padding: 0rem; vertical-align: middle;" width="128rem">
    </a>
  </div>
  <div style="margin: 1rem; text-align: center; vertical-align: middle;">
    <ul style="list-style: none; margin-bottom: 0rem; padding: 0rem; vertical-align: middle;">
      <li><strong>SciPost Foundation</strong></li>
      <li>Institute of Physics, University of Amsterdam</li>
      <li>Postbus 94485, 1090 GL Amsterdam</li>
      <li>The Netherlands</li>
      <li>+31 (0)20 525 5775&emsp;<a href="mailto:admin@scipost.org">admin@scipost.org</a></li>
    </ul>
  </div>
</div>
