Dear {{ contact.get_title_display }} {{ contact.last_name }}, \n\n

{% if message %}{{ message }}{% endif %}

{% if include_SPB_summary %}
You might by now have heard of SciPost, a recently-launched initiative aiming to bring disruptive change to current academic publishing practices.
\n\nIn summary, SciPost is a publication portal managed by professional scientists, offering (among others) high-quality Open Access journals with innovative forms of refereeing, and a means of commenting on all existing literature. SciPost is established as a not-for-profit foundation devoted to serving the interests of the international scientific community.
\n\nThe site is anchored at https://scipost.org. Many further details about SciPost, its principles, ideals and implementation can be found at https://scipost.org/about and https://scipost.org/FAQ.

\n\nCrucially, as explained on our Partners page at https://scipost.org/partners, SciPost follows a completely different funding model than traditional publishers, and provides a cost-slashing alternative to existing platforms. SciPost charges neither subscription fees, nor article processing charges; its activities are instead to be collectively financed through a Supporting Partners Board, formed by a worldwide consortium of institutions and organizations which directly or indirectly benefit from SciPost’s activities.

\n\nSupport takes the form of a small financial commitment, collectively pooled to enable SciPost to perform all its publication-related activities, maintain its online portal and implement its long-term development plan.

\n\nIn the agreement template, which you can find online at https://scipost.org/static/scipost/SPB/SciPost_Supporting_Partner_Agreement.pdf, you will find many more specific details about our operations, requirements and funding strategy. I would greatly appreciate if you took a few minutes to read through this document.

\n\nIt would be a privilege to welcome you as members of our Supporting Partners Board. I am hereby contacting you to enquire whether your institution would consider joining. Your support at this time is crucially required to make our initiative sustainable, and to help make it possible for the community to reap all the benefits deriving form its viable implementation.

\n\nI will be happy to provide any required further details. I sincerely hope that SciPost will be able to count on your support.

\n\nOn behalf of the SciPost Foundation,
\nProf. dr Jean-Sébastien Caux
\nhttp://jscaux.org
\n---------------------------------------------
\nInstitute for Theoretial Physics\nUniversity of Amsterdam
\nScience Park 904\n1098 XH Amsterdam\nThe Netherlands
\n---------------------------------------------
\ntel.: +31 (0)20 5255775\nfax: +31 (0)20 5255778
\n---------------------------------------------

{% endif %}
