<p>Dear {{ report.author.get_title_display }} {{ report.author.user.last_name }},</p>

<p>
  Your Report on Submission:
</p>
<p>
  {{ report.submission.title }}
  <br/>
  by {{ report.submission.author_list }}
  {% if publication_citation %}
  <br/>
  (published as {{ publication_citation }}, <a href="https://doi.org/{{ publication_doi }}">doi:{{ publication_doi }}</a>)
  {% endif %}
</p>
<p>
  has been ascribed DOI <a href="https://doi.org/{{ report.doi_string }}">{{ report.doi_string }}</a> (https://doi.org/{{ report.doi_string }}), and is thus now citable in the form:
</p>
<p>
  {{ report.citation }}.
</p>
<p>
  We thank you again very much for your contribution.<br/>
  The SciPost Team
</p>

{% include 'email/_footer.html' %}
