Dear {{report.submission.editor_in_charge.get_title_display}} {{report.submission.editor_in_charge.user.last_name}},\n\n

Referee {{report.author.get_title_display}} {{report.author.user.last_name}} has delivered a Report for Submission "{{report.submission.title}} by {{report.submission.author_list}}".
\n\n

Please vet this Report via your personal page under the Editorial Actions tab.\n
https://scipost.org{% url 'scipost:personal_page' %}
\n\n\n

Many thanks in advance for your collaboration,\n
The SciPost Team.
