<h3>Dear {{report.submission.editor_in_charge.get_title_display}} {{report.submission.editor_in_charge.user.last_name}},</h3>

<p>
    Referee {{report.author.get_title_display}} {{report.author.user.last_name}} has delivered a Report for Submission "<span style="color: grey;">{{report.submission.title}} by {{report.submission.author_list}}</span>".
</p>
<p>
    Please vet this Report via your <a href="{{request.get_host}}{% url 'scipost:personal_page' %}">personal page</a> under the Editorial Actions tab.
</p>
<p>
    Many thanks in advance for your collaboration,
    The SciPost Team.
</p>

{% include 'email/_footer.html' %}
