<p>Dear {{ object.submitted_by.profile.get_title_display }} {{ object.submitted_by.user.last_name }},</p>
<p>Your recent Submission to SciPost,</p>
<p>{{ object.title }}</p>
<p>by {{ object.author_list }}</p>
<p>
    has unfortunately not passed the pre-screening stage.
    We therefore regret to inform you that we will not
    process your paper further towards publication, and that you
    are now free to send your manuscript to an alternative journal.
</p>


<p>We nonetheless thank you very much for your contribution.</p>
<p>Sincerely,</p>
<p>The SciPost Team.</p>

{% include 'email/_footer.html' %}

{% include 'email/_submission_thread_uuid.html' with submission=object %}
