{% load bootstrap %}
{% load guardian_tags %}

{% get_obj_perms request.user for stream as "sub_perms" %}

<div class="card-body py-0" id="stream_{{stream.id}}">
    {% include 'submissions/_submission_card_content_sparse.html' with submission=stream.submission %}
</div>
<div class="card-body">
      <h3>Stream details</h3>
      <ul>
          <li>Status: <span class="label label-secondary label-sm">{{ stream.get_status_display }}</span></li>
          {% block officers %}
              <li>Production Supervisor:
                    {% if stream.supervisor %}
                        <strong>{{ stream.supervisor }}</strong>
                    {% else %}
                        <em>No Supervisor assigned.</em>
                    {% endif %}
              </li>
              <li>Production Officer:
                    {% if stream.officer %}
                        <strong>{{ stream.officer }}</strong>
                    {% else %}
                        <em>No Officer assigned.</em>
                    {% endif %}
              </li>
              <li>Invitations Officer:
                    {% if stream.invitations_officer %}
                        <strong>{{ stream.invitations_officer }}</strong>
                    {% else %}
                        <em>No Invitations Officer assigned.</em>
                    {% endif %}
              </li>
          {% endblock %}
      </ul>

      {% block actions %}
          <h3>Events</h3>
          {% include 'production/partials/production_events.html' with events=stream.events.all non_editable=1 %}

          <h3>Work Log</h3>
          {% include 'partials/finances/logs.html' with logs=stream.work_logs.all %}
      {% endblock %}

    {% if "can_work_for_stream" in sub_perms %}
      <h3>Proofs</h3>
      <ul>
          {% for proof in stream.proofs.all %}
              <li class="py-1">
                  <a href="{% url 'production:proof' stream_id=stream.id version=proof.version %}">Version {{ proof.version }}</a><br>
                  Uploaded by {{ proof.uploaded_by.user.first_name }} {{ proof.uploaded_by.user.last_name }}<br>
                  Accessible for authors: <strong>{{ proof.accessible_for_authors|yesno:'Yes,No' }}</strong><br>
                  <span class="label label-secondary label-sm">{{ proof.get_status_display }}</span>
              </li>
          {% empty %}
              <li>No Proofs found.</li>
          {% endfor %}
      </ul>
    {% endif %}
</div>
