Dear {{ contact.get_title_display }} {{ contact.last_name }},

We recently contacted you concerning SciPost, and to probe your interest in joining its Supporting Partners Board. With this follow-up email, I would simply like to check whether you got the original message.

SciPost (https://scipost.org) is a next-generation publication portal aiming to transform the business of scientific publishing. You can find a one-page summary in our online prospectus (https://scipost.org/static/scipost/SPB/SciPost_Supporting_Partners_Board_Prospectus.pdf) outlining the reasons why joining would be beneficial for your institution.

I will be happy to provide any required further details. If you are interested, you can simply get in touch via this address (partners@scipost.org). I sincerely hope that SciPost will be able to count on your support.

If you not the right representative to get in touch with, could you please forward this to the right person, or let us know?

Many thanks in advance,

On behalf of the SciPost Foundation,
Prof. dr Jean-Sébastien Caux
J.S.Caux@uva.nl

{% include 'email/_footer.html' %}
